[2019-09-06 11:10] fabiendem commented on #970
Hey, it looks like "In-app update through public distribution groups [#182]" was in the August roadmap but couldn't get completed. https://github.com/microsoft/appcenter/issues/792

It's not part of the September roadmap at the moment.
Could you just clarify what to expect from such items not completed yet and dropped from the future roadmaps?

Thanks!

[2019-09-06 15:11] parapaul opened #992 "Win32 (native C++ windows app) diagnostics support"
At the moment our game uses hockeyapp for crash reporting. We have UWP and win32 (Steam) versions of the game. Both use hockeyapp REST API method "Post Custom Crashes" (https://support.hockeyapp.net/kb/api/api-crashes#post-custom-crashes) to upload crash info.

Crashes from both versions are not forwarded to appcenter. For UWP app everything is clear - we need to integrate appcenter SDK. What abou

[2019-09-06 15:18] randomaspirer commented on #955
We use app center to distribute builds to our collaborators it would be nice if they can have option to install .aab file instead of .apk as we want app center to be replicate our google playstore builds which uses android app bundles.

[2019-09-06 16:14] chrisaswain commented on #711
We would like to be able to upload zipped UWP packages.  HockeyApp currently allows this and it is part of our existing flow.

[2019-09-06 16:37] alexcnichols opened #993 "Research for compute backend-as-a-service from App Center"
With App Center, our aim is to make the development of your app 10x easier. Beyond the services that exist in App Center to enable DevOps capabilities we’ve also introduced services such as [Push](https://docs.microsoft.com/en-us/appcenter/push/), [Auth](https://docs.microsoft.com/en-us/appcenter/auth/), and [Data](https://docs.microsoft.com/en-us/appcenter/data/) to help you more easily add capab

[2019-09-06 17:05] botatoes commented on #615
Hi there, we have investigated this issue and found that while the user experience for this is terrible, not installing the profile will not block you from any App Center flows. App Center will register your UDID when you hit install the first time.

We are changing the tester experience and getting rid of the install portal. This issue should be resolved with that effort. [#970]

[2019-09-06 17:07] botatoes commented on #866
Hi there, we have investigated this issue and found that while the user experience for this is terrible, not installing the profile will not block you from any App Center flows. We have investigated the cases in this issue in private support tickets and found them to not be related.

Please open up a support ticket on intercom in App Center if you experience this and we will investigate your speci

[2019-09-06 17:09] nrajpurkar commented on #970
Hey @fabiendem, the issue has been pulled into this month's iteration plan. We haven't finished finalizing this yet.

[2019-09-06 17:25] alexcnichols commented on #400
Hi @Behrad-iz and @fileman -- Beyond the improvements to Data itself that @Zakeelm has planned, we're also starting research around adding compute backend functionality to App Center more generally. If you're willing to chat more, head over to #993 for more information.

[2019-09-06 17:37] alexcnichols commented on #354
Did this get resolved? One thing I've found is that if the process template being used by the project in Azure DevOps doesn't have the Bug work item type, it can have this symptom.

[2019-09-06 17:40] fabiendem commented on #182
It looks like there is some confusion around this issue.

As per this discussion https://github.com/MicrosoftDocs/appcenter-docs/issues/361#issuecomment-439923926 AppCenter allows to distribute your app via a public link without any login required from the user.
I have tried this on my side and it works. I could update the app from AppCenter without a single login step client side.

The problem so

[2019-09-06 17:45] dfoulk commented on #182
Thanks for the info! We will have to give Distribute another try :) Thanks

[2019-09-06 17:48] dwasyluk commented on #866
Easier to just use TestFlight than to put users through these hoops and terrible UX.

[2019-09-06 19:20] kvpt commented on #182
If you download the application by the url from the final device browser, it set a cookie and when you launch the application the browser have the cookie and can auto login you.
But for exemple, if you download the application with the link on your computer and install it on your phone, when the application launch, the browser will request to login, because the cookie as not been set. So the issue

[2019-09-06 19:31] codecaffeine commented on #536
I’m actually running into the exact same issue

[2019-09-06 19:37] amchew opened #994 "Enable developers to connect their Active Azure Directory to Auth"
We continue to expand Auth's identity management provider offerings. Last month we started work on [enabling developers to connect their Firebase and Auth0 tenants](https://github.com/microsoft/appcenter/issues/637), and this month we'll be focusing on the work to enable developers to connect their Azure Active Directory (AAD) tenants. We've heard the feedback from our enterprise users that connec

[2019-09-06 20:47] gerfen commented on #980
I too am interested in being able to connect to Azure SQL databases.

[2019-09-06 21:01] fvillelaa opened #995 "Code Coverage for Espresso tests"
It would be create to get code coverage from Espresso tests running on AppCenter.

This is an important metric to our project, for this reason, we are running the Espresso tests on Android emulator instead of running on AppCenter.

[2019-09-06 21:02] evorotnikov opened #996 "AppStore Connect two factor auth with trusted phone number is not possible"
As part of distribution of iOs build there is a possibility to deploy it directly to AppStore/TestFlight vis store connection.

Currently while creating new connection for AppStore Connect i can't use trusted phone number and i don't have ios device with linked Apple Id, so there are no way to create a store connection.

It will be great to be able use trusted phone number and got two factor auth

[2019-09-06 21:13] myokeeh opened #997 "Timestamp Timezone changed?"
Was there a recent change regarding **Timestamp** and/or **TimeZoneOffset** values logged/exported to **logs.v1.data**?

I've been using PowerBI to analyze the data and just now noticed that the time seems off.

[2019-09-06 21:44] DennisPan commented on #501
@zek I've responded to you on the support conversation, but haven't received a response. Whenever you are ready, please reach out there then we will take a look.

[2019-09-06 22:05] elamalani commented on #980
@gerfen Thanks for your interest. Can you please send me a mail at emalani at microsoft dot com and I'll set up some time accordingly?

[2019-09-06 22:06] blparr commented on #997
Hello @myokeeh, let me check back with the team to see if there was any change that might have caused that.

We'll get back to you as soon as we have updates.

Thank you!

[2019-09-06 22:08] blparr commented on #996
Hi @evorotnikov - thanks for your feedback! We'll take that into consideration for future prioritization.

[2019-09-06 22:09] blparr commented on #995
Hello @fvillelaa! Thanks for your feature request. We will be taking your request into consideration for future prioritization.

[2019-09-06 22:10] blparr commented on #991
Thanks so much for reporting this issue! We will create an item in our board and get to it as soon as we can!

[2019-09-06 22:15] blparr commented on #988
Hello! If I understood correctly, the issue you are responding is happening in HockeyApp?
In any case, we will be reproducing this shortly.

Thanks!

[2019-09-06 22:17] botatoes commented on #990
Hi there,
We do support distribution for Cordova apps. You can try it out in appcenter.ms. You do not need the App Center SDK to use distribution.

You can try it out by creating a new Cordova app in app center and going to the distribute service.

[2019-09-06 22:17] #981 closed

[2019-09-06 22:28] winnieli1208 commented on #388
Hi all,

The App Center team is exploring other backend services to bring to App Center. We would love to hear directly from you to help us shape these ideas. If you're interested in chatting with us, you can find a time [here](https://outlook.office365.com/owa/calendar/VisualStudioAppCenter2@microsoft.onmicrosoft.com/bookings/). Thanks!

[2019-09-06 22:33] winnieli1208 commented on #992
@parapaul thanks for the feature request. App Center doesn't support Win32 at the moment but the custom crashes API is on the iteration plan this month. We expect to have this complete in the upcoming weeks. I'll post here with updates!

(For reference: https://github.com/microsoft/appcenter/issues/31)

[2019-09-06 22:41] winnieli1208 commented on #987
Hi @zhichien thanks for submitting an issue. Are you looking for a way to upload a release to App Center? How is your Windows app packaged?

Thanks!

[2019-09-06 22:57] YiMysty commented on #997
Hi @myokeeh we do not have changes to our export service recently. When did you notice this change? thanks!

[2019-09-06 23:22] winnieli1 commented on #354
I just checked the support thread and it looks like removing System.Tags from payload fixed this issue. @samuelbigos closing this issue for now. Thanks!

[2019-09-06 23:22] #354 closed

[2019-09-06 23:36] Inrego commented on #165
It's really a pain to fix crashes, when we don't have line numbers..

[2019-09-06 23:55] hiraldesai commented on #810
I think it went one step further, however I don't know if the error is related to the file size or something else about my build configuration. It is throwing a timeout error of some sort as per the screenshot below.

![image](https://user-images.githubusercontent.com/1005174/64466459-0e63c680-d0c7-11e9-9609-98e4273a108d.png)

![image](https://user-images.githubusercontent.com/1005174/64466466-19b

[2019-09-07 06:48] masatoru commented on #970
What does it mean that the task of your own identity management provider is complete? When can I use this feature?

[2019-09-07 12:00] DominicBoettger commented on #89
Please support Cordova apps in AppCenter tests.

[2019-09-07 13:10] craig95 commented on #453
@Oddj0b Do you have any update on this? We would like to use Appium with Webdriver.io. We are using React Native so it would be nice if we could also write our tests in JS.

[2019-09-07 14:50] ringleader3 commented on #711
our current UWP workflow on hockeyapp involves uploading a ZIP of all the artifacts of a app store build, so that QA can get the dependencies and other important files.  I hope that this functionality is preserved in app center by allowing uploads of zip files, and creation of 'app version' via the browser UI

[2019-09-07 15:22] PureWeen commented on #893
Looks like the crash was caused by by this https://github.com/mono/mono/issues/9314

We set our GC BRIDGE to new from Tarjan and everything works now

Thank you @john7doe for looking into this!!

[2019-09-07 15:22] #893 closed

[2019-09-07 21:09] dun3 commented on #990
thank you for your answer. just to clarify though - your approach does not update the app though, right? so, yes an initial install will work, but no updates will be delivered? this is not good. we need updates delivered to installed instances.

[2019-09-08 02:28] markdiener opened #998 "HockeyApp SDK missing in App Center"
How to use App Center API to create a new app?

Where is the equivalent API in App Center for the Hockeyapp?

curl \
  -F "status=2" \
  -F "notify=1" \
  -F "notes=Some new features and fixed bugs." \
  -F "notes_type=0" \
  -F "ipa=@hockeyapp.ipa" \
  -F "dsym=@hockeyapp.dSYM.zip" \
  -H "X-HockeyAppToken: 4567abcd8901ef234567abcd8901ef23" \
  https://rink.hockeyapp.net/api/2/apps/upload

The ap

[2019-09-08 08:40] derpixeldan commented on #998
@markdiener the title of the ticket doesn't align with the content. For apps that got moved you can still use the [HockeyApp API](https://docs.microsoft.com/en-us/appcenter/transition/api). The App Center API is documented [here](https://docs.microsoft.com/en-us/appcenter/distribution/uploading#uploading-using-the-apis). Let me know if that was what you're looking for.

[2019-09-08 11:37] tewner commented on #543
Hi!
Any ETA on a fix for this?

[2019-09-09 02:56] sebastianmalcolm commented on #262
👍 for adding Detox support into App Center's Test service. The build script example at https://github.com/microsoft/appcenter/blob/master/sample-build-scripts/react-native/detox/appcenter-post-build.sh Microsoft's unofficial support for using Detox.

Detox can run on App Center by referring to this simple React Native app example, that I updated 6 months ago to build using Detox 9.1.2 & Xcode 10.1

[2019-09-09 03:53] masatoru commented on #970
I received an email replying to this question. Thanks.
https://docs.microsoft.com/en-us/appcenter/distribution/groups#adding-azure-active-directory-aad-groups-to-a-distribution-group

[2019-09-09 07:24] zhichien commented on #987
Hi @winnieli1 yes you right. I have several software teams in the company and they do not want to share their codes outside the team. And they do not want to use App Center (yet). But we need a method to manage the release to end user. They build the installer (.exe) from WinForm/WPF projects and send me. I would like to use App Center to manage all the releases. Will I be able to upload and relea

[2019-09-09 07:26] #690 closed

[2019-09-09 08:29] tbialecki commented on #182
Currently we have apps distributed via Hockeyapp( in app update works), After upgrading app from version distributed via Hockeyapp onto version after migration to Appcenter, it requires user login.
Appcenter promisses smooth transition from Hockeyapp to Appcenter - this bug breaks our distribution process.

[2019-09-09 09:12] tientruongvan1995 commented on #973
thanks for notice, but this case is for React Native, I wonder if it works with another platform, so I think I cannot make a PR for it

[2019-09-09 09:13] tientruongvan1995 commented on #973
thanks for notice, but this case is for React Native, I wonder if it works with another platform, so I think I cannot make a PR for it, I need some like/agreement to do that

[2019-09-09 09:42] muneneevans commented on #703
Hello
Same problem here. I understand that the keystores have to be secured but is there a way, even if it's a support ticket to get the file and use our accounts as proof of authenticity

[2019-09-09 11:14] elgato-tschnitzler commented on #902
Definitely a quite important feature I'd really like to see getting added to App Center very soon.

[2019-09-09 11:19] Oddj0b commented on #909
@jvandenaardweg Thank you for the feature request, this is good feedback and I hope we get some traction on it so we can implement it.

[2019-09-09 11:28] Oddj0b commented on #860
Sorry @SOliasS, this has fallen through the cracks I believe @amchew can help you out.

[2019-09-09 11:45] Oddj0b commented on #776
@falkospaeh  We are building test reports as the devices finish their run whether the failed or passed doesn't matter. But it sounds like you're not seeing that at all. Is that correct or am I misunderstanding you?

[2019-09-09 11:48] Oddj0b commented on #741
@GokulVijayan This sounds promising, would you prefer to get the file through API, CLI or something third?

[2019-09-09 11:51] Oddj0b commented on #903
Depending on your app we have unit testing available in build, here is an example of how to configure XCTest for iOS apps: https://docs.microsoft.com/en-gb/appcenter/build/ios/first-build#35-tests

[2019-09-09 11:59] Oddj0b commented on #327
Thank you for your interest in Xamarin.UITest. We are actively investigating the possibilities to open-source the framework, but at the same time drive the project forward. Until we find the correct constellation where we can work with the community to create a better project, we will not be changing anything to Xamarin.UITest.

[2019-09-09 12:07] markdiener commented on #998
Can I use the HockeyAPP API with app center?

Where do I get a Hockey APP token?

If not, how do I create a new app with the new App Center Api?
(Send me the URL- We want the Hockeyapp equivalent)

Thanks,

md

[2019-09-09 12:14] Oddj0b commented on #390
Hi @cmautosanity,

I will be closing this feature request after doing investigations with the engineering team we found it extremely hard to implement due to the limitations fo Apples re-signing system. I refer to my previous comment about mocking the push notification and focus on testing the UI with App Center Test.

[2019-09-09 12:14] #390 closed

[2019-09-09 12:18] Oddj0b commented on #56
@galsc I would like to understand what is the blocker for you to run Cordova apps in App Center Test?

[2019-09-09 12:20] Oddj0b commented on #284
We've investigated this with the engineers and are displaying the message we're getting from Googles API. At this point we can't do anything about it.

[2019-09-09 12:20] #284 closed

[2019-09-09 12:22] Oddj0b commented on #452
I'm not sure I understand, are you trying to test App Center or your mobile app?

[2019-09-09 12:24] #357 closed

[2019-09-09 12:25] Oddj0b commented on #357
This should have been merged and fixed by now, if not please re-open and ping me.

[2019-09-09 12:25] Oddj0b commented on #812
@rmarinho did you get help?

[2019-09-09 12:27] Oddj0b commented on #774
@anton-kolesnyk Did you manage to find a solution or should we have a call?

[2019-09-09 12:28] Oddj0b commented on #283
@sejr-lotutovici Did you get help?

[2019-09-09 12:31] Oddj0b commented on #731
Hello everybody,

We're actively looking into options here.

Sorry for the slow response.

[2019-09-09 12:37] Oddj0b commented on #753
@ciaranmccaughey did you get help through our support channel?

[2019-09-09 12:42] anton-kolesnyk commented on #774
@Oddj0b yes I've utilized Asure DevOps. It takes more time for configuration but I can build whatever I want there :)
It would be great to have .app packeges distribution on AppCenter, to have iPhone and Simulator builds in one place. but that is not stopper for me right now.

[2019-09-09 12:43] Oddj0b commented on #935
I have commented on making Xamarin.UITest open source here: #327
TL.DR: We're trying to find a setup that works for everybody.

[2019-09-09 12:44] Oddj0b commented on #935
To answer your question I would contact our support in App Center and they will escalate if it is an issue.

[2019-09-09 12:45] Oddj0b commented on #829
We have a fix available in the latest dev release of Xamarin.UITest, you can get it through your Nuget channels.

[2019-09-09 12:48] Oddj0b commented on #377
Are you still experiencing this with the latest `dev`release of Xamarin.UITest?

[2019-09-09 12:50] Oddj0b commented on #996
@evorotnikov Are you talking about support for 2-step verification instead of 2-factor authentication?

[2019-09-09 12:52] Oddj0b commented on #995
hi @fvillelaa,
Thank you for your request, it's a good idea and I can see it being useful to expose code coverage. I have some questions:
1. Where do you track the metric?
2. How would you like to access the metric?

[2019-09-09 13:45] adibendahan commented on #140
+1

This is use case is a must in a development team... Waiting for updates.

[2019-09-09 13:49] derpixeldan commented on #998
@markdiener the current App Center upload procedure is what I mentioned [above](https://docs.microsoft.com/en-us/appcenter/distribution/uploading#uploading-using-the-apis). We're investigating to use a similar HockeyApp upload API design on App Center.

[2019-09-09 14:20] rgonzalezVW opened #999 "Add Unity-Windows to your list of supported platforms"
Since you recently added WinForms and WPF, and you already have Unity as platform, it would be great to also have Unity3D available for Windows builds.

[2019-09-09 14:21] jwargo commented on #553
@swigrid OK, thanks for that feedback, that makes sense. I'll track this and see what other customers have to say about this one as well.

[2019-09-09 14:22] jwargo commented on #553
@swigrid would you be willing to have an email or voice conversation to talk about your push needs beyond this feature? I don't see your email associated with this profile, mine is, so you can email me directly.

[2019-09-09 14:34] markdiener commented on #998
That is totally not helpful.

So how do you create a NEW app with the AppCenter Upload.

Basically, how do you create a new {app_name} ?

Yes, I am trying to use: https://docs.microsoft.com/en-us/appcenter/distribution/uploading#uploading-using-the-apis

Cheers,

Mark

[2019-09-09 14:40] cocowalla commented on #479
Having the same issue on Xamarin.UITest 3.0.3, on Windows 7 if it makes any difference

[2019-09-09 15:04] derpixeldan commented on #998
@markdiener the whole App Center API is documented [here](https://openapi.appcenter.ms) and you can create an app via [API as well](https://openapi.appcenter.ms/#/account/apps_createForOrg). You cannot use the HockeyApp API with App Center, only what's documented [here](https://docs.microsoft.com/en-us/appcenter/transition/api).

[2019-09-09 15:26] markdiener commented on #998
Ok, that is what I was looking for.  Thank you.

https://openapi.appcenter.ms/#/account/apps_createForOrg

[2019-09-09 15:42] #998 closed

[2019-09-09 16:55] jonathanpeppers commented on #194
Everyone can follow the issue with resx here: https://github.com/xamarin/xamarin-android/issues/3596

The issue is that the localization assemblies are compressed, and .NET assemblies must be uncompressed in Xamarin.Android:
[code]
I should have a fix shortly.

[2019-09-09 17:05] ahanag22 commented on #849
Can you send over your full version information from the IDEs here:
"Visual Studio -> About Visual Studio -> Show Details -> Copy Information" ?

Are you able to reproduce the symptoms using this sample? https://github.com/King-of-Spades/AppCenter-Samples/tree/master/Xamarin.UITest/UITestDemo

[2019-09-09 17:38] lklepner commented on #814
We have upgraded to the new service and things are working well. Many thanks @cjonsmith, @botatoes, @JakubOleksy

[2019-09-09 18:04] tonykchan commented on #801
How can this still be an outstanding issue with App Center?  I just migrated a couple of my hockeyapp mobile apps over to App Center, and I'm no longer able to access my source controlled files in Azure DevOps (TFVC repo)???  If we are being forced off HockeyApp, shouldn't the functionality of the latest option be the same or better?

[2019-09-09 18:05] PavanJakhu commented on #999
Does does mean Win32 builds or UWP builds?

[2019-09-09 18:41] nrajpurkar commented on #801
Hi @tonykchan, what specific functionalilty are you looking for that is available in HockeyApp related to this? This feature request is around the Build/CI service which isn't available in HockeyApp and is an additional service in App Center.

[2019-09-09 19:21] fvillelaa commented on #995
Hi @Oddj0b , thanks for the answer.
We use SonarCloud to track this metric.
Maybe add this metric to the App Center interface along with the Test Runs... And generate a file that we can use for getting the coverage, for example, Jacoco generates .exec files...

[2019-09-09 19:57] elamalani commented on #999
@rgonzalezVW Thanks for adding this feature request. We will review it with the team and consider it for future prioritization.

[2019-09-10 02:40] patniko commented on #970
@masatoru Firebase Authentication, Auth0 and AAD support are on their way!

[2019-09-10 05:58] PatrickV82 opened #1000 "strongly-named"
Will the Microsoft.AppCenter.Analytics and Microsoft.AppCenter.Crashes nuget packages be strongly-named in the future?

This is for a WinForm application

[2019-09-10 06:52] KSemenenko commented on #903
I mean some nUnit tests

[2019-09-10 07:06] rgonzalezVW commented on #999
I mean Win32 builds (both 32 and 64 bits).

[2019-09-10 07:18] derpixeldan commented on #1000
@PatrickV82 let me loop in @hamswan who can answer this question. Thank you.

On another note ONETHOUSAND!
![nod](https://user-images.githubusercontent.com/3369400/64592082-807c2a00-d3ab-11e9-8f54-412fa6fdf433.gif)

[2019-09-10 07:27] derpixeldan commented on #988
@michaelmairegger I'm having a hart time following where you're performing the steps, is it all on HockeyApp or first on App Center then on HockeyApp? Can you also please reach out in support so we can better investigate the problem?

[2019-09-10 07:45] dp-1a opened #1001 "Support distributing multiple apps per AppCenter project"
**Describe the solution you'd like**

I would like to distribute multiple apps per AppCenter project and not just one app in multiple versions.

**Describe alternatives you've considered**

Currently you need to create a standalone project for every "App" you want to distribute.

**Additional context**

We are currently creating a B2B iOS application for which we want to distribute 3 different fla

[2019-09-10 08:01] Zhappa opened #1002 "Appium update from 1.11.0 to any version with appium-desktop version available"
**Describe the solution you'd like**
Update appium to ANY version with desktop version available.
https://github.com/appium/appium-desktop

**Describe alternatives you've considered**
As an alternative: provide a fixed appium-desktop v1.11.0 for all platrforms

**Additional context**
Appium desktop 1.11.0 binaries removed due to some major bug
Reference: https://github.com/appium/appium-desktop/re

[2019-09-10 08:02] #1001 closed

[2019-09-10 09:31] radekwilczak commented on #192
I also need the equivalent of CLSLogv in AppCenter.

[2019-09-10 09:58] j-hn opened #1003 "uploading zip file"
we currently distribute our windows (wpf) apps using hockeyapp. our app installers are built with wix, and contain custom bootstrapper, so the installer is an exe. in hockeyapp we upload the installer as a zip, which has been working fine.
in appcenter we've been told this is supported, but when we try we get a "version cannot be created from build" error when we upload the zip.
![image](https://u

[2019-09-10 10:38] pontusntengnas commented on #849
Sorry but I was running this on a quite old and slow computer when experiencing this problem. After switching to a faster one I do no longer have this issue.

[2019-09-10 10:45] Oddj0b commented on #281
@serj-lotutovici It's an interesting case I wasn't aware of, thank you for the feature request.

[2019-09-10 10:47] Oddj0b commented on #1003
Hi John, I think @botatoes or @derpixeldan can help you with this problem.

[2019-09-10 10:54] Oddj0b commented on #92
@Naishy sorry for the slow response.

You should be able to use `StartApp(appDataMode: Xamarin.UITest.Configuration.AppDataMode.DoNotClear)` That makes sure your apps doesn't uninstall between `StartApp` calls.
If you want to use the app across tests you must only call `StartApp` once and store the reference.

[2019-09-10 11:48] tomduncalf commented on #813
Hey @lumaxis, I am seeing this issue on an iPhone XR and two iPad Pros, both of which have the new style UDIDs (they are first devices with this style UDID I have tried). As you say the issue should be fixed, is there any way I can get more debug info?

[2019-09-10 12:17] Oddj0b commented on #849
Sounds like this is solved.

Ha en bra dag @pontusntengnas

[2019-09-10 12:17] #849 closed

[2019-09-10 12:35] Moccassins opened #1004 "Manual set version number"
Hi there.

We had splitted our WPF project in several nuget packages that share a common library containing our version number. In HockeayApp, we set the version number by retreving it manualy from the shared library. This way, we don't have to build our main application, if we just updated one of our sub projects. Unfortunable we didnt found a way to set the version number manualy with AppCenter

[2019-09-10 12:48] Moccassins opened #1005 "AppCenter Performance/Crash Report Priorization"
Hi there.

We build an simple WPF application to throw some exceptions and test the possibilitys of AppCenter. During our tests, we sometimes found an delay in seeing the crash reports online.
Can we improve that delay in some way? Maybe set the crash report to high priority to get it as soon as possible?

Greetings
Daniel

[2019-09-10 13:16] mnidhk commented on #87
News on this matter?

[2019-09-10 14:02] jwargo commented on #87
@mnidhk We're still working on it. We've recently started a monthly release schedule for the SDK and we're working on our feature roadmap for the next quarter.

[2019-09-10 14:19] pontusntengnas commented on #849
Well I guess the problem still exists but at least I managed to work around it with a new computer.

[2019-09-10 14:45] fabiendem commented on #182
I have tested a few scenario and get the same results:

**No Transition from HockeyApp, Installation via the browser**

1. Installation using the AppCenter install link via the browser
2. Go to the install link
3. Download the app version `v` and install
4. At first launch of the app, the browser opens with the "Enabling in-app updates" screen
5. Publish an update `v+1`
6. It gets downloaded via t

[2019-09-10 15:13] evorotnikov commented on #996
@Oddj0b not really in my understanding, it's still 2-factor, but apple originally provide several options how to get a second factor:
- Default is via Apple codes (okta like) when you have a trusted device
- Alternative is by sending sms or calling trusted phone number (in case you don't have trusted ios device)

So second case is not covered in appcenter in my opinion.

Attaching what i see while

[2019-09-10 16:08] elamalani commented on #1004
@Moccassins We will look into your question and someone from the team will reach out to you soon.
Thanks!

[2019-09-10 16:15] elamalani commented on #1005
@Moccassins App Center SDK sends crashes as a high priority. As soon as we see any crashes on the device, we send it right away after the app is opened next. Our backend processes the crashes in the order that they arrive. That might delay the crashes to be seen in the portal but you should see within a few minutes anyway.

Is it taking longer for you to see those crashes?

[2019-09-10 16:32] richard-motion opened #1007 "WPF distribution and UWP NUnit tests"
Hi,

I'm using app center for the first time as I've used Jenkins in the past. I've created a Xamarin forms app with the normal UWP, Android and iOS flavours. The first thing I want to do is run NUnit as a post build process. This was easy to do in Android but I'm struggling to get this to work as a powershell script. I have on test project, let's call it xamarinUnit test that's written in NUnit3.

[2019-09-10 16:34] marudy opened #1006 "Cannot see available app builds when clicking email link"
As soon as a build is completed successfully, an email is sent to all the collaboration team members. Recently and when clicking to the install button over the email we get redirected to appcenter's following screen instead of the list with the available builds.

![File (4)](https://user-images.githubusercontent.com/16783589/64632443-bd730b80-d401-11e9-8c48-2dd37e105019.jpg)

Please let me know wh

[2019-09-10 16:35] King-of-Spades commented on #849
@pontusntengnas If you're concerned/expecting that it should be able to work on the older system, then it'd be good if you can share the details @ahanag22 detailed in her comment for both your old system and the working system.

It's possible, if your system is old enough; that it _might_ be out of scope for support, but it might not be easy to determine that precisely because it depends on what t

[2019-09-10 16:39] myokeeh commented on #997
I'm starting to think it might be a bug in PowerBI Desktop. I'm investigating that now. I'll go ahead and close this out. Thanks!

[2019-09-10 16:39] #997 closed

[2019-09-10 16:40] elamalani commented on #1006
@marudy Thanks for reporting it. Our team will look into this issue.

[2019-09-10 19:56] #963 closed

[2019-09-10 20:05] botatoes commented on #1006
HI @Marudy, can you please open a support ticket on appcenter.ms in intercom so we can take a deeper look into your app?

[2019-09-10 20:08] dfoulk commented on #182
@fabiendem Thank you for testing these scenarios!

I think that your results explain why I was seeing login prompts while evaluating App Center Distribute. I have been deploying the first installation of our Xamarin.Forms iOS/Android applications via Visual Studio.

I am concerned with the findings here as it sounds like the only solution (currently) is to have all of our employees uninstall their

[2019-09-10 20:49] #1006 closed

[2019-09-10 21:00] marudy commented on #1006
Hey @botatoes thanks for the reply. Can you show me to the direction of intercom? I mean some link to follow? thanks

[2019-09-11 01:08] MaximePost commented on #182
Our only solution is to continue with HockeyApp until MS decides to solve this. They did promise they would solve this before the end which is end of the year if I remember correctly.

[2019-09-11 02:51] galsc commented on #56
@Oddj0b - our project is based on Angular and wrapped as Cordova application which allows us to deploy our Angular app to the Appstore & Google Play Store.

We would really like to be able to use Protractor for writing end to end tests and run the tests using Appium on App Center.

As far as I know you only currently support native apps and not hybrid apps (Angilar + Cordova) to use Appium.

Pleas

[2019-09-11 05:14] Moccassins commented on #1005
I will do a few more tests and look closely at the time to appear in the AppCenter. I will deposit my results here. However, sometimes it felt as it was up to 2 hours.

[2019-09-11 07:49] JKennedy24 commented on #935
Thanks @Oddj0b, so to clarify, if I have an issue with Xamarin.UITest I should report it to app center support?

The only issue I have with this method is:
1. its usually helpful to try to see if anyone else has reported the bug first before explaining / building sample apps for support
2. I'm not sure if app center support can attach sample projects

[2019-09-11 11:20] Moccassins commented on #1005
I found something. It seems it isn't a "performance" issue at all. In our test application we found an amount of KeyNotFoundExceptions that are thrown by the sdk. This causes immediate crashes to desktop. The Exception is randomly thrown by the same line of code. Please see the attached screenshot.

On windows 10, you dont get a message that this crash is happen. At least on my maschine. Even wors

[2019-09-11 12:51] kasterlod commented on #879
Unfortunately this workaround is not working for me. Any other suggestions?

[2019-09-11 13:50] fileman commented on #946
any news about this?

[2019-09-11 13:57] michaelmairegger commented on #988
@derpixeldan Sorry, I wrote it wrong. with HockeyApp i meant the app that is available on android.

[2019-09-11 14:57] winnieli1 commented on #1004
Hi @Moccassins - are you looking for a way to set a version number when making a release? If you upload a .zip or .msi package to App Center, you should see an input field for you to manually set the version number. Is that what you're referring to?

Thanks!

[2019-09-11 15:01] winnieli1 commented on #853
Hi all - thanks for the feature request and feedback! This feature is committed on our roadmap. I don't have an ETA at the moment but will post here when I have more information.

[2019-09-11 16:06] DevSachinOps opened #1009 "Toggle Email Notifications from Admin for all the users"
**Describe the solution you'd like**
We have 4 apps in our account and around 100 users so whenever a build triggers and release new version of app, it sends email notification as well as slack alerts. So for one build there are 400 emails trigger. We don't want the email notifications for these apps.

Currently we can not disable email notifications for all the users under an account. User can on

[2019-09-11 16:10] King-of-Spades commented on #935
@JKennedy24
For item #2, the support chat can accept attachments, though usually not very big ones. The best alternatives are usually to link to a repo, if possible; or provide a filesharing link.

Also, I personally maintain some samples here, including Xamarin.UITest specific samples: https://github.com/King-of-Spades/AppCenter-Samples

If you reproduce an issue in one of the samples in that rep

[2019-09-11 16:45] jbstewart commented on #237
I would like to see submodule support for GitLab added as well.

[2019-09-11 17:24] winnieli1 commented on #1003
Hi @j-hn - can you check if your app platform is WPF? You can go to the settings page to check:
![image](https://user-images.githubusercontent.com/8868628/64719943-2ef09f80-d47e-11e9-9ced-5345b1268710.png)

You might be experiencing this because your app is labeled as UWP. If that's the case, you can reach out to our support team via the blue chat bubble and we can change the app platform for you.

[2019-09-11 18:20] elamalani commented on #1009
@DevSachinOps Thanks for adding this feature request. We will review it with the team and consider it for future prioritization.

[2019-09-11 18:24] elamalani commented on #1007
@richard-motion Can you elaborate on your first question a bit more? What do you want to do?

We don't support Build service for WPF apps. You can use Azure Pipelines for building WPF apps.

[2019-09-11 18:54] guperrot commented on #1005
Hi, can you share the entire stack trace (raw format as in console output)? For the KeyNotFoundException.

[2019-09-11 19:18] mdbill opened #1010 "Multiple Build Config"
**Describe the solution you'd like**
I would like to have multiple build configurations on ONE branch.
For example, I'd like an AppStore , and Ad-Hoc, for devices, and a simulator build config...all on the master branch.

**Describe alternatives you've considered**
multiple branches. each with one config

[2019-09-11 21:17] thsbrown opened #1011 "Increase width of "What's New" container for new app version emails"
**Describe the solution you'd like**
Currently when a new version of an app is release an email is sent to testers. Were noticing that "What's New" container is pretty slim which makes text a bit more difficult to read. We think increasing this container width would make text much more legible.

**Additional context**
Below are some screenshots of a before and after of the suggested change. After

[2019-09-11 23:04] ricduong commented on #999
Thanks for the feedback @rgonzalezVW We will be looking into this request.

[2019-09-11 23:42] apamcamargo opened #1012 "App Center With Appium + Cucumber + Java"
App center have support to run tests with Appium + Cucumber + Java?

I trying execute but return exceptions every time.

To copy all dependencies I run this command:
mvn -DskipTests -P prepare-for-upload package

To run tests on app center I execute this command:
appcenter test run appium --app "appName" --devices "devicesName" --app-path "MyAPKPATH"  --test-series "test" --locale "en_US" --build-

[2019-09-12 04:04] zeinabch opened #1013 "Add release expiry again!"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-09-12 04:09] zeinabch opened #1014 "Add again who downloaded app!!!!"
In HockeyApp, we used to have the capability to see who downloaded the app versions not just the counts!!!

And I don't think this feature was removed!! is it?

Also updating to AppCenter should bring new features! NOT removing existing ones!

[2019-09-12 05:55] Moccassins commented on #1004
No, we dont upload anything. We want to set the current version that is reported by a crash report from c# code at runtime.

[2019-09-12 06:16] zeinabch commented on #481
@nrajpurkar do you know when this feature will be available again????

[2019-09-12 07:22] richard-motion commented on #1007
@elamalani Hi, if you ignore the WPF part, I just want to run nunit after a UWP application is built in app center. I've managed to write a bash script to do this for Android and iOS, but I can't seem to get the same result for UWP.
I wasn't aware until yesterday morning that we would need to use Azure Devops to build WPF after reading an article. Is it the case the UWP and WPF need to be built in

[2019-09-12 07:25] aamol opened #1015 "Webhook for distribution | incorrect release_notes | Slack"
Hi , I am using Webhook for slack integration and found that the release notes section is randomly having correct release notes (Git message) and sometime the name of the job.
I tried to create a webhook with the request.bin but seeing the same behaviour there in the release_notes vairable in the JSON .

Is this a known issue or I am missing something

[2019-09-12 09:26] lod255 opened #1016 "Cannot install iOS app from App Center iPhone Xs"
What App Center service does this affect?
Install App from App Center

When I install the application, it is greyed out and cannot open.

Device: Apple iPhone Xs
OS: 12.4.1
Browser: Safari

[2019-09-12 10:21] alxprodn opened #1017 "Allow the user to log into App center from multiple devices simultaneously without logging them out on other devices"
I use AppCenter for testing my apps and I have a load of mobile devices where I have to log into app center daily. This is annoying as hell, as with Hockey app, I was logged into it for months and all of my 50 devices at the same time without being asked to log in daily.

Could you please change or add the following:

- Set session expiration to several months (or allow me to pick that option for

[2019-09-12 14:18] vanlooverenkoen opened #1018 "iOS app for AppCenter"
Where can I download this iOS app to install iOS apps ?

![image](https://user-images.githubusercontent.com/21172855/64791986-e4078280-d578-11e9-8f74-4512dfe5ff62.png)

[2019-09-12 15:00] nielscup opened #1019 "UITests iOS: Unable to start UITest on selected simulator or device"
**Describe the solution you'd like**
Start UITest on selected iOS simulator

**Describe alternatives you've considered**
Selecting a different simulator in build config or Test pad does not work.

**Additional context**
To test on smaller screens I need to be able to run UITest on iPhone 5s.
Currently, UITests always start on the same Simulator, iPhone Xs Max in my case. This problem started since

[2019-09-12 15:56] #940 closed, assigned to nilofer

[2019-09-13 06:59] kuyazee commented on #543
I have also observed this happening on an **iPhone 6s plus** device running on **iOS 13.1 beta**

[2019-09-13 07:35] nielscup opened #1020 "Android UITests: Unable to unfocus editor"
Since Xamarin.UITests 3.0.3 some of our UITests fail. This is caused by the fact that when an editor has focus, tapping another element does not remove focus from the editor. This works properly when manually tapping an element in the UI. This also worked with Xamarin.UITests 3.0.0

[2019-09-13 07:38] nielscup opened #1021 "Android UITests: Unable to unfocus editor"
Since Xamarin.UITests 3.0.3 some of our UITests fail. This is caused by the fact that when an editor has focus, tapping another element does not remove focus from the editor. This works properly when manually tapping an element in the UI. This also worked with Xamarin.UITests 3.0.0

[2019-09-13 07:38] #1020 closed

[2019-09-13 07:41] derpixeldan commented on #1013
@zeinabch sorry for the mis-understanding here and thank you for bringing it up. I see the value of displaying the expiration date of the provisioning profile.

[2019-09-13 08:02] derpixeldan commented on #1018
@vanlooverenkoen @dutchme333 sorry for the mis-leading image, it was indeed a real app to browse and download releases in the early days of App Center. Unfortunately, Apple doesn't allow a store-like app in the App Store, hence we can't release it and also won't be able in the future.

I'm closing this ticket as there's no point of keeping it open, since it's not in our power.

[2019-09-13 08:02] #1018 closed

[2019-09-13 08:09] vanlooverenkoen commented on #1018
Hmm I find it hard to bellieve that you can't build an app that is just available with a public appcenter link. It would be the same as a the android hockey app download. We simple downloaded the apk from the hockeyapp website. I think this should not be closed.

I think you should consider your own distribution platform.

[2019-09-13 08:19] derpixeldan commented on #1018
@vanlooverenkoen that's not how Apple works. You can either release to the store or you're limited to the device cap of an ad-hoc profile. Enterprise (in-house) profiles are not allowed to be released publicly, otherwise Apple will ban the entire account.

I can assure you that we tried, but as I said, it's not allowed.

[2019-09-13 08:22] vanlooverenkoen commented on #1018
Did you consider pwa's?

[2019-09-13 08:27] vanlooverenkoen commented on #1018
This biggest advantage we have with the mobile app is that it will keep you logged in. For iOS with every new release we have to log back in. That is just a pain for our testers and clients. We want something like android on iOS.

[2019-09-13 08:53] nielscup commented on #1019
Selecting a real device only works sometimes: it runs once correctly on the correct device, but I have to make sure all simulators are closed and only 1 device is connected. If I then start another UITest it will start the same simulator again and run there.

[2019-09-13 09:18] andreialecu opened #1022 "Error in fetching the Apple service connection details"
When trying to connect to App Store Connect for a new project I'm getting this error:

![image](https://user-images.githubusercontent.com/697707/64851638-7747c300-d620-11e9-9840-d1c653938036.png)

Trying to add the account again also results in an error that the account already exists.

What could be wrong?

[2019-09-13 09:22] andreialecu commented on #1022
An additional error when trying to set up a new app specific password (although the previous one that was set was still valid):

![image](https://user-images.githubusercontent.com/697707/64851955-1cfb3200-d621-11e9-8382-c6256ed21e4f.png)

[2019-09-13 09:42] andreialecu commented on #1022
I was able to completely remove the account and re-add it. Seems that it went through.

Perhaps there could be a better explanation of what is wrong, and hints on what to try in the interface. The errors were quite unhelpful.

[2019-09-13 09:44] ursNj opened #1023 "Support building React native Expo builds"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-09-13 13:11] peacepostman opened #1024 "React Native > 0.6 - Unable to build via AppCenter for ios"
Hello,

I'm writing here to publish an issue that i've resolved and maybe it can help people struggling with it.

We were always having those following errors while building for ios

I've managed to resolved it with those two steps :

**1. Edit appcenter-post-clone**

Open your `appcenter-post-clone.sh`, if none created, refer to microsoft guide, and add the following :

**2. Edit appcenter-pre-bu

[2019-09-13 13:22] elamalani commented on #1023
@ursNj Thanks for adding this feature request. We will review it with the team and consider it for future prioritization.

[2019-09-13 13:24] elamalani commented on #1022
@andreialecu  Were you able to resolve the issue? If you see it again, please reach out to us via support.

[2019-09-13 13:25] elamalani commented on #1016
@lod255 Were you able to resolve this issue? Please reach out to us through support if you are running into the same issue.

[2019-09-13 13:28] elamalani commented on #1015
@aamol Are you still running into this issue? Can you please reach out to us via support for further investigation?

[2019-09-13 13:28] elamalani commented on #1002
@zhappa Thanks for adding this feature request. We will review it with the team and consider it for future prioritization.

[2019-09-13 13:30] elamalani commented on #1011
@Spartanace1024 Thanks for adding this feature request. We will review it with the team and consider it for future prioritization.

[2019-09-13 13:33] elamalani commented on #1024
@peacepostman Thanks for listing the steps that helped you resolve the issue. We would likely more it over and update our docs with the suggested steps.

[2019-09-13 14:40] jpc1963 opened #1025 "When running a uitest it should be possible to specify a TestFixture"
I am new to the app center - and how it can be use to run tests. But I would like to see a (small) improvement. I develop & test mainly on a MAC (so think VS2019 for mac).

The following is an example of how to start a ui test in the appcenter:

This of course works OK but it does not correspond to how I designed my tests almost 3 years ago. This was initially done to schedule ui tests using Jenki

[2019-09-13 14:59] mattperzel opened #1026 "Choose devices in test by availability for faster execution"
**Describe the solution you'd like**
Our used case would be to select by OS version any device that is currently available. Then maybe select the newest device that matches the OS version and is available.

**Describe alternatives you've considered**
Look at the API to see if this information is exposed and modify our CI to dynamically generate the call to test. Or select undesirable devices in ou

[2019-09-13 15:18] jwargo commented on #647
@faulfish please?

[2019-09-13 16:28] aolszowka commented on #568
I am sorry to reopen this but reading the Documentation Here: https://docs.microsoft.com/en-us/appcenter/transition/api#upload-api it appears like this API will:

@derpixeldan Is this new? If so how long is this API Available to us? Long term we'll invest in converting to the 3 API's (if needed) but if this will work in the medium term we'll look more towards investing in other ares of the product

[2019-09-13 16:54] zerojozhanwork opened #1027 "Make it easier to switch GitHub account for build"
**Describe the solution you'd like**
The scenario is that I wanted to switch to a different GitHub account after I connected a GitHub repository for build. Today, after I disconnected all the repos, the UI opens repo selection for the already "linked" GitHub account. There is no UI to allow me "unlink" and it doesn't even point me to where or how I can do that.

There should be a button or link wh

[2019-09-13 16:56] joezha commented on #1027
Ah, apologies that I used my test github account to open the issue. :)

[2019-09-13 17:07] andreialecu commented on #1022
I was able to resolve it by re-adding the account.

Would be a good idea to improve this flow though. Feel free to close.

[2019-09-13 17:11] nrajpurkar commented on #1027
Thanks for creating this issue. We do have [information](https://docs.microsoft.com/en-us/appcenter/build/connect#github) in our documentation on how to disconnect the current connection and replace with another one. Showing this somewhere in the UI would make this clearer.

[2019-09-13 19:17] grahamyesfit opened #1028 "Make it easier to toggle screen context between different Apps"
**Describe the solution you'd like**
I use AppCenter primarily to deploy my Android App to test users and Google Play (when AppCenter can manage my certificates and provisioning profiles I'll use it for deploying my iOS App too, but that's a different feature request). I use CodePush for both Android and iOS. From the CodePush dashboard, I wish it was easier to toggle between Apps. Navigating from

[2019-09-13 21:15] onethread opened #1029 "Appcenter.ms build setup page goes to blank page"
When I click on the settings cog for my build, I get an empty page.

I.e. Browsing to https://appcenter.ms/users/user/apps/app/build/branches then clicking on the settings cog for my branch.

Safari reports `Failed to load resource: the server responded with a status of 404 ()` and `[Error] Unrecognized Content-Security-Policy directive 'worker-src'. (x9)` errors while Chrome reports `/api/v0.1/ap

[2019-09-13 21:44] DennisPan commented on #1029
@onethread Could you reach out to support via the chat bubble on App Center portal? Also, does this only happen when you open the branch configuration page?

[2019-09-13 21:44] ranterle commented on #1029
Hi there, thanks for reporting this, it seems you're seeing two issues (they might be related):
1. The configuration page for your branch won't open
2. You're seeing a bunch of HTTP 404 error messages in your browser console and other warnings/errors

For 1. it would be helpful if you can share your exact app information, i.e. the URL you have open when this issue occurs - can you open a conversat

[2019-09-13 22:01] onethread commented on #1029
@DennisPan @ranterle I've reached out via chat bubble, but just to answer some of your questions:

It only happens for the master branch (and I only have one app). For branches that I've never configured deployment, the "Configure build" editor loads just fine.

The exact failing url is: https://appcenter.ms/users/onethread/apps/Arfa/build/branches/master/setup

[2019-09-13 22:05] onethread commented on #1029
It was working yesterday. The only notable change I can see from a working setup page is that my master config used to point at an Xcode 11 beta, which is no longer a valid option.

[2019-09-13 22:10] ranterle commented on #1029
Thanks @onethread - I think this actually helps us narrow it down, do you see any particular errors in your browser console that are not HTTP request related? i.e. JavaScript errors? Feel free to share either here or in the conversation.

[2019-09-13 22:12] eashman commented on #1029
This just happened to me as well.  Glad to know I'm not the only one.  Can't do much of anything unless this is fixed.

So who is pushing out production code on a Friday night?  Serves them right... :)

[2019-09-13 22:13] ranterle commented on #1029
@eashman do you also see the exact same behavior? Build configuration page not working anymore for a branch that previously had Xcode 11 Beta selected? or a similar result for different configuration?

[2019-09-13 22:14] eashman commented on #1029
Mine doesn't have to do with using Xcode 11 Beta.  I just cannot open the Build configuration of any iOS branches.  My Android ones are still working.

[2019-09-13 22:17] onethread commented on #1029
@ranterle Sorry, no JS errors. Console is clean, correcting for the request errors.

[2019-09-13 22:20] DennisPan commented on #1029
@eashman Could you also reach out to support for this?

[2019-09-13 22:36] DennisPan commented on #1029
Thanks for reaching out to support! That really helped. We've identified the issue, and are working on the fix.

[2019-09-13 22:56] DennisPan commented on #1029
The issue is fixed now. Refresh the page and now it should load. Apology for the trouble. Thanks again for reaching out!

[2019-09-13 22:56] #1029 closed

[2019-09-13 23:02] elamalani commented on #1028
@grahamhayes Thanks for adding this feature request. We will talk to the team and consider it for future prioritization.

[2019-09-13 23:03] elamalani commented on #1026
@mattperzel Thanks for adding this feature request. We will talk to the team and consider it for future prioritization.

[2019-09-13 23:07] DennisPan commented on #1023
Actually #189 is essentially the same. May worth try the workaround suggested there, before we add better support. Closing this.

[2019-09-13 23:07] #1023 closed

[2019-09-14 20:44] Oddj0b commented on #995
Thank you for clarifying the request.

[2019-09-14 23:29] elamalani commented on #1012
@apamcamargo Thanks for submitting this feature request. We will discuss it with the team and consider it for further prioritization.

[2019-09-15 07:38] dahlbyk commented on #151
Stopping by to agree with everyone else: value from `SetUserId()` should be passed through to AppInsights consistently across `Crashes` and `Analytics`, otherwise we have to send the same value separately to correlate sessions back to our users.

This correlation problem is exacerbated by `HandledErrorLog` and `StartServiceLog` events having `session_Id` of `00000000-0000-0000-0000-000000000000`.

[2019-09-15 07:46] dahlbyk commented on #145
+1 for merging AppCenter `Properties` into `customDimensions` rather than using a nested object
+1 for not sending invalid data (0x0, lots of "None", etc)

[2019-09-15 08:32] dahlbyk commented on #339
It seems that `UnhandledErrorLog` and `HandledErrorLog` events are created at the time of a crash/error, respectively, but with little information beyond the timestamp and normal device telemetry. It would be great if those events could at least include the crash/error group identifier that's used in the AppCenter URL. It would be even better to track them as AppInsights `exceptions` instead of `c

[2019-09-15 10:09] jrahma opened #1030 "Push.Send(push_notification)"
Hi,

Please add a command to send pus notification from within the app without having to call the API to make it easier to send messages.

This can be something like this:

[code]

Thanks,
Jassim

[2019-09-15 20:11] dbquarrel opened #1031 "Terrible and confusing login page for users needs redesign"
**Describe the solution you'd like**

Your login page is designed by a marketing committee trying to get people to sign up for your various preferred services. You have sign-in by email in tiny text at the bottom of the screen and users are confused by this. The more users you confuse the more weight you put on developers to explain to users how to log into appcenter.

Since Hockey did this in a c

[2019-09-15 20:39] dun3 commented on #990
Sorry for keeping this alive, but am I seeing in my assessment? Could we please have the full distribute functionality for Cordova? Can we implement that ourselves?

[2019-09-15 21:46] regalcinemas opened #1032 "Disney/Pixar's HD 4Dx WiMAX ADOBE'S By Michael Lee Johnson"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-09-15 21:47] regalcinemas commented on #1032
510-549-4529 Disney/Pixar's HD 4Dx WiMAX ADOBE'S By Michael Lee Johnson

[2019-09-16 00:04] ECDev01 commented on #866
Any solution for this? My case was something like this:

1. Previous to iOS 12.4.1 I had issues with my app icons, during installation in progress my icon look like this:
![IMG_0861](https://user-images.githubusercontent.com/45864586/64929296-cd5a7780-d867-11e9-82c7-68d3c852df41.jpg)
Then when finished my app icon looked like this:
![IMG_0860](https://user-images.githubusercontent.com/45864586/649

[2019-09-16 06:08] SOliasS commented on #864
@patniko Hey i wrote an email to your github email adress some time ago. Unfortunately it looks like it has fallen through the cracks. Should i try it again?

[2019-09-16 06:39] Moccassins commented on #1004
anything new?

[2019-09-16 07:09] trinhpham opened #1033 "Support either running or uploading tests via Docker"
**Describe the solution you'd like**
This is an idea that I think while Henry brought me to #453 .
Ideally, the test platform should not limit its users to just a few test frameworks. It should be open enough for users to use either their wanted solution or deploy their current project.

IMO, Docker is good enough to help App Center Test wider its platform/framework support to (mostly) unlimited.

[2019-09-16 11:56] #521 closed

[2019-09-16 11:56] #891 closed

[2019-09-16 12:00] zyead commented on #891
.

الحصول على Outlook لـ iOS<https://aka.ms/o0ukef>
________________________________
من: no-response[bot] <notifications@github.com>
‏‏تم الإرسال: Monday, September 16, 2019 2:59:19 PM
إلى: microsoft/appcenter <appcenter@noreply.github.com>
نسخة: Subscribed <subscribed@noreply.github.com>
‏‏الموضوع: Re: [microsoft/appcenter] Error: Cannot prepare UI Test artifacts using command: mono (Android Stud

[2019-09-16 12:56] #287 closed

[2019-09-16 12:56] #753 closed

[2019-09-16 12:56] #825 closed

[2019-09-16 12:56] #812 closed

[2019-09-16 12:56] #452 closed

[2019-09-16 12:56] #625 closed

[2019-09-16 12:56] #197 closed

[2019-09-16 13:20] Oddj0b commented on #891
@zyead Do you want to keep this issue open?

[2019-09-16 13:22] Oddj0b commented on #1026
@mattperzel If I understand you correctly, you want to run a test on any devices running a specific OS version. Is this because you've experienced long wait times on our devices?

[2019-09-16 13:33] Oddj0b commented on #1002
@zhappa To be sure I understand you correctly, version 1.11 which App Center Test is running is not compatible with Appium Desktop? And you're looking for a workaround?

[2019-09-16 16:51] RenanDelfanti opened #1034 "Flutter .aab files publish suport?"
How to build and publish aab files with appcenter-post-clone.sh flutter?

[2019-09-16 16:58] nrajpurkar commented on #1034
Hi @RenanDelfanti, please take a look at the [build script examples](https://github.com/microsoft/appcenter/tree/master/sample-build-scripts/flutter) for Flutter apps. This gives you the ability to build Flutter apps even though it is not natively supported in App Center. @botatoes can speak to any plans we have for Distribution support for Flutter apps.

[2019-09-16 17:03] RenanDelfanti commented on #1034
Hi @nrajpurkar, with this scripts I'm able to build and distribuite .apk files normaly. When I'm select on build config to generate .aab files, I see this error and my build fail:

`##[error]Publishing build artifacts failed with an error: Not found PathtoPublish: /Users/vsts/agent/2.155.1/work/1/a/bundle`

[2019-09-16 17:06] Zhappa commented on #1002
Hi! No, the problem is: there is no binary (exe, dmg) of appium-desktop v1.11.0 available.
I can't just take a well compiled binary for my platform (PC, MAC) and use it. I have to download appium from, lets say, npm package manager.
This is not a big deal for windows, but for mac it generates a ton of unnecessary movements (from installing brew to recompiling the webDriver) and not guarantee the s

[2019-09-16 17:22] nrajpurkar commented on #1034
I'd recommend posting the build script you're using. You could also cross post in the AAB issue and see if anybody else is building Flutter AABs with build scripts. Generally, we don't troubleshoot and debug build scripts as the possibilities are endless.

[2019-09-16 17:34] andysousa commented on #890
i will second this, would be nice to use AppCenter for all its features.  Right now its just a distribution platform for all our ionic apps

[2019-09-16 17:35] andysousa commented on #951
just checking in to see if there was ever any movement on this?

[2019-09-16 17:48] jwargo commented on #1030
@jrahma just to make sure I understand the request, you're look for a device to device push API in the SDK? Can you describe the app requirement for this?  I'm curious about the app you're building if this is a requirement. Most developers send notifications from their app backend, not from a device application.

[2019-09-16 18:12] jsiemensLatitudegeo commented on #150
+1

[2019-09-16 18:22] jwargo commented on #1033
@trinhpham thanks for that suggestion, I'd not thought of that approach for Test. I've asked the PM for test to take a look at your suggestion; we'll see where this goes from there.

[2019-09-16 22:54] jwargo commented on #1021
@nielscup I'll have the PM take a look. Have you contacted our support team on this issue?

[2019-09-17 01:34] msdof commented on #792
#458 should be considered into next iteration, R8 is the default code shrinker for Android.

[2019-09-17 02:31] #973 closed

[2019-09-17 05:01] nabati opened #1035 "AppCenter doesn't show the number of downloads correctly"
There are multiple issues with how AppCenter is displaying the downloads currently, compared to how it was done in HockeyApp.

1. If you are distributing to a public distribution group, it only seems to show the number of downloads from registered users rather than any downloads that come from accessing the download page. The shown number is significantly smaller in our case, making it useless. In

[2019-09-17 07:12] hari331996 commented on #78
Do we have this available for appcenter-cli too?

[2019-09-17 07:55] budius commented on #182
- The bug from this issue blocks us from updating to AppCenter,
- The bug from this other issue on [Hockey HERE](https://github.com/bitstadium/HockeySDK-Android/issues/432) pushes us to migrate to AppCenter.

[2019-09-17 09:46] hemantbavle1 commented on #277
How did you include the provisioning profiles? I keep getting the following error for provisioning profile? How does one resolve these errors? I spent hours on this..nothing worked!!! :/

`error: No profiles for 'com.xyzorg.appname' were found: Xcode couldn't find any iOS App Development provisioning profiles matching 'com.xyzorg.appnamer'. (in target 'TargetName')
`

`error: No profile for team '

[2019-09-17 10:34] VincentH-Net commented on #1025
This is already possible with the `--fixture` parameter.

Excerpt from output of `appcenter test run uitest --help`:
[code]

[2019-09-17 11:00] #92 closed

[2019-09-17 11:58] VincentH-Net opened #1036 "UITest Android 10 cannot restart app or call backdoors after phone contact picker is opened"
In Test Cloud, after opening the phone contact picker from the app that is tested, I need to restart the app because that is the only way UITest lets me exit the phone contact picker.

Restart works on iOS 10 - 12 and Android 6 - 9 when the contact picker is open, but not on Android 10 (Google Pixel 3a).

Please fix this - **or even better, provide a way to return to the app after system UI like t

[2019-09-17 12:19] wamry commented on #819
i'm facing the same issue, can't the issue be resolved here instead of opening a ticket ?

[2019-09-17 12:48] RenanDelfanti commented on #1034
@nrajpurkar I change my script build, and now I don't have the error.
But, how to select appbundle to distribute on store?
`#!/usr/bin/env bash
#Place this script in project/android/app/

cd ..

# fail if any command fails
set -e
# debug log
set -x

cd ..
git clone -b beta https://github.com/flutter/flutter.git
export PATH=`pwd`/flutter/bin:$PATH

#flutter channel stable
flutter version v1.7.8+hot

[2019-09-17 13:13] RenanDelfanti commented on #1034
I create a pull request with my script.
See in #1037

[2019-09-17 14:09] jwargo commented on #1035
@nabati I'm sorry that you're experiencing this. I'll discuss this with the product's Program Manager to see what's going on here.

[2019-09-17 14:11] jwargo commented on #1036
@VincentH-Net have you discussed this issue with our support team? There should be an easier way to do this. In the mean time, I'll discuss this issue with the product's Program Manager to learn what I can about potential solutions.

[2019-09-17 15:38] Zhappa opened #1038 "Appium 1.11.0 is not supporting android 10 (Q)"
**Describe the solution you'd like**
Update to appium 1.13.0 at least

**Describe alternatives you've considered**
Provide a solution to be able to run tests using Appium v1.11.0 and Android 10 devices.

**Additional context**
I believe appium v 1.11.0 can't run any test using devices with Android version 10 (Q)

My tests are working using Appium 1.11.0 and Android <10 for both local and appium ce

[2019-09-17 15:44] cesar1414 commented on #574
hi all
I have this same problem
someone has an advice ?

[2019-09-17 16:00] chrishonson commented on #933
In hockeyapp we're able to see all of the crashes for a specific version (number or name). That's usually the place I spend the most time as I'm most interested in the crashes on the latest released version. This feature will be missed.

[2019-09-17 16:11] bobber205 opened #1039 "Build Status Cancel Button + Commit Message Build Trigger Feature Requests"
**Describe the solution you'd like**
On a branch screen you can see all the builds/ the ones that are running and the ones queued up. Sometimes I'll make a push or two I don't want to start a build then say the 3rd push is the one I want to build.

Here's what would be really nice.

1) Some kind of message a person could put in a commit message to either trigger a build or prevent it depending on

[2019-09-17 16:59] mattperzel commented on #1026
@Oddj0b I think its more that we have a couple of scenarios.  In general we are happy with our device set of popular devices.  That works well for running comprehensive tests against our builds as any delay in getting the devices doesn't really matter.

But there are other scenarios,  testing the tests, PRs, etc where we just to be able to run the tests ASAP.  In particular we have been debugging

[2019-09-17 17:22] prnewman opened #1040 "Recruitment link feature?"
Hoping that App Center will introduce a feature like the [HockeyApp recruitment link](https://support.hockeyapp.net/kb/app-management-2/how-to-invite-beta-testers) or the [TestFlight public link](https://developer.apple.com/news/?id=09262018a). This makes distribution of builds to new testers much easier. You can also make this link available via a web view to enlist current app users to be beta t

[2019-09-17 17:49] hiraldesai commented on #810
It looks like it was transient indeed. However I just realized that my certificate has expired so even though I was able to upload a big file successfully, I was not able to save the build configuration. But that's not related to this particular issue, I'm closing this now. Thank you for your help!

[2019-09-17 18:15] ptufail commented on #1016
i have the same problem with

Device: iphone 8
OS: 12.4.1
Browser: Safari/Chrome

[2019-09-17 18:19] King-of-Spades commented on #1039
If a build is active, I do see a cancel button. Here's a pseudo url to find that, replacing the ALL_CAPS strings with acceptable values:

https://appcenter.ms/orgs/ORG_NAME/apps/APP_NAME/build/branches/BRACH_NAME/builds/BUILD_NUMBER

Are you referring to adding a Cancel button on a different spot? (You could always try a screenshot and then drawing with some Paint program where you'd like to see t

[2019-09-17 18:24] King-of-Spades commented on #1025
Thanks @VincentH-Net!

@jpc1963 if you try that solution and it doesn't work for you, I'd recommend providing your observations & background data.

(e.g. what Xamarin.UITest version you're using, whether there's an error message, if the test runs but ignores the fixture specification etc.)

I'm tagging this issue with "Response Required", our bot will automatically close the issue in 1 week if we

[2019-09-17 19:18] f3mahmud opened #1041 "Ability to choose build configurations for iOS."
A clear and concise description of what you want to happen:
It is good that we can choose the target/scheme already, but it would be very helpful if we choose the build configuration. Doesn't have to be a dropdown, but at least so that we can write it.

A clear and concise description of any alternative solutions or features you've considered:
Running the builds manually/away from appcenter

[2019-09-17 19:46] aolszowka commented on #568
@derpixeldan Just checking in; we've converted our apps to App Center utilizing the old Upload API and it appears to work. Are we living on borrowed time?

[2019-09-17 21:19] lcamilo opened #1042 "Build Error building android app"
I am trying to build an android application, but I am getting the error below, already tried to understand, already researched and found nothing that could help me. Could anyone help me understand if it's a build agent bug? The project is built smoothly on my machine.

Thanks in advance.

Leandro Camilo

  line number 1
  index number 0

[2019-09-17 22:20] King-of-Spades opened #1043 "Ability to delete individual builds"
**Describe the solution you'd like**
In App Center Build, being able to delete individual Builds.

**Describe alternatives you've considered**
Deleting the branch configuration deletes *all* Builds that were created with that configuration; however, it's not possible to choose some to keep and some to get rid of.

[2019-09-17 23:06] wamry opened #1044 "Different Badges for ios and android"
Could you have two badges for build success/failure ? one for android and one for ios ?

Maybe the android would have the android logo, and ios would have the apple logo, maybe just the word "ios" and "android" before the word "build", for example "ios | build", "android | build"

[2019-09-17 23:28] hamswan commented on #1035
@nabati we will take a look at this.

[2019-09-18 00:00] nrajpurkar commented on #1042
Hi @lcamilo, can you reach out to App Center support for this? You should see a bubble in the lower right hand corner of App Center to engage.

[2019-09-18 00:03] nrajpurkar commented on #1044
Thanks for the feature request @wamry. The way App Center is set up, you have two different apps - one for iOS and one for Android. You'll have a different build badge for each app that you can embed. I understand how this can be confusing for putting those both in the same repo.

[2019-09-18 06:00] craig95 commented on #277
@hemantbavle1 I used to use Bitrise.io in the past, they have a nice tool called [codesigndoc,](https://github.com/bitrise-io/codesigndoc) which gathers all the necessary profiles needed. I used it for AppCenter as well, just skipping the last step (uploading to Bitrise) and just uploaded the needed files generated to AppCenter manually.
[Here](https://devcenter.bitrise.io/code-signing/ios-code-si

[2019-09-18 07:43] wamry commented on #1044
yes, i understand that, the problem is that they look exactly the same

[2019-09-18 08:20] jrahma commented on #1030
@jwargo no app in my hand with this requirement but it's just a thought in case it can be done and if it's helpful for others

[2019-09-18 08:23] curia-damiano commented on #574
Hi Cesar, please support us requesting the implementation of this feature

[2019-09-18 09:29] jpc1963 commented on #1025
Obviously I did'nt read the help properly. But in the app center chat, I was also told it was not possible - and because of that conversation I created this. You live and learn.

I'm sure it works ok and I have adjusted my local scripts. I will test them when I can - but my free test subscription has run out.

[2019-09-18 09:29] #1025 closed

[2019-09-18 10:16] jvandenaardweg opened #1045 "Release error using Xcode 11: "Your app was built with an unsupported version of Xcode or SDK""
After a successful build using Xcode 11 in AppCenter, when releasing to TestFlight:

Using a previous Xcode version (10) worked without a problem. But I need Xcode 11 to work atm.

According to [this topic](https://discuss.circleci.com/t/xcode-11-gm-seed-1-released/32379/13), it might have to do with the builder using GM 1, but Apple already requires you to use GM 2 since 1-2 days.

From [Apple's

[2019-09-18 10:28] Tinekk commented on #825
I could reproduce this after migrating specs project from .NET Framework v4.7.2 to netcoreapp2.0.

Notes from quick debugging session of disassembled Xamarin.UITest:
It never works when running from Test Explorer as Run. Started to work while breakpoint (and wait few seconds) on
`Log.Debug($"Forwarded port {testServerPort}.");`
After waiting a while on breakpoint, ping/pong works correctly, tests

[2019-09-18 11:03] lumaxis commented on #543
@kuyazee This particular problem is specific to iPadOS since that changed the browser user agent that is sent to our side.
If you are experiencing issues installing on non-iPad devices, it is different from this and please open a separate Issue for that, thanks!

[2019-09-18 11:04] Ant8 commented on #140
@botatoes any update on this? :)

[2019-09-18 11:26] MikeDaniel18 commented on #684
@MikePodgorniy We're receiving this error too and can't find anything on Apple's end. How did you resolve this?

[2019-09-18 11:58] cristi2k opened #1046 "Unity sdk does not send errors or crashes to AppCenter on iOS devices"
Unity sdk does not send errors or crashes to AppCenter on iOS devices.

On Android devices everything works fine.

The App Center Behavior has the correct iOS app secret.
Analytics and Crashes are checked.
iOS build is a debug build.

Set these 2 functions in the Start() function of a monobehaviour.
Microsoft.AppCenter.Unity.Crashes.Crashes.ReportUnhandledExceptions(true);
Microsoft.AppCenter.Unit

[2019-09-18 12:01] MikePodgorniy commented on #684
@MikeDaniel18 I received a later from itunesconnect with some errors, but I can't find it now

[2019-09-18 12:47] jpc1963 commented on #421
Another update..
I created an issue at specflow (here: [https://github.com/techtalk/SpecFlow/issues/1726](url)).
Their response is basically that since the logs show nothing relating to specflow itself, that the problem may lie with Xamarin.uitest.

[2019-09-18 14:11] MikeDaniel18 commented on #684
@MikePodgorniy ahh, excellent, thank you. Just received an email. Oddly the build vanished off the face of the earth in AppStoreConnect.

[2019-09-18 15:03] jvandenaardweg commented on #1045
Seems to be fixed now 🎉

[2019-09-18 15:03] #1045 closed

[2019-09-18 15:09] invariant commented on #202
I'm hoping this does get done soon. This is probably my fault, but just made the mistake of migrating my Mac app to AppCenter, not realising AppCenter does not support Sparkle feeds.  I hope I have not just consigned several hundred beta installations to limbo, pointing to a sparkle feed I can no longer update!

[2019-09-18 15:12] max-lobanov commented on #1045
@jvandenaardweg, we are deploying new image with `Xcode 11 GM seed 2` right now.
Deployment takes long time, so some machines might still contain `Xcode 11 GM seed 1`

[2019-09-18 15:45] King-of-Spades commented on #421
@jpc1963 Your link is set as this:
`[https://github.com/techtalk/SpecFlow/issues/1726](url)`
which points to https://github.com/microsoft/appcenter/issues/url

Corrected target: https://github.com/techtalk/SpecFlow/issues/1726

From that discussion:

I'm not sure the best way to resolve this "we say ____, they say _____" back and forth with SpecFlow, @Oddj0b or @owenniblock can we confirm if we st

[2019-09-18 15:51] VincentH-Net commented on #1036
@jwargo I asked the support team just now for an easier way to do this (it seems a bit weird though, reporting an issue on github and then pointing out to the support team in a chat that the issue exists - shouldn't they be monitoring this repo's issues?)

I'assuming that solving the issue as I reported it here will be through your follow up. Thanks!

[2019-09-18 15:52] King-of-Spades commented on #1025
@jpc1963 sorry to hear about that discrepancy. Can you open that chat and request the case number for the ticket so I can find and review it for improving support?

Or you can ask the ticket be assigned to Kent Green (that's me).

[2019-09-18 16:10] jwargo commented on #1038
@Zhappa thank you for this feedback, I've passed this on to the Test PM for his review.

[2019-09-18 16:18] davisben85 opened #1047 "Add timestamp next to the date in the App Center mobile site"
**Describe the solution you'd like**
Currently, only the date shows under the build information on the install.appcenter.ms site.  Please add the time too, as that exists in Hockey App and is useful.

**Describe alternatives you've considered**
No other alternatives, please add the time.

**Additional context**
Add any other context or screenshots about the feature request here.
<img width="575" a

[2019-09-18 16:18] jwargo commented on #1040
@prnewman I thought we had something like this, but it's not my area of focus. I'll pass on your feedback to the PM team and they'll respond with clarification.

[2019-09-18 16:18] davisben85 commented on #1047
The image that does not have the time, is from App Center, and the image with the time, is from Hockey App, for the same build.

[2019-09-18 16:19] jwargo commented on #1041
@f3mahmud Thank you for this feedback, I will pass this feedback on to the service PM.

[2019-09-18 17:07] TomSoderling opened #1048 "Unexpected error while talking to CosmosDB"
[MainPageViewModel.txt](https://github.com/microsoft/appcenter/files/3627594/MainPageViewModel.txt)

I've followed [this doc](https://docs.microsoft.com/en-us/appcenter/sdk/data/xamarin#creating-a-document) to get started with App Center Data for a brand new XF app, but when I attempt to create a document, I get this error every time.

[code]

Code file for my ViewModel is attached

I'm currently

[2019-09-18 17:22] prnewman commented on #1040
Excellent, thank you.

[2019-09-18 18:14] nrajpurkar commented on #481
@zeinabch this hasn't been prioritized for work in this month's iteration plan. We'll continue to evaluate this amongst other feature requests in the future.

[2019-09-18 19:33] chris-paterson opened #1049 "Missing option to create ticket in bug tracker"
In HockeyApp there was an option to create a new ticket in a bug tracker. This option appears to be missing in AppCenter. There is an option to auto-create tickets when the number of crashes exceeds some threshold but that does not fit our workflow.

Are there any plans to add the ability to create a Jira ticket for a specific crash group?

[2019-09-18 19:42] herbig commented on #827
Hi @winnieli1 ! Do you have an ETA yet on this?  We'd like this feature before migrating Pocket on Android from Hockey to App Center.

[2019-09-18 20:06] jwargo commented on #1047
@davisben85 thank you for that feedback, I'll pass it on to the Build team.

[2019-09-18 20:08] jwargo commented on #1048
@TomSoderling yes, this is the place for App Center feedback, feature requests, etc. The support team is the right place to work through problems, that's a faster path to the resources that can help you.

[2019-09-18 20:11] jwargo commented on #1049
@chris-paterson thank you for that feedback, I've passed it on to the Distribution team. I know we have bug tracker integration from the Diagnostics side, I'm not sure what we have planned for the Distribution service.

[2019-09-18 20:16] cdub50 commented on #615
We are blocked on testing because of this issue cert gets stuck in loop and clicking install on the cert just takes you back to the login page and logging in does nothing to complete the cert install when is this going to be fixed?????

[2019-09-18 21:19] JPSiller opened #1051 "Use or allow to configure using App Center manually uploaded image in Build distribution email."
When we distribute and iOS or Android build through app center, the Icon that is shown in the email is the one that was embedded into the APK/IPA. This results in different icons being shown between both builds as well as bad resolution since the icon image might be pretty small. This also allow use to use a totally different image (ie. Using the company's logo).

It is also inconsistent with the

[2019-09-18 21:22] max-lobanov commented on #1045
Deployment is done. `Xcode 11 GM seed 2` is available on all machines

[2019-09-18 21:40] akiwarheit opened #1052 "Functionality to upload .env files"
**Describe the solution you'd like**
An `Upload .env file` button to populate environment variables

e.g.

![Lit2019](https://user-images.githubusercontent.com/713107/65465929-9ad8fc00-deb1-11e9-96a0-61f7025f219d.png)

**Describe alternatives you've considered**
Manually copy pasting environment variables

**Additional context**
Most projects that follow 12factor would already have a local `.env`

[2019-09-18 22:27] stevedavis7 opened #1053 "In App Center the version display should be larger"
In App Center there is a popup to choose which version to view the data.
If it is currently set to something with a short version (2.3.0) and you open the menu, the menu is small and it truncates the name of versions with a longer version string. This makes it impossible to differentiate the versions in the menu

Ex:
<img width="420" alt="Screen Shot 2019-09-18 at 6 25 15 PM" src="https://user-ima

[2019-09-18 23:40] beeradmoore commented on #970
@nrajpurkar ,  Xcode 11 went GM (and then GM2) a week ago. Is it safe to presume the Xcode 11 beta 6 and Xcode 11 beta 7 tasks above are being done against Xcode 11 GM 2?

[2019-09-18 23:58] nrajpurkar commented on #970
Good catch @beeradmoore, we're actually already on GM 2. I fixed that above.

[2019-09-19 00:02] beeradmoore commented on #970
Awesome. Thanks :)

[2019-09-19 04:12] derpixeldan commented on #202
@invariant sorry to hear that, we're currently working on it and it should be done soon.

[2019-09-19 05:02] jvandenaardweg commented on #1045
Thanks @max-lobanov for the quick fix! 👍

[2019-09-19 08:55] bnoffer opened #1054 "[Build] Support Bitbucket on-prem as source code service"
**Describe the solution you'd like**
As support for on-prem Gitlab is already being worked on it would be nice to support on-prem Bitbucket as well.

**Describe alternatives you've considered**
We currently have to use Azure DevOps to deliver our builds to App Center Test, which is not ideal.

**Additional context**
As discussed:
* MicrosoftDocs/appcenter-docs#404
* MicrosoftDocs/appcenter-docs#24

[2019-09-19 10:07] Stephen-Mc commented on #421
Just to clarify the quote above: The Mac integration for SpecFlow is not maintained by the SpecFlow team, but is a third-party solution. We only maintain the Windows version. So if the issue is in the SpecFlow Visual Studio extension for *Mac*, there's nothing the SpecFlow team can do about it. That would need to be addressed to the maintainer of the Mac Visual Studio extension project.

If the is

[2019-09-19 10:14] jpc1963 commented on #1025
I have asked for the ticket to be assigned to you. thanks.

[2019-09-19 10:47] JKennedy24 commented on #935
I will go with starting a thread with support through the app center page.

Although I don't think it's a great solution, I personally would be much more inclined to file the bugs here and add a tag/Label to the bugs to say they are UITest dll related.

I think other people would probably be more inclined to file them here too if they knew this was the designated area, at the moment I'd imagine th

[2019-09-19 12:00] chris-paterson commented on #1049
Hey, thanks for the quick reply! Sorry if there was a misunderstanding but I was talking about diagnostics, not distribution.
Where would I find the option to create a ticket for a specific crash group in the diagnostic side?

[2019-09-19 13:15] felipeogarcia commented on #311
+1

[2019-09-19 16:26] King-of-Spades commented on #1025
Thanks for sharing that. In reviewing the ticket, I think what happened is when we discussed the question internally there was some confusion between expected vs. desired behavior. My apologies for the mixup, I think the best thing we can do at this point is document it accordingly.

[2019-09-19 17:46] djohnsonkc commented on #1024
Thanks for the tip!

I had to alter the "cd ./ios/ && pod install" command in the appcenter-pre-build.sh. a bit to the following to help with our migration from React Native 0.57 to 0.60.

cd ./ios && rm -rf Pods && pod cache clean --all && pod repo update && pod install

Thanks again!

[2019-09-19 18:05] nrajpurkar commented on #703
@muneneevans there isn't a way to do this today. Feel free to rename this issue or create a new one for a feature request to be able to do this.

[2019-09-19 18:15] nrajpurkar commented on #353
Thanks for the feature request @ilaiyarajak. We don't have plans at the moment for any kind of code coverage or scanning tools in Build. We'll keep this open to track additional interest.

[2019-09-19 18:17] nrajpurkar commented on #959
Thanks for the feature request. The alternative described is the current expected behavior. Understand how exposing signing credentials as variables could make streamline this process. We'll keep the feature request open to track additional interest.

[2019-09-19 18:18] nrajpurkar commented on #718
@sapieneptus, thanks for the request. This isn't currently on our roadmap, but we'll track this request for future interest.

[2019-09-19 19:09] tamassengel opened #1055 "Building an iOS app with Xcode 11 fails with IDEFoundationErrorDomain Code=1 "IPA processing failed""
When I try to build an iOS app using Xcode 11, the build fails and the following error appears in the build output log:

[code]
This error wasn't present when my selected Xcode version was 10.3.
What should I do in order to fix this?

[2019-09-19 19:22] andrewleader commented on #150
Hey @mackayn, it's mid-September, any updates?

[2019-09-19 20:54] baileybrooks commented on #1053
@stevedavis7 Thanks for this piece of feedback. I will get this communicated with our CoreUX team ASAP and we will get moving on the fix.

[2019-09-19 21:41] nrajpurkar commented on #67
Happy to see so many builds working with the addition of the build scripts. We're very curious to hear what services matter to those of you working on Flutter. Where else in App Center would you be looking for Flutter support?

[2019-09-19 22:03] RenanDelfanti commented on #67
@nrajpurkar  In my current project, I would like to unify my builds and analysis in appcenter.
I suggest a dart package to support Analytics  of appcenter.

[2019-09-20 00:20] beeradmoore opened #1056 "Accidentally dismissing modal"
**Describe the solution you'd like**
To dismiss a modal that pops in from the right it's common to click the blank space on the left to hide it.  If you are in a rush and try to select everything in a box you may overshoot the text box (shown in the example below) and release outside of the modal. This causes the distribute window to dismiss. I know this is 100% user error and can be fixed by me b

[2019-09-20 02:53] #1042 closed

[2019-09-20 02:54] #1022 closed

[2019-09-20 05:21] mike14u commented on #67
@nrajpurkar Full Flutter support and  be able to possibly run Flutter tests as well, that way AppCenter can compete w/ codemagic.io

[2019-09-20 06:23] kpatwa commented on #645
This is going to be really helpful. I have the same scenario like **@arek-avanade** mentioned.

[2019-09-20 07:56] valerianb opened #1057 "Analytics: see detailed OS version distribution"
I'd like to know which iOS versions our users have. This helps me decide when I can drop support for old versions.
Currently, it's only possible to see a very succinct OS Distribution bar chart which shows the top 3 versions. It would be awesome to be able to expand that bar chart to a table view showing all the OS versions.

Thank you.

[2019-09-20 07:59] amchew commented on #1049
Hi @chris-paterson! We do support creating a ticket in Jira Cloud for crash groups: https://docs.microsoft.com/en-us/appcenter/dashboard/bugtracker/. Today it is auto-creation, but if I understand you correctly, you're asking for manual creation of a bug in a specific crash group, is that right?

If so, that's on our backlog, but no ETA yet. Adding @winnieli1 to share more details.

[2019-09-20 08:07] amchew commented on #860
Hey @SOliasS, thanks for sharing your use case, I contacted you via email to schedule some time to speak on Mon to understand more.

@Jjagg would love to learn more as well. Would you be free to chat next week? Email me at amchew [at] microsoft [dot] com if you're keen!

[2019-09-20 08:11] arek-avanade commented on #563
Any update on this? This issue affects my team as well.

[2019-09-20 08:16] trinhpham commented on #1033
Thanks for your response, looking forward to the status.
Please keep me be posted, @jwargo

[2019-09-20 09:44] philemonmerlet opened #1058 "Android Distribute keeps opening browser after data storage clear"
Sometimes, to perform tests or to spot problems, we have to clear application storage.
With AppCenter Distribute enabled, after Data storage is cleared, it is impossible to use the app. The browser keeps opening to the AppCenter enable install page every time we try to access it.

[2019-09-20 12:30] chris-paterson commented on #1049
Yeah, that's correct, we'd like to manually create tickets.

Thanks for the update!

[2019-09-20 14:23] patrickdoodyIRL opened #1059 "Auth State Persistance"
An authenticated user session - i.e. a successful call to Auth.SignInAsync() - does not persist when the host application ends. I would like for the authentication state to persist through application reloads. As it is users have to authenticate against Azure B2C every time, which is not user friendly.

There are no alternatives available to my knowledge. To use private partitions in the Data modu

[2019-09-20 14:44] NunoBem opened #1060 "[Auth] Azure AD B2C - Password reset"
**Describe the solution you'd like**
The user to be able to reset their password (local/email accounts).

**Describe alternatives you've considered**
We're unable to "call" the password reset policy has we do in MSAL sdk, so we had to hide the password reset label in the sign up sign in policy that Auth uses.

But having the customer forgotten the password and email us, we reset it in the B2C dash

[2019-09-20 14:55] justintoth commented on #165
Don't hold your breath, I've been waiting 5+ years to get line numbers in my production Xamarin apps logged to HockeyApp (mono-symbolicate never worked for me). Seeming that App Center is a downgrade from HockeyApp (inconsistent logging of handled vs. unhandled exceptions, stack traces showing way less than they used to in HockeyApp, buggy dashboard, etc...) there is absolutely 0% chance of them e

[2019-09-20 15:06] jwargo commented on #1051
@JPSiller that's a great suggestion, I'll pass this on to the service PM.

[2019-09-20 15:08] jwargo commented on #1052
@akiwarheit is this for the Build service? Can you please provide some context?

[2019-09-20 15:11] jwargo commented on #1054
@bnoffer thank you for this suggestion, we've had customers ask for this before. I'll share your feedback with the service PM.

[2019-09-20 15:12] jwargo commented on #1055
@tamassengel have you contacted our support team on this issue? Click the blue chat button at the bottom-right corner of every App Center page, that connects you directly to our dedicated support team.

[2019-09-20 15:13] amchew commented on #1059
Hi @patickdoodyIRL thanks for the feature request! We’re looking into it and will reply shortly.

[2019-09-20 15:14] justintoth opened #1061 "Xamarin Android crashes are missing much of the stack trace"
When a Xamarin Android crash was logged in HockeyApp, it would give the full stack trace of the exception. In App Center, much of the stack trace is getting omitted. For example, look at this exception and stack trace:

Here is the actual code:

[code]

The exception stack trace indicates that the ArgumentOutOfRangeException is getting thrown within this GetImageUrl function, however it's actually

[2019-09-20 15:15] amchew commented on #1060
Hey @nunobem good to hear from you! Thanks for the feature request, and sharing your user scenario. Looking into see if there’s a work around, will get back shortly.

[2019-09-20 15:16] jwargo commented on #1056
@beeradmoore would it just be easier to give you a copy button for copying the content from the modal?

[2019-09-20 15:18] jwargo commented on #1057
@valerianb thank you for the suggestion, I will pass your feedback on to the service PM.

[2019-09-20 15:21] jwargo commented on #1058
@philemonmerlet an interesting issue. I'm trying to think through what's going on here. I'm curious as to why clearing app storage opens the install window. What did our support team tell you?

If this is a feature request, what's the feature you're requesting?

[2019-09-20 15:23] jwargo commented on #1061
@justintoth I'll pass this feedback to the service PM. Have you discussed this issue with our support team? What did they tell you?

[2019-09-20 16:23] Perh0rd commented on #890
Yes it will be definitily be helpful, will centralise everything and avoid us to use third parti software.

[2019-09-20 16:26] ivanicin opened #1062 "Tracking NSErrors"
**Describe the solution you'd like**
An API like Microsoft.AppCenter.Crashes.Crashes.TrackError, but for native exceptions.

**Describe alternatives you've considered**
Right now you can raise exception when the NSError appears and then use standard logging, but if that is the only purpose of raising exception it feels like a wrong thing to do.

**Additional context**
Add any other context or scre

[2019-09-20 16:28] ivanicin opened #1063 "Dipslay events in version greater than"
**Describe the solution you'd like**
In the Analytics > Events you can pick either all versions or just a single version. However it happens that something is changed in some particular version and data before that is irrelevant, but the data after that is spread across multiple versions

**Describe alternatives you've considered**
Right now you could export data to Azure, but this is really a sim

[2019-09-20 17:22] jwargo commented on #1062
@ivanicin thanks for this suggestion, I'll share this with the service PM.

[2019-09-20 17:24] jwargo commented on #1063
@ivanicin thank you for this feedback, I'll share this with the service owner.

[2019-09-20 17:30] hamswan commented on #1057
Thanks @valerianb , We will add this as a feature request.

[2019-09-20 17:36] hamswan commented on #1063
Hi @ivanicin , If I understand correctly you are asking if you can view data relevant to say a particular version as a starting point and then versions above that, rather than starting from the very first version and view this on the App Center portal?

We don't have this currently and this is first time we are getting a request for this.

[2019-09-20 17:40] amchew commented on #1059
Hey @patrickdoodyIRL,
A successful sign-in should persist until the user signs out or the user token has expired. Would like to debug with you.

Would you mind describing the details of the app behavior and issue, so that we can repro? Do share any Verbose console logs as well.

[2019-09-20 20:38] GamingRay opened #1064 "Seeing upload time as well as date, on devices"
Would like to see the time the build was uploaded to App Center, not only the date.
We often upload more than one build per day and it would help a lot to see the upload time.
Thanks

![Image from iOS](https://user-images.githubusercontent.com/50926842/65357381-e98e4980-dbc4-11e9-8a4f-435ccdb6fb32.jpg)

[2019-09-20 20:56] t-miomok commented on #1064
@GamingRay Thank you for this feedback, I'll share this with the Service Owner.

[2019-09-20 21:48] beeradmoore commented on #1056
Yes and no. It gets me on both ends, selecting all to copy (or write new), selecting all to paste.

[2019-09-20 22:09] amchew commented on #860
Hey both, thanks for responding to me, and looking forward to chatting with you next week!

[2019-09-20 23:21] bryansmi commented on #810
Glad we could get it resolved :)

[2019-09-21 07:29] rishimodha commented on #202
@derpixeldan Hi, thanks for the update. Are you considering extending the transition date as it now seems like Sparkle support will be added very close to the planned end date for Hockey. We have a lot of Mac apps that use the HockeySDK and we need to thoroughly test everything once the AppCenter SDK is switched in. I think it's wise to extend the deadline by a few months. Or at least maintain som

[2019-09-21 11:24] ivanicin commented on #1063
Yes, after some version some data might not be comparable to the past, I think it is relevant to every app out there.

[2019-09-21 11:41] stevedavis7 opened #1065 "Hard to gather statistics on crashes vs total sessions"
In Hockey App it was easy to compare the total number of crashes and sessions for a particular version and timeframe.
In App Center every time I switch between Diagnostics and Analytics it resets the version and  and time selections which makes it extremely painful to gather the statistic that we're looking at which is % of sessions that end in a crash (crashes/sessions * 100)

[2019-09-21 12:45] EmilAlipiev commented on #150
150 upvotes, most wanted feature but it is always ignored :(

[2019-09-21 12:52] jerryhuang-net commented on #617
You might be only got back a bad channel error from PNS, but you do know what parameters you sent to the PNS that completely hidden from developers. What is the token? When the token registered? etc. If you think of you were the developer and you received only bad channel, what would you like to know in order to get it works? It seems there isn't too much control by the developers, in the app we o

[2019-09-21 18:20] TomSoderling opened #1066 "How does one fetch the sample-document in an app?"
**Describe the solution you'd like**
When I create a new database under the Data node, the Data explorer shows that there is one sample document in the db. Since it's public, I'd like to fetch it from my app using the Data SDK to make sure that the app to App Center connection is working - before I go through the steps of setting up an AD tenant and the other more complicated Auth setup. I wish th

[2019-09-21 20:10] TomSoderling opened #1067 "Page for Sign Up or Log In user flow capitalizes first letter of email address"
**Describe the solution you'd like**
When entering the email address to sign up, the text box capitalizes the first letter of the email address and it's really hard to correct it. The text box should just take whatever input the user types in - don't try to auto correct it.

**Describe alternatives you've considered**
Deleting the first character and re-entering it doesn't work - it just re-capita

[2019-09-21 21:27] TomSoderling commented on #1048
Not sure what caused this - I think it was due to my B2C tenant being in a separate directory from my subscription. Creating a new App Center app and doing the auth setup with a link to the B2C tenant seemed to do the trick.

One point of feedback - it seems that if your azure subscription already has an active directory, a new directory is created when creating the new database in App Center. Thi

[2019-09-22 14:18] winnieli1 commented on #150
Hi there! We are actively working on UWP diagnostics, including handled exceptions. The updated target date is early-mid October. Thanks for everyone's patience! I will post here as soon as this is complete.

[2019-09-22 14:31] MartinZikmund commented on #150
We love to hear it is actively worked on, it will be awesome and we thank you for listening to feedback :blush:

[2019-09-23 01:31] winnieli1 commented on #1062
Thanks for the feature request! It sounds like you're looking for a way to log non fatal crashes (handled exceptions) for iOS apps? This isn't on our short term roadmap but is absolutely on our radar. I'll post here if I have any updates!

(Reference #192 for similar request)

[2019-09-23 01:35] winnieli1 commented on #1061
Hi Justin - can you start a support thread (blue chat bubble in App Center) so our support and engineering team can take a closer look for you? We want to make sure App Center is meeting your expectations. Thanks!

[2019-09-23 01:41] winnieli1 commented on #1049
Hi Chris - thanks for the feature request! This is something we'd like to support but unfortunately I don't have a better answer for you. We'll keep this issue open to track community support and I'll update you if I have any news. We also consitently update our public roadmap to reflect what our plans are so definitely keep an eye out on that!

[2019-09-23 01:44] winnieli1 commented on #1007
Hi Richard - I'm not sure about your build question but I passed this along to my colleague who would have more knowledge in this space. Thanks for your patience!

[2019-09-23 01:51] winnieli1 commented on #1004
Hi @Moccassins - apologies for the delay. I'm not sure I completely understand your request. Are you looking for a way to manually upload crash logs and then set the version for those logs?

If not, can you send a screenshot or walk me through the steps you're going through in HockeyApp? I appreciate it!

[2019-09-23 06:58] richard-motion commented on #1007
No problem Winnie. I appreciate the update.

[2019-09-23 07:02] renfeisong opened #1068 "Hide missing symbol warning for certain (system) frameworks"
**Describe the solution you'd like**
In the Diagnostics section, the "Symbols are missing for multiple versions." warning always show up for me. After clicking into the details, it shows a list of system frameworks (e.g. AppKit, Foundation, CoreFoundation) that are missing symbols. These are non-issues and I don't think there is a way to get symbols for these frameworks. For this reason, I think t

[2019-09-23 07:12] philemonmerlet commented on #1058
Hello, I think it is more an issue than a feature request.
Sorry I forgot to ask the AppCenter support, I went directly to the github. If you think it will help I can try this first.

[2019-09-23 08:30] patrickdoodyIRL commented on #1059
Hi @amchew, thanks for the quick reply.

App behaviour is pretty simple.

1. Call Auth.SignInAsync()
2. Transported to the Azure B2C
3. Successfully authenticate
4. Return to device running on app.
5. Shutdown app. I'm **not** calling Auth.SignOut()
6. Start app, go to step 1.

I am using the .net SDK v2.3.0.0. I'm getting this issue on an IOS emulator and when deployed to an IOS device.

Xamarin

[2019-09-23 08:35] j-hn commented on #1003
Thank you @winnieli1 this has fixed our problem :)

[2019-09-23 08:35] #1003 closed

[2019-09-23 08:59] ivanicin commented on #1062
Yes I would say it is the same, just that issue doesn't contain any expected keywords in the title or even description (use logging like crashalitycs is not something everyone will be searching for).

[2019-09-23 09:03] ivanicin commented on #1062
There is some difference though as I suggest logging of all native issues so it would include Java exceptions too. But the main purpose was for that NSError logging.

[2019-09-23 09:58] hydrixos opened #1069 "API for accessing crash report before sending"
Crash reports might contain personal data of the user: Exception messages might contain log output of the app. We also add additional logs from the app's session as an attachment to the crash.

We think that the user should be completely informed which information is sent together with a crash report.

In our app, we show the user a dialog asking for consent before sending a crash report (alongsid

[2019-09-23 10:18] nishaatr opened #1070 "AppCenter support"
Its regrettable that I have to raise this here.

I have been struggling to get WebHook working with our JIRA on-premise instance and so raised support query via chat. After some initial response, there is no feedback or help for past week or so.

WebHook test fails but then after ~10mins we get the ticket created in JIRA. We have added many AppCenter/HockeyApp IP addresses/domain names to our fire

[2019-09-23 10:49] alexshikov commented on #21
@nrajpurkar how many likes do we need to move this feature to the next stage? :)

[2019-09-23 11:23] Slin commented on #322
Just wanted to say that this is the part that is quite annoying when adding someone as I need to wait for them to signup and tell me that they did before I can add them to a team.

This would improve the onboarding of new team members quite a bit.

[2019-09-23 11:29] tamassengel commented on #1055
@jwargo Thanks for your response, I've contacted the support team.

[2019-09-23 11:55] tamassengel commented on #1055
As it turned out, this is an issue in my project. Thank you for your assistance!

[2019-09-23 11:55] #1055 closed

[2019-09-23 16:16] amchew commented on #1059
Hey @patrickdoodyIRL, thanks for providing the information and the logs! We're looking into it and will get back again.

[2019-09-23 16:22] onethread opened #1071 "Support articles never load in the support chat"
**Describe the solution you'd like**
While in the support chat box, when I search for a solution or am offered one and I click on it, I'd like for the article to load. Instead the loading bar never completed, indefinitely.

**Describe alternatives you've considered**
Search the Microsoft appcenter support site directly instead.

**Additional context**
Safari 13.0.1
The console is returning these e

[2019-09-23 16:25] amchew commented on #1060
Hey @NunoBem, hope your weekend was good! There's no workaround and we're in discussion about a fix. Will update again.

[2019-09-23 16:30] amchew commented on #1067
Hey @TomSoderling, thanks for reporting this! A question, although it the first alphabet is capitalized, does the reset password flow still work?

[2019-09-23 16:32] NunoBem commented on #1060
Hi @amchew, Thanks for taking time on this, it's very important to us.

[2019-09-23 17:21] baileybrooks commented on #1065
Hi Steve, thanks for this feedback. I've added the service area owners to the issue and we will keep you updated.

[2019-09-23 17:36] botatoes commented on #1015
Please open a support ticket on appcenter.ms. Closing this issue for now.

[2019-09-23 17:36] #1015 closed

[2019-09-23 17:38] TomSoderling commented on #1067
Unsure. If I attempt to Sign In and tap the "forgot your password" link without entering anything on that page, I'm immediately navigated back to the app with an exception: "access_denied;AADB2C90118: The user has forgotten their password"
It gives a correlation ID and timestamp as well

[2019-09-23 17:38] botatoes commented on #1040
I have logged this as a feature request we'll want to add in the future. Thank you!

[2019-09-23 17:39] ryang1428 commented on #1064
+100! We switched to AppCenter last week from Hockey and this is the first thing our QA team was asking about

[2019-09-23 17:41] botatoes commented on #1051
Hi, thanks for raising this concern. In general, the logic behind the app icon is that for developer-facing scenarios, the uploaded icon is used and for tester scenarios, the extracted icon is used. This is so that in the case app icon and the extracted icon is different, the testers won't be confused between the email they get and the actual app downloaded.

[2019-09-23 17:42] botatoes commented on #1058
Hi there, please open a support ticket on appcenter.ms and our CSS team will escalate if necessary.

[2019-09-23 17:42] #1058 closed

[2019-09-23 17:42] ryang1428 commented on #1065
I added a similar feature request! Its a very basic piece of data from crash reporters that's unfortunately missing here! https://github.com/microsoft/appcenter/issues/218

[2019-09-23 17:43] botatoes commented on #1017
Hi, this should not be an issue. Can you open a support ticket on appcenter.ms? We'll get more info about your app and take it from there.

[2019-09-23 17:43] #1017 closed

[2019-09-23 17:44] NicholasMaher commented on #1064
+1 for this, this is very helpful when working in a continuous integration environment

[2019-09-23 17:56] nrajpurkar commented on #21
Hey @alexshikov, we see this one as one of the top requested features and are definitely looking at it as we determine priorities each month.

[2019-09-23 17:57] onethread opened #1072 "Automatic resigning and provisioning doesn't work for iOS"
**Describe the solution you'd like**
Per the documentation, I use the the same provisioning profile that Xcode uses, which is set to automatic management.
When a new user is invited, re-signing never works.

The "Register devices" step succeeds, the "Update provisioning profile" succeeds, but the Re-sign app & upload new release" step fails with the error: `Profile named 'iOS Team Provisioning Pro

[2019-09-23 18:00] nrajpurkar commented on #37
We've rolled out self-hosted GitLab support for all! Take a look at some [documentation](https://docs.microsoft.com/en-us/appcenter/build/connect#connecting-to-self-hosted-gitlab-instances) and test it out! Closing out this issue after a few months of work 👊

[2019-09-23 18:00] #37 closed

[2019-09-23 18:02] JPSiller commented on #1051
Hi @botatoes thanks for the explanation, although I agree that makes sense, it wouldn't hurt to have the option to override the icon with what ever icon you want to present rather than being forced to use the one from the build. It might be an edge case scenario but it would be handy for us. Definitely not a priority but a nice to have if your team has capacity.

Thanks

[2019-09-23 18:13] bobber205 opened #1073 "Would Be Nice to Have a "Cancel Build" Feature here"
![image](https://user-images.githubusercontent.com/5841107/65450890-fb553400-ddf2-11e9-8b81-851c67c1577b.png)
On the commits screen for a branch it'd be nice to cancel builds here instead of having to click into each commit. Sometimes I'll make several small commits and they will each build up in the queue.

A quick easy way to cancel would be great! <3

[2019-09-23 18:17] nrajpurkar commented on #1073
Hey @bobber205, thanks for the request! This sounds similar to the other issue you opened at #1039. Can we close this a duplicate and track this feature request there?

[2019-09-23 18:25] bobber205 commented on #1039
![image](https://user-images.githubusercontent.com/5841107/65451822-ccd85880-ddf4-11e9-84ea-fc9fa149b282.png)

Image of the requested place.

[2019-09-23 18:25] bobber205 commented on #1073
Yeah sure I'll close it. I forgot I had opened this already!

[2019-09-23 18:25] #1073 closed

[2019-09-23 18:32] baileybrooks commented on #1070
@nishaatr Hi Nishaat, I apologize for that delay in support! Looks like our support team has now responded to your query via chat – will now close this issue. Please continue the conversation there for further assistance.

[2019-09-23 18:39] blparr commented on #1071
Hi @onethread ! Thanks for reporting. The team has been notified and we will be fixing this shortly.

[2019-09-23 18:41] #927 closed

[2019-09-23 18:41] #985 closed

[2019-09-23 18:43] indraneely commented on #629
any update on this ?

[2019-09-23 19:17] jrahma commented on #808
Yeah this will be great if we can have Page View on the Dashboard instead of doing it manually in Events

It will be awesome if you click on the Page View for every page then get the more details for it, for example, visitors, duration, geo source, devices, etc

[2019-09-23 20:01] ehlersd opened #1074 "HockeyApp for MacOS Upload App"
**Describe the solution you'd like**
Will existing app continue to work after moving apps to AppCenter?

**Describe alternatives you've considered**
New AppCenter for Mac App?

**Additional context**
N/A

[2019-09-23 21:19] jwallra commented on #1059
@patrickdoodyIRL Did you add the Keychain Sharing capability to your app?  See our [documentation](https://docs.microsoft.com/en-us/appcenter/sdk/auth/ios#add-keychain-sharing-capability)

This appears to be the log forwarded to the AppCenter SDK by the MSAL library which indicates that there's some problem:

[code]

[2019-09-23 21:24] 87073312130 commented on #1059
![68915722_505104100342112_5298827961984614400_o (1)](https://user-images.githubusercontent.com/54188202/65464082-df957080-de7a-11e9-8881-4120dd370702.jpg)

[2019-09-23 21:26] 87073312130 commented on #1059
#927

[2019-09-23 21:42] indraneely opened #1075 "iCloudContainerEnvironment': expected one of {Development, Production},"
What App Center service does this affect?
iOS Project Build

Describe the bug
Build failed by
Error Domain=IDEFoundationErrorDomain Code=1 "exportOptionsPlist error for key 'iCloudContainerEnvironment': expected one of {Development, Production}, but no value was provided" UserInfo={NSLocalizedDescription=exportOptionsPlist error for key 'iCloudContainerEnvironment': expected one of {Development, P

[2019-09-23 21:47] TomSoderling opened #1076 "iOS 13 exception on SignInAsync: Cannot start ASWebAuthenticationSession without providing presentation context"
Today I updated to VS for Mac v8.3 and to Xcode 11.0 and I started getting this exception each time I try to sign in using:
`UserInformation userInfo = await Auth.SignInAsync();`

Exception message:
[code]

This was working yesterday before I updated. Please let me know what I can do.
VS for Mac version details attached.

[VSforMacversionInfo.txt](https://github.com/microsoft/appcenter/files/36442

[2019-09-23 21:52] Agitto commented on #829
Seems like the issue is successfully fixed in 3.0.4-dev1 but only for libraries that target .net45. It is still possible to reproduce the issue by referencing Xamarin.UITest 3.0.4-dev1 from netcoreapp2.0. Can it be possible that libraries from Nuget package for 'net45' and 'portable-net45+win8+wp8' were built from different sources?

[2019-09-23 22:05] akiwarheit commented on #1052
@jwargo apologies for being vague - I've uploaded a screenshot above.

But essentially what I'm asking for is a button under `Environment Variables` that allows us to upload our `.env` files rather than typing all the environment variables manually.

[2019-09-23 22:08] amchew commented on #1076
Thanks @TomSoderling for posting! We’ll investigate this.

[2019-09-23 22:41] TomSoderling commented on #1076
Thanks.

This may be related? https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/603

[2019-09-23 23:27] EatonZ opened #1313 "Customize reported version"
### **Description**

I have 2 versions in my application's AssemblyInfo: `AssemblyInformationalVersion` and `AssemblyVersion`. App Center reports `AssemblyInformationalVersion`. I do not want that - I want to use `AssemblyVersion` instead. How do I customize/change what version field is reported?
Note that I do not use `AssemblyFileVersion`.

### **Repro Steps**

1. Add the above-mentioned propert

[2019-09-23 23:58] phillipleblanc commented on #1072
@onethread Thanks for reaching out! This is an expected error when using the Xcode "Automatically manage signing" option. You will need to switch to using "Manually manage signing" for the App Center Automatic resigning to work properly.

https://docs.microsoft.com/en-us/appcenter/distribution/auto-provisioning#prerequisites

Use Manually manage signing instead of Automatically manage signing when

[2019-09-24 01:29] winnieli1 commented on #1069
Hi @hydrixos thanks for feature request! I can definitely see this being helpful for privacy conscious users. We don't have immediate plans to support this feature but let's keep this issue open to track interest.

[2019-09-24 07:38] adriavernetta opened #1077 "API access to collaborators' analytics"
**Describe the solution you'd like**
We would like to have auditing capabilities for our organisation's collaborators. We work with many hundreds of users and being able to audit internal acquisition, adoption and usage of the tool to keep the user base up-to-date and maintainable is a crucial component for us.

Also, being able to study the reason behind those numbers is critical to help us lever

[2019-09-24 07:41] jpc1963 commented on #1025
No problem. Like I said, I could also have read the manual properly :)

[2019-09-24 08:53] patrickdoodyIRL commented on #1059
Hi @jwallra,

I had added the Keychain Sharing capability, however I hadn't added the Entitlements.plist as a Custom Entitlement in the iOS Bundle Signing options. Once added the Auth is working correctly.

![image](https://user-images.githubusercontent.com/11458033/65496732-e9d26180-deb0-11e9-95f6-5ff15b6d4aa7.png)

Thanks for your quick replies and excellent support. This can be closed.

[2019-09-24 08:53] #1059 closed

[2019-09-24 11:35] adriavernetta commented on #939
We're facing the same issue on our side, having transitioned forcedly to App Center and losing the diagnostics capabilities of accurate crash gathering (we see discrepancies of having "lost" 80% of crashes).

We consider that, at least, we should be given the option to add or not the unsymbolicated crashes in the data metrics.

[2019-09-24 12:34] plamworapot opened #1078 "Can't Configure Build React Native with gitlab on premise"
When i connect React Native project with gitlab on premise and configure build it shown error

**Additional context**

***Request Log***

[code]

***screenshot***

<img width="1224" alt="Screen Shot 2562-09-24 at 19 07 17" src="https://user-images.githubusercontent.com/4770354/65510459-2f1d8000-deff-11e9-8fbf-2b07917626e8.png">

<img width="821" alt="Screen Shot 2562-09-24 at 19 09 13" src="https:

[2019-09-24 13:48] desaikevin commented on #1055
I am also seeing this issue @tamassengel what was the resolution?

[2019-09-24 13:56] tamassengel commented on #1055
@desaikevin It was caused by a framework incompatible with Xcode 11. I'm now building with Xcode 10.3 until that framework gets updated.

[2019-09-24 13:57] richp582 commented on #1076
Thank you!!  Will test it out shortly!

[2019-09-24 14:02] richp582 commented on #1076
Actually will an updated package for appcenter-sdk-dotnet come out as well?  I'm facing this issue in a Xamarin.Forms app.

Thanks,
Rich

[2019-09-24 14:03] desaikevin commented on #1055
thank you! @tamassengel

[2019-09-24 14:03] annakocheshkova commented on #1076
@richp582 the releases for the wrapper SDKs usually come a couple of days later.

[2019-09-24 14:04] richp582 commented on #1076
Ok thanks!  wondering if I should create a copy of the bug over there, but I guess I'll hold off for now.

Thanks again for the quick response!
-Rich

[2019-09-24 14:36] amchew commented on #1059
Great  to hear that, and no problem!

[2019-09-24 14:37] nathanhillyer commented on #536
@winnieli1 We use this feature frequently on HockeyApp, so having this ability before we are forced to migrate is critical.

[2019-09-24 17:10] alexshikov commented on #903
+1 for that. Running simple xUnit as a post-build step out of the box would be awesome!

[2019-09-24 17:52] pkhandelwal-cdl commented on #970
I checked the GitHub logs, is there a timetable to support building Xamarin.iOS with XCode 11?

[2019-09-24 18:09] nrajpurkar commented on #970
@pkhandelwal-cdl we're working on support for the latest Xamarin.iOS version at the moment and hope to ship that soon. I'll add it to our iteration plan.

[2019-09-24 18:15] safaiyeh opened #1079 "React-Native Android build fails. Cannot find CLI tools?"
`> Could not read script '/Users/vsts/agent/2.155.1/work/1/s/node_modules/@react-native-community/cli-platform-android/native_modules.gradle' as it does not exist.`

Consistently getting this error on App Center. node_modules should correctly install `@react-native-community/cli-platform-android`. I cannot reproduce this locally as yarn installs the package correctly. However consistently fails on

[2019-09-24 18:40] Zakeelm commented on #1066
Hey there!

I'll look into making this much more clear in the documentation. Can you try creating an object that has a field "message" that is of type sting. Then when calling your read or list command, using that as the type  within your call rather than object or string.  I believe this may be the issue, let me know if this works!

[2019-09-24 20:04] nrajpurkar commented on #1078
Hi @plamworapot, can you reach out to App Center support via the bubble in the bottom-right hand corner about this please? This will allow us to dig in a bit deeper to understand what's going on here. Thanks!

[2019-09-24 20:04] #1078 closed

[2019-09-24 20:40] Zakeelm commented on #1048
Glad this was resolved! I believe that was likely the issue. And no, I don't believe that's intended behavior. I can't seem to replicate this either. Would you mind telling me the steps you took?

[2019-09-24 20:56] lewcianci commented on #67
I've actually moved to codemagic because appcenter doesn't support this.  I actually find it a lot easier to use.... But VSAC can win me back if they add Flutter support :)

[2019-09-24 22:11] Zakeelm commented on #946
Hi @fileman apologies for the delayed response. I'd like to discuss more about your scenario. Are you essentially asking for better filter support within the List command?

[2019-09-24 22:14] Zakeelm commented on #864
Hi all, following up on this thread. We're still currently looking into this and doing some of the investigatory work to figure out we can accomplish shared partitions/shared data in App Center Data. We don't have an ETA for this item, but it's something that's definitely on our radar that we would like to bring to the App Center Data feature set. We'll be sharing specs with you as soon as the tea

[2019-09-24 22:19] Zakeelm commented on #662
Closing this for now, as we don't have immediate plans to support macOS. We can revisit this in the future given enough interest!

[2019-09-24 22:19] #662 closed

[2019-09-24 22:20] onethread commented on #1072
Hi @phillipleblanc, thanks for the quick response. After looking over the prerequisites, I wanted to try every permutation of settings that I could think of, but I still can't seem to get it to work, so you might need to walk me through it.

I've done the following:
1. Generated an Apple Distribution provisioning profile with only 1 device allowed
2. Generated a distribution signing certificate
3.

[2019-09-24 22:20] Zakeelm commented on #549
We don't have immediate plans to support Cordova, so i'm going to close this for now. But this is something we can definitely revisit given enough interest.

[2019-09-24 22:20] #549 closed

[2019-09-24 22:26] TomSoderling commented on #1066
This ended up working for me
`var doc = await Data.ReadAsync<object>("sample-document", DefaultPartitions.AppDocuments);`

Would be cool if that was in the Data docs somewhere to validate that things are set up before diving into all the Auth setup steps.

[2019-09-24 22:45] daltonks commented on #61
@dannythomas13
Here's what I figured out for anyone looking for a workaround:
The .appxupload is the file you're looking to upload. The problem with this is that the name of it is in the form of (APP_NAME)\_(VERSION)\_(TARGETS).appxupload.

To get around this, I created a powershell script that gets run before deploying to App Center. Its working directory should be the same as your MSBuild "/p:Ap

[2019-09-24 23:09] Stereopie opened #1080 "Issue when building Flutter Android App with different main entry point"
I'm currently building a Flutter application through App Center build which works fine when I have a main.dart file in my lib directory, however when trying to use a different entry point for my dev and production builds (main_dev.dart and main_prod.dart) the gradle script fails. Building the APK itself works fine as I can set the target in the build script itself depending on which build I want,

[2019-09-25 00:57] phillipleblanc commented on #1072
@onethread - Did you upload the certificate you generated in step 1 when performing the Register Devices step? That error message means the certificate we tried to use for resigning did not match the certificate originally used to build the app - so most likely you are seeing that issue. If you are continuing to see issues, please contact us via the support chat so we can further debug your issue.

[2019-09-25 02:09] vishnuprakash9845 opened #1081 "I am getting the error “Unable to determine the simulator version for (UDID of mobile) in IOS Automation using C# “"
I am getting the error “Unable to determine the simulator version for (UDID of mobile) “
Steps Followed

1-Added the ENABLE_TEST_CLOUD code in AppDelegate.cs and added the iOS project reference to the UI Tests
2-Selected the IOS Project à Debug|iPhoneSimulator à iPhone 11 iOS 13.0
3-Tried to debug the tests
4-At the line return ConfigureApp.iOS.DeviceIdentifier(“UDID”).AppBundle(“Path of .app”).St

[2019-09-25 03:20] safaiyeh commented on #1079
Platform was set to Kotlin/Java instead of React Native.

[2019-09-25 03:20] #1079 closed

[2019-09-25 06:44] nickfrollo opened #1082 "Carthage Support Build Error"
I have integrated the new Carthage support in 2.4.0 and am getting a build error:

`Undefined symbol: ___llvm_profile_runtime`

I can work around this by enabling "Gather test coverage" in the Test Scheme but it would be preferable to not have to enable this for all targets. Can this be resolved?

Thanks

[2019-09-25 08:21] ivanbogomoloff opened #1083 "iOS project with cyrilic workspace unable to build"
Hello,

I have iOS project with cyrilic workspace name and when i try to connect it project with bitbucket repo -> Configure build -> I get message "We couldn’t find any iOS Objective-C/Swift projects in your branch."

But if i rename workspace to english everything is ok.

I propose to supplement the documentation for this case, or detect cyrilic symbols in project assocated files and show full d

[2019-09-25 10:18] fileman commented on #946
Hi @Zakeelm no problem, I'll try to explain better what I mean, while
if DefaultPartitions.UserDocuments contains 2 ClassX and 3 ClassY, if I use `Data.ListAsync<ClassX>(DefaultPartitions.UserDocuments);` return all items in DefaultPartitions.UserDocuments instead of only 2 ClassX items.

In general using the same approach of EF Core CosmosDB provider can be usefull for access this items from othe

[2019-09-25 10:26] fileman opened #1084 "Blazor Support"
Add support for Blazor especially WASM client-side

[2019-09-25 12:33] bvanderw opened #1085 "AppCenter on iPadOS thinks it is running on MacOS"
I can no longer install iOS releases on my iPad after updating to iPadOS 13. A download button is displayed, but no Install button. If I open install.appcenter.ms, Mac apps are shown on top and iOS apps are shown under ‘Other Platforms’. Opening an iOS app from that page displays a message ‘ This app is not compatible with macOS’.

[2019-09-25 12:37] bvanderw commented on #1085
I see this has already been reported.
https://github.com/microsoft/appcenter/issues/543

[2019-09-25 12:37] #1085 closed

[2019-09-25 12:44] swigrid commented on #553
I’m sorry, I forgot to reply to this one.

I could have spare few minutes tomorrow in the morning London time.

but in the mean time…
how would suggest deal with given scenario:

User logs in one device, there is one token registered
User logs in in second device, there is another token registered

user will receive push on both devices

User uninstalls app on first device, token is left on the de

[2019-09-25 12:50] punksta opened #1086 "Search/Filter on install.appcenter.com"
**Describe the solution you'd like**
Currently apps on https://install.appcenter.ms/apps are sorted alphabetically. I would like to have search/filter
1. by app name
2. by package name/bundle id

**Describe alternatives you've considered**
I haven't considered alternatives

**Additional context**
In the company I work for, we have more than 30 applications, and it’s very inconvenient to scroll eve

[2019-09-25 13:23] jwargo commented on #553
@swigrid the token will be deleted automatically on our side, but I understand your need to validate it on your server side. What I'm proposing to engineering is that when you check push status, we return a list of invalid tokens. this works, I think, because we get that back from the PNS, so we'll know those tokens are bad.

Regarding a chat, can you email me using the email address on my GitHub

[2019-09-25 13:23] jwargo commented on #67
@lewcianci thanks, we'll keep pushing for it.

[2019-09-25 13:25] jwargo commented on #1052
@akiwarheit got it, I'll share this with the PM.

[2019-09-25 13:27] MikeFox87 opened #1087 "Please delete crash reports that belong to a release that has been deleted."
If I delete previous releases of apps, I'm continuing to see the crashes for those releases under Diagnostics.

This is somewhat confusing and undesirable particularly in the case where I've upload a new build using the same version number and I only want to see crashes for that latest release.

I can try to identify crashes for an earlier release and manually mark those as "ignore" or "closed" bu

[2019-09-25 13:28] swigrid commented on #553
That’s good, this way we can clean up our tokens.

Thanks

Roman

Sent from my iPhone

[2019-09-25 13:58] jwargo commented on #617
@jerryhuang-net you have the ability to grab the token and store it away so you know what it is and when it was made. Bad channel essentially means the token expired: https://docs.microsoft.com/en-us/appcenter/push/troubleshooting#bad-channel. You can no longer use it to send to that device. As I understand it, we remove bad tokens once we know they're bad, so this will clean up over time. There's

[2019-09-25 14:14] ram95krishh commented on #288
This is very much needed and would be very helpful if you guys can come up with something. Thanks for raising this request @ajchili

[2019-09-25 14:58] onethread commented on #1072
@phillipleblanc Yes, that was step 8 (although it should say "Upload the provisioning profile created in step 3.")

[2019-09-25 15:28] TomSoderling opened #1088 "Indie-level Test Plan & Pricing"
**Describe the solution you'd like**

I really want to leverage Test Cloud for my app development, but as an indie shop $100/mo for 30hrs of device time is 1.) way too expensive, 2.) way more hours than I would ever need.

Instead, give me a plan that's right-sized. I would jump all over a plan that was $10/mo and gave me 3hrs of device time. Others I've talked to would love a plan that was $50/mo

[2019-09-25 15:50] JesperSjoquist opened #1089 "Increase release notes max length"
**Describe the solution you'd like**
We would like to see an increased max length for the release notes from 5000 to... well, do we need a max length? 100k?

**Describe alternatives you've considered**
Previously when using the API's to upload new versions to HockeyApp the release note max length was longer, or possibly not enforced at all, but with the API's for App Center we hit the limit of 500

[2019-09-25 16:36] nrajpurkar commented on #1052
Thanks for the feature suggestion! I can see how this would be speedier than defining the variables in the UI. We'll track this feature request as a potential future improvement.

[2019-09-25 16:42] Zakeelm commented on #1075
Hey there!

For this bug, I would recommend going to the App Center portal and using the blue bubble on the bottom right of the page for support. This will connect you with an engineer who will be able to do a deep dive into the issues you're having!
Going to close this issue here.

[2019-09-25 16:42] #1075 closed

[2019-09-25 16:45] Zakeelm commented on #1074
Yes! Existing apps will continue to work after moving apps to App Center. Our goal is to provide a seamless pipeline and transition from HockeyApp to App Center!

Hope this helps, going to close this issue.

[2019-09-25 16:45] #1074 closed

[2019-09-25 16:45] swigrid commented on #553
regarding email, this what I have

[2019-09-25 16:53] #1070 closed

[2019-09-25 16:53] baileybrooks commented on #1086
Hello Stanislav, our design team is currently working on this feature. Thanks for your feedback and you should see updates as we make progress on this!

[2019-09-25 16:53] #1086 closed

[2019-09-25 16:59] punksta commented on #1086
cool! thanks

[2019-09-25 17:18] martinarvaiaccedo commented on #464
Hi! Any update on this? Besides Android, we work with Samsung Tizen and LG WebOS applications. It would be good to either support these or simply support the "Custom Platform". Both smart TV platforms are javascript applications.

Parsing the version would be fairly easy for both of the platforms. Both provide an unzippable archives:
- Tizen contains a config.xml with the version in it
- WebOS con

[2019-09-25 17:19] stevedavis7 commented on #536
We are missing this feature as well. We cannot download our symbols from AppCenter.

[2019-09-25 17:30] gautamkrishnar commented on #464
For more info
* Tizen: https://developer.tizen.org/development/tizen-studio/web-tools/configuring-your-app/configuration-editor
* LG: http://webostv.developer.lge.com/sdk/tools/ide/setting-project/

It's better if you can implement signing of lg and tizen applications in appcenter.

[2019-09-25 17:48] nrajpurkar commented on #1080
Hi @Stereopie, we don't officially support Flutter today, so I don't have a ton of guidance to share here. Tapping in @ranterle who may have more insight on the gradle parameters.

[2019-09-25 17:49] nrajpurkar commented on #1082
@nickfrollo can you reach out via App Center support in the bottom-right hand corner please? We'll be able to troubleshoot the issue better there. Thanks!

[2019-09-25 17:53] nrajpurkar commented on #1083
Thanks for pointing this out @ivanbogomoloff. It does look like this is a current limitation. We are going to take a further look into this. I'll update the issue when I have more details.

[2019-09-25 17:57] akshaymathur90 opened #1090 "Incorrect Distribution Shown for Releases"
**The issue**
Distribution group not selected by us when we created the Distribution Release is showing up afterwards as a Destination.

**Steps To Reproduce**
When we created a Release and select testers, we selected "TestNewAppCenter" group only.
![Screen Shot 2019-09-25 at 10 49 38 AM](https://user-images.githubusercontent.com/14307126/65626798-e7403c80-df82-11e9-98fc-00c74c5169a3.png)

However

[2019-09-25 18:18] RamonPage commented on #1071
@onethread Hi! We've made some changes and hopefully that fixed your issue. Could you please try again?

[2019-09-25 18:22] sm1th commented on #643
I am also getting this error when I try to distribute to my Production channel (via my master branch) when I have a previous build in my Alpha Channel (from my develop branch).

[2019-09-25 18:22] jwargo commented on #553
If you click on my name, it should show my email address. it's firstname dot lastname at Microsoft.

[2019-09-25 18:23] TomSoderling opened #1091 "App Center Auth: Support for Sign In with Apple"
**Describe the solution you'd like**
Seeing [this](https://docs.microsoft.com/en-us/samples/xamarin/ios-samples/ios13-addingthesigninwithappleflowtoyourapp/?WT.mc_id=docsmsft-twitter) sparked an idea of being able to use Sign In with Apple as one of the identity providers in Azure B2C and support for it in the App Center Auth SDK.

**Additional context**
<img width="909" alt="Screen Shot 2019-09-2

[2019-09-25 18:37] onethread commented on #1071
It works! Thanks!

[2019-09-25 18:37] #1071 closed

[2019-09-25 19:09] Zakeelm commented on #1090
Hey there!

This doesn't seem like intended behavior, i'm going to assign this to the PM of our Distribution service, who can further help you with this issue.

[2019-09-25 19:17] Zakeelm commented on #1091
Hi!

I believe B2C now supports sign in with Apple: https://github.com/azure-ad-b2c/samples/tree/master/policies/sign-in-with-apple . There are some directions on setting this up on that link. I've also assigned this to the Auth PM on the App Center team, who may have more insight on this.

[2019-09-25 20:10] TomSoderling commented on #1091
Very cool! Thanks - would be interested on @amchew's thoughts

[2019-09-25 22:05] nickfrollo commented on #1082
Hey,

This isn't a support issue, just reporting an issue with how the static libraries are compiled when using via Carthage. You can fix this in the AppCenter SDK by not generating code coverage in the static libraries. This will resolve the above compile error and workaround.

Examples (where I found the workaround too):
https://github.com/erikdoe/ocmock/issues/349#issuecomment-366320480
https:/

[2019-09-25 22:56] akiwarheit commented on #1052
Lit. Thanks fam. Let me know if I can provide more info.

[2019-09-26 00:09] jiberan commented on #993
I think it is crucial to have this capability. In the current implementation of Data service, all logic has to be in the mobile app. This approach might be sufficient for small/simple applications but it is not suitable for more complex application.

[2019-09-26 00:36] blparr commented on #765
This should be totally fixed now. Let us know if you still run into issues. Thanks!

[2019-09-26 00:36] #765 closed

[2019-09-26 00:58] nickfrollo commented on #1082
Sorry I listed this under the wrong project. Moved here- https://github.com/microsoft/appcenter-sdk-apple/issues/1794

[2019-09-26 00:58] #1082 closed

[2019-09-26 01:59] jpeg-ms commented on #1072
@onethread I'm following up from the other side of the chat bubble.

[2019-09-26 05:27] Moccassins commented on #1004
We developed our own way to send our data to HockeApp. With that method, we could change the Version number at runtime like we want. Currently, using the AppCenter SDK there is no way to change the Version number manualy, as i can see, it uses allways the file version. We want to set the Version number to use manual on app startup. For this, we need some method to call at app startup or an extra m

[2019-09-26 07:26] easterapps opened #1092 "Android iOS: support handled exceptions"
Users would like the ability to track handled exceptions for Android and iOS apps. Currently, this feature is only available for Xamarin, Unity Apps and soon for UWP.

[2019-09-26 08:45] jpeg-ms commented on #1072
It appears the certificate used by @onethread was one of the new "Apple Distribution" certificates introduced for Xcode 11. Somehow those were not supported, but we are rolling out a quick fix for this. Closing this issue now. I will follow-up more in the support chat.

[2019-09-26 08:45] #1072 closed

[2019-09-26 08:50] lumaxis commented on #1091
I believe it's already possible to use Sign In with Apple by using a custom OpenID Connect provider, see this guide from the Azure B2C folks: https://github.com/azure-ad-b2c/samples/tree/master/policies/sign-in-with-apple

[2019-09-26 10:12] farlop commented on #801
I think that what we need here is to be able to connect an App Center app to a 'Azure DevOps Server' (on-premises) repository. At this moment only 'Azure DevOps' (cloud) is allowed.

Is there any update on this?

[2019-09-26 11:14] follesoe commented on #970
Awesome to see that you keep this information open on GitHub. Found the answer I was looking for (you are working on Xcode 11 GM + latest Xamarin.iOS support in the current iteration). Keep up the good work with the AppCenter platform! 👍

[2019-09-26 12:12] jahmai commented on #955
I would also like to distribute .aab's through appcenter for testing like you can with .apk's. Whether that's converting the .aab to .apk behind the scenes and distributing the appropriate .apk for a particular device, or somehow be able to distribute the .aab itself to devices.

[2019-09-26 12:16] marklanhamhc commented on #866
I have exactly the same issue, my client can download the app but it remains *greyed out*. I've double checked that the *device has been provisioned*, I've installed the latest provisioning profile and rebuilt the app but he still can't open it. I also checked that he has the *App Center Profile* installed — no issues there either.

This is not a great user experience and I have some high profile

[2019-09-26 12:21] pablocoberly opened #1093 "Android required in-app updates can be ignored"
**Describe the solution you'd like**
When an Android in-app *required* update dialog prompt is made, you shouldn't be able to ignore that update by viewing to the release notes.

Current behaviour:

1. Distribute a required release.
2. Start the app. Update dialog appears.
3. Tap "view release notes". This dismisses the appliation and takes you to browser session to view release notes.
4. Use hard

[2019-09-26 12:28] joncodo commented on #866
@marklanhamhc @ECDev01 I spent so much time trying to fix this issue and discussed it with their devs. the workarounds they gave me did not seem to work. We were forced after a week to switch to testflight. There simply was no way around it.

I think that a service like this will always have issues with keeping up with compatibility with Apple. Apple releases changes that break code constantly. Wh

[2019-09-26 12:36] pablocoberly commented on #1093
This worked perfectly fine in Hockeyapp, for what it's worth.

[2019-09-26 12:40] jwargo commented on #87
@edupxavier I apologize for this, but yeah, background notifications on Android is problematic right now. You can do it in Azure Notification Hubs, but we have some work to do to support it on App Center Push. We're working on getting that in there.

[2019-09-26 12:47] DarkSpikeX opened #1094 "device list android"
**Describe the solution you'd like**
Like in HockeyApp where you could see what devices users have when downloading an app.
For iOS this is already available.

[2019-09-26 12:47] DarkSpikeX commented on #352
Any status update for this?

[2019-09-26 12:51] marklanhamhc commented on #866
Ok thanks for the update @joncodo, it seems we'll have to do the same as we can't afford to wait and there doesn't seem to be any first line support (which we'd happily pay for). Another ruined service from Microsoft.

[2019-09-26 14:40] amchew commented on #1091
Hey @tomsoderling, thanks for reaching out! The Azure Active Directory B2C (AAD B2C) team currently has a feature to have the Sign in with Apple as an Identity Provider on their roadmap, but there's no ETA yet.

Today you can still implement Sign in with Apple with AAD B2C. You do that by selecting "+ New OpenID Connect Provider" in the screenshot below. Sign in with Apple implements the basics of

[2019-09-26 15:04] andredoubleu commented on #689
I second this feature request.  Creating 2 separate apps in App Center for each app that my company publishes seems like a hassle.  It would be much better to just be able to filter diagnostics by debug or release.

[2019-09-26 16:13] ranterle commented on #1080
Hi @Stereopie - as Nilofer mentioned we don't officially support Flutter today - in any case, tracking our main feature request #67 for this will be good.

With regards to the step that is failing: If there is any pre-flighting you can do this would work through one of our [build scripts](https://docs.microsoft.com/en-us/appcenter/build/custom/scripts/) - i.e. correct any paths or configure enviro

[2019-09-26 16:59] elamalani commented on #993
@jiberan We'd like to understand your scenarios and use cases in detail. Would you be willing to hop on a call with us in the coming days? Please let me know and I'd send a meeting invite accordingly. Thank you!

[2019-09-26 18:08] baileybrooks commented on #1094
Hi Ravi, thanks for reaching out. You should be able to see the devices your app is being used on in our Analytics tool under Top Devices.

[2019-09-26 18:08] #1094 closed

[2019-09-26 18:13] dgobaud opened #1095 "GitHub repo address changed yesterday can't reset - build broken!"
I filed a support ticket support is being very slow and unhelpful. Build is broken since yesterday! Randomly for 1 of my apps I had to reconnect GitHub now the GitHub repo link points to an old address from like a year ago! Don't know how to change it don't want to lose my build config Please help! Build won't work.

[2019-09-26 18:17] DennisPan commented on #1095
@dgobaud I found your support conversation. Will reach out there and take a look

[2019-09-26 18:17] #1095 closed

[2019-09-26 19:07] dgobaud commented on #589
please!!

[2019-09-26 19:08] dgobaud commented on #65
please!!

[2019-09-26 19:08] dgobaud commented on #580
really need this one too

[2019-09-26 20:04] TomSoderling commented on #1091
Okay, cool. Thanks for the info!

[2019-09-26 20:05] lumaxis commented on #1064
Thanks for the interest everyone, I just merged a Pull Request that will add the timestamp on this page and it should become available later today 😊

[2019-09-26 20:25] amchew commented on #1091
Np! Will keep this ticket open for a month  to track interest. Feel free to give a thumbs up or comment.

[2019-09-26 21:43] eman1986 opened #1096 "Add support for Android 10 & iOS 13"
**Describe the solution you'd like**
Recently Visual Studio just updated to support both Android 10 & iOS 13, but it seems like that hasn't bubbled up to app center just yet.

**Describe alternatives you've considered**
My only alternative is to not set my code to build for those new version just yet.

**Additional context**
Seeing that Visual Studios has already published a release that supports

[2019-09-26 21:57] nrajpurkar commented on #1096
Hi @eman1986, to clarify is this for building Xamarin apps or something else?

[2019-09-26 21:58] Drenet opened #1097 "Android SDK Include Custom Session Info with Crashes"
**Describe the solution you'd like**
Please add/allow the ability to include custom information of the doomed session with Crash Reports. The existing getErrorAttachments() is not invoked until the subsequent launch, at which time relevant cache/memory information is no longer available. HockeyApp SDK included getDescription() within its CrashManagerListener which could easily be used for this pur

[2019-09-26 22:04] nrajpurkar commented on #728
Closing this as we closed out #37

[2019-09-26 22:04] #728 closed

[2019-09-26 22:18] lumaxis commented on #1064
This is now live! Thanks y'all for the suggestion 👍🏼

[2019-09-26 22:18] #1064 closed

[2019-09-26 22:57] #784 closed

[2019-09-26 22:58] stevedavis7 opened #1098 "Bug: Refreshing on the analytics tab, reverts to all versions"
-In App Center select Analytics
-Select a particular version and see the stats
-Now refresh the browser
Bug: the version popup still says the version that you selected but the data is incorrect. The data is for all versions

[2019-09-26 23:38] eman1986 commented on #1096
sorry, yes it is for Xamarin.

[2019-09-27 00:16] nrajpurkar commented on #1096
We are working on support for latest stable Xamarin versions at the moment! It's been added to our iteration plan at #970

[2019-09-27 00:26] eman1986 commented on #1096
That's great to hear :smile:

[2019-09-27 00:34] ECDev01 commented on #866
Bro, in regards of the "Greyed Out" issue, you know this is because the cert in the provisioning profile is different with the provided to provision the device, is that clear? Well, now you know the problem however you probably have checked your provisioning profile and the cert to provision your client device and you are pretty sure they are the same, I would say it seems they are the same but no

[2019-09-27 05:48] DennisPan commented on #1083
@ivanbogomoloff Could you reach out to support from App Center portal about this? We likely need more details, as I wasn't able to reproduce it.

[2019-09-27 08:24] ivanbogomoloff commented on #1083
I will be able to do in the next 2 weeks

I will be able to do in the next 2 weeks with sample ios project

[2019-09-27 09:24] OmidID opened #1099 "Add custom property when application crashed"
For some reason, it's good to have extra information when the application is crashing, As an example logged in username or Id.

I can see custom property exists when we want to send exception trace but this is not the case when the application is crashing. It's good to have some default set property at initializing time then we can see the value of property all the times in any crashes.

I can see

[2019-09-27 09:49] Jjagg commented on #860
Hey @amchew! Any update on this?

[2019-09-27 10:20] Oddj0b commented on #1021
Thank you for reporting the bug. I will triage it with the team.

[2019-09-27 11:09] dalemyers opened #1100 "Webhooks should include the owner name and app name"
**Describe the solution you'd like**
For web hooks, they should have the owner name and the app name as values. If you have multiple apps that send to the same endpoint, you can't tell which app the hook came from.

**Describe alternatives you've considered**
Manually adding GET parameters to the hook URL for each app (but this means dealing with GET and POST data rather than just POST data).

[2019-09-27 12:42] fernandotcl commented on #133
Hi @winnieli1, is there an issue tracking the progress of removing this silly dependency? I don't know if I'm more amused or annoyed.

[2019-09-27 12:54] jwargo commented on #1084
@fileman can you please provide some more detail as to what you're looking for?  What service are you talking about? what support do you want?

[2019-09-27 13:34] fileman commented on #1084
Based on [this](https://github.com/microsoft/appcenter/wiki/Roadmap) services I'm talking about Auth, Data and Notification, they are good candidate for a SPA Blazor Client-Side running on WASM.
On Blazor Server-Side they aren't necessary since we can be use AzureADB2C.UI, EF Core with CosmosDB provider

[2019-09-27 13:37] jwargo commented on #772
@amrutha786 this was fixed a while back, closing the issue.

[2019-09-27 13:37] #772 closed

[2019-09-27 14:10] abhilashkgowda opened #1101 "IPA processing failed in Xcode 11"
Assertion failed: Expected 4 archs in otool output:
/var/folders/y8/x7dbsn8d23vcyzyknl7ljjl00000gn/T/IDEDistributionOptionThinning.~~~95y04K/Payload/MAA DEV.app/Frameworks/HaloMem.framework/HaloMem:
Mach header

[2019-09-27 14:59] NunoPeixotoPrimavera opened #1102 "Strong name nugets"
When we can have the nugets strong name signed?

[2019-09-27 15:01] jwargo commented on #1084
Had to make sure I understood what you meant, found this article: https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-3.0. I imagine we'd have to get to web support first, but I'll share this with the PM team to track.

[2019-09-27 15:36] fileman commented on #1084
Yes, is "Asp.Net Core" Blazor ["Client-Side"](https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.0#blazor-webassembly) is something similar to WPF and WinForms, since it was executed into client browser on mono runtime webassembly.
In [roadmap](https://github.com/microsoft/appcenter/wiki/Roadmap) there is in General support for SPA (single page apps) and Blazor is

[2019-09-27 16:20] DanielGlick45 commented on #574
+1

[2019-09-27 18:00] winnieli1 commented on #1092
Hi @easterapps - thanks for submitting an issue. We have plans to bring handled exceptions support to Android very soon. No immediate plans for iOS yet but I'll keep this thread posted when I have updates.

Thanks!

[2019-09-27 19:40] KthProg commented on #829
@Agitto I really hope that's not the case since I'm using .NET Core 2.0 :(

[2019-09-27 19:42] KthProg commented on #829
So I noticed when I installed the new package from Nuget, the project was actually rewritten to use 3.0.3 instead???

[2019-09-27 21:54] stephent commented on #902
Agreed - this is a big gap. Without it, MS App Center diagnostics are a rather a dead end for crash reports. I'm disappointed not to see it in place prior to having migrated from HockeyApp, where we'd had this capability for years.

[2019-09-27 22:14] amchew commented on #637
Hey @gaurap, thanks for reaching out! The experience is easy when you connect your Firebase project to Auth, you just have to input the project id and we'll collect all the information from Firebase. You won't have to input `client_id` or `client_secret`.

Here's a sneak peek of how it looks like:
![image](https://user-images.githubusercontent.com/33160470/65805018-ef41dd00-e138-11e9-86f1-4d0f5f5e

[2019-09-27 22:26] Zakeelm commented on #1101
Hey there!

I'm assuming this is a bug you're getting. If that's the case, I recommend using the blue button the bottom right of our portal, which will start a thread with our support team!

[2019-09-27 22:29] Zakeelm commented on #1097
Hey there!

I've assigned this thread to the product owner of Diagnostics on our team for visibility. She'll take a look at this and investigate accordingly

[2019-09-27 22:31] Zakeelm commented on #1099
Hi there!

I can definitely see why this would help when application crashes. I'm going to add the product owners of our Diagnostics service to that they can look into this further.

[2019-09-28 03:55] msdof commented on #458
any plan for this request? @winnieli1

[2019-09-28 11:13] georgegillams commented on #397
I agree that documenting its purpose is a good move, but having an option to regenerate/revoke still seems pretty important functionality.

[2019-09-28 18:35] tallior opened #1293 "Add support for capturing ANRs on Android"
On Android, apart from crashes, users may experience an [ANR](https://developer.android.com/topic/performance/vitals/anr) (app not responding).
This happens when too much 'work' is done on the app's main thread.

It could be a great to be able to track these ANRs together with app crashes in the same system, as it is closely related to crashes and both of these metrics together give a clearer pict

[2019-09-28 19:54] jrahma opened #1103 "Diagnostics Dashboard"
Hi,

It will be great if you add a diagnostics dashboard which will be the home page for the Diagnostics options where developer can decide what to show

For example, most of the times, Errors are not as critical as crashes so developer might decide to show only diagnostics list and the crashes chart (without the Affected users chart) and only for Open cases.

Thanks,
Jassim

[2019-09-28 20:06] amartens181 commented on #876
@chrisforte did you figure out the problem? This is still happening in 2.4.0-preview.

[2019-09-28 20:14] wedol commented on #876
Same for me. I am using EF Core 3.0 with sqlite provider (witch uses SQLitePCLRaw.bundle_e_sqlite3 (2.0.0)) and AppCenter crashing on
`[AppCenter] ERROR: An error occurred while initializing storage
System.MissingMethodException: Method not found: 'System.String SQLitePCL.raw.sqlite3_column_name(SQLitePCL.sqlite3_stmt, Int32)'.`

With this sqlite dll hell give us a way to change default storage us

[2019-09-29 07:17] catlan commented on #1084
I would be very interested in the diagnostics part of App Center for Blazor client-side apps.

[2019-09-29 10:37] baldursson opened #1104 "Build errors on Android for React Native 0.60.5"
I can't get my Android app to build on App Center after upgrading to React Native 0.60.5. I always get the same error:

Android NDK: ERROR:/Users/vsts/agent/2.155.1/work/1/s/node_modules/react-native/ReactAndroid/src/main/jni/first-party/hermes/Android.mk:hermes: LOCAL_SRC_FILES points to a missing file

This task always succeeds when building the app for release on my local computer and when look

[2019-09-30 01:11] marikavertzonis commented on #774
The addition of iOS simulator as a package distribution option in AppCenter is important to my team. We use AppCenter primarily for the distribution functionality and have .app packages for iOS we need to upload.

[2019-09-30 01:43] marikavertzonis commented on #987
My team uses AppCenter primarily for distribution. We create apps of platform type:
 - Windows Desktop (visual c++ desktop apps)
 - UWP
 - macOS
 - Ubuntu
 - iOS
 - iOS Simulator
 - Android
And we also produce variants of some of these of x86 and x64, resulting in easily 10 'releases' for every app. Currently there is no option for the Windows Desktop app, Ubuntu and iOS Simulator for us.

[2019-09-30 07:15] bencmorrison opened #1106 "Issue when attempting to transition app from HockeyApp to AppCenter"
I am attempting to move my organisation's applications to AppCenter. My account is listed in an owners group and is applied to all the applications we want to move to AppCenter. However when I attempt to transition the applications I am given a pop up that says I need to have an own of an application move the application to AppCenter. We don't have a direct owner as we have had the organisation se

[2019-09-30 07:35] derpixeldan commented on #1106
@bencmorrison can you please reach out to us in support and mention this issue. Let us know which organization you're talking about and we'll look into it.

[2019-09-30 08:36] robkite opened #1107 "Build configuration page does not load - 500 error in browser console"
We have an iOS Xamarin project that the App Center has been providing build and release for some time now (> a year).

We cannot currently open the build configuration page to change our provisioning profile etc. etc. and are rather stuck. Re-adding the same project as a new App sees the same issue, as has removing the existing build configuration and attempting to add a new one.

We always see a

[2019-09-30 08:40] dalemyers opened #1108 "There's no way to set an annotation via the API without also setting the error group state"
**Describe the solution you'd like**
When sending a PATCH to `/errors/errorGroups/{errorGroupId}`, the `state` property should be optional. Otherwise, you need to know what state the group should be in order to set an annotation.

**Describe alternatives you've considered**
You can read the state and then set it, but this has 2 problems:

1) It requires an additional API call
2) It has inherent ra

[2019-09-30 08:43] JanabiSoft opened #1109 "Provide a crash and bug reporting SDK"
**Describe the solution you'd like**
Provide a crash and bug reporting SDK similar to for e.g. Instabug.

**Describe alternatives you've considered**
Instabug.

[2019-09-30 09:43] maku99 commented on #563
Guys, we are still waiting for your fix. Any news on this ?

[2019-09-30 10:08] james1301 opened #1110 "Option to Send Screenshot of time of Application Crash"
**Describe the solution you'd like**
Take a screenshot at the time of Application Crash to provide extra insight into what the user was doing at the time of the crash. I see you can add these at the time of of sending the error report, but I don't see any place to actually take the screenshot to then add to the error report on restarting the application?

**Describe alternatives you've considered*

[2019-09-30 11:45] Zhogolev opened #1111 "Add flutter"
Avoid getting flutter on each build.

[2019-09-30 12:29] christofferengstrom opened #1112 "Stop sending emails when disabled"
**Describe the solution you'd like**
Stop sending emails when a user have disabled email notifications.

**Describe alternatives you've considered**
To add a link to unsubscribe within the email.

**Additional context**
I receive an email every time my colleague moves an app from HockeyApp to App Center, even if I have disabled email notifications in both HockeyApp and App Center.

[2019-09-30 13:35] marklanhamhc commented on #866
Hi @ECDev01, thanks for your response, we have since managed to resolve this issue.

It seems there was a problem with the **iOS Team Provisioning Profile** not being updated. To fix I opened **Xcode** and went to **Preferences**. I then went to **Manage Certificates** and then added a new **Apple Development** and **Apple Distribution** signing certificate (plus sign, bottom left of the drop down

[2019-09-30 13:44] michaelrobayoGasTag commented on #563
I am also eagerly waiting for this fix, it was very very good at helping me determine visually where the app crashed and what state the UI was in when it did.

[2019-09-30 14:14] nielscup commented on #1019
Any progress on this issue? I can't reproduce failed UItests on small devices because of this issue. I have to restart VS each time it decides to run our tests on a different simulator. Target device in UITests pad is set correctly, even if build config is set to iPhone VS still decides to launch the simulator.

[2019-09-30 14:23] dzmitrykavalchuk opened #1113 "Ability to configure columns in Release history"
Hey Guys,

Our team is building a significant number of builds each day, having different versions. Currently it's really difficult to understand which version this or that build is, cause version name cannot fully fit the with of column.
https://drive.google.com/open?id=0B8aY6IzbQ01oamJRQVJyQnF2WXRLVGdXUUlXV25fUG5ITmdJ

Is that possible to
a) make the set up of columns configurable
b) add ability

[2019-09-30 14:52] nielscup commented on #1019
Additional info:
When testing on a real device, I noticed that if you right click a UITests in your testpad and select "Run" the simulator starts.
If I select "Debug", the UI test starts on the correct device. If I select a different UITest and select "Debug", the simulator (sometimes?) starts again.

If I restart the UITest to quickly I get the Xamarin.UITest.XDB.Exceptions.DeviceAgentException.

[2019-09-30 15:35] nrajpurkar commented on #1111
Hi @zhogolev, thanks for this feature request! We actually already have an issue for this at #67. Closing this one out to just have one issue tracking this.

[2019-09-30 15:35] #1111 closed

[2019-09-30 15:47] nrajpurkar commented on #1107
Hi @robkite, thanks for opening this issue. We're taking a further look. Could you also open a support issue via App Center support. This will help us if we need any further details. Thanks!

[2019-09-30 15:48] fileman commented on #946
Precisaly [this](https://docs.microsoft.com/it-it/ef/core/providers/cosmos/#embedded-entities) way:
"Id": 1,
"Discriminator": "Order",
"id": "Order|1"

[2019-09-30 16:04] robkite commented on #1107
Have already done and have linked to this issue.

[2019-09-30 16:20] JPSiller commented on #517
@nrajpurkar Hi! Given that Xcode 11 is in production release now, do you have an ETA to be available for Xamarin builds?
Thanks

[2019-09-30 16:32] nrajpurkar commented on #517
@JPSiller yep, we're tracking this in #1096 and was just enabled today!

[2019-09-30 16:33] nrajpurkar commented on #1096
We've enabled support for latest Xamarin versions! You can update your configurations to use these versions now 😄

[2019-09-30 16:33] #1096 closed

[2019-09-30 16:40] JPSiller commented on #517
@nrajpurkar Awesome thank you!

[2019-09-30 17:50] nrajpurkar opened #1114 "Iteration Plan for October 2019"
# October 2019 Plan

All aboard the Xcode beta train as it pulls into the final GA station. We continually updated Build to support these versions for Swift/Obj-C and React Native apps and added stable support for Xamarin.iOS apps. Additionally, we shipped two major Build requests - building from self-hosted GitLab repos and support for Xamarin.iOS app extensions. You can now better see informatio

[2019-09-30 18:42] nrajpurkar commented on #801
@farlop, no update on this at the moment. We're continuing to track interest in this feature request.

[2019-09-30 18:42] DennisPan commented on #1107
If you are running into the same, could you let us know if your repository is also in Azure DevOps?

In the meantime, please reach out to support so that we can take a deeper look into your app 🙏

[2019-09-30 18:49] onethread commented on #1072
Confirmed that the fix now works. Thanks all!

[2019-09-30 18:58] iageoghe commented on #1056
@beeradmoore I actually can't duplicate this with a mouse up event. What browser are you using? Do you have any extension turned on that might impact this behavior?

[2019-09-30 19:43] ndahlquist commented on #454
We (Leia, Inc) are in the process of transitioning from HockeyApp to App Center, and would also love to see support for this feature. Since we use App Center for regular (nightly) builds, our App Center diagnostics dashboard is quite difficult to manage without this. Thank you!

[2019-09-30 20:37] anoop4real commented on #543
Any solution to this... i tried updating the settings in iPadOS safari...didnt work. The ipa is always downloaded to the iCloudDrive

[2019-09-30 20:40] yilunx-flurrydev commented on #1055
I have the exact same issue as you. Can you share what is the frame you found that cause the issue?@tamassengel

[2019-09-30 20:59] yoannchaudet commented on #1057
@valerianb Only our portal limits you to the top 3 OS in the distribution. You are only a [quick API call](https://openapi.appcenter.ms/#/analytics/Analytics_OperatingSystemCounts) away from getting the full list ;).

[2019-09-30 21:09] blparr commented on #1113
Thanks for your feature request! We will take it into consideration when planning next set of improvements.

[2019-09-30 21:10] blparr commented on #1112
So sorry to hear that you are experience this. I notified the team and we will try to fix this issue asap.

Thank you for making us aware!

[2019-09-30 21:12] blparr commented on #1110
Hello, thanks for your question - my colleague @winnieli1 will help you with this.

[2019-09-30 21:13] blparr commented on #1109
Hello @JanabiSoft , we already provide crashes and errors reporting SDKs. I'm not sure what you are referring to, could you elaborate?

Thanks!

[2019-09-30 21:14] blparr commented on #1108
Thanks for sharing that. We will be taking it into consideration for future improvements.

[2019-09-30 21:15] blparr commented on #1104
Hello @baldursson! Have you tried contacting customer support (blue chat button in the App Center portal)?

[2019-09-30 21:16] blparr commented on #1103
Thanks for your feature request! We will take it into consideration for future improvements.

[2019-09-30 21:17] blparr commented on #1100
Thanks for your feature request, we will be taking into consideration for the upcoming improvements!

[2019-09-30 21:18] blparr commented on #1098
Thanks for your bug report - I'll notify the team and we will fix as soon as we can.

[2019-09-30 21:58] StarTether opened #1115 "Add Filter to Main User-Focused Page"
**Describe the solution you'd like**
When viewing the AppCenter (HockeyApp) app on my phone, I would like to have a filter in the upper-right for filtering down the apps shown in the list. For example, I keep forgetting that "Teams" is actually "Microsoft Teams" and navigating to it is a pain on my phone, especially with so many insider apps shown.

**Describe alternatives you've considered**
The

[2019-09-30 22:02] Zakeelm commented on #1066
Glad this was resolved. That's a great idea. I'll add this information to the docs. Definitely the best way to validate things are all set up. Thanks for the feedback, i'm going to get that added and close this issue!

[2019-09-30 22:02] #1066 closed

[2019-09-30 22:03] Zakeelm commented on #800
This work has been complete! We're working on implementing CRUD functionality in the App Center Portal.

[2019-09-30 22:03] #800 closed

[2019-09-30 22:19] chrisforte commented on #876
I submitted this through AppCenter support as well, hopefully they'll look into it. In the mean time, here's how I've been getting around this issue:

On projects that have a pre-existing dependency on SQLite (`System.Data.SQLite`), use the Nuget PowerShell command line to install the AppCenter packages and dependencies with the following commands (in this order):
`Install-Package Microsoft.AppCen

[2019-09-30 22:57] alexeSGN commented on #645
Migrated HockeyApp Apps seem to default to the OS native platform types, which hides managed errors reported by the App Center Unity SDK on the app Diagnostic page. Platform switching should be enabled for all projects, or facilitated (and explained) during migration.

[2019-09-30 23:27] beeradmoore commented on #1056
@iageoghe , I am able to replicate it in macOS (10.14.6) on both Edge (Chromium dev, version 79.0.279.0) and Safari (13.0.1). Both in incognito mode with 0 extensions loaded.

[2019-10-01 02:03] TomSoderling commented on #1066
Thanks!!

[2019-10-01 02:34] MSFTjarredM opened #1116 "Android App Cancel Download"
**Describe the solution you'd like**
End users need the ability to cancel downloads from the Android notification when they attempt to download a Hockey App/App Center Beta program.  Without the ability to cancel the download, it will stay on your phone (potentially for hours) until you get back on dependable WIFI.

**Describe alternatives you've considered**
Alternatives would be similar to the w

[2019-10-01 03:20] MaximePost commented on #970
Critically waiting on that basic functionality to actually work

[2019-10-01 03:23] MaximePost commented on #182
It's now october and we are still waiting to migrate about 50 apps due to this issue. I hope they keep HockeyApp active another 6 months at least to leave time to test the migrations.

[2019-10-01 06:49] tamassengel commented on #1055
@yilunx-flurrydev It was an earlier version of the FoxitRDK framework. I downloaded the latest version again and it works perfectly now.

[2019-10-01 07:44] Brosten commented on #574
+1 from me!
About to start UI testing out Android/iOS Xam-forms app. 100% Development on Windows. Setting all up to connect to TFVC (yes, we are moving to git, but not yet) is a mess on Mac. Any status or timeplan for this feature would be great!

[2019-10-01 07:55] wedol commented on #876
@chrisforte This workaround not working for me. Maybe because EF core uses SQLitePCLRaw.bundle_e_sqlite3

[2019-10-01 08:16] valerianb commented on #1057
Oh, awesome. Thanks.

[2019-10-01 08:27] mzhukovs commented on #574
@Oddj0b I hear soon that we'll be able to plug an apple device directly into our Windows machine for debugging, this feature request seems like it would align nicely with that. What are your thoughts on this having a chance at making it into the roadmap?

[2019-10-01 08:59] baldursson commented on #1104
@blparr I have now, thank you 😊

[2019-10-01 09:19] ECDev01 commented on #866
Great you fixed it! Good to know this as well, thanks.

[2019-10-01 09:51] JanabiSoft commented on #1109
Hello @blparr I mean a mechanism for users to fill a form to report a bug or give a feedback about the app similar to instabug.com or buglife.com offering.
Regards

[2019-10-01 11:55] mackayn commented on #150
@winnieli1

Thanks for the update, our UWP app i no out in the wild and we're flying a bit so this will be really helpful.

[2019-10-01 12:44] jwargo commented on #315
If anyone's interested in this feature, please vote here for this and reach out to me privately to arrange a discussion about the app or apps you're building that need this feature. I want to make sure I know as much as possible about your needs as we craft the requirements for this feature.

[2019-10-01 13:01] james1301 opened #1117 "User and Custom Property information in Analytic and Diagnostics"
**Describe the solution you'd like**
User information in Analytic and Diagnostics. So you can filter by custom properties and user. We might set custom properties for the Client (as we are B2B).

**Describe alternatives you've considered**
N/A

**Additional context**
Finding out which client is getting the errors allows us to get in touch and investigate as they have their own infrastructure.

[2019-10-01 14:59] landenlabs2 opened #1118 "Disable email notifications per people or group"
We need a way to disable the email notification when apps are updated.
We build and post apps as part of our continuous integration build server and are getting too many email notifications.

Need a way to
- disable all app update notifications
- allow users to opt in/out of app update notifications.

[2019-10-01 16:10] vyasknellutla commented on #819
Hi @wamry we usually only provide direct support through our support portal since there we can troubleshoot the issue while also keeping your application data private in the process (something we can't do on a public form like this).

However, we do have documentation and guides posted on our [docs page](https://docs.microsoft.com/en-us/appcenter/) if you are looking to troubleshoot the issue inde

[2019-10-01 16:24] nrajpurkar commented on #30
We've completed support for this! Please try it out, and let us know if you have any feedback 😁

[2019-10-01 16:24] #30 closed

[2019-10-01 17:02] gmerinojimenez opened #1119 "Given a public distribution group, provide urls for each release"
In HockeyApp it was possible to have an url pointing to an specific release. But in AppCenter there is only a link to the distribution group and there the list with all the releases.

We would like to have a way to keep a reference (an url) to a release from a distribution group. Otherwise we will need to change our distribution process.

[2019-10-01 17:33] yilunx-flurrydev commented on #1055
Thank you for your response.

On Mon, Sep 30, 2019 at 11:52 PM tamassengel <notifications@github.com>
wrote:

[2019-10-01 18:47] TomSoderling commented on #1048
Trying to think back, I just followed the flow in the App Center portal, Data section. I suspect that the Azure subscription I used already had an Active Directory tenant, so that's what it created the B2C tenant in a different directory. Does that make sense? Is that possible?
Happy to discuss more - I really struggled with this issue for the first week + of trying to get this to work

[2019-10-01 19:04] pkhandelwal-cdl commented on #970
Looks like support for building Xamarin.iOS for XCode 11 is now live! Thank you AppCenter team for the quick turnaround!!

[2019-10-01 20:33] lamathe commented on #31
Hi @winnieli1 do we have an ETA on this?

[2019-10-01 21:00] wamry commented on #819
@vyasknellutla thanks for your reply, i figured out the solution, it's got something to do with the release signing option in gradle file, your doc page are missing a lot of information.

[2019-10-01 21:07] blparr commented on #1109
I see - unfortunately, we are not planning to offer a functionality to provide feedback in App Center.

[2019-10-01 21:39] beeradmoore commented on #30
I was super pumped to try this but AppCenter appears to be down :(

![Screen Shot 2019-10-02 at 7 35 20 am](https://user-images.githubusercontent.com/904737/66002720-a9de3080-e4e7-11e9-8781-db15ff5e0362.png)

[2019-10-01 21:42] littlefyr opened #1120 "Syntax issues with Swagger API"
I'm trying to use the Azure AutoRest tool to create a Powershell module for the App Center api and I've found a number of issues with the swagger JSON, and fixed them:

- The version is `preview` which is not a valid SemVer value. changing it to `0.0.0+preview` fixes it
- `Schema 'CrashGroupChangeStatus' is declared with invalid type 'undefined'`
- `Schema 'CrashGroupStatusEnum' is declared with i

[2019-10-01 22:19] willbuildapps commented on #30
Awesome thanks for the update @nrajpurkar

[2019-10-01 23:00] tjsomasundaram commented on #1115
Thank you for adding this feature request! I will take this back to the team so we can review the feature and add it to the appropriate backlog.

[2019-10-01 23:02] tjsomasundaram commented on #1117
Thank you for creating this feature request! Your input is valuable to us, and I will take this feature back to the team to be reviewed.

[2019-10-01 23:09] tjsomasundaram commented on #1116
Thank you for creating this feature request! This is great input, I will take this back to the team for review.

[2019-10-01 23:33] tjsomasundaram commented on #1118
Thank you for this feature request! We value your input, I will take this feature request back to the team for review.

[2019-10-01 23:45] bencmorrison commented on #1106
I was unable to find out the correct way to reach out to support. I was only able to find the knowledge bases, would you be able to point me in the direction of contacting support?

[2019-10-02 00:09] glittle commented on #189
When using the "Configure build" button in App Center, it simply says "We couldn’t find any React Native Android projects in your branch."

How can I get App Center to use the expo Reactive Native code?

[2019-10-02 00:27] gestrich commented on #31
I understand some in this thread instead want to upload arbitrary text helpful for diagnosing issues. I think that could be useful and seems to be the focus of this thread.

But if you want to upload actual crash logs for crash symbolication, you can use the below API:

https://openapi.appcenter.ms/#/crash/textError_upload

I'm using that API now in testing. But I'd like to see that match Hockey's

[2019-10-02 01:54] Zakeelm commented on #799
Update on this: We're still ironing out some of the kink in our free tier. We're still currently heads down on the investigatory work. Should have more details on an ETA for this work item on a later date.

[2019-10-02 01:57] Zakeelm commented on #660
Update: We've recently shipped 2/3 features for this item. Today, you can now utilize the Metrics view to see various metrics associated with your app such as Avg. throughput / second, Data Size, etc. You can also see read and write latency charts. The last piece of this work is the traffic map, which shows where throughput is occurring on a map so you can get a gauge on where your customers are a

[2019-10-02 02:20] Zakeelm opened #1121 "Data Change Notifications in App Center Data"
Using App Center Data and App Center Push, you will have the ability to subscribe to document changes. This work will enable the client to receive silent notifications of data updates with a payload of the id of the document(s) that changed and a timestamp of when the change occurred. You can also register a method that is called with the payload on receipt of the notification.

[2019-10-02 05:37] tjsomasundaram commented on #1119
Thank you for your feedback! I will take this back to the team and see how we can address your issues as soon as possible.

[2019-10-02 05:41] tjsomasundaram commented on #1120
Thank you for the feedback and noting the details of the issues above! I will take this back to the team so we can address these and any other issues we find in the Swagger API.

[2019-10-02 08:32] andrekiba commented on #182
Same problem also here and we have to migrate more than 400 devices...I'm looking at this issue since when was open in March and now it's the time to have an answer. The transition doesn't work because you have to login in AppCenter after the update, and obviously this thing is impossible and unthinkable, for example our users are drivers all over Italy. Not only, in our case we have dedicated dev

[2019-10-02 09:47] dfiggtns opened #1122 "Display the App Id on the App Settings page"
**Describe the solution you'd like**
It would be very useful have the App Id (the one used in the url) shown on the App Settings page, as well as the App's Name.

**Describe alternatives you've considered**
N/A.

**Additional context**
While trying to set up the fastlane-plugin-appcenter plugin, I kept getting the message when I tried to upload the ios version of my app:

    Platform does not mat

[2019-10-02 13:01] jzeferino opened #1123 "Crashes.TrackError properties"
Hi there, I can't find any documentation for the parameter `properties`.

The thing is that I am creating a dictionary with some `key` and `values`, but I noticed that the values are being cut off. There is any limitation to the size of the `values`?

Where can I find more detailed documentation?

[2019-10-02 13:30] kierangmst opened #1124 "Build fails to find the jetifier package for React Native if node_modules is not in the root folder"
**Describe the solution you'd like**
Have the jetifier package installed on the build machines and executed from there, instead of the current project's node modules.

**Describe alternatives you've considered**
1. Use the directory of the project json as the location for node_modules
2. Search for the jetifier package within the project.

**Additional context**
Our mobile project is not in the ro

[2019-10-02 13:35] jzeferino commented on #1123
Well, after taking a look at the code my conclusions are:

[TrackError function](https://github.com/microsoft/appcenter-sdk-apple/blob/6d2698f37debef3d1ff43201e51e27f7df7fd36b/AppCenterCrashes/AppCenterCrashes/MSCrashes.mm#L1281) calls [validateProperties](https://github.com/microsoft/appcenter-sdk-apple/blob/d3eb6c942c39be49a6363f28c86f799eb5c1f5c0/AppCenter/AppCenter/Internals/Util/MSUtility%2BP

[2019-10-02 14:12] NunoPeixotoPrimavera opened #1125 "Strong Sign the assemblies (in nugets)"
For those who have strong signed applications is necessary to have strong signed dependencies, so this is a problem for us.
You could even make a version of strong signed nugets available, and one as it currently exists

[2019-10-02 14:16] DennisPan commented on #1124
Thanks for reporting this! The intention was to use the package.json directory, but we have a bug. Working on the fix.

[2019-10-02 14:22] DennisPan commented on #1107
We figured out this is caused by latency in certain apis when it comes to larger repositories. When this happens, `/toolset_projects` api times out (currently 30 seconds). To address this properly, it becomes couple features, which we will look into. For short term mitigation, we can whitelist certain applications for a workaround we have in place. For anyone has a need of it, please reach out to

[2019-10-02 14:22] #1107 closed

[2019-10-02 14:25] NunoBem commented on #698
What's the feedback about this? @winnieli1

[2019-10-02 14:35] nrajpurkar commented on #796
We continued to roll out betas and are supporting the GA release. Closing this out!

[2019-10-02 14:35] #796 closed

[2019-10-02 16:44] lamathe commented on #970
@nrajpurkar Do you have an ETA for the issue under Diagnostics > API to upload custom crashes ?

[2019-10-02 17:39] winnieli1 commented on #970
Hi @lamathe - we should have the endpoint available in the next few weeks!

[2019-10-02 17:42] bo3po commented on #30
Did anyone try this? I get the same error as before... Like before the UI sees that I have a extension in my code. I upload the provision profile, appstore ready. The UI seems to forget the profile. I run the build. And I get the same error as before. Any thoughts?

Regards
Bo

[2019-10-02 17:49] DennisPan commented on #30
@bo3po could you reach out to support via App Center portal? Would be great to collect more information and dig deeper into what you are seeing

[2019-10-02 17:50] DennisPan commented on #1124
@kierangmst Could you re-save your branch configuration and try again?

[2019-10-02 17:53] bo3po commented on #30
I have done so. When I get it working I will share it here. Might be something easy. But the error is the same that the build system is unable to find the provision profile even after I have uploaded it. The UI seems to forget the profile also. When I return to the build to see the configuration the profile is gone. No idea why. I can try with another browser. I use Chrome.

[2019-10-02 18:00] kjteske commented on #664
We also use the native app a lot - especially for viewing stack traces linked to the git repository with relevant code.

[2019-10-02 18:10] smpeleato commented on #664
+1 for this. I really value the native app, especially for reviewing crash reports, and it'll be a big loss when it's not available.

[2019-10-02 18:42] gadu commented on #395
a big +1 for this feature as well. we currently have scripts that download cached builds and only build invalid dependencies, then upload again so the next person won't have to build anything. Rome makes this very easy (https://github.com/tmspzz/Rome).

while we can get these scripts to run and and function as expected, the fact that `carthage bootstrap` is called every single time means we aren't

[2019-10-02 18:46] BrunoBlanes opened #1126 "Publish to UWP Store"
**Describe the solution you'd like**
I would like to use AppCenter to publish UWP apps to the Windows Store.

[2019-10-02 18:57] jiberan commented on #993
@elamalani sorry for the late response. Sure, but I'm out of office until 10/10. It is ok to have call after that?

[2019-10-02 19:17] gadu commented on #83
fastlane builds would also indirectly unblock support for caching dependencies (https://github.com/microsoft/appcenter/issues/442) since there are a variety of caching plugins available for fastlane already (https://docs.fastlane.tools/plugins/available-plugins/)

[2019-10-02 19:22] KthProg commented on #274
This seems to be an issue again with the release of xcode 11

[2019-10-02 19:22] KthProg commented on #274
@Oddj0b

[2019-10-02 19:49] leoniDEV commented on #1126
This is a duplicate of this #383

[2019-10-02 19:59] KthProg commented on #829
@Oddj0b I'm still seeing this issue although it is on a .NET Core 2.0 unit test application as @Agitto  mentioned.

[2019-10-02 20:08] botatoes commented on #182
Hi all, just a quick update. We will be deploying this to prod today.

Login is no longer required for in-app update for public distribution groups when cookies are not present

Note: For iOS while login is not required, Apple has a default dialog that will have to be dismissed to kick in the public flow.

[2019-10-02 20:11] bo3po commented on #30
Good news! In collaboration we have found the error. Seems to be related to Bitbucket repos. They will fix it soon and deploy the fix...

[2019-10-02 20:22] AndrewBryanScott commented on #182
Brilliant will give it go in the morning and get back to you

[2019-10-02 20:46] botatoes commented on #1125
Hi, thanks for the feature request. Can you please explain a little bit more what you would expect for the solution?

[2019-10-02 20:48] botatoes commented on #1126
Closing this one and keeping track of 383

[2019-10-02 20:48] #1126 closed

[2019-10-02 21:14] mkhalid195 opened #1127 "Ability to Upload Windows zip folder to AppCenter"
Hi,

Our Team creates daily builds for Windows platform and upload them to hockeyapp. It was a 2 step upload procedure where we use to create a version and then upload the zip in that version through APIs. This is no longer supported on appcenter. When our team upload zip file manually on appcenter we get the following error:
" version couldnot be created from build".
We also tried through CLI and

[2019-10-02 21:24] NunoPeixotoPrimavera commented on #1125
Hi, it's very simple. Sign the assemblies with SNK in the nuget packages.

[2019-10-02 21:29] evkhramkov commented on #30
@bo3po thanks for reporting! We deployed a fix, and everything should work fine no. If anyone else experienced similar problems with configuring Bitbucket repositories, please try reconfiguring your branch (you might need to re-upload signing credentials)

[2019-10-02 21:44] lgauthier opened #1314 "Duplicate Analytics Logs/Events"
### **Description**

Please describe the issue you are facing or a feature you would like to be added to the SDK.

### **Repro Steps**

I've created a simple sample application to demonstrate the issue. It appears to be some kind of race condition that isn't easy to reproduce, but I've been able to reproduce it with the steps below.

Sample App: [https://github.com/lgauthier/AppCenterDuplicateEven

[2019-10-02 23:12] glittle commented on #189
Got a lot further by running "expo eject" to create android and ios folders.  Once committed, the App Center found them and allowed a Build to be created.

[2019-10-03 00:13] yoannchaudet commented on #945
Closing as "duplicate" to: https://github.com/microsoft/appcenter/issues/901.

[2019-10-03 00:15] rbanker commented on #182
I’ve been testing it here on iOS and it looks to work very well. I’ll test with Android in the morning. Thanks!

[2019-10-03 01:26] MaximePost commented on #182
Tested on Android doesn't work yet, a chrome window shortly shows up for a few seconds after each start of the app.

Also as soon as mandatory update is set to true, the updater crashes and app can't be started.

[2019-10-03 05:18] rummelsworth opened #1128 "Allow .NET Core 3.0 Single File Executables when uploading a new release"
**Describe the solution you'd like**
I want to be able to upload a .NET Core 3.0 SFE (which is a .exe file) as a new release of my app.

**Describe alternatives you've considered**
I could zip the exe, but that's kind of silly for an SFE. Especially for my user, who gets to manually extract the SFE so it can then self-extract...

**Additional context**
None.

[2019-10-03 06:31] ElteHupkes commented on #30
I had to adjust my pre-build script some 8 times, but I just managed to build successfully :D.

[2019-10-03 06:40] bo3po commented on #30
@ElteHupkes that sound great. is the script something you could share perhaps? What did the trick?

[2019-10-03 07:05] GeorgeDarakchiev commented on #274
I can confirm! After upgrading to Xcode 11 the Simulator cannot be started and I am getting the following exception:
Xamarin.UITest.XDB.Exceptions.DeviceAgentException has been thrown

Failed to launch simulator

ExitCode: 134
	0   CoreFoundation                      0x00007fff336ebc23 __exceptionPreprocess + 250
	1   libobjc.A.dylib                     0x00007fff69cb2883 objc_exception_throw + 48

[2019-10-03 07:14] GeorgeDarakchiev opened #1129 "Xamarin.UITest support fo iOS 13 and Xcode 11"
I would like to be able to run UI tests on device\simulator running iOS13 (coming with Xcode 11).

[2019-10-03 08:13] AndrewBryanScott commented on #182
hi so, i wonder if you could shed some light on the change that has been made? we are referencing App Center 2.1.1 sdk in our application, surely the change you have made to stop the browser opening and asking for login will be located on device sdk as this is what initiates the open browser call in the first place.

so this bring me to the next question. nuget only lists verion 2.4.0 (preview) wh

[2019-10-03 08:16] adamkhazi commented on #322
I have run into the same issue.

[2019-10-03 08:17] AndrewBryanScott commented on #628
Hi Botatoes, any update on this? we also need in app updates to work as we do distribute our app via an mdm package as apk to over 2000 users.

[2019-10-03 08:42] ElteHupkes commented on #30
@bo3po These are mostly things very specific to my app (swapping out icons in Info.plist for production/beta builds and stuff). Something I can recommend paying attention to is whether you're building the solution or the project. We have a library with some unsafe code that wouldn't build when selecting the project in the configuration, because the project-level setting allowing unsafe code for th

[2019-10-03 08:52] sathukorale commented on #1109
I think you are looking for the feature request #412. Please drop a like there, this is a much needed feature.

[2019-10-03 08:56] bo3po commented on #30
@ElteHupkes Ok. That is probably not relevent for my or other apps. I thought that you might have some provision magic in the file that would allow me to build with an ios extension project. Yes. Support was also asking where the plist was in releation to the csproj file. And that was ok. It was beside on the same folder level.

[2019-10-03 09:00] JanabiSoft commented on #1109
@sathukorale Yes you are right I didn't catch it earlier thanks for directing me, I will definitely drop a like

[2019-10-03 09:22] kierangmst commented on #1124
@DennisPan I did as you requested, and I removed our custom Jetifier action. The build worked perfectly. Thanks for the quick turnaround.

[2019-10-03 09:22] #1124 closed

[2019-10-03 10:03] geekazoid-at commented on #87
Same here. We really need it and I guess I will have to switch to another platform :(

[2019-10-03 10:10] fabiendem commented on #182
From my previous tests https://github.com/microsoft/appcenter/issues/182#issuecomment-529969897, I retried the following:

**No Transition from HockeyApp, Installation via adb**
This is working fine now.
If I install the app via adb (so not via the AppCenter website setting up the cookie), and publish an update, the whole process is no longer blocked by the login screen.
Browser opens but no longe

[2019-10-03 11:14] bperreault commented on #591
@DennisPan - I've been asked to add my comments and contribute to this issue's supporters. We have ran into this same issue and I found this thread through a google search.  What do we need to do to get this work item scheduled for development?  Can we discuss how we might help? It is this or move on for us, unfortunately.

We have 26 apps listed in AppCenter, with 24 configured. We are not able t

[2019-10-03 12:17] elamalani commented on #993
@jiberan Please send me an email at emalani at microsoft dot com and we can talk after 10/10. Thanks.

[2019-10-03 15:17] crazycoderx2 commented on #31
Hi @gestrich
Could you help me please.
I couldn't get how to use [](https://openapi.appcenter.ms/#/crash/textError_upload).
I had successfully execute this request but I couldn't find it anywhere in App Center.
It only appears in "Log Flow"
Is the uploaded file should have special format or it could be anything?

[2019-10-03 16:32] c3bryant commented on #67
I want to share my experience, to hopefully help save others some time when going down this path.

It did not seem clear or up-front that _App Center does not support Flutter_.

After few searches online, you will find several build scripts and Medium/other articles walking through how to setup Flutter CI with App Center. Microsoft(App Center) hosts post-clone build scripts for this exact purpose

[2019-10-03 16:46] DennisPan commented on #591
@bperreault Thanks for reaching out. An alternative would be using the GtiHub marketplace app: https://github.com/marketplace/app-center, with added benefits of PR builds. There are couple caveats like billing should go through GitHub, onboarding goes through GitHub etc. This integration doesn't need webhook, which would address your situation.

However, let me look for a quick workaround first wi

[2019-10-03 17:07] fabiendem commented on #182
I have tested the other scenario from https://github.com/microsoft/appcenter/issues/182#issuecomment-529969897

**Transition HockeyApp --> AppCenter**
✅ This is working fine for me as well.

The first time you detect an update using the AppCenter SDK, the browser will open and enable the in-app updates without any login screen.
Then your app comes back to the front and the update process kicks in.

[2019-10-03 17:14] TLiu2121999 commented on #140
+1 This is causing so much inconvenience during cross team testing since we have many versions and releases.. And people have to scroll all the way down to find an earlier version.

[2019-10-03 17:14] aindran commented on #140
Totally need this feature after switching from HockeyApp.. Creates a lot of confusion otherwise...

[2019-10-03 18:04] bo3po commented on #30
It's working now thanks to the skilled team at microsoft that helped me diagnose the problem which was something wired with my build configuration on the server. I told the config not to sign. Save the config. And then re-added everything. That reset my config somehow and made it work.

Great support. KEEP IT UP :)

[2019-10-03 18:36] herbig commented on #182
@MaximePost is this the same crash you're getting:

`    android.content.ActivityNotFoundException: No Activity found to handle Intent { act=android.intent.action.INSTALL_PACKAGE dat=file:///storage/emulated/0/Android/data/[package name redacted]/files/Download/[apk name redacted].apk typ=application/vnd.android.package-archive flg=0x10000000 }
        at android.app.Instrumentation.checkStartActi

[2019-10-03 18:38] dimazaid commented on #182
Can you please notify our support team by using the support chat? It's the blue bubble in the bottom right corner of the screen. They will be able to help with the issue.

[2019-10-03 18:55] ScottArbeit commented on #1122
Hi @dfiggtns!

Thank you the suggestion. Over the next many months, one of the things we're hoping to do is a little bit of refactoring on this part of our UI, and I'd like to make the experience around App Name vs. App Id (or URL slug) more clear.

I joined the team recently, and a couple of weeks ago I ran into the same confusion as you did while writing my first app using our REST API. It's a p

[2019-10-03 18:59] fabiendem commented on #182
If there is a scenario leading to a crash, can you put the details here or somewhere else and link to it?
So everyone knows what they shouldn't do, not just the person raising the issue 😄
Cheers!

[2019-10-03 19:05] tjsomasundaram commented on #1127
Sorry to hear you are having issues. I will take this back to the team to see if we have a process that may work for you.

[2019-10-03 21:54] King-of-Spades commented on #274
@KthProg & @GeorgeDarakchiev Xamarin.UITest 3.0.4-dev2, released 4 days ago, notes:

I recommend trying that version to see if it addresses the issue.

[2019-10-03 21:55] NunoPeixotoPrimavera commented on #1102
Same issue: Strong Sign the assemblies (in nugets) #1125

[2019-10-03 21:55] #1102 closed

[2019-10-03 22:21] tjsomasundaram commented on #1128
Thank you for the feature request. I will take this item back to the team for further review.