[2019-10-03 22:41] pbearstare opened #1130 "Find users quickly in large tester groups"
**Describe the solution you'd like**
The list of testers to be sortable by clicking on the column header
A search box at the top of the list that starts filtering names as soon as you start typing

**Describe alternatives you've considered**

**Additional context**
We regularly use tester groups of 100+ names and it becomes very challenging to know if someone is or isn't included when testers are

[2019-10-03 22:43] pbearstare opened #1131 "Upload CSV or other text files to populate a distribution group"
**Describe the solution you'd like**
When creating a distribution group, we should have the option to upload a CSV or other text file containing email addresses to populate the group with testers

**Describe alternatives you've considered**

**Additional context**
This feature was present on HockeyApp

[2019-10-03 22:44] pbearstare opened #1132 "Export the email addresses from a Distribution Group"
**Describe the solution you'd like**
When viewing a distribution group, have a button that allows you to export all the tester's email addresses

**Describe alternatives you've considered**

**Additional context**
This allows us to send additional notes/instructions to our test group

[2019-10-03 23:19] tjsomasundaram commented on #1129
Hi, iOS 13 devices are currently selectable for testing. If you use Xamarin.UITest, you may need to update to Xcode 11 and the latest dev release of Xamarin.UITest. Please let us know if you attempt to use the Test service and are unable to select iOS 13 devices.

[2019-10-03 23:20] tjsomasundaram commented on #1130
Thank you for sharing your feedback! I will take this request to the team for review.

[2019-10-03 23:22] tjsomasundaram commented on #1131
Thank you for your feedback. I am a PM on the App Center team, and will ensure that your request is reviewed.

[2019-10-03 23:23] tjsomasundaram commented on #1132
Thanks, this request is noted as well! I will add this to our review.

[2019-10-04 06:30] veenavl commented on #1104
@baldursson , is this issue resolved?

[2019-10-04 07:58] zek opened #1133 "I get internal error"
##[error]{"code":"internal_server_error","message":"internal error (Support ID: 508f52b0-2762-4d7e-9569-745e11475979)"}

[2019-10-04 09:02] dfiggtns commented on #1122
Glad to be of help.

[2019-10-04 11:38] fabiendem opened #1134 "Read update Release Notes from a native view rather than the browser"
**Describe the solution you'd like**
While distributing Android updates via HockeyApp, it was possible for the user to read the release notes of the update from an in-app native view.

While distributing Android updates using the AppCenter Android SDK, if the user tap on "View Release notes", the user is sent to the Browser on the dedicated web page of the project where the release notes are visib

[2019-10-04 12:06] fabiendem opened #1135 "Display update Download progress alert for non-mandatory updates as well"
**Describe the solution you'd like**
On Android, while distributing a mandatory update via the the AppCenter Android SDK, an in-app progress dialog is shown.
While distributing a non-mandatory update, this dialog is not shown. Only the Android OS Download manager notification is visible in the notification drawer.

It's likely to be this condition:
https://github.com/microsoft/appcenter-sdk-androi

[2019-10-04 12:36] sjong13 commented on #377
I'm still seeing this issue on 3.0.4-dev2

[2019-10-04 12:45] SpaceApeGamesSy commented on #140
@nrajpurkar Nice to see that the "Updated tester experience" is on the October roadmap, but there are only 43 days remaining to transition to App Center. Are we going to get these features before the transition period ends? None of my teams are happy to migrate to App Center without the ability to link others in the studio directly to the builds they want to share - to the point they're starting t

[2019-10-04 13:01] krudraiah opened #1136 "Preprocessor directives fail on AppCenter iOS builds"
We have pre-processor directive in our code as below and we have defined configurations that define these directive. no matter what configuration we chose, the build from app center always resorts to #else clause. This code works fine with builds made straight from visual studio

#if MOCK_EXCEPT_SYNC

    public class DependencyRegistrar : IDependencyRegistrar
    {
        public DependencyRegist

[2019-10-04 13:50] MorneAppenate commented on #102
This feature would be great for us as well.

[2019-10-04 13:52] fabiendem opened #1137 "Add method to check manually for new updates"
**Describe the solution you'd like**
The Distribute Android SDK relies on the host Activity lifecycle to start the update check process.
This is fine in most scenario, but if we want to initialize AppCenter Distribute manually later on (after `onResume`) it is causing issues.

I have written a ReactNative wrapper for AppCenter Distribute so I can start the library from the ReactNative layer.
But b

[2019-10-04 15:12] cjwirth commented on #140
We use HockeyApp for only two things:

1. Distributing feature builds internally and to testers
2. Collecting crash logs

(2) seems to be _okay_. We preferred the HockeyApp way of seeing a list of releases with the number of crashes listed, and then you can open the release to see crashes specific to versioning. You can get the same information in App Center, but it's certainly not as quick.

Howe

[2019-10-04 15:35] SergeySorokinPM opened #1138 "Ability to sort builds by date"
**Describe the solution you'd like**
I want to have opportunity to sort builds by going to https://install.appcenter.ms/apps/YourApplication
Right now it's only sorted by build code
It can be like link "Sort by Date/Code" (where to choose how you want to sort builds)

Also i see the same issue by numbers #404  and #307 , that was created in April - May - so i just want to raise this issue once aga

[2019-10-04 15:46] SergeySorokinPM opened #1139 "Ability to give direct link"
**Describe the solution you'd like**
Previously on HockeyApp you can choose any build by link. For example you have 1000 build for 5 years - you pick 7th build from 5 years ago - pick weblink - send it to your device, and just install it from this direct link. (android or ios it does not matter - of course i exclude moment with ios provisions, 5 years it's just the example)

In AppCenter this is o

[2019-10-04 17:11] yoannchaudet commented on #1098
The fix should be live in production already :)

[2019-10-04 17:11] #1098 closed

[2019-10-04 17:12] DennisPan commented on #591
@bperreault Would using the GitHub marketplace app as I suggested above work for you?

Looking at how things are setup on our side, there isn't a quick workaround (aside from using GitHub marketplace app). A proper implementation of a generic webhook url without app id is non-trivial.

[2019-10-04 17:58] bperreault commented on #591
Hi, @DennisPan .
We have installed the GitHub marketplace app and the devs will be working with it to see if it will do what we need it to.
Thanks for your help.

[2019-10-04 18:15] Nick92000 commented on #946
I have the same problem : `Data.ListAsync<ClassX>(DefaultPartitions.UserDocuments)` returns all items in UserPartition (same with DefaultPartitions.AppDocument), regardless of what "ClassX" is.

In the doc, it is stated that "Data.ListAsync<**User**>(DefaultPartitions.UserDocuments) [...] will return a page of the documents that exist within a given user partition **that align with the User class

[2019-10-04 18:17] mikemackintosh commented on #108
Commenting on a closed issue only because of the importance around enterprise-level account management. SAML and custom OAuth server support from services like OneLogin, Okta and ADFS would be greatly appreciated in order to better support account provisioning and deprovisioning, as well as role and team assignments. Currently, only Azure AD is supported for group membership automation which requi

[2019-10-04 18:46] derpixeldan commented on #202
App Center now supports Sparkle feeds. Please read more in the [documentation](https://docs.microsoft.com/en-us/appcenter/distribution/sparkleupdates).

[2019-10-04 19:11] WCByrne commented on #202
Fantastic!

Question on this, what versions make it into the feed? It looks like anything released in a public distribution group. What if you have more than one public group?

[2019-10-04 19:46] BRB2000 commented on #1120
I can add to this, that I am unable to create an API client using VisualStudio's add service reference feature, which is using NSwag. It seems to have a problem with the name attribute being "name": "$inlinecount" for example. But that is actually not the only thing that is going wrong there. NSwag is done with the client code generation in 30 seconds, but the client has all sorts of errors, so ma

[2019-10-04 20:42] tjsomasundaram commented on #1133
Hi! Sorry to hear you are having issues. Could you please provide some additional detail to when you are getting the error, and perhaps a screenshot? Thank you!

[2019-10-04 20:43] tjsomasundaram commented on #1134
Hi! Thank you for the feature request. I will take this back to the team for review and addition to the backlog.

[2019-10-04 20:44] jwargo commented on #67
@c3bryant I apologize for the issues you faced. Flutter is not a supported platform on App Center although it is something we're considering (and I personally want to see happen). It shouldn't be listed anywhere as a supported platform as we don't usually list what platforms we don't support :-)

We do have customers that have gotten it to work for one or more services and we published those build

[2019-10-04 20:50] derpixeldan commented on #202
@WCByrne the five latest public releases, regardless of the group. I’ll clarify that in the docs.

[2019-10-04 20:58] tjsomasundaram commented on #1136
Hi, sorry to hear of the issue you are facing. I am a PM on App Center, and I'll get the right team to take a look at this issue!

[2019-10-04 21:12] tjsomasundaram commented on #1135
Hi. Thank you for bringing this feature up. I will get the right team assigned to take a look at the request.

[2019-10-05 09:06] shpakovski commented on #202
@derpixeldan It works, thanks a lot! If releases are provided by public distribution groups, could you please insert `sparkle:releaseNotesLink` with a direct URL, so that customers could open a webpage in their browser? Should I create another Issue with this request? Thanks in advance!

[2019-10-06 14:18] zek commented on #1133
We have solved the issue with live support.
Problem occurs when building for iOS apps. If product names (output) contains any turkish-letter, appcenter fails to find generated app file. Therefore it gives internal error. We need unicode support or some internal check to warn the user.

[2019-10-06 19:55] catlan commented on #31
@gestrich If I see this correct, the /errors/upload API requires authorisations, while the hockey crashes/upload just required the app secret?

[2019-10-06 20:55] albertodenatale opened #1140 "Error while parsing timestamp in GCM event"
Hello
When I add push notification support the following error is returned from logs:

10-06 22:50:43.774 D/AppCenterPush( 7240): Received push intent=Intent { act=com.google.android.c2dm.intent.RECEIVE flg=0x11000010 pkg=it.albertodenatale.pushnotifications cmp=it.albertodenatale.pushnotifications/md50d7658ca0fc01b95086956189e698682.PushReceiver (has extras) } background=false
10-06 22:50:43.774

[2019-10-07 04:11] digital-tcbs opened #1141 "Appcenter don't update active device, download, install."
Hi, i have issue:
I released an update to appcenter. But when user update my release sometime get error:
Can't send request to: https://codepush.azurewebsites.net/updateChecked
When user can dowload and update my release have error  500: Internal Server Error and appcenter dont update active device:
2019-10-07 11:00:02.054746+0700 TCInvest[1290:686740] ERROR: [CodePush] An error occurred while rep

[2019-10-07 05:15] MaximePost commented on #182
Existing app on HockeyApp. Update the app to AppCenter SDK. Migrate app to AppCenter, set the distribution to public.
Start android client, receive the update notification.
Bug 1) After updating the app, at every start of the app a AppCenter window pops up for a few seconds.
Bug 2) If I am already logged in the AppCenter (android chrome), then update the app after the update I am redirected to the

[2019-10-07 07:30] Oddj0b commented on #1129
@GeorgeDarakchiev Just to clarify is this locally or in App Center Test. Our engineers are still working on iOS 13 support for App Center Test as there are some unexpected challenges.

[2019-10-07 07:33] Oddj0b commented on #377
@sjong13 thank you for the update, we logged a ticket for it.

[2019-10-07 07:38] Oddj0b commented on #829
@KthProg seems like we didn't get rid of the bug. I will talk with the engineers.

[2019-10-07 07:43] Sakarisson commented on #819
@wamry Can you please tell me the steps that you took to resolve the issue?

[2019-10-07 07:44] Oddj0b commented on #574
@mzhukovs That sounds very interesting, do you have a source on it? Because any chance that we can make it easier, I'll try and grab it.

[2019-10-07 07:52] Oddj0b commented on #1019
Hey @nielscup, thanks for keeping this alive. I'm talking with people around the board to find a solution.

[2019-10-07 07:56] Oddj0b commented on #774
@anton-kolesnyk @marikavertzonis It seems more of a question for my colleague @botatoes at our Distribute service than for me in Test. Correct me if I'm wrong.

[2019-10-07 08:01] Xxax commented on #819
With me it was like this, if you uninstall the app via the SmartLauncher (https://www.smartlauncher.net/), not everything is deleted and you can't install the app via AppCenter anymore. You have to uninstall the app with ```adb uninstall xxxx ```.

If you uninstall the app using the native function, the installation will work without problems.

[2019-10-07 08:05] Oddj0b commented on #643
This is a duplicate of feature request #740, give it a :+1: reaction.

[2019-10-07 08:05] #643 closed

[2019-10-07 08:07] Oddj0b commented on #1081
Hi @vishnuprakash9845, what version of Visual Studio are you using and what is the version of your Nuget package?

[2019-10-07 08:11] Oddj0b commented on #1088
@TomSoderling Thank you for the great feature request. I actually can't provide any insights into how the 30 hours limit originally was determined. I will investigate the history of it and see if it makes sense.

Missing meme photo minus two points 🤣

[2019-10-07 08:47] Oddj0b commented on #1033
Thank you for your request, it's a really great idea.

[2019-10-07 08:49] Oddj0b commented on #935
Closing

[2019-10-07 08:58] Oddj0b commented on #1036
@VincentH-Net I'll close the issue and assume our support team handled it.

[2019-10-07 09:22] Brosten commented on #574
What about the remote simulator? Debugging from VS on windows, getting a remote simulator on your Windows screen is working today. It isn't possible to use that method to run tests, at lest on a iOS simulator?

[2019-10-07 09:23] ebeling commented on #773
If I choosed the *.xcodeproj - file to open the project in XCode same error occured. Open the project with *.xcworkspace - file work for me! Thanks @Jamminroot !

[2019-10-07 09:44] luismarquesfreire commented on #67
We were building flutter apps for iOS with no problem but it stopped working. Now it says "CocoaPods installed but not initialized. Skipping pod install." and "To initialize CocoaPods, run:
  pod setup". I added `pod setup` as requested on the post build script but it also didn't work. Anyone else with this issue?

[2019-10-07 09:50] jeffaknine commented on #67
Having the same issue for a few days now

[2019-10-07 10:15] luismarquesfreire commented on #67
@jeffaknine my colleague just found a way to resolve this. Force the installation of Cocoapods:

`
#!/usr/bin/env bash
#Place this script in project/ios/

# fail if any command fails
set -e
# debug log
set -x

sudo gem uninstall cocoapods
sudo gem install cocoapods -v 1.7.5
pod setup

cd ..
git clone -b beta https://github.com/flutter/flutter.git
export PATH=`pwd`/flutter/bin:$PATH

flutter channe

[2019-10-07 10:39] Oddj0b commented on #1026
@mattperzel thank you for elaborating, I understand your request and I'm hoping we get enough 👍 reactions.

[2019-10-07 10:53] Oddj0b commented on #1038
@Zhappa Internally we're running test on Android 10, have you experienced any problems?

[2019-10-07 10:55] Oddj0b commented on #574
@Brosten Good question, I'll have to investigate that a little more.  Do you have a good guide handy?

[2019-10-07 11:23] fabiendem commented on #182
Hey @MaximePost
I am not counting the number of migrations I have done and I can't replicate your issues (am trying to.. to avoid bad surprises as well...).
But I have noticed the following:
- The doc recommends to first migrate your app in the dashboard to AppCenter, and then to update the SDK to AppCenter for the next releases.
https://docs.microsoft.com/en-us/appcenter/transition/faq#do-i-need-

[2019-10-07 11:46] BioTurboNick opened #1142 "De-emphasize non-Open crashes."
**Describe the solution you'd like**
Visually de-emphasize non-Open crashes in the Diagnostics/Issues interface. Medium gray for Closed and Light gray for Ignored? Something like that. Make it easy to scan the list for the ones you need to worry about.

**Describe alternatives you've considered**
Sticky filters settings, separate groups.

**Additional context**
This may go along with #854 and #258

[2019-10-07 11:47] NunoBem commented on #1060
@amchew  What's the feedback about this?

[2019-10-07 11:47] Zhappa commented on #1038
Yeap, my tests did not work with android Q emulator using appium v1.11.0, but exact same tests are working with exact same android Q emulator using appium v1.13.0.

So, i believe the problem is in appium version. And i asking you to confirm this.
The reason im asking you to do so - Appcenter support appium v1.11.0 only.

We discussed this with the Appcenter's (chat) support team and this ticket -

[2019-10-07 12:01] Brosten commented on #574
@Oddj0b
https://docs.microsoft.com/en-us/xamarin/tools/ios-simulator/

[2019-10-07 12:18] jwargo commented on #1140
@albertodenatale I did a quick search on that error and from Stack Overflow and other places, it seems that there are a couple of possible causes. It feels like we need more information to help you with this issue, have you reached out to our support team? Support is built right into the App Center portal, just click the blue chat button in the bottom-right corner of any App Center page and you'll

[2019-10-07 12:22] #1133 closed

[2019-10-07 12:53] Oddj0b commented on #563
Sorry, we still haven't made any progress.

[2019-10-07 12:55] mlbaron opened #1143 "iOS apps with special characters in their display name fail to install via App Center links"
After a lot of trial and error, I found that builds downloaded via the link sent out in the distribution email from App Center would fail to install when I had an `À` in the display name of my iOS app in Xcode. When I changed that character to just be `A` (without an accent), all builds downloaded from the install link successfully installed.

[2019-10-07 13:11] tjsomasundaram commented on #1137
Thanks for bringing up this feature! I will take this to the right team for review.

[2019-10-07 13:12] tjsomasundaram commented on #1138
Thank you for bringing up this feature request! I will take this back to the team for review.

[2019-10-07 13:13] tjsomasundaram commented on #1139
Thanks for bringing up this feature request. I will have the right team review the request.

[2019-10-07 13:30] torontoerik commented on #814
@cjonsmith @botatoes

The old endpoint instability is back as of yesterday. Can you mitigate like you described in your Aug 29th comment?

Unfortunately, we still have some apps pointing to the old end point. We are pushing through updates but if you can help stabilize that would be great!

[2019-10-07 13:43] BbFGE commented on #814
Hi have been getting 503 error for nearly a day now, which is worrying as we are imminently launching a new app.
I've seen mention that the new sdk fixes this - not sure what this means n temrs of the code - we are using cordova (via Phonegap) - does this mean adding a dfferent codepush plugin? We are using cordova-plugin-zip 3.1.0.

Any help gratefully received!

[2019-10-07 14:58] liszto opened #1176 "[IMPROVEMENTS] Add possibility to add custom/extra logs when crashes are saved"
Hello,
it could be a really huge improvement for us to add some possibility to add extra infos during the crash saving phase not only during upload process (Attachement system).

With HockeyApp we had implemented this as an extra step but it could be nice to have it natively in the plugin with AppCenter. We made some method abstract and we override them when it was wanted.

Or just extend the atta

[2019-10-07 15:04] andrei-m-code commented on #814
I've been seeing code-push being slow or not delivering latest version at all for quite some time and only updating after multiple retries/restarts. Please look into the issues. It affects ALL our clients - it's a huge concern for our business. Thank you.

[2019-10-07 15:05] ElteHupkes commented on #846
I almost created the exact same issue just now, this is kind of a problem for me. I have a Xamarin.Android app with quite some build configurations that change up some names and logos. It references some library projects that really only have a "Debug" and "Release" configuration. The configuration manager on the solution level is used to determine which of these two builds for any of the other co

[2019-10-07 15:29] auernmri commented on #1055
Hi @tamassengel
i think i have a similar problem as one of my dependencies (pods) is not able to be exported with XCode 11 Tools... May i ask how you found out which was the incompatible one, i can`t detect in the logs from the export.

Thank s in advance!

[2019-10-07 15:37] derpixeldan commented on #202
@shpakovski yes, please.

[2019-10-07 15:41] nrajpurkar commented on #189
Glad you were able to get this working @glittle. At the moment ejecting Expo apps is the only supported way to build in App Center.

[2019-10-07 15:51] a3kulkarni opened #1144 "email"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-10-07 15:51] #1144 closed

[2019-10-07 15:58] justinairbase commented on #680
I got it to work by removing appcenter with `yarn remove appcenter` then doing `pod install` and again installing appcenter `yarn add appcenter` and then again doing `pod install`

[2019-10-07 16:08] rishimodha commented on #202
@derpixeldan please confirm the hockeysdk sparkle feed urls will continue to work

[2019-10-07 16:47] gestrich commented on #31
@catlan I used authentication for the  App Center errors/upload API so that seems accurate.

@crazycoderx2  I've only uploaded iOS crash reports which are a special format (I use the PLCrashReport library to create these reports). They then show up under the diagnostics section of App Center for the relevant version/build. I'm not sure if you can send arbitrary text.

[2019-10-07 16:48] WCByrne commented on #202
Is it expected that releases made through Hockeyapp won't be include in these feeds?

Because of the regression I mentioned in my [comment](https://github.com/microsoft/appcenter/issues/202#issuecomment-519182805) above, I had to start uploading direct to hockey app a while back. It seems like the feed starts with uploads made through AppCenter prior to that point.

Not a big problem as it appears

[2019-10-07 16:51] dukeflyheli commented on #814
@cjonsmith We are also seeing our apps get stuck in the current "checking for update". Is it possible for your team to repatch the issue as before? We have been unable to get a patch out to our mobile app. Also, is there any plans to add SLAs on these services? Our application has a large user base and we need to be able to rely on this service. Thanks

[2019-10-07 16:57] gestrich commented on #31
For the App Center team - I wanted to confirm that the roadmap item "API to upload custom crashes [#31]" will include support to upload Attachments to a custom crash, as was supported in Hockey? This is very critical for us migrating to App Center.

[2019-10-07 17:44] ivanguimam commented on #878
I have the same problem.

I loaded my keystore into the AppCenter dashboard because I don't want to leave it in the repository.

ERROR:
[code]

![Captura de Tela 2019-10-07 às 14 43 03](https://user-images.githubusercontent.com/24425745/66335206-e4ddcb00-e910-11e9-8118-d6a0d0960acb.png)

[2019-10-07 17:55] jeffaknine commented on #67
@luismarquesfreire I already have the "uninstall" and "install" and I still have that problem... Any other option ?

[2019-10-07 19:15] WCByrne commented on #514
@botatoes Catalina is out, any hope of this being handled by App Center? I was so excited to have a seamless release flow with sparkle support finally landing 😞.

[2019-10-07 19:43] luismarquesfreire commented on #67
@jeffaknine are you using the script exactly as I provided? It seems that you're running `pod install` but you can't. Flutter build will do it for you. Remove pod install from your script. You can actually see Podfile file and see that there are no dependencies there, that's because flutter handles it for you with the dependencies stated at pubspec.

[2019-10-07 20:27] jrahma opened #1145 "Chat icon is annoying!"
Hi,

In your portal, the chat icon (at bottom right of the screen) is annoying.. it's covering the last report or char so we can't take a screenshot without it especially in Events

At the same time we don't have any option to export the report as PDF

[2019-10-07 21:29] wtaconnerzeuli commented on #543
Hello! Wondering if this would affect the ability to trust enterprise developers? After installing it's telling me I need to trust my enterprise profile, but it doesn't actually have one listed under "Profiles and Device Management".

Thanks!

[2019-10-07 22:03] Klim-Shoptagr commented on #30
Hi guys, is it possible to add the same logic for building whole *.sln?
Because when I tried to create build of whole solution with iOS project, which contains extension, I faced with the same issue: I can't add more than 1 Provision Profile...

[2019-10-07 22:06] marikavertzonis commented on #774
Sure. The title of this issue doesn't discriminate. For me, I'd want to be able to upload iOS simulator build for distribution.

[2019-10-07 22:09] skywalkerlol commented on #30
Same for me. Solution doesn’t build. Fails on provisioning profile mismatch

On Mon, Oct 7, 2019 at 6:06 PM Klim-Shoptagr <notifications@github.com>
wrote:

[2019-10-07 22:17] bryansmi commented on #30
@Klim-Shoptagr and @skywalkerlol  Thanks for reaching out! We actually intentionally added support for building Xamarin.iOS projects with extensions from `.sln` configuration in App Center. If that isn't working, please open a support ticket with us through Intercom on https://appcenter.ms. We can start looking into it that way.

It'll be helpful to include the file structure of your repository (o

[2019-10-07 22:24] blparr commented on #1145
Thanks for the feedback, we are making some changes to our support flow so that should get fixed as part of that.

Thanks!

[2019-10-07 22:24] #1145 closed

[2019-10-07 22:51] botatoes commented on #140
@SpaceApeGamesSy We have a team that picked up this work today. I understand the frustration for no deep linking and promise to get this delivered ASAP.

@winnieli1 can address the issues and feedback regarding crash logs @cjwirth

[2019-10-07 22:59] winnieli1 commented on #140
@cjwirth thanks for the feedback! We are aware that the design difference between HockeyApp and App Center isn't intuitive for some customers. We don't have immediate plans to change this but we're constantly exploring ways to improve our experience. I'll reach out if there are any updates or mockups I can share.

Thanks!

[2019-10-07 23:41] botatoes commented on #1141
Hi, we were experiencing some issues with CodePush earlier today. Everything should be back to normal now. If you are still experiencing issues, please contact support on appcenter.ms

[2019-10-07 23:41] #1141 closed

[2019-10-07 23:41] botatoes commented on #1143
Thanks for letting us know. I'll send this back to our dev team to look at.

[2019-10-08 02:14] aldrinc opened #1146 "Detox appcenter-post-build.sh script fails to install applesimutils"
The example appcenter post-build script for detox fails to install applesimutils since the repo location has been updated.

**Old**
[code]

**Updated**

[code]

Line 21 in https://github.com/microsoft/appcenter/blob/master/sample-build-scripts/react-native/detox/appcenter-post-build.sh

[2019-10-08 02:28] patniko commented on #1146
Updated - thanks!

[2019-10-08 02:28] #1146 closed

[2019-10-08 03:03] MaximePost commented on #182
I have built the current github version 2.4 of the android sdk and will test with that one. Note that I do updates from existing hockeyApp apps and all my users are anonymous (public group without email).

[2019-10-08 04:23] albertodenatale commented on #1140
@jwargo thank you very much for you answer, my apologies still trying to learn how things work :) I will try to contact support or look better on Stack Overflow

[2019-10-08 04:28] #1140 closed

[2019-10-08 04:55] jamers99 commented on #383
@winnieli1 any status update on this? This would be very nice, giving us one place to go for all our apps.

[2019-10-08 06:26] ElteHupkes commented on #30
For what it's worth, I'm building from the solution level and for me it's working.

[2019-10-08 08:00] jam-cmesquita opened #1147 "Make "Version" string of releases editable"
### Description
As a developer,
with HockeyApp I could **change the "Version" string of my releases** so it is more readable for testers and other colleges in the company.

With the current state of AppCenter this is not possible. I think it can be beneficial and helpful for many people.

![image](https://user-images.githubusercontent.com/45820724/66377432-e0b5ba00-e9b1-11e9-807a-34211ad2bdc6.png)

[2019-10-08 08:02] derpixeldan commented on #1147
Thanks for the request. We'll consider bringing that back.

[2019-10-08 08:20] gmerinojimenez opened #1148 "Public distribution group urls are unsecure compared to HockeyApp"
In our company, we use public distribution urls to publish alpha versions to clients and testers and we have projects for each of them.
The public distribution urls are based on the project id, which is a random alphanumeric:
https://rink.hockeyapp.net/apps/<project_id>/app_versions/67

But in AppCenter, public distribution groups are like this:
https://install.appcenter.ms/orgs/<organization_name

[2019-10-08 08:30] derpixeldan commented on #1148
@gmerinojimenez thanks for the feedback. The public download pages on HockeyApp aren't considered "secure" either, however, I see your point that at least the IDs are not guessable.

[2019-10-08 08:49] gmerinojimenez commented on #1148
Sure, I agree. If it is public, it will be unsecure, but considering that those urls are shared between a small group of people, for us having them obscured by the id is safe enough

[2019-10-08 09:23] VincentH-Net commented on #1036
@Oddj0b Hi, the issue still exists; I re-tested this yesterday with a Google Pixel 3a on Android 9 and Android 10. You can see that the restart still does not work on Android 10, the Contacts picker stays open:
![image](https://user-images.githubusercontent.com/1872271/66383439-49eefa80-e9bd-11e9-8c61-72b13e71550f.png)

The support team said they would file the issue with the engineering team

[2019-10-08 09:28] danielwilson1702 commented on #163
Was there an update on this? I believe this is the one missing piece Crashlytics has that App Center doesn't (I am using Android).

If I need to log a strange exception with some text, I can't see a way to do that (logging an event using `trackEvent` is a general bucket, so if 10 people have a non-fatal issue I track and I send the info I need as 10 "properties", there is no way to match that to e

[2019-10-08 09:29] nrettich opened #1149 "user-settings-page extension for email-notifications"
In our company, we have got many Apps to manage with multiple builds and development distributions per day. It would be very helpful if any user could manage email-notification settings for all apps on a central/single page.
Currently, we need to go to any app’s settings page and turn email-notifications on/off or entirely disable email-notifications for the user.

[2019-10-08 09:33] liszto commented on #1097
At the same time don't hesitate to support this :

[code]

It was present in HockeyApp and it seems not present in AppCenter ? :p

[2019-10-08 10:26] SpaceApeGamesSy commented on #352
Hey guys, I'll +1 this kind of thing. For our particular use case we have various flavours of our builds for each environment, and each can also have different release types.

[code]

With enough projects and enough environments it starts to get a little messy. It would be quite useful to be able to group the various flavours of builds together to reduce clutter in the app page.

I can also think

[2019-10-08 11:32] fabiendem commented on #182
OK weird, sorry for you, even while migrating I don't have those issues.
It may be specific to the Android version or the project settings, who knows...
If somehow I run into a similar issue I will come back to this thread.

[2019-10-08 11:56] shpakovski opened #1150 "Insert a link node with a direct URL to Release Notes into Sparkle feeds"
**Describe the solution you'd like**

Releases for a Sparkle feed are provided by public distribution groups. Could you please insert an XML node `sparkle:releaseNotesLink` with a direct URL to Release Notes, so that customers could open a webpage in their browser?

**Additional context**

We discussed this in a [Sparkle Issue](https://github.com/microsoft/appcenter/issues/202#issuecomment-5386320

[2019-10-08 13:09] ibraheemhlaiyil opened #1151 "Silent SignIn"
**Describe the solution you'd like**
In order to determine whether a user has ever signed in:
The ability to call a silent sign in as the first call to Auth

**Describe alternatives you've considered**
Keeping persisted local state to indicate whether the user has ever signed in or not on the device.
Completely customising presentation of the auth flow which is overkill.

**Additional context**
Us

[2019-10-08 13:13] skywalkerlol commented on #30
This is what i have

.
+-- Foobar.sln
+-- Foobar
    +-- Foobar.iOS
        | Foobar.csproj
        | Info.plist
    +-- FoobarExtension
        | FoobarExtension.csproj
        | Info.plist

On Tue, Oct 8, 2019 at 2:29 AM Elte Hupkes <notifications@github.com> wrote:

[2019-10-08 13:29] lanarchyste opened #1152 "Builds failed for Xamarin projects with error NU1201 while restoring nuget packages"
When building a Xamarin.Android or Xamarin.iOS project, the build fails with error NU1201.

The builds of the Android / iOS projects run on their respective .csproj.

The solution includes the following projects :

- A project Xamarin.Android (Target Framework Android 10.0)
- A project Xamarin.iOS (Target Framework Xamarin.iOS)
- A project UI Tests (.NET Framework 4.7.2)
- A project Unit Tests (.N

[2019-10-08 13:37] derpixeldan commented on #1152
Please reach out to us in support so we can further investigate the issue.

[2019-10-08 13:39] derpixeldan commented on #1150
Thanks for opening the separate request @shpakovski.

[2019-10-08 13:44] derpixeldan commented on #1149
Thanks for the request, how many apps are we talking about in your case, just to get an idea?

[2019-10-08 14:02] nrettich commented on #1149
we currently have got 150 Apps to care about

[2019-10-08 14:07] onlywhale commented on #221
Is there any update for this? This is exactly what I want.

[2019-10-08 14:41] onlywhale opened #1153 "search functionality on Collaborator"
**Describe the solution you'd like**
Search a user by Name or Email on the Collaborators

**Describe alternatives you've considered**
The alternative is browser search

**Additional context**
HockeyApp supported user search and this feature was useful for administrators who needed to manage several thousands of users.

[2019-10-08 14:44] derpixeldan commented on #1153
Totally agree, we're definitely considering this.

[2019-10-08 14:46] millanie commented on #221
Is there any update for this? This is exactly what I want.
When the users are located in the different timezones, the required time for completing whole steps increases.

[2019-10-08 15:59] SpaceApeGamesSy commented on #972
I'll +1 this, with a large number of apps, it's useful for teams to be able to sort them by recent update, to cut down time searching through lists. Yes I realise there's a search box. None of my teams ever use it :(

We've taken some initial steps to reduce the problem by using two separate orgs for live and archived applications, but it only goes so far and with 100+ builds still in the list, th

[2019-10-08 16:35] caiofbpa commented on #26
About this, we have a Xamarin solution where we have an Android project, an iOS project and a Shared project. If any files in Shared change, I want both Android and iOS to be built. So it's much better if I can manually specify the paths to be watched for changes that trigger a build.

[2019-10-08 16:36] winnieli1 commented on #163
Hi @danielwilson1702! We have plans to support logging handled exceptions for Android in the upcoming months. No exact ETA yet but I'll post here when I have a better answer.

Thanks!

[2019-10-08 16:42] caiofbpa opened #1154 "Ability to change LaunchTest for a UITest project in the solution"
**Describe the solution you'd like**
I want to be able to Test the application built with my own suite of UITests that run on AppCenter.

**Describe alternatives you've considered**
A clear alternative is to make this happen in a post-build script, but then I would have to compile the app in Debug mode again and deal with installation of appcenter-cli and whatnot. It would be a much better experie

[2019-10-08 16:49] lukaskubanek commented on #202
I've just tested a migration from HockeyApp to App Center with a sample app and as soon as I moved the app over, the HockeyApp Sparkle feed stopped working.

@derpixeldan: Is this the desired behavior? Do we have to force our users to re-download the app manually or do you consider adding support for keeping the HockeyApp Sparkle feed temporarily? I can live with both of the solutions but it would

[2019-10-08 16:58] King-of-Spades commented on #774
Reading though this again I wonder if it might have been misclassified as relating to Test from the beginning.

[2019-10-08 17:01] nathanhillyer commented on #1112
@blparr @ScottArbeit Any update to share on this issue? We are migrating dozens of apps and aren't able to disable the emails for our team.

[2019-10-08 17:33] luisnaranjo733 opened #1155 "Maven appcenter distribute artifact seems to be unpublished for 2.4.0"
The AppCenter distribute [documentation ](https://docs.microsoft.com/en-us/appcenter/sdk/distribute/android#1-add-the-app-center-distribute-module)suggests declaring the native android dependency with a specific version like this:

[code]

However, changing the appCenterSdkVersion to the latest release (2.4.0) results in an error.

 It appears the module that corresponds to the latest release is n

[2019-10-08 17:57] Jalson1982 commented on #501
Hello. I have the same issue , have the latest RN version. Can not build an app at all.

[command]/bin/bash /Users/vsts/agent/2.158.0/scripts/android-postprocess.sh /Users/vsts/agent/2.158.0/work/1/s/android/app/build/outputs/apk
Removing all ABI or density dependent APKs…
find: /Users/vsts/agent/2.158.0/work/1/s/android/app/build/outputs/apk: No such file or directory
find: /Users/vsts/agent/2.15

[2019-10-08 18:25] ksuther opened #1156 "Contact column for Mac crash reports isn't visible in App Center diagnostics"
**Describe the solution you'd like**

App Center diagnostics doesn't show the contact column for Mac crash reports. We use this column to store the user's email so we can contact them to follow up on the crash.

**Describe alternatives you've considered**

We can use App Center's attachments API once we migrate to App Center, but we can't see this info from existing apps using the HockeyApp framew

[2019-10-08 19:14] smpeleato commented on #140
@winnieli1 - for what it's worth, I echo this, I've been trying to get used to using AppCenter as the transition date looms but I still find myself going back to the HockeyApp site because it's a lot easier to see the crash breakdown by version.

[2019-10-08 19:20] zulkis commented on #1055
Hi @auernmri,

Can you bring a light on what was `incompatible` for you and how did you found it?

Thanks!

[2019-10-08 19:24] smpeleato commented on #972
+1 for this as well. We really miss the ability to sort Apps by last updated like you could with HockeyApp.

[2019-10-08 19:58] jwargo commented on #1140
@albertodenatale support should be the better option as that connects you directly with our dedicated support team and the PMs and Engineering are nearby too.

[2019-10-08 20:13] lukaskubanek commented on #202
The more worrying thing is that I didn't get any versions in the App Center Sparkle feed neither. I've added more app versions in App Center, integrated the App Center SDK (v2.4.0) and triggered the endpoint for uploading the DSA signature as mentioned in the [docs](https://docs.microsoft.com/en-us/appcenter/distribution/sparkleupdates). Neither action had any effect on the feed contents. Maybe I'

[2019-10-08 20:34] aismaniotto commented on #1123
I was with the same doubt about it.
Waiting the resolution.

Thanks.

[2019-10-08 23:55] wamry commented on #819
@Sakarisson
in app/build.gradle file, make sure that in buildTypes -> release, there is no signingConfig

example:
[code]

and ofc in app center make sure to choose the correct keystore file and input the alias and passwords

[2019-10-09 00:23] ScottArbeit commented on #1112
@nathanhillyer @christofferengstrom I apologize for the delay, and I've started a chat within the team to get context.

A few questions so I can share the info: where have you each disabled email notifications in HockeyApp and App Center? Have you done it in App Center at the App Settings level? At the individual App Center user level? And where in HockeyApp?

[2019-10-09 01:03] MaximePost commented on #182
I didn't experience any issue on iOS with the 2.4 SDK. It only applies to android, also I tried to take the  2.4 version that is on the github, compile and use that aar in my project but the issue is still present.

[2019-10-09 02:43] kuyazee commented on #163
How about iOS?

[2019-10-09 04:35] gamsim opened #1157 "Testflight Production Store bug"
**Describe the solution you'd like**
If a Testflight group called Production is created it should be treated as a Testflight group not an AppStore group.

**Describe alternatives you've considered**
Rename Testflight Production test group to SmokeTest.

**Additional context**
This bug caused our iOS app to go out live when it wasn't ready for Production release.

[2019-10-09 05:16] WebDucer commented on #24
@amchew Hello. Is this feature somewhere on the roadmap? The source control integration with GitLab is working. Only the issue tracker integration is missing now.

[2019-10-09 05:32] albertodenatale commented on #1140
@jwargo indeed the issue was on the SDK and we managed to solve it in here https://github.com/microsoft/appcenter-sdk-dotnet/issues/1146 thank you for your help and your great work

[2019-10-09 06:06] dpaulino commented on #150
Looking forward to more updates from the appcenter team regarding this issue. I've been waiting more 8 months for this feature, so I hope to hear good news soon.

[2019-10-09 07:04] semantix-danl commented on #67
Thanks luismarquesfreire,
Our iOS builds are now working again :) ...
We were using the same method to fix this as well but had the uninstall/install cocoapods after "clone flutter" and it wasn't working.

[2019-10-09 08:35] davidvavra opened #1158 "Expose Run ID via environmental variable"
We are generating PagerDuty incidents when test fail in App Center. We would like to automatically add a link to the failed run for easy debugging. But we have no way of knowing the test run id. It would be great if test run id can be exposed via environmental variable.

This is what I mean by test run id:

`https://appcenter.ms/orgs/<organization>/apps/<app>/test/runs/<test-run-id>`

[2019-10-09 08:38] derpixeldan commented on #1112
@christofferengstrom yes, the email notification once an app was moved successfully is sent regardless of the notification settings. We're looking into improving this. Sorry for the inconvenience.

[2019-10-09 08:49] auernmri commented on #1055
Hi @zulkis
i found the problem in the device error logs after the "ipa processing failed".
I was using some embedded framework and it came with a script (apparently which is stripping some architectures and codesigning). After executing the script in build phases it worked again.
The error came up with XCode 11, but i guess it s more related to the new build system... (just a guess)

[2019-10-09 09:08] charlesroddie commented on #503
What's the status of this? This is a problem on Windows (VS2019) and also Mac. Our Android builds are failing because the build chain on Mac is not updated.

We started using F# 4.7 features as soon as VS2019 was released, and this was not a problem on Azure DevOps as that was updated straight away, but builds are still failing on App Center.

[2019-10-09 10:57] fabiendem commented on #1155
@luisnaranjo733

What's misleading is that the github repo https://github.com/microsoft/appcenter-sdk-android shows the `develop` branch by default rather than the `master` one.

At time of writing, the version 2.4.0 is on their `develop` branch, not `master`, so it's kind of expected imo.
https://github.com/microsoft/appcenter-sdk-android/blob/master/versions.gradle
https://github.com/microsoft/a

[2019-10-09 11:06] j-hat commented on #274
@King-of-Spades

It seems that after upgrading to Xcode 11.1 this is broken again, I am using the 3.0.4-dev2 version, and I get this strange error. Notice the absolute file path for a developer named Ivan, and the mention of the iPhone 6 simulator which isn't even available for iOS 13.

`Xamarin.UITest.XDB.Exceptions.DeviceAgentException : Failed to launch simulator

ExitCode: 134
	0   CoreFoundat

[2019-10-09 11:21] j-hat commented on #1129
@Oddj0b

Hey, running UI tests on any of the new iOS 13 simulators doesn't work for me since upgrading to Xcode 11.1

I get this error mentioning the iPhone 6 simulator and containing an absolute file path for a developer named Ivan, which is strange.

[code]

[2019-10-09 12:33] bperreault commented on #591
Hello @DennisPan .
Our team is in the process of configuring AppCenter through the GitHub app as you have suggested.  Is there some limitation in that app which can be resolved?   We are not able to configure even as many apps as we were straight through AppCenter.

We have this issue now:
_"From the dev:
I have configured 5 iOS client apps and after that I can't configure more. It is showing an e

[2019-10-09 13:47] ayngling commented on #87
I'll echo the previous poster. I really need this, and I'd be surprised if the same was not true for many others.

[2019-10-09 13:52] liszto opened #1159 "[IMPROVEMENT] Allow to see symbols uploaded"
Hello,
could you allow us to see the .dsym or breakpad or whatever file uploaded to symbolicate.
Because currently when we upload the .dsym.zip archive through appcenter-cli there is no way to check if the upload has succeeded.

The issue is the same if we upload on the appcenter website. When the upload is done, we can't check all symbols uploaded.

thanks.

[2019-10-09 14:12] Shaggy13spe commented on #1152
@derpixeldan I am having the same problem. I did reach out to the support on AppCenter, and it takes days to get an answer, however, the last answer was to remove references between the projects.
![image](https://user-images.githubusercontent.com/630205/66489049-fcd25d80-ea7c-11e9-8e8b-940311b9909c.png)
Our iOS & Android projects do not reference each other, and prior to updating to .netcore3/stan

[2019-10-09 14:41] Steve9215 opened #1160 "Ability for AppCenter to process .so files for NDK Crash symbolication like how it used to work in HockeyApp"
**Describe the solution you'd like**
Back in HockeyApp, we used to be able to upload a .zip file containing a libcopilot.so for each supported eabi, and HockeyApp would process the files and generate a symbol table to symbolicate NDK crashes.  This functionality is either lost or not working in AppCenter

**Describe alternatives you've considered**
We've tried following the instructions here to up

[2019-10-09 14:50] nrettich opened #1161 "Additional option to fire release webhook only for initial distribution"
Currently, a webhook is fired any time the release gets distributed to additional groups. Since we have staged distribution and we get the same information again and again for each new group added to the release.

It would be great if the webhook would only fire once for each release.
Thanks

[2019-10-09 15:13] SchafftJonas commented on #570
@DennisPan We ran into the same problem and only removing the -sdk flag could help us now. Any updates on the topic?

[2019-10-09 15:18] nathanhillyer commented on #1112
@derpixeldan Do you need the information requested by Scott above? The short answer is we tried to disable them everywhere, but are still getting the emails, but I can address the individual questions more thoroughly if needed.

[2019-10-09 15:28] ElteHupkes commented on #81
I don't want to hijack this issue, but I would be a big fan of being able to specify release notes for automated builds. The most simple option would be to just have a text file that, if exists, would be used to populate the release notes. Everyone can use their own pre-build logic to populate that file. Alternatively, a new build script of which the output is used for release notes would work jus

[2019-10-09 15:37] caiofbpa opened #1162 "Ability to select a random device from TestCloud"
**Describe the solution you'd like**
I would like to be able to get a random device from the farm, just like the LaunchTest does, but for my custom test run. If I could select which OS version, manufacturer or Tier, it would be perfect! I don't care too much about which specific device the tests will run on, and I don't like selecting one specific device and having to wait in line for the device t

[2019-10-09 17:42] luisnaranjo733 commented on #1155
Great point, I had not realized that. Totally agree that it's misleading that the GH repo shows the develop branch. That definitely seems like it would be a common source of confusion

[2019-10-09 17:43] King-of-Spades commented on #1129
Version 3.0.4-dev2 has an update for local simulator tests using Xcode 11: https://www.nuget.org/packages/Xamarin.UITest/3.0.4-dev2

It might be worth giving it a shot @j-hat, though in the past, Xcode's minor version bumps have sometimes required additional updates to Xamarin.UITest and/or the Test Cloud Agent; because despite being minor version bumps they contain changes which are breaking the

[2019-10-09 18:23] hamswan commented on #1000
We will discuss this for the future

[2019-10-09 18:28] #828 closed

[2019-10-09 18:33] DennisPan commented on #913
@alefurman We just deployed a fix for this. Could you give that another try?

[2019-10-09 18:35] danielwilson1702 commented on #163
@kuyazee looks like an API request for basically this is on the roadmap under https://github.com/microsoft/appcenter/issues/31.

The development ethos to things like road maps and being so active with github issues is great folks, keep up the good work!

[2019-10-09 18:40] DrBeak1 commented on #970
I don't see an October plan -- are these still being posted regularly @nrajpurkar ?

[2019-10-09 18:58] alatem opened #1163 "Change the region on test devices"
<img width="1264" alt="Captura de Pantalla 2019-10-07 a la(s) 20 42 30" src="https://user-images.githubusercontent.com/11216948/66511647-ec31df80-ea9c-11e9-8a15-6cc9c80d5406.png">
I would like to be able to change the region of the test devices, because my app doen´t support the region of the United states. I`m from Mexico.

[2019-10-09 19:04] nrajpurkar commented on #970
@DrBeak1 yep, October plan is over at #1114

[2019-10-09 19:15] dmak12 opened #1164 "Display provisioning profile expiration date for iOS app"
In HockeyApp there was a feature where we could see the expiration date of a provisioning profile or certificate of an app.

I would like to please see this feature added to App Center.

[2019-10-09 19:21] nrajpurkar commented on #1164
Hi @dmak12, thanks for opening this issue. Looks like a duplicate of #1013. Closing this out to continue tracking on the other issue. Feel free to add your support via reactions or comments on that issue. Thanks!

[2019-10-09 19:21] #1164 closed

[2019-10-09 19:41] DrBeak1 commented on #970
Thanks @nrajpurkar! I was looking [here](https://github.com/microsoft/appcenter/wiki/Iteration-Plans) and didn't see it.

[2019-10-09 20:18] shawnvega commented on #591
We have moved over to bitrise.io Which will allow us to build multiple apps
from one repo. Not as many webhooks are required.

On Wed, Oct 9, 2019, 10:36 PM Bobbi Perreault <notifications@github.com>
wrote:

[2019-10-09 20:24] thbong opened #1165 "App Center Bug Tracker for DevOps Tags"
**Describe the solution you'd like**
I'd like App Center bug tracker service to allow defining custom tags for DevOps.

**Describe alternatives you've considered**
The only alternative is to click on each work item and click on the link to see which app the bug belongs. We'd like to define custom tags as our team has multiple versions of our apps(alpha, beta, etc.) and filter by tags in the backlo

[2019-10-09 22:14] PatrykKaczmarek commented on #167
Hello @iageoghe. Do you have any update regarding this request? We would like to create api tokens so only one token will be assigned to the app directly. It will significantly increase an overall security by limiting what user can do with generated api token. In just over a month HockeyApp will be shut down. It will be good to have this feature onboard as soon as possible to proceed with migratio

[2019-10-09 22:41] DennisPan commented on #570
@SchafftJonas Could you reach out to support and ask to be forwarded to me? I'd like to see if we can implement a quick workaround for your app. For now, I'd like to avoid a widespread change, with the risk of breaking others who don't need it.

[2019-10-09 22:49] King-of-Spades commented on #274
hmm...unfortunately even Xcode minor updates have tended to break the simulator connection sometimes, so probably it will need _another_ update for 11.0 -> 11.1

[2019-10-09 23:19] ewgenius commented on #485
Hello @tauntz. We just released search by Exception Type, feel free to use it. It is available as part of text search and as a separate filter:

<img width="1151" alt="image" src="https://user-images.githubusercontent.com/827338/66527291-6cae0b80-eab0-11e9-8660-5c1729860e5e.png">

[2019-10-09 23:19] #485 closed

[2019-10-09 23:21] bperreault commented on #591
@shawnvega thank you for that update. We'll take a look.

[2019-10-09 23:39] DennisPan commented on #591
@bperreault I haven't been able to find the support conversation. You can ask support to forward the conversation to me directly, or let me know the user who initiated the conversation so that I can do a better search.

The error you are seeing typically means the user who started the process don't have the right access to the GitHub organization or user which has the GitHub App installed. But if

[2019-10-09 23:54] DennisPan commented on #913
We have a customer confirmed this is working, so I'm closing this. Feel free to re-open if needed.

[2019-10-09 23:54] #913 closed

[2019-10-10 00:25] bperreault commented on #591
@DennisPan, understood on what the error normally  means. and as you have stated, since the same user created all the existing projects it's not likely that the error is given for the same reason in this scenario.  I made a request in my AppCenter support case to have the details forwarded to you. Thank you.

[2019-10-10 01:43] marikavertzonis commented on #543
This is affecting my team also. The workaround in ok for short term but not long term.

[2019-10-10 03:07] winnieli1 commented on #1123
Hi @jzeferino thanks for filing an issue. You're correct, the max number of properties is 20 and 125 characters for key/value.

We have this documented in our [analytics docs](https://docs.microsoft.com/en-us/appcenter/sdk/analytics/xamarin#custom-events) but seem to have missed this in our handled errors docs. I will submit a PR to have this fixed this week. Thanks!

[2019-10-10 06:54] Ajaykn21 commented on #202
Hi @lukaskubanek , @shpakovski
Note that the AppCenter sparkle feed url returns only the releases that are distributed via AppCenter.

To have a seamless migration from HA feed to AC feed, please follow the below steps.
1) Update SUFeedUrl from HA feed to AC feed and distribute the new release to Hockey app.
So that the current users gets the update from HockeyApp and once updated, app starts list

[2019-10-10 07:27] rishimodha commented on #202
@Ajaykn21 What is the AC feed URL and where do we find this?

[2019-10-10 08:08] invariant commented on #202
This is impossible for those of us that have already migrated from HA to AppCenter. (Unless there is a way to go back?)

Will you consider a simple HTTP 301 redirect from the HA sparkle feed to the AC one? I have an app with several hundred users in the wild now marooned and will never update. It is very unsatisfactory situation. If I had known that AC did not have Hockey feeds I would never have

[2019-10-10 08:21] haneal opened #1166 "Android app does not work properly"
Hi,
migration is over (from HockeyApp) and ios is now working normally but Android only dumps the ThirdParty side, and you can see the normal call stack, and UE4 internal native code is not properly analyzed and is stacked in Unsymbolicated in Diagnostics.

Step1.
Curl -X POST \"https://api.appcenter.ms/v0.1/apps/{0}/{1}/release_uploads\" -H \"Accept: application/json\" -H \"X-API-Token: {2}\" -H

[2019-10-10 08:49] rishimodha commented on #202
This is hugely concerning. We have 100k+ users on hockey and we need a solution.

[2019-10-10 09:02] lwq008 opened #1167 "Allow App Center to receive crashes from UWP app through HockeySDK"
**Describe the solution you'd like**
I would like App Center to receive crashes sent through HockeySDK from UWP app.

**Describe alternatives you've considered**
Alternative is to migrate our UWP app to use App Center SDK. However, we are unable to accomplish that before the cut over date of November 16, 2019.

**Additional context**
Not sure if there is already existing feature request for this a

[2019-10-10 09:14] derpixeldan commented on #1167
@lwq008 we're working on it. HockeyApp won't be unavailable for you on November 16. You will have extra time, no worries.

[2019-10-10 09:16] derpixeldan commented on #1166
@haneal can you please reach out to us via support so we can better investigate the problem? You can mention this issue.

[2019-10-10 09:24] derpixeldan commented on #1160
Thanks for bringing this up, we're aware of it and will consider doing it once the blockers tracked on our public roadmap are done.

[2019-10-10 09:30] lwq008 commented on #1167
@derpixeldan That is great. Thank you!

[2019-10-10 09:42] MatkovIvan commented on #1155
Hey @luisnaranjo733,

As already mentioned above, 2.4.0 is not released yet.

The latest release on [GitHub](https://github.com/microsoft/appcenter-sdk-android/releases) and [Maven](https://mvnrepository.com/artifact/com.microsoft.appcenter/appcenter) is 2.3.0

Our docs is also point to 2.3.0 as it's the latest version for Android. So, I'm curious why you thought that it isn't the latest one?

[2019-10-10 09:50] klogeaage commented on #813
Hi @lumaxis, could this have been resurfacing recently? I have two testers that can no longer install my app on their XS and X phones, while the rest with older devices have no problems. The testers with X-devices used to be able to do so, but now get the "Oops! There was a problem..." message. Since they are unable to start the app, I really don't have much more information.

[2019-10-10 09:52] MatkovIvan commented on #1155
Ah, "npm". React-Native, right?
It was updated to bring the fixes from iOS native SDK, but it uses Android SDK version 2.3.0 since it's the latest one.

Android and iOS versions may not match (but they usually do). Currently React-Native SDK wraps Android 2.3.0 and iOS 2.4.0 SDK. It's definitely intended and the compatibility is verified, no worry.

[2019-10-10 09:54] gogoslab opened #1168 "Ability to use with Swift Packages"
Add a Package.swift manifest file so the project

https://developer.apple.com/documentation/xcode/creating_a_swift_package_with_xcode

[2019-10-10 11:06] EinfachHans opened #1169 "Check For Updates on Cordova Apps"
In the older Hockey Cordova Plugin, there was an Function to check for newer Versions of this App in Hockey: https://github.com/bitstadium/HockeySDK-Cordova#checking-for-updates

I'm missing this at the Moment to make it possible to my tester to automatically update the App.

Is this possible?

[2019-10-10 11:52] derpixeldan commented on #202
Sorry for the late reply.

For apps that haven't been moved yet:
* Releases uploaded to HockeyApp don't show up in the App Center Sparkle feed
* Releases uploaded to App Center don't show up in the HockeyApp Sparkle feed

For apps that have been moved, all versions that are released to a public distribution group show up in the App Center Sparkle feed (regardless where they were formerly uploaded)

[2019-10-10 12:02] rishimodha commented on #202
@derpixeldan thanks for the clarification. Does this mean that apps still using the hockeyapp sparkle feed URL will be able to grab the next update distributed via app center? I understand the appsecret is in a slightly different format, so I assume you will put in handling for this?

[2019-10-10 12:08] davidvavra opened #1170 "Support Cucumber version 3+ for Calabash tests"
Documentation of Calabash states that maximum supported version of Cucumber dependency is 2.99. I would like to use new features of Cucumber 3+. I tried to upload tests with newer version and it almost works:

![Onboarding declined - blacklisted phone number  klara stecherova velvon com responsible  · Velvon Demo · App Center](https://user-images.githubusercontent.com/395884/66567389-64fd6e00-eb67

[2019-10-10 12:32] pengcao1 commented on #827
any updae?

[2019-10-10 12:53] derpixeldan commented on #1112
@nathanhillyer no thanks, we're good.

[2019-10-10 14:12] aaronlabeau opened #1171 "Give ability to send logging information from app to app center, not just exceptions"
**Describe the solution you'd like**
Today App Center allows you to log exceptions to App Center.  What would be nice is if you could also send other logging information to App Center.  Categories should include:

-Information
-Debug
-Error

A web page would be provided that would allow you to filter your logs based on the type of log event, date/time, and user.

**Describe alternatives you've con

[2019-10-10 14:54] nfox513 commented on #230
I am having an issue where I click on the "Move this app" button but absolutely nothing happens in the UI. I am communicating with support but that have been unable to tell me anything, besides "try it again". Is there a bug in this feature?

[2019-10-10 15:01] WCByrne commented on #202
@rishimodha From what I have experienced releases made via AppCenter are no longer added to the Hockeyapp feed. This used to be the case but the AC releases stopped syncing back a little while ago. I [commented about this above](https://github.com/microsoft/appcenter/issues/202#issuecomment-518728388)

I feel like cutting that backwards sync really threw a wrench in this transition 😞

[2019-10-10 15:33] derpixeldan commented on #230
@nfox513 it's working. Can you please mention this thread in support and ask for escalation?

[2019-10-10 15:37] winnieli1 commented on #827
Yep! We added this to our roadmap and expect to complete this in the upcoming months.

[2019-10-10 15:55] winnieli1 commented on #1123
We have an item on our backlog to increase these limits but due to other priorities at the moment, I don't have an ETA.

[2019-10-10 15:58] lukaskubanek commented on #202
If you decide to build it server-side in App Center, please make this optional and configurable in the administration, as I'm relying on the Markdown format to do my own processing. Changing the format would break things.

[2019-10-10 15:58] winnieli1 commented on #1159
Thanks for the feature request! This is something we're aware of and looking to improve. I don't have an ETA but you can follow our roadmap and iteration plans to see what our team is working on.

[2019-10-10 16:00] aismaniotto commented on #1123
Thanks.

[2019-10-10 16:15] c-lamont opened #1172 "Show date in Builds list."
**Describe the solution you'd like**
When looking at my Builds list, the dates are shown as 1 day/month/year ago.
I would like to see the actual date of the build to help me track down an issue.

**Describe alternatives you've considered**
Include the date as a greyed out subtitle under the current date.
**2 days ago**
***10/10/2019 13:20***

**Additional context**

[2019-10-10 16:19] christophertalbot opened #1173 "Global view of Analytics"
**Describe the solution you'd like**
As a Product Manager, I want to log in to a page in App Center above all Products we have in our Organisation, so that I can quickly glance at key Analytics data like Top Devices, OS Distribution at a glance

**Describe alternatives you've considered**
Currently I have a Bookmark saved for all 50+ apps we have in our Organisation and I have to go into each Tab

[2019-10-10 16:44] bdlawrence13 opened #1174 "Separate custom properties into separate JSON attributes"
Today, when we define custom attributes in the tagged events, they are being put into a single string as the value for "Properties". For example, we may have 2 custom properties defined in an event tag. They would look like this in the event log:

{"Properties:"{"\"c1\":\"value1\",\"c2\":\"value2\"}"

When we parse this using a JSON parser, including the one in data factory, the best we can do is

[2019-10-10 16:45] winnieli1 commented on #1004
Hi @Moccassins - just checked with the SDK team and confirmed we don't currently support this scenario. I'll label this issue as a feature request and keep it open to track community interest.

Thanks!

[2019-10-10 17:24] mikeberlin commented on #158
Any update on this? We are evaluating options for CI/CD and this is the only reason we can’t use App Center.

[2019-10-10 17:28] nrajpurkar commented on #158
@mikeberlin no update on supporting GitHub Enterprise at this time

[2019-10-10 18:42] firrae commented on #189
Is this something MS are looking to add @nrajpurkar? Considering it's the most likely way most people will begin developing (It is the default option in the React Native docs), and it offers likely the best local dev experience, it seems like something that should be supported.

[2019-10-10 19:25] afarnham opened #1310 "Missing the showUpdateView functionality from Hockey update manager"
### **Description**

The Hockey SDK had a way to force the update view to appear via a method on BITUpdateManager called showUpdateView. Please implement this in AppCenter.

### **Repro Steps**

N/A

### **Details**

1. Which SDK version are you using?

2.4.0

2. Which OS version did you experience the issue on?

all

3. Which Cocoapods version are you using (run `pod --version`)?

Carthage 0.33.0

[2019-10-10 19:38] SimonGolms commented on #787
I just run into this bug too with my ionic project after updating to MacOS Catalina.
I was able to solve the issue following these steps:

1. Install/Update/Start Xcode and install/agree the open pending changes/license
2. Install/Update Cocoapods: `$ sudo gem install cocoapods`
3. Remove and recreate dependencies and generated files: `$ ionic repair`
4. (Optional) Delete the folders `platforms` a

[2019-10-10 20:42] gcarter-comcast commented on #591
Many snows ago I worked for Sybase and had many opportunities to speak directly with customers on their sites regarding what they needed from Sybase to develop their systems better. I have ever appreciated the comment made by one such customer, "Don't protect us from ourselves. After all, we might just know a little better than you how to best solve our problems."

Among professionals, I think the

[2019-10-10 20:55] codeithuman commented on #708
Hello,

Being new to App Center, I expect the "Getting Started" page to morph into a dashboard that displays analytics once App Center SDK is correctly installed/set up. When I see "Getting Started" after setting up App Center, it lowers my confidence in App Center and makes me wonder if I have App Center set up correctly.

Thanks,
AJ

[2019-10-10 22:39] grockland opened #1175 "Execute UI tests from the portal"
Great going - es geht as they say.

However the command line interface to Test runs is very clumsy and difficult.  This should be handled in the AppCenter UI (as you probably already know).

[2019-10-11 03:43] dexter31 commented on #778
I'm not an expert on UX, but going through similar pains in the past -

- Logo
- Primary and Secondary color
- Font family

[2019-10-11 05:09] msdof opened #1177 "Cannot find the entry to upload native library .so files"
Hi,

We have an app on AppCenter for collecting native crashes, **but there isn't an entry to upload native library .so files*. There is an window "upload debug symbols", but I didn't find any buttons for uploading.

![image](https://user-images.githubusercontent.com/52813313/66625772-3f846900-ec28-11e9-9a8e-d75d65f046f4.png)

Currently it blocks us to see the real traces, is this a known issue?

[2019-10-11 05:22] msdof opened #1178 "Support uploading native library .so files in App Center VSTS task like HockeyApp does"
Hi,

We team highly depend on App Center VSTS task(called: "App Center distribute") to make our build pipelines run well. But currently it **CAN'T** support uploading native library .so files. There is only an configurable entry for uploading Android mapping file:
![image](https://user-images.githubusercontent.com/52813313/66626097-8c1c7400-ec29-11e9-98be-6ef702481ec0.png)

It's blocking us to get

[2019-10-11 05:32] #1177 closed

[2019-10-11 05:32] msdof commented on #1177
It should be because of permission

[2019-10-11 06:25] zuhair-naqvi commented on #262
Any news on the official support? When can we expect to see some out-of-the-box support for Detox? It's the only thing holding us back from migrating to AppCenter

[2019-10-11 07:03] DennisPan commented on #1083
@ivanbogomoloff Did you get a chance to look at this? No rush. Just checking.

[2019-10-11 07:13] DennisPan commented on #847
We haven't seen this for a while, so I'm closing this out. Feel free to reach out if you see more of this.

Appreciate everyone for letting us know you ran into this, giving us the patience and trying the workaround!

[2019-10-11 07:13] #847 closed

[2019-10-11 07:14] DennisPan commented on #298
@tonyarnold Do you mind explaining more on what you mean by "unsafe"?

[2019-10-11 07:39] DennisPan commented on #570
For folks who are running into the same, we have implemented a workaround that can be enabled per app, which removed `-sdk` option during build. If you need this as well, please reach out to support. Hopefully we will make this more flexible globally (either by providing an advanced option, or be smarter about it with repository analysis), but likely not very near term

[2019-10-11 10:35] Ajaykn21 commented on #202
Thanks for pointing this, @arrizer .
We have fixed this and you should be able to see the release notes in sparkle feed in html format.

@lukaskubanek, This formats only for sparkle feed. I hope this works for you.

[2019-10-11 10:59] futuretap opened #1179 "Support Codebase as bug tracker"
In HockeyApp, we could auto-generate issues in [Codebase](https://www.codebasehq.com) for repeating crash reports. Please bring that feature back as we have to transition to App Center.

[2019-10-11 11:10] lukaskubanek commented on #202
@Ajaykn21 Actually, I was relying on the Markdown _within the Sparkle_ feed. So it broke my preprocessing pipeline. Do you have any other plans on changing the Sparkle feed format in the near future (e.g. #1150)? It's hard to keep pace with these changes if they are not announced in advance and the HockeyApp termination is moving closer...

[2019-10-11 11:48] hydrixos opened #1180 "Manual upload of crash reports"
From time to time, customers send us crash reports via Mail. It would be great if we could just upload them to App Center in order to symbolicate them.

[2019-10-11 14:31] nrajpurkar commented on #1172
Thanks for the feature request @c-lamont. I understand how having the date visible and not having to do the calculation yourself is helpful.

FYI @baileybrooks @plainspace

[2019-10-11 14:36] DominicCabral commented on #21
Hey @nrajpurkar, any update on this? 😄

[2019-10-11 14:54] lafferrs opened #1181 "/v0.1/orgs/{org_name}/users/{user_name} returning incorrect user data"
When we call /v0.1/orgs/{org_name}/users/{user_name}, the data that's returned is not the data for the user specified via {user_name}, rather the data returned is the user data for the user related to the API token.

For Example, we call
curl -X GET "https://api.appcenter.ms/v0.1/orgs/{org_redacted}/users/some.user%40host.com" -H  "accept: application/json" -H  "X-API-Token: {api_token_redacted}"

[2019-10-11 15:04] derpixeldan commented on #1178
Duplicate https://github.com/microsoft/appcenter/issues/1160

[2019-10-11 15:05] #1178 closed

[2019-10-11 15:06] derpixeldan commented on #1175
@grockland can you please elaborate what improvement exactly you want to see in App Center?

[2019-10-11 15:16] nrajpurkar commented on #21
Hey @DominicCabral, no definite update for this month's iteration plan, but we intend to get to this _very_ soon. Thanks for your patience!

[2019-10-11 15:43] grockland commented on #1175
Currently AppCenter test runs are initiated through a complex local command
line interface.  (it is clumsy and the command parameters are difficult to
locate and determine). This should be moved to an automatic feature as part
of the App Center UI. i.e.  a button push that initiates test runs from App
Center itself.

On Fri, Oct 11, 2019 at 8:09 AM Daniel Adams <notifications@github.com>
wrote:

[2019-10-11 15:47] Ajaykn21 commented on #202
@lukaskubanek currently in HockeyApp also, we are converting markdown to html and so we are supporting the same in AppCenter feed.
Please let us know if you see any change in the behavior.
Also we are open for suggestions and  #1150 is being tracked separately.

[2019-10-11 16:45] gaige commented on #31
Did you have any luck with symbolication on modern devices?  We also relay our PLCrashReporter output to the HockeyApp endpoint and crashes symbolicate fine there.  However, it appears that's due to some finagling on the HockeyApp part, as the RAW crash reports contain seemingly random bits in the top 28 bits of the instruction pointer.  This doesn't appear to be compensated for by the AppCenter s

[2019-10-11 17:15] lumaxis commented on #1180
Sounds like this might be a duplicate of #31? Which is actually currently being worked on 🙂

[2019-10-11 17:15] #1180 closed

[2019-10-11 17:39] onethread opened #1182 "More clarity in the UI regarding re-signing status"
**Describe the solution you'd like**
If I have `Automatically manage devices` enabled for my test group, the UI doesn't seem to present any type of status indicator. When it works, it's great, but when it doesn't, as far as I can tell, it's impossible to tell what's happening.  Is it queuing the re-signing, is it in the middle of it, or did it jam up and will not re-attempt?

With regards to build

[2019-10-11 17:43] DrBeak1 commented on #547
This is especially helpful with parallel testing enabled. Because the logs provide no details about what happened in the case of a failed test.

[2019-10-11 18:28] TLiu2121999 commented on #31
Agree with @gestrich. This API https://openapi.appcenter.ms/#/crash/textError_upload is NOT for this request. It only support the specific format of stacktrace; But we are requesting "Uploading attachment". We need to upload device log in a .txt file even when there is NO crash happening, but the user needs to provide us their device log to help us debug.

[2019-10-11 19:24] AlohaDaveKlein opened #1183 "Enable CLI `publish` auto-emailing to work with Microsoft Office365 `corp` account members"
**Describe the solution you'd like**
Companies that have Office365 contracts with Microsoft have their users log into MS with usernames in the format of `JDoe@corp.mycompany.com`.  And although users' MS online accounts list their official email addresses as `JDoe@mycompany.com`, the AppCenter CLI command `appcenter distribute publish --group mycompany` sends the emails to the `usernames` (with th

[2019-10-11 19:45] alexrinass opened #1296 "Dynamic frameworks for macOS"
### **Description**

The macOS framework bundles are not properly symlinked inside the bundle. All symlinks appear to have been resolved before or during the archiving process.

This leads to code signing errors when the AppCenter frameworks are copied into the app bundle and signed. The signing of the frameworks actually succeeds, but when the app bundle is signed, an error is raised that the App

[2019-10-11 19:51] Bishbulb commented on #1137
@tjsomasundaram I'm trying to figure out how the app updates are supposed to be handled when we wire up `AppCenter.Start` in `Application.OnCreate`. From all the testing I've done, the in-app updates are never triggered, and I'm wondering if this is because it isn't properly wiring into the Activity.OnResume/OnPaused handlers.

I am happy to take control of this and manage my own updates (ie. chec

[2019-10-11 22:39] tjsomasundaram commented on #1137
Hi @Bishbulb, thank you for providing great details on what you are looking for. I took this to the Distribute team and they are looking to see the scope of the work involved. I am not aware of this feature being a part of their plans in the near future, but I can confirm with them.

[2019-10-11 23:13] King-of-Spades commented on #1038
Related to ADO PM - 40170

[2019-10-11 23:22] winnieli1 commented on #1171
Thanks for the feature request! I can see how this would be really useful. We don't have immediate plans to implement this but let's keep the issue open to track interest.

Issue #64 and #689 are sort of similar if you want to give those a +1. We'll post here if there are any updates. Thanks!

[2019-10-11 23:30] dmariogatto commented on #30
For those that are not having their extension detected, ensure that the reference in your container app csproj matches the extension's project Guid exactly.

For example,
- Extension csproj has a project Guid _`<ProjectGuid>{15A3D6ED-A6FB-46B3-A8E3-204A609AC023}</ProjectGuid>`_
- Container app reference to the extension must also be _`<Project>15A3D6ED-A6FB-46B3-A8E3-204A609AC023</Project>`_

Mine

[2019-10-12 13:59] ducpt2 commented on #23
+1 for this feature. Thank you.

[2019-10-12 14:59] bo3po commented on #1103
I would like this also

[2019-10-12 15:11] bo3po opened #1184 "Build Dashboard"
**Describe the solution you'd like**
A simple view on the startpage of "build" where I can see what I started and what went wrong. When you have a build and so many options along with the build like distribute and test you can not have a single "ball" saying "Build" that is either red or green. You need a pipeline view. I had a lot of problems with provisioning and the new extension signning. It w

[2019-10-12 15:13] ecosky commented on #294
It would be great to have official HockeyApp support for UE4 as a plugin. I haven't tried fred-king's plugin ( https://github.com/microsoft/appcenter/issues/294#issuecomment-498359687 ) but that sounds promising.

[2019-10-12 16:59] ufna commented on #294
@ecosky , we're using it in few mobile projects and it works) Not all features yet, cause I've implemented only what is necessary for us. F.e. this plugin used in [AW: Assault](http://awa.my.com/)

[2019-10-12 17:18] ecosky commented on #294
@ufna Sounds promising! I'm actually interested in Windows support however. After posting this I discovered App Center is replacing Hockey App pretty soon. Hoping they add Windows+Unreal support to it (they appear to support Unity right now which is encouraging).

[2019-10-12 17:47] #970 closed

[2019-10-12 19:29] wedol opened #1311 "[Feature request] Allow users to create custom implementation of IStorage"
Allow users to create and set custom implementation of IStorage to mitigate SQLite issues (microsoft/appcenter#876)

Usage like this:
`AppCenter.SetStorage(CustomStorageImplementation)`

[2019-10-13 21:51] lukaskubanek commented on #202
@Ajaykn21 It actually makes sense to align the output in the Sparkle feed with HockeyApp. I’ve now updated my processing, so everything is fine again. My point was just about not knowing what might change under our hands. So now I’ll assume it won’t break again and I’ll proceed with the migration. 🤞

[2019-10-14 05:41] stephenquan opened #1185 ""Not Found" when attempting to download an an app via the API"
Dear AppCenter,

I'm trying to download a distributed app programmatically.

I think I need to use the downloads API.
I start by getting a `uri` from the downloads API.
But, my attempts to use that `uri` results in a `Not Found` JSON message.

This is the script I used to get the `DOWNLOAD_URI` :

[code]

Which outputs something like:

[code]

However, I cannot figure how to use this `DOWNLOAD_URI

[2019-10-14 06:52] lumaxis commented on #31
@gaige What you're observing in the 28 higher order bits is the pointer authentication signature that was introduced with last year's devices and their arm64e architecture.
We _should_ be correctly normalizing/stripping that signature in our symbolication pipeline - in addition to some client-side work we do in out SDK - but it's possible that that doesn't work correctly.
@winnieli1 Can we make su

[2019-10-14 07:14] vishnuprakash9845 commented on #1081
Sorry for the Late reply,
Visual Studio Version: Enterprise 2019 version 16.0.3
Xamarin nuget package: Xamarin.UITest.3.0.3

[2019-10-14 07:41] zjx opened #1186 "Cannot install App Center Profile on Ipad Air 2 with iOS 13"
when goes to https://install.appcenter.ms/profile to add a new device on an ipad air 2 with iOS 13, there is no popup to let customer to install the profile.

Also tried on an ipad air with iOS 12.4, no such error occur.

Does the app center website supports iOS 13 version already?

[2019-10-14 08:39] antpuleo2586 opened #1187 "Add support for xcodebuild build-for-testing with Developer certificates (iOS)"
**Describe the solution you'd like**
I've started running automated UI tests using XCUITest for iOS in our React Native app.
My plan was to automatically build these tests during the App Center build, then upload and trigger them in cloud platforms such as Firebase Test Lab.

However, I had a problem because the test build must be signed with a Developer profile/certificate and we were using a Dis

[2019-10-14 09:55] lumaxis commented on #1186
@zjx The website should show you a warning banner at the top. You need to use the "Request Mobile Site" option in the website settings as otherwise App Center is not able to recognize that the device that you're using is an iPad. See https://github.com/microsoft/appcenter/issues/543#issuecomment-520152579

[2019-10-14 09:57] lumaxis commented on #543
@wtaconnerzeuli It does not, from my experience. iOS has had a long standing issue where sometimes, profiles take a while to show up in the settings page but it's definitely separate from this issue.

[2019-10-14 11:29] sarahyc commented on #1160
Can you share what are blockers? We want to learn what are existing blocking issues.
Also pls consider treat this as high priority, this breaks our automation totally.

[2019-10-14 12:07] atiyka opened #1188 "Analytics with UWP app"
I'm developing an app in WPF and the analytics are working fine with it. But when I build my app with desktop bridge to be able to run as a UWP app, then the analytics stops working. I know that the crash reporting is not yet done, but also the analytics part is in progress? Or I was missing something?

I tried with version 2.1.1 and with 2.3.0-prerelease, too. Both works the same way.

[2019-10-14 12:11] jarrrgh commented on #786
I've been also struggling with this. Finally I was able to connect an app with the following dance steps:

1. Uninstall App Center app in GitHub
2. Find App Center app in Marketplace and select "grant this app access"
3. Select repository, and use the wizard to create a new app based on the repository

Funny thing to note is, that you could choose multiple operating systems (for example Android an

[2019-10-14 12:37] Oddj0b commented on #1129
@GeorgeDarakchiev @j-hat does it work on the `dev` branch?

[2019-10-14 13:30] GeorgeDarakchiev commented on #1129
@Oddj0b we are running the tests locally and I can confirm that **version 3.0.4-dev2** works with Xcode 11.0. and Xcode 11.1 and I am not getting the error @j-hat reported (I was not able to create iPhone 6 with iOS 13 simulator, but I have tested it on iPhone 11, iOS 13.1).

Sadly, after upgrading to 3.0.4-dev2 (from 3.0.0-dev1) I am getting the following exception on Android (running on Windows,

[2019-10-14 13:32] projectgoav commented on #31
@derpixeldan: Xamarin Insights was shutdown before all platforms were supported despite promising feature parity. We're still waiting for Xamarin.Mac support.

[2019-10-14 13:50] ghost opened #1189 "Virtual test support"
**Describe the solution you'd like**
_AppCenter_ should let you create virtual test that simply look at iso/android log for regex to see start/end/success/fail event of a test. A virtual test is a simple definition containing regex. The primary purpose of this is to support existing testing framework where companies have invested time and money and could not possible duplicate the effort to add wr

[2019-10-14 13:58] manuelmolerobusto opened #1190 "[In app updates] Feature couldn´t be enabled"
Hi,

We get an error message trying to update an application in app center distribute. After downloading app from appcenter link (mail notification) and install app, we get "Feature couldn´t be enabled" screen in chrome browser, in Android device.

After that, one pop-up is showed in Android app alert us our app was installed side load or private browser.

Someone can help us?

Screenshot is attac

[2019-10-14 14:37] atiyka commented on #1188
We tried to fall back to the HockeyApp, because we need the analytics data, but even there isn't working. I don't receive any analytics data neither in WPF mode, nor in UWP.

[2019-10-14 14:44] balivo opened #1191 ""Unauthorized" responses when make API Request"
HI everyone,

My (own) admin panel has a push send functionality connected to AppCenter, I have 2 types of push, immediate and scheduled... In the immediate push, a message is sent at registration and everything works perfectly... Scheduled push, registers a message to be sent in the future through a Timer Trigger Function that every hour consults the pending messages and sends them according to t

[2019-10-14 15:19] tindn commented on #23
+1. Is this feature being worked on at all?

[2019-10-14 16:16] moody31415 opened #1192 "Appcenter view to show me what I'm testing"
The appcenter website today shows me a list of every project available, and there's no way to see what apps I'm "actively" testing / enrolled in. I want a view to show me those apps, so I can understand what I'm using and what I'm not. I also would like within this view an easy way to 'stop testing' various apps I'm no longer working on.

[2019-10-14 16:20] moody31415 opened #1193 "Appcenter option to "stop testing platform X""
**Describe the solution you'd like**
Today, appcenter (eg, https://install.appcenter.ms/apps) will show me apps for windows, android, and ios. I briefly used an ios device, and enrolled in testing on a bunch of apps - but now I no longer have that device and use an android instead. Yet I get period emails from appcenter telling me to update my ios apps. There should be a one-button "stop testing p

[2019-10-14 16:45] turanuk commented on #1191
Hello, sorry you are experiencing issues. Can you please file a support ticket with us so we can look into your specific issues and logs? https://docs.microsoft.com/en-us/appcenter/general/support-center#contact-us

[2019-10-14 16:59] turanuk commented on #1191
Screenshot of the support icon on the bottom right of the screen when you load up appcenter.ms:

![image](https://user-images.githubusercontent.com/723462/66769172-4cdc6600-ee69-11e9-84f1-0b469fccaffa.png)

[2019-10-14 17:41] balivo commented on #1191
Ok! Tks...

[2019-10-14 17:41] #1191 closed

[2019-10-14 19:18] gestrich opened #1194 "Support for Searching Recent ErrorGroups"
Hockey's rest API had support for searching for crashes by app version, upload date, etc.. These search parameters are important for scripts which process crash information, some which run on a regular basis -- looking for new crashes for targeted versions. With a large app, it is time-consuming to pull the JSON for all versions/dates since the App's creation date, when only the recent crashes are

[2019-10-14 19:53] kirktay commented on #536
We are required to build locally and then upload. Loosing the ability to download the DSYM as we can from HockeyApp hinders our CI & testing.

[2019-10-14 20:04] prollin commented on #846
@amchew @nrajpurkar any update on this issue?

Unless I am missing an obvious workaround, this is an important feature for anyone working on a real world project with external dependencies.

Is there any issue specific to Android that prevent this from being an easy fix?

[2019-10-14 21:10] nathanhillyer commented on #289
@patniko @winnieli1 @lumaxis is this feature going to be added? We use it frequently– customers will send us crashes from their device that weren't caught by hockey due to the SDK not being initialized yet.

[2019-10-14 21:20] winnieli1 commented on #289
Hi @nathanhillyer - yep, we're just working on documentation right now. It should be done today or tomorrow. Thanks!

[2019-10-14 21:33] nathanhillyer commented on #289
Excellent, thank you!

[2019-10-14 22:21] ragu89 commented on #67
it works also for me (in the appcenter-post-clone.sh script).
Thank you

[2019-10-15 07:45] larisa-feldman opened #1195 "Ability to delete multiple collaborators from list"
**Describe the solution you'd like**
I want to be able to select multiple collaborators from a list and then delete them

**Describe alternatives you've considered**
Deleting collaborators one by one is not really fast

**Additional context**
We have quite a large team and ability to delete multiple collaborators in one go would be helpful

[2019-10-15 07:55] larisa-feldman opened #1196 "Ability to add multiple collaborators at once"
**Describe the solution you'd like**
I would like to be able to add multiple collaborators in one go (like multiple recipients of the e-mail)

**Describe alternatives you've considered**
I have been adding them one by one and it is very slow.

**Additional context**
The management of the large collaborator base could  be improved.

[2019-10-15 08:18] shvedoff commented on #140
The lack of possibility to generate direct link to a release with a specific build number  is blocker for us thus we are not able to make a transition. According to our workflow testers get link to HockeyApp public page of the build to test and then they use QR code there to install the build on a several iOS devices. If they will search for the necessary build  on every device in that huge list o

[2019-10-15 08:33] AlexKar commented on #140
+1, the lack of this functionality is blocker for migration to AppCenter for us

[2019-10-15 08:43] derpixeldan commented on #1112
We deployed a fix and the success emails will not be sent anymore when notifications are disabled in HockeyApp.

[2019-10-15 08:43] #1112 closed

[2019-10-15 09:14] zjx commented on #1186
Thanks @lumaxis, the workaround works for me.

[2019-10-15 09:14] #1186 closed

[2019-10-15 09:27] MateuszSawicki commented on #1185
Im having the same problem

[2019-10-15 10:15] klogeaage opened #1197 "Some testers can no longer install iOS app"
**What App Center service does this affect?**
iOS app distribution

**Describe the bug**
Since october 2nd, some of our testes can no longer install new releases. All devices are provisioned (green) and a release has been prepared, but some of the testers cannot install the build.
There is no INSTALL button available for the testers, only a GET button. Once the tester clicks GET she gets an error

[2019-10-15 11:43] MatkovIvan commented on #1155
Hi, we haven't heard from you in a while so I'm closing this issue. Please reopen/comment if you have more questions or run into this again.

[2019-10-15 11:43] #1155 closed

[2019-10-15 11:44] anka-213 commented on #934
So, is the current suggested path to do this by contacting support?

[2019-10-15 12:20] andreasbergqvist commented on #934
I have an API endpoint that I received from support that did work. Not sure if the people at appcenter wnat me to share it? 😬

[2019-10-15 12:36] Oddj0b commented on #453
@fabiodamasceno @craig95 Sorry, I still don't have an update.

[2019-10-15 12:58] derpixeldan commented on #202
Update: Once an app was moved from HockeyApp to App Center, we forward the HockeyApp Sparkle feed to the App Center Sparkle feed. Please note that we don't move the `dsa_signature` and it's required to add them to the releases in App Center again.

[2019-10-15 12:58] #202 closed

[2019-10-15 13:04] Oddj0b commented on #996
@evorotnikov thanks for clarifying, I wasn't aware that Apple offered a service like this. I'll talk with our engineers to understand how hard it would be to implement. We normally prioritize Github tickets by reaction and if this receives enough 👍 there's a bigger chance it will be implemented.

[2019-10-15 13:06] rishimodha commented on #202
@derpixeldan Hi Dan, can you please clarify if the forwarding of the HockeyApp Sparkle feed to the App Center Sparkle feed includes handling for the differences in the app secret between the two platforms. I believe App Center has added dashes '-' in between the app secret at certain intervals.

[2019-10-15 13:17] derpixeldan commented on #202
@rishimodha we're forwarding to the correct Sparkle URL. So yes, of course we're converting the app secret. This way existing installations aren't locked out, make sure to update to the App Center Sparkle feed with any newer version of your app.

[2019-10-15 13:21] Oddj0b commented on #283
@serj-lotutovici did chat help you?

[2019-10-15 13:26] Oddj0b commented on #1002
@Zhappa Thank you for the explanation, I'm hoping to get an Appium update into our backlog in the near future. Sorry for the inconvenience.

[2019-10-15 13:55] rishimodha commented on #202
@derpixeldan - thanks for confirming, just wanted to make sure!

[2019-10-15 14:37] derpixeldan commented on #1193
@moody31415 in case you're a tester on the app, you can opt-out from testing it on the upper right corner
![Screenshot 2019-10-15 at 16 30 55](https://user-images.githubusercontent.com/3369400/66841072-68c73100-ef69-11e9-886d-17eba3658e3c.png)
in case you're developer you can turn off notifications
![Screenshot 2019-10-15 at 16 32 18](https://user-images.githubusercontent.com/3369400/66841384-e855

[2019-10-15 14:40] derpixeldan commented on #1190
@manuelmolerobusto please reach out to us via support so we can better investigate the issue. You can mention this ticket and provide more information about the app/device/platform.

[2019-10-15 14:41] derpixeldan commented on #1188
@atiyka please write a support ticket to us so we can better investigate the issue.

[2019-10-15 14:47] derpixeldan commented on #1169
@HansKrywaa no it's not, but you can keep using the HockeySDK for now even after you've moved your app.

[2019-10-15 14:53] HansKrywaa commented on #1169
@derpixeldan Danke dir 🙏🏼 Dann bau ich wieder die HockeySDK ein, bis das kommt

[2019-10-15 14:58] evorotnikov commented on #996
@Oddj0b sure, thanks for replying to this one. I hope it will eventually be in.

[2019-10-15 15:47] gziebold commented on #1129
Just a FYI...using xcode 11.1 and the newish Version 3.0.4-dev2 I still get:

`Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Could not obtain OS for Default Device 'Model 'iPhone 6''. Available OS Versions []'`

[2019-10-15 16:09] DennisPan commented on #934
@anka-213 Working on a documentation update with the public API endpoint mentioned by @andreasbergqvist . In short you can use an API client to call `PATCH https://appcenter.ms/api/v0.1/apps/{owner_name}/{app_name}/repo_config`, with request body like:

[code]

If unsure about the url format, check the response from `GET https://appcenter.ms/api/v0.1/apps/{owner_name}/{app_name}/repo_config` as a

[2019-10-15 16:27] derpixeldan commented on #1197
@klogeaage please reach out to us in support so we can better investigate the problem.

[2019-10-15 16:29] msallmen commented on #801
@nrajpurkar  We are currently using Hockey App, but there is no path forward with App Center with our on-prem TFS.

[2019-10-15 16:43] klogeaage commented on #1197
Sure, using comments here or do you prefer another channel?

[2019-10-15 17:17] moody31415 commented on #1193
The view I have on appcenter has literally hundreds of applications. None of those indicate what I'm testing, so I have to go through each one individually - and if the next page has a "..." menu, then I can opt out, if it doesn't have a "..." menu, then I never started testing it. Of those hundreds of applications, 1/3 say they're for 'windows', 1/3 says 'Android', and 1/3 says iOS. So what I wan

[2019-10-15 18:05] amchew commented on #1151
Hey @ibraheemhlaiyil, thank you for reaching out and sharing your feature request! I see your user scenario:
1. Check if the user is signed in,
2. Show an alternate screen if so
with a isSignedIn() e.g. method.

You can do that today, but it's not exactly elegant.

To do so,
1. call the `signIn()` method (for example, in the [Auth Andriod SDK](https://docs.microsoft.com/en-us/appcenter/sdk/auth/an

[2019-10-15 19:07] nrajpurkar commented on #801
@msallmen can you be specific about what scenarios you are blocked on coming from HockeyApp? This issue refers to Build support requiring on-premises repo support, but HockeyApp didn't have a build service. Thanks!

[2019-10-15 19:13] stvansolano opened #1198 "Allow to rename application URL as name changes from AppCenter portal (settings)"
**Describe the solution you'd like**
As a `alpha` application developer or even for POCs, the final details for my app not quite defined yet, but the URL of the app seems to be written in stone. Can I change it even if I rename the app?

**Describe alternatives you've considered**
I tried the `Settings` rename option but it doesn't change the URL. Try deleting the app? Recreate?

**Additional cont

[2019-10-15 19:38] moody31415 commented on #1193
eg, a small snippit of the list of apps - which ones have I tested? which ones do I need to leave?
![image](https://user-images.githubusercontent.com/15916159/66863779-9c459380-ef48-11e9-8305-ce55ef076b03.png)

[2019-10-15 20:06] davidallen-bluemetal opened #1199 "View individual analytics events in AppCenter Analytics"
Currently, when AppCenter displays analytics events, it aggregates the properties for each event type and lists them in grouped mode. This might occasionally be useful at a very very high level, it is mostly useless.

Please add a feature to allow each event (record) in an event type to be viewed with the values for each property. Best would be a sortable table with each event instance listed with

[2019-10-15 20:53] winnieli1 commented on #853
Hi all! We're starting work on this very soon and would love some feedback.

I know HockeyApp displays all new crashes in the daily email but we're thinking of showing just the top 3 crashes (based on number of occurence) to make these emails more readable. Here are the WIP design:

![image](https://user-images.githubusercontent.com/8868628/66868747-c69c4e80-ef52-11e9-8b33-79b827947b3f.png)

What

[2019-10-15 21:11] aagarw33 opened #1200 "iOS: Diagnostics and Analytics not reported when using iPhone test device."
Hello,

My App Diagnostics and Analytics are not working when using iOS device. They work when I am testing it on iOS Simulator. It is very confusing.
I have transitioned my apps from Hockey to App Center.

After installing the released version on my test iOS device
- Analytics does not identify installation of the released version.
- After doing a force crash, crash is not reported either.

Howev

[2019-10-15 23:45] jeffwatkins opened #1201 "Unable to mock class methods on MSAppCenter"
Mocking class methods on MSCrashes and MSAnalytics seems to work, but MSAppCenter does not seem to work. We'd like to use OCMock to ensure our application is setting up App Center correctly, but perhaps App Center is doing something to thwart this?

Please see the attached sample project.

[MSAppCenterMock.zip](https://github.com/microsoft/appcenter/files/3731825/MSAppCenterMock.zip)

[2019-10-16 01:07] millanie opened #1202 "invite or add multiple users in ‘Collaborators’ and ‘Teams’ using separator"
**Describe the solution you'd like**
For ease of user management, we would like to invite or add multiple users to and from the 'co-worker' and 'team' using separators.

**Describe alternatives you've considered**
No alternatives

**Additional context**
![appcentermultiuser](https://user-images.githubusercontent.com/23490278/66880172-a628ce80-effc-11e9-80cc-e1d50fcbdf90.JPG)
![appcentermultiuser2]

[2019-10-16 01:09] KS261187 opened #1203 "IOS13 support with Appcenter using Appium 1.15"
**Describe the solution you'd like**
I would like to use Appcenter to run my test cases against IOS13 using Appium 1.15. Currently the version supported by AppCenter is 1.11.0 which supports only till 12.4.1. I am able to see iPhone 11 devices in Appcenter but unable to use any of them since Appium 1.15 is not supported in AppCenter.

**Describe alternatives you've considered**
When trying to exec

[2019-10-16 01:30] millanie opened #1204 "More information about the user in the same depth"
**Describe the solution you'd like**
There is little information when reviewing users. We would like to check the information about devices, distribution groups, apps and engaged teams when we check user's information.

**Describe alternatives you've considered**
No alternatives or manually investigating on each apps or each distribution group or team.

**Additional context**
On HockeyApp, admin c

[2019-10-16 01:37] Bishbulb opened #1205 "Distribute is not checking for updates when application is resumed (only on first startup)"
**Background**
We are migrating a system from HockeyApp to AppCenter. We have a line-of-business application that is usually the only app that is running on the Android device where it is being used. In this situation, it is critical to the business that we are able to push mandatory app updates and have them be processed by the client applications within a relatively short timeframe (ie. a few ho

[2019-10-16 07:15] derpixeldan commented on #1197
@klogeaage sorry, I mean the support system in App Center. It's the blue button in the lower right corner.

[2019-10-16 08:37] samardzija commented on #289
@winnieli1 will you add support to upload crashes programmatically, from code, into hockey SDK?
We could save exceptions in previous version of Hockey SDK, with ExceptionHandler.saveException(exception, Thread.currentThread(), null);, but it seems there is no support in new Hockey SDK.

[2019-10-16 08:46] #1188 closed

[2019-10-16 09:29] Zee-day commented on #1114
Any news on #32 ?

[2019-10-16 09:52] JasonStein commented on #150
![image](https://user-images.githubusercontent.com/1166162/66908497-08afa980-efc0-11e9-8182-64aadfbf66de.png)

https://docs.microsoft.com/en-us/appcenter/general/changelog

[2019-10-16 10:20] MartinZikmund commented on #150
Awesome!!!!

[2019-10-16 13:12] lumaxis commented on #1198
@stvansolano This is actually already possible through our API today (and thereby also our CLI, for example), just not exposed in the UI.
This the the documentation for the API call: https://openapi.appcenter.ms/#/account/apps_update

[2019-10-16 13:12] lumaxis commented on #1198
One thing to note though is that a change of `name` also changes the URL for API calls, i.e. from there on out, you'll need to adjust any automation/CI or similar that you might have set up.

[2019-10-16 13:29] davebcn87 commented on #121
what's the status on this? I tried to disable one release but this button is not available in my builds. I only see "Delete release".

[2019-10-16 13:40] fabiendem opened #1206 "Android app icon not shown on In-app update setup page"
**Describe the solution you'd like**
While using Distribute, when the in-app updates get enabled the first time the app is launched with the Android AppCenter SDK, the icon of the app is not shown on the webpage.
Instead the first letter of the app is used a placeholder.
See partial screenshot:

<img width="585" alt="enabling" src="https://user-images.githubusercontent.com/1186282/66924477-9de38a0

[2019-10-16 13:46] muhammaddadu opened #1210 "Running appcenter login in circleci in mac executor fails"
### **Description**

When trying to use CircleCI to publish APK to app center, it fails to login due to needing access to keychain.

[code]

### **Repro Steps**

Please list the steps used to reproduce your issue.

1. run conainer in CircleCi with Mac executor
2. run `appcenter login --token=<YOUR_TOKEN> --disable-telemetry
3. the above error occurs

### **Details**

1. Which SDK version are you u

[2019-10-16 14:30] rygo-msft opened #1207 "Pull Bug Reports / Tombstone files after Android test crashes"
**Describe the solution you'd like**
Native code is particularly prone to device specific issues, so testing native code in AppCenter is extremely useful. However, failures in native code can often result in app process crash.
Normally, developers can pull tombstone and bugreport files directly from the device when the app crashes.

It would be extremely helpful if AppCenter would automatically pu

[2019-10-16 14:39] rygo-msft opened #1208 "Run tests with Android Test Orchestrator"
**Describe the solution you'd like**
Provide the ability to run tests using the Android Test Orchestrator. The test orchestrator makes writing test cases easier and allows for better isolation of tests when an app crashes.

Support for this will require allowing installation of orchestration APKs alongside the test app and invoking the test orchestrator instrumentation command.

**Describe alterna

[2019-10-16 14:39] martyu commented on #23
+1

[2019-10-16 15:22] akamud opened #1209 "Xamarin UITest REPL tree gets Connection Refused on 3.0.4-dev2"
I had to update to `3.0.4-dev2` due to #829 and #377, now when I run the App.Repl() on iOS and then I do a `tree` I get this:

[code]

Here's the full log file mentioned:

[code]

### Extra information
OS: macOS 10.14.6
TestAgent version: 0.21.8
Xamarin UITest version: 3.0.4-dev2
XCode: 10.3 (10G8)
iOS: 12.4

[2019-10-16 15:56] nrajpurkar commented on #23
@tindn, we post our [iteration plan](https://github.com/microsoft/appcenter/issues/1114) each month. This issue is not being worked on in this month's plan.

[2019-10-16 17:45] dpaulino commented on #150
@winnieli1 any chance you'd know when will the v2.5 SDK be available to try out? According to nuget, the latest SDK is v2.4-preview

![image](https://user-images.githubusercontent.com/7649589/66944407-f6565f80-f001-11e9-94dc-2735cff13696.png)

[2019-10-16 18:18] DennisPan commented on #881
Thanks for the input. We are looking into this. We've received feedback on different needs on `destination` or `sdk`. Will investigate if this is something we can determine better in the repository analysis

[2019-10-16 20:02] absinth70 commented on #1114
Is there some timeline for supporting In-App updates for .Net Core 3 WPF apps?

[2019-10-16 20:12] douglascarvalho commented on #731
Hey guys.

@Oddj0b have you any news?

I tried to add this option in build.gradle, but no success.
[code]

[2019-10-16 22:01] stvansolano commented on #1198
Hi @lumaxis thank you for that! I didn't know that's possible through the CLI too.

Will take a look on that. I also updated the ticket in case that can be included as part of the UI too.

Thanks a lot!!

[2019-10-16 23:28] winnieli1 commented on #150
Hi @dpaulino - we're aiming for next week!

[2019-10-17 01:06] winnieli1 commented on #110
Hi all -  we just started looking into this and exploring different options. Does it make sense to include the unsymbolicated stack traces in the "Crashes" tab and maintain the unsymbolicated tab for users to manage their symbols? Or would you prefer to keep symbolicated vs. unsymbolicated stack traces in separate places?

I'd love to hear what you all think!

[2019-10-17 03:34] bo3po commented on #1175
I think @grockland is right. It's not an elegant way to do testing by cli all the time. Never has been. I can figure out why AppCenter and the mobile testing is not more connected. Seems like they are two very different systems. I wasted a lot of build time debugging the test - and still i can not make it run. It runs fine local. Changes of me making this work within 5 builds is zero. My point is

[2019-10-17 08:22] shnaz opened #1211 "AppCenter does not support startup crash handling"
HockeyApp gives the ability to handle startup crashes, when will AppCenter Diagnostics be able to do the same?

[HockeyApp: How to handle crashes during startup...](https://support.hockeyapp.net/kb/client-integration-ios-mac-os-x-tvos/how-to-handle-crashes-during-startup-on-ios-and-os-x)

We are using HockeyApp for crash-reporting, and soon we are forced over to AppCenter, which is why our team ha

[2019-10-17 08:41] nishaatr opened #1212 "Ability for AppCenter Webhook test button to test different events"
**Describe the solution you'd like**
The Webhook test button currently sends a simple JSON (with incorrect content-type). Allow the test button to test these events (send a complete JSON payload perhaps with fake data):
•	App build failed/succeeded
•	New app version released
•	New app crash group created

Moreover, the Webhook should also have an option to send a crash report within the same group

[2019-10-17 10:09] ColdstarJoey opened #1213 "App Center Push Xamarin Failed to install"
Hi when i try to install App Center push on the nuget packages window it says it can not install.

the error i get is:

Severity	Code	Description	Project	File	Line	Suppression State	Suppression State
Error	NU1107	Version conflict detected for Xamarin.Android.Support.v7.AppCompat. Install/reference Xamarin.Android.Support.v7.AppCompat 28.0.0.1 directly to project ServiceTimber.Android to resolve th

[2019-10-17 10:16] vk-s78 commented on #274
I am facing the same issue although I have updated my package Xamarin UITest to 3.0.4 dev2

I am using VS 2017 8.3.4
Xcode 11.1OneTimeSetUp: Xamarin.UITest.XDB.Exceptions.DeviceAgentException : Failed to launch simulator

ExitCode: 134
	0   CoreFoundation                      0x00007fff35634d63 __exceptionPreprocess + 250
	1   libobjc.A.dylib                     0x00007fff6b523bd4 objc_exception_t

[2019-10-17 10:30] marcoses83 commented on #536
We miss the download option too! It could be done in HockeyApp...

[2019-10-17 10:31] jarrrgh commented on #786
Ah, awesome! This works - just not too obvious 😄Thanks for the tip!

[2019-10-17 11:54] invariant commented on #202
Has anyone got Sparkle forwarding to work?

My feed URLs are:
HA: `https://rink.hockeyapp.net/api/2/apps/58adb6c5bea28ffe22f304f2f383d089`
AC: `https://api.appcenter.ms/v0.1/public/sparkle/apps/58adb6c5-bea2-8ffe-22f3-04f2f383d089`

The AC feed is working correctly, but the HA is not forwarding to AC feed. Instead, it's delivering a feed of really old versions for some reason.

Is there anything I

[2019-10-17 11:58] Oddj0b commented on #1021
@nielscup Can you help us out and show minimal project example so that we can reproduce the bug?

[2019-10-17 12:27] Oddj0b commented on #56
@galsc You should be able to run vanilla Appium tests on Cordova apps, it's a change me made in the last month or so. However, it's not possible to use Protractor. Can I change the name to support Protractor instead?

[2019-10-17 12:32] Oddj0b commented on #951
@andysousa Sorry, but the main work have been put into Hockey App. I will talk to the responsible people to find out what is possible.

[2019-10-17 12:36] Oddj0b commented on #574
@Brosten thank you for the link, I'll include it in my investigations.

[2019-10-17 12:43] Oddj0b commented on #1036
@VincentH-Net Good point, I'll keep it open.

[2019-10-17 12:44] ColdstarJoey commented on #624
Is this fixed as i am getting this for 28.0.0.3?

[2019-10-17 12:49] Oddj0b commented on #1154
@caiofbpa, thank you for making the request. Let's hope there's enough 👍 to make it happen.

[2019-10-17 12:54] Oddj0b commented on #1158
Would this work with a webhook like it's proposed in #318

[2019-10-17 12:54] svats-nn commented on #1185
I am facing the similar issue

{
"id": "43a3e150-f0d3-11e9-8e69-8b9789963eea",
"message": "Invalid or expired token"
}

[2019-10-17 12:56] Oddj0b commented on #1157
@gamsim Thanks for reporting the issue, I'll see what we can do about it.

[2019-10-17 13:49] rafifyalda commented on #202
@invariant Did you already move your app to AC? If not, check which distribution group you have set the version to in HA.

``Releases uploaded to HockeyApp only show up in the App Center Sparkle feed when added to a public distribution group.``
[Source](https://docs.microsoft.com/de-de/appcenter/distribution/sparkleupdates)

[2019-10-17 14:51] mantinband opened #1214 "[feature] Filter analytics events by country"
See which analytics events originated from which country

[2019-10-17 14:52] jcavar opened #1215 "AppCenter iOS SDK integration generates compiler warnings"
Hello,
After integrating AppCenter SDK via CocoaPods I am getting a bunch of similar warnings:
`warning: /var/folders/24/8k48jl6d249_n_qfxwsl6xvm0000gn/C/org.llvm.clang.runner/ModuleCache/3P60SF4AFYDAA/MachO-50MILLCRORLA.pcm: No such file or directory`

It seems that other people had similar issues and fixed it by disabling module debugging:

https://github.com/OneSignal/OneSignal-iOS-SDK/pull/443

[2019-10-17 16:12] jcavar opened #1216 "Unable to Mark issue as Closed"
Hello,
I am trying to mark Crash Report issue as closed in web interface, but not able. Here is video of it:
[failed-to-close.mov.zip](https://github.com/microsoft/appcenter/files/3740259/failed-to-close.mov.zip)

[2019-10-17 16:15] awBSH commented on #1040
+1
this is a very important feature since we are using Enterprise Signed iOS Apps, which we need to ensure are only be available for our internal staff

[2019-10-17 17:19] mzhukovs commented on #574
@Oddj0b https://channel9.msdn.com/Shows/XamarinShow/Debug-to-iOS-Devices-Over-Wi-Fi

[2019-10-17 17:42] Brantone commented on #1204
The ability to see what groups / devices a user has access is extremely crucial when dealing with larger teams. Losing this functionality as a result of HockeyApp migration is very frustrating.

[2019-10-17 18:16] Brantone commented on #1035
Any update? Clock is ticking on HockeyApp transition and still exists functionality that is missing.

[2019-10-17 18:20] invariant commented on #202
@derpixeldan Thank you. Yes, the app is set to a public group.

When I "curl" the AC sparkle feed, I get the expected feed containing the latest public release. So the AC feed is working correctly.

But when I curl the HA sparkle feed, I get a different feed. (Weirdly it contains only releases from two years ago.)

I was expecting the feed accessed with the HA sparkle URL to be the same as the AC

[2019-10-17 18:57] amchew commented on #1060
Hey @nunobem, apologies for the late reply. I just proposed a work item to create an SDK method that will accept any AAD B2C user flows or custom policies, and you'll be able to pass your "reset password" policy to App Center for your user scenario to work. The work item is currently in "ready for work" on our backlog, and should get picked up soon. Will continue to keep you updated.

[2019-10-17 18:59] amchew commented on #860
Hey @jjagg, apologies for the late reply, and not at all - you should continue to ping me! :)

I just proposed a work item to create an SDK method that will accept any AAD B2C user flows or custom policies, and you'll be able to pass the "[signin with ROPC](https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-ropc)" policy to App Center for your user scenario (to sign users into t

[2019-10-17 19:01] amchew commented on #1198
Thanks @stvansolano for letting us know! FYI for @baileybrooks

[2019-10-17 19:02] joyl1216 opened #1217 "Support group email for the distribution group"
**Describe the solution you'd like**
Support group email for the distribution group. Instead of putting bunch of email address in the distribution group, I would like to use the group email address, which would cover the whole team by putting one email address.

**Describe alternatives you've considered**
If not, can I share the email list from one app in App Center to the other app? Or maybe just

[2019-10-17 19:06] amchew commented on #1200
Thanks @aagarw33 for letting us know. @winnieli1 would you mind taking a look?

[2019-10-17 19:07] amchew commented on #1201
Thanks @jeffwatkins for reporting this. @winnieli1 would you mind taking a look?

[2019-10-17 19:07] amchew commented on #1216
Thanks, @jacavar for reporting this. @winnieli1 would you mind taking a look?

[2019-10-17 19:08] amchew commented on #1215
Thanks @jacavar for reporting this. @elamalani would you mind taking a look?

[2019-10-17 19:09] amchew commented on #1213
Thanks @coldstarjoey for reporting this. @jwargo would you mind taking a look?

[2019-10-17 19:10] amchew commented on #1212
Thanks @nishaatr for mentioning this feature request! We currently don't have an ETA for this feature yet, but will keep this issue open, and if others would like to see this, please give a thumbs up.

[2019-10-17 19:11] amchew commented on #1211
Thanks @shnaz for sharing your user scenario. @winnieli1 would you mind sharing more details?

[2019-10-17 19:12] amchew commented on #1209
Thanks @akamud for sharing your bug. @Oddj0b would you mind taking a look at this?

[2019-10-17 19:18] amchew commented on #1208
Thanks @rygo-msft for sharing your feature request, and getting my teammate @Oddj0b to take a look at it.

[2019-10-17 19:18] amchew commented on #1207
Thanks @rygo-msft for sharing your feature request, and getting my teammate @winnieli1 eli1 to take a look at it.

[2019-10-17 19:20] amchew commented on #1206
Thanks @fabiendem for reporting this, and we'll take a look. @botatoes would you mind checking?

[2019-10-17 19:20] amchew commented on #1205
Thanks @Bishbulb for sharing. @botatoes would you mind taking a look?

[2019-10-17 19:21] amchew commented on #1203
Thanks @KS261187 for sharing! @Oddj0b would you mind taking a look?

[2019-10-17 19:21] amchew commented on #1202
Thanks @millanie for sharing your feature request - @baileybrooks would you mind taking a look?

[2019-10-17 19:23] amchew commented on #1214
Thanks @mantinband for sharing your feature request, @hamswan would you be able to take a look?

[2019-10-17 19:23] amchew commented on #1199
Thanks @davidallen-bluemetal for sharing your feature request, @hamswan would you be able to take a look?

[2019-10-17 19:24] amchew commented on #1142
Thanks @BioTurboNick for sharing your user scenario! Getting @winnieli1 to take a look

[2019-10-17 19:48] SOliasS commented on #860
@amchew do i understand that right?
"signing with ROPC" will enable us to create user flows directly in the App, with completely native UI?

[2019-10-17 20:20] f3mahmud commented on #1041
Any updates on when this is going to be added? We have over 30 ios apps to migrate over to appcenter from hockeyapp and this feature is important for a lot of our projects, especially with the migration deadline coming up.

[2019-10-17 20:49] jwargo commented on #1213
@ColdstarJoey there's a version conflict in your project and instructions in the error message for how to resolve it. the best way to get help with this is to contact our support team - just click the blue chat button in the lower-right corner of any App Center page and start a conversation - that connects you directly with our dedicated support team.

[2019-10-17 21:19] Mrnikbobjeff commented on #694
This occurs on my OnePlus 5T  with android 9 devices as well as on the Emulator, also with android 9.
While the app is in the foreground, push notifications are not displayed. Once the app is either completely stopped or closed and put in background, the notifications appear as expected.

[2019-10-17 21:28] Mrnikbobjeff opened #1218 "Add the ability to intercept or customize push notifications"
**Describe the solution you'd like**
Ideally, I would like to be able to plug in my own notification intent builder to be able to customize my push messages with sounds, or even decide whether they should fire at all, as the user should be able customize which messages should be visible via an alert. This would also allow me to localize my push messages on my device.

**Describe alternatives you'v

[2019-10-17 22:33] stuarth-inova commented on #274
Get a different failure with Xamarin.UITest 3.0.3 and 3.0.4-dev2, some weird path with Ivan in it and hard-coded to an iOS 6 simulator.

[2019-10-17 22:45] stuarth-inova opened #1219 "Debug|iPhoneSimulator not available for iOS build - just for Android and Xamarin.UITest builds!"
Before updating Xcode to 11.1, and updating Visual Studio for Mac Community edition (see below for a copy/paste from VS's About dialog) to the latest suggested stuff re: Xamarin.UITest, I could select build targets like "Debug|iPhoneSimulator" for all platforms. Now, I can only select it for every platform *except* iOS!! Here are screen shots showing the issue:

<img width="584" alt="Screen Shot 2

[2019-10-17 22:47] stuarth-inova commented on #1219
Note that "Project -> Active Configuration" has all possible options, but when on iOS and you try to select "Debug|iPhoneSimulator" from the drop-down menu, nothing happens.

[2019-10-17 23:07] bobdoe132 opened #1220 "Show UserId On Reports Page"
The Reports page for a crash group only has three columns. Device, OS, Date.

It would make life easier if the page would also list userIDs and allow us to sort by userIDs so that it can be seen at a glance.

Currently you have to investigate each report, make note of the userIDs you're interested in, make groups for those userIDs and then you can see them grouped. This is cumbersome.

Hockeyapp a

[2019-10-18 03:16] ilaiyarajak commented on #353
Thank you @nrajpurkar for taking a look. Checkmarx is a good code analyzing tool, so I am expecting many people will show interest on this.

[2019-10-18 03:39] jimmccurdy opened #1221 "Auth and Data SDK's should support UWP/Windows apps as a first class citizen - only iOS and Android are supported today"
**Describe the solution you'd like**
Auth and Data (Cosmos DB) SDK's should support UWP/Windows apps as a first class citizen - only iOS and Android are supported today.

**Describe alternatives you've considered**
There are no real alternatives right now, other than not using App Center for Auth and Data (Cosmos DB)

**Additional context**
UWP is an essential part of the dev cycle and is vital fo

[2019-10-18 05:46] hermanthotan commented on #189
I create simple expo reactnative app, and not able to build in appcenter. After 'expo eject' it able to detect. When appcenter support expo.

[2019-10-18 07:12] Vikaass opened #1222 "App Bundles support for distribution and dynamic feature support for testers and distributors"
Do Appcenter supports App Bundles for distribution and dynamic feature support for testers and distributors ?

[2019-10-18 08:13] Jjagg commented on #860
Thanks @amchew!
It's nice to have a native UI, but there are some security concerns with ROPC and it seems to be discouraged for new applications:
- From the OAuth2 [spec](https://tools.ietf.org/html/rfc6749#section-10.7):

   legacy or migration reasons.  It reduces the overall risk of storing
   usernames and passwords by the client but does not eliminate the need
   to expose highly privileged

[2019-10-18 08:51] vk-s78 commented on #274
same for me as well

[2019-10-18 10:25] rulogarcillan commented on #182
It still doesn't work on android.

My users have the app downloaded from hockeyapp installed, if I generate a new version with the appcenter sdk, it continues to redirect me to the appcenter login website.

[2019-10-18 11:24] fabiendem commented on #182
@rulogarcillan Something I have noticed:
Once you generate your app with the AppCenter Android SDK, you must publish it on the AppCenter dashboard before running it, otherwise, you will get the login screen (say if you generate and install immediately on your device).
Once it's up in the dashboard, it should be able to setup the cookies when you launch the app. Make sure the public link is enabled

[2019-10-18 12:52] sindresorhus opened #1223 "AppCenter should send crash email even though the crash is not symbolicated"
I just missed out on an critical crash in one of my apps as AppCenter didn't send me an email about it as it was not symbolicated.

I also think the "Unsymbolicated" tab in the AppCenter UI should have an indicator that there are unsymbolicated crashes. Because it was not even clear when going to the "Diagnostics" page that I had an unsymbolicated crash.

<img width="246" alt="Screenshot 2019-10-1

[2019-10-18 13:15] sindresorhus opened #1224 "Improve docs on uploading dsym files when the app is built in Xcode"
I'm using AppCenter for a macOS app, and coming from Crashlytics, I assumed crash symbolication would be handled for me, but apparently this is not the case. The Crashlytics SDK ships with a built-in script that handles this, where you only have to add a one-liner to your "build phase" in Xcode.

There's no mention of symbolication in https://docs.microsoft.com/en-us/appcenter/sdk/crashes/macos I

[2019-10-18 13:58] King-of-Spades commented on #274
Can you share that failure output?

[2019-10-18 15:49] tele-bird opened #1225 "one-step process for adding a collaborator and assigning them to a team"
Users expect to be able to access apps immediately after accepting invitation to join the organization, but they can't with the current, two-step process.  Please provide a way for app managers to add a new collaborator and assign them to a Team without having to wait until they accept the invitation first.

[2019-10-18 17:46] nrajpurkar commented on #1041
Hi @f3mahmud, I'm not really sure what you mean with this feature request? Can you provide more detail?

In terms of this getting implemented - we monitor this repo and prioritize some feature requests each month. This gets posted in the iteration plan. We'll continue to track interest in this feature request and include that in our prioritization decisions. Can you tell me more about how lacking

[2019-10-18 18:14] jsheetzati commented on #182
HockeyApp allowed anonymous downloads with the API key. Is this possible in AppCenter? In HockeyApp, we had Private Download Page with unrestricted builds. This is what we want to accomplish with AppCenter as well. We control the distribution of the application to select users but once they have an AppCenter enabled application, we want them to get updates without signing in.

So ideal scenario is

[2019-10-18 18:43] nrajpurkar commented on #189
Expo support did not make it into our iteration plan for this month. I'm interested into digging deeper into the use case here. Feel free to reach out to me via my email on my profile if you're available to chat a little more. Thanks!

[2019-10-18 18:44] MattiasBurstrom opened #1226 "Apple TV Distribution"
**Describe the solution you'd like**
Distribution support of Apple TV apps.

**Describe alternatives you've considered**
So far we've been using HockeyApp and have not been looking at any other solution besides TestFlight but it doesn't support AdHoc builds.

**Additional context**

We have been using HockeyApp for tvOS app distribution and I've been expecting support for it to be in AppCenter as

[2019-10-18 19:06] f3mahmud commented on #1041
Hi @nrajpurkar , the step one of the link
https://zeemee.engineering/how-to-set-up-multiple-schemes-configurations-in-xcode-for-your-react-native-ios-app-7da4b5237966 discusses setting up the configurations I am asking to be set up. The image attached shows a screenshot of xcode that should make it more comprehensible. Hopefully this clears the confusion.

Previously we used to run a separate CI/C

[2019-10-18 19:09] amchew commented on #1217
Thanks @joyl1216 for reaching out. You can add an [AAD group to the destination of your distribution group](https://docs.microsoft.com/en-us/appcenter/distribution/groups#adding-azure-active-directory-aad-groups-to-a-distribution-group) today. Would this work for you?

[2019-10-18 19:10] amchew commented on #1218
Thank you @Mrnikbobjeff for sharing your user scenario and feature request. @jwargo fyi ^

[2019-10-18 19:14] amchew commented on #1219
Hi @stuarth-inova! Thanks for sharing your feature request. I apologize, but I don't think I got your scenario yet. Would you mind elaborating more on how it applies and App Center and what you'd like us to change?

It seems to me that the feedback was more for [VS for Mac](https://docs.microsoft.com/en-us/visualstudio/mac/ide-tour?view=vsmac-2019). If so, you can click that link and scroll to the

[2019-10-18 19:15] amchew commented on #1220
Thanks @bobdoe132 for sharing! FYI for @winnieli1 ^

[2019-10-18 19:19] amchew commented on #1221
Thanks @jimmccurdy for letting us know! UWP is the next platform we plan to support and on our roadmap. It's on our backlog right now, but there's no firm ETA. We'll keep this ticket open - and for folks who are interested, please feel free to comment/give it a thumbs up.

Thanks!

[2019-10-18 19:21] amchew commented on #1222
Hey @Vikaass thanks for reaching out! We'll get back shortly, fyi @botatoes ^

[2019-10-18 19:58] jwargo commented on #1218
@Mrnikbobjeff thanks for this suggestions. We're knee deep in feature planning for next week and some of this aligns somewhat with what we're hearing from other customers. Would you be willing to have a phone conversation to discuss your app's needs?  I specifically want to better understand what you mean preventing display of a notification. My email address is on my GitHub profile, please reach

[2019-10-18 20:04] amchew commented on #1223
Thanks @sindresorhus for sharing your user scenario. Currently, we don't have ETA for email notifications for unsymbolicated crashes, and fyi for @winnieli1 to share more details.

[2019-10-18 20:06] amchew commented on #1225
Hey @tele-bird thanks for letting us know! @baileybrooks fyi ^

[2019-10-18 20:43] happysally commented on #1049
we just moved from hockey app to app center and looking forward to such feature,

[2019-10-18 22:09] dimazaid commented on #1114
@absinth70 - we don't have timeline at the moment. Do you mind creating an issue and add your vote so we can track it?

[2019-10-18 22:21] dimazaid commented on #1197
Hi @klogeaage  - I just wanted to check-in to see if you're still running into the issue. Did you contact support on App Center?

[2019-10-18 22:27] dimazaid commented on #1137
Hello @Bishbulb and @fabiendem - Thanks for providing all the info. We don't have plans to make this scenario from the SDK in the near future. I'll keep you updated on this thread if anything changes!

[2019-10-18 22:48] klogeaage commented on #1197
Yes, the problem is still there, but being worked on by a developer in Sacramento (Attinder) and the team that handles Apple's account validation and provisioning.

[2019-10-18 23:29] amchew commented on #1226
Thanks @MattiasBurstrom for letting us know! We unfortunately have no ETA for this, but will leave this open to keep track of interest. @botatoes fyi ^

[2019-10-19 07:29] himanpan opened #1227 ""Log Flow" in Events doesn't show any results"
"Log Flow" in our case just keeps showing "Awaiting data from your app" message, without showing any log records.
It was showing records previously. What has gone wrong suddenly?
Is there any way to figure out if this is an issue from app side and not appcenter?
If this is appcenter issue, any plan to fix it?

[2019-10-19 13:24] Mostlypyjamas opened #1228 "Enable In-app updates for WPF Applications (feature parity with HockeyApp)"
**Describe the solution you'd like**
We would like to use AppCenter to provide in-app notifications of our WPF applications.

On Startup, or on demand (e.g. from a "Check For Updates" menu item) we should be able to check for new public releases of our application, then have these automatically downloaded and the installation started. We distribute our applications using MSI or sometimes setup.exe

[2019-10-19 17:20] jbrodriguez opened #1229 "Track activations (new installs)"
**Describe the solution you'd like**
I would like to get a report showing how many new installs happened daily, weekly, monthly

**Describe alternatives you've considered**
A way to download all data, to perform this in house

**Additional context**
N/A

[2019-10-19 23:05] Mrnikbobjeff commented on #1218
I sent you an email, I would love to talk to you directly about the details of doing this right! Thank you for your offer!

[2019-10-20 02:26] curelom opened #1230 "Silent Login/authentication"
**Describe the solution you'd like**
Would like a way to silently login if the user has logged in previous session.  If the user has not, then it should fail and should not bring up a login for the user.  When new users come in, don't want them to see a login first off, but rather show them why the app is so great that they'd want to log in.  At the same time, would like the existing users to not

[2019-10-20 02:37] curelom opened #1231 "Add a User Read-only partition to Data"
Would like to see an additional partition the would be read-only (similar to the DefaultPartitions.AppDocuments), but only visible to the specific user.

An example of why this could come in real handy:
We have a running account balance and we don't want the user to be able to modify this from the phone directly via hack, etc..  We only want it changed via APIs.  As this would be specific user dat

[2019-10-20 02:51] curelom commented on #1230
saw this is repeat of  #1151

[2019-10-20 02:51] #1230 closed

[2019-10-20 06:26] amchew commented on #1230
Hey @curelom, thanks for reaching out! If you’d like this feature, you can give a thumbs up to #1151.

For your scenario, you can do that today, but it's not exactly elegant.

To do so,

call the signIn() method (for example, in the Auth Andriod SDK)
In the else statement of the signIn() method, you can edit the code to modify the user experience when the user has signed in to show an alternate sc

[2019-10-20 06:44] jrahma opened #1232 "Analytics Webhook"
Hi,

It will be great if you add and analytics webhook to the AppCenter

Thanks,
Jassim

[2019-10-20 09:19] sindresorhus opened #1233 "Carthage support is not documented in the "Getting started" view for macOS"
Carthage support was added in https://github.com/microsoft/appcenter-sdk-apple/issues/1226, and it's documented in https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/macos, but there's no mention of it in the AppCenter UI in `https://appcenter.ms/users/<username>/apps/<AppName>/`

It only mentions Cocoapods:

<img width="787" alt="Screenshot 2019-10-20 at 16 19 07" src="https://user-im

[2019-10-20 18:02] Vikaass commented on #1222
@amchew @botatoes any updates ?

[2019-10-20 21:41] yunustek opened #1234 "Track how long a user spends per screen of app feature."
Track how long a user spends per screen of app feature.

[2019-10-21 00:43] brad-dixon opened #1235 "Build Overview Page Feature Request"
VSTS (DevOps) currently has a feature that displays all of the current builds in progress, those queued and those that had previously completed (in a timeframe) for the given project.

This same functionality in AppCentre would be highly useful at the organisation level with consideration to security.

I sometimes find myself with x amount of Chrome windows open trying to keep on top of what is bu

[2019-10-21 00:46] ugl-rian opened #1236 "Wildcard SSL certificate expiration preventing application initialisation"
The wildcard SSL certificate for appcenter.ms has expired.

Apps utilising the AppCenter SDK do not initialise correctly due to an SSL validation check failure when attempting to access config.appcenter.ms

![image](https://user-images.githubusercontent.com/54877157/67169556-b1fb0300-f3f7-11e9-8fe6-e451610d84fd.png)

[2019-10-21 01:15] yoannchaudet commented on #1236
Now that's embarrassing.

We did rotate this certificate a while ago but omitted this endpoint (which is a CDN). The new certificate is being propagated through the network already.

Sorry for that.

[2019-10-21 03:28] ugl-rian commented on #1236
Thanks @yoannchaudet - I can confirm the new cert is now available and valid.

[2019-10-21 03:28] #1236 closed

[2019-10-21 04:43] DennisPan commented on #881
@piotrpoz We looked at this. Current thought is to use `DeviceFamily` in project setting to determine the destination. Let us know if this sounds reasonable.

[2019-10-21 05:19] VladislavAntonyuk commented on #1219
It is expected behavior. You select debug and then you can choose emulator or device. So if you choose emulator your build will use Debug|iPhoneSimulator otherwise Debug|iPhone

[2019-10-21 05:21] VladislavAntonyuk commented on #1219
It is how VS for Mac displays configuration. VS for Windows will show you iPhoneSimurator and iPhone

[2019-10-21 08:10] nickhung13 opened #1237 "Display build number in slack message"
**Describe the solution you'd like**
We moved our project from HockeyApp to App Center. I integrate slack to send message when app was uploaded to App Center. But it only displays version name without build number.

**Additional context**
<img width="459" alt="hockeyapp" src="https://user-images.githubusercontent.com/20365381/67187530-fcdb4180-f41c-11e9-99f3-1f476a157898.png">

<img width="298" al

[2019-10-21 08:24] PatrickV82 commented on #1000
Any news?

[2019-10-21 09:04] invariant commented on #202
Thank you Rishi. This is really weird, because when I curl the feed I get a 200 OK response, not a redirect.

[code]

[2019-10-21 09:07] invariant commented on #202
Now this gets even weirder. If I paste the feed URL into Firefox I get a 301 redirect. But when I curl in Terminal I get a 200 OK. I feel like I'm being gaslit 😅

[2019-10-21 09:26] invariant commented on #202
After some experimenting: The redirect is happening only if the HTTP request has an `Accept:` header. It can even be a blank header, so long as it is present. The following examples with curl illustrate it.

Running `curl https://rink.hockeyapp.net/api/2/apps/58adb6c5bea28ffe22f304f2f383d089` results in 200 OK and old data served.

Whereas `curl -H 'Accept: ' https://rink.hockeyapp.net/api/2/apps/

[2019-10-21 09:29] rishimodha commented on #202
@invariant we just tested moving over the AC with an app that's no longer in production. The hockey sparkle feed url is being redirected, but the page is missing all releases: https://api.appcenter.ms/v0.1/public/sparkle/apps/9a440195-a60b-447e-90d4-5b01c63bbdcc

Did you have to make any changes to get the previous releases to show up? I believe we had the app as a public distribution, but where e

[2019-10-21 09:45] invariant commented on #202
I'm getting releases in the AC feed including my public releases from recent weeks, done on Hocky App. But the most recent release which I did post-migration in AppCenter 10 minutes ago is not showing up. (Yet - I was assuming for now it was some kind of cache update delay, or maybe I didn't select the right options.)

[2019-10-21 09:48] invariant commented on #202
if only I had been so wise .... 🤦‍♂️!

[2019-10-21 09:55] rishimodha commented on #202
Did those HA releases appear instantly on the AC sparkle feed or did you have to wait a while? We're not seeing anything!

[2019-10-21 10:10] invariant commented on #202
On HA it was always instant (or near-instant).

[2019-10-21 10:13] rishimodha commented on #202
I figure out what I had done wrong. After moving an app from HA to AC, (even if it was public on HA), I had to go into the app's settings on AC and edit the distribution group to enable "App can be downloaded by anyone with link access".

<img width="543" alt="Screenshot 2019-10-21 at 11 12 16" src="https://user-images.githubusercontent.com/7862127/67197007-d3f28680-f3f3-11e9-9aa0-e9900f065292.png

[2019-10-21 10:24] invariant commented on #202
Mini update. When my app was only in the auto-created  "All-users-of-app" group, it did not show up in the feed, even though the group was set to public.

I added a brand new Distribution group set to public and released it to that group too, but still the new release did not show up in the feed.

Finally I deleted the "All-users-of ...." group, and at last it appears in the feed.

[2019-10-21 10:32] invariant commented on #202
Thought I was nearly there but ..... Now I discover that my apps still won't update. The version of Sparkle my apps have in the wild has `Accept: */*` in the HTTP header (not sure if more recent version have a different value? I'm using a fairly old version.) Unfortunately, HA is replying 200 OK to this request, instead of redirecting.

`curl -H 'Accept: */* ' https://rink.hockeyapp.net/api/2/apps

[2019-10-21 10:38] invariant opened #1238 "Sparkle feed URL fails to redirect in some circumstances"
As discussed in issue #202, the HockeyApp Sparkle feed URLs now redirect to the equivalent App Center feed.

However, depending on the form of the HTTP request used to access the Sparkle feed, the HockeyApp sparkle URL sometimes erroneously return a `200 OK` with old data.

Specifically, as far as I can tell, it seems to depend on the contents of the `Accept: ` header. These are the combinations I

[2019-10-21 10:39] invariant commented on #202
I've now created a new issue #1238 to address this specific redirect bug.

[2019-10-21 10:50] rishimodha commented on #202
@invariant have you noticed that even releases uploaded via AC have a download URL that points to hockeyapp.net - is this intentional?

[2019-10-21 10:57] invariant commented on #202
Yes the download link of my latest release points to a URL on the hockeyapp.net domain. But it is functional and serves the correct file.

[2019-10-21 11:29] stuarth-inova commented on #1219
I can pick iPhoneSimulator for Android but not for the iOS build, and
you’re saying this is “as designed”? That makes no sense at all.

Stuart

On Monday, October 21, 2019, VladislavAntonyuk <notifications@github.com>
wrote:

[2019-10-21 11:37] markmccaigue commented on #182
Hi @botatoes

Thanks for all the work that's gone into streamlining this flow so far.

Although I understand that this dialog seems to be required by iOS to allow the app access to the cookies in the Safari browser, it does appear to represent a step backward in terms of experience for the end user. The dialog references a URL that users may not be familiar with, appcenter.ms, and employs language

[2019-10-21 12:25] Sonic3R opened #1239 "Customizable email notification content in build configuration"
**Describe the solution you'd like**
I wish to send, as much as possible an automated message, a custom one when setup a build configuration. Now, it's not possible.

![image](https://user-images.githubusercontent.com/6311947/67204707-cac6e100-f416-11e9-943b-7be2483f3941.png)

I wish to customize with some environment variables, will help us to provide more details about build.

**Describe alterna

[2019-10-21 12:29] VladislavAntonyuk commented on #1219
IDE automatically choose Platform depends on your choice (Simulator or device)

[2019-10-21 12:29] digital-flowers opened #1240 "Exposing yaml piplines"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
After checking out many issues in your repository I think one feature can solve most of these issues, is by allowing overriding your default pipeline by creating a `ci` folder with YAML files to override specific tasks, after migrating from `Circle/Ci` to AppCenter, I really like how AppCenter work and

[2019-10-21 13:51] Oddj0b commented on #1224
Hi @sindresorhus, thank you for the elaborate description of the doc's suggestion.  One of my colleagues will have a look at it.

[2019-10-21 14:00] firrae commented on #189
@nrajpurkar I guess the simplest reason is the fact Expo makes developing React Native apps REALLY simple. Add on the fact that when you go to https://facebook.github.io/react-native/docs/getting-started the fist thing you are greeted with is official documentation guiding you to use the Expo CLI with CRNA being the second (non-default) tab.

You, I and many others would likely be able to figure o

[2019-10-21 14:04] Oddj0b commented on #1227
Hi @himanpan, thanks for reporting the bug. I've tagged my colleague who is located in the US so give a buffer for a response. Because this could be specific to your app, you can also contact support on our portal.

[2019-10-21 14:07] Oddj0b commented on #1228
Thank you for requesting in-app updates for WPF apps. My colleague will take it into consideration, in the meanwhile, we evaluate feature request by reactions. If we get enough :+1: it will be considered for our backlog.

[2019-10-21 14:09] jwargo commented on #1232
@jrahma Can you please explain how you'd use this? What triggers/events are you expecting that would fire this web hook?

[2019-10-21 14:11] b-barry commented on #928
@dluc Do you find any workaround? I am facing the same issue.

[2019-10-21 14:13] Oddj0b commented on #1229
Thank you for your request. At the moment we're showing installs per distribution group in the overview tab, can you help me understand how the data you are looking for is different?

[2019-10-21 14:15] Oddj0b commented on #1101
Hi @abhilashkgowda, I'm assuming you got help from our support team because we haven't back from you. If you don't respond the ticket will be closed, and everything is dandy.

[2019-10-21 14:20] Oddj0b commented on #1231
I've tagged my colleague who will take a look in the near future, thank you for spending your time providing feedback.

[2019-10-21 14:34] fabiowingman opened #1241 "Build configuration can't find iOS project"
Not sure why #1107 has been closed as the issue is still there.
I have the exact same issue and have not received any support from the App Center support team.

This is the **toolset_project** response:

`{
    "message": "internal error",
    "err_message": "[Breaker: api-service-build-prod-east-us-build.prod.avalanch.es] Request Timed out",
    "err_stack": "Error: Request Timed out\n    at Time

[2019-10-21 15:49] shpakovski commented on #110
Hi @winnieli, as soon as we can remove and work with them, it doesn’t matter where they live. I’d prefer a separate tab where they could live as in a quarantine.

[2019-10-21 16:28] nrajpurkar commented on #1240
Thanks for the feature request @digital-flowers. We do use a build template and exposing this template to those configuring builds would allow the ability for more complex build scenarios to be supported. We'll continue to track this issue and total interest.

[2019-10-21 16:30] DennisPan commented on #928
@b-barry It ended up being that certain files the repository analysis was looking for is deep in the repository, for example, gradlew. If you can reach out to support, we can figure out if your case is something similar.

[2019-10-21 16:33] nrajpurkar commented on #1240
This is also similar to #589

[2019-10-21 16:48] etacker commented on #1147
This is also a feature that I used regularly in HockeyApp that would be very beneficial to have back.

[2019-10-21 17:05] lbrownell-gpsw opened #1242 "Please provide global user administration per organization"
**Describe the solution you'd like**
Would like an overarching Users page for org Admins.  In this would be listed all collaborators, team members and distribution group testers.  While there are a lot of features and complexity that such a page could include, for now it would be sufficient to simply add the ability to remove users from the organization.

Right now, I need to offboard an employee

[2019-10-21 18:07] dfoulk commented on #182
I would also like to see a way for us to avoid displaying a foreign URL to our users. This is a red flag that we train our employees to watch for and it has caused some alarm for our users in the past.

[2019-10-21 18:43] stuarth-inova commented on #274
It looked exactly like what you posted above, @King-of-Spades, when using Xamarin.UITest 3.0.4-dev2 w/ Visual Studio for Mac, Community Edition.

With Xamarin.UITest up to v3.0.0 I get the same error output as posted by @GeorgeDarakchiev above, right down to the address (?) string "0x7faf4042dcc0".

This is all when launching a Xamarin.UITest on an iOS device simulator target.

[2019-10-21 19:55] blparr commented on #1233
Thank you! We are improving our landing experience and will take this into consideration.

[2019-10-21 21:29] amchew commented on #1222
Hey @Vikaass, thanks for checking in again! Adding @dimazaid who will be able to share more as Bo is OOF.

[2019-10-21 22:14] ezathashim opened #1243 "It would be convenient to have an unchanging URL pointing towards to latest release build"
**Describe the solution you'd like**
I have links on my website that allow users to download the latest release build of my application.

Currently, I have to manually copy the download URL for the latest build in AppCenter and paste it into my website each time I make a release build.

It would be convenient to have a single unchanging URL for downloading the latest release build so that I could

[2019-10-21 22:14] jbrodriguez commented on #1229
Thanks for the reply !

In the overview tab, I see the following, not sure if that's what you were referring to.

![Screen Shot 2019-10-21 at 17 13 49](https://user-images.githubusercontent.com/1305422/67247188-36647a80-f426-11e9-842d-8f5ee38a7a05.png)

[2019-10-21 22:56] justinhorner commented on #1243
You could use the API to fetch the latest download release URL for you:

https://openapi.appcenter.ms/#/distribute/releases_getLatestByDistributionGroup

[2019-10-21 23:04] King-of-Spades commented on #1203
@Oddj0b @amchew Appium's release notes indicate that the version 1.15 supports iOS 13/Xcode 11: https://github.com/appium/appium/releases/tag/v1.15.0

I have seen evidence that at least some launch tests can complete on iOS 13 devices even with our current Appium support, however this may be specific to launch testing and not general functionality; I imagine this update is noted in Appium's releas

[2019-10-21 23:06] King-of-Spades commented on #1038
Related to #1203 (Request to update to Appium 1.15 for iOS 13 support.)

[2019-10-21 23:08] King-of-Spades commented on #1002
related to #1203 & #1038 which are also requests for Appium upgrades.

[2019-10-21 23:56] KS261187 commented on #1203
Yes the App does launch in Appcenter with the current Appium version. However there are some inconsistencies like when i try to get the page source using Driver.getpagesource() command on IOS13 devices, i am getting an unknown server and the tests goes to the exception block. I tried running this locally with the Appium 1.15 and it works fine. This is one example. I can certainly attach the test r

[2019-10-21 23:58] King-of-Spades commented on #1203
Thanks for confirming that @KS261187.

[2019-10-22 01:15] MaximePost commented on #182
iOS is working ok on our side too, even though HockeyApp was better and didn't have that redirection window after the update.

Android is still not working for us with existing apps that are migrating from HockeyApp. The redirection window is opened after each app restart.

[2019-10-22 03:19] crrobinson14 commented on #81
There is a way to do this via the API but it doesn't work. It fails parsing newlines, even if they're escaped. The issue was first reported here https://github.com/Microsoft/appcenter/issues/210 and auto-closed for no response but is NOT resolved. Attempting to include multi-line release notes via the API call returns the following error, no matter what combination of newline-escaping I try. (It w

[2019-10-22 03:35] addisonwebb commented on #110
@winnieli1 It is important to me to have a single list of unique crashes along with the number of occurrences for the corresponding crash so that I can see where I should focus my attention.

If there is a significant crash that is unsymbolicated I can then choose to upload symbols or download individual stack traces and symbolicate them locally on my machine as part of the troubleshooting process

[2019-10-22 05:56] Oddj0b commented on #1183
Thanks for the bug, my colleague will pick it up in the near future.

[2019-10-22 05:58] Oddj0b commented on #1234
Hello @yunustek, just to be sure I understand correctly; do you want our SDK to track how long a user spends per screen of your app?

[2019-10-22 06:00] Oddj0b commented on #1235
Hi Brad, thank you for your feature request. My colleague @nilofer will run it from here, however, it helps a lot if this Github issue gets more :+1: reaction.

[2019-10-22 06:05] ElteHupkes commented on #81
Updating the release notes through the API in a build script is something I hadn't yet considered - good to know that it wouldn't work XD.

[2019-10-22 07:40] mikegr opened #1244 "Add support for deobfuscation of stracktraces, obfuscated with DexGuard tool"
**Describe the solution you'd like**
AppCenter can deobfuscate stacktraces that originated from a DexGuard obfuscated build.
Hockey supported this.

**Describe alternatives you've considered**
You can manually deobfuscate on commadline with jar from DexGuard

or use https://github.com/tfKamran/dex-guard-retracer

**Additional context**
The obfuscated stacktraces from DexGuard obfuscated builds can

[2019-10-22 08:02] fabiowingman commented on #1241
For those in the same situation, I found a workaround:
- Remove all the sub-projects and leave only the main build project;
- The config will work now as there is only one project;
- Push all the sub-projects again;
- If you need to make changes to the config, repeat the same process.

[2019-10-22 08:29] Oddj0b commented on #1241
Hi @fabiowingman, I've added my colleague to the ticket but expect a little response time because of time zones.

[2019-10-22 08:29] vk-s78 commented on #274
exactly the same @King-of-Spades

[2019-10-22 08:35] Oddj0b commented on #1239
Thanks for requesting the feature, I've tagged my colleagues and they will use it to evaluate future features for the product.

[2019-10-22 08:48] Oddj0b commented on #1238
Thanks for reporting the bug @invariant. Please allow some time because of time zones for my colleagues to look into it.

[2019-10-22 08:49] dimazaid commented on #1222
Hello @Vikaass 👋 - We do not support AAB for dynamic loading and beta distribution. We only support AAB distribution via Google Play store.
We also support AAB in the App Center Build service.

[2019-10-22 09:39] MateuszSawicki commented on #1185
Hello.
Kindly asking, what's the status of the work regarding the issue?

[2019-10-22 10:38] piotrpoz commented on #881
@DennisPan Thanks for the reply. Please have a look at the attached screenshot. If this is `DeviceFamily` setting you've mentioned, then it does not change the bahaviour. It still complains about 'My Mac'. It has been set this way already when posting my first comment.

![Screenshot 2019-10-22 at 12 34 39](https://user-images.githubusercontent.com/5487682/67278204-cf4bd200-f4c8-11e9-8d9a-ca6aecdee

[2019-10-22 11:02] Oddj0b commented on #1237
Thanks for making a feature request, my colleague will give it a look in the future. Depending on the work involved in supporting a feature, we might not be able to implement until there's enough :+1: reactions.

[2019-10-22 11:05] Oddj0b commented on #1244
Hi and thanks for the feature request. I have tagged my colleague who will consider it for the backlog, alternatively if it gets enough :+1: reactions it will be considered as part of the larger backlog.

[2019-10-22 11:07] KacperCzapp commented on #305
For now a dirty solution would be to copy the text on the original testers list (either brutally copy from the webpage or export CSV from HockeyApp), use an online tool like https://email-checker.net/extract to get only the e-mails and copy them to the "add testers" field in a distribution group.

[2019-10-22 11:18] Kumi4u commented on #791
Hello david,
I am currently facing similar issue. The uploading was working nicely from the script I wrote and I could see the builds on the Appcenter. However next morning it stopped working and I am getting following error in the console

`{"code":"no_upload_resource","message":"upload_id is not recognized. An Upload resource should be created first."}`

Was your problem fixed and can you shed s

[2019-10-22 12:23] Soph commented on #1238
@invariant Thanks for reporting this. We rolled out a fix and the redirect should now also work in the case the feed is requested for a macOS app but no accept headers are send. Please let us know if you see any issues.

[2019-10-22 12:44] jmoody commented on #274
That is a red herring. This path does not affect the runtime.

We are working on a fix.

[2019-10-22 12:48] SOliasS commented on #860
@Jjagg Sure ROPC is not the most desirable authentication for security reasons(as you have to trust the developers that they are able to keep your info save), but it's a basic feature that the user expects, as many don't want to connect their accounts with/or just don't have a supported account.
Also the implementation here is always with the ad b2c azure component in the background.
Which include

[2019-10-22 12:53] Raedtelpme opened #1245 "Capacitor Support for Code Push"
I would like to request capacitor support for Code push.  We are looking to migrate from Cordova to Capacitor. However, we are reluctant since Code Push is not yet supported. We really value having Code Push as a part of our application, and we would love to see a capacitor plugin created for Code Push.

[2019-10-22 13:09] dalemyers opened #1246 "Manual create bug in diagnostics"
**Describe the solution you'd like**
There is the ability to have App Center automatically open bugs with a configured bug tracker, but it would be useful to be able to keep that off, but have a button on each crash group which can be clicked to open a bug.

**Describe alternatives you've considered**
N/A

**Additional context**
This is what Hockey has.

[2019-10-22 13:12] dalemyers opened #1247 "Azure DevOps bug tracker should not require project admin"
**Describe the solution you'd like**
To set up ADO for bug tracking, you need to use a project admin account. This is probably not the type of account you want to use for opening bugs. You should be able to use any account for this (even if a project admin account is used for configuration).

**Describe alternatives you've considered**
Making our bot account a project admin - we don't want to do t

[2019-10-22 13:13] Jjagg commented on #860
I don't think it's a bad thing that ROPC will be supported, but it would be nice to additionally be able to customize the webview on the app side for the Sign in/up flow.

Using webviews takes managing user credentials out of the hands of the client application. That is good for security. The blog post I linked in my previous comment lists additional benefits, with regards to security as well as U

[2019-10-22 13:25] invariant commented on #1238
Just tested now, the redirect is working and my problem is solved. Thank you.

[2019-10-22 13:25] #1238 closed

[2019-10-22 13:46] SOliasS commented on #860
With webviews i thinking of something like:
https://docs.microsoft.com/de-de/xamarin/xamarin-forms/user-interface/webview?tabs=windows
Which is as far as i know an implementation of a "Webrowser"  which is developed by Xamarin.
On Android it's based on Chromium, on iOS i don't know.
But it's only a basic implantation and therefor might not include all CSS features or HTML5 security implementations

[2019-10-22 14:04] Jjagg commented on #860
Under the hood Xamarin's webview uses implementations provided by the operating system. On Android it uses WebChromeClient, on iOS it uses WkWebView. Those are full browsers.

However I want to be able to use the system webview, meaning Chrome Custom Tabs on Android and SFSafariViewController on iOS. Those are essentially embeddable versions of a Chrome or Safari tab. The client app can't tell wha

[2019-10-22 14:16] SOliasS commented on #860
@Jjagg ok, i wasn't aware that this was possible...
This would definitely be nice for the Web Part...

[2019-10-22 14:46] yunustek commented on #211
Yeah it's annoying.

[2019-10-22 14:50] FultonBrowne opened #1248 "Having a problem with auth on android"
I am getting a blank web page when I run the sign in, everything works in the web version of b2c, its, for what ever reason not working on android. the code on android appears to work fine it opens the link with all the info needed the page exists, when I opened the debugger it was a blank <body> tag. is there any possible causes, or common fixes for this?

thanks

[2019-10-22 14:55] kirktay commented on #536
@derpixeldan Any progress on this issue?

For those of us not building in AppCenter this will be a critical piece of functionality not carried over from HockeyApp.

Thanks

[2019-10-22 15:45] stuarth-inova commented on #274
That is great news, thank you! Looking forward to the fix. Uninstalling
Xcode is a PITA, and the side-by-side install seems to always use the
simulator stuff from whatever the latest version Xcode is, regardless of
install order.

Stuart

On Tue, Oct 22, 2019 at 8:47 AM Joshua Moody <notifications@github.com>
wrote:

[2019-10-22 16:01] JamesRandall commented on #352
I'd also want to be able to target APIs at the folder e.g. to send a push notification.

[2019-10-22 16:07] CShri opened #1249 "Update URL for the App name when renaming the App name"
I created a new entry in App center with name "App Name original".

URL:
https://appcenter.ms/orgs/owner-34z2/apps/App-Name-original/distribute/releases/1

Then I felt whatever App name I had used was wrong. So I updated the app detail by renamed the App title from "App Name original" to "App Renamed".

App name is updated. but the url still shows the old App name.

App Name is:  "App Renamed"

Ex

[2019-10-22 16:12] winnieli1 commented on #352
Thanks for the feedback. I can definitely see how a folder like concept would be useful for these scenarios. Unfortunately, I don't have any updates at the time. You can follow our roadmap and iteration plans to see what our team is working on and we'll continue to use this thread to track interest.

Thanks!

[2019-10-22 16:15] jrahma commented on #1232
@jwargo this will allow to have own dashboards, notifications and alerts instantly. It should have the details of users and sessions in rows

[2019-10-22 16:30] DennisPan commented on #881
@piotrpoz We haven't made the change yet (adding `-destination` to `xcodebuild` command). Was reaching out if we set destination to what matches device family will work for your case.

[2019-10-22 16:40] fileman opened #1250 "AppCenter Data Local Debug using CosmosDB Emulator"
Add possibility to the SDK for AppCenter Data to connect Local Debug using CosmosDB Emulator

[2019-10-22 16:53] davidallen-bluemetal commented on #1199
Thanks. Even the ability to export event instances (records) to a local Excel spreadsheet rather than have to export data to Application Insights or blob storage would be a big step forward.

[2019-10-22 17:15] nrajpurkar commented on #1241
Hi @fabiowingman can you reach out to App Center support for this? We'll be able to to dig into this better via that channel. Thanks!

[2019-10-22 17:46] winnieli1 commented on #1216
Hi @jcavar! It looks like your status filter is set to All which means even issues you mark as Closed will appear in the table. Can you change the status filter to Closed and see if the issue shows up?

![image](https://user-images.githubusercontent.com/8868628/67314196-20ec6080-f4b9-11e9-9acb-9fb75625f126.png)

Thanks!

[2019-10-22 18:14] MrAusnadian opened #1251 "Add Ability to enable Dark Mode in Xamarin.UITest programatically"
**Describe the solution you'd like**
I'd like to be able to programatically enable Dark Mode so that I can run Xamarin.UITests against both Light and Dark Mode. Something like this:

[code]

**Describe alternatives you've considered**
I have not been able to find any options for enabling Dark Mode programatically. The only option I've been able to find is to manually switch the emulator to Dark Mo

[2019-10-22 20:26] akamud commented on #1209
Hi, do you have anything to comment on this? This makes writing UI tests for iOS really cumbersome (the only workaround is downgrading to use the REPL and upgrading to fix the connection problems).

[2019-10-22 20:54] kirktay commented on #1159
This is important for those of us with our CI on Prem and uploading everything to AppCenter.

[2019-10-22 21:11] jwargo commented on #1232
@jrahma I'm sorry, but I don't understand how this relates to webhooks. I'm asking what events in Analytics you want to trigger a webhook.

[2019-10-22 22:12] arcesoj commented on #501
I removed all files on `android/app` folder related to gradle

[code]

and it works perfectly

[2019-10-22 23:00] jmoyers14 commented on #50
Same here :(

[2019-10-23 07:28] awBSH commented on #1049
This is also a very important feature of HockeyApp. We have multiple App variants which would create redundant JIRA tickets from crashes. We manually create crash tickets and mostly just link to existing crash tickets.

[2019-10-23 08:25] hschmidt99 commented on #296
Is this still being considered? Our build times for UWP explode...

[2019-10-23 08:59] fabiowingman commented on #1241
Hi @nrajpurkar, I already did that. For now I can use the workaround, so no problem for me.
But I still think you should look into this.

[2019-10-23 10:57] patrickdoodyIRL opened #1252 "App Center Data - ability to query partition"
The Data API does not provide a way to query data within a partition without first downloading and deserializing the entire contents of a partition. In cases where there are many hundreds of objects within a partition, reading the entire partition requires multiple round trips to page through the available data.

I am currently caching data locally to cut down on the volume of calls to the Data AP

[2019-10-23 11:18] wisoka commented on #58
👍

[2019-10-23 11:51] AstroViking commented on #1127
We have the same issue and would be very thankful if this could be resolved in the future.

[2019-10-23 11:56] b-barry commented on #928
@DennisPan Could you give the support address?

[2019-10-23 12:33] ezathashim opened #1253 "Have App Details with '/v0.1/apps/{owner_name}/{app_name}/releases' API"
**Describe the solution you'd like**
- I would like to compile a 'Release Notes' file from the AppCenter API
- currently, when I use the API '/v0.1/apps/{owner_name}/{app_name}/releases', it allows me to fetch releaseIDs for each release, but the JSON does not contain 'Release Notes' information

**Describe alternatives you've considered**
- what I currently do is a 2-part fetch:
 1) I run '/v0.1/

[2019-10-23 12:41] egfconnor commented on #560
Has there been any work on this?

[2019-10-23 12:52] ezathashim commented on #1243
It is a nice API, and I've now used it to fix another problem I had (thanks!).

However, using it on a website is a bit of a pain since I would need to parse the fetch, etc, and I'm not a web developer. It would be good to have a 'fixed' URL for the latest release download for a particular app that I can just plug in to my website.

[2019-10-23 13:03] RenanDelfanti opened #1254 "Problem connect apple account on appcenter"
**Describe the solution you'd like**
I have problem to connect my apple account on appcenter, appcenter don't have option to recive verification code by like sms when i don't have my trusted device.

**Describe alternatives you've considered**
Make possible to get verification code account without trusted device, like sms.

[2019-10-23 14:05] jsheetzati opened #1255 "Distribute functionality similar to HockeyApp"
**Describe the solution you'd like**
Looking for AppCenter to support similar distribution functionality as HockeyApp. HockeyApp allowed us to configure Private download pages and Unrestricted Builds. With this implementation, our app is able to update itself provided it has a valid HockeyApp API Key. This works very well for our Internal Enterprise application that we distribute to end-users. Ess

[2019-10-23 15:59] DennisPan commented on #928
@b-barry This hopefully helps: https://intercom.help/appcenter/en/articles/1698824-getting-help-with-app-center

[2019-10-23 18:16] nrajpurkar commented on #560
Hi @egfconnor, this hasn't been added in yet.

[2019-10-23 19:09] smpeleato commented on #103
This feature is also very important to us, consider this another vote for it.

[2019-10-23 20:20] nathanhillyer commented on #1112
@derpixeldan I have notifications disabled for both HockeyApp and AppCenter, but I still receive emails. I disabled here: https://rink.hockeyapp.net/manage/notifications

Is there another spot to disable?

[2019-10-23 21:05] sschilli opened #1256 "Support CLI/non-UI applications for macOS"
**Describe the solution you'd like**
For macOS, AppCenter currently only supports/is tested on UI applications (it must be started in `applicationDidFinishLaunching` in the `AppDelegate`, which do not exist in non-UI apps). It would be great to support analytics for applications with no UI, such as a CLI app, as the information gleaned is still very useful despite the lack of UI.

**Describe alter

[2019-10-23 21:07] mastermoe01 commented on #574
+1

[2019-10-23 21:24] martin-foreflight opened #1257 "Ability to create a distribution group with multiple apps in it"
**Describe the solution you'd like**
In HockeyApp I was able to create a distribution group that included multiple people, and *crucially* multiple apps. Then, when new people came on board I could add them to a single group and they would instantly get access to all those apps.

**Describe alternatives you've considered**
It seems I can add users to apps individually, but that's a huge pain.

**A

[2019-10-23 21:31] winnieli1 commented on #1127
Hi! Thanks for submitting an issue. Are you building an UWP apps?

We currently support releasing .zip files for WPF and WinForms applications and are adding the same support for UWP and Windows Unity in the upcoming weeks. I'll post here with updates!

[2019-10-24 00:00] King-of-Spades commented on #563
I came across this while researching related issues, and it appears that SpecFlow 3 support wasn't ever added to Xamarin.UITest in the first place. The highest version that is present in Xamarin.UITest is SpecFlow 2.

I believe this is also consistent with the findings of the SpecFlow team here:

- https://github.com/techtalk/SpecFlow/issues/1578#issuecomment-493861022

As such, I'm converting thi

[2019-10-24 00:15] King-of-Spades commented on #281
Tracking: ADO - 65021

[2019-10-24 00:48] yma44 commented on #563
We have upgraded our test to use specflow3 a few month ago, and we haven't been able to run test in app center for the last few months because of this issue.  we are very keen to run our test in app center and automation testing is quite crucial. I would appreciate if this gets fixed sooner.   Thank you

[2019-10-24 01:15] marikavertzonis opened #1258 "App icons manually added do not reflect on the Downloads page like the automated ones"
For Android, Mac and iOS builds, the icon is automatically read from the installation file and appears as expected on both the Overview page and the Download page.

Overview page:
![image](https://user-images.githubusercontent.com/5713624/67445128-6d6da280-f657-11e9-9193-9e937310b323.png)

Download page:
![image](https://user-images.githubusercontent.com/5713624/67444928-b2450980-f656-11e9-9131-81

[2019-10-24 06:08] lumaxis commented on #1257
@martin-foreflight This should already work when you create your apps under an organization. Distribution groups owned by an organization can be added to all apps that are also owned by that organization. See https://docs.microsoft.com/en-us/appcenter/distribution/groups#shared-distribution-group for more info.

[2019-10-24 08:44] olenka93 commented on #1129
Can't start any test with new version of Xcode 11.1  and Visual Studio for mac 8.3.4, the problem is still reproducible and really critical. DeviceAgent app could not be installed on simulator and tests fail with error

[2019-10-24 09:22] dermaaarkus commented on #1215
We experiencing the same issue. Its really annoying, because it generates multiple warnings when building like:

[code]

[2019-10-24 09:36] cyberblast opened #1259 "Custom release config file for custom packages"
**Describe the solution you'd like**
Custom release config file within custom zip archive, like 'appcenter.json' containing
* version number
* release notes
* path to app icon within zip file or embedded base64 icon

**Describe alternatives you've considered**
Upload of custom zip archive release using api.

**Additional context**
Hi, i already managed to utilize rest api methods with MS Flow to p

[2019-10-24 10:16] tarun29061990 commented on #764
Hey
I am getting *** instead of the value in pre-build script for ios? please help

[2019-10-24 10:17] tarun29061990 commented on #519
Hey
I am getting *** instead of the value in pre-build script for environment variables in ios? please help

[2019-10-24 12:37] nschild commented on #764
@tarun29061990 This is the exact bug they claim they fixed months ago, lol. We ended up not encrypting any variables as it seemed to randomly break for us.

[2019-10-24 12:42] derpixeldan commented on #1185
Sorry for the delay, we're investigating.

[2019-10-24 12:52] martin-foreflight commented on #1257
Thanks, it turns out I didn’t have the permissions for managing the
distribution group. They must not have migrated over from HockeyApp.

Martin

On Thu, Oct 24, 2019 at 1:13 AM Lukas Spieß <notifications@github.com>
wrote:

--
Martin Kemp
Product Manager
ForeFlight/FliteDeck Pro X

[2019-10-24 12:57] ibraheemhlaiyil commented on #1151
I suppose it's related to #860 with regards to silentSignIn.
However, it would be useful to also retrieve from Auth, whether a user has signed in previously, to support "new user" or "try to sign in again" flows, without having to store data to indicate this.

[2019-10-24 12:59] #56 closed

[2019-10-24 13:31] nathanjhill1 commented on #274
Hello, I'm also experiencing the same issue @King-of-Spades posted. Is this still currently being worked on? I am on 3.0.4-dev2 version

[2019-10-24 14:06] franck-nadeau commented on #1205
I used this as a workaround inside my main activity:

[code]

I hope it can help others.

[2019-10-24 14:46] adelphes opened #1260 "Package installation should use npm ci instead of npm install"
**Describe the solution you'd like**
React Native builds should use `npm ci` to install packages instead of `npm install`.

From the [NPM docs](https://docs.npmjs.com/cli/ci.html):

The reason is that `npm install` checks `package.json` and installs **the latest compatible version** of the dependant packages, whereas `npm ci` installs **the exact package versions** listed in `package-lock.json`.

[2019-10-24 14:47] fileman commented on #946
@Zakeelm any news on this

[2019-10-24 15:00] rjcollingham opened #1261 "Ability to run tests on a build already in App Center"
Currently using the appcenter cli I have to specify an app-path to a local apk or ipa file. It would be nice to be able to choose a build that has already been uploaded to App Center instead of having to use a local build.

[2019-10-24 15:02] rjcollingham opened #1262 "Run a test from the App Center UI"
After I run a test from the cli, the test appears in the App Center UI. It would be nice to run the same set of tests on a different device set, or a different build version (already in App Center) directly from the UI itself.

[2019-10-24 15:14] DennisPan commented on #764
@tarun29061990  Secrets are masked in logs. If you need to print the secrets, you can print substring.

@nschild Happy to look into more what's not working for you. I'm not aware of recent issues with secrets. If you reach out to support, we can take a deeper look.

[2019-10-24 15:16] emartynov opened #1263 "App build retention"
**Describe the solution you'd like**
I read that app build retention is just 250 builds. It is quite a lot.
however, we use AppCenter to easily distribute also production and acceptance version. For these types of builds I would like to keep binaries forever.

**Describe alternatives you've considered**
As an alternative please allow to pull builds to be archived.

[2019-10-24 15:44] awBSH opened #1264 "Existing URLs to crash reports are broken"
We have lots of existing crashes reported in our JIRA.

JIRA -> AppCenter:
After migrating an App, the existing URLs (HockeyApp) to the crash reports from JIRA are not being redirected to the respective crash report in AppCenter but only to the App overview.
It's difficult for the developers to navigate to the crash report to retrieve more detailed information about the crash.

AppCenter -> JIRA:

[2019-10-24 16:16] thomasvalera opened #1265 "URLs with capital letters in owner name don't show download button"
This issue is very weird but rather simple to explain.

When I go to the install url of an app `https://install.appcenter.ms/orgs/OwnerName/apps/App-Name/releases/` the app finds all releases but doesn't show the download button. Each release is non-clickable for that matter.

The problem is solved when I change the `OwnerName` to `ownername` without capital letters.

This is a problem when using

[2019-10-24 17:01] chschrae opened #1266 "Ability to identify users on a specific version"
**Describe the solution you'd like**
I want to be able to identify users on a specific version.

**Describe alternatives you've considered**
I do not want to use push notifications as that is distracting in our case.
currently I've added a custom analytics event that will help me identify the user but it is independent of AppCenter. AppCenter clearly has a userId I just can't seem to find it in an

[2019-10-24 17:27] learnyst commented on #814
@cjonsmith @botatoes we are using latest version of react-native-code-push. still we are facing slow response issues. also in app center stats the rollback percentage is ~10%.

[2019-10-24 19:30] stvansolano commented on #1198
Hi @amchew guess what? Others are having the same inquiry :) @CShri

https://github.com/microsoft/appcenter/issues/1249

So both may be duplicated.

[2019-10-24 19:41] jimmccurdy commented on #946
I have this problem as well.  Allowing us to use the "partition" value as we wish would solve this.  We could set our partition values to be class names, and so the expected filtering could happen on the server side.  One other possible solution would be to add a new/optional string parameter as in Data.ListAsync<TT>(string partition, string idFilter = null).  Then documents could be filtered on t

[2019-10-24 20:20] kumarGautamAramark opened #1267 "App center api failed to upload ipa."
Hi,
I have written a script to use app center api to release a build. I am following app center api documentation. What I am doing is -
**step 1:** Create upload resource. I get upload _id and upload_url.
**step 2:**  using upload_url and path of ipa, making another call to app center which will upload the ipa.
**step 3:** After the upload has finished, update upload resource's status to committed

[2019-10-24 20:33] kiliankoe commented on #77
Not sure if it's what @AChevallier meant, but I'd love support for localized release notes, not using multiple languages in the text field for release notes as I believe you're talking about @botatoes.

I have an app localized to multiple languages in the App Store, but using App Center to push builds to the store there's only one field I can enter text in. Obviously there's another issue here reg

[2019-10-24 20:41] fabiendem commented on #1205
I am having the same issue here, pretty bad.
Reading the source code I don't really understand how the lifecycle methods are getting called in the Distribute module.

App will check for updates only if you kill it, rather than on resume as it should.
The adoption rate of updates will be pretty low with this.

This workaround won't work:
[code]

But @franck-nadeau 's trick will fix it.
I am just ad

[2019-10-24 20:48] Bishbulb commented on #1205
@botatoes I had a lengthy chat with AppCenter support about this, and they told me that this was currently working as designed and was not going to be changed.

I think for context, I'll paste in here what I wrote in the support thread:

https://github.com/microsoft/appcenter/issues/1137#issuecomment-541246850
Overall, I'm disappointed as this means we will need to consider another service for dis

[2019-10-24 20:56] fabiendem commented on #1205
Damn, that doesn't make sense. The app rarely gets killed...

Even the source code suggests it should work:
https://github.com/microsoft/appcenter-sdk-android/blob/554205e9a53964f8e9b4080f5076c10a168976dd/sdk/appcenter-distribute/src/main/java/com/microsoft/appcenter/distribute/Distribute.java#L469-L477

There must be a bug somewhere 😕

Thank you @Bishbulb for sharing this and the initial report.

[2019-10-24 21:06] karltaylor commented on #1118
The ability to be able to select which organization you receive emails from would be very helpful.

[2019-10-24 21:20] Bishbulb commented on #1205
@fabiendem Yes I also saw that in the source code and spent **hours** testing to try and get it to work, all to no avail. I haven't tried the combination trick of Enable/Disable + calling Instance.OnActivityResumed, so that gives me some hope that I can hack this to get it working. My alternative was going to be rolling my own update/distribution service, but of course I'd rather not have to do th

[2019-10-24 22:33] King-of-Spades commented on #563
@grzegorz-jarosz Unfortunately I don't think I can answer your questions myself, I pieced together discrepancies and confirmed with our engineering team that only SpecFlow & SpecFlow 2 were enabled, but saw that wasn't clearly described on this issue.

@Oddj0b Aare you able to comment further on those observations?

[2019-10-25 07:31] derpixeldan commented on #1185
@stephenquan can you please elaborate what service you're using and what you're trying to achieve? From your description it seems you're trying to download a distributed build, however, the API you're using is for downloading successful build artifacts from the Build service. To download a distributed release you can use this [API](https://openapi.appcenter.ms/#/distribute/releases_getLatestByUser

[2019-10-25 08:16] faulfish commented on #647
In my case, we send the same message to many device, just like news. I need to send badge count (+1) to everyone. So I don't need to record count for anyone. The count will keep in server side (appcenter side). I call it server badge count. In the case, it'll easy to show correct badge count without any app/server implement loading.

[2019-10-25 09:47] dalemyers commented on #1089
This is something we'd also like.

[2019-10-25 10:23] Svotava commented on #1119
And it would be also great to provide QR code for each release link.

[2019-10-25 10:56] j-hat commented on #274
@nathanjhill1 In the meantime, downgrade XCode to 11.0 and use 3.0.4-dev2 to continue using UI tests.

[2019-10-25 11:44] matheusrezende commented on #67
is this going anywhere?

[2019-10-25 12:01] kpatwa commented on #1127
@mkhalid195  - I had same issue. In HockeyApp to App Center transition all WPF/Windows app had transitioned to app center as UWP app which is why I was getting " version couldnot be created from build" error. I requested App Center team to update my app from UWP to WPF. After that I was able to upload zip file. Please check project setting in app center project.

[2019-10-25 12:12] jwargo commented on #647
@faulfish OK, thanks for the clarification - in my initial review, I didn't realize you wanted this as a system-wide setting.

[2019-10-25 12:19] kpatwa opened #1270 "Any method to check new version update in WPF"
Do you provide any way to check WPF new version availability in App Center like you have in HockeApp below:

HockeyClient.Current.CheckForAppUpdateAsync();

[2019-10-25 12:25] kaybutter commented on #1215
Looks like this issue: https://forums.swift.org/t/swift-behavior-of-gmodules-and-dsyms/23211

[2019-10-25 12:59] jcavar commented on #1216
Oh, that is right! Thank you.

[2019-10-25 12:59] #1216 closed

[2019-10-25 13:02] fabiendem commented on #1205
@Bishbulb, @franck-nadeau

While testing the above, I was running on the AppCenter Android SDK 2.3.0.
With 2.3.0, while the user was tapping the app icon (without the "fix" above), it was not checking for updates.

I have just tried with the AppCenter Android SDK 2.4.1, and without the fix above, at least now it checks for the updates when the user taps on the Application icon.
This is better, so

[2019-10-25 13:09] Bishbulb commented on #1205
@fabiendem I agree that is better, but in my testing that wasn't working - I did the same thing where I started with 2.3.0 and then upgraded to 2.4.1. Curious to know how you have this setup - are you initializing AppCenter in your `MainActivity` or in the `Application`?

Also, I just checked and it looks like 2.5.0 was released 2 hours ago, unfortunately nothing in the release notes indicating th

[2019-10-25 14:22] ChristopheLav commented on #150
Oh - the new 2.5.0 version seems to be available with the first-class exceptions support for UWP 😀

https://github.com/microsoft/appcenter-sdk-dotnet/releases/tag/2.5.0

I will try it later today!

Nice 👏

[2019-10-25 14:28] MartinZikmund commented on #150
No way! You're the best, team!

[2019-10-25 14:35] AstroViking commented on #1127
@winnieli1

What about standalone Windows EXE files (created by Unity)?

[2019-10-25 14:37] fabiendem commented on #1205
🤣
@Bishbulb
When I tried 2.4.1 I installed the app via the browser, from the AppCenter download page. This was working, when the user taps the icon it checks for updates.

Then you said

I gave it a try again. But this time installing the first app using `adb install`. Then I simulated an update and tried to trigger the check by tapping the icon of the app. And nothing was happening. 😭

And I reme

[2019-10-25 15:30] jeromelaban commented on #1129
Same issue on my end. Visual Studio 8.4 Preview, XCode 11.1 installed.

[2019-10-25 15:59] Oddj0b commented on #1245
Thank you for your request. Looks like there's good progress on reactions already :D

[2019-10-25 16:01] Oddj0b commented on #1246
Thank you for feature request, I have renamed it to "Manual create bug in diagnostics." If you feel it's wrong, feel free to revert it.

[2019-10-25 16:05] Oddj0b commented on #1247
Thank you for the feature request. I have tagged a colleague who will triage it accordingly, have a great weekend.

[2019-10-25 16:08] Oddj0b commented on #1248
I'll ping a colleague who will look at it in the near future.

[2019-10-25 16:10] Oddj0b commented on #1249
Duplicate of #1198

[2019-10-25 16:10] #1249 closed

[2019-10-25 16:12] Oddj0b commented on #1250
Hi @fileman, thank you for your feature request. I have tagged my colleague and he will follow up if there's any question.

[2019-10-25 16:21] Oddj0b commented on #1251
A really interesting scenario I haven't thought about yet. I tried to see if it was possible today in XCUITest and it didn't seem possible which makes it hard to achieve it in Xamarin.UITest.

[2019-10-25 16:23] Oddj0b commented on #1252
Hi @patrickdoodyIRL, I tagged my colleague and he will look at. Thanks for suggesting the idea.

[2019-10-25 16:26] Oddj0b commented on #1253
thanks for the great write-up, which makes it easy to understand. I have tagged my colleague for follow-up or questions.

[2019-10-25 16:28] Oddj0b commented on #1270
My colleagues will check up on it.

[2019-10-25 16:29] Oddj0b commented on #1267
hi @kumarGautamAramark have you contacted our customer service through the portal?

[2019-10-25 16:30] #1267 closed

[2019-10-25 16:34] Oddj0b commented on #1266
I don't see a feature request in what you're writing, our support should be able to help you. You can contact support through our portal.

[2019-10-25 16:35] Oddj0b commented on #1265
Thank you for reporting the bug and taking your time to investigate.  I have tagged my colleague who will give it a look.

[2019-10-25 16:38] Oddj0b commented on #1264
Thanks for reporting the issue.

[2019-10-25 16:39] Oddj0b commented on #1263
@emartynov  Would it be possible to distribute the build to a Distribution group, to keep them available?

[2019-10-25 16:40] Oddj0b commented on #1262
@rjcollingham Sounds like an interesting idea, thanks for writing it.

[2019-10-25 16:41] Oddj0b commented on #1261
Are you thinking of builds that are available in Distribute or after they've been build using our Build service?

[2019-10-25 16:45] Oddj0b commented on #1259
Thank you for your great description. Which platform are you distributing and building?

[2019-10-25 16:46] #1257 closed

[2019-10-25 16:48] Oddj0b commented on #1256
Thanks for your request, is this a request to have analytics available to CLI apps?

[2019-10-25 16:50] Oddj0b commented on #1254
I believe this is a duplicate of #996 if not feel free to re-open.

[2019-10-25 16:50] #1254 closed

[2019-10-25 17:04] MrAusnadian commented on #1251
Here’s an example implementation I saw. I’ll see how difficult it is to translate it to my needs.

https://kazucocoa.wordpress.com/2019/10/19/appiumioshandle-dark-mode-via-process-arguments/

[2019-10-25 17:22] FultonBrowne commented on #1248
Thanks @Oddj0b, I was able to resolve the issue, but I am still confused about how.

[2019-10-25 17:26] winnieli1 commented on #150
We just enabled handled errors support with the 2.5.0 SDK release! You can find docs here: https://docs.microsoft.com/en-us/appcenter/sdk/crashes/uwp#handled-errors

I’m closing this issue but please start a support ticket or post here if you run into any issues. Thanks all!

[2019-10-25 17:26] #150 closed

[2019-10-25 17:44] StinkyTowel opened #1271 "java.lang.IllegalStateException - SharedPreferencesManager.initialize"
Hello.  We released an update to our xamarin android app to open beta on 10/7/2019 (posted this issue in the wrong github initially - https://github.com/microsoft/app-center-app-xamarin/issues/3).  This release includes the first time we're using the AppCenter SDK (replaces HockeyApp).  We did not encounter any crashes in our test environment however, Google Play is showing the following:

This is

[2019-10-25 17:48] StinkyTowel commented on #1271
RE-posted here: https://github.com/microsoft/appcenter-sdk-dotnet/issues/1181

[2019-10-25 17:48] #1271 closed

[2019-10-25 18:52] digital-flowers commented on #1240
Thanks @nrajpurkar, you are right it's similar I will close this issue :)

[2019-10-25 18:52] #1240 closed

[2019-10-25 18:57] rjcollingham commented on #1261
Correct, I was thinking of the Releases available under distribute. I appreciate that ideally we need to incorporate automated testing in to our CI/CD pipeline, but where we are at the moment, our build teams upload builds to AppCenter for internal testing and our testing team can't run automated testing on those builds in AppCenter, they need to be provided with local .ipa / .apk files. It would

[2019-10-25 18:59] JHUANG16 commented on #274
I downgraded XCode to 10.3, it works 3.0.3 version.

[2019-10-25 19:04] winnieli1 commented on #1167
Hi @lwq008! You should be seeing new HockeyApp UWP crashes in App Center now. Closing this issue but let me know if that's not the case. Thanks!

[2019-10-25 19:04] #1167 closed

[2019-10-25 19:09] winnieli1 commented on #752
Hi @RaulRus! We just enabled the new diagnostics experience for UWP with the 2.5.0 SDK release which includes adding comments to your crashes and errors.

Closing this issue for now but let me know if you run into any problems. Thanks!

[2019-10-25 19:09] #752 closed

[2019-10-25 19:15] emartynov commented on #1263
I don't think it is necessary for the distribution groups. It is for the case when you have some exotic bug when people are using super old build or migrating from it to new. For case when you want to reproduce something rare and time consuming.

[2019-10-25 20:40] gfinden commented on #1092
iOS support would be good, too. Why would these not both be of equal priority?

[2019-10-25 20:55] amchew commented on #1248
Hey @fultonbrowne, thanks for reporting it! I just tried it on my android app, and it works for me. Sounds like the issue was already solved for you, yes? If you face this again, please let us know - we can work to debug.

[2019-10-25 21:02] dpaulino commented on #150
Thank you @winnieli1!

[2019-10-25 21:28] jbrozen commented on #1198
Yeah, this is becoming a bigger issue for us and our CI/CD pipeline - as it appears the technical URL structure is based on initial app name and cannot be updated after the fact (so you basically have to create a new app if you want to rename)

[2019-10-25 21:28] FultonBrowne commented on #1248
Thanks, @amchew , will do.

[2019-10-25 21:46] gfinden commented on #179
Since the SDK itself is imposing a limit on event property count as well as the length of event names and values, we need the SDKs updated to allow higher limits, as well as supposedly the backend updated, if this limit is also imposed there.

[2019-10-25 21:53] jbrozen commented on #1242
Yes! This is absolutely needed

[2019-10-25 22:16] jbrozen opened #1272 "Automatic Distribution to all Distribution Groups for each Release (HockeyApp Rights Management)"
**Describe the solution you'd like**
We have many (30+) different distribution groups within HockeyApp/App Center and would like to keep the granularity so that we can distribute certain app builds to certain groups. <The fact that you also can't reference Distribution Groups across Organizations is a major limitation within AppCenter that was not present in HockeyApp - we have worked around this

[2019-10-25 23:34] juandedios199012 commented on #102
Alguna novedad ? Quisiera usar Appium C# en Visual Studio . Para Luego Utilizar CI en Azure DevOps o App Center

[2019-10-26 02:02] lwq008 commented on #1167
I see the following message under **Diagnosis** -> **Legacy Issues**. Is it expected?

"Crashes for this app can’t be forwarded from HockeyApp yet but we are working hard so that you can see all your data in one place."

[2019-10-26 02:17] MrAusnadian commented on #1251
Do you know how I can start an app with process arguments in Xamarin.UITest?

[2019-10-26 02:43] mwkoehler commented on #615
I’m happy to see there are eyes on this, but though my phone shows up in my app center account, the installed app remains greyed out no matter how many times I delete it and reinstall.

[2019-10-26 06:04] cyberblast commented on #1259
Well, one of the packages includes different installers for a distributed system containing an "xcopy" package for the frontend (angular), a web deploy package for the middleware (.Net WebApi), a sharepoint solution, WebCon Workflow artifacts, SQL DB scripts and a lof of powershell etc.
It's not an "app" in the strict sense.
But these artifacts always need to go together and are all belonging to a

[2019-10-26 07:50] troyanas commented on #23
+1

[2019-10-26 10:17] benjlin commented on #182
I am also having issues with getting the public distribution groups to play nice with android on a migrated application, we have version 2.2.0 of the android sdk, i have a public distribution group, but no matter what i do i get "In-app updates disabled" works fine with the same configuration of our ios application

![Screenshot_20191026-211108](https://user-images.githubusercontent.com/27397250/6

[2019-10-26 10:31] fabiendem commented on #182
@benjlin
Try using the latest SDK 2.4.1 and make sure you install the app from the browser via the App center link, not via ADB or any usb transfer method.

[2019-10-26 10:42] absinth70 commented on #1114
@dimazaid I think (and hope) its already covered by this one: #1228 (Enable In-app updates for WPF Applications (feature parity with HockeyApp)). Even I'm not able to find any functional Sparkle SDK for .Net core WPF :/

[2019-10-26 13:51] easterapps commented on #1089
+1

[2019-10-26 16:18] #1222 closed

[2019-10-27 02:10] benjlin commented on #182
There were reasons why we were behind on the sdk, but we have bumped it to the latest version for testing with this, and no matter how we get to the install screen for the application, the install email, the public distribution link, signed in through appcenter, hitting the reinstall app button. we get the same message on startup.

[2019-10-27 14:52] futuretap opened #1273 "iOS: Support MetricKit"
**Describe the solution you'd like**
MetricKit is a new API in iOS 13 to collect app reports including system stats such as battery and memory usage, launch time and disk writes. While those stats are also available in Xcode under certain conditions (enough reports collected), it would be useful to integrate them in App Center and relate them to events tracked via analytics.

**Describe alternativ