[2019-05-13 14:04] cofitz1 opened #410 "AppCenter Test + Android Emulators"
I have tests that require a lot of API coverage and leasing all of the physical devices needed is very time consuming.

[2019-05-13 14:05] cofitz1 opened #411 "AppCenter Test + Device Leases"
Are there any plans to support "leasing" a device for use in a DevOps pipeline for a period of time instead of only supporting test workloads that run directly on the device unassisted? I have scenarios where using adb directly on a device is necessary to orchestrate testing - ideally a DevOps task could be used to get a device that is accessible for all of the remaining tasks in the pipeline.

[2019-05-13 14:21] ufna commented on #326
@jaelim-ms , sure, here it is. I've set log level to verbose also. If you need, I can provide test build.

[crashlog.txt](https://github.com/microsoft/appcenter/files/3173322/crashlog.txt)

[2019-05-13 14:46] winnieli1208 commented on #217
@nuclearsam great suggestion. We don't have any immediate plans to do this but I will update you if anything changes. Thanks!

[2019-05-13 15:34] jwargo commented on #365
@jfalameda are you sure this is a bug? Have you worked with our support team on this issue?  Changing the administrator for an app in App Center shouldn't remove the service's ability to send notifications - it could be that two things happened at once.  Please use the blue chat button in the bottom-right corner of any app center page and get our dedicated support team to help you further triage t

[2019-05-13 15:38] jwargo commented on #405
@DouglasMarq interesting suggestion - I'll take a look and discuss this with the Engineering team.

[2019-05-13 16:18] Maximell commented on #214
Hi @DennisPan, yes, my app is in React-Native.

I was actually able to resolve this issue, with some help from Jorge in AppCenter support (thanks!). Despite having builds queue automatically from `git push`, I had to go into the build configuration and push `Save and Build` for it to recognize my `appcenter-post-clone.sh` file (placed next to my `.xcodeproj` file).

Still working through other bui

[2019-05-13 16:57] instantiator opened #412 "Please create user feedback tools"
**Describe the solution you'd like**
It would be great to be able to add features to App Center enabled apps, so that users can leave feedback, comments and bug reports directly from the app. These are then collated and managed inside App Center as conversations between the user and developer.

**Describe alternatives you've considered**
There are also existing third-party systems, but they lack t

[2019-05-13 17:07] manolobattista93 commented on #214
I have the same error:
##[error]The process '/usr/local/lib/ruby/gems/2.6.0/bin/pod' failed with exit code 1
##[error]The 'pod' command failed with error: The process '/usr/local/lib/ruby/gems/2.6.0/bin/pod' failed with exit code 1

@maximell could you share your appcenter-post-clone.sh ?

[2019-05-13 17:13] Maximell commented on #214
@manolobattista93 sure! It is really long and complicated... ;)

[code]

Hope that helps!

[2019-05-13 18:15] nrajpurkar commented on #32
We have not landed on the full June iteration plan yet, but we will definitely take this feature request into account as we are deciding June's priorities.

[2019-05-13 18:32] greensopinion commented on #214
No, it's not React Native.  We're using JavaScript/Vue in a WebView, facilitated by the [Capacitor Framework](https://capacitor.ionicframework.com/)

[2019-05-13 18:45] jaelim-ms commented on #326
@ufna Thanks for the log! Would you mind if you can capture all logs (without modifying/truncating) from first launch (that causes a crash) all the way thru the second launch (that shows handling the previous crash)? Launch the app -> Crash -> Launch the app again. I would like to see logs that shows "App Center SDK configured successfully." twice in logs.
Thanks in advance.

[2019-05-13 19:31] phoney commented on #81
I only do manual builds. When I submit to TestFlight there's a text field for the Release Notes as part of the distribution step. This exact UI should populate the Release Notes that are sent to Distribution Groups.

It should also be possible to edit the Release Notes later and have emails sent to the Distribution Group without creating a new release. HockeyApp does this.

[2019-05-13 20:06] MichaelMackendMS opened #414 "Update Build Configuration if any of post-clone, pre-build, or post-build scripts gets added or removed."
**Describe the solution you'd like**
It is a known issue (https://docs.microsoft.com/en-us/appcenter/build/troubleshooting/general#when-do-i-have-to-update-my-build-configuration-manually-through-save--build) that build configurations do not update when custom build-phase scripts are added or removed.  This is particularly problematic for those of us leveraging your service for CI/CD.  I would lik

[2019-05-13 21:42] iageoghe commented on #167
@thetanz-geoff I would love to discuss this issue with you directly and get additional feedback, would you mind reaching out to me via email? We were unable to validate the bi-directional access portion of your claim, _”suddenly both Organisations can tamper with each other’s resources”_ however it is entirely possible that I missed something.

[2019-05-13 22:23] Zakeelm commented on #400
Thanks for the explanation (both of you)! With the link, i'm assuming you're referring to the server SDK piece right? Besides client app updating, are there any additional reasons why our current implementation may be a blocker for you?

Since this is such a new product and we're in preview, i'm interested in investigating any way we can improve the developer experience. Want to make sure we're so

[2019-05-14 01:43] booker-dragon commented on #398
@nrajpurkar it is so disappointed to hear this
We wanted to subscribe more concurrent builds and followed your support team instruction to uninstall appcenter app on github and now we lost control over our existing apps

Can you provide support to make some changes maually to connect our github repo and existing app?

[2019-05-14 05:25] winnieli1208 commented on #406
@comply365dev do you mind starting a conversation in the blue chat bubble on the bottom right of App Center and link this conversation? This will connect you to our support and engineering team who can take a closer look at this for you. Thanks!

[2019-05-14 08:06] manolobattista93 commented on #214
@Maximell thanks :) I solved with another solution, adding on appcenter-post-clone.sh:
[code]
This remove the cocoapods version installed on my App Center and force the specified version, 1.5.3 in my case.

[2019-05-14 09:22] owenniblock commented on #357
@dolafn - please could you send us a link to the test run where this is happening so we can check it out. If you don't want to paste the link here - please reach out to us through the support in the App Center portal (with a link to this GitHub issue as well).

We'll discuss this internally and see what we can come up with.

[2019-05-14 09:24] Oddj0b commented on #264
@galfonso777 you can get it today 😄

[2019-05-14 12:43] ufna commented on #326
@jaelim-ms ,
Clean install and two launches.

[logs2.txt](https://github.com/microsoft/appcenter/files/3177685/logs2.txt)

[2019-05-14 15:15] tiesmaster opened #415 "Feedback requested on vulnerability report in an app that uses the App Center SDK"
We're working on an app that's going to go live in a couple of weeks. We will be issuing an external pen test on the app, but we wanted to be proactive, and check the app beforehand. I've run the app through a free vulnerability scanner (Quixxi), and a number of things are caused by adopting the App Center SDK (we're on Xamarin).

I don't think these are a security risk, but wanted to check with t

[2019-05-14 17:10] winnieli1208 commented on #43
Update: the improvements for UWP will come later this year, ideally around the end of summer. We plan to start work on WinForms and WPF first.

[2019-05-14 17:12] jwargo commented on #396
@studeruss thanks for that suggestion. This is something we want to add support for, and hope to be able to add this in a future SDK update.

[2019-05-14 17:32] annakocheshkova commented on #326
Hi @ufna! Could you please send us two separate sets of verbose logs:
1st launch where the crash happens
2nd launch where the crash should be sent

We can't see anough information in the logs you sent. Basically we want to spot two places where SDK configuration (on start) occurs.

[2019-05-14 21:26] KieranLafferty opened #417 "Support command line build options for iOS/Android Apps (Buck/Bazel)"
**Describe the solution you'd like**
Tools like Buck and Bazel are very popular at big companies (Airbnb, Uber, Facebook, Google, etc) would be great if AppCenter supported a method to use these tools to build iOS/Android Apps

To enable support for these instead of selecting the .xcworkspace/xcodeproj you could have two fields

1. Build command
2. IPA output path

You could install buck via a pre

[2019-05-14 21:27] KieranLafferty commented on #417
Buck https://buckbuild.com/
Bazel https://docs.bazel.build

[2019-05-14 22:42] SVCAppCenterGit opened #418 "Support for Appium with TestNg"
**Describe the solution you'd like**
AppCenter Support for Appium with TestNG

**Describe alternatives you've considered**
We considered Appium with JUnit which is supported - we have our testing framework already built in TestNg and that leverages TestNg specific features not available in JUnit such as parameterized test and dependency test

**Additional context**
Our automation testing framework

[2019-05-14 23:34] upintheairsheep opened #419 "Web-based UI upload"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I want to upload apps directly like in HockeyApp.
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.
Hockeyapp.
**Additional context**
Add any other context or screenshots about the feature request here.

[2019-05-15 01:29] booker-dragon opened #420 "Will installing Github app override my subscription in billing?"
**What App Center service does this affect?**
Build

**Describe the bug**
We followed the instruction from appcenter engineer to uninstall github app and subscribe more concurrent build in appcenter billing section
I lost build status report in my repo now because github app is uninstalled

**To Reproduce**
Steps to reproduce the behavior:
1. Install appcenter github app in Github marketplace
2. C

[2019-05-15 08:45] jpc1963 opened #421 "NUnit 3 / UITest failing with error: Exception has been thrown by the target of an invocation"
**What App Center service does this affect?**
testing on ios simulators / android emulators

**Describe the bug**
Hi I have a Xamarin UI test project with tests apps on iOS and Android simulators. I have recently updated nunit & xamarin.uitest to the latest versions. Now when I start my app on a simulator I get the error:  Exception has been thrown by the target of an invocation

**To Reproduce**

[2019-05-15 09:07] pushkindev commented on #326
@annakocheshkova
* [crash_clean_1.txt](https://github.com/microsoft/appcenter/files/3181802/crash_clean_1.txt) - first run after installation
* [crash_clean_2.txt](https://github.com/microsoft/appcenter/files/3181808/crash_clean_2.txt) - next run after crash

[2019-05-15 09:11] Oddj0b commented on #153
A fix has been implemented, thank you for reporting.

[2019-05-15 09:11] #153 closed

[2019-05-15 09:36] oz90210 opened #422 "0"
**What App Center service does this affect?**
Name of service or sdk with the issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2019-05-15 09:38] BjoernDreher commented on #150
@winnieli1208: Are there any news to this issue? We are developing an side-loaded app and actually we are  using the HockeyApp. The HockeyApp will be terminated this year and there is no alternative at the moment. That will cause a huge problem for us.

[2019-05-15 10:26] annakocheshkova commented on #326
@pushkindev in the first file, I see only one entry from App Center and no crash, any chance these logs get somehow filtered out?

[2019-05-15 10:28] ufna commented on #326
@annakocheshkova,
it's all logs from XCode console, no filters applied. I can provide the app build itself (signed with enterprize cert)

[2019-05-15 10:51] annakocheshkova commented on #326
@ufna quite strange, do you start the app after the console is opened?
Yes please provide the test build if it's possible.

[2019-05-15 10:58] ufna commented on #326
@ufna I've sent you e-mail with build url.

[2019-05-15 10:59] lumaxis commented on #422
@oz90210 Did you open this issue by mistake?

[2019-05-15 10:59] #422 closed

[2019-05-15 12:19] sasivishnu opened #423 "URL to refer Code Coverage or any custom Badge generated during AppCenter build process"
**Describe the solution you'd like**
Hi, Thanks for continuously improving AppCenter.

Currently from AppCenter we get badge for build status if configured.
![image](https://user-images.githubusercontent.com/23331470/57774496-4de15e00-7738-11e9-90d0-2e2d03107c21.png)

I understand that AppCenter currently doesn't have in-built support for unit testing and calculating code coverage. I am currently

[2019-05-15 12:35] zmugraby commented on #194
We are also looking to get AAB Support

[2019-05-15 13:57] winnieli1208 commented on #150
@BjoernDreher no updates at this time. Our team is ramping up on the Windows work this week so we'll have a better idea of what work is required to support this very soon. No ETA right now because there are quite a few unknowns at the time.

On a side note - since we only support handled exceptions for Xamarin apps, some App Center users track their errors using  [custom events](https://docs.micro

[2019-05-15 14:47] lorant-csonka-planorama commented on #303
Hey,
I hope you can help me, I really tried everything, and can't make the Xamarin.UITest 3.0.0 work with a real local device.

**I have a Xamarin Forms project and I am using**
- macOS Mojave 10.14.3 (18D109)
- Visual Studio Community 2019: 8.1 build 2460
- Xamarin.iOS: 12.10.0.150
- XCode: Version 10.2.1 (10E1001)

**I included the following packages in my UI test project:**
- NUnit: 3.12.0
- NU

[2019-05-15 16:07] patniko commented on #415
Hi @tiesmaster, these are definitely on our radar, but we view them as low-risk given the type of services we provide in App Center. Regarding `File.delete()` and logging we do make sure there isn't information in the crash payload worth compromising and work hard to make sure we aren't sharing sensitive information in logcat. We'll definitely explore things like SqlCipher as we add scenarios to o

[2019-05-15 16:22] comply365dev commented on #406
done

[2019-05-15 17:50] jwhiteDev commented on #420
Hello! Based on my understanding, just setup the GitHub app with the free tier, as it should use the billing that App Center already has. You should not need to setup a paid plan on the GitHub side if you already have it set in App Center. If there is an issue please let us know and we can investigate but that is the behavior that should take place.

[2019-05-15 17:57] JoMoore88 commented on #194
This is a feature we would also love to see added ASAP.

[2019-05-15 18:49] devinkav opened #424 "Cannot create app with non-english name through API"
**What App Center service does this affect?**
App Center API

**Describe the bug**
I cannot create an App that contains a non-english character in the "name" field using the API. When imported from HockeyApp or using the App Center web interface it will translate a Chinese character to the pronunciation (EG: zheng1-ba4-ji2) but it does not work with the API

**To Reproduce**
Steps to reproduce the

[2019-05-15 19:16] comply365dev commented on #406
Figured it out w/ the help of Jorge Medellin.  Local device timestamps was set ahead of local time.  Putting this here in case anyone has this issue and searches for NoValidLogsFoundInLogContainer

[2019-05-15 20:09] lumaxis commented on #424
@devinkav I believe this is correct behavior. The content of the `name` field has to be URL-compatible, i.e. basically ASCII.
If you want the behavior from the web UI, try passing in just the `display_name`, that should create convert the Chinese characters to the pronounceable version automatically.

For 3., we can definitely look into improving the error message here 😅

[2019-05-15 20:10] gitown commented on #72
Any update regarding this feature?

[2019-05-15 20:22] herbig commented on #230
Hey @derpixeldan, I sent a message via Twitter.  Let me know if it's possible to get into the beta as well.  Thanks!

[2019-05-15 21:33] winnieli1208 commented on #406
Glad to hear! Thank you for the update and for sharing the solution. I will close this issue for now but people can still refer/reopen this if they face the same problem.

[2019-05-15 21:33] #406 closed

[2019-05-15 21:44] DrBeak1 opened #426 "Modify default build device"
**Describe the solution you'd like**
Currently for iOS (and possibly Android as well) there is a static default device used for all build process which is not modifiable. It would be nice to be able to change this in the build configuration. For example, for iOS, on every build process it uses an iPhone 6. Which will fail certain tests if newer device specific capabilities are being tested.

**Des

[2019-05-15 21:47] DrBeak1 opened #427 "Increase build timeout from 60 minutes"
**Describe the solution you'd like**
Don't automatically fail builds at 60 minutes.

**Describe alternatives you've considered**
Changing CI/CD platforms

**Additional context**
Our mobile iOS application has 50 UI tests. The application is fairly small and we're not doing anything unusual with our build process. We're at a point now where we cannot add new tests because doing so will cause us to

[2019-05-15 22:23] gchiacchio commented on #75
@winnieli1208 That would be an improvement.

- Can you provide a way to retrieve the source map out of the server with a build script?

- Please let me know what options you can think of... like email, ftp, dropbox, gdrive, or even the iOS upload symbols API [here](https://docs.microsoft.com/en-us/appcenter/diagnostics/iOS-symbolication#app-center-api)

[2019-05-15 22:28] devinkav commented on #424
Thanks for the quick response. I've tested using display_name without a 'name' and it seems to work. I'll go ahead with using that. Thanks for the help!

[2019-05-16 00:38] hamswan commented on #94
For customers affected by this issue, The casing issue has been fixed. We are providing 90 days to ensure that you have enough time to validate your queries.
Please test and adjust your existing queries accordingly. If you run into issue, please contact us through our support team (blue chat bubble on the bottom right).

[2019-05-16 00:39] #94 closed

[2019-05-16 01:33] lisional commented on #230
@derpixeldan I contacted you on twitter as well. Looking forward to testing this 🚀

[2019-05-16 01:36] botatoes commented on #276
Thanks for the suggestion! I will take this as a feature request for the distribution backlog. We will consult with our GDPR expert to see if this is okay.

[2019-05-16 01:37] botatoes commented on #307
@dfbarone, is this an origin HockeyApp app? If so there is a limitation for how many builds you can see. As for the sorting, this is already in our backlog. Thanks for the suggestion though, I'll see about this getting prioritized even more.

[2019-05-16 01:38] botatoes commented on #419
Hi, can you elaborate a little bit more on what you mean by uploading apps directly? What kind of apps?

You should be able to upload apps directly into App Center now.

[2019-05-16 01:40] botatoes commented on #323
Hello, can you please open an intercom ticket for this bug so someone on DRI can take a look at this? The intercom button is on the lower right-hand corner of the appcenter.ms website.

Closing this.

[2019-05-16 01:40] #323 closed

[2019-05-16 01:42] botatoes commented on #343
Thanks for the suggestion. I filed a bug for this. We will get this fixed soon.

[2019-05-16 01:46] botatoes commented on #412
Thank you for the suggestion. Will keep this in mind for future distribution related features.

[2019-05-16 01:47] botatoes commented on #408
Thank you for the suggestion. Will keep this in mind for future security improvements.

[2019-05-16 01:49] botatoes commented on #404
Thank you for the suggestion. We are currently sorting the way Apple sorts their version on testflight/app store connect. We will keep this in mind to add additional sorting options when improving the UX in the future.

[2019-05-16 01:49] botatoes commented on #401
Thanks for the suggestion. What kind of things would you like to search by?

[2019-05-16 01:57] botatoes commented on #344
Thank you for the suggestion. Will take this into consideration for future code push improvements.

[2019-05-16 02:05] mickbyrne opened #428 "Unable to sign up new Microsoft account with plus symbol (+) in username"
**What App Center service does this affect?**

This issue relates to the broader Microsoft authentication service, but is of particular concern when using App Center and attempting to set up new Microsoft accounts on behalf of clients.

**Describe the bug**

When attempting to create a new Microsoft account, the validation rules do not allow an email address with a plus symbol (+) in the username.

[2019-05-16 02:13] mickbyrne opened #429 "'Organization' screen incorrectly shows no organizations"
**What App Center service does this affect?**

The 'Settings' section within the 'AppCenter' website.

**Describe the bug**

Viewing the 'Organizations' screen within the AppCenter website shows that my account is not a member of any organizations. This is incorrect, as I'm a member of multiple organizations.

**To Reproduce**

Steps to reproduce the behavior:

1. Sign in to the AppCenter website

[2019-05-16 02:18] mickbyrne opened #430 "Cannot choose organization when creating new app through AppCenter website"
**What App Center service does this affect?**

The App Center website.

**Describe the bug**

As a user that has admin rights in multiple organisations, I would want to be able to create new apps in those other organisations. Currently, the App Center website does not allow this.

**To Reproduce**

Steps to reproduce the behavior:

1. Sign in to the App Center website as a user that is a member of

[2019-05-16 04:38] malware-dev commented on #59
Please don't remove this, it's still very valid

[2019-05-16 07:09] Oddj0b commented on #427
Alternatively, if you are running UI test in App Center Test from Build, you can add a `--async` switch which do fire and forget of the test, so the build machines aren't waiting for it.

[2019-05-16 10:13] tiesmaster commented on #415
@patniko Thanks for the reply. Good to know this is on your radar (didn't expect anything less :wink). Do you have any GitHub issues I can subscribe to?

I don't really see anything concrete for a `docs.microsoft.com` contribution, do you?

[2019-05-16 11:04] dkocich opened #431 "Appcenter's init tutorial shows incomplete/deprecated configuration commands"
**Describe the solution you'd like**

- show command for installation using yarn together with `npm` (slightly different command; using different app lock)
e.g. `yarn add appcenter appcenter-analytics appcenter-crashes --exact`

- Show command for direct linking using previously installed package names?

**Additional context**

This screen shows to me when I init new react native project through t

[2019-05-16 11:53] joshspoors32 opened #432 "Add error handling support to android sdk"
Support for Handled Errors need to be added to the Android SDK, we used hockeyapp in Xamarin now transferring to Kotlin and native android we cannot report full exceptions and stack traces to app centre.

Tried to do it via normal analytics but with the character limit on the property values we get truncated data. This is extremely important to our business and application.

[2019-05-16 14:07] sdg85 commented on #388
Hi
Thanks for the great feat. Just wanted to ask if you have a sample on how to use it. We're just getting back a app_id, where do i find the user info (claims)?

[2019-05-16 14:31] hkosacki commented on #54
Hey @nrajpurkar, are there any chances to see this feature live? 😉

[2019-05-16 18:39] gchiacchio commented on #75
@winnieli1208 @Eyesonly88 after my last message, I've been trying to upload the generated file by using the upload symbols API, and found a way.

Hope this help others.

Snippet for the post build script...
[code]

## Reference
Build scripts - [post puild](https://docs.microsoft.com/en-us/appcenter/build/custom/scripts/index#post-build)
Build scripts - [variables](https://docs.microsoft.com/en-us/

[2019-05-16 18:57] wajahatkarim3 commented on #32
I have been using AppCenter for almost since the start, but now our several apps are using flavors and dimensions, and we got no option except to look for some other alternative for CI/CD. Can you please make this on urgent basis as we don't want to leave AppCenter. We love it a lot.

[2019-05-16 19:37] DennisPan commented on #364
@barryelevatyr @mcarlson We just released the changes. Do you want to give it a try?

[2019-05-16 19:55] johncruz24 commented on #158
any update @nrajpurkar ... I would like to use this feature as well.

[2019-05-16 20:12] nrajpurkar commented on #158
No update on this at the current time while we have our hands full with [other work](https://github.com/microsoft/appcenter/issues/361).

[2019-05-16 20:25] DennisPan commented on #399
@atrauzzi You are right that there is currently no direct support of this, but you should be able to achieve a solution with environment variables plus custom scripts. This example may help: https://blog.theodo.com/2018/07/installing-private-npm-packages-appcenter-2/

[2019-05-16 21:00] nextcow opened #433 "Would be nice to have a way to edit the invitation email"
When I invite users to join as testers, I'd like to be able to also give them a link to my helpdesk -
for example

 "For more information about the MyCompany App, go to support.mycompany.com"

In essence, I'd like an invitation email template.
Thanks

[2019-05-16 23:08] atrauzzi commented on #399
Great, thanks for the link.  I'll use that in the interim as you guys figure out the best way to streamline this. 😊

[2019-05-16 23:14] #27 closed

[2019-05-16 23:33] DrBeak1 commented on #427
@Oddj0b Thanks for your message. I'm not 100% I follow where the `--async` switch would go. I'm referring to App Center > Build web tab. From what I can tell this has a default script that is fired and UI tests are either on or off based on the config for that particular branch. Let me know if I'm missing something.

[2019-05-16 23:33] DennisPan commented on #399
Let us know if you run into any issue! Thanks for reaching out. I'm going to close this as we won't be able to get to this for a while given other priorities and that a solution exists.

cc @nrajpurkar

[2019-05-16 23:33] #399 closed

[2019-05-16 23:36] DennisPan commented on #391
Close this as this is being discussed over support. Let us know if you run into anything else.

[2019-05-16 23:36] #391 closed

[2019-05-16 23:39] DennisPan commented on #379
@RobertMcCoy do you mind reaching out to support (the blue bubble at bottom right of the portal), so that we can dig into more details? We can circle back on this Issue about what happened, which may helper others who run into the same. But for us to perform deeper investigation, we need to acquire more information about your account, app, etc.

[2019-05-17 00:56] tonyarnold commented on #57
Can someone un-invite stalebot? It's a seriously poor look for issues that haven't seen any work yet to be closed by an automated service.

[2019-05-17 01:56] barryelevatyr commented on #364
@DennisPan - Great news, thank you and the team again for turning this around quickly!

First, some smoke testing and good news:
1) Opened existing build on 10.2, "force legacy" toggle was "on" - PASSED
2) Create new build for new branch on 10.2, "force legacy" toggle was "off" - PASSED
3) Change XCode to 9.4 on both above branches, "force legacy" toggle was "disabled" - PASSED
4) Build existing b

[2019-05-17 04:44] amchew commented on #388
Hey @quincys, an update, I've made a PR to update the docs about the signOut() method, you should see it updated shortly. :)

Hey @sdg85, thanks for the support! Calling signIn() now only returns the [accountId](https://docs.microsoft.com/en-us/appcenter/sdk/auth/android#sign-users-into-the-app), which allows you to identify the signed in user and use this accountId in other App Center services li

[2019-05-17 05:10] DennisPan commented on #334
Close this as we don't have more information to investigate. I just tried a new build with Xcode 10.2.1 and don't see cocoapods used. Doesn't look like a common issue. Feel free to reach out to support (the blue chat bubble at bottom right corner) with which we can take a deeper look.

[2019-05-17 05:10] #334 closed

[2019-05-17 05:25] beeradmoore commented on #30
I run a local jenkins server which gets a web hook from our git, builds the app, and then uploads it to AppCenter for distribution.

AppCenter config screens are so much easier than having to deal with Jenkins. I'd really like to retire this build machine :P

[2019-05-17 06:13] easterapps commented on #220
any progress in this topic?

[2019-05-17 07:25] DennisPan commented on #364
@barryelevatyr Thanks for giving it a try and the detailed investigation! We are looking into this. For the time being, we are considering making "force legacy" toggled to "on" by default for any RN version, so that we provide a better onboarding experience. It's always sad to see your first build fail, and not everyone have the resource and energy to figure out changing the build system as a work

[2019-05-17 08:17] vrwim commented on #311
Adding a "me-too" to hope this gets some attention.

The events appear in the log flow (as does the unhandled error), but they don't appear in the "events" tab of a report.

I am using Xamarin.iOS, AppCenter 1.12.0 (via NuGet), iPhone X on iOS 12.4 Beta

[2019-05-17 12:02] Jon889 commented on #230
Is there an update on when it will be available to everyone?

[2019-05-17 12:28] dimitarcnbs opened #434 "Show events leading to a logged error same way as with crashes"
**Describe the solution you'd like**
When reviewing crashes there is a report that would show the "page" and "session" events leading to the crash. Same functionality should be available when reviewing logged errors.

[2019-05-17 13:59] santosh373 commented on #108
Can we have Okat and Local User which can integrate with the APPCENTER for the login, Please share the reference page

[2019-05-17 14:05] andre-castro-garcia opened #435 "App Center Issue Push to user"
I had an issue last night, some of my users received a lot of push notifications (flooding the app), for fix purposes I stopped my backend service avoiding send new notifications.

Today I look at the status page https://status.appcenter.ms/incidents/mkp8k6yy0ynp and saw that AppCenter had an issue with push notifications (as I too), but there's no more information about the causes and behavior. I

[2019-05-17 14:21] sseyod commented on #419
From my perspective - I want an app like the current native HockeyApp client for macOS. I hope this helps...

[2019-05-17 15:12] sseyod opened #436 "Add AppCenter crash reporting to a C++ app for the Windows Store"
**Describe the solution you'd like**
Can you please clarify how I can add AppCenter crash reporting to a C++ app for the Windows Store. Thanks!

**Describe alternatives you've considered**
I can't find any alternatives.

**Additional context**
This should be self-explanatory!

[2019-05-17 15:32] Manuel7AP commented on #262
Hellooo, this is a feature that we would love to see!

[2019-05-17 16:33] #420 closed

[2019-05-17 16:46] mkm12789 commented on #120
I noticed this has been implemented for the Desktop UI but not mobile. Is there a separate ticket for the mobile UI?

[2019-05-17 17:55] dbnex14 opened #459 "UWP full crash support, publish to Windows store and UI automation"
### **Description**

I am interested in finding more about AppCenter support for .NETStandard 2.0 Xamarin.Forms (all 3 platforms Android, IOS, and UWP).  Is this supported?  I am bit confused because I have been finding lots of links, even MS ones that are confusing on this topic especially when it comes to Xamarin.UWP support and need clear answer.

### **Repro Steps**

Please list the steps used

[2019-05-17 18:23] barryelevatyr commented on #364
@DennisPan I think changing the default to "on" is the right call given what we know at this point.  I think there are some scenarios that will build successfully with the new build system even with the "sdk" option passed so offering the flexibility makes sense even at this point.

As an example, I tried to strip all React libraries/frameworks from my main project (one of the suggestions in the R

[2019-05-17 19:18] sindresorhus commented on #192
This is a blocker for me and other macOS devs I know for moving from Crashlytics.

[2019-05-17 20:27] barryelevatyr commented on #364
@DennisPan - Some additional information from the above...

I installed a tool called [Fastlane](https://github.com/fastlane/fastlane) which is an automation tool used throughout the community to see what their default command line is for building apps.  Using the stock defaults for Fastlane after setting up the fastfile, the command used was:

`xcodebuild -workspace RN0595Test.xcworkspace -scheme

[2019-05-17 20:45] abdeweese opened #437 "build configuration: change control - would settle for bld cfg import/export to json/xml/etc."
Purpose:
Build configuration change control (e.g. in a git repo)

Scope:
Applies to all App Center builds on a per branch basis

Proposed Solution:
Support import/export to json/xml/whatever.  Anything I can store in a txt file and stick in a git repo would do.

Alternatives:
Alt 1) As of this writing the bld config is only editable through a GUI which is not an acceptable solution from a change c

[2019-05-17 21:12] CJ99 opened #438 "Trigger new build when a pull request is created"
**Describe the solution you'd like**
I would like to trigger a build when a pull request is created in the code repository and send the notification to the developer about the build status.

**Describe alternatives you've considered**
Currently, we can only set up a build with the specific branch in App Center, but not configure a build for the pull request. It will be much helpful to have the con

[2019-05-17 21:20] abdeweese commented on #22
This is the answer.  I just created a similar feature request here:
https://github.com/microsoft/appcenter/issues/437

[2019-05-17 21:29] marstall commented on #437
this would help us a lot on our team. We currently have 8 build configurations in regular use:

- 2 apps x 2 platforms (ios/android) x 2 modes (dev/staging)

that will only increase as you include feature branch builds, app store branch builds, etc.

I don't think that's too atypical.

Bonus: still be able to use the GUI to do per-branch spot modifications for the checked-in build config.

[2019-05-17 21:34] antoine2142 opened #439 "No push notification to Users on UWP"
### **Description**

The push request (/v0.1/apps/{owner_name}/{app_name}/push/notifications) using user id's does not work for UWP

### **Repro Steps**

1. Register the user id 105 on my Xamarin.Forms project: AppCenter.SetUserId("105");
2. Send a push notification to a Xamarin.Forms UWP application (/v0.1/apps/{owner_name}/{app_name}/push/notifications) with the following body:
{
  "notification

[2019-05-17 21:52] zigfreid5 commented on #192
This is a hang-up for us as well. I'm loving the new features recently brought into AppCenter, but it's things like this that still make Firebase *a little* better option.

[2019-05-17 21:59] RWOverdijk commented on #437
yaml is used quite a bit for this stuff now too.

[2019-05-17 23:07] dbnex14 opened #440 "Is deployment to Windows Store Supported through AppCenter?"
### **Description**

Is deployment to Windows Store supported through AppCenter?

### **Repro Steps**

NA

### **Details**

1. What is your app platform (Xamarin.Android or Xamarin.iOS or UWP)?
    - Deploying of Xamarin.Forms on all 3 platforms (Android, iOS and UWP) to their app stores, is it supported?

2. If using Xamarin.Forms or if using portable/shared code to call our SDK APIs, are you usi

[2019-05-18 06:53] manu4rhyme commented on #155
@Oddj0b Would it be possible to have multiple OS'es for each device in the future? We're constantly facing scenarios where our customer devices usually have different OS versions, and this would further help with debugging and fixing a lot of test bugs.

@Priskorn Thanks! When can we expect to start using the same on AppCenter?

[2019-05-18 07:01] futie commented on #393
I also need the ability to retrieve the JWT if the user is already signed in or can be signed in silently. Ideally a call to SignIn with a (bool silent=True) parameter - this can then be called when the UI is being rendered - to display a 'Login' or 'Logout' button as appropriate.

[2019-05-18 21:26] atrauzzi commented on #399
@DennisPan - Hmm, it'd be better to leave this open and track it in a backlog somewhere.  Otherwise it will be forgotten and will never get considered for implementation.

[2019-05-18 22:51] claudiocleberson commented on #37
+1

[2019-05-19 01:28] malhobayyeb commented on #37
+1 because all of our projects are hosted in GitLab.

[2019-05-19 07:37] zevmo commented on #262
+1 we are anxiously waiting for this, in addition to the support for moving everything over from azure (ios builds) to appcenter proper.

[2019-05-19 14:16] ka-lex commented on #37
+1 we need Gitlab support :)

[2019-05-19 20:14] fileman commented on #400
It should be useful for a project with centralized service back-end with business logic in this tier (azure functions, webapi with/out odata, etc...) with different type of client (Xamarin, WebApp, SPA, WPF, etc...).

The main problem for me is that are missing offline support for list of document and public collection are read only, but I'll open a specific issue for those.

[2019-05-19 21:02] DennisPan commented on #399
@atrauzzi Feel free to re-open it. At the very least I'm going to remove the "bug" label, as this is more of a feature request, not a bug. Thing change, so I cannot tell for sure, but given where we are in terms of priority, I doubt that we will get to something like this in the foreseeable future. If we get more interest from others, certainly we can revisit.

[2019-05-19 21:08] Huyaos opened #441 "https://appcenter.ms/"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-05-19 21:08] #441 closed

[2019-05-19 23:51] #44 closed

[2019-05-20 00:06] sushant40 opened #442 "Persist / cache build dependencies between builds"
**Describe the solution you'd like**
I would like to 'backup' the Carthage build output folder between builds and then run Carthage build with use cache flag. This will speed up builds considerably.

**Describe alternatives you've considered**
In Azure DevOps i write to the build artifact

[2019-05-20 02:52] khoivonvg opened #443 "Add option to allow user on/off screenshot taking on demand"
**Describe the solution you'd like**
When I use XCTContext.runActivity, azure automatically takes a screenshot at the end of activity although I didn't call any taking screenshot method.
I would like to have an option to disable this feature on running time, and screenshot is only taken and sent to azure when I call taking screenshot.

[2019-05-20 04:03] brimmy11 commented on #361
Where can I find further information on how I can consume Push to User? I understand it is not part of the SDK yet, but cannot find any information on it at your REST API explorer either (https://openapi.appcenter.ms/).

[2019-05-20 07:22] derpixeldan commented on #230
Update: During the closed beta, we've been moving apps successfully for a few weeks now. We're still monitoring each request independently. That way we've discovered a few smaller issues related to the validation mechanism. Those aren't a real problem for as long as we can manually step in. However, we're working on resolving the issues and improve the overall performance. We can't set a definitiv

[2019-05-20 08:25] simonetodisco opened #444 "ios - set extensions bundle id based on its provisioning profile"
**Describe the solution you'd like**
Main app bundle id is set at build runtime by using the one specified into provisioning profile. As confirmed by support, extensions bundle id is taken from source repository and can't be changed at build runtime. Would be very useful if the behaviour of extensions bundle id is like the main app's one.

[2019-05-20 09:57] broderm commented on #396
@jwargo adding to @studeruss request, would be great to have that in a feature release soon.
We identified that the function **"Doze"** on certain Android mobile devices leads to the issue, that they d**o not receive push notifications**, as the priority of the push notification is sent with **"normal"**. We would love to be able to set that to **"high"** priority (either per default or configured

[2019-05-20 11:03] Priskorn commented on #155
Hello,

I was just told that the order is delayed for a couple of days. I will let you know when it arrives.

It looks like the Galaxy J7 will get Android Pie within the next couple of months. Until then we can have them running Android 8.0.0?

We also have this snapshot available now:

Samsung Galaxy J6 | 8.0.0
-- | --

[2019-05-20 11:10] prabakaranr commented on #37
+1

[2019-05-20 11:17] karthikeyanvis commented on #37
+1

[2019-05-20 11:31] FelipeGatti opened #445 "API - Get list of active users."
**Describe the solution you'd like**
I'd like to have an endpoint at the API that would show me all the active user's so i can handle the push notification via users_id correctly.

**Describe alternatives you've considered**
For now i'll keep sending push notifications to users that are not currently active but in order to handle resources better this functionality would help.

**Additional contex

[2019-05-20 12:54] andre-castro-garcia commented on #435
I received an email last saturday from Azure team describing the AppCenter issue, including root causes and behavior, and telling me that my app was impacted by the bug. Now I know that issue from AppCenter is related with my app.

Thanks for all.
:)

[2019-05-20 12:54] #435 closed

[2019-05-20 13:05] #223 closed

[2019-05-20 14:07] sagostini commented on #271
Hello,

I cannot see any CosmosDB from AppCenter, even if I created one in my Azure subscription
![image](https://user-images.githubusercontent.com/17493212/58027626-590e0280-7b19-11e9-8d4f-21cb099fe3e9.png)

![existing](https://user-images.githubusercontent.com/17493212/58027633-5f03e380-7b19-11e9-9f1d-0127dbf29c31.png)

Am I doing anything wrong?

[2019-05-20 14:28] DwightHyde opened #446 "Add back the timestamp for builds created from Azure pipelines"
We are not using AppCenter builds.  We use Azure.  In the past with HockeyApp we could see the timestamp and now we can't with AppCenter.  When going to https://appcenter.ms/apps?iOS is see my DEV app. When I view it to install it has a Version,Date, and Size but no Timestamp. How do we get Timestamp to appear on that screen. Even though they get an email it's sometimes easier to go directly there

[2019-05-20 14:30] sagostini commented on #270
Hello,

it looks like App Center is not able to keep the relation with the newly created CosmosDB.
Once it is visible as fully created on Azure, it doesn't show properly on App Center
![image](https://user-images.githubusercontent.com/17493212/58029169-58c33680-7b1c-11e9-8dbe-3c52be7a1716.png)

and it returns an error when called from Xamarin.Forms:

`Microsoft.AppCenter.Data.DataException: com.mi

[2019-05-20 14:32] umair-me commented on #65
Really need this! Similar to how its done on Azure DevOps where we select a branch for building.

[2019-05-20 15:54] #365 closed

[2019-05-20 17:39] fred-king commented on #294
I was directed here as well. Very much looking for an "Unreal Engine" plugin to facilitate rapid integration for testing.

[2019-05-20 19:04] guperrot commented on #431
Hi,

For now you can still call `react-native link`.
In a future version of react-native the command will simply have to split by module:

[code]

[2019-05-20 19:32] jmoore4xrx opened #447 "Set client_CountryOrRegion based on client_IP addr"
Our telemetry is coming from MacOS, so CarrierCountry is not getting set (as expected).

Would like for the App Center to do an IP lookup prior to stripping it (set to 0.0.0.0) & set the client_CountryOrRegion accordingly.     Similar to what Application Insights does: https://github.com/Microsoft/ApplicationInsights-Home/issues/116.   Would also like client_StateOrProvence & client_City set simil

[2019-05-20 20:46] nrajpurkar commented on #37
As we're taking a closer look into supporting GitLab.com, we'd love to better understand the ask here. Please react to this comment with the Hooray react for general GitLab.com support and the Rocket react for self-hosted GitLab.mycompany.com support. Looking forward to working toward solving this feature request!

[2019-05-20 21:14] #51 closed

[2019-05-20 21:18] dolafn commented on #357
This doesn't get to a test. The build is not succeeding. I got a recommendation from someone to use XAMARIN_TEST_CLOUD but I've not been able to try that yet.

[2019-05-21 00:00] winnieli1208 commented on #434
This is a great idea and something we would love to support in the future. We don't have any immediate plans at the moment but I will post here if there are updates.

[2019-05-21 00:01] hamswan commented on #447
Thanks @jmoore4xrx for the suggestion, I have added this to the feature request.

[2019-05-21 00:02] winnieli1208 commented on #432
Unfortunately, this isn't on our short term roadmap but bringing handled errors to other platforms outside of Xamarin and Unity is definitely on our radar. I'll post here with any updates. Thanks!

[2019-05-21 02:36] ianduke commented on #194
Google is strongly pushing app bundles. I'm very interested in this feature.

[2019-05-21 02:44] nrajpurkar commented on #54
Hey @hkosacki, this is not currently in our plans for May, but we'll continue to discuss this item as we prioritize work in the future.

[2019-05-21 06:46] jmoody commented on #303
Hi @lorant-csonka-planorama

I have pulled the latest Xamarin.UITest sources and tried to reproduce this problem with the embedded [iOSDeviceManager](https://github.com/calabash/iOSDeviceManager).

Using Xcode 10.2.1 and Mojave latest beta I was not able reproduce with Xamarin.UITest 3.x.

The stacktraces you pasted look like exactly like those we saw before patching Xamarin.UITest for Xcode 10.2

[2019-05-21 07:54] #58 closed

[2019-05-21 09:50] UnreachableCode commented on #82
Thank you, Patniko

[2019-05-21 10:30] Jon889 commented on #230
@derpixeldan Thanks for the update!

[2019-05-21 10:54] dexter31 opened #448 "Extend AAD groups support to Org level"
AAD Groups are currently supported at distribution groups within individual apps. Consider extending this to the distribution groups at the org level.

[2019-05-21 10:56] srungta opened #449 "When inviting someone to a team, there is no indicator that the invitation was successfully sent"
**Describe the solution you'd like**
The page should give a message saying "Your invitation was sent successfully"

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
When adding someone, after pressing enter, a loading bar appears briefly. But there is no message that the invitation was se

[2019-05-21 11:07] carlos-quintero commented on #53
Apart from Diagnostics-Crashes for WinForms already planned, I would like also:

- Diagnostics-Errors (handled exceptions) for WinForms
- Analytics for WinForms (WPF has planned "Full support for .NET framework" but WinForms only "Full support for crashes")

[2019-05-21 11:34] ElD4n1 commented on #20
Any updates on this?
It would be great to have at least a statement about the status of this issue or what makes it so difficult to add support for other platforms than Xamarin.
I'm especially interested in tracking handled (JavaScript) exceptions for Cordova apps and as far as understood I can only achieve this by using custom events with properties which sometimes makes it a little bit difficult

[2019-05-21 12:44] VladislavAntonyuk commented on #86
Any updates?

[2019-05-21 13:59] Priskorn commented on #155
Samsung Galaxy J7 arrived today
Model Name: SM-J730F

![image](https://user-images.githubusercontent.com/5525272/58101541-28dd6700-7be0-11e9-844f-6bd046d05ea7.png)

Created the 2 variations currently available
See: https://www.sammobile.com/firmwares/galaxy-j7/SM-J730F/NEE/

Samsung Galaxy J7 (2017) | 7.0
-- | --

Samsung Galaxy J7 (2017) | 8.1.0
-- | --

@manu4rhyme @Oddj0b

[2019-05-21 14:14] manu4rhyme commented on #155
Thank you so much!

[2019-05-21 14:14] #155 closed

[2019-05-21 14:16] MPusch opened #450 "iOS Xamarin.Forms App success in AppCenter but fail on device"
I have a Xamarin.Forms app that Testes well on AppCenter. I can see the test report image with the login screen.

When I download the App to my IPhone, it installs, but it stays grayed out. It is not listed in Settings—> Apps.

Provisioning is done with an AdHoc Distribution Profile, the IMEI of the device is added to the profile.

**Expected behavior**
Either the App should fail during testing or

[2019-05-21 15:21] jwargo commented on #445
@FelipeGatti Are we talking about user identities set using the SDK, or App Center Auth?

[2019-05-21 15:54] amchew commented on #393
Hi @futie, thanks for the feedback, and got it on your feature request to return whether silent sign-in is true. I've added this to our backlog.

For both @futie and @fileman, we're always looking for feedback to improve Auth, would you be available to hop on a call with me to learn more about your experience? Email me at amchew [at] microsoft [dot] com.

[2019-05-21 16:22] JDick opened #451 "User profiles not able to download application builds in appcenter"
**What App Center service does this affect?**
Appcenter android apk distribution not working for certain users

**Describe the bug**
Currently there are certain users in our organization that cannot download any android apks that are distributed through app center.  They can see the application buckets when they log in, but when they click to see the versions of the apk, app center throws an error

[2019-05-21 16:28] winnieli1208 commented on #20
Hi there! This isn't on our immediate roadmap so unfortunately, I don't have an ETA. As Patrick mentioned, we definitely hope to bring handled errors to other platforms but due to other priorities, such as supporting HockeyApp scenarios, our team hasn't invested much time into this.

We will continue to monitor this feature for community support to help our team prioritize. In the meantime, the wo

[2019-05-21 16:32] winnieli1208 commented on #53
@carlos-quintero thanks for the requests! We definitely plan to support analytics for WinForms as well. I've updated the plan to reflect that.

We would also like to support handled exceptions but due to some unknowns and other priorities, we are unable to commit at this time. Thanks!

[2019-05-21 16:59] patniko commented on #450
Hi @MPusch, can you download the release manually from the developer portal release details page on your computer and try to sideload it? If it can't be sideloaded than there is more than likely something wrong with your provisioning profile.

[2019-05-21 17:00] swathisuvarna1 opened #452 "High availability testing for App Center"
**Describe the solution you'd like**
Some way to disable app center without loosing any data so that the mobile apps we are building using App Center can be tested for availability and the app's response or error can be captured.

**Describe alternatives you've considered**
The App Center support team suggested that I could disable the firewall settings for App Center or remove all the App Center

[2019-05-21 17:00] patniko commented on #45
Closing this for now as there hasn't been follow up from the original reporter.

[2019-05-21 17:00] #45 closed

[2019-05-21 17:00] blparr commented on #448
Hello! Glad you ask that. We are currently working on adding AAD to organizations and then we'll he adding AAD to distribution groups in Orgs. Stay tuned!

[2019-05-21 17:03] patniko commented on #280
Closing this issue as it's already being tracked as a feature request.

[2019-05-21 17:03] #280 closed

[2019-05-21 17:14] winnieli1208 commented on #436
@sseyod thanks for the request! The App Center SDK doesn't work with C++ apps at this time. However, if your app is in the Windows store, you should have crash reports in [Partner Center](https://partner.microsoft.com/dashboard).

[2019-05-21 17:21] acoats2 commented on #451
We're having issues with our iOS builds as well.

[2019-05-21 17:36] botatoes commented on #451
We are currently investigating this issue.

[2019-05-21 17:37] sseyod commented on #436
Hi Winnie,

There are no crash reports in Partner Center - just failures reported as "Unknown".

Pete

[2019-05-21 17:45] jaelim-ms commented on #326
We've discussed the issue in App Center support channel. The issue is caused by using UE4 custom allocator, the customer's issue is temporarily fixed by a workaround to use ANSI allocator. The root cause is not in App Center SDK but in UE4, it should be fixed by the platform.

[2019-05-21 17:45] #326 closed

[2019-05-21 17:55] botatoes commented on #451
We have identified the issue and rolled out a fix. Can you see if your issue was fixed?

[2019-05-21 18:11] botatoes commented on #451
We had confirmation the issue has been resolved. Thanks for bringing this to our attention. Closing this for now.

[2019-05-21 18:11] #451 closed

[2019-05-21 18:12] botatoes commented on #450
If you open an intercom issue on appcenter.ms, one of our customer support or engineers can help you with this. Closing this for now.

[2019-05-21 18:12] #450 closed

[2019-05-21 18:33] jhandel opened #453 "Support Appium in a language agnostic way"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Allow any Appium driver/platform to connect to an Appium service based on capabilities requested and execute their tests
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.
The ability to upload a self contained testing

[2019-05-21 19:54] #61 closed

[2019-05-21 19:54] #60 closed

[2019-05-21 20:40] jaybaxter-ms opened #454 "Allow grouping of crash reports by call stack *across* build numbers"
![crashes](https://user-images.githubusercontent.com/49453180/58129110-e1e67600-7bcd-11e9-8522-853e4eab3860.PNG)
**Describe the solution you'd like**
We (Minecraft Genoa) would like to be able to group crashes reports that share a call stack *even if they have different versions*.

**Describe alternatives you've considered**
We have been closing crashes against old builds and adding a comment to m

[2019-05-21 22:27] brianlanger commented on #30
We had to configure our Xamarin iOS app targets to disable the extension project for testing in appCenter and we can't build there for production at the moment. Would love to have this added so we can stop depending on building locally and have the whole process automated.

[2019-05-21 22:41] patniko commented on #361
@brimmy11 have you looked at this documentation?

https://docs.microsoft.com/en-us/appcenter/push/push-to-user

[2019-05-22 05:11] Shidil commented on #125
This will be a great help for my project.
Is there a chance for this to be considered in the roadmap?

[2019-05-22 05:40] brimmy11 commented on #361
@patniko that wasn't what I was after, I was looking for a way to target a user via the REST API. I only just noticed you can toggle between "Example Value" and "Model" on the OpenAPI Explorer. Currently we target "devices" (installation id's), now I can see there is a "user_ids" type. I think I should be ok now :)

[2019-05-22 08:15] bernardoflynn commented on #262
Curious as to how the other supported test frameworks were chosen compared to Detox. Seems Detox is a more stable framework than Appium. Seems a logical choice for a testing framework to support.

[2019-05-22 10:49] Sergio0694 opened #455 "The Events page fails to load when an AdBlocker is active"
**What App Center service does this affect?**
The issue is with the [https://appcenter.ms/users/\<USER\>/apps/\<APP\>/analytics/events](https://appcenter.ms/) page.

**Describe the bug**
The page just fails to load _when an AdBlocker is active_: I can see the blue progress bar at the top getting stuck at around 90%, and I can only see the placeholders for the items to load.
If I open the F12 dev c

[2019-05-22 11:12] softh commented on #194
🙏
We are also looking to get AAB Support

[2019-05-22 11:57] shnaz commented on #222
@james1301:

This is also something we disparately need.
It is a big overhead having to create and maintain audiences on the fly for each and every notification.  I think that this will benefit alot of people.

[2019-05-22 11:58] shnaz commented on #222
@jwargo Should I create a feature request for the above or is there an existing, do you know?

[2019-05-22 12:24] james1301 commented on #222
@jwargo the new experience with being able to send out to specific UserId's is brilliant, thank you!

The future ability I previously mentioned and @shnaz has detailed to send out to custom properties would still be useful, so we could send to a specific customer.

[2019-05-22 12:49] krebbl opened #456 "HockeyApp crashes are missing in AppCenter"
**What App Center service does this affect?**
HockeyApp / AppCenter synchronization

**Describe the bug**
While transitioning from HockeyApp to AppCenter we noticed that some errors are missing in AppCenter. So it seems like there is a bug in the HockeyApp to AppCenter synchronization.
For example we can't find the corresponding error for HockeyApp crash reason 268708738 in app 25474.

**Expected

[2019-05-22 13:33] derpixeldan commented on #456
@krebbl thanks for reporting, can you please reach out to us via support additionally so we can better investigate the issue?

[2019-05-22 13:45] Watersdr opened #457 "Incorrect .apk path during Android build"
**What App Center service does this affect?**
AppCenter React Native Android Build

**Describe the bug**
Trying to build my RN android but I can see that it has an incorrect path to my .apk files and so the build fails. I can't tell if this is something wrong with my config or in my own files or if this is an issue in appcenter itself.

**Screenshots**
You can see in the screenshots below that it'

[2019-05-22 13:46] derpixeldan commented on #120
@mkm12789 yes, it has been implemented in the desktop UI only so far. We will be working on the mobile UI in a separate effort when we're integrating the install page with developer portal (FYI @botatoes)

[2019-05-22 13:46] #120 closed

[2019-05-22 14:25] DeweyReed opened #458 "AppCenter cannot deobfuscate Android R8 code"
**What App Center service does this affect?**
Crashes.

**Describe the bug**
With Android Studio 3.4, R8 becomes the default code shrinker. But AppCenter cannot deobfuscate R8 code with mappings.txt.

For example, the real stacktrace from logcat: `at d.a.a.a.onClick(Unknown Source:0)` which can be deobfuscated but the stacktrace that AppCenter captures is `at d.a.a.a.onClick`. Without the postfix,

[2019-05-22 15:58] lacostej opened #460 "AppCenter fails signing in with a blank page on Android if the user reached max api-token"
**What App Center service does this affect?**
appcenter.ms

**Describe the bug**
AppCenter appears to have a limit of max 200 devices per user (something we didn't have with HockeyApp). This is because every sign in from an (Android) new device creates a new api token in the backend.

If a user signs in with a new device and his api token max count is already reached, signing in fails miserably.

[2019-05-22 16:03] lacostej opened #461 "Ability to allow more than 200 devices per user"
**Describe the solution you'd like**

We are processing thousand of devices using custom scripts to pre-install them with HockeyApp. Those tablets are configured with the same AppCenter user. This means that this user will be assigned several thousand devices in AppCenter.

Unfortunately AppCenter has now set a max 200 devices per user and this breaks our use case. (See #460)

We are supposed to s

[2019-05-22 16:08] DennisPan commented on #457
@Watersdr Could you reach out to support (the blue bubble at bottom right of the portal) for this? We likely will need to collect information like your app etc. to dig deeper

[2019-05-22 16:10] patniko commented on #361
Excellent! Will close this for now, but please do let us know if you need anything else.

[2019-05-22 16:15] patniko commented on #456
Closing this one as it requires some 1:1 triaging through our in chat support option.

[2019-05-22 16:15] patniko commented on #457
Closing this for now as it requires 1:1 support through our in product help to diagnose.

[2019-05-22 16:15] #457 closed

[2019-05-22 17:32] harinikmsft opened #463 "Add support in Codepush for React Native for Windows vNext"
The Codepush service needs to be updated to support the [React Native for Windows - vNext](https://github.com/microsoft/react-native-windows/blob/master/vnext/README.md) effort. This is high priority ask from the React Native for Windows team in Microsoft to ensure our customers have access to service delivered experiences through Codepush and the E2E orchestration provided by App center.

[2019-05-22 17:48] hamswan commented on #455
Thanks @Sergio0694 for bringing this to our attention. Our team will take a look at this.

[2019-05-22 18:08] kevbry commented on #458
Dexguard is not supported either #220

[2019-05-22 19:14] rodineijf commented on #194
We are also looking to get AAB Support

[2019-05-22 19:31] Sergio0694 commented on #455
Hi @hamswan - thank you for the quick reply, glad I could help! 😊
Also, just to clarify, I can confirm that disabling the AdBlocker on the site completely solves the issue, everything works just fine now. Also, to be precise, I'm using uBlock origin (not AdBlock Plus).

[2019-05-22 20:08] lacostej commented on #461
@botatoes can the 200 devices limit be overriden per user?

Great if we can get an answer to this one within the next 12h. This regression compared to the HockeyApp service is seriously affecting us. See our mail to support. Thanks

[2019-05-22 20:10] sdermanffs opened #464 "Custom OS"
**Describe the solution you'd like**
The ability to support apps that don't fit into the supported OSes (iOS, Android, Windows, macOS).  Please add **Custom** similar to how HockeyApp supports Custom. For example, Hololens.

**Additional context**
We have a number of apps migrated from HockeyApp. Many of these are not one of iOS, Android, Windows, macOS apps and therefore we use the "Custom" OS se

[2019-05-22 20:15] romsrini commented on #194
We would also love to get AAB support

[2019-05-22 20:16] winnieli1208 commented on #348
Hi all! So our engineering team spent a few days looking at this. For context, our grouping logic takes into account many different factors including the stack trace, line numbers, exception message, method and class name.

It looks like some crashes are being grouped by the exception message because our backend is not correctly parsing the class and method names. At this time we are unsure what t

[2019-05-22 20:23] quinnbot2 commented on #194
There is only 2 months left till Google's deadline for 64-bit apps...  Can we get a progress update on this issue?

[2019-05-22 20:49] nschild opened #465 "cannot set node version in post-build script"
**What App Center service does this affect?**
Appcenter build

**Describe the bug**
Cannot install a different version of node from post-build script

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project with React Native
2. Create a file named appcenter-post-build.sh
3. add the lines:
`    brew install n;
    sudo n 11.11.0;
    node -v`
4. build your app
5. When it comes to run

[2019-05-22 21:18] hamswan commented on #455
Thanks for the details, we are looking into this

[2019-05-22 21:54] winnieli1208 commented on #458
Thanks for filing an issue. App Center only supports ProGuard at this time. I've changed this to a feature request type so our team can monitor community support and better prioritize this in the future. We don't have any immediate plans to address this but we'll post here if there are any updates. Thanks!

[2019-05-22 21:57] winnieli1208 commented on #454
@jaybaxter-ms thanks for the feedback! This is a great point and I've heard quite a few customers wanting to group their crash groups across versions to also help diagnose when a crash type first occurred and was fixed. At this time, we don't have any immediate plans to address this due to other priorities but I'll update here if I have any more details.

Thanks!

[2019-05-22 22:01] nrajpurkar commented on #465
@nschild thanks for opening an issue. Taking a look into this!

[2019-05-22 22:23] blparr opened #466 "Iteration Plan for June 2019"
# June 2019 Plan
May has been an exciting month!

We have shipped our first MBaaS services as early public previews for **Auth** [#388] and **Data**. Note that we are still planning to iterate on new features and improvements. Give it a try and let us know what you think!

We are continuously listening to your feedback, so have decided to invest in our **Build** service, shipping clone branch conf

[2019-05-22 22:31] blparr commented on #429
Thanks a lot for reporting this issue - we will take a look as soon as possible.

[2019-05-22 23:06] tsdmrfth commented on #215
Any progress? If your team have no time for this job i think i can do it with a pull request because we need this feature in an urgent @nrajpurkar

[2019-05-22 23:23] nrajpurkar commented on #215
@tsdmrfth taking a look into this and will update soon!

[2019-05-23 01:39] Zakeelm commented on #400
That makes sense. I can definitely see why this would be a useful scenario. Our team is definitely going to investigate this further.

But that's perfect! We can discuss those further in those issues. Luckily, we do have items in our roadmap that should assist with those blockers

I'll leave this thread open for a while for visibility in case other want to discuss this item

[2019-05-23 02:29] DeweyReed commented on #458
I don't think this is feature because AppCenter Crashes for Android won't work out of box.🤔
Something like "Use Proguard instead of R8 or the crash reports can't be deobfuscated" probably should be added to Android docs.

[2019-05-23 02:40] nrajpurkar commented on #465
Hi @nschild, take a look at this [article](https://intercom.help/appcenter/build/react-native/react-native-builds-fail-with-the-engine-node-is-incompatible-with-this-module-expected-version-xxx-error-found-incompatible-module) on how to set the node version using a post-build script. Reach out again if this doesn't solve your issue.

[2019-05-23 02:40] #465 closed

[2019-05-23 07:00] gautamkrisna opened #468 "support for UI Automator based test scripts written in Python"
Request support for UI Automator based test scripts written in Python. Is there a way we can run those tests on Appcenter ?

[2019-05-23 07:03] lacostej commented on #461
Another related issue is what happens to our existing users with more than 200 devices.

[2019-05-23 07:41] dhei commented on #459
The link is broken, now is https://github.com/microsoft/appcenter/blob/specs/specs/2019-04/Windows-Plan.md.

[2019-05-23 09:13] mylemans commented on #311
Same issue here with macOS. Support directed me to this issue. Events are logged properly, and on one occasion I kept an eye on the event log flow and I saw the events coming in, followed by the 'crash' report, but even for that one it cannot show the event log for that crash.

It said 'collecting' for a long time, and now is telling me I must not have had the analytics SDK enabled, while the proo

[2019-05-23 09:58] amonszpart opened #469 "Hide "Download" button, if latest version already installed"
**Describe the solution you'd like**
Hide "Download" button, if latest version already installed.

**Describe alternatives you've considered**
Add build number to app name.

**Additional context**
On Android, right now, there is no way to be sure, whether you have the latest build of an app, if the version numbers don't update between builds. This results in an app being downloaded and installed m

[2019-05-23 10:05] Reedyuk opened #470 "Updating HockeyApp releases has been temporarily disabled"
**What App Center service does this affect?**
fastlane-plugin-appcenter 0.1.7

**Describe the bug**
When uploading an iOS ipa file, we are getting the following:
Error adding to group 400: {"code"=>"bad_request", "message"=>"Error: Updating HockeyApp releases has been temporarily disabled. Please use HockeyApp for changes."}
And when i go to hockeyapp, the build is not present in hockeyapp.

**To

[2019-05-23 11:04] DarushDev commented on #32
I was so excited when I heard about App Center. Unfortunately our project uses multiple flavors. Sadly we aren't able to continue with App Center for now.

[2019-05-23 11:13] easterapps commented on #458
the same with us, that's very important to us @winnieli1208
and should be fixed as soon as possible.

[2019-05-23 11:28] fballan93 commented on #37
I was super frustrated looking for a way to get my app build automated but it was always a hassle to keep moving from gitlab to GitHub . THANKKKK YOUUU <3

[2019-05-23 12:08] wsadurski opened #471 "Add support for Android TV"
I think you should add support for Android TV. This is a platform which is getting traction nowadays, more and more apps are being developed and there is no good internal app distribution tool available yet. The only one I found is TestFairy but the UX of it on Android TV is not very well but due to lack of alternative we'll probably proceed with it. If you add support for Android TV you can easil

[2019-05-23 12:19] lumaxis commented on #456
@krebbl Do you know if the symbols you uploaded should include the symbols from the HockeySDK framework?

[2019-05-23 12:21] derpixeldan commented on #470
This is an unintended side effect. Please see our status page for updates https://status.appcenter.ms/

[2019-05-23 12:41] MichaelObi commented on #23
I really need this.

[2019-05-23 13:15] krebbl commented on #456
@lumaxis I think they are not included because also in HockeyApp the method calls for the SDK are not resolved in the logs.

[2019-05-23 13:42] shnaz commented on #396
This is also something we have issues with. Could be very useful.

[2019-05-23 13:42] nschild commented on #465
@nrajpurkar This is the exact code I posted in my second example under "I have also tried the commands". Although, in my example, I changed it to uninstall node v8 instead of v6 as the article is severely outdated.
Also, the last code sample from that article will not work as we do not have access to nvm. See examples 3-7 under my "I have also tried" section.

[2019-05-23 13:44] gmsantos opened #472 "GitHub commit link is broken"
**What App Center service does this affect?**
Build service

**Describe the bug**
In the build report, we have a link to the corresponding commit where the build is based in GitHub.

This link is missing one url part. The link has this pattern `https://github.com/<repo><commit> `but the corret to link back to github is `https://github.com/<repo>/commit/<commit>`

**To Reproduce**
Steps to reproduc

[2019-05-23 15:26] mdere-unbound opened #473 "Caching Vendors"
**Describe the solution you'd like**
From what I can tell there is no way a node_module can be cached. Would be awesome if we had that option so we can speed up our build.

**Describe alternatives you've considered**
Can commit my whole node_module to repo, but wont.

**Additional context**
Is it a huge LOE?

[2019-05-23 16:27] ttirrell commented on #361
I currently am using Auth through Azure, but would like to transition to App Center (which I know still uses Azure).  Are there plans to support UWP and MacOS?

What about Data for UWP and MacOS?

Thanks for the great work!!

[2019-05-23 16:27] ttirrell commented on #361
Also, Is there a place for current videos / training?

[2019-05-23 17:22] andyheninger commented on #23
We need this!

[2019-05-23 17:29] gdebbe commented on #23
This would be a nice addition

[2019-05-23 18:08] Bramzor commented on #89
This is the reason why we dropped App Center from our CI flow.

[2019-05-23 19:04] derpixeldan commented on #470
Releasing to apps originated on HockeyApp is working again.

[2019-05-23 19:04] #470 closed

[2019-05-23 19:38] DennisPan commented on #472
@gmsantos Thanks for reporting the bug! I wasn't able to reproduce the bug myself. We get the commit url from GitHub, which seems odd that this would happen. Let us investigate this a bit and I will get back to you.

[2019-05-23 19:52] amchew opened #474 "Address multiple user issues while configuring Auth"
We launched [Auth in early preview](https://github.com/microsoft/appcenter/issues/388) on May 7, and will spend the rest of the month working on issues and improvements based on customer feedback.

- [x] Give developers easier access to the Azure AD B2C resources from the Auth setup wizard when selecting tenant, app, scope and policy settings.
  - Ensure that developers can easily create Azure AD

[2019-05-23 20:13] #79 closed

[2019-05-23 20:15] gmsantos commented on #472
I have created this repo using the [App Center Demo Generator](https://appcenterdemogenerator.azurewebsites.net/). I hope that help with the bug reproduction or the investigation.

[2019-05-23 20:46] jaybaxter-ms commented on #454
@winnieli1208 are there any creative workarounds you could recommend to us in the meantime?  This has become a significant impact to measuring our product's health.  For example: are there APIs we could query to create our own dashboard?  Is there another way of reporting these crashes so that they would collate under the current system?  Can you help us think of a creative workaround to this chal

[2019-05-24 05:04] amchew commented on #361
Hi @ttirrell,

Thanks for the kind words and support! We have plans to support UWP in our roadmap but there’s no exact timeline yet; we currently support iOS, Android and Xamarin, and have a work item that will be worked on this summer to support React Native. MacOS is not on our roadmap yet but our work is also based on our developer community that we serve, so if we hear feedback, we will contin

[2019-05-24 11:02] kamstrup commented on #357
The envvars XAMARIN_TEST_CLOUD and APP_CENTER_TEST are set to 1 when running in App Center Test. **But only in the test code, not the app**. Some customers have used [backdoor methods](https://docs.microsoft.com/en-us/appcenter/test-cloud/uitest/working-with-backdoors) to ping the app and tell it it's in test mode.

[2019-05-24 11:47] Johan-dutoit commented on #194
Got this email today, would be great to get this in

[2019-05-24 14:56] nrajpurkar commented on #215
@tsdmrfth will keep this open as a feature request, but not something the team has the ability to pick up right now 😢 We'll reevaluate in the future!

[2019-05-24 15:29] jtn-d commented on #67
Scripts are moved to here: https://github.com/microsoft/appcenter/tree/master/sample-build-scripts/flutter.

[2019-05-24 15:33] dolafn commented on #357
We've tried that previously. For what we're trying to do, the application needs to know if it's running tests sooner than we can reliably get the first backdoor called from App Center.

[2019-05-24 15:46] owenniblock commented on #357
@dolafn - we're looking at (and discussing) a possibility with the App Center SDK at the moment but that's not ready yet. We have some Java code we use in the Test Cloud which does access the InstrumentationRegistry [which you can see here](https://github.com/microsoft/AppCenter-Test-Espresso-Extensions/blob/7610ea64ffd4709beeebe038fed4a2bdb84057ab/src/main/java/com/microsoft/appcenter/espresso/Fa

[2019-05-24 16:25] nrajpurkar commented on #473
Hi @mdere-unbound thanks for creating this feature request. In terms of your question, it is a non-trivial change and we are constantly evaluating what the next features we should work on are. We'll keep this open to track further interest in this!

[2019-05-24 17:38] FelipeGatti commented on #445
Sorry for the delayed response!

Via SDK @jwargo , when the user login into the app i retrieve an unique id and use the following:

`AppCenter.setUserId(UID);`

wich is loaded using `import AppCenter from 'appcenter';`.

[2019-05-24 19:32] Zakeelm opened #475 "Add Remote Operation Listener to Native iOS and Xamarin iOS Data SDKs"
Currently our Native Android and Xamarin Android SDKs have a remote operation listener, which gets called for each remote operation being executed when a device goes from offline to online. This enables you to know when a device goes from offline to online and even potentially define and customize behavior around scenarios when the client state goes from no connectivity to connectivity.

This func

[2019-05-24 21:09] fileman commented on #400
I've seen two items in the updated (1 day after my comment :-) ) [roadmap](https://github.com/Microsoft/appcenter/wiki/Roadmap) and these could be a great solutions:
- Collaborate on collection documents -> multiple user can edit documents in collection
- Real-time document storage updates -> can prevent concurrency problem with LWW specially when Cosmos DB [partial document update](https://feedba

[2019-05-24 21:14] Zakeelm opened #476 "Address multiple user issues while configuring Data"
We launched both the App Center Data and Auth services in early May, and will spend most of the month working on issues and making improvements based on user feedback. So far, we're looking to accomplish the following:

- [x] Add documentation links to Auth and Data UI page.
  - The goal is to make our documentation and getting started pages more discoverable to help users complete the setup.
- [x

[2019-05-24 21:28] fileman opened #477 "MBAAS Auth user custom role + permission"
**Describe the solution you'd like**
Something similar at asp.net policy /roles authorization with custom user's claims.

**Describe alternatives you've considered**
Currently I'm using a customized version of PolicyServer.Local.

[2019-05-24 21:32] dimitarcnbs commented on #339
Very important feature for mature products.
I'm currently trying to export errors into blob and query it with PoweBI, however errors do not seem to be exporting right now. I used to be able to do it in the past.
Providing an easier solution that resolves this issue is needed at this stage of this product.

[2019-05-24 21:54] winnieli1208 commented on #454
Hmm this isn't the exact scenario you're looking for but I would recommend trying our search feature in our [UI](https://docs.microsoft.com/en-us/appcenter/diagnostics/search) or via [API](https://openapi.appcenter.ms/#/errors/Errors_ErrorSearch) to query for crashes across different versions. For example, you can search by method, class, and reason to get a list of different crash groups across m

[2019-05-25 03:31] caseyjmorton commented on #37
+1 for git support

[2019-05-25 06:47] alexaconstantin commented on #339
Hi @winnieli1208. Are there any updates on this feature request? I would appreciate if you could increase the priority considering that other users consider this very useful and there is no convenient workaround. Thank you!

[2019-05-25 14:34] breyed commented on #41
Issue to stalebot: "I'm not dead! ... I think I'll go for a walk." Of course, we all know how that turned out. 😮

[2019-05-25 17:55] rayhan007 opened #478 "I am trying to Test Run but failed. Please see the error"
PS C:\Github\MowlaMobileApp> appcenter test run uitest --app "rayhan.cse.ewu-gmail.com/JMC-android-Test" --devices "rayhan.cse.ewu-gmail.com/samsungset" --app-path "C:\Github\MowlaMobileApp\MowlaMosqueRev\MowlaMosqueRev.Android\bin\Debug\com.mowla.myapp.apk"  --test-series "master" --locale "en_US" --build-dir C:\Github\MowlaMobileApp\MowlaMosqueRev.Test\bin\Debug
/ Preparing tests... Android SDK

[2019-05-25 20:53] DimaOrdenov opened #479 "Cannot take a screenshot using Xamarin.UITest 3.0"
**What App Center service does this affect?**
Xamarin.UITest 3.0

**Describe the bug**
I'm trying to call `app.Screenshot("name")` method in test, but gets an error during test run:
_Exception: System.Exception: Failed to create C:\Windows\system32\screenshot-1.png. You may need to set the working directory, which can be done using System.IO.Directory.SetCurrentDirectory()._

**To Reproduce**
Step

[2019-05-27 03:54] RobMeyer opened #480 "Add build support for UWP C++/winrt"
App Center supports building UWP C# codebases, but not UWP C++/winrt.

Additionally, the 'build app' page states, "We couldn’t find any UWP projects in your branch." -- It would be more helpful if it could detect that an unsupported codebase/configuration and display a more specific error message such as, "Sorry, automated builds for UWP C++/winrt apps aren't currently supported. You can manually

[2019-05-27 11:04] lacostej commented on #466
#461 is a blocker for us under *HockeyApp Migration Experience* and *Distribution*

[2019-05-27 14:19] achapin-paladin commented on #194
+1 for our team as well.

[2019-05-27 18:30] bezysoftware commented on #150
The link provided returns 404

[2019-05-28 02:17] mike14u commented on #458
Shouldn't really be a feature request btw, it is already a persisting issue, we should be able to read crash logs from diagnostics in AppCenter even if the output APK is obfuscated via proguard / r8 method. The reason behind this is, AppCenter is the one building the apps, so it should contain the necessary file to map the obfuscation... Really should be fixed otherwise will consider other alterna

[2019-05-28 07:40] mylemans commented on #311
The older ones do not, but one of my test crashed today does have the events attached to the crash. Was something fixed on the backend?

[2019-05-28 08:13] lassana commented on #30
For everyone who needs this feature: iOS extension signing is possible in Azure DevOps: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/install-apple-provisioning-profile?view=azure-devops

[2019-05-28 08:51] piterwilson commented on #22
Decoupling configurations from branches would be amazing. At the moment i am "cloning" (via `branchConfigurations_get` and `branchConfigurations_create` ) from my `develop` branch but it seems somehow less than ideal. Configurations could be their own thing, which can be applied to branches.

[2019-05-28 10:57] dman-github opened #481 "Display provisioning profile expiry date against App version"
In hockey against every ios app version there is a snippet of information displaying the provisioning profile expiry date.

This is quite useful and should be ported over to app center

[2019-05-28 12:26] danieljgmaclean commented on #99
Actually this is a much higher priority feature than is initially obvious. Google made it clear in [January](https://android-developers.googleblog.com/2019/01/get-your-apps-ready-for-64-bit.html) that all Apps submitted from August 1st 2019 must contain a 64bit ABI as well as the regular 32bit ABI. I expect that many Apps will be able to fit both ABI's under the 100 MB APK size limit Google impose

[2019-05-28 12:26] khoduley commented on #296
Have the same issue( for iOS and Android everything's all right.

[2019-05-28 12:29] danieljgmaclean commented on #361
Any chance you could support "APK per ABI through Release/Distribute" for Xamarin Android any time soon? #99

[2019-05-28 13:14] stschwar opened #482 ""New release" dialog should not close when clicking outside its frame"
**Describe the solution you'd like**
The dialog that slides in when a new release is to be submitted should not close when clicking outside the frame of said dialog.

**Describe alternatives you've considered**
Alternatively, it should keep a draft of what has been edited so far, so it can be recovered when it the dialog was closed by accident.

**Additional context**
It is irritating that all pro

[2019-05-28 14:32] mdere-unbound commented on #473
@nrajpurkar - I appreciate that! Thanks!

[2019-05-28 16:45] danilopantani-mb commented on #194
+1

[2019-05-28 17:40] gwootton opened #483 "Ability to create custom groups in the OS popup for filtering"
**Describe the solution you'd like**
Ability to create groups for sorting in App page.  Currently there is only 3 platforms and custom.  Within Android there are alot of platforms that are really separate.  Also support for PS4 and Roku is key

**Describe alternatives you've considered**
Another popup called tags, which we could then tag our apps and have the filter work there.
Similar to HA.

**A

[2019-05-28 18:21] amarcuse opened #484 "add a Distribution Groups to another Distribution Group"
**Describe the solution you'd like**
When added testers to a distribution group, the prompt is "Add testers or groups", yet only emails work.  I want to add another distribution group.

**Describe alternatives you've considered**
Manually added each tester, but this is a pain since we have multiple apps
Using teams, which would be fine, but also doesn't work

**Additional context**
![image](https:

[2019-05-28 18:27] nrajpurkar commented on #296
Thanks for filing this feature request! We'll keep this open to track as we continue to prioritize what we work on next

[2019-05-28 20:36] Zakeelm commented on #270
Interesting, can you confirm you have admin access to that app and the subscription used to provision the database?

[2019-05-28 20:37] Zakeelm commented on #273
Apologies for that, we moved these onto another branch. Technical specs are available on the specs branch.

[2019-05-28 20:37] #273 closed

[2019-05-28 20:39] Zakeelm commented on #271
Hey there! Can you confirm that the Cosmos DB instance uses the SQL API when created? Only those are visible in this list.

[2019-05-28 21:21] tauntz opened #485 "Allow searching of crash reports by exception type"
**Describe the solution you'd like**
We'd like to be able to search for crash reports based on the exception type.

**Describe alternatives you've considered**
Tried to search for crashes based on other parameters but for some types of crashes the only unique and common thing between them is the thrown exception itself.

**Additional context**
The best example of a crash type that's impossible to

[2019-05-28 21:28] chris-cubhub commented on #194
+1 and some for us. We lose a decent amount of the value of AppCenter if we can't distribute droid thru here.

[2019-05-28 21:36] chris-cubhub commented on #361
We're loving AppCenter so far and we are fully on board with it for all features. However, the upcoming restrictions for distribution will drastically reduce it's value for us since we'll have to go back to manually building and deploying droid. Are there plans in the next month or two to get support for .aab support so we can keep our automated distribution pipelines in place?

I've already voted

[2019-05-28 22:45] blparr commented on #460
Hi @lacostej, thanks for bringing this up. We are looking into this and I will update this thread once we have a clear path going forward.

Thanks for your understanding,
Blanca

[2019-05-28 23:06] #429 closed

[2019-05-28 23:06] #424 closed

[2019-05-28 23:07] amchew commented on #477
Hi @fileman! Could you elaborate more on what you'd like to see on policy/roles authorization with custom user's claims. For example, you can share on your use case and how user roles are authorized in your app and how that controls access to data.

Thanks!

[2019-05-28 23:07] blparr commented on #461
Hi @lacostej , I addressed your question via other channels. Thanks!

[2019-05-29 00:14] #88 closed

[2019-05-29 03:22] winnieli1208 commented on #111
Thanks for the feature request. This isn't on our immediate roadmap but I can definitely see the value in this. For now, you can use our [crash free device API](https://openapi.appcenter.ms/#/errors/Errors_ErrorFreeDevicePercentages) and [crashes per day API ](https://openapi.appcenter.ms/#/errors/Errors_CountsPerDay)to get the granular data that's not show in the graphs. I know this isn't exactly

[2019-05-29 11:03] alex-benoit commented on #392
@patniko @nrajpurkar any updates on running unit tests with apple watch target? Thanks!

[2019-05-29 13:15] moon1978 opened #486 "Can't delete crashes"
Can't see a feature which is already in HA, delete crashes

[2019-05-29 13:15] moon1978 opened #487 "Can't delete crashes"
Can't see a feature which is already in HA, delete crashes

[2019-05-29 13:42] #486 closed

[2019-05-29 13:43] moon1978 commented on #486
Duplicate

[2019-05-29 13:53] moon1978 opened #488 "Missing feature under versions "Ignore Crashes" operation"
On HA we have a feature to ignore specific version from collecting crashes. "Ignore Crashes". this feature is missing on App Center

[2019-05-29 14:37] #439 closed

[2019-05-29 14:47] Juansero29 commented on #329
Is there any date for when this will be available for Xamarin developers?

[2019-05-29 15:38] winnieli1208 commented on #64
Reopening so we can keep track of this feature request.

[2019-05-29 16:13] bobber205 opened #489 "[Feature] The Ability to Send Images in Push Notifications"
**Describe the solution you'd like**
When I get a push notification from Instagram and Youtube (for instance) there is sometimes an image attached. I'd love the ability to do this in a push notification sent via the App Center SDK.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2019-05-29 16:24] mpghelli opened #490 "Build is experiencing problems because of a backend issue that may lead to longer than expected queue times - please try again later"
Build is experiencing problems because of a backend issue that may lead to longer than expected queue times - please try again later

[2019-05-29 16:49] youngbupark commented on #350
@curtisconner - We have fixed this bug now. Please try to build and distribute your app. Please let us know if you have any problem. Thanks for your patience.

[2019-05-29 16:49] DennisPan commented on #490
@mpghelli could you clarify a bit more what are you looking for? This message is currently shown in Build service, because there is an ongoing incident.

[2019-05-29 18:46] jwargo opened #491 "Short Push Survey"
Ensuring we're offering the right capabilities to our Push customers, this issue is basically a research project - we're asking your help to better understand how you use App Center Push in your applications.  In the comments, please answer the following questions:

How does your app use notifications?

- Alert the app to take an action (notification triggers new data pull from server)
- Alert the

[2019-05-29 18:49] jwargo commented on #445
@FelipeGatti OK, thanks for that clarification. As I understand it, that capability is not on our roadmap due to some technical limitations. Our recommendation is for you to send the User ID to your app backend at the same time you set it through the SDK, then you'll have a repository with all the User IDs associated with your app.

[2019-05-29 18:50] nrajpurkar commented on #37
We mentioned in our May iteration plan (#361) that we'd be investigating what support for GitLab.com would look like. After taking a further look into this, we will be beginning work on implementing general GitLab.com support as a part of our June iteration plan (#466). This may not be completed in June as this isn't a small change on our end, and we'll be working on this in parallel with other Ap

[2019-05-29 19:08] mpghelli commented on #490
I can't generate builds anymore

[2019-05-29 19:18] DennisPan commented on #490
The incident should be mitigated now. Could you give this another try?

If you need additional assistance, please feel free to reach out to support (via the chat bubble at bottom right of the portal).

I removed the "bug" label from the Issue because this is not exactly a "bug". I'm also going to close this as we have an active incident tracking this.

[2019-05-29 19:18] #490 closed

[2019-05-29 20:11] berhir commented on #182
We are also facing this issue as we try to migrate from HockeyApp to App Center Distribute.
The idea is that we ship a new version of the app that uses the App Center Distribute SDK via HockeyApp. But as soon as the users open the new version they are redirected to the App Center login page. So they will not be able to get any new versions via App Center.

This is blocking us from migrating to App

[2019-05-29 20:20] FelipeGatti commented on #445
Ok, thanks for the response !

Thats what i'm currently doing but when de app gets uninstalled or the user clears the cache before logging out the logout path is not followed so i cant clear that id in my database.

It's not a big deal but when i'm in another backend application that will fire those push notifications it checks in this same database, so there will be an lost call to the api with a

[2019-05-29 21:31] swathisuvarna1 commented on #310
I was requested to add all the analytics logs to Azure Eventhubs or Azure ELK. Is this possible?

[2019-05-29 21:45] abrunner73 commented on #237
We would like to access private submodules using SSH with Azure DevOps as well.

[2019-05-29 23:05] DrBeak1 commented on #65
+1

[2019-05-30 00:44] nrajpurkar commented on #22
We have shipped the ability to clone existing branch configurations today! Take a look at our [documentation](https://docs.microsoft.com/en-us/appcenter/build/branches) for more info. Happy building! ![bitmoji](https://render.bitstrips.com/v2/cpanel/6ed0a0da-32f3-4473-859a-27dc19fc58eb-1af191b7-95d8-4aed-b96c-2c83e1cb796b-v1.png?transparent=1&palette=1&width=246)

[2019-05-30 00:44] #22 closed

[2019-05-30 00:56] dimazaid commented on #194
Hello everyone,  

Thanks for sharing the feedback regarding the support for Android App bundles (.aab), and apologies for the delay in responding.

Looking at the feedback, the highest priority is to support .aab in the Publish to the Play store scenario.
 I’ll take this feedback to the team and rank it against current priorities, so can't commit on the timeline at the moment.  The plan is to del

[2019-05-30 01:28] yuewah commented on #194
Distribute .aab +1

[2019-05-30 02:48] curtisconner commented on #350
So I just tried it and I still can't get the build to deploy to the msappcenter

here is the error I get still

==============================================================================
Task         : App Center Distribute
Description  : Distribute app builds to testers and users via App Center
Version      : 3.150.1
Author       : Microsoft Corporation
Help         : For help with this task,

[2019-05-30 02:57] DennisPan commented on #350
@curtisconner We only addressed the case of manual distribution (from App Center portal, distribute from a build). Will take a look at the automatic distribute scenario (using Azure DevOps task)

[2019-05-30 04:50] l3ender commented on #304
Starting with just the user details (name/email) would be a great start. This is comparable to Test Flight which shows users and which build they have most recently downloaded (and when).

[2019-05-30 05:11] mike14u commented on #466
#65 will help us greatly improve our pipelines, hopefully we can have it as well.

[2019-05-30 08:34] scriptam opened #492 "Allow deletion of builds"
Allow deletion of cancelled / failed builds.

Currently builds can be started and cancelled, however they cannot be removed via the portal or via the API.

[2019-05-30 09:01] sagostini commented on #270
Hello, it looks like it depends on the fact that the AppCenter user is not able to see the CosmosDB. When I used the same user on both AppCenter and Azure, it worked fine

[2019-05-30 09:02] sagostini commented on #271
Hello, it looks like it depends on the fact that the AppCenter user is not able to see the CosmosDB. When I used the same user on both AppCenter and Azure, it worked fine

[2019-05-30 09:06] frags51 opened #493 "Analytics -> Events not loading."
**What App Center service does this affect?**
Analytics ( Events web page)

**Describe the bug**
Using Analytics.trackEvent() to track button clicks. The registered events show up fine in the Log Flow tab on the website.
(https://appcenter.ms/users/t-susin-microsoft.com/apps/RNTest/analytics/events)
However, the Events Tab keeps loading indefinitely. Seems to be stuck and not making any progress (

[2019-05-30 09:27] frags51 opened #494 "Crash reports are very delayed."
**What App Center service does this affect?**
Website -> Diagnostics -> Issue
appcenter-crashes.Crashes

**Describe the bug**
Crashes in react-native apps take a long time (**10 minutes**) to show up on the  Diagnostics -> Issue tab on the website.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a test crash using Crashes.generateTestCrash()
2. Visit  Diagnostics -> Issue tab on the

[2019-05-30 09:50] dmishra2019 opened #495 "My apps configs suddenly got reverted"
**What App Center service does this affect?**
android-prod

**Describe the bug**
I have configured my bitbucket branch in my android-prod app but now its all configurations gone.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to android-prod
2. choose 'production'
3. See there is no configs

**Expected behavior**
My config changes should retain.

[2019-05-30 10:12] Laparo opened #496 "Jira ticket status change after successful build"
A Jira ticket should move automatically to a new status when a commit was successfully built. Bitrise recently introduced this integration.

[2019-05-30 10:42] sathukorale commented on #412
Would love to have this as well (was somewhat worried to discover that it is not), because this was the biggest selling point of HockeyApp for me.

Even though auto-generated/collected bug reports are usefull (Fabric has the same feature doesn't it), I have faced many issues that I wouldn't have been able to fix, yet alone recreate without the help of users. And aside from simple bug fixing, this

[2019-05-30 11:58] clivejefferies opened #497 "Show release number"
Currently the release number given in App Centre is not shown in Hockey App. That means in Android we have to put the release number in the release notes as the build number coming from Android does not change with each test build.

[2019-05-30 12:11] toomasz commented on #99
This feature is necessary for deploying any professional android app.

[2019-05-30 12:14] toomasz commented on #361
@patniko Could you also add support for building with xamarin android 9.3?

[2019-05-30 12:56] DeweyReed commented on #458
It seems postfixing the stacktrace with a `()` can fix the problem for now.

1. Get stacktrace from AppCenter: `at p.a.e.a.f.b.l.k`
1. Add a `()` => `at p.a.e.a.f.b.l.k()`
1. Deobfuscate manually. Ta-da!

[2019-05-30 14:39] derpixeldan commented on #497
@clivejefferies please help me understand why you’re still using HockeyApp when it works for you in App Center? We won’t add the release ID to HockeyApp, however, I believe the intention of the version code is to change whenever the code changes.

[2019-05-30 15:30] hamswan commented on #493
@frags51 We will take a look at this issue.

[2019-05-30 16:37] DennisPan commented on #495
@dmishra2019 Could you reach out to support via the chat bubble at bottom right of the portal? Given I haven't heard similar reports from other customers, we will need more information to look into what happened.

[2019-05-30 16:38] DennisPan commented on #495
Closing this as this would require support.

[2019-05-30 16:38] #495 closed

[2019-05-30 17:18] Sebastian1989101 opened #498 "Push notifications requires new setup on all iOS apps and fails"
All of my iOS app require a new setup for the push notifications for some reason within AppCenter. But even if I fill the required data it always reports an error and I'm no longer able to use the push service (even on apps where it was working before).

[2019-05-30 17:30] KRA2008 commented on #304
HockeyApp also did this.

[2019-05-30 18:23] YiMysty commented on #493
Hi there, have you installed anything like adblocker? since our api contains `events` or `event_logs` as part of route, it is in a blacked list of these extensions. :(

We are going to work for a fix for that, but in the meantime, try to disable such extensions and give a try thanks!

[2019-05-30 18:50] devedse opened #499 "Releasing directly to Android store Production suddenly doesn't work anymore using AppCenter CLI"
Hi all,

In december last year I fully automated the release of my Android application to the App Store using AppCenter. See for example this build:
https://ci.appveyor.com/project/devedse/deveblockstacker/builds/21288368

However when I just triggered a new build it failed with the error:
`Error: Could not find group Production`

I'm now trying to investigate what is going on, I tried executing t

[2019-05-30 21:15] doodlemania2 opened #500 "Unable to see new Features"
**What App Center service does this affect?**
Auth

**Describe the bug**
I am not able to perform these steps: https://docs.microsoft.com/en-us/appcenter/auth/getting-started#configure-the-app-center-auth-service because step 3 says to select "Auth" but auth is not an option:
![image](https://user-images.githubusercontent.com/5252217/58665291-2670c080-82f6-11e9-8d69-30ac84dca9bb.png)

[2019-05-30 21:20] DennisPan commented on #379
Close this as this requires support to be involved for the specific case.

[2019-05-30 21:20] #379 closed

[2019-05-30 21:24] youngbupark commented on #350
@curtisconner - We fixed automatic distribution scenario issue for .msixbundle and validated not only automatic but also manual distribution scenarios. In order to apply the fix, please **save build configuration again** on the branch before queuing the build. Please let us know if you have a problem again.

[2019-05-30 21:34] WCByrne commented on #133
Would love to see this for analytics as well. Should I create a separate issue?

[2019-05-30 21:58] botatoes commented on #484
Hi,

This is a bug, I will file it and get it fixed. As for the tediousness of adding emails to multiple apps, you can create a shared distribution group for that.

Go to Org -> Manage -> People -> Shared distribution groups

There you can create a distribution group and add multiple apps to it.

--Bo

[2019-05-30 22:08] winnieli1208 commented on #133
@WCByrne we're actually building this for analytics too! I'll update the issue to reflect that. Should be enabled today or tomorrow so keep an eye out :)

[2019-05-30 22:09] botatoes commented on #482
This is a design pattern across all App Center. Will discuss with our design team to improve the user experience around this.

[2019-05-30 22:35] amchew commented on #500
Hi @doodlemania2! Auth is supported on native Android, iOS and Xamarin platforms. May I check what platform is your app?

[2019-05-30 22:39] M1K3Yio opened #501 "Upgraded to RN 59 now failing to find APKs"
Some how it's adding an additional /app/app, any ideas how to find where/why this occurring?

You can see here at the start there's no additional /app/app

[code]

Additional /app/app

[code]

[2019-05-30 23:28] tonyxiao opened #502 "Support Update Prompt in App Store / TestFlight builds"
**Describe the solution you'd like**

App Center's in-app update feature is incredible for keeping testers always using the latest version of the app. We'd love to be able to have a similar mechanism to force update actual customers in either TestFlight or App Store. I understand that in-app update won't work because install has to be through the app store, but it would be super handy to pop up an

[2019-05-31 00:13] bramski commented on #237
This is blocking me. I will have to move away from appcenter as our app is well down this road already.  Very annoying.

[2019-05-31 00:38] nrajpurkar commented on #466
@mike14u definitely something we will continue to look into for future work

[2019-05-31 05:07] frags51 commented on #493
@YiMysty Yes, that was the issue. Thanks! Hopefully this can be fixed, since these days many end-users do have adblockckers installed.

[2019-05-31 05:10] frags51 commented on #494
Also, errors generated by `throw new Error('blah')` do not appear at all (even after a day). Is there something that I am missing?

[2019-05-31 05:22] #350 closed

[2019-05-31 05:26] DennisPan commented on #501
Thanks for reporting this @M1K3Yio . Running some initial investigation. Might be easier to conduct deeper investigation if you reach out to support (chat bubble at bottom right of App Center portal)

We can leave this open as this could something common.

[2019-05-31 07:39] clivejefferies commented on #497
I am talking about the Hockey app app on the device. It does not show the release number that you see in the App Center listing e.g release 1, release 2 etc. With Android we are not able to change the version code easily on the our CI server and this is only really used for Google Play. It does not make sense to update it just for test builds.

On 30 May 2019 15:42, Daniel Adams <notifications@git

[2019-05-31 07:42] Zakeelm commented on #271
Ah, yes. In order to view instances, the current logged in user must have access to that azure subscription

[2019-05-31 07:44] #271 closed

[2019-05-31 07:45] Zakeelm commented on #270
Awesome, glad this issue was resolved. Seems to be the same issue in our other [thread](https://github.com/microsoft/appcenter/issues/271#issuecomment-497610473). Going to close this! Feel free to open a new issue if you have feature requests, bugs, or general feedback!

[2019-05-31 07:45] #270 closed

[2019-05-31 07:50] sagostini commented on #271
The strange thing is that actually a different login user can be used to access Azure, but then nothing is visible on AppCenter. If the only access with the same user is allowed, don't let people login with another user to Azure...

[2019-05-31 07:55] miktap opened #503 "Visual Studio 2019 support"
**Describe the solution you'd like**
I would like to build my UWP application on a Visual Studio 2019 agent. Configuring the build so that the agent could be selected based on the Visual Studio version would be the ultimate goal as most likely upgrading all agents to Visual Studio 2019 would brake some other user builds.

**Describe alternatives you've considered**
I could try Azure Pipelines as V

[2019-05-31 08:13] derpixeldan commented on #497
@clivejefferies ok, thanks for explaining. I'd recommend to run a beta app with its own versioning.

[2019-05-31 08:51] curtisconner commented on #350
Wow works great thanks

[2019-05-31 09:42] lacostej commented on #461
Buenos dias @blparr

I didn't get an answer that I can use today to solve our problems. The issue is marked as feature request but it is a regression from the previous set of features of HockeyApp which we have used for over 5 years now.

Our customers were told long ago that **tomorrow** (June 1st) they would be able to update apps using HockeyApp. For one group of users, we have 1600 tablets con

[2019-05-31 10:29] clivejefferies commented on #497
Hi,
     Is that really a good solution when all you need to do as add one number to the Hockey app apps, which would make it easier for people to use? I have attached screenshots to show what I mean. In app centre you can see the release history number, yet it is not visible the app.

Clive
________________________________
From: Daniel Adams <notifications@github.com>
Sent: 31 May 2019 08:16
To:

[2019-05-31 11:53] lacostej commented on #464
We will need this as well.

[2019-05-31 12:00] derpixeldan commented on #464
Thanks for bringing it up, we have it tracked on our [roadmap](https://github.com/Microsoft/appcenter/wiki/Roadmap#distribution)

[2019-05-31 12:13] derpixeldan commented on #497
@clivejefferies it's a valid feature request. However, I just mentioned that the version code is supposed to be a distinct number indicating any code changes. Otherwise it'll be hard to identify crashes or get build specific analytics data.

[2019-05-31 12:57] putuyoga commented on #398
This should be a basic feature, to be honest.

[2019-05-31 13:27] clivejefferies commented on #497
I see, the problem with that is that we would have to commit that single change every time we wanted a new build which seems counter intuitive. It's purpose is the increment on Google Play, which means you wouldn't necessarily change it on every test build. It would also be problematic if we had different people working on different branches as the last known value may change without the developer

[2019-05-31 14:11] M1K3Yio commented on #501
Thanks, I reached out to support via chat bubble.  I was on the right track for the issue, where I believe Android Studio assisted that it needed to add /gradle/wrapper, gradlew, and gradlew.bat under the app folder, which already existed in /android folder.  Also, I had to force indexing on the build which was a suggestion by them as I tried many different combinations.

In the end removing those

[2019-05-31 14:11] #501 closed

[2019-05-31 14:35] almirvuk opened #504 "Exports information for all devices using Push to Azure Blob Storage - It seems to not be working"
**What App Center service does this affect?**
_Push_

**Describe the bug**
Can not export devices to Azure Blob Storage

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://openapi.appcenter.ms/
2. Click on **Authorize** and insert **APIToken (apiKey)**
3. Scroll down to **push** section
4. Test **Post /push/device_exports** endpoint with valid parameters for:

    - blob container

[2019-05-31 14:37] jwargo commented on #504
@almirvuk have you opened a support ticket for this?  If not, please work with support to resolve you issue before submitting a bug. I am not aware of any issues with the export API, so I'd rather support triage this and hopefully get you up and running before we treat this like a bug.

[2019-05-31 14:42] almirvuk commented on #504
Ok, thank you for the response. I will open support ticket for this also :)

[2019-05-31 15:41] winnieli1208 commented on #494
@frags51 thanks for reporting this. Are you still experiencing these delays? Can you start a conversation in the blue chat bubble on the bottom right? This will put you in touch with our support and engineering teams so they can investigate for you.

Thanks!

[2019-05-31 16:10] amchew commented on #500
No worries! We do have support for UWP on our roadmap but there’s no slated timeline yet. Continue watching this repo as we’ll update our plans here.

[2019-05-31 16:40] almirvuk commented on #504
The validation was failing in permissions check. SAS URI needs to have following permissions: Read, Write and **Delete**. In my previous attempts **Delete** was missing.

[2019-05-31 16:40] #504 closed

[2019-05-31 18:14] blparr commented on #461
Hi @lacostej , I understand your frustration.

As I mentioned before, our team is looking into this. We will be doing a spike to understand the effect of this limit increase. Once we have the outcome, I'll communicate with you the decision.

While we advise our customers to start migrating from HockeyApp to App Center, we know there are still some gaps between the products, and we are actively wor

[2019-05-31 22:06] lacostej commented on #461
Hence the reason we **haven't migrated yet** !!! All our apps are still managed by HockeyApp.

As far as I know we are still using it. The login process uses appcenter but this doesn't seem to be something I can control.

[2019-05-31 23:54] skabber opened #505 "setUserId not always sent to AppCenter servers."
**What App Center service does this affect?**
Push with setUserId

**Describe the bug**
I am calling setUserId but it is not always sent to AppCenter servers.
```[MSAppCenter setUserId:userId];```

**To Reproduce**
Steps to reproduce the behavior:
1. Call setUserId after calling start.
2. Watch network traffic from the app.
3. Notice userId is not in the JSON payload sent to AppCenter
4. Hard rest

[2019-06-01 00:18] #493 closed

[2019-06-01 07:57] adrianknight89 opened #506 "Make push results easier to understand"
**Describe the solution you'd like**
When I see the list of push notifications on the portal, I get confused by "0/0" below the Results column. What is the meaning of this? Does it mean the push failed to send? What about "0/1"?

![Capture](https://user-images.githubusercontent.com/16855542/58745724-31bd0c80-841a-11e9-86cd-b7891b95f58c.PNG)

[2019-06-01 08:04] adrianknight89 commented on #505
I see this issue on Android (using Xamarin Forms). Setting the user id worked maybe 2 out of 10 cases for me. If I send a push to all registered devices on the portal, I successfully receive it on the client device, but push by user does not work because the id has not been registered.

[2019-06-01 10:25] vonovak commented on #427
same as https://github.com/microsoft/appcenter/issues/279

[2019-06-02 20:06] yamov commented on #161
Any news here?

[2019-06-02 20:10] mdere-unbound opened #507 "NodeJS selection for JS applications"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I would find it actually really convenient if we can select the Node versions for our builds. Is it possible to get some sort of node version selection in the build settings?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've co

[2019-06-02 22:00] nrajpurkar commented on #507
@mdere-unbound thanks for opening this request! This isn't available today, but it is something we're actively working on. I'll update here when we release this soon!

[2019-06-02 22:01] nrajpurkar commented on #319
@shivrajkumar sorry for the late response here. Are you still experiencing this issue?

[2019-06-02 22:59] philihp commented on #466
any chance we could fit #161 in before Q3?

[2019-06-03 02:15] nrajpurkar commented on #466
@philihp not in the plans for June unfortunately. We'll keep looking into that work for later iteration plans.

[2019-06-03 03:51] nrajpurkar commented on #503
Thanks for this feature request @miktap! We've been starting to look into this. Out of curiosity, is it important for you to be able to select between VS 2019 and VS 2017 for builds or would just having support for VS 2019 be enough?

[2019-06-03 05:22] miktap commented on #503
Support for VS 2019 is enough for me. Thanks!

[2019-06-03 09:03] KovalM opened #508 "Unable to build iOS with Cocoapod 1.7.0"
**What App Center service does this affect?**
AppCenter - BUILD/Branches

**Describe the bug**
It doesn't build react-native-maps pod for iOS. There is next error:
'Google-Maps-iOS-Utils/GMUKMLParser.h' file not found.
![image](https://user-images.githubusercontent.com/8680298/58789504-f88dc380-85f6-11e9-9f36-8ec54574621e.png)
I already found the solution of this issue here: https://github.com/rea

[2019-06-03 09:44] gunnartorfis opened #509 "Analytics Funneling"
**Describe the solution you'd like**
I would like to be able to funnel the custom analytics events.

**Describe alternatives you've considered**
Firebase Analytics supports this.

**Additional context**
Here's more to read about it: https://en.wikipedia.org/wiki/Funnel_analysis

[2019-06-03 13:03] jwargo commented on #506
@adrianknight89 what this is indicating is a ratio of the number of messages sent against the number of devices in the target audience.

Assuming your target audience had 100 devices in it, 37/100 means the message was sent to 37 out of the total audience of 100 target devices.   it's showing what would be the percentage calculation if you were to do it (37% sent).  0/0 means no messages were sent

[2019-06-03 13:06] jwargo commented on #505
@skabber even though this relates to push, it's likely an issue with the SDK, so I've assigned this to the SDK team to take a look. If it turns out this is Push related, I'll look deeper into it after the SDK team has had its say.

[2019-06-03 13:11] jwargo commented on #498
@Sebastian1989101 can you please provide more information? You're telling us you receive an error, but have not provided the error message.

Have you open an issue with our support team? I'd like to ensure you've worked through the issue with the support team before we look at this as a bug. App Center support is provided directly from within the App Center portal. Any time you need help, just cli

[2019-06-03 13:16] jwargo commented on #489
@bobber205 thank you for this suggestion.  It's not something you can do today, but I'll add it to our wish list. I'm checking to see if you can set an image URL as a custom property and have it displayed.

[2019-06-03 13:29] freddyhm opened #510 "Include Crash Free Sessions % Metric"
Our team finds examining sessions much more useful than simply looking at how many users have experienced x amount of crashes. Knowing that a user has experienced 100 sessions with 1 session crashed is more useful than simply knowing they experienced 1 crash.

We've looked at the API but Microsoft Support says crash free session information has been deprecated.

[2019-06-03 13:35] mhalt commented on #316
That would be nice.

[2019-06-03 13:47] RyanBuzzInteractive commented on #40
I almost forgot that App Center isn't dark, as I have the DarkReader plugin for Chrome which does a great job at intelligently auto theming pages. Obviously better if the site has a native mode though. This is how I see it
![image](https://user-images.githubusercontent.com/10651463/58806581-6691b500-860e-11e9-85e1-940ee89f4e7d.png)

[2019-06-03 13:51] mhalt opened #511 "Crash: Authentication failed because the remote party has closed the transport stream."
**What App Center service does this affect?**
appcenter.xamarin

**Describe the bug**
Our mobile application is crashing on startup. There is no error message but app center shows the following error message:

**MobileAuthenticatedStream.ProcessHandshake (Mono.Net.Security.AsyncOperationStatus status)
SIGABRT: Authentication failed because the remote party has closed the transport stream.**

**To

[2019-06-03 15:13] ZenModeRy commented on #174
Question: Did you update cocoapods locally, or with a custom build script?

[2019-06-03 15:27] lacostej opened #512 "Splitting quick sign-in from login with email broke android app broke signing in..."
**What App Center service does this affect?**
Distribution

**Describe the bug**
The sign-in process from the Android app uses a callback mechanism to return to the app and complete the sign in. This allows the HockeyApp app to refresh itself, remove the sign-in page and display the available applications.

There was a change in the past few days on appcenter.ms that broke this.

The change was to

[2019-06-03 15:42] nrajpurkar commented on #508
@KovalM Thanks for reporting this. We'll be updating to Cocoapods 1.7.1 soon on the hosted machines so this shouldn't be an issue. You can also add in [this script](https://github.com/microsoft/appcenter/blob/master/sample-build-scripts/general/cocoapods-rollback/appcenter-post-clone.sh) to use 1.7.1 until that rolls out to the machines.

[2019-06-03 15:42] #508 closed

[2019-06-03 15:46] jwargo commented on #506
@adrianknight89 looking at this again, there's clearly disparity between target and results. I'll have the designer take a look and do what I can to clean this up.

[2019-06-03 15:50] nrajpurkar commented on #492
Thanks for this request @scriptam. Is your use case here to clear up clutter from the list of builds?

[2019-06-03 15:55] hamswan commented on #509
Hi @gunnartorfis ,
Thanks for reaching out to us. Have you tried exporting the App center Analytics data to Azure Application Insights?  You can set up continuous export and leverage some of the features in Azure Application insights and you can create funnels and do detailed analysis.
https://docs.microsoft.com/en-us/azure/azure-monitor/learn/mobile-center-quickstart

[2019-06-03 16:22] blparr commented on #430
Hello, I'm not able to reproduce your bug. Do you mind reaching out via customer support (blue chat button in the portal), so we can ask for more details and try to get this figured out?

Thanks a lot!

[2019-06-03 16:24] DJLennon commented on #294
Definitely interested in Unreal Engine 4 support. We currently use HockeyApp to capture crashes on Windows game clients and even our Linux game servers, both using Unreal Engine 4. We will unfortunately not be able to stay with App Center without this support.

[2019-06-03 17:16] #361 closed

[2019-06-03 17:21] JohnLivermore opened #513 "Sorting of Log Flow"
Currently the log flow sorts the newest events towards the bottom of the feed.  Most logging systems will put the latest events to the top.  I would like to see an option where the newest events can appear at the top vs. the bottom.

[2019-06-03 17:29] winnieli1208 commented on #487
@moon1978 you can't delete a crash in the App Center UI but you can use [this API](https://openapi.appcenter.ms/#/errors/Errors_DeleteError) to delete specific crashes/errors. The group ID and the crash/error ID can be found in the URL. Hope that works!

[2019-06-03 17:30] #487 closed

[2019-06-03 17:34] winnieli1208 commented on #483
@gwootton thanks for the feature request! We don't have any immediate plans to support this but we'll monitor this feature request to help our team prioritize in the future.

[2019-06-03 17:41] winnieli1208 commented on #488
@moon1978 thanks for the feature request. We don't have any short term plans to build this feature but you can ignore specific crash groups from a version in App Center by selecting the crash group and marking the status as ignored:

![image](https://user-images.githubusercontent.com/8868628/58822118-9380a080-85eb-11e9-8b77-5d0641f6183b.png)

I know that requires a bit more work than just ignoring

[2019-06-03 17:44] winnieli1208 commented on #511
@mhalt thanks for reporting this. Can you start a thread in the blue chat bubble on the bottom right corner in App Center? This will put you in touch with our support and engineering team so they can take a closer look for you. Thanks!

[2019-06-03 17:53] fred-king commented on #294
This worked ( once I figured it out a bit )

https://github.com/PushkinStudio/AppCenter-SDK-UE4

[2019-06-03 17:57] winnieli1208 commented on #510
@freddyhm thanks for the request! We don't have an API that returns this information directly but as a workaround you can use [this API](https://openapi.appcenter.ms/#/analytics/Analytics_SessionCounts) to get the total number of sessions in a given time range and then use the [crashes API](https://openapi.appcenter.ms/#/errors/Errors_CountsPerDay) call to get the number of crashes in that same ti

[2019-06-03 18:05] guperrot commented on #505
Hi, a bug was in version 2.0.0 to re-send push log on userId update.
From the logs we can see you use version 1.14.0, so updating the nugets should fix this issue.

[2019-06-03 18:19] adrianknight89 commented on #506
@jwargo Thanks for your response. In what situation does a target audience of zero device make sense? This is what I'm confused about. Shouldn't this number be 1 at minimum? Tying back to #505, I send a push to an Android device (after registering a UserId), but I keep seeing 0/0 results. Surprisingly, if I send a push on the portal to all audiences, the SDK recognizes the registered device (and I

[2019-06-03 18:35] scriptam commented on #492
Hi and thanks @nrajpurkar.

The use case leading for this request is as follows:
1) Customer automates and schedules builds via a script
2) One or more builds are cancelled
3) New builds will be queued
4) For resuming scripts (and for reporting), fetching all builds is cumbersome as they need to be filtered out by status every time
5) Customer wishes to only retain builds that completed, succeeded

[2019-06-03 18:54] moon1978 commented on #488
Hi
But on HA I have the option to ignore all crashes on specific version so crashes won’t be uploaded

Sent from my iPhone

On 3 Jun 2019, at 20:44, Winnie Li <notifications@github.com<mailto:notifications@github.com>> wrote:

@moon1978<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmoon1978&data=02%7C01%7C%7C1d6b9f1da837470c95df08d6e84b2529%7C84df9e7fe9f640afb435aa

[2019-06-03 19:09] jruiz666 commented on #87
It is necessary to perform this function again in the application center.

Mechanism for sending and receiving silent notifications in xamarin android and xamarin forms.

[2019-06-03 20:12] winnieli1208 commented on #488
Yep, we recognize this is as a feature gap. Due to other priorities at the moment, we don't have any immediate plans to address this in the upcoming months. I'll post here when I have any updates. Thanks!

[2019-06-03 20:56] Sebastian1989101 commented on #498
@jwargo It seems like it was a temporarly issue with AppCenter. 2 friends of mine and the company I work for had all the same issue at that time (AppCenter was requesting a new setup für Push which always failed). About 4h after reporting it magicly starts working again for everyone.

[2019-06-03 22:08] WCByrne opened #514 "Notarization for Mac apps"
**Describe the solution you'd like**
App notarization was announced last year but not enforced. With [the announcement](https://developer.apple.com/news/?id=06032019i) that this will be required for macOS 10.15. Will it be possible for AppCenter to handle this before distributing apps?

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2019-06-03 22:31] botatoes commented on #514
Hello, we are investigating the impact this week and will update this issue when we know more.

[2019-06-03 23:00] lumaxis commented on #133
Since I talked to @schriftgestalt who requested thiamin #371 too, a quick update: We hit a small road bump while working on implementing this but we‘re still looking to releasing the feature soon 🙂

[2019-06-04 02:42] bobber205 commented on #489
Actually an image URL would be the preferred way of implementing this that
sounds great

On Mon, Jun 3, 2019, 6:19 AM John M. Wargo <notifications@github.com> wrote:

[2019-06-04 06:43] DennisPan commented on #161
@yamov sorry I lost track on this. We've been focusing on May iteration plan and moving on to the June one. Let me check with the team whether this is a quick fix we can apply, or would involve larger effort. If former, we may be able to squeeze in a change soon. If latter, we will then have to look at iteration plan for the month after.

[2019-06-04 06:49] yamov commented on #161
@DennisPan Thanks for the info. In any case would be nice to get an update here after you've discussed it with the team 🙏.

[2019-06-04 07:42] KovalM commented on #508
@nrajpurkar Very thanks!

[2019-06-04 07:54] AnastasiaKubova commented on #511
HI, @mhalt ! It does not look like the problem of our SDK. How I see from your crash report the problem appeared in API which not used our SDK. Could you please describe in details reproducing steps.

[2019-06-04 08:30] SogoGolf opened #516 "add a new column in crash reporting "Issues" that provides a ref#"
**Describe the solution you'd like**
want to be able to quickly/easily get a "reference #" for each crash item so we can include it in our commits (ie. that fixes the given issue)

**Describe alternatives you've considered**
go up to the address bar in browser; highlight the URL in appcenter (of the crash). copy and paste that into the commit....yuk

[2019-06-04 09:07] fernandotcl opened #517 "Add support for Xcode betas (e.g. Xcode 11)"
**Describe the solution you'd like**
I'd like to request support for Xcode betas in the Microsoft-hosted agents. The rationale is that between June and September, iOS/macOS developers will be using Xcode betas to get ready for upcoming iOS/macOS releases, so Xcode beta support is essential to be able to continue using e.g. Azure Pipelines for CI throughout this time period.

**Describe alternative

[2019-06-04 11:05] Juansero29 commented on #23
Please, add this!

[2019-06-04 11:36] ao-rix commented on #185
@winnieli1208 sorry for being idle here, I've been a little bit busy )

I've taken a closer look at the data on the first question. Just to remind: I want to get subset of unique errorgroups, that happened during one day (24h), unrelated to their firs/last occurrence data.
So i run query to api endpoint `/v0.1/apps/{owner_name}/{app_name}/errors/errorGroups`, passing `start=2019-05-05` and `end=20

[2019-06-04 11:42] nrajpurkar commented on #517
Hi @fernandotcl, we began supporting Xcode betas with Xcode 10 and will continue to add the betas with Xcode 11. We do caution that as these are betas, we do expect some bugs along the way 😄 will have this out soon for you to test your build with!

[2019-06-04 11:50] owenniblock commented on #357
Work in progress PR for this is here: https://github.com/microsoft/appcenter-sdk-android/pull/1171#discussion_r287551290

[2019-06-04 12:17] freddyhm commented on #510
Awesome! That helps a lot, thanks @winnieli1208 . I hope it'll be integrated in the main dashboard later on or have a way to create our own graphs in app center.

Also, for those interested, we managed to pull the same data by exporting our data to Application Insights and executing the following query:

let TotalSessions = toscalar(
    customEvents
    | summarize dcount(session_Id));
customEven

[2019-06-04 15:25] dinobu commented on #440
anyone???

[2019-06-04 16:04] pdraughan opened #518 ""Unable to Download App"... that we could yesterday."
**What App Center service does this affect?**
ALL

**Describe the bug**
Users are being told "Unable to Download App", on ALL of our AppCenter builds for all Apps.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any iPad build.
2. Click on Install
Download fails with above error message

**Expected behavior**
Ability to download any previously uploaded ipa

**Additional context**
We ex

[2019-06-04 16:58] nrajpurkar commented on #130
Downloading the mapping file after a build is now available! Check it out and let us know if you have any issues. Note: you many need to re-save your build configuration for existing configurations for this to work.

[2019-06-04 16:58] #130 closed

[2019-06-04 17:10] hamswan commented on #513
Thanks @JohnLivermore for the input. Correct , currently we do not have a way to sort them from latest. We will add this as a feature request.

[2019-06-04 18:04] botatoes commented on #433
Thanks for the feature request. I will take this back to the team for prioritization.

[2019-06-04 18:05] botatoes commented on #446
Thanks for pointing this out. I will make sure to include this in our installation revamp effort.

[2019-06-04 18:08] botatoes commented on #449
Hi, thanks for pointing this out. It is mostly by design that we only show error under the textbox. Can you tell me which page you are on? There should be a way for you to confirm whether your invitation was sent.

[2019-06-04 18:57] DwightHyde commented on #446
Awesome!

From: Bo-ying Fu <notifications@github.com>
Sent: Tuesday, June 04, 2019 12:09 PM
To: microsoft/appcenter <appcenter@noreply.github.com>
Cc: Hyde, Dwight <dwight.hyde@uchealth.org>; Author <author@noreply.github.com>
Subject: Re: [microsoft/appcenter] Add back the timestamp for builds created from Azure pipelines (#446)

Thanks for pointing this out. I will make sure to include this in o

[2019-06-04 20:39] pdraughan commented on #518
Expired Provisioning Profile.

[2019-06-04 20:39] #518 closed

[2019-06-04 21:01] dlbroadfoot commented on #30
This is a blocker for us too. We really need support for Xamarin iOS extensions otherwise we need to move away from AppCenter and look at solutions like Bitrise or Azure DevOps

[2019-06-04 23:04] Zhipeng-Chang opened #519 "Runtime Environment variables for iOS"
**Describe the solution you'd like**
I'm trying to build an iOS using app center, but I could get the environment variables to work. I wonder. I just wonder in order for iOS to recognize the env vars, what should I do in the code?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any

[2019-06-05 03:16] blparr commented on #512
Hello @lacostej , this should now be fixed. Please try it out and let me know if it works now. Closing unless I hear otherwise. Thank you!

[2019-06-05 03:16] #512 closed

[2019-06-05 04:15] YsFred4 opened #520 "Auth Twitter returns error on login"
**What App Center service does this affect?**
Auth

**Describe the bug**
Login with Twitter was working but after changing the layouts, Twitter is not logging in.

**To Reproduce**
Steps to reproduce the behavior:
Have not tried creating a new application.
Had login working with Twitter on Auth and then changed layouts, and other settings in B2C and now I cannot login.  It is returning the error i

[2019-06-05 04:22] nrajpurkar commented on #519
Hi @Zhipeng-Chang, we do support environment variables for iOS already. Take a look at the [documentation](https://docs.microsoft.com/en-us/appcenter/build/custom/variables/) and let us know if you have a more specific question.

[2019-06-05 04:50] amchew commented on #520
Hey @ysfred4, thanks for letting us know! We may need to troubleshoot more and get your app sensitive details. Would you mind going to https://appcenter.ms, clicking the blue chat button at the bottom right of the screen and copy pasting this GitHub issue? Ping here when you’ve done that and I’ll make sure we will look at your ticket.

[2019-06-05 04:57] YsFred4 commented on #520
Done

From: Amanda Chew <notifications@github.com>
Sent: Wednesday, June 5, 2019 12:54 AM
To: microsoft/appcenter <appcenter@noreply.github.com>
Cc: Steve Maier <steve.maier@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/appcenter] Auth Twitter returns error on login (#520)

Hey @YsFred4 <https://github.com/YsFred4> , thanks for letting us know! We may need to troubleshoo

[2019-06-05 05:12] amchew commented on #520
Thanks! Just responded on the chat button.

[2019-06-05 05:16] jwhiteDev commented on #294
@DJLennon could you share a bit more how you are using HockeyApp to capture crashes on windows and Linux games with UE4? I am interested to learn your setup and how you are accomplishing this today.

I am also looking into possibilities of leveraging our NDK support with regards to Unreal on Android right now as well.

[2019-06-05 06:21] patniko commented on #484
Closing this for now as we support some variant of this and believe shared groups is the best way to manage this information. If you'd like to see an enhancement to our shared groups feel free to reopen the issue with further clarifications.

[2019-06-05 06:21] #484 closed

[2019-06-05 07:01] derpixeldan commented on #519
@Zhipeng-Chang

They cannot be used at runtime. I assume you're looking for device variables that can be consumed at run time. That currently doesn't exist. A potential solution would require to integrate the SDK. In case this is what you're looking for, please update the issue accordingly so it can be treated as a feature request.

[2019-06-05 08:10] Oddj0b commented on #71
Thank you for feedback I can see a more popular request have come in with #297. If you haven't already I would be happy if also you have time to upvote the newer feature request.

[2019-06-05 08:10] #71 closed

[2019-06-05 08:13] Oddj0b commented on #407
Hi @charleswkc, would it be OK if renamed the feature request to "Enable Intune refresh token after 90 days"?

[2019-06-05 09:40] TomBruyneel commented on #21
Same request, I had to reset the build parameters after a repo change, and now the incremental build id is back at 1 too.

[2019-06-05 10:36] daimlerrdusn commented on #24
Daimler is also interested in a integration of the bug tracker for gitlab. Will it be integrated?

[2019-06-05 11:01] ilkeSylmz opened #521 "Support for interrupt test scenarios like low battery, phone calls, network connection etc"

[2019-06-05 11:52] BjoernDreher commented on #150
@winnieli1208: I just want to check if you have any update for this issue meanwhile. Could you provide us the current status?

[2019-06-05 12:34] MarioInter-net commented on #182
We ran into this same issue. Testers in a migrated public group need to authenticate in order to recieve an update. This doesn't seem to affect groups created directly in app center - only HockeyApp groups.

[2019-06-05 13:42] nrajpurkar commented on #507
@mdere-unbound this is now available! Refer to our [documentation](https://docs.microsoft.com/en-us/appcenter/build/react-native/nodejs) for more information.

[2019-06-05 13:42] #507 closed

[2019-06-05 13:47] nrajpurkar commented on #496
Thanks for this feature request @Laparo. This would be a neat enhancement to our existing Jira integration. I'll keep this issue open to track interest in this feature.

[2019-06-05 13:50] nrajpurkar commented on #444
@simonetodisco Thanks for this feature request! We'll keep this open as a possible enhancement for extensions.

[2019-06-05 13:56] nrajpurkar commented on #442
Thanks for this request @sushant40. I can see how this would speed up builds and be valuable. We'll keep this open to track interest from others as well. This is also similar to #473.

[2019-06-05 13:57] nrajpurkar commented on #438
@CJ99 thanks for this request. I'm closing this as it is a duplicate of #159

[2019-06-05 13:57] #438 closed

[2019-06-05 13:59] nrajpurkar commented on #159
@simonmcl thanks for this request. It is not on our current set of work, but we will continue to evaluate this as something to prioritize in the future. As a possible solution for apps coming from GitHub - connecting to App Center via the [GitHub marketplace app](https://docs.microsoft.com/en-us/appcenter/build/github-app) allows for PR builds and status checks.

[2019-06-05 14:07] nrajpurkar commented on #376
@Bloodyairtimer thanks for the feature request. We'll keep this issue open to track further interest for supporting this to help us prioritize in the future.

[2019-06-05 14:09] nrajpurkar commented on #99
Thanks for opening this request and the further detail. This greatly helps us when prioritizing future work! Will keep this open to track further interest.

[2019-06-05 14:09] mdere-unbound commented on #507
You all are awesome!!! I'll mess around with it today.

Thanks!!

On Wed, Jun 5, 2019, 9:45 AM Nilofer Rajpurkar <notifications@github.com>
wrote:

[2019-06-05 14:12] nrajpurkar commented on #191
Referncing #376 as a similar issue

[2019-06-05 14:13] nrajpurkar commented on #203
@azusa thanks for the input here. We recently shipped #22 which does clone environment variables to new branches in the same app which may help a little here.

[2019-06-05 15:01] jeffaknine commented on #67
Hi, the script works and my android folder is being detected but i'm getting the following error : Gradle build failed to produce an Android package
Any ideas ?

[2019-06-05 15:19] ricavir11 opened #522 "Push to more than 100 devices"
**Describe the solution you'd like**
Be able to send push notification to more than 100 devices

**Describe alternatives you've considered**
I'm considering to split requests but didn't test it yet.
Is it possible to split push notification request (with more than 100 devices) in several requests ? (eg : a notification has to be sent to 350 devices, then 4 requests will be created and sent to appc

[2019-06-05 15:54] ahanag22 commented on #478
@rayhan007 Looking at the error message,
/ Preparing tests... Android SDK not found. Please install it and if it is still not located, please set the ANDROID_HOME environment variable to point to the directory.

It looks like either the machine does not have Android SDK installed, or the path does not have the location for ANDROID_HOME set.
Can you try installing the Android SDK and try again? :)

[2019-06-05 15:55] ahanag22 commented on #478
After installing SDK, you might have to restart the Command prompt and try again :)

[2019-06-05 16:06] nrajpurkar commented on #392
Hi all, this is related to issue #426. Today we target iPhone 6 as the simulator. We are regarding this as a feature request to be able to change the simulator to work with unit tests for Apple Watch targets.

[2019-06-05 16:16] Zhipeng-Chang commented on #519
Hi @derpixeldan,
Thank you for getting back! Yes, that's exactly what I'm looking for. I'm trying to set an environment variable that same with the Android environment variable listed in the app center documentation.
e.g. `buildConfigField("String", "API_KEY", "\"${System.env.API_KEY}\"")`, so that I can use it at both runtime and build time. Another question: if the app center support environment

[2019-06-05 16:58] winnieli1208 commented on #220
Hey apologies for the delay. No updates yet but I will sync up with our team this week to see what work is required to support DexGuard. Thanks for the patience!

[2019-06-05 17:21] Zhipeng-Chang commented on #519
Hi @derpixeldan,
I think I got what do you mean in the previous post. So what I'm trying to do is that I have some secret keys in my code and I don't want to upload them to Github, so I defined them as the environment variables in my code. In App Center, there is no problem to build the app, but when I download and install the build to my phone, it shows it doesn't have the API key in the app.

Ba

[2019-06-05 20:55] #430 closed

[2019-06-06 00:30] ranterle commented on #169
We are aware that currently the symbols are only uploaded automatically if you select to distribute the build artifact in App Center as the symbol upload during the build pipeline is performed through the AppCenterDistribute task.

For our June iteration, we are working on adding functionality to automatically upload Android ProGuard mappings when found as well, see https://github.com/microsoft/az

[2019-06-06 00:34] ranterle commented on #26
@vpavlushkov Thanks for reminding us about this. While this is currently not on our immediate roadmap, how important is a fully customizable path filter setting for the build configuration to you, rather than say - a pre-defined path filter based on the folder in your repository where we found your project?

[2019-06-06 00:43] ranterle commented on #75
@gchiacchio I think your latest comment refers to uploading Android ProGuard mappings. Thanks for providing a sample post build script which can achieve this. This is part of our June iteration plan #466 and while we can't promise any immediate availability date, we're excited to share more about this soon.

[2019-06-06 01:45] azusa commented on #203
@nrajpurkar  this is a pretty feature and thanks for your improving experience!

[2019-06-06 01:46] #203 closed

[2019-06-06 02:00] alexanderkrum commented on #278
Yeah +1

[2019-06-06 03:44] FunkyLambda opened #523 "Distribution step in build fails with "Error: App specific password is mandatory for 2fa enabled account in service connection id""
**What App Center service does this affect?**
Distribution

**Describe the bug**
I have a build configured to distribute to TestFlight. However, it fails with the error in the title.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to App Store Connect Users (TestFlight) using an Apple ID with 2FA setup.
2. Setup an app-specific password following instructions at https://docs.microsof

[2019-06-06 06:19] vpavlushkov commented on #26
@ranterle "importance" is a relative term. 😉

We can certainly survive without that feature as it only causes extra build time but no real harm. Even if App Center starts a build which is totally redundant, one can cancel it manually. Hence, I'd say it is "nice to have" feature. However, I am so used to have this feature in different CI servers that not having this basic feature is odd.

I would a

[2019-06-06 06:45] Bhanu88 opened #524 "ok"
**What App Center service does this affect?**
Name of service or sdk with the issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2019-06-06 07:59] thilina-noetic commented on #23
+1

[2019-06-06 08:03] DennisPan commented on #161
@yamov We believe this should be a small change. So hopefully we can update this within a week or so. Still pending prioritization.

Long term I’d like to see if we can remove the prefix. The reason we had it was to prevent conflicts with pre-defined variables on the machine. But we may have better solution for that.

Worth noting that using the variable as “USER_DEFINED_xxxx” still won’t be somet

[2019-06-06 08:26] philihp commented on #161
![](https://media.giphy.com/media/mkgHtqqTcOTd4okJju/giphy.gif)

[2019-06-06 08:30] patniko commented on #201
Understood @tonyarnold. Leaving them linked to reference the body of work for now. If we introduce changes to how builds are triggered we'll probably look at multiple items together.

[2019-06-06 10:22] markymc opened #525 "Allow downloading of analytics event data to .xls and/or .csv"
**Describe the solution you'd like**
We have a simple use case that I'd suspect others do too. We're tracking simple events with parameters (e.g. ids of objects viewed), and want to be able to view the counts of each id in an Excel or CSV file for easy sharing with non-techies. This seems to be a fairly standard feature for analytics platforms, so I'm very surprised to see that it's not available

[2019-06-06 10:26] avanti-deodhar opened #526 "Getting Stalled Error during test run."
**What App Center service does this affect?**
App center xamarin uitest test runs

**Describe the bug**
Getting "Current test status: Stalled error (contact support for more info)" message when trying to run tests.

**Expected behavior**
The same tests were running without any error before and expecting the same.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desk

[2019-06-06 11:39] ufna commented on #294
@jwhiteDev ,

What's the issue with NDK on Android? The most annoying part for me was breakpad compilation, but after that all works as it should.

[2019-06-06 12:48] brad302 commented on #393
@amchew @guperrot

**> As for refresh token, it is already handled, if you call SignInAsync again (after a successful first time), the second time it will be a silent sign-in.**

Just in relation to the above, yes, my experience is that it will pass straight through but if you have more than one identity provider enabled, the user will be presented with the provider selection screen and then once

[2019-06-06 13:52] catkin24 opened #527 "API Endpoint to list a user's teams"
**Describe the solution you'd like**
API endpoint to list all teams for a specific user within an org.

**Describe alternatives you've considered**
Making a call to get all teams in an org, then making a subsequent call for each team to get the user list, then parsing those lists to search for a given user.

**Additional context**
This would also seem to help with appcenter.ms, where the "Apps" co

[2019-06-06 15:05] hamswan commented on #525
Thanks @markymc for suggesting this, we will add this to our feature request backlog.

[2019-06-06 15:25] Zhipeng-Chang commented on #519
Hi, I end up using the pre-build script to add the env vars to my app. So losing the issue ...

[2019-06-06 15:25] #519 closed

[2019-06-06 15:26] soprasteria-appdeveloper opened #528 "Can't disable a release"
**What App Center service does this affect?**
Releases

**Describe the bug**
I can't disable any release in none of my apps, I can just delete them

[2019-06-06 17:51] bobber205 commented on #524
Did you submit this by accident?

[2019-06-06 17:52] bobber205 commented on #489
@jwargo Have you had a chance to look into this? The custom property solution?

[2019-06-06 18:31] amchew commented on #393
Hey @brad302, in our next release of the SDK (sometime in the third week of Jun - will keep y'all updated!), we will be exposing the access token and id token. You should be able to determine based on the token whether to show the user the login UI or not.

For example,
[code]

[2019-06-06 18:41] bobber205 commented on #489
FWIW I've done the old college try and this doesn't work

![image](https://user-images.githubusercontent.com/5841107/59057774-02f6ca00-8850-11e9-8986-a3f90625c348.png)

Notification sends fine but no image is displayed

[2019-06-06 21:21] brminnick commented on #328
Here's a walkthrough showing how to create an Azure Timer Function to schedule recurring builds: https://www.codetraveler.io/2019/06/06/scheduling-app-center-builds/

[2019-06-06 21:49] mcmar opened #530 "Feedback UI / Shake to Send"
**Describe the solution you'd like**
Support for HockeyApp's Feedback UI (aka "Shake to Send")
https://support.hockeyapp.net/kb/general-account-management-2/invoking-feedback-ui-with-a-shake-gesture
This is something that HockeyApp supports, but isn't supported by app center. I'm very upset that you're killing HockeyApp while providing an inferior product to replace it 😡

**Describe alternatives y

[2019-06-06 22:10] chrisballinger commented on #167
@iageoghe  This is a very serious issue, and is one of the blockers preventing us from migrating off of HockeyApp. If it's not resolved before the HockeyApp shutdown we will have to consider alternative providers.

[2019-06-06 22:45] iageoghe commented on #167
@chrisballinger We hear you loud and clear. Stay tuned.

[2019-06-07 00:32] amchew commented on #393
Hi @fileman, @futie, @brad302 (and @landrzz, @sdg85)!

An update: we completed the feature to expose the access and id token and this will be released in the next version of our SDK - before the end of June.

We'll be sharing in our documentation how to parse the access and id token, what actions to take if the user is signed in or not. Also, with today's current feature set, you can determine if

[2019-06-07 00:59] brad302 commented on #393
@amchew you guys rock, massive thanks!  I'll keep an eye out for it and feedback where appropriate.

[2019-06-07 01:14] jwhiteDev commented on #294
No issues, it was more the thought that because of our existing NDK support there may already be some built in support for Unreal with C++, or at least some preliminary support. Just needs to vetting & exploration

[2019-06-07 02:36] charleswkc commented on #407
@Oddj0b in this case, yes. That is my only requirement - to be able to renew the token. Thanks!

[2019-06-07 04:29] brad-dixon commented on #151
@hamswan just wanting to understand when you think this feature request will drop?  I'm looking at this exact "issue" now and didn't want to use a custom property if this was going to be delivered within the coming weeks.  Thanks

[2019-06-07 04:53] ufna commented on #294
Oh, got it. Great to hear that.

[2019-06-07 08:06] derpixeldan commented on #530
@mcmar regardless of your frustration, we don't accept any abusive language. If you want this to be a proper feature request, re-think your wording, otherwise I'll close it.

We're working hard to make App Center the successor of HockeyApp and we've intentionally decided to not support the Feedback functionality. There's a [recommendation site](https://docs.microsoft.com/en-us/appcenter/transition

[2019-06-07 08:38] kristfal commented on #32
While we are waiting for proper support, there is a rather easy way around it.

You can declare your flavors conditionally in `build.gradle` and set ENV variables in AppCenter to identify which flavors to build.

A bit simplified, you can set up the following logic:

[code]

From there, you can either set up each flavor as a separate app in AppCenter, or build them from separate branches in the sa

[2019-06-07 09:02] mylemans commented on #311
And it is broken again.. Come on guys!

"It looks like the App Center Analytics SDK was not installed or enabled at the time of this crash."

It is clearly visible in the event flow & tracked events in general...

[2019-06-07 09:09] vrwim commented on #311
It works for some users and not for others I have noticed, same app version, same crash. Some show the error message that the SDK is not installed, others show the events correctly.

[2019-06-07 09:25] mylemans opened #531 "MSCrashes.generateTestCrash() seems to track previous event more than once"
**What App Center service does this affect?**
Analytics, maybe Crashes

**Describe the bug**
When tracking an event right before MSCrashes.generateTestCrash() the event gets tracked twice when the app is restarted, while I can confirm the trackEvent function has only been called once.

**To Reproduce**
Steps to reproduce the behavior: (for us)
1. Run the (macOS) app standalone, no debugger attache

[2019-06-07 09:27] mylemans commented on #311
Now they appear, maybe increase the delay before showing the analytics SDK message if it is a processing delay?

[2019-06-07 11:11] shpakovski opened #1295 "App Center SDK as a Swift Package for Xcode 11"
WWDC’19 is a fantastic event. Among other things, Apple is adding **native** support for Swift Packages to Xcode 11. This makes Swift Package Manager an officially supported package manager for third-party libraries on all platforms, including iOS. What’s your plan regarding CocoaPods, Carthage and the future of SDK? Thanks.

[2019-06-07 11:36] faisal-fls opened #532 "New release date shows up in the past"
**What App Center service does this affect?**
Release / Distributing the app

**Describe the bug**
We have created the new release in the app yesterday June 06th 2019 - the public page on the app shows the date as Dec 04 2018.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to public page of the app.

**Expected behavior**
The release date should be the date when the release is being crea

[2019-06-07 11:40] derpixeldan commented on #532
@faisal-fls can you please reach out to us in support (blue button in App Center) so we can have a closer look?

[2019-06-07 12:26] spiridonkopicl opened #533 "Tag option for builds"
We would like to have the possibility to tag each build. During the build our script should be able to tag i.e. add some unique identifier to the build. Then you should expose REST API endpoint which we can trigger using that tag to download .apk or .ipa. It would really help to automate whole process. Our QA would be able to integrate it into their testing pipeline to call your API to download th

[2019-06-07 13:23] toomasz opened #534 "Add support for build with Xamarin Android 9.3"
Describe the solution you'd like

Add support for Xamarin Android 9.2 as it's released already:
https://github.com/xamarin/xamarin-android/releases/tag/xamarin-android-9.3.0.22

Describe alternatives you've considered
No alternative

Additional context
No context

[2019-06-07 13:24] toomasz commented on #466
@blparr
Could you add support for xamarin android 9.3? https://github.com/microsoft/appcenter/issues/534

[2019-06-07 13:46] luwed opened #535 "Can't use binding library in Xamarin UITest project"
**What App Center service does this affect?**
Xamarin UITest Android/iOS.

**Describe the bug**
I have Android and iOS libraries with helper functions for automation tests. I want to use these libraries in Xamarin UITest project so that I've prepared binding library (only Android for now).
I try to use a method from that binding library in Xamarin UITest project, but I get an error: error CS0012:

[2019-06-07 13:57] sand070581 opened #536 "Download DSYM files via UI for iOS builds created outside AppCenter"
**Describe the solution you'd like**
I am uploading the ipa , ipk and dsym files Using AppCenter API through jenkins Jobs . I am able to upload the files successfully and able to locate the ipa and ipk files in app center whereas dsym files is not visible or available for download. Developers are not able to download the file from AppCenter for crash reporting and analysis on third party tools.

*

[2019-06-07 14:20] nrajpurkar commented on #534
@toomasz We'll be updating this with stable version of VS for Mac 8.1. Hold tight!

[2019-06-07 14:20] nrajpurkar commented on #466
@toomasz Take a look at the response directly at #534

[2019-06-07 16:39] hamswan commented on #151
@brad-dixon We don't have an ETA yet but this definitely in our close radar.

[2019-06-07 18:07] jacobg commented on #466
Sadly, Code Push seems to be sorely neglected:
https://github.com/microsoft/cordova-plugin-code-push/issues/530#issuecomment-497131461
https://github.com/microsoft/cordova-plugin-code-push/pull/513#issuecomment-489084701

[2019-06-07 18:09] amchew commented on #388
Hey all,

An update: we completed the work to expose the access and id token yesterday and this will be released in the next version of our SDK - before the end of June. You can

We'll be sharing in our documentation how to parse the access and id token, what actions to take if the user is signed in or not. You can track the progress of the [feature to expose the JWT](https://github.com/microsoft/

[2019-06-07 19:08] jrahma opened #537 "AppCenter Push stops working when the app crashes"
Hi,

When I open the app and then it crash for whatever reason and then I send a Push message then no message will be received so user needs to open the app again first in order to get the messages.

[2019-06-08 02:51] mcmar commented on #530
@derpixeldan Can you define what you consider abusive language? I re-read it and can't find anything that a reasonable person would characterize as abusive

[2019-06-08 03:28] mcmar commented on #530
As far as the feature request goes, this is a straightforward feature request asking for implementation of a new feature that's already supported in an "alternative product" if you can call it that. Thank you for the documentation showing that this was at least intentionally omitted. Hopefully I'm not the only user who disagrees with this decision. Part of my reason for disagreeing is not simply b

[2019-06-08 07:13] jagdishnagar opened #538 "App center Android and Ios daily user data is not correct too much variation(User:- FRAAO@ascensia.net)"
User :- FRAAO@ascensia.net

**What App Center service does this affect?**
Daily user data and session data too much variation

**Describe the bug**
Android and ios session and daily user data too much variation like 4 june daily user is 4000 and 5th June data is 18000.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' App center
2. Click on '....' Apps android or iOS app.
3. Click

[2019-06-08 13:17] fabiodamasceno commented on #453
+1 . React Native users are not able to use a decent ui test framework at this time because there isn't support to Detox, Appium nor any functional high-level UI test frameworks (unless to be XCUITest, that is native and not the case). This make unfeasible AppCenter to React Native projects to make continuous delivery.  So, if we've got Appium support, you guys will not just enable UI Tests for Re

[2019-06-09 12:35] mnikonov opened #539 "Building of UWP application that targeted to Windows 10 SDK (10.0.18362.0) finishing with error"
**Service**
"Build" service

**Description**
Building of UWP application that targeted to last windows 10 SDK  (10.0.18362.0)  finishing with error

Error MSB3774: Could not find SDK "WindowsDesktop, Version=10.0.18362.0"

Steps to reproduce the behavior:
1. Target to appcenter UWP application that pointer to last Windows 10 SDK version
2. Navigate to Build section and start it
3. After build woul

[2019-06-10 06:09] otaro808 commented on #194
+1 for the .aab!

[2019-06-10 10:56] daveokeeffe commented on #23
+1

[2019-06-10 12:59] Naishy opened #540 "Allow metadata to be added to Test Runs"
**Describe the solution you'd like**
In order to help identify test runs within AppCenter it would be useful to be able to tag Test Runs with extra metadata when they were created via the CLI. This could be Key/Value pairs or just a text string. An example would be to include the build number and/or commit from within Azure Devops/CI.

**Describe alternatives you've considered**
Currently we're us

[2019-06-10 13:27] danAtAllworx opened #541 ""Something went wrong on our end" when viewing app crashes"
**What App Center service does this affect?**
Crash reporting using the HockeyApp WinForms SDK.

**Describe the bug**
I have a WinForms application that has been using HockeyApp for crash reporting for more than a year. When I try to view crashes for this application in App Center, I get a screen with the message "Something went wrong on our end". I can still view crash info for this app in Hockey

[2019-06-10 13:40] fileman commented on #393
@amchew is there appcenter nightly/myget CI build?

[2019-06-10 13:50] josecaodaglio commented on #466
@blparr unfortunately @jacobg  is correct. We are dealing with a problem that should be very straightforward to check but we are being neglected.

[2019-06-10 15:17] zerglyn opened #542 "Cant browse site appcenter.ms"
**What App Center service does this affect?**
Web-site.

**Describe the bug**
blank page without any text, imgs, errors

**To Reproduce**
Steps to reproduce the behavior:
1. open browser
2. fill address 'appcenter.ms'
3. tap 'Go'
4. see short progress-bar
5. see blank white page

**Expected behavior**
Content of the site https://appcenter.ms

**Screenshots**
---

**Desktop (please complete the fol

[2019-06-10 18:24] botatoes commented on #466
@jacobg @josecaodaglio Thanks for pointing those out. We know we've haven't been giving CodePush lots of love lately but we are actively making an effort to change that. Over the next few months, we'll be working on some core improvements and updates to the CodePush service. The work will allow us to support and improve CodePush in the future. However, this means we are pulling the people who have

[2019-06-10 18:29] hamswan commented on #538
@jagdishnagar We are looking into this.

[2019-06-10 19:58] josecaodaglio commented on #466
@botatoes thank you for your answer. I am glad you are willing to give the code-push the attention he deserves, as it supports a lot of critical applications.

Although you mentioned that the support _will slow down from tomorrow_, this issue has started since a while now. As far as I could understand, @jacobg , @dann95 and myself have same problem in the thread https://github.com/microsoft/cordov

[2019-06-10 20:42] asikora-sf opened #543 "iOS 13 cannot install IPAs"
**What App Center service does this affect?**
AppCenter app installs

**Describe the bug**
iOS 13 changed the way Safari treats downloads in iPadOS (at least). They become a download to iCloud Drive instead of an install.

This is likely a bug on Apple, and I've filed a radar there as well, but wanted to make you aware of this issue in case there are any changes that need to be done on the web-sid

[2019-06-10 20:56] herbig commented on #230
@derpixeldan any updates on this?  And could I get in on the beta?  Thanks!

[2019-06-10 21:14] botatoes commented on #543
Thanks for filing the bug. We are aware of this and will get a fix out. This is around the introduction of iPadOS and how we are detecting devices.

[2019-06-10 23:04] jrahma opened #544 "Scheduled Analytics Reports by Emails"
Hi,

Please add an option to schedule the following analytics reports by email.

User can send to multiple emails and can define the subject and **From** email

Schedule can be set as Daily, Weekly, Monthly, Yearly and user can set the exact date for example every 1st of the Month or every 1st Jan, etc

1. Active Users
2. Daily Users
3. Monthly Users
4. Top Devices
5. Users by Country
6. Active Us

[2019-06-11 02:09] winnieli1208 commented on #133
This feature is now enabled for diagnostics! The build dropdown filter will populate as new crashes come in. Unfortunately, we ran into some difficulties for Analytics so we had to scope this out for now. We don't have immediate plans to enable this for Analytics but feel free to create a separate issue to track this feature.

Thanks!

[2019-06-11 02:09] #133 closed

[2019-06-11 02:15] winnieli1208 commented on #55
Hi everyone - this feature is now enabled in diagnostics! You should see a build filter in the top right section of the page. Note that the dropdown will only populate with values as new crashes come in. Thanks!

[2019-06-11 02:15] #55 closed

[2019-06-11 02:32] winnieli1208 commented on #339
Apologies for the delay. This is something we'd like to support in the future but unfortunately, I don't have an ETA. Our team is focused on the items listed on our [roadmap](https://github.com/Microsoft/appcenter/wiki/Roadmap) at the moment. I encourage everyone to follow our roadmap and [iteration plan](https://github.com/Microsoft/appcenter/wiki/Iteration-Plans) to see what our team is up to.

[2019-06-11 02:35] winnieli1208 commented on #150
@BjoernDreher no updates on our ETA but our team has committed to supporting handled errors for UWP apps. We're currently working on WPF/WinForms support and will begin the UWP work around August. I expect to have a clearer timeline around then. Thank you for your patience!

[2019-06-11 02:38] winnieli1208 commented on #531
@mylemans apologies for the delay. Can you please start a conversation in the blue chat bubble on the bottom right corner of App Center? You can link this issue and our team will route you to the proper support and engineering team to troubleshoot. Thanks!

[2019-06-11 07:04] brad-dixon commented on #151
@hamswan nothing specific apart from there already being a placeholder within the properties being sent to App Insights from AppCenter Analytics.  Given I only have a total of 20 additional attributes I can use, it would be nice to get 1 back given the UserId is already existence in the standard properties.  It would also just mean it's consistent across the app and the SDK.  I didn't figure it'd

[2019-06-11 07:26] ufna opened #545 "Other options for update delay time than "ask me in a day" for Distribution module"
**Describe the solution you'd like**
When the new version of app is available, it'll be great to have ability to change the option "Ask me in a day" to something like "Ask me next launch" or "in 5 minutes", etc.

**Describe alternatives you've considered**
Manual update via AppCenter website.

**Additional context**
![appcenter_distribute](https://user-images.githubusercontent.com/271578/59251824-

[2019-06-11 08:57] devedse commented on #383
For me this would be the single most important feature of the platform. Being able to automatically publish releases to the "public" stores. Part of every build/release lifecycle should be a way to automatically publish a nightly build to a beta store (or whatever) so that those can be tested by the user base.

After that I don't mind to have a single manual step to promote a specific package to t

[2019-06-11 09:24] alexpopaconst opened #546 "[Feature] Clone branch configurations via API with secret env variables"
**Describe the solution you'd like**
We would like to be able to somehow clone environment variables that are marked as secret when cloning build configurations via the AppCenter API .

**Describe alternatives you've considered**
An alternative would be to not mark Environment Variables as secrets, avoiding the encryption and then they can be exposed by the API call.
This is however not a good sol

[2019-06-11 14:30] AlexNajem commented on #311
This is pretty important. Can’t believe it’s getting ignored this long.

[2019-06-11 14:33] winnieli1208 commented on #55
@Songroid the Version filter uses the `versionName` for Android apps. Thanks!

[2019-06-11 14:59] MaxDaten commented on #377
Hi there, any status update or any help we can provide?

In order to narrow down the issue, I've created a minimal example repo here:

https://github.com/MaxDaten/xamarin-uitest-connectapp-bug

See Readme: https://github.com/MaxDaten/xamarin-uitest-connectapp-bug/blob/master/Readme.md

[2019-06-11 15:01] RedRoses1234 opened #547 "Provide a user-friendly test report for unit tests"
**Describe the solution you'd like**
A user-friendly report generated for unit tests that are ran as part of the build, showing the pass and fail status. Maybe the report could be made available as part of the "Download" button. Currently, we have to scroll through the build logs to find the information. A bonus would be the ability to automatically email the report to a list of recipients.

**Des

[2019-06-11 15:24] jrahma opened #548 "Custom Sound in AppCenter Push"
Hi,

The custom sound is not available from Android 8.0+ as per AppCenter support team and as per this link:

[https://docs.microsoft.com/en-us/appcenter/sdk/push/xamarin-forms#android](https://docs.microsoft.com/en-us/appcenter/sdk/push/xamarin-forms#android)

This is a dramatic limitation especially when this feature is already provided by all other Push Notification portals, e.g. OneSignal (att

[2019-06-11 16:02] DennisPan commented on #546
@alexpopaconst I'm assuming you are not using `cloneFromBranch` when creating the branch configuration. When cloning a branch configuration on the portal, this is what's used. Could you give that a try?

If you are already using it, but still not seeing secret variables copied, that would likely be a bug (and please let us know if that's the case)

[2019-06-11 17:08] srungta commented on #449
@botatoes This is the page to add collaborators to my team.

[2019-06-11 17:55] gfinden commented on #192
We would like to see this as well. And it would be great if it could capture a stack trace of where the error was handled at, to provide more insight into what code path resulted in the error.

[2019-06-11 20:40] PhilippRoessner opened #549 "Add Data - API to Cordova SDK"
I'd like to use the App Center features, especially the Sync functionality inside a cordova app.

I looked at Xamarin but HTML and Typescript is just my preferred platform.

[2019-06-11 21:14] abhilonline opened #550 "AppCenter losing all the new line information in release notes from hockeyapp."
**Describe the bug**
AppCenter losing all the new line formatting  in release notes from hockeyapp. The release notes is not easier to read as a result.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Releases'
2. Click on 'Release number'
3. Look at the release notes

**Expected behavior**
The new line in hockeyapp release notes has to be preserved while showing in App center UI.

**

[2019-06-11 21:51] hamswan commented on #544
Thanks @jrahma we have added this as a feature request.

[2019-06-11 22:29] ranterle commented on #26
Agree, this can definitely be improved so we are better supporting mono repo scenarios etc.
In terms of putting this on the roadmap there is definitely multiple factors that we look for, effort required is one thing, but also customer interest in general and how the solution we can think of plays with other items on our roadmap and our existing feature set.

It'd be great to get more clarity on th

[2019-06-11 23:15] CorwinJV commented on #50
I would find multiple build configs per branch very helpful!

[2019-06-11 23:25] CorwinJV commented on #32
We'd love to have support for this.

[2019-06-12 05:42] shamprasadrh opened #551 "Not able to register a particular User device"
**What App Center service does this affect?**
App center device registration

**Describe the bug**
The device shows as UNPROVISIONED and after registering the device we get confirmation for successful registration but not user is not able to download the app on device and test it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Distribute'
2. Click on 'Collaborators'
3. Scroll down to

[2019-06-12 06:16] brickmaker17 commented on #194
+1 on the .aab!!!

[2019-06-12 06:21] mole440 commented on #194
+1 please! The deadline is approaching.....

[2019-06-12 07:29] #511 closed

[2019-06-12 08:28] alexpopaconst commented on #546
Many thanks! I missed that, ups.
Works as expected.

[2019-06-12 08:28] #546 closed

[2019-06-12 08:51] mnikonov commented on #539
is it possible to get any comments on this issue? For me this issue breaks (stops) whole testing process of application!

[2019-06-12 08:54] rakmobility commented on #194
![tenor](https://user-images.githubusercontent.com/46883208/59337221-2a96d800-8d11-11e9-8566-16a4734d8d21.gif)

[2019-06-12 10:36] engin2018 opened #552 "Android push notifications"
**What App Center service does this affect?**
Push notifications

**Describe the bug**
We successfully receive push notifications to our cross platform Xamarin ios and android devices however using your apis we only receive them on ios and not on android.

**To Reproduce**
Using the api

https://api.appcenter.ms/v0.1/apps/myorderbox/driverapp/push/notifications

Please see image below

**Expected

[2019-06-12 13:48] swigrid opened #553 "Validate device token"
I would use API Endpoint for device token validation to make sure device token is valid. If not I would remove it from our database.

[2019-06-12 16:54] patniko commented on #553
Do you mind elaborating on this a bit more @swigrid?

[2019-06-12 16:57] derpixeldan commented on #550
Please reach out to us in support so we can have a closer look.

[2019-06-12 17:00] derpixeldan commented on #356
@sdarveau earlier today I found your ticket in support being un-responded. Apologize for that, I've replied.

[2019-06-12 17:00] #524 closed

[2019-06-12 17:02] esg-roger opened #554 "App Center Build option for Unity Apps"
**Describe the solution you'd like**
Add a build pipeline for Unity-based applications to App Center Build.

**Describe alternatives you've considered**
Will consider Azure DevOps pipelines to create a custom build pipeline supporting our application, but a simplified App Center Build option might be nice.
Currently use Jenkins, running an ant build script, which in turn executes Unity with comman

[2019-06-12 19:45] swigrid commented on #553
here is an example

when there is one invalid token as below

{
	"notification_target": {
		"type": "devices_target",
		"devices": [
			"0f1ea4a3-caee-4980-8de2-91908e8fe32b",
			"aaaa"
		]
	},
	"notification_content": {
		"name": "Delivery Group id 81",
		"title": "Delivery Group",
		"body": "aaaaa"
	}
}

we’re getting response
{
  "error": {
    "code": 400,
    "message": "body parameter is inv

[2019-06-12 19:49] jwhiteDev commented on #554
Very much on the radar of something we would like to do. We are currently investigating what options exist. No promises yet.

[2019-06-12 19:49] swigrid commented on #553
in other words, from time to time can happen, there is an invalid token saved from whatever reason. We would like to clear those tokens

[2019-06-12 22:12] shpakovski opened #555 "The checkbox Mandatory Update does not have any effect for Mac apps"
The Distribute panel has got a nice checkbox “Mandatory Update”:

<img width="350" alt="Feature" src="https://user-images.githubusercontent.com/163410/59389812-015d6280-8d78-11e9-9d0d-5be0f898a5a2.png">

Unfortunately, it does not have any effect. The launched Mac app should probably check this flag and force a user to quit until you download and install the version marked as mandatory.

[2019-06-12 22:16] shpakovski commented on #514
Notarization is impossible without having access to your Apple ID and the Team that the app belongs to, if multiple. I doubt this can be done via the App Center. $0.02

[2019-06-13 00:10] yoannchaudet commented on #538
@jagdishnagar What specific version are you filtering the view on for your Android application? Also if you look at the same graph today, do you still see a gap for June 5th?

We do not have a known "variation" or data loss issue.

I looked at your application's raw logs and noticed an interesting pattern:

![image](https://user-images.githubusercontent.com/14911070/59394216-b3bf0680-8d33-11e9-822

[2019-06-13 05:22] winnieli1208 commented on #541
Hi @danAtAllworx - you're seeing this page because App Center doesn't currently support WinForms yet. I do think we can definitely improve our error message on this page, however, we're actively working on WinForms support and expect this to be complete around the end of July.

I'm going to close this issue for now but I encourage you to follow our [iteration plan](https://github.com/Microsoft/app

[2019-06-13 05:22] #541 closed

[2019-06-13 05:27] winnieli1208 commented on #536
Hi @sand070581 - thanks for the feature request! You can download the .dsym files if you're using App Center build as shown below:
![image](https://user-images.githubusercontent.com/8868628/59405938-22668900-8d61-11e9-82bf-bc1fb866ee9e.png)

Are you requesting a way to download these files using Jenkins?

[2019-06-13 05:57] winnieli1208 commented on #192
Hi all - thanks for the feedback. We understand how crucial this feature is for app developers and this is absolutely something we plan to support in the future. Unfortunately, our team is focused on other [priorities](https://github.com/microsoft/appcenter/wiki/Roadmap) for the next few months and won't have the bandwidth to work on this. That said, I'll continue to monitor this thread and will t

[2019-06-13 08:10] jagdishnagar commented on #538
I am filtering 2.6.20. yes still gap is there and please check daily
session graph as well too much variation.
Yes application will work in offline mode too but usually this much data
variation we never feel.

Please Check data/graph prior to 29 may 2019. only 252 user is showing
actual data should be in range 16k to 20k.

Regards
Jagdish Nagar

On Thu, Jun 13, 2019 at 5:43 AM Yoann Chaudet <notif

[2019-06-13 14:23] rnystrom commented on #26
We have iOS, Android, and documentation all in one repo. Kicking off multiple builds for a `README.md` seems wasteful and noisy. We could split the repo into 3, but that adds a bit more project-mgmt overhead.

[2019-06-13 15:23] lbrownell-gpsw opened #556 "Access to GitHub.com organizations that use SSO"
**Describe the solution you'd like**
Allow GitHub Enterprise Cloud users who use SSO/SAML for GitHub access to use App Center.

**Describe alternatives you've considered**
Not using App Center.

**Additional context**
GitHub (a Microsoft company!) has two Enterprise offerings; this one (Enterprise Cloud) is hosted at https://github.com, and implements private repos as do the lower-priced offerings

[2019-06-13 15:38] lbrownell-gpsw commented on #464
One of our "apps" is a plugin (for Mac and Win), that is installed via a .pkg on Mac and .exe on Win.  It is not an app -- it is a single file of a specific odd type required by the app for which it is a plugin.  Right now, I can't upload it to App Center.

Thanks.

[2019-06-13 16:25] patniko commented on #553
Makes sense! Thanks for the clarity. We'll take a look on our side.

[2019-06-13 16:46] WCByrne opened #557 "Filter analytics data by build number"
Would love to see the ability to filter analytics by build number, just like the recently released capabilities for diagnostics discussed in #133 (as was this).

[2019-06-13 17:18] skadecl opened #558 "CLI getting 500 (Internal Server error) after renaming app"
**What App Center service does this affect?**
Code-push

**Describe the bug**
After realizing two of my apps were misnamed, I renamed them using the CLI. After that, I am getting a **500 Internal Server Error** response for anything I try to do with those two apps.

Also, both deployments (Staging and Production) disappeared.
Everything is working fine for the rest of my apps.

**To Reproduce**
St

[2019-06-13 17:26] iamnotaturtle opened #559 "Unable to create new release"
**What App Center service does this affect?**
appcenter.ms

**Describe the bug**
When selecting `New Release` I am redirected to the url below (replace `username` and `app`):

**To Reproduce**
1. Select your app
1. Select `Distribute` on left hand pane
1. Select blue `New Release` button
1. Observe blank screen

**Expected behavior**
Popup from left hand side to prompt me to upload the ipa/apk sho

[2019-06-13 19:35] thalissondev commented on #194
+1

[2019-06-13 19:39] WarSunsOfPeace opened #560 "Support for building iOS app with Swift Package Manager"
With Apple announcing support for Swift Package Manager for iOS in the next release of Xcode, I would like to see this support added here as well.

[2019-06-13 19:42] rnystrom opened #561 "Integration with Shields.io"
[Shields.io](https://shields.io/) is a clever way to generate project "shields" (build status, code coverage, etc). I was browsing it today to see if there was an App Center config. It's probably not the highest-impact feature to add, but it would be nice to see App Center listed along with other major CIs.

The project is [community-run on GitHub](https://github.com/badges/shields), so adding an

[2019-06-13 19:55] hamswan commented on #557
Thanks @WCByrne for requesting this feature in Analytics. We will add this in our backlog.

[2019-06-13 20:22] francis2 opened #562 "System.Net.WebException : POST Failed at Xamarin.UITest.Shared.Http.HttpClient.HandleHttpError"
**What App Center service does this affect?**
build & test

**Describe the bug**
Hi,

I have the following error and I have no idea what it means. It does not happen in the emulator--only when it runs in appcenter with 'Test on a real device' enabled. Xamarin.forms team has not responded in over a week so I assume they think it's a AppCenter issue. See https://forums.xamarin.com/discussion/158165/

[2019-06-13 22:22] hamswan commented on #455
@Sergio0694 We have added this in our feature backlog, we don't have an ETA yet, you can track this through the GitHub issue

[2019-06-13 23:20] lumaxis commented on #560
@w0mba7 What exactly are you looking for? App Center's SDKs being available through Swift Package Manager?

[2019-06-14 00:34] yoannchaudet commented on #538
I do not have access to your analytics portal, only raw data. Screenshots of the daily sessions per user graph could help.

The active users graph from your screenshot seems to indicate your version 2.6.20 was only widely adopted after 5/29. If that's not the case you may have an integration issue with our SDK. The analytics you are seeing are matching the raw logs we receive from your application

[2019-06-14 03:53] patniko commented on #561
Thanks for the feedback @rnystrom. I'll check it out.

[2019-06-14 07:18] grzegorz-jarosz opened #563 "Support Specflow 3 in App Center Test"
**What App Center service does this affect?**
App Center Test Cloud - SpecFlow test results show no step results

**Describe the bug**
I've upgraded my project to SpecFlow 3 (and NUnit 3). Tests are executed and I can see scenario result in App Center, but results show NO sceario steps results (and screenshots). Only single entry with double dash "--" is shown.
At the top of the logs, a following

[2019-06-14 08:02] derpixeldan commented on #559
The issue was mitigated in the meantime. Thank you for reporting.

[2019-06-14 08:02] #559 closed

[2019-06-14 08:03] derpixeldan commented on #464
@lbrownell-gpsw on HockeyApp, does it currently reside as a custom app?

[2019-06-14 08:06] derpixeldan commented on #562
Please reach out to us in support so we can look into your problem.

[2019-06-14 08:08] davisjms opened #564 "Prioritize install link over QR code for non-mobile OSes"
While trying to install an app, the QR code takes up center stage even for apps on macOS. The link to install is a bit hard to notice and I need to search for it in the UI. It would be worth giving more priority to the link for such apps - may be in the form of an Install button.

[2019-06-14 08:30] owenniblock commented on #558
@skadecl - please could you rerun the command with `code-push deployment ls Ticketplus/eventbrain.netlink.fitran.ios --debug` and post the results here? This should help us identify which API call is returning a 500 error.

Also, you can check what value we have for the `APP_NAME` in the system by going to the appcenter.ms portal, finding the app, going to the Test section and running through the

[2019-06-14 08:35] derpixeldan commented on #564
@davisjms thanks for your feedback. This will be improved as part of "Integrate install page with developer portal" which is on the [Roadmap](https://github.com/Microsoft/appcenter/wiki/Roadmap#hockeyapp).

[2019-06-14 08:35] #564 closed

[2019-06-14 09:26] john-dalsgaard opened #565 "Change owner - or delete app"
**Describe the solution you'd like**
I created two apps (iOS and Android - but really the same app). I used two different ways to do this - and now one is owned by me (personally) and the other is (correctly) owned by the organisation. I can find now way to either change owner - or delete the app and recreate it with the organisation as owner.

**Describe alternatives you've considered**
If I cann

[2019-06-14 09:34] john-dalsgaard commented on #565
Arghhh.... found both options under the three dots menu in the top left corner

[2019-06-14 09:34] #565 closed

[2019-06-14 12:38] devedse commented on #499
@Oddj0b, I saw you were assigned to this issue. Do you have any update on this?

[2019-06-14 12:55] jrahma opened #566 "Set a better App name in the API URL"
Hi,

Currently if I create an iOS app called Wahoo the name in the URL when using CLI/API will be Wahoo and if add Android then the name will be Wahoo-1 then Wahoo-2, etc

This numbering doesn't make sense and it's confusing so user needs to go and check what's 1 and 2 in case of troubleshooting

I suggest you set a better, something like this:

/Wahoo-ios/
/Wahoo-android/
/Wahoo-UWP/

[2019-06-14 13:04] Oddj0b commented on #499
@devedse Instead of using production you will need a connection ID. You find the connection ID using the following endpoint: https://openapi.appcenter.ms/#/distribute/stores_list

[2019-06-14 13:05] Oddj0b commented on #540
@naishy thanks for the feedback. This isn't on the current backlog, but it is a great idea.

[2019-06-14 13:11] Oddj0b commented on #526
@avanti-deodhar it's faster to contact our support through the blue chat icon in the App Center portal.

[2019-06-14 13:11] #526 closed

[2019-06-14 13:19] Oddj0b commented on #521
@ilkeSylmz Can you add more details, if you want me or others to vote for it we at least need to understand the use case.

[2019-06-14 13:25] devedse commented on #499
@Oddj0b , can you get that using appcenter-cli as well?

[2019-06-14 13:38] jdpennell commented on #318
I too would greatly appreciate this feature. We've had some luck with e-mail signals and IMAP-IDLE, but of course setting up an IMAP email account is a lot of overhead and introduces an unneeded fault point, and our system will break completely if test run IDs stop showing up in the URI that shows up in emails, which makes this solution unacceptably fragile.

[2019-06-14 14:05] dtropanets opened #567 "API doesn't return the app created by API"
The issue is with the API. I'm investigating migration to App Center from HockeyApp, where our team is creating an app per branch. But we've encountered an issue that apps created by new API are not returned by apps endpoint.

Steps to reproduce the behavior:
1. Create an app using POST /v0.1/apps endpoint
2. Ensure that https://appcenter.ms/users/~/applications displays the app on UI
3. Get list

[2019-06-14 14:07] w0mba7 commented on #560
I was just actually looking to be able to build an iOS project using Swift Package Manage to pull in dependencies, the feature added in Xcode 11.  Support for being able to add the SDK using SPM would be nice as well.

[2019-06-14 14:25] devedse commented on #499
@Oddj0b , just executed the command which gave me this result:
[code]

Then I tried to publish it to this group but it still failed :
![image](https://user-images.githubusercontent.com/2350015/59516135-f3672900-8ec0-11e9-99c7-df597f45e46a.png)
https://ci.appveyor.com/project/devedse/deveblockstacker/builds/25284955

Any idea?

[2019-06-14 14:29] lexboss93 commented on #165
Any update on this?

[2019-06-14 15:38] aolszowka opened #568 "Uploading Output of External Build"
**Describe the solution you'd like**
We're currently using HockeyApp and we're looking for a way to transition to AppCenter. However I am having a hard time finding a direct replacement for the Upload Version API (https://support.hockeyapp.net/kb/api/api-versions#upload-version)

**Describe alternatives you've considered**
It looks like at least one other user might have been asking for something

[2019-06-14 16:38] derpixeldan commented on #567
Please reach out to our support in App Center so we can better investigate the problem. You can refer to this ticket.

[2019-06-14 20:55] poldz123 commented on #458
Having the same issue here. R8 should be supported when obfuscating the crash report since it is now the default code shrinker for android.

Looking forward to this issue to be fixed.

[2019-06-14 21:21] Kasendwa commented on #194
We are counting on you, good people! Patiently waiting 🙂

[2019-06-14 21:41] l3ender commented on #194
Is there any way in which the community could help assist in adding support for this very highly requested feature?

[2019-06-14 21:54] yoannchaudet commented on #259
To clarify, what's not a proper [semantic version](https://semver.org/) is not guaranteed to be sorted properly. Closing.

[2019-06-14 21:54] #259 closed

[2019-06-14 22:29] lumaxis commented on #566
@jrahma As a workaround, you can change the URL name of an app through our API or [CLI](https://github.com/microsoft/appcenter-cli): `appcenter apps update --app jrahma/Wahoo-1 --name 'Wahoo-iOS'`

[2019-06-15 15:46] sathukorale commented on #530
Yup you are not the only one. I can't believe this feature didn't make it into AppCenter. Honestly most bug reports (the big one that makes your head hurt) are simply useless without user feedback (atleast this has been the case for me). And as for simple bug reports I always went with Fabric.io. Until now I thought this was in the roadmap, or perhaps might be put into later on, but after seing th

[2019-06-15 16:59] RaymondBull opened #569 "Push Notifications not working to device Id list"
App Center Push

When using the App Center API, Portal, or Postman, pushing a notification to a device list shows status 202 Accepted but the portal shows 0/0 sent and I never receive the notification. Broadcasting to all devices works just fine.

**Smartphone (please complete the following information):**
 - Device: iPhoneXS
 - OS: 12.3.1

![PostmanResults](https://user-images.githubusercontent.c

[2019-06-15 19:31] mpodwysocki commented on #569
@RaymondBull We'd like to know some more information.  Can you please open a support ticket via the AppCenter website?  It's the little blue chat icon which leads to Intercom.  There, our team can help you diagnose the problem.

[2019-06-15 19:50] RaymondBull commented on #569
I started a conversation on there. It says that App Center will be back tomorrow.

[2019-06-15 20:48] mpodwysocki commented on #569
@RaymondBull Great, thank you! We will get back to you as soon as possible!  The best way to reach our team is by Intercom.  Can we close this issue and move it to Intercom?

[2019-06-16 01:33] nksaroj commented on #194
.aab as well as instant app feature such as "Try Now" feature would be beneficial.

[2019-06-16 11:27] megastep opened #570 "Allow to override xcodebuild SDK arguments"
**Describe the solution you'd like**
We have app targets that have dependencies on watchOS targets within the same project. Since these targets are embedded in the final binaries, they are required to compile properly for the encompassing target to also complete successfully.

As of right now, the `xcodebuild` command line always includes a `-sdk iphoneos` for iOS projects. However this in effect

[2019-06-16 19:15] 0xaryan commented on #366
@iageoghe Any progress on this? This is really annoying!
Maybe I should install some CSS tweaker extension and "display:none" it myself.

![image](https://user-images.githubusercontent.com/9091958/59568501-c0738f80-9090-11e9-8a56-8c42300e45d1.png)

[2019-06-17 01:08] mzhukovs commented on #25
Yes would be fantastic to use Xamarin UI Test for a Xamarin Forms project for all 3: iOS, Android, and UWP - seems logical. Will this be taken on any time soon?

[2019-06-17 01:25] mikhuang opened #571 "Unable to see Install button on mobile if there are long links in description"
**What App Center service does this affect?**
AppCenter Install of applications

**Describe the bug**
If the commit has a long string download button is not visible

**To Reproduce**
1. Set a long URL in your commit message
2. After building, the install page hides the button, confusing those you work with

**Expected behavior**
To be able to put in long URLs without confusing co-workers.

**Scree

[2019-06-17 08:09] hichemcesar24 opened #572 "d"
**What App Center service does this affect?**
Name of service or sdk with the issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2019-06-17 08:10] hichemcesar24 opened #573 "What App Center service does this affect?*"
**What App Center service does this affect?**
Name of service or sdk with the issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2019-06-17 08:25] derpixeldan commented on #530
@mcmar even though I had to chuckle I think it's not the right place for sarcasm.

We have carefully weight on this decision and won't support a transition experience for Feedback. However, if the feature request becomes popular enough, we're re-considering adding a similar functionality to App Center in the future.

[2019-06-17 08:38] lumaxis commented on #572
@hichemcesar24 Did your cat accidentally sit on the keyboard? 🙂

[2019-06-17 08:38] #572 closed

[2019-06-17 08:38] #573 closed

[2019-06-17 08:41] #478 closed

[2019-06-17 08:44] jagdishnagar commented on #538
We have done integration long back , earlier it was working fine suddenly
it stop working.
Now its working fine but what about those days client is asking about wrong
data reason.

Please find attached app daily session data graph.

On Fri, Jun 14, 2019 at 6:07 AM Yoann Chaudet <notifications@github.com>
wrote:

[2019-06-17 09:53] ishantsagar commented on #194
+1 for the .aab!

[2019-06-17 11:39] dheeraj221b commented on #194
+1 for the .aab!

[2019-06-17 12:13] nrajpurkar commented on #560
@w0mba7, we're taking a look at adding this support for Build. Does that sound like what you are looking for?

[2019-06-17 12:41] nrajpurkar commented on #556
@lbrownell-gpsw Thanks for bringing up this request. This is not possible today, but we'll track at as an improvement for the future.

[2019-06-17 13:26] blanx commented on #543
This topic is related to the new iPadOS and the identifier of the OS

[2019-06-17 14:25] poldz123 commented on #466
I guess no one has taken action to this issue: https://github.com/microsoft/appcenter-sdk-android/issues/933

[2019-06-17 15:34] ngreeney commented on #230
@derpixeldan any ETA on when it might be ready for the public?

[2019-06-17 17:00] lbrownell-gpsw commented on #464
@derpixeldan Not yet.

This is new, thought I'd try creating our first native App Center app, epic fail!

We do have some custom apps in HockeyApp -- for example, Windows apps that install via an .exe, not an .msi, and some mobile SDKs that are in a .zip file, containing frameworks, documentation and sample apps.  We also used to package up build artifacts/logs and save them as custom "apps" as we

[2019-06-17 17:08] lbrownell-gpsw commented on #556
I TAKE IT BACK!  It does work.

When I first enabled github, I clicked on the "accept" button (I think it is) for the specific Enterprise/2FA/SSO repo...and a spinner icon appeared and never went away.  After a long time, I hit the submit button, and, as reported, no access to our Enterprise repos.

After talking to support, I tried it again -- this time, it worked immediately, there were the repo

[2019-06-17 17:08] #556 closed

[2019-06-17 17:52] w0mba7 commented on #560
yup, thanks.

[2019-06-17 18:46] dfbarone commented on #307
@botatoes Yes, I am currently using the HockeyApp to access my AppCenter/HockeyApp builds. At the moment sorting is more important to me than increasing the total number of visible builds. It sounds like this feature request already exists so you can probably close this issue. Thank you.

[2019-06-17 20:43] winnieli1208 commented on #466
Hi @poldz123 - due to other priorities at the moment, we don't have any immediate plans to bring handled exceptions to Android apps. This is something we absolutely hope to implement in the future and I encourage you to give this [feature request](https://github.com/microsoft/appcenter/issues/432) a +1 to help our team prioritize this. Thanks!

[2019-06-17 21:26] LuckyGolfer commented on #10
While the UI for this change apparently allows selecting multiple Distribution groups (imported from HockeyApp), after saving the distribution, only a single distribution group is saved, so this item may not be complete?

[2019-06-17 23:28] botatoes commented on #571
Thanks for bringing this to our attention. I logged a bug and will get this fixed. Thank you!

[2019-06-17 23:31] botatoes commented on #545
Thanks for the suggestion. Will speak with our designers about delaying options.

[2019-06-17 23:33] botatoes commented on #551
Can you go to appcenter.ms and create a support ticket for this? It will give us more details to help troubleshoot.