[2019-08-14 00:41] patniko commented on #864
This is one of the most frequently requested scenarios. We're planning on delivering a free Data tier and real-time device updates before moving on to this scenario, but it'll be coming. Just to clarify

1. End users should be able to create partitions that multiple users have access to read/write all documents to.
2. End users should be able to create partitions that multiple users have access to

[2019-08-14 00:44] botatoes commented on #182
Hi all, sorry for the lack of responses from my end. We are actively working with the SDK team on this. Since we'll be updating a majority of our SDKs to add this functionality, we need to make sure we plan this out correctly.

But rest assured, this is actively being worked on right now. My apologies for not adding info for Distribution on the August iteration plan (missed task on my part).

[2019-08-14 00:55] botatoes commented on #792
@adamKasapakis @kvpt we are actively working on #182. My fault for not adding it to the iteration plan. Very sorry 😭

[2019-08-14 01:43] zek opened #883 "Custom GIT server"
We use a custom gitlab server. Is it possible to use gitlab.company.com as git provider?

[2019-08-14 02:44] m-yukio opened #884 "Extract symbols from .so files"
**Describe the solution you'd like**
A function to extract symbols on the AppCenter side when the obj directory generated when building Android is compressed and uploaded.

**Describe alternatives you've considered**
I tried to build and generate dump_syms command from Google Breakpad repository.
In macOS used for development and CI, dump_syms command that supports only Mach-o was generated, and i

[2019-08-14 03:16] shahmirn commented on #847
We're also seeing the same error. Last three builds failed 'cause of SQLite error.

[2019-08-14 05:20] knightmeister opened #885 "Ability to run .NET code as part of pre or post build task"
**Describe the solution you'd like**
As I understand it at present, pre & post build scripts need to be Bash or Powershell (iOS & Android, UWP respectively). It would be great if we could also run .NET Core .dlls or maybe even .NET .exes during this process.

**Describe alternatives you've considered**
I can do this at present with Azure DevOps with the build pipelines. It would be great to do it

[2019-08-14 05:42] DennisPan commented on #885
@knightmeister Which task in Azure DevOps do you use?

[2019-08-14 05:47] knightmeister commented on #885
@DennisPan I'm in the process of setting it up, but it's right there in the tasks list at the top:

![image](https://user-images.githubusercontent.com/1528425/62997205-d512af00-beaa-11e9-87f1-d36836ab8263.png)

[2019-08-14 05:53] DennisPan commented on #885
@knightmeister I assume that's using the .NET Core CLI? Have you tried running `dotnet` in pre $ post build scripts?

[2019-08-14 06:03] DennisPan commented on #847
Quick update - this is still under investigation. We are testing rolling back recent changes and see if that removes the intermittent failures.

[2019-08-14 07:17] brcinho commented on #698
@ranterle Related to inability for app center to de-obfuscate the stack trace based on the mapping.txt uploaded.

[2019-08-14 07:18] brcinho commented on #698
#458

[2019-08-14 07:47] JuliusH93 commented on #847
Same problem here in DevOps Pipeline for our Xamarin.iOS Build.
The first build failing with this error was at 31.7.2019, 16:26:31.

obj/iPhone/Debug/actool/cloned-assets/Assets.xcassets : error : CoreData: error: (6922) I/O error for database at /Users/vsts/Library/Developer/Xcode/UserData/IB Support/Simulator Devices/D4160B7E-E418-4671-B6B2-F9015471F3A3/data/tmp/Untitled-Loih3S2i.uicatalog.  SQL

[2019-08-14 08:25] adamKasapakis commented on #182
@botatoes Thanks for the update, should we expect it in August then?

[2019-08-14 08:27] adamKasapakis commented on #792
@botatoes Thank you for updating the iteration, should we expect it in August then?

[2019-08-14 09:10] markghayden opened #886 "Submitting MacOS app releases"
**What App Center service does this affect?**

Distributing apps for MacOS

**Describe the bug**

Unable to submit a MacOS release to AppCenter

App Center Add Release for MacOS Beta apps says to submit a .app.zip file.  We have been submitting MacOS apps in .pkg files to HockeyApp and Apple MacOS app store for years.

The App Center documentation says that we can find .app.zip file in our Xcode-g

[2019-08-14 10:00] alexander-w-o-s opened #887 "Build for React Native Android - new step/task "Running jetifier" (AndroidX, React-Native 0.60)"
**Describe the solution you'd like**
Add new step/task "Running jetifier" in App Center Build services for React Native Android.

React Native 0.60 has been migrated over to AndroidX.
This is a breaking change that makes impossible using App Center Build for React Native Android without additional configuration.

Official React Native blog post about AndroidX breaking change in React Native 0.60 -

[2019-08-14 10:35] jinyang1994 commented on #494
Me too, Crash report for React Native is not working in Android...

[2019-08-14 10:58] derpixeldan commented on #886
@markghayden we're aware of this and looking into supporting .dmg and .pkg soon. I'll keep you posted.

[2019-08-14 11:05] markghayden commented on #886
It would be helpful if you could document this so that people are not left wondering whether it is or isn't supported.  Also, it seems like an unnecessary use of our time make a transition to AppCenter (with warnings that HockeyApp is going to be closed in 100 days) when AppCenter is half-done.  Ie, doesn't support the standard MacOS package formats.

[2019-08-14 11:18] derpixeldan commented on #886
@markghayden I agree and I apologize. Currently a lot of things are running in parallel and in this case it didn't end up being done around the same time. Now that the horse has bolted we're focusing to support it on App Center.

[2019-08-14 11:37] brcinho opened #888 "Can not set up Azure Dev Ops as bug tracker (automatically transferred HockeyApp account)"
For both my colleague and me, we can not hook Azure Dev Ops as bug tracker service for Android project
We are both admins of the app in AppCenter
I am admin of the project on Azure Dev Ops, he is admin of the whole organization in Azure Dev Ops, so the issue shouldn't be there even if we receive error that we don't have permissions
Maybe the issue lies in the fact that our accounts initially exist

[2019-08-14 11:38] brcinho commented on #888
We used steps from https://docs.microsoft.com/en-us/appcenter/dashboard/bugtracker/

[2019-08-14 11:40] brcinho commented on #888
I succeed to list the projects and when I get to final step to click "Add" I get the user 'XXXXXXXX-7a39-61c3-b81c-XXXXXXX' is not authorized to access this resource.

[2019-08-14 11:50] onasipim opened #889 "Custom date range selection in analytics"
**Describe the solution you'd like**
Select custom date range from a calendar popup to be used in the analytics overview and events view. For example it should be possible to select a from and a to date, so that users can make a selection for the past three days, or the past two weeks, or all available data.

[2019-08-14 12:23] meliheran commented on #30
+1 please !

[2019-08-14 12:38] bkali opened #890 "Cordova app build support in app center"
**Describe the solution you'd like**
It will be great if we can build cordova apps online at app center. Ideally we should be able to upload a zip file using command line and trigger the builds to generate builds targeting iOS, Android and Windows mobile platforms.

**Describe alternatives you've considered**
 https://build.phonegap.com/ has a similar service that breaks frequently and it lacks pr

[2019-08-14 13:10] aminpinjari opened #891 "Error: Cannot prepare UI Test artifacts using command: mono (Android Studio)"
I have imported project into App Center,
When I try to build with normal process it builds successfully,

But whenever I tried to build with "Test on a real deviceFree"
Build fails with below error

[Preparing tests... failed.
Error: Cannot prepare UI Test artifacts using command: mono /Users/vsts/agent/2.155.1/work/1/a/GeneratedTest/packages/Xamarin.UITest.3.0.3/tools/test-cloud.exe prepare "/Use

[2019-08-14 13:15] rishikeshsr opened #892 "Distributing multipe Android apps via Appcenter with Same Playstore account"
**What App Center service does this affect?**
Dashboard

**Describe the bug**
Not able to distribute multiple apps from Appcenter linked to a single account.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to AppCenter ==> Distribute ==> Store
2. Click on Link ==> Connect to store ==> Upload JSON
3. Enter package name after uploading.
4. See error - Package you entered exists, but not acc

[2019-08-14 14:10] #665 closed

[2019-08-14 14:11] #720 closed

[2019-08-14 14:38] victorbondar commented on #530
The companies of Avistar and InFocus have many products that relays on feedbacks including Windows/IOS/Android/MacOS OSes. This was one of the key things that supports products real life stability.
If this feature removed the most of the enterprise products will lose this kind of feedbacks including automated logs/dumps reporting in case of failure on customer's side.

Most of the options given by

[2019-08-14 14:58] meliheran commented on #792
[#30](https://github.com/microsoft/appcenter/issues/30) please

[2019-08-14 15:06] DennisPan commented on #847
For folks who have been running into this, I'd appreciate if you can give this a try:

1. Add post clone script in your repo: https://docs.microsoft.com/en-us/appcenter/build/custom/scripts/#post-clone
2. Add `xcrun simctl erase all` in the script
3. Re-save the branch configuration so that the script gets picked up
4. Queue a new build

This fixed a similar issue from [other users](https://stacko

[2019-08-14 15:27] SOliasS commented on #864
@patniko Sounds perfect.
Any indications when it might be available?
Would like to develop our new application with this, if the timing would allow it.

[2019-08-14 15:38] Oddj0b commented on #774
@anton-kolesnyk if you don't sign your build it will work for simulators.

[2019-08-14 15:41] Oddj0b commented on #670
@MrAusnadian And the retry option should be in Azure DevOps or as part of the test script, just asking to be sure?

[2019-08-14 16:06] PureWeen opened #893 "Android tests occasionally seem to crash from internal exceptions not related to our application"
**What App Center service does this affect?**
App Center Android UI tests

**Describe the bug**
Occasionally we are seeing crashes on random UI tests with crash logs that don't seem to correlate to any of our code

https://appcenter.ms/orgs/xtc-Xamarin-Forms/apps/AndroidControlGallery-1/test/series/pull-7032/runs/b826dc16-ee86-49f1-b5c4-0367526b5359/170-2-0/18824604-e78c-49aa-afc5-e384ed8305e6/log

[2019-08-14 16:54] tomduncalf commented on #200
Also interested in this – for now can I confirm there is no issue with having hundreds/thousands of builds for an app in AppCenter?

[2019-08-14 16:55] tomduncalf commented on #200
Also interested in this – for now can I confirm there is no issue with having hundreds/thousands of builds for an app in AppCenter?

[2019-08-14 17:12] TylerHartzheim opened #894 "iPhone unable to install apps via appcenter"
**What App Center service does this affect?**
Mobile appcenter website.

**Describe the bug**
I have one co worker that is unable to install .ipa files to their iphone ONLY from appcenter. If they go to Hockeyapp, they are able to install. The user has their device registered on the site.
I've tried signing in to my account as well, and it still does not work.
When the user clicks install, it brin

[2019-08-14 17:13] King-of-Spades commented on #665
Since this was a bug report, I want to clarify that if further help is needed you can reach out to AppCenter support by logging into https://appcenter.ms/apps and clicking the chat icon in the lower right corner of the screen. https://www.screencast.com/t/uF8S5o0o0

[2019-08-14 19:24] mylesbarros opened #895 "Release Notes – Markdown Support"
**What App Center service does this affect?**
App Center Release Notes

**Describe the bug**
App Center release notes functionality doesn't appear to match HockeyApp. Specifically HTML break tags aren't supported and standard Markdwon links don't seem to be parsed correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Add release notes in HockeyApp with Markdown Links or <br/> statements

[2019-08-14 19:26] mylesbarros commented on #895
Here's the (slightly edited) Markdown source if it helps:

[code]

[2019-08-14 19:35] james1301 opened #896 "WPF support for Push Notifications"
Are you going to support Push Notifications for WPF? Currently we use PubNub for WPF and App Center for our Xamarin Forms app, but would so good just to use App Center for both.

[2019-08-14 19:37] james1301 opened #897 "WPF set User on SDK for Analytics"
**Describe the solution you'd like**
WPF set User on SDK for Analytics, like you do for other application types.

**Describe alternatives you've considered**
None.

**Additional context**
N/A

[2019-08-14 19:37] #896 closed

[2019-08-14 19:39] james1301 opened #898 "WPF Support for Push Notifications"
**Describe the solution you'd like**
Push Notifications for WPF applications

**Describe alternatives you've considered**
Currently use PubNub.

**Additional context**
Currently we use PubNub for WPF and App Center for our Xamarin Forms app, but would be great to use App Center for both. I think this would be a massive boost for Microsoft Developers also, for a good way to implement Push Notificat

[2019-08-14 19:41] nrajpurkar commented on #890
Thanks for the feature request @bkali! We'll keep this open to track the future interest.

[2019-08-14 20:53] keithrowe commented on #865
I'm seeing the same sequence of exceptions. Tried AppCenter.Start( ) for the first time. We also have a WPF app packaged in MSIX.

[2019-08-14 21:31] jwhiteDev commented on #758
Thanks for reporting this, ill take a look.

[2019-08-15 00:37] hamswan commented on #889
@onasipim Thanks for reaching to us. The Analytics Overview on Appcenter has a basic view. If you export the Analytics data to Application Insights, you can also run your own custom query and have a wider range of options for analysis.
Refer to our documentation for export -
https://docs.microsoft.com/en-us/appcenter/analytics/export

[2019-08-15 00:42] nrajpurkar commented on #863
Hi @tedgonzalez, two questions to hopefully solve this:

1. Are you an admin for the org? You need to grant App Center permission to the org and authorize the OAuth connection.
2. If you are an admin, please make sure you have granted App Center permission to the org in your GitHub settings. Navigate to your [Application Installations](https://github.com/settings/installations) > Authorized OAuth

[2019-08-15 01:23] MaximePost commented on #190
To me this is not a suggestion but a blocker issue. This is possible in HockeyApp and should be possible in AppCenter.
We have tens of thousands of users without app center accounts for which it is not possible to create app center accounts.
As long as this is not fixed we can't migrate any of all our apps.

[2019-08-15 01:46] uthens opened #900 "How we can change or forward or custom on PUBLIC URL ?"
**Describe the solution you'd like**
As you know "App can be downloaded by anyone with link access options" is great, but generate link is so long.
sample on our project :
https://install.appcenter.ms/users/xxxxxxteams/apps/yourappname/distribution_groups/production

**Describe alternatives you've considered**
How we can change OR forward OR custom on PUBLIC URL ?
Such as..

**FROM :** https://ins

[2019-08-15 02:51] dj-dev opened #901 "Bug tracker will not create tickets when number of crashes setting > 1"
**What App Center service does this affect?**
Bug tracker

**Describe the bug**
The bug tracker does not create tickets if the 'Number of crashes' setting is > 1.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Target App > Settings > Services > Bug tracker
2. Click on Configure (in our case, we already have the bug tracker integrated with Jira)
3. Set 'Number of crashes' to any number

[2019-08-15 03:27] tedgonzalez commented on #863
Yes I am admin and yes I have AppCenter in Authorized OAuth apps and Authorized GitHub app. Note that my organization repositories are shown when connecting with AppCenter github app for the first time. I had to use this link to repeat that process
https://appcenter.ms/github-app/setup/repositories?installation_id=<redacted>&access_token_id=<redacted>5&github_user_name=tedgonzalez&github_user_id=<

[2019-08-15 03:32] dj-dev opened #902 "Add feature for manually creating bug tickets"
**Describe the solution you'd like**
Add a feature for manually creating bug tickets, if a bug tracker system is linked to an app.

Suggest making this work similar to the equivalent feature in HockeyApp where:

1. There is a UI associated with a crash group that shows a "Tracked" tag that indicates if the crash group is linked to a crash ticket:
![image](https://user-images.githubusercontent.com/

[2019-08-15 05:27] myokeeh commented on #425
Almost a year ago, ARM64 support was added to UWP.

[2019-08-15 05:53] turanuk commented on #615
Right I understand that the process does not complete on App Center which is the issue we are investigating right now. I think what I'm trying to say is that although the process does not complete, you should be re-directed to the App Center website where the device shows up and at which point you should be able to extract the UDID for inclusion in your provisioning profile. Are you seeing that pa

[2019-08-15 05:56] turanuk commented on #866
Hey Marcos, let's continue this part of the discussion on the support case that we have open right now. We are investigating both your issue on the support case as well as the broader problem in parallel.

[2019-08-15 06:17] KSemenenko opened #903 "Ability to run UnitTests after compiling the project."
Ability to run Unit Tests (not UI) after compiling the project.
And also access the test results.

Now we run UnitTests in a different environment. and if their success compile the build in AppCenter.
It would be nice for UnitTests to work in AppCenter too.

And it would be nice to see information on them, like code coverage, execution time and all that.

[2019-08-15 07:18] derpixeldan commented on #792
@adamKasapakis we might finish the work this month but the SDK release will be next month.

[2019-08-15 09:47] jfversluis commented on #847
@DennisPan I have talked to a customer who had this problem and recommended this solution. It seems to work for him.

[2019-08-15 11:40] thehoglet opened #904 "ServiceHost/Named Pipe Not Listening"
**What App Center service does this affect?**
Microsoft.AppCenter.Analytics
Microsoft.AppCenter.Crashes

**Describe the bug**
Configuring and starting AppCenter before starting a WCF ServiceHost seems to interfere with a named pipe endpoint. Clients report that no endpoint is listening at net.pipe://...

Switch the start order around (open ServiceHost first, then start AppCenter) and all seems to

[2019-08-15 13:19] andrejacobs opened #905 "More information about which branch and commit a Release came from"
**Describe the solution you'd like**
On the "Distribution / Releases / Individual Relase info page" it would be very handy to see exactly from which branch and commit the release was build and distributed from.

At the moment the Release info only shows an MD5 checksum.

I know that technically you can do a release by uploading a binary, but our workflow is to always do a release by clicking the D

[2019-08-15 14:23] dominicmh opened #906 "Different release pages when set to "Automatically manage devices""
**Describe the solution you'd like**
When having App Center automatically manage devices for testers, I'd like to have an option to get different release links for each distribution group or a switch on the releases page.
If a tester is in two distribution groups he doesn't know which build to install.

**Describe alternatives you've considered**
* Have the testing coordinator tell testers which b

[2019-08-15 14:30] lklepner commented on #814
@botatoes Have you had a chance to discuss this problem with the codepush developers? If so are there any updates you can share with us?

[2019-08-15 14:42] zek commented on #501
I have the same issue and I dont have these files on app folder.

[2019-08-15 15:59] Nikp2003 commented on #855
THANK YOU! I downgraded like you said and it immediately resolved the issue!

[2019-08-15 16:11] uthens commented on #900
We will setup on our domain and forward to https://install.appcenter.ms/users/xxxxxxteams/apps/yourappname/distribution_groups/production

[2019-08-15 16:12] #900 closed

[2019-08-15 16:33] King-of-Spades commented on #340
Internal tracking id for this issue: 52641

[2019-08-15 16:51] olegfresh commented on #30
Can't build Xamarin.iOS with a Siri Shortscuts extension. What's the latest on supporting it?

[2019-08-15 16:56] moshegutman opened #907 "WPF version not reported correctly when using ClickOnce"
**Describe the solution you'd like**
It looks like the WPF analytics module is using the Assembly file version for "version" when viewing data in App Center.

**Describe alternatives you've considered**
I would like it to use the ClickOnce publish version, or better yet, let me set the version myself.

**Additional context**
ClickOnce is an installation technology for deployment of WPF apps.

[2019-08-15 17:19] DennisPan commented on #847
Great - thanks @jfversluis !

For everyone who have been getting this intermittent failures, if you are still seeing it (with or without the workaround above), please let me know. We've shipped a new image which potentially improves the case here. Would appreciate to know how things are working for everyone, especially if you don't apply the workaround above.

[2019-08-15 17:23] winnieli1208 commented on #857
Hi @jrau14 thanks for the detailed report. We should show some app specific information in crash reports. Do you mind starting a support thread in App Center via the blue chat bubble or the question mark icon so our team can take a closer look? Thanks!

[2019-08-15 17:28] winnieli1208 commented on #876
Hi @chrisforte - can you start a support ticket via the blue chat bubble on the bottom left or from the question mark icon on the top right in App Center? Our support team can help you out there.

Thanks!

[2019-08-15 17:46] reality24 commented on #615
@turanuk No that part passes. But why do I need to extract the UUIDs?  This device has already been added in HockeyApp and we had no problems previously. We've been testing with these same devices for ever. Only when we move to AppCenter we have this problem.

[2019-08-15 19:30] floele opened #908 "WinForms build support"
I noticed that WPF build support has already been requested but did not find a request for WinForms yet (https://github.com/microsoft/appcenter/issues/85).

WinForms should have build support as well. I tried the app center the first time today and I don't really see much value for a WinForms/WPF app currently without these time saving features.

[2019-08-15 19:41] turanuk commented on #615
Sorry I had missed that you were using an Enterprise provisioning profile, in this case there isn't a difference, but also it means that the App Center device registration flow definitely isn't needed. Can you open a support case where we can get more information about your app and the profile being used?

[2019-08-15 20:16] winnieli1208 commented on #888
Hey @brcinho - have you moved your HockeyApp apps to App Center? There are some settings that can't be managed or changed in App Center until you officially migrate your apps over: https://docs.microsoft.com/en-us/appcenter/transition/moving/

Let me know if that works!

[2019-08-15 20:24] jwhiteDev commented on #758
@archerfob to confirm, the second build does not have In App Updates enabled, but the prompt shows anyways?

[2019-08-15 21:53] amchew commented on #901
Hi @dj-dev, thanks for letting us know! This is a known bug and we've investigating the cost and work to do now. Will keep you updated.

[2019-08-15 21:57] nrajpurkar commented on #745
App Center doesn't support building WPF apps today. We only support building [UWP apps in C#](https://docs.microsoft.com/en-us/appcenter/build/windows/).

[2019-08-15 22:51] dj-dev commented on #901
Thanks @amchew . We are very keen to have this fixed since the bug tracker is not working at all for us currently. We do not want crash tickets created for edge cases, so we can't use the bug tracker with the threshold set at 1.

[2019-08-16 00:02] blparr commented on #542
Hi @zerglyn , are you still experiencing this issue?

[2019-08-16 00:23] reality24 commented on #615
@turanuk  Is there a customer support number, or can we hop on a video call to show you exactly what we are experiencing here at Logitech?

[2019-08-16 00:27] HarlowBurgess commented on #847
Still failing with same error. Now failing every time. 7 failed builds in a row.

[2019-08-16 00:48] DennisPan commented on #847
@HarlowBurgess Is that with or without the [workaround](https://github.com/microsoft/appcenter/issues/847#issuecomment-521286394)? Could you also reach out to support so that we can take a deeper look at your builds?

[2019-08-16 01:04] archerfob commented on #758
Hi James,

Thanks for the considering the bug. I have reported this on App Center
console and it was addressed reproducible by Surjyo on 25 July. Also Dmitry
said SDK team fixed it and asked me to wait for next release on 30 July.
Could you verify this is valid? Thanks.

Regards,
Archer

On Fri, Aug 16, 2019 at 4:27 AM James White <notifications@github.com>
wrote:

[2019-08-16 01:05] amchew commented on #830
Hi @rodbassatgatech, we believe that you're seeing this error because there may be something missing in your **Entitlements.plist** file for build type and device for Debug/Release and iPhones/iPhone simulator combinations. May I check if you have done this step: https://docs.microsoft.com/en-us/appcenter/sdk/auth/xamarin#add-keychain-sharing-capability for all the Debug/Release and iPhones/iPhone

[2019-08-16 01:30] atrauzzi commented on #745
I'm building a new msix project right now?

[2019-08-16 01:35] turanuk commented on #615
Yeah so please follow this process, which will open a ticket where we can gather more information about your app and investigate further.

https://docs.microsoft.com/en-us/appcenter/general/support-center#contact-us.

[2019-08-16 04:04] botatoes commented on #874
Thanks for the suggestion. We are working on future improvements to the App Center stores experience and will keep this in mind as a fix when we touch the codebase.

[2019-08-16 04:06] botatoes commented on #894
Thanks for letting us know. Please create an intercom ticket on appcenter.ms so we can get some info to help. To create a ticket, go to the ? on the top right corner or the blue button on the bottom right corner.

[2019-08-16 04:06] #894 closed

[2019-08-16 04:07] botatoes commented on #895
Hi, App Center only support markdown right now. I will add HTML support to our backlog for tracking purposes.

[2019-08-16 04:08] botatoes commented on #905
Thanks for the feedback. Can you share exactly what you would like to see in the details?

[2019-08-16 04:10] botatoes commented on #906
Hi, I'm currently working on improvements to the tester experience. This will be addressed in the improvements which will allow private distribution group links.

[2019-08-16 05:12] HarlowBurgess commented on #847
Without workaround. All iOS builds continue to fail. Not sure how to reach out to support. The docs at https://docs.microsoft.com/en-us/appcenter/general/support-center say to go to this GitHub (which I have done) or to "click on the **Contact us** option in the question menu on the top right of the portal page", only such an option does not exist.

[2019-08-16 05:17] DennisPan commented on #847
@HarlowBurgess Could you give the workaround a try?

As for support, on the same page you linked:

[2019-08-16 05:43] HarlowBurgess commented on #847
The workaround was successful. Thanks!

[2019-08-16 07:02] derpixeldan commented on #882
@markghayden please reach out to us in support so we can better investigate the problem.

[2019-08-16 07:25] brcinho commented on #888
That app wasn't transferred from HockeyApp, it was newly created in AppCenter, the user account on the other hand was transferred and that is what could be causing the issue. Can someone from your support team flag the account as Azure AD account in AppCenter (instead of being marked as HockeyApp account) even if I loose the links in AppCenter to things in HockeyApp.

We will not use "Transfer app

[2019-08-16 07:36] derpixeldan commented on #888
@brcinho whether your account originates from HockeyApp or not has nothing to do with Azure DevOps. It simply is a flag that shows or hides certain functionality from the UI. However, your problem is not connected to your account but to the app level.

Please reach out to us in support so we can better investigate the issue.

[2019-08-16 08:01] mylesbarros commented on #895
Okay, cool, thanks for looking into it!

Any update on the URL parsing spilling beyond `[]()` pairs into `[]()[]`?

[2019-08-16 08:10] brcinho commented on #888
Hi @derpixeldan Where to reach you in support? I already utilized the chat button in AppCenter to report this issue and currently am participating in one thread with support. Is that what you meant?

[2019-08-16 08:18] derpixeldan commented on #888
@brcinho yes, that's what I meant. I found your ticket and will follow up there.

[2019-08-16 09:08] ruieduardosoares commented on #182
From what i understand and have red, the **"in-app updates"** of an app for a **given distribution group** is tied up to the default browser using cookies and when an update from a version that comes from **HockeyApp** to **AppCenter** is made and the new version from **AppCenter** has the **Appcenter Sdk**, the in-app updates are lost because the browser doesnt have a cookie that identifies the d

[2019-08-16 09:48] maurjiu commented on #574
+1

[2019-08-16 09:49] jvandenaardweg opened #909 "Before building, first check for valid connection to App Store Connect"
**Describe the solution you'd like**
It would be great that, before building, testing and releasing the build, to check if the connection to App Store Connect is still active. I've already had several times that the login to App Store Connect is expired for some unknown reason. You only get that warning at the end of a build, which is in my case 15-20 minutes later.

It's better to know this upfro

[2019-08-16 10:44] artem1989 commented on #37
How to set up company gitlab account with AppCenter? It only follows with my private...

[2019-08-16 12:16] Oddj0b commented on #892
@rishikeshsr thanks for reporting the bug, I'm working with the product team to prioritize it.

[2019-08-16 12:18] annakocheshkova commented on #865
Hi there @PieEatingNinjas @keithrowe though we didn't manage to reproduce this, looks like there is an issue. I created a ticket to investigate this, we will keep you updated on the progress.

[2019-08-16 12:26] annakocheshkova commented on #865
I'm a bit conserned of a way you call `trackEvent`. It requires passing a dictionary while what you pass might be interpreted as an array.
From official docs:
`Analytics.trackEvent('Video clicked', { Category: 'Music', FileName: 'favorite.avi' });`

[2019-08-16 13:10] MattWard-Ideagen commented on #125
Agree, we could really use this feature as I don't want to be uploading internal test track builds  manually and we want to automatically deploy on merges into our testing branch and have the build available ASAP on a range of test devices, not hours or days as implied from Google response when queried where our build was.

"It looks like your closed test is still processing, please note this can

[2019-08-16 13:10] mylesbarros commented on #909
This is unrelated to the actual feature request but [fastlane](https://fastlane.tools), an open-source mobile build automation tool, handles this really well by managing your App Store Connect session and automatically logging back in if it's broken.

[2019-08-16 13:22] Oddj0b commented on #892
@rishikeshsr Can you check if the service account in the Google Play APIs is an owner? And that you have granted access to the API in Google Play Console?

[2019-08-16 15:05] Dnld commented on #814
@botatoes Has there been any progress on fixing this issue, or allocating resources to look into the problem?  Thank you.

[2019-08-16 15:12] jwargo commented on #616
@adrianknight89 thanks for pointing that out, I'll get this fixed.

[2019-08-16 15:16] jwargo commented on #872
@jrahma as we've explained before, please use App Center support to resolve issues using App Center. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/ap

[2019-08-16 15:56] TylerHartzheim commented on #894
Hello!
What do I click to make an intercom ticket
![image](https://user-images.githubusercontent.com/18602983/63180719-b4aa3800-c003-11e9-8e5c-0ea96af30cc9.png)
I dont see any option like that

[2019-08-16 17:13] ekrapfl commented on #814
I would just like to put in that I am investigating using CodePush for my company for an Ionic/Cordova app, and I am seeing the same issues pop up fairly frequently (really slow update checks, and frequent 403 errors). The service is pretty awesome, but it is a non starter if we have this sort of performance and reliability issues.

Is the major upgrade that is being worked on planning on addressi

[2019-08-16 17:59] dbquarrel commented on #615
You guys need to have an easier and more straight forward path for Hockey migrating people to install these configuration profiles. Apple has made it harder for security purposes to install these. But it's non-obvious to non-technical testers how to install these. Right now if you are migrating from Hockey you have a Hockey configuration profile and to get the new one, if you go to your user page

[2019-08-16 18:06] turanuk commented on #615
Thanks @dbquarrel I am cc'ing the Daniel who is the PM for our HockeyApp transition to pass along this feedback cc @derpixeldan

At a high level, devices are actually not ported from HockeyApp on transition, so I'm surprised that you go to App Center and see your device registered in the system already. We are planning work to merge/improve the install portal so this flow could potentially be addr

[2019-08-16 18:54] MrAusnadian commented on #670
@Oddj0b I would like it to be an option in the App Center test UI.

[2019-08-16 19:52] JakubOleksy commented on #789
Is this still an issue?

[2019-08-16 20:03] JakubOleksy commented on #814
@bluto56's team is currently working on this and he can offer a bit more on timeline, we're getting close.

[2019-08-16 20:05] davetownsend commented on #866
@turanuk is this a public a support case we can follow?  Our team is facing same issue with all our apps on iOS 12.4.

[2019-08-16 20:15] JakubOleksy commented on #907
@hamswan FYI

@moshegutman might be better to put this on SDK repo itself:
https://github.com/Microsoft/AppCenter-SDK-DotNet

[2019-08-16 20:39] turanuk commented on #210
Hey so you're reporting two issues.

1. The first one with the character limit of 5000 I wasn't able to reproduce in the UI. I generated a 5000 character long random string, then attempted to save it and I was able to do in both the edit release and the create release flows. Your feedback is well taken around a potential UI indication to show you how many characters are left though. cc @blparr for

[2019-08-16 20:42] turanuk commented on #866
It is not a public support case given the issue Marcos is experiencing we don't believe is related to this issue. This particular issue is actively being investigated and we will update this GitHub issue once it is resolved.

[2019-08-16 21:08] moshegutman commented on #907
@JakubOleksy Done!

[2019-08-16 21:09] hannta commented on #398
I started to use appcenter before there was github app available, now im unable to connect github app to my existing appcenter app 😢

[2019-08-16 21:10] brminnick commented on #792
Re #632, #796, #769:

Builds using .NET Core 3.0 are still failing, despite updating to the Latest Stable build agent, Mono v6.0, because App Center Build is using .NET Core 2.2 to restore NuGet Packages.

<img width="576" alt="Screen Shot 2019-08-16 at 2 04 39 PM" src="https://user-images.githubusercontent.com/13558917/63198228-e4226a00-c02e-11e9-8243-5502dae27dfa.png">

## Recommended Fix

App C

[2019-08-16 21:26] nrajpurkar commented on #769
@toomasz this has been added in. Thanks for your patience in getting this supported!

[2019-08-16 21:26] #769 closed

[2019-08-16 21:28] nrajpurkar commented on #632
We've updated to Xamarin.iOS 12.14. Thanks for your patience in getting this supported!

[2019-08-16 21:28] #632 closed

[2019-08-16 21:29] nrajpurkar commented on #194
We've just shipped .aab support for Xamarin.Android apps! Give it a try and reach out with any questions or feedback.

[2019-08-16 22:03] dhei commented on #865
Hey @PieEatingNinjas,

Thanks for reporting this issue with detailed repro steps. I was able to follow it through and got a repro with the same `System.UnauthorizedAccessException` error.

I believe the error is caused by a permission issue with the sandboxed MSIX-packaged WPF apps. If the app is not using MSIX, it should be fine.

[code]
WPF SDK's [DefaultApplicationSettings class](https://github

[2019-08-16 22:15] winnieli1208 commented on #897
Thanks for the feature request! We plan to add user ID support for WPF apps in next few months. I'll let you know when I have a more exact ETA. Thanks!

[2019-08-16 22:48] martinbonaciugome opened #910 "ErrorReport is missing getAppVersionName that was in CrashDetails in HockeyApp"
With HockeyApp, for our own analytics, we used CrashDetails.getAppVersionName() to discern the version that crashed when an update is released to our App, and user crashed in the previous release. Is there any way to know which version generated the report in AppCenter?

[2019-08-16 23:32] martinbonaciugome commented on #910
i see it in getDevice

[2019-08-16 23:32] #910 closed

[2019-08-16 23:36] JakubOleksy commented on #910
Yep, you can find it here for exampe:

https://github.com/microsoft/appcenter-sdk-apple/blob/bdbc01cb8607a57fcf2d8d0abbfd731f99db4fcb/AppCenter/AppCenter/Model/MSDevice.h#L68

[2019-08-17 00:01] andresesfm commented on #194
When trying to upload a .aab using fastlane but got the following error:
[code]
I haven't found documentation as of what to change to make it work. Any suggestions?

[2019-08-17 00:33] adrianknight89 commented on #749
@jwargo Can I get a response from the team? Is there any workaround I could use right now? I can't go to production knowing that tapping on notifications does not work.

[2019-08-17 01:47] adrianknight89 commented on #749
I'm going to close this one since a duplicate (https://github.com/microsoft/appcenter-sdk-dotnet/issues/875) exists in another repository.

[2019-08-17 01:47] #749 closed

[2019-08-17 07:28] jrahma commented on #789
Problem is resolved

Thank you

[2019-08-17 07:28] #789 closed

[2019-08-17 09:00] Simba-Mupfunya commented on #182
@ruieduardosoares It also happens on some devices with the app installed through the AppCenter public link (i.e one public distribution group installer to multiple in-house devices) and no HockeyApp previous relation. The problem is, you do not know exactly why this goes on hence some truth into what you have suggested concerning cookies, BUT wont explain the aforementioned situation and my assump

[2019-08-17 10:28] olgv commented on #866
We have the same problem here, using HockeyApp with an Enterprise Apple Dev. account mainly to distribute iOS apps.

In the middle of a deployment phase now we are cut out of this basic function.
Imagine explaining to the client that the new AppCenter platform we transited from HockeyApp which is supposed to be better does not allow us to deploy the latest update, days before their event.

I can't

[2019-08-17 14:30] EmilAlipiev commented on #902
this is a must feature. please add this as priority. thank you

[2019-08-17 16:27] zabirauf commented on #224
@Craigson were you able to solve this problem? I'm running into the same issue. @nrajpurkar I've also contacted the help using the blue button but no response.

[2019-08-18 01:56] andrewmorris-dev commented on #574
+1

[2019-08-18 15:36] EmilAlipiev commented on #194
quick question: i see that there is an option to set create bundles in the Appcenter UI but should we also adjust Andorid.csproj file having aab tag like suggested by @dansiegel

[2019-08-18 22:21] nrajpurkar commented on #194
@EmilAlipiev yes, when you have that App Center will detect that setting and automatically enable building the AAB for Xamarin.Android apps

[2019-08-18 22:26] shwanton commented on #158
Now that there is support for [OnPrem Gitlab](https://github.com/microsoft/appcenter/issues/37#issuecomment-514367080), it would be great to have OnPrem Enterprise Github support. There aren't any CI/CD solutions for mobile apps that support enterprise Github (without also installing the Enterprise version ala CirclCI) so AppCenter would be the obvious choice.

[2019-08-18 23:46] beeradmoore opened #911 "Android AAB settings showing up for iOS solution"
I have a Xamarin.Forms app but attached in the screenshot is the iOS build config using the iOS csproj, but the option to enable Android App Bundles is displayed. If the build config knows its a Xamarin.iOS project then this should not be available.

![appcenter_ios_aab](https://user-images.githubusercontent.com/904737/63231960-4d3ff280-c266-11e9-9870-20989c92acca.jpg)

[2019-08-19 00:07] SuicideLeaf opened #912 "Mouse-up outside of the distribute wizard dismisses the wizard"
**Describe the solution you'd like**
This is a small, niggly annoyance when doing manual distributions

When distributing a build and stepping through the wizard, quite often on step # 2 (Notes) I will highlight the pre-filled commit notes and replace them with a list of changes. When highlighting, it is common to drag from the right-to-left and release the mouse button. However since the edge of

[2019-08-19 00:12] DennisPan commented on #911
Definitely a bug 😅 Thanks for reporting this @beeradmoore ! We will address this soon

[2019-08-19 05:15] turanuk commented on #866
Hey @olgv can you open up a support case? We do not believe this impacts enterprise provisioning profiles so would love to get a closer look at your setup. You can let support know to route to "Distribution" and link to this GitHub conversation.

To be clear, this was working and was tested but we are trying to understand why it stopped as nothing changed on our end. As I mentioned previously I wo

[2019-08-19 05:25] DennisPan commented on #37
@artem1989 Could you help me understand what do you mean by "company gitlab account"? Are you referring to self-hosted GitLab? If so, it is expected that this isn't supported yet, and we are working on that support

[2019-08-19 05:45] mzhukovs commented on #574
@Oddj0b things are heating up!

[2019-08-19 06:54] ariniastari commented on #262
I might consider subscribing the test platform if it supports detox.

[2019-08-19 08:49] GutteApps commented on #262
We would also love to see Detox support on App Center.

[2019-08-19 09:12] artem1989 commented on #37
Yes, I meant on-prem gitlab e.g. "main.gitlab.mycompany.com"

[2019-08-19 09:42] james1301 commented on #897
Thanks @winnieli1208.

[2019-08-19 10:23] iiec1 commented on #32
This is a very important function. I'd like it to be
developed soon!

[2019-08-19 10:32] maxxkrakoa commented on #283
We would like to get a better understanding of your test suite, so can you share a link to a recent test run so we can have a closer look? Alternatively start a support ticket via the blue chat bubble on the bottom left or from the question mark icon on the top right in App Center?

[2019-08-19 12:02] artem1989 commented on #37
When is it approximately expected?

[2019-08-19 12:05] jayanths469 commented on #287
I am facing the same issue , is there any solution for the same ? this is blocking our test execution on App center.

[2019-08-19 12:06] mkubista commented on #664
I agree with @sseyod
Im using native app most of the time when interacting with HoskeyApp.
The build upload isn't much pain on our main project - it is using automated build scripts, which uploads builds automatically with symbols and changelog.
But we have other small projects which are distributed manually and Im not using anything else but Native Mac App.

Also Crash browser is much much better

[2019-08-19 12:06] alefurman opened #913 "iOS app distribution from Build screen fails with GATEWAY_TIMEOUT error"
When I click "Distribute" button from within a successful build screen it always fails with the following error "Oh no! Build XX failed to distribute. Error: GATEWAY_TIMEOUT"
That does not happen when ipa file size i relatively small. However, in my case ipa file is roughly 130 MB and the distribution always fails with GATEWAY_TIMEOUT error

**Steps to reproduce:**
1. Login to AppCenter
2. Connect

[2019-08-19 12:07] jayanths469 commented on #287
I am facing the same issue , is there any solution for the same? This is blocking our test execution on Real device and App center as well.

[2019-08-19 12:24] YajanaRao commented on #887
Any update on this issue ?

[2019-08-19 12:56] KthProg commented on #825
It's a low priority since I can just restart VS. Eventually I'll look into it but I don't have time now. The issue with the DeviceAgent not starting is a way higher priority (and seems reproducible by others).

[2019-08-19 13:13] rishikeshsr commented on #892
Hi. I am the owner for both the accounts.

[2019-08-19 13:14] rishikeshsr commented on #892
And yes. It worked for one app in the account. Not others.

[2019-08-19 13:28] JohannesNylund commented on #866
Im having the exact same issue also. Testing on Iphone 7 latest ios version.

[2019-08-19 13:40] JuliusH93 commented on #847
The workaround works here too, directly per command line in our DevOps pipeline. Thanks!

[2019-08-19 13:58] equinox2k commented on #143
Been waiting patiently for this feature for a long time now.

[2019-08-19 14:25] projectgoav commented on #143
Think you'll be waiting, patiently or otherwise, for a long time... Don't seem a priority for them.

[2019-08-19 15:18] mcetkovsky opened #914 "Support for using AppCenter in plugins"
**Describe the solution you'd like**
Our product is a plug-in to an existing third-party macOS application. The application uses HockeySDK/AppCenter for its purposes. We would like to use (our own) AppCenter inside our plugin without messing with the app's HockeySDK/AppCenter.

**Describe alternatives you've considered**
We found no alternative as each solution is app-wide and requires a registrat

[2019-08-19 15:19] chrisstaley commented on #847
@DennisPan My build failed three times in a row, and then I tried the workaround. It worked.

[2019-08-19 16:15] DennisPan commented on #913
@alefurman We are currently investigating a fix for this. Will get back to you soon. In the meantime, if you can reach out to support via App Center portal, we can enable the fix for your app only and see how that works.

[2019-08-19 16:15] Craigson commented on #224
@zabirauf it seems my issue was that I'm using react-native. Apparently the MS App Center build ecosystem can't compile for RN. To circumvent this, I simply build the project locally and upload the  `.ipa` finally manually for a release

[2019-08-19 16:21] Jamminroot commented on #773
Hi, @hpelitebook745G2, we haven't heard from you for a while, so Im closing the thread. Feel free to reopen if you need our assistance

[2019-08-19 16:21] #773 closed

[2019-08-19 16:23] ranterle commented on #878
Looking at the configuration of a stock React Native 0.60.x project as you pointed out, the release configuration uses the debug signing configuration even for release. I don't know the exact rationale behind this, but it seems to be for getting going quickly - using a debug keystore for signing your release builds is generally not advised.

As the React Native template [points out](https://github

[2019-08-19 16:41] zabirauf commented on #224
@Craigson yep I’ve also created the app using expo. Seems like if you run ‘expo eject’ then app center is able to pickup the package.json but the build still failed, probably need more investigation. But then you loose all the ease of development that expo provides.

[2019-08-19 16:44] Jjagg commented on #738
While the App Center web interface does not support generating a keystore and key it would be nice to have the docs point devs to the JRE `keytool` (which they'll definitely have installed) to create the keystore and key. The [docs](https://docs.microsoft.com/en-us/appcenter/build/android/code-signing#generating-a-keystore) point us to Android Studio, which I did not have installed. It's a very bl

[2019-08-19 16:47] DennisPan commented on #37
@artem1989 Most likely couple weeks out.

[2019-08-19 17:02] DennisPan commented on #847
Thanks for giving this a try and sharing the results everyone! We are rolling out a new image with this, after which you can remove the script in your repository.

[2019-08-19 17:18] softlion commented on #194
@nrajpurkar well i tried that and it didn't work. To fix that error I turned the appbundle switch on in the branch build settings.

[code]

[2019-08-19 18:36] jennablackwell commented on #847
Same here - had the build failures then did the workaround and it worked

[2019-08-19 18:49] Ysquare63 commented on #847
Work around worked around.  Thanks

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: jennablackwell <notifications@github.com>
Sent: Monday, August 19, 2019 11:39:56 AM
To: microsoft/appcenter <appcenter@noreply.github.com>
Cc: Ysquare63 <yyake@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/appcenter]

[2019-08-19 19:44] Lukas34 commented on #792
#845 would be nice.

[2019-08-19 20:13] Dnld commented on #814
Would it be possible to get an update on this in the next few days?  Really appreciate you all looking into this and I understand if the resourcing isn't there to fix the stability issues at the moment.  Just need some transparency to plan accordingly on how we will use Code Push.  If you are planning to sunset the current implementation and no longer fix bugs, I think the right thing to do is ann

[2019-08-19 22:10] moshegutman opened #915 "Grouping of NullReferenceException"
**Describe the solution you'd like**
App Center is grouping all of my application's System.NullReferenceException together. This does not make sense from a "fix-the-bug" point of view. These exceptions are often unrelated because this is a common exception that can occur in several parts of the app.

**Describe alternatives you've considered**
The exceptions should be grouped by call stack locatio

[2019-08-19 22:13] moshegutman commented on #915
<img width="1189" alt="Screen Shot 2019-08-19 at 5 12 06 PM" src="https://user-images.githubusercontent.com/3697619/63303152-94e56f00-c2a4-11e9-886e-1ed99988173b.png">

For example, all the System.NullReferenceException in this view are for different bugs.

[2019-08-19 22:18] patniko commented on #143
In full transparency @projectgoav, you're totally correct. We've been focused on drilling deeper into our mobile platforms and adding more Windows support lately based on the large amount of feedback we receive. We _absolutely_ are tracking interest here, but we're stuck working a bit higher up the Github list for now.

[2019-08-19 22:31] botatoes commented on #814
Quick update on this. We believe this problem is ultimately caused by the legacy service we are trying to deprecate. The problem mostly surfaces during heavy traffic hours. Our current set of work is to make a new CodePush service that is more scalable and resolve issues around uploading and latency.

We've completed work around uploads and CLIs for the new service. We are currently working on cha

[2019-08-19 22:35] bluto56 commented on #814
Thanks @botatoes. Also, once the new versions of the CLI and SDK's roll out anyone who starts using them should gain the benefits of the new system immediately as these new versions will not point to the legacy service.

I realize this does not help for existing clients who haven't or can't update (thus the work to redirect the existing services to the new one) but using the new sdk/cli might help

[2019-08-19 23:37] patniko commented on #864
We're in design discussions now on this one before we do some more interviews with customers. We'll share a spec in the not too distant future before we start the actual work. Still working through edge cases and other scenarios. If you have time, reach out to the email on my Github profile so we can chat a bit about your specific needs @SOliasS.

[2019-08-20 00:13] amchew commented on #794
Hi @SOliasS, good to hear from you! Would you mind emailing me at amchew [at] microsoft [dot] com? Would love to set up some time with you to learn about your scenarios. Thanks!

[2019-08-20 00:28] winnieli1208 commented on #908
Thanks for the feature request! We don't have immediate plans to support building WinForms apps but it's something we are definitely considering.

We started with distribute, diagnostics, and analytics support for WPF/WinForms apps because those were the top requested services at the time. I'll monitor this thread for community support and post here with any updates. In the meantime, I recommend u

[2019-08-20 00:33] winnieli1208 commented on #902
Hi all - thanks for the feature request. We have an item on our backlog to support manual linking of bug trackers. I don't have an ETA at the time but I will post here if I have any updates.

In the meantime, you can find the WIP mockups [here](https://devdiv.invisionapp.com/share/8NNZ8P442QR#/screens). Note the UI is a bit outdated and also doesn't include a input text field like HockeyApp does.

[2019-08-20 01:20] Jjagg opened #916 "Xamarin Auth Android manifest requires workaround"
When Xamarin merges AndroidManifest.xml files together in its build step it does not correctly fold elements together when it should (https://github.com/xamarin/xamarin-android/issues/3428). This causes issues for the AppCenter Auth setup in the AndroidManifest.xml file as described in the AppCenter [docs](https://docs.microsoft.com/en-us/appcenter/sdk/auth/xamarin#androidmanifestxml).

The docs t

[2019-08-20 01:49] patniko opened #917 "Testing out sentiment analysis"
**Describe the solution you'd like**
Can be ignored.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-08-20 01:49] #917 closed

[2019-08-20 02:10] patniko opened #918 "Sentiment test number 2"
**Describe the solution you'd like**
Very happy with app center.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-08-20 02:10] #918 closed

[2019-08-20 02:16] patniko opened #919 "Final Sentiment Test"
**Describe the solution you'd like**
Very Sad

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-08-20 02:16] #919 closed

[2019-08-20 03:28] amchew commented on #916
Hi @Jjagg, thanks for letting us know! We'll get back again about this.

[2019-08-20 06:54] projectgoav commented on #143
I think *interest* is the wrong word here.

Xamarin Insights users were told the service was being turned off and to migrate to App Center. "Feature Parity" was quoted and visible on both Insights and AppCenter websites.

Insights is no longer available and yet not everything we could do with Insights is available with App Centre....

[2019-08-20 08:24] andrejacobs commented on #905
@botatoes When I view a release by visiting install.appcenter.ms I can see the branch the build came from as well as the git commit hash along with the git commit message.

However as an administrator on the desktop browser (ie. appcenter.ms) when I view releases, none of the information is shown to me, only some MD5 checksum (which I guess is the md5 of the binary).

So for example, lets say I bu

[2019-08-20 08:29] andrejacobs commented on #23
+1000 Being able to go to an application, build and then being able to either build from:
a) branch
b) tag
c) commit hash

is mega important! At the moment we only have option a) whereas a lot of other CIs offer all three.

[2019-08-20 11:17] GeorgeDarakchiev commented on #574
+1

[2019-08-20 11:23] sspasova commented on #574
+1

[2019-08-20 11:31] didiyordanova commented on #574
+1

[2019-08-20 12:34] ekrapfl commented on #814
Thanks for the updates @bluto56 and @botatoes!  Do you have any rough estimates on time frame for the new version?  1 week, 1 month, 6 months?  Nothing I will hold anyone to, but my company is investigating CodePush vs Ionic Appflow right now, and these issues are obviously a big deciding factor for us.

Thanks!

[2019-08-20 12:52] alexander-w-o-s commented on #878
@ranterle, maybe you can just add a note in [App Center's signing options](https://docs.microsoft.com/en-us/appcenter/build/react-native/android/#38-code-signing)?
Can your team add a note with details what lines should be removed from `build.gradle` file?
It may help React Native developers who don't have experience with Android build configuration.

[2019-08-20 12:58] alexcroox commented on #814
Is this a problem that can be mitigated in the short term through vertical scaling of resources to handle those peak hours?

[2019-08-20 13:03] alexander-w-o-s commented on #879
I updated "Additional context" section of my initial issue report.
I added simple workaround.

[2019-08-20 13:15] joncodo commented on #866
@turanuk " that means you can extract their UDID and include it in your build, either manually, or via our auto-provisioning feature."

Can you explain how to do this? Or link to a guide?

[2019-08-20 14:14] RyanThomas73 commented on #140
@SpaceApeGamesSy We've had problems specific to iOS  as well. One recent problem we ran into was that the 'Download' button doesn't appear on iOS devices when we're visiting the site in Safari. If we install chrome on the iOS device and open the site on the same device the download button was visible.

The latest version of the `HockeyApp` mobile app is now pulling in the App Center builds for us

[2019-08-20 15:20] jacobhummel commented on #23
+1

[2019-08-20 15:55] myokeeh commented on #94
I'm seeing a similar issue where custom properties I've set are changed to pageName -> PageName, loadTime -> LoadTime in the logs.v1.data files between Aug 13 and Aug 14 and returned to normal after.

[2019-08-20 15:58] myokeeh opened #920 "Analytics Custom Properties Casing"
The logs.v1.data files seem to have inconsistencies for letter-casing for custom properties I've setup like PageName and LoadTime.

Most of the .data files have those recorded as pageName and loadTime, then for some files, they're recorded as PageName and LoadTime. The majority is the former, so I'd rather stick with that.

[2019-08-20 16:23] winnieli1208 commented on #494
@jinyang1994 sorry to hear. Can you also please start a support ticket in App Center? Either the blue chat bubble on the bottom right or the via the question mark icon on the top. Thanks!

[2019-08-20 16:39] nrajpurkar commented on #194
@softlion can you clarify what you tried and what didn't work? If I've understood correctly, the detection didn't work? You _will_ need that toggle enabled for App Center to build the bundle.

[2019-08-20 16:41] nrajpurkar commented on #194
Additionally, we've enabled the ability to automatically distribute your .aab to the Play Store right after your build! You can find this setting in the Distribute section in the build configuration. And with that, our work on .aab is wrapped up! 🎉

Feel free to use this issue for any feedback or create new issues.

[2019-08-20 16:41] #194 closed

[2019-08-20 16:52] lisional opened #921 "Remove user from release"
**Describe the solution you'd like**
Being able to remove a single user from a release.
Currently after distributing a release to testers you can only remove the release from groups. There is no way to remove a release from a specific user.
To remove a release from a group:
- Go to Distribute section, groups tab
- Select the group you want to remove from a release
- Go to the RELEASES tab
- Choose

[2019-08-20 16:57] lisional opened #922 "Allow using Active Directory groups in global distribution groups"
**Describe the solution you'd like**
AD groups can only be added to an app distribution group. When I try to add an AD group to a global distribution group I don't see them.
This causes quite a lot more setup for us. We have different groups we try to maps for each of our apps: QA, iOS dev, Android dev, Team A, Team B...

We have all these entities mapped in our Active Directory.. It would have be

[2019-08-20 21:06] ahanag22 commented on #825
"The issue with the DeviceAgent not starting" - Could you please elaborate a bit more of the issue?  Are you seeing this issue on Android?

[2019-08-20 21:30] yoannchaudet commented on #920
We used to have a bug in our Export service which was transforming properties' name. See https://github.com/microsoft/appcenter/issues/94.

We fixed the issue a while ago and kept both behaviors in place for 90 days. Last week we removed the old erroneous behavior.

From now on, your custom properties should be exported just the way they were emitted from our SDK.

[2019-08-20 21:47] patniko commented on #40
Closing this now that preview has been shipped. https://twitter.com/VSAppCenter/status/1162469527671717890

[2019-08-20 21:47] #40 closed

[2019-08-20 21:52] patniko commented on #792
#30 should be coming in the next iteration @meliheran!

[2019-08-20 22:09] marstr commented on #616
Looks like this issue didn't get cleaned up after it was fixed on July 9th. It is now safe to say that this issue is dealt with.

[2019-08-20 22:09] #616 closed

[2019-08-20 22:09] myokeeh commented on #920
I'm looking at an exported log from a ~15 minutes ago and it's still PageName -> pageName.

My app is emitting "PageName" using the SDK.

[2019-08-20 22:32] nrajpurkar commented on #30
🚨 We'll be starting implementing support for this very soon! We estimate support for this to come by the end of September.

[2019-08-20 23:10] Jjagg commented on #860
I need this to make AppCenter's Auth a good solution for my project. For users, getting sent to a website to sign up/in for a mobile app is not a good experience. Because Auth fuels a lot of the other functionality of AppCenter, this might be a blocker for me for using AppCenter altogether.

Since the B2C web pages can be fully customized (albeit with HTML/CSS/JS), if they could be wrapped in a we

[2019-08-21 00:24] botatoes commented on #751
Can you open a support ticket on intercom on appcenter.ms? We'll get more info about your app and someone from the engineering team will be able to help you out.

[2019-08-21 00:24] #751 closed

[2019-08-21 00:24] botatoes commented on #895
Yes please open another bug. :) I'm closing this one.

[2019-08-21 00:24] #895 closed

[2019-08-21 00:25] clpolet commented on #615
Quick update on the broken device registration experience. We've found the root cause and are actively working on a fix.

Keep in mind that this only impacts the user experience while installing the configuration profile. The device registration still works even though the installation of the configuration profile is not completed. App Center gets the device UDID required to register the device at

[2019-08-21 00:30] botatoes commented on #814
@ekrapfl should be done in the next month or two 👀 but that's also super rough estimate. We're on the final 4 features, assuming we don't discover anything we weren't aware of already.

[2019-08-21 00:33] botatoes commented on #814
@alexcroox we did dig a bit more into this and there's no easy way to do this without pulling off some people working on the new service for a while. We inherited the legacy service from another team at MS and have only recently decided to put more effort and improvements into CodePush. The old service was never optimized for scale unfortuantely :(

[2019-08-21 00:36] botatoes commented on #140
Quick update on this. We are finalizing the designs this week (there were some hiccups but we finally did it 😭). I will post links to the flow on this thread next week to get some feedback from you all.

[2019-08-21 00:39] botatoes commented on #921
Thanks for the feature request. This is already in our backlog of things we need to do! Distribution is focusing on security, tester experience, in-app updates, and device management right now. Will definitely keep you posted when we move forward with this.

[2019-08-21 00:40] botatoes commented on #912
Thanks for the feature request! :) We've heard this feedback before and I will definitely discuss this with the design team in our upcoming UX improvement session.

[2019-08-21 00:41] botatoes commented on #905
Got it! Thanks for that :)
I'll keep note of this and share the feedback with our design team. We are currently working on merging the two portals for a better tester experience. I believe we should be able to add this in as well.

[2019-08-21 00:56] clpolet commented on #866
@joncodo the [Device registration and app re-signing](https://docs.microsoft.com/appcenter/distribution/auto-provisioning) could be the documentation you are looking for.

I feel like there is some confusion in this thread about profiles. The configuration profile used in the device registration flow is not to be confused with the provisioning profile required by your application for distribution.

[2019-08-21 01:25] yoannchaudet commented on #920
@myokeeh My mistake, the deployment from last week was actually rolled back (for unrelated reasons).

We just sent back to production that removed the casing erroneous behavior.

Starting now (August 21th at 1:12am UTC), you should see a consistent "PageName" in your exported logs.

[2019-08-21 02:52] dwasyluk commented on #615
Impacted by this as well. Experiencing it on iOS 12.3.1/iPhone6 but not on iOS 12.4/iPhone X. Blocks installing on the iPhone6. Says developers are still working on a version for this device even after profile install and appcenter.ms saying device registered.

[2019-08-21 03:02] nrajpurkar commented on #911
This is fixed. Thanks for reporting @beeradmoore 😄

[2019-08-21 03:02] #911 closed

[2019-08-21 03:07] nrajpurkar commented on #878
@alexander-w-o-s took a deeper look into this and think we've identified a fix. We'll be working on that in the next couple days. I'll keep you updated on when this should be fixed.

[2019-08-21 03:39] rambo406 commented on #574
+1

[2019-08-21 04:14] MaximePost commented on #182
This is a big show-stopper for us, we have tens of thousands of users on existing app distributed with hockey app. We don't have their email addresses and they don't have an app center login (and we don't want them to).
After updating the app with the app center sdk, the users are all stuck on a app center login page.
We need this asap as we have more than 50 apps that need migration!

[2019-08-21 05:08] RioFiveJack commented on #548
i'll need this also, if we can use channel for Android, i can separate notification channel and sound for important / less important notification for my apps.

[2019-08-21 08:20] Johan-dutoit commented on #194
Is it a slow roll out to everyone?

Currently I'm seeing this (from previous tests, this uploads the apk):
![image](https://user-images.githubusercontent.com/1611055/63414955-cf5e2180-c3f4-11e9-8573-a46ef3097e2a.png)

[2019-08-21 08:54] derpixeldan commented on #615
@dbquarrel thanks for the feedback. Installing the profile from App Center is a one time process and solely to register the devices UDID on App Center conveniently. The actual process of installing a profile is rather straight forward and it will get better with iOS 13 where a table row in the first level of the settings pops up once a profile was downloaded. Once the UDID is registered there's no

[2019-08-21 09:26] jmazier-j2d commented on #558
Running into a very similar issue after renaming both my Android & iOs app (was named the same, causing clash in names), I'm running this command to release my codepush
`code-push realease-react <AppName> android`
I can't figure how to run it with --debug option, could you please tell me more about it ?
The weirdest is that I can still access my app with the "old name".. :(

[2019-08-21 10:11] majdmam commented on #194
I read the comments and I really did not completely understand how can I generate a signed release aab. so, please I need some steps an explanation for how can I generate the aab, I am using VS 2017.

[2019-08-21 10:11] derpixeldan commented on #888
Closing as it was addressed via support.

[2019-08-21 10:11] #888 closed

[2019-08-21 10:13] shihao92 commented on #194
is it not being released on react native? on my react native release settings i can't seems to find a way to release my generated aab to the play store

[2019-08-21 10:14] jmazier-j2d opened #923 "CodePush Internal Server Error after renaming Apps"
**What App Center service does this affect?**
Code-push

**Describe the bug**
After realizing two of my apps were misnamed, I renamed them using the CLI. After that, I am getting a 500 Internal Server Error response for anything I try to do with those two apps.
The app name is found because if I try anything else, I'm getting a valid : "[Error]  App <APPNAME> does not exist"
BUT if I'm using the o

[2019-08-21 10:15] #253 closed

[2019-08-21 10:25] derpixeldan commented on #923
This sounds like a general issue, just checking, have you experienced this with more than one app?

[2019-08-21 10:28] jmazier-j2d commented on #923
Both my iOs and Android app, but I don't have any other app to test this issue :(

[2019-08-21 10:31] #702 closed

[2019-08-21 10:45] derpixeldan commented on #882
Note: Probably related to https://github.com/microsoft/appcenter/issues/866 even though the issue description is wrong. The ultimate problem is that users can't download the releases.

@markghayden have you reached out to us in support already and if yes, can you please mention the url of this ticket?

[2019-08-21 12:03] baskren commented on #681
@Zakeelm - **Shared Documents** would address the gap I see in AppCenter.Data for my applications.  However, I did not see this on the [Roadmap](https://github.com/Microsoft/appcenter/wiki/Roadmap).  Is **Share Documents** a planned feature or just a feature under consideration?

[2019-08-21 12:08] baskren commented on #681
@Zakeelm - nevermind.  I just found #864

[2019-08-21 12:12] orkoden commented on #182
It doesn't even work correctly when logged in. Most of the time no prompt to update to a new version appears. Sometimes our users get prompted to install an outdated version of the app. Which is the opposite of what this feature should do.

[2019-08-21 12:13] Nalocar opened #924 "Manage organisation distribution groups"
**Describe the solution you'd like**
I want to be able to manage organisation distribution groups and distribute releases to organisation groups managed by the organisation without Admin/Owner rights on the AppCenter Portal.

**Additional context**
A couple of days ago I was able to manage People and Distribution Groups in the AppCenter portal. This function now seems to be only available for Admi

[2019-08-21 12:26] ekrapfl commented on #814
Thanks for the insights @botatoes.  Not to worry, I will not be holding you to that estimate, but I appreciate the transparency.

[2019-08-21 12:36] PGHM commented on #853
I'd like this too, just like Hockeyapp used to do it

[2019-08-21 14:20] ranterle commented on #194
Lots of great feedback, let me try to answer these together:

1. There are no visible changes to the build configuration when building a bundle, but some internal updates. We're basically distributing the AAB when a Google Play destination is selected by default. There will be an information message if you intend to distribute to Google Play but are not building an AAB. @Johan-dutoit my best guess

[2019-08-21 15:10] martinbonaciugome opened #925 "Add UserId column to every table of AppCenter"
**Describe the solution you'd like**
UserId should be a column on every table of AppCenter. HockeyApp had it for Crash Logs.

**Additional context**
![image](https://user-images.githubusercontent.com/6127051/63444250-19daa080-c3eb-11e9-8d36-f12dcb78dbb6.png)

[2019-08-21 15:12] martinbonaciugome opened #926 "All columns should be sortable in AppCenter"
**Describe the solution you'd like**
All columns should be sortable in AppCenter. HockeyApp had it.

**Additional context**
![image](https://user-images.githubusercontent.com/6127051/63444402-632af000-c3eb-11e9-9806-fa6181bc784a.png)

[2019-08-21 15:26] LauriRantasalo opened #927 "Failed to apply settings: push configuration is invalid."
What App Center service does this affect?
App Center - Push notifications

Describe the bug
Cannot add Package SID and Security Key

To Reproduce
Steps to reproduce the behavior:

Go to Microsoft partner center -> copy application SID and secret key and paste to app center.

See error: "Failed to apply settings: push configuration is invalid"

Found a matching issue from earlier that was apparentl

[2019-08-21 16:02] ranterle commented on #759
Hi there, thanks for reporting this - this looks like a bug and we are actively investigating this.

[2019-08-21 16:44] bryansmi commented on #847
Hello! We've rolled out a new image for our macOS VMs which should resolve this issue. We'd love to hear if building without the workaround is fixed now. Thanks.

[2019-08-21 17:59] #851 closed

[2019-08-21 18:48] rjschnorenberg commented on #845
This can be worked around by implementing a custom IApplicationSettingsFactory.
[code]

[code]

[2019-08-21 19:22] dluc opened #928 "Issue with AppCenter not seeing React Native apps in subfolders"
I have a React Native app (not using Expo) in my DevOps repository, and the src code is not in the root folder, e.g: `/frontend/mobileapp/reactnative` is the root folder of the RN app, so `package.json` is in `/frontend/mobileapp/reactnative/package.json`.

Given this setup, when I try to configure a build, AppCenter shows an error:

![image](https://user-images.githubusercontent.com/371009/634614

[2019-08-21 19:40] vance opened #929 "2FA to App Store missing option for "did not receive code""
Standard flow for App Store Connect 2FA has a link with the option "I did not receive a code" from that link, the user is prompted with 3 alternative options. This link is not available when connecting to the App Store account. This is required because we have multiple enterprise users on the same account, we need to select to which authorized phone number to send the code.

[2019-08-21 19:44] nrajpurkar commented on #928
Hi @dluc, we look for the `package.json` within the first 4 layers of your repo. No way to set the path manually today. This may be a similar feature request to #278.

[2019-08-21 19:47] dfoulk commented on #182
Are you all seeing the login prompt when distributing to a "public" distribution group? When I refer to a "public" distribution group- I mean that the distribution group has a badge that reads "Public" by the group's name and a "Public page" link listed at the top of "Distribute > Groups > {Your Public Group}" ("install.appcenter.ms/orgs/{your-organization}/apps/{your-app}/distribution_groups/{you

[2019-08-21 19:59] anthonyhumphreys opened #930 "Honour CI Ignore tag"
**Describe the solution you'd like**
I would like to be able to add a flag which will prevent build on push.

Sometimes a hotfix is rolled out which hits the branch listened to by AppCenter and this only needs a codepush deploy, not a native build. In this case it would be great to be able to add a NO_CI type flag to a commit.

I would love for this to be configurable in the branch config, so that

[2019-08-21 20:05] anthonyhumphreys commented on #26
Hi, on a similar note I've just opened an Issue here: https://github.com/microsoft/appcenter/issues/930

This issue makes me think about the situation from a different angle though. It would be amazing if I could specify that only changes to the android/* or ios/* for example would trigger a native build. If my JS changes I already have CI set up which triggers a codepush rollout.

Will be keen to

[2019-08-21 20:05] nrajpurkar commented on #930
Hi @anthonyhumphreys, thanks for this feature request! Looks like a possible duplicate of #54. Closing this out and feel free to leave some additional comments there.

[2019-08-21 20:05] #930 closed

[2019-08-21 20:07] anthonyhumphreys commented on #930
Ah i was about to close this myself actually, thought it was a duplicate of #26

[2019-08-21 20:11] anthonyhumphreys commented on #26
Agree with this. This is the norm with React Native projects especially and I know lots of orgs who are moving towards monorepos so this would be a huge win for users who fit those use-cases.

[2019-08-21 20:13] anthonyhumphreys commented on #54
I think between this and #26 there is potential for some more flexible build configuration which would reduce noise, reduce cost/consumption of build time and follow CI practices that are familiar in other platforms.

[2019-08-21 20:24] jwargo commented on #927
@LauriRantasalo thanks, I'll take a look.

[2019-08-21 20:53] blparr commented on #924
Hello! We added a new role called Member, to ensure that not everyone added to your apps, can change your org settings and org distribution groups. However, you should still be able to do so being an org collaborator (no need to be an admin).

It sounds like you are a Member for the org now. To change so, you need to ask the org admin to change your permissions back to Collaborator or Admin.

Hope

[2019-08-21 22:48] hamswan commented on #914
Thanks for contacting us. Our team will take a look at this.

[2019-08-21 22:50] hamswan commented on #904
Thanks for reporting this our team will take a look at this.

[2019-08-21 22:54] RenanDelfanti commented on #67
Any update?

[2019-08-21 22:54] hamswan commented on #861
Hi @jrahma, our team is looking at this.

[2019-08-21 23:00] hamswan commented on #828
Is this occurring for a specific app?

In order to populate the log flow page, you will need to:
Open the Log Flow page and wait a few seconds
Start sending logs from your device
No previous logs will show unless this workflow above was done earlier in the same day (in the UTC timezone). Also, this process will need to be done again after 10 minutes of the page not being in focus.

[2019-08-21 23:01] hamswan commented on #822
Thanks for the request.

[2019-08-21 23:12] AmroOsama opened #931 "Can't pay using Prepaid credit card"
I tried two Prepaid/Debit credit cards,
but they got rejected, why isn't this option available?

why would this matter to microsoft?
The credit card is a physical card under my name and issued from my bank.

The same credit card is working fine with AWS, Apple, Amazon, etc.

[2019-08-21 23:19] DrBeak1 commented on #881
+1 @patniko this is a real pain point for my team right now. Our app is a kiosk style application and our builds fail due to the device being an iPhone and not an iPad.

[2019-08-21 23:51] dluc commented on #928
hi @nrajpurkar how many layers is `/frontend/mobileapp/reactnative/package.json` relatively to the root of the repo? isn't it 3 ?

[2019-08-22 01:02] MaximePost commented on #182
Yes, that is my issue, public users don't have an app center account and I don't want them to need one. Microsoft team keeps suggesting me to mail the direct link to the new version but first we don't have the user email accounts and second it still doesn't solve the app center login page after update.

[2019-08-22 01:13] PvanHengel commented on #634
When will the AAD support be done and documented?  We are having a very hard time getting our Azure Business users access to appcenter.

[2019-08-22 01:15] PvanHengel commented on #262
Agreed detox would be great

[2019-08-22 02:51] rodbassatgatech commented on #830
Yes, that was it.  I had different settings for build/device combinations.  Thanks @amchew

[2019-08-22 02:51] #830 closed

[2019-08-22 03:54] amchew commented on #830
No worries! :)

[2019-08-22 04:39] RioFiveJack opened #932 "[Feature] allow push notification send report /API if the token still active or not"
Hi when i'm using Firebase i can know if the token still active or not when i'm sending notification, I'm using that info to deregister token / installation ID so i don't need to resend every push if it's not active.

[2019-08-22 05:57] myokeeh commented on #425
FYI, it seems I can now use `Crashes` and have the Store accept ARM64 submissions with the help of this NuGet package: https://www.nuget.org/packages/SQLitePCLRaw.lib.e_sqlite3/2.0.1-pre20190815133105.

https://github.com/ericsink/SQLitePCL.raw/issues/254

[2019-08-22 06:39] AnastasiaKubova commented on #861
Hi, @jrahma! Thank you for contacting us! Could you please clarify:
- What version of SDK do you use?
- Could you please share the verbose logs? Please add `AppCenter.LogLevel = LogLevel.Verbose;` before `AppCenter.Start`.

[2019-08-22 07:11] Nalocar commented on #924
Is this working for organisations that are transitioned from Hockey? There is no way to manage users for our organisation and we've also not been able to find anything related on Hockey.

[2019-08-22 07:33] maxkoshevoi opened #933 "Group errors and crashes by version name and not by version number"
**Describe the solution you'd like**
Currently errors and crashes are grouped by version **name**, and this is a little inconvinient for me since one version of my app consists of 4 apk (one for each platform) to reduce overall apk size for my users.
![image](https://user-images.githubusercontent.com/6609929/63495003-a3f83700-c4c7-11e9-8367-8ed312b4b930.png)

So if there is as error occurring in s

[2019-08-22 08:46] santoshgistto commented on #878
In App/build.gradle

Need to generate **release.keystore** file add it in **App module folder** and update siging config and release in build type
`
    signingConfigs {
        debug {
            storeFile file('debug.keystore')
            storePassword 'android'
            keyAlias 'androiddebugkey'
            keyPassword 'android'
        }
        **_release {
            storeFile file('r

[2019-08-22 08:57] Simba-Mupfunya commented on #182
@maximePost According to my and the most of the user threads, its all pertaining to the public link.

[2019-08-22 09:15] andreasbergqvist opened #934 "Change git repo"
I moved my app from a private Bit Bucket account to an organization.

This means that the URL has changed.
But there is no way to change an repo URL.

The only way seems to be to delete the build setting and recreate, loosing all previous build information.

[2019-08-22 09:52] JKennedy24 opened #935 "Where to file UI Test Bugs?"
**Describe the solution you'd like**
I struggle to know where to file / where to look up Xamarin.UITest bugs
Is there any reason this code isnt open sourced like all other microsoft projects?

**Describe alternatives you've considered**
a label in this github to sperate ui test bugs so they can be searched better

even better than that: open source the code

[2019-08-22 10:41] jason-system1 commented on #802
@DennisPan I'm experiencing the same issue, though this has only stopped working for me today, but was fine yesterday and I've been using "on push" for builds for many weeks successfully and very consistently.

How do I reach out to support via the App Center portal? I've had a quick look, but nothing is jumping out at me? I'd thought it'd be under the "?" on the top right hand corner of the porta

[2019-08-22 10:51] jason-system1 commented on #802
Surprise, surprise, this is now working. Triggering "on push" builds much later after the fact isn't ideal, as I've wasted plenty of time trying to "fix" it and diagnose it for sharing here and I could have been doing something useful.

Anyway, when something doesn't work in App Center, my advise to you is like when you feel under the weather, if it's still dodgy after a few days, then see your do

[2019-08-22 12:31] codrinamerigo commented on #479
Did you managed to find a solution for this problem ? I am facing the same...

[2019-08-22 12:32] ozzeye-playrix commented on #856
Problem solved. Thank you!

[2019-08-22 12:32] #856 closed

[2019-08-22 12:49] gerjandev opened #936 "[Question] Difference between Distribute > Groups and People > Distribution groups"
Sorry if this is not the correct place, but:

What is the difference between Org > People > Distribution groups and Org > App > Distribute > Groups?

[2019-08-22 12:53] gkonterman commented on #936
And maybe a related question:

I have the following situation:

Customer A
Customer B

App A
v1.0
v1.1

Customer A should get App A v1.0
Customer B should get App A v1.1

What is the best way to do this?

[2019-08-22 12:54] AnastasiaKubova commented on #904
Hi, @thehoglet! Thank you for contacting us! Could you please share the verbose logs? Please add this ` AppCenter.LogLevel = LogLevel.Verbose;`  before `AppCenter.Start`.

[2019-08-22 13:00] jwargo commented on #936
@gkonterman App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-started/welcome-to-app-center-support).

[2019-08-22 13:02] jwargo commented on #815
@andrewleader this has been fixed.

[2019-08-22 13:02] #815 closed

[2019-08-22 13:16] lpikora commented on #814
Now it seems that your update servers are completely down :( just getting infinite checking for update or an error @botatoes

[2019-08-22 13:46] Dnld commented on #814
We're seeing the same.

[2019-08-22 13:48] lklepner commented on #814
My team has stood up an in-house metadata service to handle these requests until the new version of Codepush is ready to go.

This was accomplished by forked the `react-native-code-push` repo and editing the `request-fetch-adapter.js` so requests to `https://codepush.azurewebsites.net/updateCheck?` are rewritten to point to our in-house API service.

On the server side we are obtaining a list of c

[2019-08-22 13:49] damirdavletov opened #1292 "Send crashes in the background"
### **Description**

When the app process is woken up after crash, the crash report is not getting sent to the server in this process session. It will only be sent on next process start.

### **Repro Steps**

Steps to reproduce:
1. Crash the app
2. Wake the app with push (content-available:1) in background.
**Expected result:** The app will send the crash at this point
**Actual Result:** The crash

[2019-08-22 13:52] thehoglet commented on #904
Attached are two files containing the debugging output to the VS2019 console. One for the successful start-up (ServiceHost ctor before AppCenter.Start()), one for the failed start-up.

Note that, as written, debugging was required to be terminated in both cases with a Shift+F5 in VS in order to break the server app out of its message loop (i.e. the call to the blocking Application.Run()).

[startu

[2019-08-22 15:10] JakubOleksy commented on #814
We are investigating.

[2019-08-22 15:37] DimaOrdenov commented on #479
@codrinamerigo
Nope. I was trying on Windows 7, possibly this is the problem.

[2019-08-22 16:15] DennisPan commented on #802
@jason-system1 I'd like to take a look at your repository's webhook request history for better understanding of what happened. Could you check if you see the blue chat bubble at bottom right of portal? That's how you can reach out to support. You can ask support to assign the conversation directly to me.

![image](https://user-images.githubusercontent.com/14064342/63531366-3810d100-c4bd-11e9-93b0-

[2019-08-22 16:26] nrajpurkar commented on #934
Hi @andreasbergqvist, this is correct. At this time, connecting to a new repo (or changed URL) in the same app will delete your prior build history. Another option to keep the history would be to create a new app connected to the new repo URL. However, this would require reconfiguring everything which I understand is less than ideal. I've added the feature request tag to this issue and we'll monit

[2019-08-22 16:26] patniko commented on #936
Hi @gkonterman , the org -> people -> groups section will create a distribution group across your apps underneath an org while the app one will only create a group specific to a single app.

[2019-08-22 16:30] nrajpurkar commented on #934
@andreasbergqvist can you reach out to App Center support regarding this and have them connect you to Build support? You can reference this GitHub issue so they have context. We may have a workaround for this change.

[2019-08-22 17:51] andreasbergqvist commented on #934
Hi, I started with reaching out to the support. They asked me to create an issue here =)

[2019-08-22 18:01] nrajpurkar commented on #934
Apologies on the back and forth 🙁 Found your support thread and reached out there!

[2019-08-22 18:21] darrentaft commented on #32
Not sure if there's a proper way to up-vote requests, so I'll just add a "me too" to this as well.

[2019-08-22 18:47] dluc commented on #278
Hopefully the team will also fix the way a repository is scanned to detect React Native apps. As described in https://github.com/microsoft/appcenter/issues/928 if an is in a subfolder, AppCenter doesn't detect it. Apparently also the "4 layers" search for `package.json` is not working as expected (see comments).

[2019-08-22 18:55] DennisPan commented on #928
@dluc Do you mind reaching out to support from App Center portal? You can ask support team to assign to me. I'd like to take a closer look at your app, which hopefully can help

[2019-08-22 18:58] nrajpurkar commented on #32
Noted @darrentaft! We take a look at the reactions and comments (total engagement) on an issue when prioritizing upcoming work.

[2019-08-22 19:44] torontoerik commented on #814
@lklepner did your metadata service fix this issue for you? Beyond checking for updates, is downloading a needed update also experiencing issues?

[2019-08-22 20:06] lklepner commented on #814
@torontoerik From what we've experienced the problem largely resides on the metadata ends of things and the bundle download itself happens fairly quickly. The self-hosted metadata service has significantly improved the situation for us.

[2019-08-22 21:13] hamswan commented on #914
Currently we don't support this , I have added this as a feature request. you can track this through this GitHub issue.

[2019-08-22 21:32] ilset commented on #412
This is an incredibly important feature for our team that is currently in HockeyApp. I hope App Center supports this feature as missing it is a downgrade for us. Please support it, thank you!

[2019-08-22 22:07] battepatikiran commented on #847
When does the new macOS VMs are updated ? it still shows as Date: 2019-08-09 13:12:18 on my Azure DevOps agents.

[2019-08-22 22:44] bryansmi commented on #847
Azure DevOps agents you provision yourself will not be affected by this change. These images are deployed to the Hosted macOS agents, which are specifically provisioned for App Center.

If you have a branch configured for Build on App Center, and were seeing this issue previously, you should be able to run a new build successfully now. Hopefully that makes sense!

[2019-08-23 01:00] nrajpurkar commented on #863
Ah, you're trying to do this via the GitHub App. Each organization on GitHub has a separate GitHub App Center App installation. Have you installed the GitHub App Center App on that specific organization? You'll need to check the Settings > Installed GitHub Apps of the organization you are expecting to see the repos for. Additionally, each GitHub organization has it's own installation ID so you'll

[2019-08-23 01:05] nrajpurkar commented on #887
Hi there, we're taking a look at this issue and working on a solution at the moment! Thanks for your patience!

[2019-08-23 01:08] nrajpurkar commented on #848
Hi @shibathethinker, is this a duplicate of this [issue](https://github.com/microsoft/appcenter/issues/23)?

[2019-08-23 01:09] nrajpurkar commented on #779
That's for this feature request @prashantrane123! We'll keep this open and track interest.

[2019-08-23 01:11] nrajpurkar commented on #754
Thanks for this feature request @jeremyclee. This is similar to an overall request (#926). We'll keep this open and track this for a future improvement.

[2019-08-23 02:38] eltonf commented on #182
It’s downright embarrassing and inexcusable that Microsoft messed up such a basic and essential feature of HockeyApp.

Who is App Center designed for? It seems to be a totally different user base than those of us that have been using HockeyApp to distribute apps for years without issue.

[2019-08-23 05:34] codeflows commented on #814
We also tackled this issue by writing a caching proxy for the `checkUpdate` API. Bundle downloads are not a problem since they seem to come straight from the Azure CDN.

[2019-08-23 06:42] codrinamerigo commented on #479
I am trying on Windows 10 and for the Android ui tests, is not wotking...

[2019-08-23 07:30] tedgonzalez commented on #863
I removed the GitHub app center, and I'm trying to do this using the appcenter dashboard. Just went to github app while debugging because of this issue

[2019-08-23 09:30] VictorBlomberg commented on #562
@francis2 Having the same problem. Were you able to solve this?

[2019-08-23 12:02] maksim-m commented on #458
I join this feature release. R8 is the default code shrinker and should be supported.

[2019-08-23 13:09] szh commented on #814
The checkUpdate API seems to be back up

[2019-08-23 13:32] jwargo commented on #927
@LauriRantasalo I just tested it with an app I created and it works as expected. The field names are wrong, I copied the Application ID and Application Secret and it worked for me. Can you try again?

[2019-08-23 13:46] AnastasiaKubova commented on #904
Hi, @thehoglet! Thank you for providing logs. I need more time to investigate it. Thank you for your patience.

[2019-08-23 13:50] LauriRantasalo commented on #927
Yeah I was using the Package SID before. Works now with application ID and secret. Thanks.

[2019-08-23 15:47] szh commented on #814
@JakubOleksy Is the outage officially resolved?

[2019-08-23 15:51] #872 closed

[2019-08-23 16:38] jesusvms commented on #412
This is a fairly significant regression in functionality from hockeyapp.  Please do not force us off of hockeyapp until you add this in AppCenter.

[2019-08-23 17:17] jvhgamer commented on #562
@Oddj0b any resolution on this issue? In our case this seems to happen on Android 4.4 - API 19 through Android 5.1 - API 22 on newer versions we aren't seeing this issue.

[2019-08-23 17:54] francis2 commented on #562
It was a null object in a dependency injection. Totally my error but difficult to track down due to the obscure debugger error.

[2019-08-23 18:00] 2upmedia commented on #595
This is an issue with Xcode. Make sure that it's picking up your provisioning profile. For some reason mine didn't want to pick up the provisioning profile so I had to manually assign it.

[2019-08-23 18:41] Zakeelm commented on #681
@baskren Yep! Shared Documents is planned work, would the scenarios outlined in [this comment](https://github.com/microsoft/appcenter/issues/864#issuecomment-521060202) be enough for your use cases or are there additional scenarios you would like to see within shared documents?

[2019-08-23 19:17] jwargo commented on #927
@LauriRantasalo trying to understand what we need to do to fix this, isn't Package SSID and Application ID the same thing?

[2019-08-23 19:18] jwargo commented on #67
@RenanDelfanti not yet. Still something we're looking at, talking with customers, etc. Do you have to chat with us about the apps you're building using Flutter?

[2019-08-23 19:19] jwargo commented on #932
@RioFiveJack Can you share some details on how you see this working?  How would you like it to work?

[2019-08-23 21:21] nrajpurkar commented on #863
Hmm the permissions issue for OAuth app to the orgs would be the biggest blocker here. I'd recommend you reach out to App Center support for a deeper look into the issue if this doesn't solve your problem.

[2019-08-23 22:09] #936 closed

[2019-08-23 22:40] Zakeelm commented on #799
Hi there!

Apologies for the delayed response. We're estimating that the free tier will be done at some point a bit later this year!

[2019-08-23 22:41] svenza opened #937 "Dashboard that will show all apps within an org and their current build progress/status"
**Describe the solution you'd like**
A dashboard that will show all the apps within an org and their current status for if they are building/build time and also will show once it successfully builds or if it fails. Preferably with some sort of green/red color indicator so it is easy for anyone glancing up or walking by to see if there is a problem or not.

**Describe alternatives you've considered

[2019-08-24 03:40] #920 closed

[2019-08-24 20:53] DennisPan commented on #934
Close this as we are handling it via support

[2019-08-24 20:53] #934 closed

[2019-08-25 14:57] LauriRantasalo commented on #927
No, for me when configuring the Appcenter push notifications it asked for Package SID and Application secret. When viewing the application details from Mircosoft Partner Center, the package SID can be found under Product Identity, where as the application ID is under WNS/MPNS --> Live Services link. (Above the Application Secret).

[2019-08-25 18:17] jrahma commented on #150
Hope this will be fixed soon

[2019-08-26 04:24] RioFiveJack commented on #932
@jwargo i would like when we send push notification to
/v0.1/apps/{owner_name}/{app_name}/push/notifications
we could know error like when we're using Firebase ,
ex :
{
  "error": {
    "code": "UnregisteredDevice",
    "message": ["146fbdde-0aaf-444d-bcc0-6d84520c9080"]
  }
}

[2019-08-26 05:00] pkvaranasi opened #938 "Xamarin App's PackageId/BundleId is not shown."
As the Apps are being moved from HockeyApp, and AppCenter is not asking for PackageId/BundleId, suggested to show the PackageId/BundleId in the Overview/Settings of the app in AppCenter.

[2019-08-26 06:40] mitsuakiwatanabe commented on #920
If using ApplicationInsights for export.
A workaround is required.

in Kusto

[code]

I misunderstood that it was a bug in ApplicationInsights, but it was different.
I hope it helps.

[2019-08-26 07:17] mikehachen commented on #847
This solution worked for me (AppCenter Build)

[2019-08-26 09:02] mefjuu commented on #194
Is there a way to make downloading *.apk possible (from "Releases" tam) after generating an aab build?

[2019-08-26 09:25] smithaaron commented on #220
@winnieli1208 Thanks for the answer. That rules out App Center for us.

[2019-08-26 12:22] Brosten commented on #889
+1 from me for this request. In case it's tricky with a free range I personally mostly miss just looking one day back. Currently 7 Days is minimum. Looking one day back would make it easier to see how meny of my users are on the latest version of the app.

[2019-08-26 13:57] ruieduardosoares commented on #182
Hello.

Any news regarding this issue?

Thanks.

[2019-08-26 14:06] ranterle commented on #194
@mefjuu  The release in App Center Distribute will only contain the AAB which was uploaded to the service. If you generated the AAB and release through App Center Build you will be able to download both the APK and the AAB from the build.

[2019-08-26 14:17] nevalenny commented on #268
@kevindelord Hi, we have just released the support for adding/removing collaborators to HockeyApp organizations in App Center. Can you give it a try and see if that fixes your issue?

[2019-08-26 14:58] martinbonaciugome opened #939 ""Unsymbolicated" "Issues" aren't included in "Crashes", and there is no filtering/sorting available"
**Describe the solution you'd like**
"Unsymbolicated" "Issues" aren't included in "Crashes", which makes it incorrect in assessing app health. "Unsymbolicated" "Issues" also can't be sorted by date or filtered by build, so its impossible to find if there are new issues with a new build

[2019-08-26 14:59] kevindelord commented on #268
@nevalenny Hello there, yes it does work perfectly. I can invite new users, edit the existing ones, remove access, add them to teams, etc.

[2019-08-26 15:59] henduck opened #940 "iOS Code Signing problems on NEW app center build configurations only"
I'm having code signing troubles on a NEW app center build instance. I'll say up front: I've confirmed this is NOT an issue with either my signing certificate or provisioning profile, as I am using the exact cert and profile without issue on both local builds AND on **_other app center builds that were set up several months ago and running without issue since_**.

The exact error being reported is

[2019-08-26 21:05] 1ok1hipbar opened #941 "Appium python support for running tests in App center"
Appium python support for running tests in App center

App center CI/CD is very useful. But can we add the support for python

[2019-08-26 21:06] zippo227 opened #942 "Allow adding GitHub submodules to build settings"
**Describe the solution you'd like**
The Build tab will allow you to connect to multiple repositories to ensure that private submodules can be used.

**Describe alternatives you've considered**
I tried setting up separate builds for the submodules in hopes that the added webhook would allow my project to be built.

**Additional context**
We share a few private submodules between our projects, and

[2019-08-26 23:36] leoniDEV commented on #383
Would be useful also the ability to publish to the Business Store and support the package flights system of the Windows Store

[2019-08-27 05:38] max-lobanov commented on #887
Hello everyone, fix for this issue was shipped recently. Could you please re-save build configuration and run a new build to validate that everything works for you?

[2019-08-27 05:42] anod commented on #731
Same issue, about 20 tests are failing because of this, I also believe that this slowdown test execution

[2019-08-27 08:22] RioFiveJack commented on #932
great thanks @jwargo

[2019-08-27 09:39] ranterle commented on #759
@master-lincoln We just released version 2.0.7 of the Android App Center (HockeyApp) app to the Play Store which addresses this issue. Can you confirm that downloading and installing builds with long version names now works for you?
On caveat is that we now shorten individual components of the downloaded file name, so they might be a little harder to tell apart later from within your download mana

[2019-08-27 11:32] james1301 commented on #898
Thanks @winnieli1208, shame it's not in any short term plans because I think it would be a great addition, scheduled in a call so can discuss then.

[2019-08-27 12:57] james1301 opened #943 "Windows Service App Center support for Crashes/Errors"
**Describe the solution you'd like**
Windows Service App Center support for Crashes/Errors. Basically we have a windows service that does a few different actions. Such as e-mailing reports on a schedule. the errors for this are currently entered into event log, but as this is often installed on a server, it can be hard to know there have been any errors.

**Describe alternatives you've considered*

[2019-08-27 13:28] vinoa-team commented on #161
Hi @evkhramkov - thanks for the update and for the release. I just tested it, and it works perfectly ! I can access my own custom ENV VARS within the build stage on iOS now (I think Android was already supported since a little while ago ? It works well too)

With regards to accessing ENV VARS in runtime code, we don't really use a library. We have an `env.json` file which contains the ENV VARS. It

[2019-08-27 14:00] dominiquelee opened #944 "Crash annotation should support rich text (e.g. links)"
**Describe the solution you'd like**
In a crash annotation, we'd like to be able to link to a bug in an external system (e.g. VSO - ideally, pasting the result of "Copy work item title" of VSO would be supported).

**Describe alternatives you've considered**
It's possible to simply add the link in the annotation, but to open it, one has to open the bug, edit the annotation and copy-paste the link.

[2019-08-27 14:32] alexander-w-o-s commented on #887
@max-lobanov, everything works good. Thank you!

[2019-08-27 14:50] max-lobanov commented on #887
Great!
I am closing the issue, please let me know if you have any questions

[2019-08-27 14:50] #887 closed

[2019-08-27 14:53] svenza opened #945 "Be able to set thresholds for crash group email notifications"
**Describe the solution you'd like**
Currently, when crash group email notifications are enabled, you get an email when one single crash occurs. There should be an option to set how many crashes need to occur before it is considered a 'group'

**Describe alternatives you've considered**
From what support has informed me, there aren't any other options than turning the notification off and manually

[2019-08-27 14:57] fileman opened #946 "Data support for multi model document"
**Describe the solution you'd like**
Since Cosmos DB is multi model, I'm trying to have different type of document stored in same UserPartition, but Data.ListAsync<T> return all items in UserPartition, even they are X, Y class.

**Describe alternatives you've considered**
- Multiple user partition by append string to DefaultPartitions.UserDocuments + "T" #681
- Add a property with class name and u

[2019-08-27 14:58] martinbonaciugome opened #947 "iOS versions are shown incorrectly, and inconsistently"
**Describe the solution you'd like**
iOS versions are shown incorrectly, and inconsistently, from whats in Distribute and Diagnostics. In Distribute is shows correctly as "version (build)". In Diagnostics is shows as  "build (build)"

**Additional context**
Distribute:
![image](https://user-images.githubusercontent.com/6127051/63782568-6bc66f00-c8a0-11e9-908c-fd9c312e69f2.png)
Diagnostics:
![image

[2019-08-27 17:06] PaulGreenhalgh commented on #305
This is a current HockeyApp feature so not sure why it wouldn't be something that already exists. For me to transition to App Centre this is a must have so I can manage trials/pilots with different groups of 100+ testers. I can't add them all one by one, I need to be able to bulk upload, like I can in HockeyApp today.

[2019-08-27 18:44] ethanneff opened #948 "Build this branch on every push does not work"
**Describe the solution you'd like**
Builds do not autorun when `Build this branch on every push` is selected. This works for my iOS app, but not my Android app.

[2019-08-27 20:03] #948 closed, assigned to nilofer

[2019-08-27 20:12] malouly opened #949 "Make different payment options available"
**Describe the solution you'd like**
As Azure subscriptions is ONLY available on 88 countries, this deprives many users from the ability to leverage VS App Center. We would like to be able to create an account from regular credit cards like many other Microsoft platforms do (Office365, Skype) OR have the link to Microsoft Store

**Describe alternatives you've considered**
We have no alternative so

[2019-08-28 00:00] dj-dev commented on #297
Hi @Oddj0b, does it look likely that this solution will be implemented any time soon? We have an internal ticket open waiting for this functionality. Thanks

[2019-08-28 00:01] dj-dev commented on #320
Hi @Oddj0b, does it look likely that this solution will be implemented any time soon? We have an internal ticket open waiting for this functionality. Thanks

[2019-08-28 00:39] andresdsep commented on #574
+1

[2019-08-28 01:03] andysousa opened #951 "More flexibility around device provisioning (single registration / deletion)"
As it currently stands, you are only able to register/provision all un-provisioned devices or none at all.  The ability to register individual devices or even simple be able to delete un-provisioned devices would be huge beneficial.

Apple only gives us 100 device registrations a year and many times I have testers out there who add devices that they shouldn't be.  Once this happens, I am stuck and

[2019-08-28 06:56] Oddj0b commented on #893
Thank you for reporting the issues, our DRI will look into it.

[2019-08-28 07:01] Oddj0b commented on #891
You're seeing this issue in App Center Build or what exactly do you mean by importing the project into App Center?
Looking at the error it looks like you're using the old test-cloud.exe cli `/Users/vsts/agent/2.155.1/work/1/a/GeneratedTest/packages/Xamarin.UITest.3.0.3/tools/test-cloud.ex` Can you try and use the App Center CLI? [Read here how to install the App Center CLI](https://docs.microsoft.

[2019-08-28 07:29] nevalenny commented on #924
@Nalocar can you try managing your HockeyApp organization users now in App Center? This was recently enabled for adding/removing collaborators.

[2019-08-28 07:32] shpakovski opened #952 "Rename “Closed” in Crash Groups to “Resolved”"
**Describe the solution you'd like**

What do you think about renaming a “Closed” status name of a Crash Group to “Resolved”?

[2019-08-28 08:17] thehoglet commented on #904
@jwallra

The issue occurs with a start-up of just Crashes, and just Analytics.

The endpoint address is formed using ```$"net.pipe://localhost/rvis{id}/service"``` where ```id``` is a positive integer.

The ctor for the binding is this:

[code]

The single endpoint behavior in use by client and server is this:

[ProtoEndpointBehavior](https://github.com/protobuf-net/protobuf-net/blob/master/src/p

[2019-08-28 09:01] ewoody commented on #505
app center push package - version 2.1.1
 when I use setUserId() to to update the registered userId when a user is switching login user, the push is sent to the pervious userId still.

on iOS 12.3.1 iPhone5

I think this issue has not been properly fixed.

[2019-08-28 09:08] msioen commented on #194
@ranterle Isn't manual upload of .aab files (ie without building in appcenter but through other means) in scope of this issue? If not, should I make a separate feature request to get this working properly?

Currently upload works perfectly well but distribution fails with a 400 Bad request. Because of this the .aab file is not visible on app center.
If you do know the exact url of the distribution

[2019-08-28 09:13] gautamkrishnar opened #953 "No support for Custom Platforms"
In Hockeyapp there were an option to use custom platform if we need to add any apps/sdks that are not supported by it, App Center doesn't have that option.

Please see the screenshot below:
![Screenshot 2019-08-28 at 2 38 37 PM](https://user-images.githubusercontent.com/8397274/63842182-c85d8300-c9a1-11e9-90ef-c21aef680c13.png)

This was a crucial feature of hockeyapp, I can't see it anywhere in t

[2019-08-28 09:25] schriftgestalt commented on #133
anyone?

[2019-08-28 10:20] EJohnF commented on #700
@DennisPan
Hi
now I experience a similar issue.
The very first build was in progress for about 30 mins (including test on real device). So I decided to cancel it and run without tests.
But now the build is queued for a long time. (android project)

But the good news is that my ios build was finished successfully for the very first launch.

[2019-08-28 10:24] golanshy opened #954 "Platform does not match error when uploading an Android app to App-Center"
I'm trying to upload an Android app to a new Organisation and I get the following error:
{"status"=>"error", "message"=>"Platform does not match. Expected value: iOS. Actual value: Android."}
The organisation has no apps yet and I couldn't find anything in the settings to tell it's an iOS only (We wish it to be both Android & iOS)
Appreciate your help.

appcenter_upload(
api_token: ENV["APPCENTER_

[2019-08-28 10:46] Oddj0b commented on #951
Thank you for the feature request.

Regarding the device deletion, it's only possible once a year. So I would propose to have a system that removes all devices and only add that is in distribution groups that has **Automatically manage devices** enabled. Would that work for you?

[2019-08-28 10:58] ranterle commented on #194
@msioen Manual upload of AAB is supported in App Center only for distribution to the Play Store at this time. Our goal with this feature was to enable the typical scenarios for developers which involve AAB at this stage, which we identified earlier as being able to build an app with an AAB and distribute said AAB to the Play Store.

App Center itself currently does not support distributing AABs di

[2019-08-28 11:28] JohnH-FF commented on #25
Any movement on this? As a company we need to decide if we will go 'all-in' on Xamarin.UITest, but we will need test coverage in iOS, Android **and** UWP.

[2019-08-28 11:37] msioen opened #955 "Distribution of .aab files"
**Describe the solution you'd like**
Follow-up issue of released feature https://github.com/microsoft/appcenter/issues/194

We're currently not yet using App Center for running our builds, nor to distribute artifacts to the stores. We are however using it to track and distribute builds to the team and testers.

It's currently already possible to upload a .aab file to a release through the api. It'

[2019-08-28 11:38] msioen commented on #194
Thanks for the info. We're not necessarily looking for full aab support.

I logged an issue for this with more detail: https://github.com/microsoft/appcenter/issues/955

[2019-08-28 12:19] chris-cubhub opened #956 "Notification of release failure / success (post build)"
Please add a notification during the release process if it succeeds or fails. The notification should include the destination / environment (Test Flight, Alpha, Production iOS, etc), the release number, etc. It should also contain the logs as an attachment or a link to the release that failed. There is no obvious way to know a release failed at first glance without clicking down to the release lev

[2019-08-28 12:20] master-lincoln commented on #759
I can confirm that the problem is gone in 2.0.7.
We can live with the truncation.

[2019-08-28 12:20] #759 closed

[2019-08-28 12:35] schriftgestalt commented on #133
I have published a dozen new versions in the last two weeks.

One thing that might be a problem is that I didn’t move the app to Appcenter. I’ll like to see that everything works before I switch over for good.

[2019-08-28 12:58] schriftgestalt commented on #133
I tried that.

[2019-08-28 13:43] JeanetteMueller commented on #629
i have the same problem but the solution doesn't help.

[2019-08-28 14:35] lukasjuhrich commented on #327
Are there any updates on this? Is this in consideration, or are there specific reasons not to change the license?

[2019-08-28 15:32] scriptam commented on #880
@hamswan I think this is a duplicate of issue [#143](https://github.com/microsoft/appcenter/issues/143) - Xamarin.Mac Support

Looks similar to wanting App Center Analytics SDK work with Xamarin.Mac applications.
https://github.com/microsoft/appcenter-sdk-dotnet/issues/529

Currently you can add the App Center NuGet packages for a Xamarin.Mac project and the solution will compile however no events

[2019-08-28 16:19] floele commented on #908
@winnieli1208 Hi, thanks for considering my request. I'm not sure if a call is really necessary, my use case is quite easily explained unless you need in-depth details.

I have a WinForms app (also on Github by now https://github.com/canneverbe/Ketarin) that I would like to build and distribute to my users automatically. When I stumbled upon the App Center website I thought that's what it does. An

[2019-08-28 19:54] mAiNiNfEcTiOn commented on #159
I've started with AppCenter, but I definitely need a CI/CD system that allows me to do PR builds.
Integrating with the Build Status API from BitBucket would be easy as a post-build process, but the support for building PRs is a lot more important.

@nrajpurkar I wonder if there's a way to, for example, create a build pipeline via the API. That way I'd be able to at least create a lambda triggered

[2019-08-28 21:59] bbialas commented on #814
@JakubOleksy @botatoes
`https://codepush.azurewebsites.net/v0.1/public/codepush/update_check?deployment_key=XXX&amp;app_version=1.4&amp;package_hash=YYY&amp;is_companion=false&amp;client_unique_id=ZZZ`

This endpoint returns 404... Is it possible to add any redirect on your side to use the latest appcenter domain `https://codepush.appcenter.ms/` ??

I created separate ticket for that because it's

[2019-08-28 23:41] winnieli1208 commented on #133
Hey @schriftgestalt apologies for missing your initial comment. At this time, you'll need to integrate our analytics SDK to use the build filter. Unfortunately we haven't had a chance to remove this dependency but I'll post here if I have any updates.

[2019-08-29 00:04] schriftgestalt commented on #133
I’m not sure what the analytics sdk is doing in detail but I don’t like to add it just to get this totally unrelated feature to work.

[2019-08-29 05:40] Ishita-Pandey opened #958 "Icon of android app not showing on App Center"
I have added the app icon as a vector drawable instead of a .png in my android app.
From my earlier discussion with the AppCenter support team, I learnt that vector drawables are not considered while extracting the icon to show on install.appcenter.ms if it's provided via vector drawables.

Vector drawables are the recommended way of developing for several reasons [https://developer.android.com/gu

[2019-08-29 06:36] jason-system1 commented on #802
@nrajpurkar As you can imagine from my response above, no, no I'm not experiencing this behaviour anymore.

@DennisPan I've contacted the Blue Support Bubble people and I hope you can get linked up with my logs to help identify what was going on. For clarity, I didn't do anything that I think would have fixed it.

[2019-08-29 08:08] mAiNiNfEcTiOn commented on #159
It seems so...

* The endpoint `/v0.1/apps/{owner_name}/{app_name}/branches/{branch}/config` seems to allow a branch configuration ( https://openapi.appcenter.ms/#/build/branchConfigurations_create )

That could be created either at branch creation or at pull request creation. If the latter, would imply that you need to trigger a build as well, which ten you probably need to use the endpoint `/v0.

[2019-08-29 08:33] antpuleo2586 opened #959 "Android keystore credentials available as env variables from build config"
**Describe the solution you'd like**
I'm building and uploading a test app for Detox ui testing via Bitbar in my post-build script.
This involves signing the test app with the keystore. However, even though I've entered the credentials into the build configuration, I don't have access to them during the build.

**Describe alternatives you've considered**
I've had to add all the keystore credential

[2019-08-29 08:36] oliver-eastpoint commented on #397
Hi All,
I was re-directed to here from the App center support team. I would like to +1 on this feature request.

Often when we use AppCenter to release to customers/users, we want analytics/crash reports.
However we don't want the dev/tester usage to be included in that -- so It would be great to be able to create multiple secrets in the one project on AppCenter to separate the two environments. O

[2019-08-29 12:37] moon1978 commented on #731
Is there a place where I can track the feature internally? Was it evaluated?

[2019-08-29 12:42] amarjeet89 opened #960 "react-native-maps failing while build"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-08-29 13:03] galla-devlop opened #961 "In App center events page should we able to see the Device information about particular event ??"
Is it possible to see the device information in app center event page ..??

Example :
i have 10 user, they are using my application and i am getting the events from the 10 devices. But i want to know from which device which event has occurred and which version that user is using like this i want information.

Could please let me as soon as possible ..
Thank you in advance.

[2019-08-29 13:23] chris-cubhub commented on #956
Thanks for the link. I'll definitely look into integrating those into our chat groups for the events that are possible.

Unfortunately it also seems to be missing an event for release failure. Really any kind of method would be super helpful in the case of failure, so I'd be totally happy with a webhook, email, or carrier pigeon that could be fired out of AppCenter.

[2019-08-29 13:44] aaronrogers commented on #219
While that sounds like a really cool feature, I'd simply like to see the list of commits and their messages in the build.  This feature could be split in two.  The first part simply to show the commits and the second to trigger a build for a specific commit.  Hopefully the first one is pretty easy to do as I don't like build messages that say `Merge branch 'dev'`.

[2019-08-29 14:22] Oddj0b commented on #960
App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-started/welcome-to-app-center-support).

[2019-08-29 14:22] #960 closed

[2019-08-29 16:23] nrajpurkar commented on #742
Thanks for opening this bug - are you still facing this issue? @Oddj0b will be able to take a further look and assist.

[2019-08-29 16:24] nrajpurkar commented on #778
Thanks for this feature request! Definitely understand how this could be helpful when distributing your apps. Any thoughts on the items you'd like to see customized? Logo, colors, etc?

[2019-08-29 17:06] amchew commented on #741
Hi @GokulVijayan, thanks for reaching out with your feature request! We'll get back again. fyi @Oddj0b

[2019-08-29 17:11] amchew commented on #903
Thank you @KSemenenko for the feature request! @Oddj0b, could you please take a look?

[2019-08-29 17:12] amchew commented on #207
Thanks for your feature request @cicdmobilepos! @nrajpurkar fyi

[2019-08-29 17:13] amchew commented on #674
Thanks for your feature request @chrkaatz! @iageoghe @blparr would you be able to take a look?

[2019-08-29 17:14] amchew commented on #955
Thanks for your feature request @msioen! @dimazaid @botatoes would you be able to take a look?

[2019-08-29 17:15] amchew commented on #267
Thanks for your feature request @hannta! @Oddj0b would you be able to take a look please?

[2019-08-29 17:16] amchew commented on #961
Thanks @galla-devlop for the question! @hamswan would you be able to take a look please?

[2019-08-29 17:18] amchew commented on #342
Thanks @mahe-m for the screenshots and feature request! @botatoes could you please take a look?

[2019-08-29 17:19] amchew commented on #718
Thanks @sapieneptus for your feature request! @nrajpurkar could you please take a look?

[2019-08-29 17:20] amchew commented on #725
Thanks @hegra for the request! @Oddj0b and @botatoes could you please take a look?

[2019-08-29 17:21] amchew commented on #359
Thanks @tamarianBen for your request! @nrajpurkar, could you please take a look?

[2019-08-29 17:22] amchew commented on #777
Thanks @rnystrom for your request! @hamswan, could you please take a look?

[2019-08-29 17:23] amchew commented on #795
Thanks @jrahma for your request! @hamswan, could you please take a look?

[2019-08-29 17:28] amchew commented on #952
Thanks @shpakovski for the suggestion! @winnieli1208 could you please take a look?

[2019-08-29 17:32] amchew commented on #426
Thanks @DrBeak1 for the request! @nrajpurkar would you mind taking a look?

[2019-08-29 17:32] yoannchaudet commented on #961
Our analytics module counts and aggregates your events but does not keep track of them individually.

You can identify which exact device sent an event by looking at the actual SDK logs using our [Export](https://docs.microsoft.com/en-us/appcenter/analytics/export) feature.

[2019-08-29 17:32] amchew commented on #959
Thanks @antpuleo2586 for the request! @nrajpurkar would you mind taking a look?

[2019-08-29 17:33] amchew commented on #176
Thanks @jocharlet @DrBeak1 for reporting the bug! @botatoes would you mind taking a look?

[2019-08-29 17:34] amchew commented on #958
Thanks @prettypancakes for the feature request! @botatoes would you mind taking a look?

[2019-08-29 17:37] amchew commented on #836
Thanks @KenrickV-Hexaware for the feature request! @jwargo would you mind taking a look?

[2019-08-29 17:38] amchew commented on #410
Thanks Connor @cofitz1 for the feature request! @Oddj0b would you mind taking a look?

[2019-08-29 17:41] blparr commented on #674
Hi @chrkaatz! Thanks for your patience, we are looking into this offline. We'll get back to you as soon as we have an update.

[2019-08-29 17:42] amchew commented on #729
Thanks @ferdicus for the feature request! @botatoes would you mind taking a look please?

[2019-08-29 17:42] amchew commented on #258
Thanks @gaspesla for the feature request, @winnieli1208 would you mind taking a look please?

[2019-08-29 17:44] amchew commented on #883
Thanks @zek for your quesiton! @nrajpurkar would you mind taking a look please?

[2019-08-29 17:46] amchew commented on #643
Thanks @rhouweling for reporting the bug! @botatoes would you mind taking a look please?

[2019-08-29 17:47] amchew commented on #867
Thanks @sogogolf for the request! @jwargo would you mind taking a look please?

[2019-08-29 17:48] amchew commented on #244
Thanks @dlbroadfoot for the request! @nrajpurkar would you mind taking a look please?

[2019-08-29 17:48] amchew commented on #871
Thanks @sengland14 for the request! @botatoes would you mind taking a look please?

[2019-08-29 17:49] amchew commented on #353
Thanks @ilaiyarajak for your request! @nrajpurkar would you mind taking a look?

[2019-08-29 17:51] DennisPan commented on #161
Closing this. Feel free to re-open it if the fix is not working.

[2019-08-29 17:51] #161 closed

[2019-08-29 17:51] amchew commented on #835
Thanks @cosminstirbu for your request! @winnieli1208 would you mind taking a look?

[2019-08-29 17:52] amchew commented on #846
Thanks @prollin for the response, @nrajpurkar would you mind taking a look?

[2019-08-29 17:55] amchew commented on #859
Thanks @humblehacker for the request! @Oddj0b would you mind taking a look please?

[2019-08-29 18:22] jwargo commented on #867
@SogoGolf that's an interesting suggestion, we don't actually do any integration with OneSignal except for that redirect you already saw, so we have no way of knowing that you have OneSignal configured. I'll file this as a feature request as we see what we do next here.

[2019-08-29 18:27] jwargo commented on #836
@KenrickV-Hexaware as we understand it, Baidu is shutting down that service, but we're still researching this to confirm. Customers told us Baidu is not accepting new customers or projects and for that reason we deprecated the Baidu sample on the Notification Hubs side because we couldn't even test it.

For that reason, we have no plans for adding this to App Center today. The only option we're aw

[2019-08-29 18:31] jwargo commented on #505
@ewoody how much time between login and push send?  There's a window where things can not align properly. The ID refresh is not instantaneous, so what you're experiencing can happen. We documented this here: https://devblogs.microsoft.com/appcenter/visual-studio-app-center-user-identity-shared-devices/.

[2019-08-29 18:48] blparr commented on #674
Hi again @chrkaatz! We would like to ask you some follow up questions - if you don't mind, we will be reaching out to you via the in-portal support to do so, and I'll be closing this issue to avoid duplication.

Thank you!

[2019-08-29 18:50] #674 closed

[2019-08-29 18:55] DrBeak1 commented on #426
@amchew Thanks for having a look at this. Another individual filed a request for this. When I created this ticket I hadn't run into a problem **yet** - but now my team has. See here: https://github.com/microsoft/appcenter/issues/881

[2019-08-29 18:56] DrBeak1 commented on #176
@amchew not sure why you @'d me here, but I do support this bug being fixed :)

[2019-08-29 19:10] bova80 commented on #501
just upgraded to RN 60 and had this problem with the /app/app/build folder.  Can't figure out how to get rid of second app folder that doesn't exist

[2019-08-29 19:15] amchew commented on #674
Thanks @blparr!

[2019-08-29 19:18] amchew commented on #176
@drbeck1 copy paste mistake 🤦🏻‍♀️ But good to have your support to fix this 😉

[2019-08-29 19:21] DennisPan commented on #501
@zek @bova80 do you mind reaching out to support (via chat bubble on the App Center portal) for this?

[2019-08-29 19:30] bova80 commented on #501
will do

[2019-08-29 20:33] bova80 commented on #501
turns out delete the duplicate gradle stuff in the app dir resolved the issue.  It wasn't working for me cause I didn't realize I had to go back into build configuration and re-save it to reset settings.  works now though.

[2019-08-29 20:40] botatoes commented on #958
Noted and in the backlog. We will prioritize this accordingly.

[2019-08-29 20:41] botatoes commented on #814
Hi all, we have released a new version of the SDK. We're currently working on proxying the old API calls for a migration plan but the slow server and unstable issue should be resolved if you upgrade to the newest SDK.

[2019-08-29 20:47] DennisPan commented on #501
Awesome! Thanks for sharing! Feel free to submit a different feature request to not require a re-save for such changes to take effect 😄

[2019-08-29 21:01] JPSiller opened #962 "Download all UITest screenshots in one click"
Hello,

**Describe the solution you'd like**
I want to be able to download in one click all the UITest screenshots created in a test run.

Currently I have to download each screenshot one by one which is a very tedious process when you have several pictures.

[2019-08-29 21:29] winnieli1208 commented on #805
Thanks for the feature request! This isn't on our roadmap but we'll leave this issue open to track community interest.

In the meantime, you can [export your data to App Insights](https://docs.microsoft.com/en-us/appcenter/analytics/export) to filter out specific data points or use our [analytics APIs](https://openapi.appcenter.ms/#/analytics) for more customizability. Ill let @hamswan jump in wit

[2019-08-29 21:31] winnieli1208 commented on #840
Thanks for the feature request! This isn't on our immediate roadmap but we've definitely heard similar requests like this. We'll keep an eye out on this thread for community interest and post here with any updates.

Thanks!

[2019-08-29 21:34] winnieli1208 commented on #962
Thanks for the suggestion! I can definitely see this being a valuable feature. This isn't on our current roadmap but we'll keep this issue open to track community interest. In the meantime, I'll let @Oddj0b jump in with any additional details or suggestions.

[2019-08-29 21:34] blparr commented on #840
Hi @nscherer! Thanks a lot for your feature request! This is on our radar, but don't have immediate plans to implement it. Let me ask you a follow up question - how would you define 'Last Updated' in App Center (given that there are several services you might be updating)?

Thank you so much!

[2019-08-29 21:46] winnieli1208 commented on #689
Hey thanks for the feature request! This isn't on our immediate roadmap but we will continue to monitor this issue for feedback and interest.

[2019-08-29 21:51] amchew commented on #938
Thanks for the suggestion! Would you mind elaborating on why getting the PackageId/BundleId is important and your user scenario? In the meantime, I'll let @baileybrooks jump in with any additional details or suggestions.

[2019-08-29 21:52] amchew commented on #937
Thanks for your suggestion @svenza! I can see that being important. This is not currently on our roadmap, but we'll keep this ticket open to gauge community interest. In the meantime, I'll let @baileybrooks and @nrajpurkar comment with more details.

[2019-08-29 21:54] amchew commented on #603
Hey @pita95, I'll be closing this issue as the bug is resolved now. Feel free to reach out and open this ticket again if not. Thanks!

[2019-08-29 21:56] nrajpurkar commented on #265
Thanks for the suggestion @RWOverdijk. A UI indicator could definitely clear up some confusion here. We'll take a look into this and see how we can make this experience better. @plainspace, penny for your thoughts on this too

[2019-08-29 21:59] nrajpurkar commented on #333
Hi @mattleibow, is this for a build that doesn't build on push and build on you manually clicking the button instead? The color coding shows status for the latest build that ran. If you're not building on every push, then this may not be the latest commit.

[2019-08-29 22:01] nrajpurkar commented on #953
@gautamkrishnar thanks for the feature request. Tapping in @derpixeldan to take a closer look. Additionally, when creating a new app in App Center, there's a place at the bottom to let us know if you'd like to see a platform that isn't available. This doesn't let you add the app, but certainly helps us understand what other platforms to support.
![image](https://user-images.githubusercontent.com/1

[2019-08-29 22:06] winnieli1208 commented on #850
Thanks for the request! We're looking at ways to improve our crash reports UI including making relevant information easier to find. I don't have an ETA at this time but will post here with updates.

(Reference #925 similar request but for User ID)

[2019-08-29 22:18] nrajpurkar commented on #926
Thanks for the feature requst @martinbonaciugome! I understand how sorting throughout the product could make your interactions better. We'll keep tracking this as a potential improvement in the future.

[2019-08-29 22:22] nrajpurkar commented on #299
Thanks for the request @softlion. Would an ```always latest``` option in your build configuration be something of interest?

[2019-08-29 22:23] nrajpurkar commented on #807
Thanks for the issue @timcolla. Tapping in @botatoes and @Oddj0b to take a further look

[2019-08-29 22:23] winnieli1208 commented on #642
Thanks for the feature request! We don't have immediate plans to address this but we'll incroporate this feedback into our planning and post here with any updates.

I understand attaching custom properties to your errors might not be an ideal solution but that's the best suggestion I have at the moment. Thanks!

[2019-08-29 22:24] nrajpurkar commented on #703
@hugodantas we don't allow downloading the signing credentials stored in App Center. They're securely stored on our end, but you should still hold onto it locally. Sorry for the inconvenience!

[2019-08-29 22:24] #703 closed

[2019-08-29 22:25] winnieli1208 commented on #156
Thanks for the feature request! This is something we've heard quite a few times and would like to support at some point. Unfortunately, this isn't on our current roadmap but we'll monitor this thread for community support and post here with updates. Thanks!

[2019-08-29 22:26] nrajpurkar commented on #922
Thanks for the feature request @lisional - I can definitely understand how the alternative is tedious. @botatoes or @blparr may be able to help out here.

[2019-08-29 22:28] winnieli1208 commented on #943
Hey @james1301 which SDK are you currently using for your Service app? We don't currently support "services" but I'd be interested in learning more about your scenario. We can chat more in our call or via this thread. Thanks!

[2019-08-29 22:35] winnieli1208 commented on #147
This is a great suggestion! We don't have any direct integrations with Trello or Microsoft Todo but you can configure [webhooks](https://docs.microsoft.com/en-us/appcenter/dashboard/webhooks/) to work with these apps.

App Center also integrates with Jira, Azure DevOps, and Github to automatically create bugs when there's new crashes come in. You can find more information in our [bugtracker docume

[2019-08-29 22:35] amchew commented on #647
Hey @faulfish, apologies for the late reply. Mind if you elaborate more on what you mean by badge number and your user scenario please? Is this the build badge number?

[2019-08-29 22:37] amchew commented on #935
Hey @JKennedy24, thanks for reaching out! @King-of-Spades or @Oddj0b would you mind sharing more about this?

[2019-08-29 22:40] winnieli1208 commented on #516
Thanks for the request! I agree it's a pretty yucky experience. Due to other priorities at the moment, we don't have immediate plans to address this. We'll keep this issue open to keep track of community support and I'll post here if we have any updates. Thanks!

[2019-08-29 22:40] amchew commented on #606
Thanks @abigalinov17, that would be a useful feature. Currently, that's not on our roadmap, but we'll keep this open to gauge community interest. In the meantime, I'll let @botatoes share any comments or suggestions.

[2019-08-29 22:41] amchew commented on #839
Thanks @jzeferino for reaching out and letting us know! I'll let @jwargo comment more about this.

[2019-08-29 22:42] amchew commented on #854
Thanks @MathewLC for reaching out and sharing this request! I'll let @winnieli1208 comment more about this.

[2019-08-29 22:48] amchew commented on #949
Hi @malouly, thanks for reaching out, and I see your point. [Azure billing is currently commercially available in 140 countries and regions ](https://azure.microsoft.com/en-us/free/free-account-faq/), and most of what App Center offers is backed by Azure. May I ask what region you are currently in?

In the meantime, I'll let @ricduong and @Zakeelm add more details about billing.

[2019-08-29 22:50] amchew commented on #858
Thank you @softlion for reaching out! Adding @nrajpurkar to share more details.

[2019-08-29 22:52] amchew commented on #617
Thanks @adrianknight89, @ChrisMGilbert for the feature request! I'll let @jwargo share more details about this.

[2019-08-29 22:58] softlion commented on #299
Yes !

Le ven. 30 août 2019 à 00:25, Nilofer Rajpurkar <notifications@github.com>
a écrit :

--
Benjamin Mayrargue
CEO Vapolia, membre du Club City-O
+33682227850
vapolia.fr <http://www.vapolia.fr>/Skype/WhatsApp

[2019-08-29 23:31] mseyad commented on #37
For everyone who is interested in GitLab on-prem support, if you would like to participate in an early preview, please reach out to me via email (can be found in my profile). Currently looking at finishing the initial integration in about a week. We'd love to have you start trying and collect feedback!

[2019-08-29 23:34] nrajpurkar commented on #243
Thanks for the feature request @namrog84! We'll keep this open to track interest in this.

[2019-08-29 23:36] nrajpurkar commented on #414
Thanks for the feature request here @MichaelMackendMS. Related to #265, we can make it clearer that you need to save the build configuration for scripts to be triggered. We'll take a deeper look into improving this experience.

[2019-08-29 23:38] nrajpurkar commented on #533
Thanks for this feature request @spiridonkopicl. To clarify, you'd like to add some sort of tag onto a build such as ```QA Build``` and bucket all builds with that tag separately? Does that sound correct or are you asking for something different?

[2019-08-29 23:38] winnieli1208 commented on #411
Thanks for the feature request! This isn't currently on our roadmap but I'll let @Oddj0b jump in if we have any future plans to support this scenario.

Thanks!

[2019-08-29 23:39] nrajpurkar commented on #263
@Overtorment no way to do this at the current time if you have the **Build on push** setting chosen in your build configuration. We'll keep this request open to track further interest.

[2019-08-29 23:43] nrajpurkar commented on #205
Thanks for the feature request @nschild. Similar to #956. Keeping both open to track further interest.

[2019-08-29 23:45] nrajpurkar commented on #837
Thanks for the feature request @jrahma. Tapping in @jwargo to take a closer look at this one.

[2019-08-29 23:46] nrajpurkar commented on #838
Adding in @jwargo to take a look at this one as well

[2019-08-29 23:47] winnieli1208 commented on #463
Hi @harinikmsft thanks for filing this request. As far as I know, we don't have any immediate plans to support this (@botatoes please correct me if I'm wrong) but I'd love to learn more about this. Let's set up some time between you and the App Center team to chat more about this!

[2019-08-29 23:48] winnieli1208 commented on #884
Thanks for the request! Right now, we only support extracting symbol files if you use App Center build and distribute. We don't have any immediate plans to change this but I'll monitor this thread for support and post here with any updates. Thanks!

[2019-08-29 23:49] nrajpurkar commented on #719
Thanks for the feature request @sapieneptus! Keeping this open to track future interest in this feature.

[2019-08-29 23:51] nrajpurkar commented on #236
Thanks for this issue @daniel-leal. Similar to #154, this sort of history is valuable for the build process for non-automated actions.

[2019-08-29 23:54] nrajpurkar commented on #831
Thanks for opening this issue @drakonkat. Tapping in @botatoes to take a further look

[2019-08-29 23:55] nrajpurkar commented on #502
Thanks for the feature request @tonyxiao! Tapping in @botatoes to take a further look on this.

[2019-08-30 00:03] nrajpurkar commented on #471
Thanks for the feature request @wsadurski! Keeping this open to track further interest.

[2019-08-30 00:08] nrajpurkar commented on #954
thanks for the issue @golanshy, is this when using the fastlane plugin?

[2019-08-30 00:09] nrajpurkar commented on #748
Thanks for the feature request @lickel. Tapping in @hamswan to take a deeper look at this.

[2019-08-30 00:10] nrajpurkar commented on #744
Thanks for this bug report @davestjohn. Tapping in @hamswan to take a look at this.

[2019-08-30 00:12] nrajpurkar commented on #844
Thanks for the issue @androideveloper. Taking a further look and I'll get back to you.

[2019-08-30 00:14] nrajpurkar commented on #288
Thanks for the feature request @ajchili. Tapping in @jwargo to take a deeper look at this.

[2019-08-30 00:19] nrajpurkar commented on #395
Thanks for the feature request @tonyarnold. Understand that the workaround isn't ideal. We'll watch this to track additional interest as a potential future improvement.

[2019-08-30 00:20] nrajpurkar commented on #480
Thanks for the feature request @RobMeyer. We'll keep this open to track further interest in this support.

[2019-08-30 00:30] nrajpurkar commented on #252
Thanks for this feature request @Talgat777. Can see how triggering for just one branch would be helpful and create less noise. We'll track further interest in this.

[2019-08-30 00:32] nrajpurkar commented on #580
Thanks for the feature request @yoshikischmitz. We did recently ship the ability to [clone](https://docs.microsoft.com/en-us/appcenter/build/branches#cloning-build-configurations) your build configuration including your environment variables. This doesn't however keep your variable values in sync which may be one of your goals here.

[2019-08-30 00:43] m-yukio commented on #884
Hi,
My name is Yukio Murakami.

Thank you for your reply.
Future trends will be monitored!

[2019-08-30 00:45] cjonsmith commented on #814
Hey all, in an attempt to be more transparent with our findings around the issues around the existing Code Push service, I’d like to go over some of our findings during our investigation into the performance degradation issues surrounding API requests made from our Cordova and React Native plugins/SDKs.

Since ~August 1st 2019, we’ve seen an increase in request durations and 4xx responses. At the

[2019-08-30 01:01] nrajpurkar commented on #481
Thanks for the feature request @damitha1984. Understand how this would be useful to catch expiring provisioning profiles on your distributed apps. We'll continue to track this feature request.

[2019-08-30 01:04] nrajpurkar commented on #760
Thanks for this feature request @db2222! Understand the additional convenience of the clickable links. We'll keep this open as a potential future improvement.

[2019-08-30 01:05] nrajpurkar commented on #188
Thanks for the feature request @namrog84. Tapping in @Oddj0b for further information.

[2019-08-30 01:06] nrajpurkar commented on #281
Thanks for the feature request @serj-lotutovici. @Oddj0b can provide further information here.

[2019-08-30 01:06] nrajpurkar commented on #929
Thanks for filing this issue @vance. Tapping @botatoes for further information on this.

[2019-08-30 03:02] Chincegen opened #963 "xcode 上打包编译报No known class method for selector ‘startFromLibraryWithServices:’"

[2019-08-30 03:48] amchew commented on #963
Hi @chincegen, thanks for reaching out! I’m not sure what your feature request is, mind if you elaborate your use case scenario?

[2019-08-30 04:51] yoshikischmitz commented on #580
Hi @nrajpurkar I did notice the cloning feature recently, in my case this definitely addresses one big part of the pain point, so was happy to see that. I haven't had an immediate use case for syncing, as the only environment variables I store are URLs and tokens, that all are by their nature fairly long lived.

[2019-08-30 06:40] laurentkempe commented on #31
I hope this will also come for WPF!

[2019-08-30 07:47] jpc1963 commented on #421
Hang on. I don't think I tested this properly the last time.
I am (again) trying to update my UI test to nunit 3 using the following packages:

- Nunit: 3.11
- Specflow 3.0.225
- Xamarin UITest 3.0.3

I am using VS2019 for mac (version 8.2.5 build 5). I have mono 6.0.0.327 but I have set 5.18.1.28 as the default. When I run my test (on ios simulator) I get the error: Exception has been thrown by t

[2019-08-30 07:56] ranterle commented on #844
When running a debug build for Android Java/Kotlin apps the build tools automatically sign your application with a [debug certificate](https://developer.android.com/studio/publish/app-signing#debug-mode). This is a self-signed certificate which hence should not be trusted outside the scope of your local debugging. Also, once the build is signed by the build tools, we can't re-sign it.

What is you

[2019-08-30 08:02] golanshy commented on #954
Yes, when using the fastlane plugin

[2019-08-30 09:35] zek commented on #501
@DennisPan I did but no answers for 2 weeks :/

[2019-08-30 10:00] Jamminroot commented on #861
We haven't heard from you for a while now. Closing the issue, but feel free to reopen in case the problem is not resolved.

[2019-08-30 10:00] #861 closed

[2019-08-30 10:25] james1301 commented on #943
Hi @winnieli1208 we are created a c# Console Application essentially. Using the Visual Studio 'Windows Service' Template. If that answers your question?

[2019-08-30 11:58] james1301 commented on #943
But yeah can discuss more on our call.

[2019-08-30 13:12] henduck commented on #940
Just to close the loop on this.... we are now building again. Just had to change the iOS csproj so that both the Signing Identity and Provisioning Profile are set to 'Automatic' rather than any specific values for the Release/iPhone configuration. And more specifically, the signing identity must be set to **Distribution (Automatic)**   Anything else, and the build would fail at the signing step.

[2019-08-30 15:23] john7doe commented on #893
The crash in the test report is deep in the (native) code of android. The code path is triggered by the testserver processing a query from your test. The test server is running inside the same process as your application. There is no way we can catch the error/signal so the app process is terminated and as a result thereof the test fails since it cannot communicate with the test server.

Since the

[2019-08-30 16:22] winnieli1208 commented on #360
Thanks for the feature request! This isn't on our short term roadmap but let's keep this issue open to track interest from the community. We'll post here with updates.

[2019-08-30 16:24] King-of-Spades commented on #287
@jayanths469 If the webview is outside of your app sandbox, then testing with Xamarin.UITest isn't supported because Xamarin.UITest cannot automate multiple apps at the same time. That's the main scenario discussed in this issue, which is why it is a feature request.

If the webview _is_ inside of your app sandbox, then it should be possible to query and interact with it; but webview queries work

[2019-08-30 16:26] winnieli1208 commented on #469
Thanks for the feature request! This isn't listed on our roadmap at the moment but I'll let @botatoes chime in with any suggestions or more details regarding upcoming plans.

[2019-08-30 16:28] winnieli1208 commented on #753
Hi @ciaranmccaughey - thanks for opening an issue! Can you start a support thread via the blue chat bubble on the bottom left? This will put you in touch with our support and engineering team so they can help troubleshoot.

In the meantime, @Oddj0b can jump in if there are any suggestions.

[2019-08-30 16:58] DennisPan commented on #501
@zek I found the conversation in support. Looks like we waited for your response 11 days ago, and closed it due to inactivity. I will re-open it and then we can follow up

[2019-08-30 17:30] Ronaldoh1 commented on #866
I'm having the same problem with 12.4

[2019-08-30 17:37] amchew commented on #881
Thanks @szuchunhung and @DrBeak1 for the request! This is currently not on our backlog, but I see your use case. I'll let @nrajpurkar share more details.

[2019-08-30 17:39] amchew commented on #941
Thanks for the feature request @1ok1! We currently don't have this on our roadmap, but I'll let @Oddj0b share more.

[2019-08-30 17:40] amchew commented on #849
Thanks for posting @pontusntengnas! @Oddj0b or @King-of-Spades would you mind taking a look?

[2019-08-30 17:42] amchew commented on #817
Thanks @jrahma for your feature request! We can see how this will be important, also how this is present in Firebase. We currently don't have this planned in our roadmap, and I'll let @hamswan share more details.

[2019-08-30 17:42] nrajpurkar commented on #954
Thanks for clarifying! We're taking a deeper look at this.

[2019-08-30 17:47] evkhramkov commented on #954
@golanshy we already have a ticket from you about this https://github.com/microsoft/fastlane-plugin-appcenter/issues/111

Have you reached out to our support? Also take a look at this comment, maybe it is the same case https://github.com/microsoft/fastlane-plugin-appcenter/issues/111#issuecomment-526215976

[2019-08-30 17:48] evkhramkov commented on #954
I'm closing this as a duplicate of https://github.com/microsoft/fastlane-plugin-appcenter/issues/111

[2019-08-30 17:53] brentonhouse commented on #304
@botatoes - Should this be added to the roadmap here as it was a popular feature in HockeyApp? https://github.com/Microsoft/appcenter/wiki/Roadmap

[2019-08-30 17:56] #954 closed

[2019-08-30 18:11] blparr commented on #922
Hi @lisional , thanks a lot for your feature request. This is definitely something in our radar. I don't have an ETA I can share with you just yet, but I'll keep this feature request open to make sure we update you when we do.

Thanks!
Blanca

[2019-08-30 18:23] King-of-Spades commented on #935
@amchew I feel in this case I need to defer to @Oddj0b on this question.

[2019-08-30 18:36] KSemenenko opened #964 "W/System.err( 6127): remove failed: ENOENT (No such file or directory)"
During app initialization on android, before I get to the MainPage I get following error: 08-30 13:46:19.081 W/System.err( 6127): remove failed: ENOENT (No such file or directory) : /data/user/0/com.app.myapp/files/appcenter/database_large_payloads/group_analytics/10.json
After this the splashscreen stays on my screen until I kill the app, if I press pause in visual studio, I don't see any c# thre

[2019-08-30 19:15] hamswan commented on #964
Thanks for reporting , we will take a look at this. Looks like you already created on https://github.com/microsoft/appcenter-sdk-android/issues/1233/

I will close this one as we are following this up in our SDK board.

[2019-08-30 19:15] #964 closed

[2019-08-30 21:10] hamswan commented on #777
Thanks @rnystrom we will add this as a feature request.

[2019-08-30 21:17] alexcnichols commented on #805
I agree that it can cloud the Analytics reports when Build launch tests and Test runs are included. Would be helpful to have a way to filter those out (probably by default).

[2019-08-30 21:28] alexcnichols commented on #777
I'd agree. Things like including simulator and emulator numbers can really cloud up the Analytics reports. Having a way to filter those out (probably by default) would be nice.

I see #805 in a similar way since Build launch tests and Test runs have a similar consequence.

[2019-08-30 21:31] lilyngabichtranADBE opened #965 "Xcode 11 Support to distribute .xcarchive.zip file instead of .ipa"
+1 **Be able to upload the application.xcarchive.zip file to HockeyApp**
With xcode11, we will now have to deliver to Apple .xcarchive bundle.  We would like to be able to post the same .xcarchive bundle to HockeyApp.  Currently with Xcode 10 and below, we are posting .ipa.

[2019-08-30 21:36] owenniblock commented on #421
Hi @jpc1963 - UITest 3.0.3 should be compatible with the latest mono.

Can I ask what version of Xcode you're using? And also whether you have Xcode 11 installed (regardless of whether you are using it for this simulator).

[2019-08-30 22:04] amchew commented on #965
Thanks for the feature request @lilyngabichtranADBE! We're currently in the midst of [deprecating HockeyApp by Nov, 2019](https://hockeyapp.net/blog/2018/11/16/thanks-hockeyapp-app-center-will-take-it-from-here.html), so if anything, this feature will be implemented in App Center.

In the meantime, I'll let @derpixeldan and @botatoes share more details.

[2019-08-30 23:14] winnieli1208 commented on #835
Thanks for feature request and additional context. I can definitely see the value in this feature especially in a scenario like the one you provided. Unfortunately, due to other priorities at the moment, this isn't on our roadmap. We'll keep an eye out on this thread for additional interest to help us prioritize in the future.

Thanks!

[2019-08-30 23:17] winnieli1208 commented on #258
Hey @gaspesla thanks for the request. I understand this is a really annoying experience for some users. We have an item on our backlog to make these filters persistent but I don't have an ETA at the time. I'll post here when I have updates. Thanks for your patience!

(FYI duplicate request #211)

[2019-08-30 23:19] winnieli1208 commented on #952
I think that's a valid suggestion! @shpakovski what does "Resolved" mean to you compared to "Closed"?

[2019-08-31 06:35] shpakovski commented on #952
Thanks for getting back to me!

1. It means that code was Fixed or Rewritten.
2. It means that it is **not** Ignored.

[2019-08-31 07:33] mmarandici commented on #940
I am experiencing exactly the same issue with newly configured builds.

[2019-08-31 10:09] JanabiSoft commented on #147
Thanks,

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Winnie Li <notifications@github.com>
Sent: Friday, August 30, 2019 2:38:44 AM
To: microsoft/appcenter <appcenter@noreply.github.com>
Cc: JanabiSoft <janabisoft@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/appcenter] [Feature] add capability of e

[2019-08-31 12:53] mheijkant commented on #943
With your coming support for windows WPF, i would also like to have support for windows service app's. Our client/server (service) solution for internal use will then have full diagnostic and analytics support.

[2019-08-31 17:30] #863 closed

[2019-09-01 01:49] MungeParty opened #966 "Access to modify codepush deployment targets by user or team"
**Describe the solution you'd like**
I want to be able to set which users and teams have access to each codepush deployment within an app.

**Additional context**
The use case is restricting developers from being able to push bundles to non-staging deployments, but allowing those with access, such as a release management team, to promote bundles to production deployments in the same app using the

[2019-09-01 15:48] malouly commented on #949
Thank you very much,

I’m from Mauritania (west Africa :  <https://en.wikipedia.org/wiki/Mauritania> https://en.wikipedia.org/wiki/Mauritania ) and we don’t see our country name in the supported countries list. We appreciate very much your help to include it to the list.

Cordialement / Best regards

LOULY  Mohamed-Abdallahi

Directeur Général / CEO

GTI international (GTI)

Tel : (+222)  26 300 3

[2019-09-02 02:40] joabalea commented on #690
@mifi Did you check under _Distribute > Stores > Production_ your release details.
We do report publishing errors from Apple there.
_Build 22 distributed_ message does not guarantee success.
Here is an example of what you should see in the release details information page:
![Screen Shot 2019-09-02 at 11 04 49](https://user-images.githubusercontent.com/39932946/64086999-11348380-cd76-11e9-8c01-93ea

[2019-09-02 07:29] jpc1963 commented on #421
I am using xcode 10.3. xcode 11 is not installed.

[2019-09-02 08:10] androideveloper commented on #844
@ranterle Thanks for your reply. We have 3 build variants: debug, staging and release. For testing purposes, we distribute debug and staging builds via AppCenter (why distribute release builds? They are longer to build. Release apk-s are also dangerous on this step, they can be distributed on real users devices via email, etc. We use release build type only on pre-release and release steps). For s

[2019-09-02 09:05] petero-dk commented on #530
+1 but is this not a duplicate of #412 ?

[2019-09-02 09:06] RWOverdijk commented on #265
What the hell? @plainspace gets paid a penny for his thoughts and I only get a _thanks_? Shameful!

Thanks for the response 😄

[2019-09-02 10:45] school-today commented on #940
I have the same issue. Old builds ok, but new with same configuration - throws an error.

[2019-09-02 10:53] Lucas-Geitner commented on #690
Thanks @joabalea !

[2019-09-02 11:14] mifi commented on #690
Gotcha! Thanks. I found the error there. It would be extremely helpful for new users if the the simple "Build 22 distributed" message would show link to this page, or at least say "Build 22 distributed - go to distribute menu to see the status"

[2019-09-02 12:32] derpixeldan commented on #953
@gautamkrishnar closing this as it's tracked here https://github.com/microsoft/appcenter/issues/464

[2019-09-02 12:32] #953 closed

[2019-09-02 12:53] safeery2k opened #967 "Xamarin.iOS task failed with error Failed to find iOS signing identity"
Hi, I'm suddenly facing the below error although this used to work fine and I haven't change anything in my build configurations. I've attached the build log.

##[error]Xamarin.iOS task failed with error Failed to find iOS signing identity. Verify the signing and provisioning information provided.. For guidance on setting up the build definition, see https://go.microsoft.com/fwlink/?LinkId=760847.

[2019-09-02 13:08] jpc1963 commented on #421
One more update...
I removed all references to SpecFlow from my test project. And converted the specflow feature to a simple nunit test. This works OK using the latest version of nunit & xamarin.uitest.
I am running the tests from vs2019 on a mac. Using the latest mono version.
So the problem seems to be specflow - or the interaction between visual studio & specflow.

[2019-09-02 13:34] #967 closed

[2019-09-02 13:34] safeery2k commented on #967
Looks like my certificate was expired.

[2019-09-02 14:28] alexshikov commented on #21
Our app is already in the store and has a history in build number. Now there is no easy way to set base build number apart from writing custom pre build scripts :(

[2019-09-02 14:29] baskren commented on #165
What is the status of this?

[2019-09-02 18:01] nrajpurkar commented on #265
😛 For context, @plainspace works on App Center's design

[2019-09-02 18:35] RWOverdijk commented on #265
Oh cool! Nice job so far 😎

[2019-09-03 02:18] Swiftless opened #968 "Support for Test Runs with Android App Bundle (.aab)"
**Describe the issue experienced**
Attempting to run a UITest via Azure Pipelines on a build that produces a .aab file results in:

**Describe the solution you'd like**
For the application file to successfully validate, required apk files to be extracted and tests to be run.

**Describe alternatives you've considered**
Modifying the pipeline to use a different build configuration that produces an

[2019-09-03 03:50] JourKung commented on #37
Great thank you!

[2019-09-03 05:11] larisa-feldman opened #969 "Restrict who can create apps when using SSO"
**Describe the solution you'd like**
I would like to have an option to restrict app creation when SSO is enabled via Active Directory. The options would be set on Organisation. I would also like to an ability to create app creation under users when they are authenticated via SSO. Ideally all of this would be LDAP role based.

**Describe alternatives you've considered**
Unfortunately, there are no

[2019-09-03 06:09] pingyen commented on #31
I am Ping-Yen from Puffin Browser development team.

This is also the blocker of our migration.

We use Custom Crashes API in our Windows version.

[2019-09-03 10:30] derpixeldan commented on #886
Both .dmg and .pkg are now supported.

[2019-09-03 10:31] #886 closed

[2019-09-03 12:58] Ronaldoh1 commented on #866
any updates?

[2019-09-03 14:40] c-lamont commented on #194
Worked great!

However it has removed my Dutch .resx language file and everything is in English now. The .apk file has no issues.

Any fixes for this?

[2019-09-03 14:42] marcocattai opened #1441 "UIKitForMac support"
Please make sure App Center works fine with Xcode 11 with UIKitForMac - even including it through Swift Package Manager -

We cannot deploy our app on MAC without App Center and this is the only library which is not working yet.

Thank you

[2019-09-03 14:48] evkhramkov commented on #194
@c-lamont

Do you miss it inside aab itself, or it is after installing from Google Play? If it is from Google Play, than this is expected, please check documentation:
https://support.google.com/googleplay/android-developer/answer/9006925?hl=en

![image](https://user-images.githubusercontent.com/27571887/64183704-274a4e80-ce1f-11e9-87d4-153f3148bed1.png)

[2019-09-03 14:51] jwargo commented on #288
@ajchili I apologize for our late response to this, I try to stay on top of the suggestions we get from customers. This is an interesting suggestion, I'll add it to the list of requested features and look into it.

[2019-09-03 14:55] jwargo commented on #838
@jrahma thanks for the suggestion, we're in the middle of a redesign of the portal to address some missing information.

[2019-09-03 14:55] #838 closed

[2019-09-03 14:56] jwargo commented on #837
@jrahma what we're considering doing is enabling customers to resend a notification - would that work for you?

[2019-09-03 14:59] jwargo commented on #617
@adrianknight89 and @ChrisMGilbert With these types of errors, we don't have a lot of additional information. We just get a bad channel error back from the PNS, so that's what we display.  We're considering adding an additional info link that points to the docs, but what else are you looking for here?

[2019-09-03 15:00] ranterle commented on #194
You can read more about the support for Android App Bundles with Xamarin in the release notes of Xamarin.Android 9.4: https://docs.microsoft.com/en-us/xamarin/android/release-notes/9/9.4#initial-support-for-android-app-bundle-publishing-format

For regular Android applications, there are some configuration options, e.g. to not remove certain dimensions when building the bundle (but it kind of goes

[2019-09-03 15:02] jwargo commented on #839
@jzeferino thank you for that feedback, it is something we're looking to address, but right now the only option you have for larger audiences is to use Azure Notification Hubs instead.

[2019-09-03 15:02] #839 closed

[2019-09-03 15:09] jonathanpeppers commented on #194
Android wouldn't know what a `.resx` file is, so I don't see how bundletool/Google Play would be stripping it from a .NET assembly..

We need to look into this @c-lamont can you file an issue here? https://github.com/xamarin/xamarin-android/issues

After installing from Google Play, you can inspect the installed assemblies with something like:
[code]
If you can post/share those APKs or inspect the

[2019-09-03 15:42] nrajpurkar opened #970 "Iteration Plan for September 2019"
# September 2019 Plan

Android developers and Dark Mode lovers rejoice! We spent last month finishing out our feature set for Android App Bundle support with Xamarin.Android build support and automatic store distribution after a build. Dark Mode is officially in preview to shield your eyes from the bright, white light while perfecting your apps. It was also a great month for those of you with WPF

[2019-09-03 17:04] ajchili commented on #288
@jwargo no worries, thanks for looking into this.

[2019-09-03 17:52] jarnzeninen opened #971 "Add React Native support for tvOS apps"
**Describe the solution you'd like**
We need the ability to create tvOS apps built on React Native. We'd like to have React Native offered as a Platform option when adding tvOS apps in AppCenter. That is currently only available of iOS apps, not tvOS apps.

**Describe alternatives you've considered**
We are currently investigating the use of a post-clone build script to install React Native depend

[2019-09-03 18:24] nrajpurkar commented on #971
@jarnzeninen thanks for the feature request! Are you only interested in Build services for tvOS or are you also interested in the other services App Center has to offer for tvOS apps? Additionally, if you do get a build script working, it would be awesome for you to contribute that to the [public community driven build scripts](https://github.com/microsoft/appcenter/tree/master/sample-build-script

[2019-09-03 19:00] nrajpurkar commented on #883
@zek we're actually tracking this work in #37 and are [inviting](https://github.com/microsoft/appcenter/issues/37#issuecomment-526398616) people to try out the early preview of this.

Closing this out as a duplicate.

[2019-09-03 19:00] #883 closed

[2019-09-03 19:05] nrajpurkar commented on #219
Thanks for the feature request and the additional information on your development lifecycle @marcoburato . I can see how that would add value and thanks for calling out the two separate pieces @aaronrogers. We'll keep tracking this as a potential future improvement.

[2019-09-03 19:06] nrajpurkar commented on #802
Thanks for the updates! Closing this out, but reach out again if anything comes up.

[2019-09-03 19:06] #802 closed

[2019-09-03 19:09] jwargo commented on #647
@faulfish I agree with @amchew; I would like to know more about what you're looking for. We haven't had a lot of customers asking for badge tracking, I always assumed you would just track this on the backend with the rest of your app data. What's the use case for pushing this storage up to App Center?

[2019-09-03 19:11] jwargo commented on #315
@jsprklst I'm working on a proposal for this now, would you (or anyone else watching) be interested in having a Teams conversation with me about the requirements for this feature? I'm curious about your use cases and how you would see this service working.

[2019-09-03 19:13] jwargo commented on #405
@DouglasMarq I looked into this a bit and I'm a little unclear on something, can you fill in a blank for me? Do you use this push type to initiate the VOIP call, or does all data get delivered through it?

[2019-09-03 19:14] jwargo commented on #489
@bobber205 OK, thanks for that information. I'm building a feature list for a future SDK refresh and I know I want to get more client-side capabilities added to the SDK. I'll keep this in mind as I work on that.

[2019-09-03 19:31] DouglasMarq commented on #405
I am using it to wake up both the application and the device whenever there is a call incoming. Asterisk receives a call, then it triggers a code to send the device pushkit token to the apple server, so apple sends a pushkit notification to the device, then my app starts in the background and receives any incoming call.

I use pushkit along with callkit, so it shows native call screen before my ap

[2019-09-03 20:22] amchew commented on #966
Thanks @mungeparty for submitting this feature request! I'll let @botatoes comment more about this.

[2019-09-03 22:44] blparr commented on #968
Hello @Swiftless , thanks for your request. @Oddj0b can you take a look at this ticket?

Thanks!

[2019-09-03 23:13] blparr commented on #969
Hello! Thanks for your feature request.

We re-tested our funcionality and this is how it's working:

1. I created an organization and invited a userA as `Member`
2. userA accepted the invitation and created a new App in the Org
3. I logged in back as myself and was able to see the app created by userA inside the Org

If a user created the app outside of the org, then you as an org admin, would no

[2019-09-04 00:19] jrahma commented on #837
Yes, that will be great..

[2019-09-04 00:31] topes commented on #23
+1 Not being able to build from a tag has been forcing us change our workflow

[2019-09-04 06:11] zmugraby opened #972 "Ability to Sort All Apps by Date DESC of Latest Uploaded Build"
**Describe the solution you'd like**
In HockeyApp, we had the ability to sort All Apps by latest uploaded build or update.  In AppCenter, we lost this capability.  Adding an additional sortable column showing release date will be super useful.

**Describe alternatives you've considered**
Sorting the all apps list on legacy Hockeyapp

**Additional context**
Appcenter with no Release Date Column:
<i

[2019-09-04 06:50] owenniblock commented on #421
Thanks @jpc1963 - let me record this over here and get someone to try and replicate.

[2019-09-04 08:17] tientruongvan1995 opened #973 "React Native iOS: follow example for appcenter-post-clone.sh but got "sed: Podfile.lock: No such file or directory""
**Issues**
File: [appcenter-post-clone.sh](https://github.com/microsoft/appcenter/blob/master/sample-build-scripts/ios/match-cocoapods-version-to-lockfile/appcenter-post-clone.sh)
As title, I followed the example and still got

**Solution**
I created `appcenter-post-clone.sh` beside my project `package.json`. Make sure that you already have Podfile.lock in your project's `ios` folder. I actually c

[2019-09-04 08:20] sgreifeneder commented on #970
As mentioned by @patniko in #792, please consider #30 to be part of the September iteration plan!

[2019-09-04 08:38] c-lamont commented on #194
Indeed, so the language support from Android is not appropriate in this case.

I must also point out I can't be certain the .resx file is being removed, only that it appears to have been removed as only English text is shown.

I'll try create an issue. However I have removed the .aab file from the Play Store so I can not download it again to inspect it. If you would like the .aab file or .apk file

[2019-09-04 09:05] Zee-day commented on #970
Can you please bring issue #32 into this iteration?

[2019-09-04 09:12] jsprklst commented on #315
Sure, no problem! How do we setup a meeting?

[2019-09-04 09:41] jpc1963 commented on #421
[UploadTestApp.zip](https://github.com/microsoft/appcenter/files/3573832/UploadTestApp.zip)

@owenniblock here is a simple app & ui test.
Install the app onto an iphone simulator. Open the ui test solution, restore nugets and run the login test. You should get the error.

[2019-09-04 11:39] patrickdoodyIRL commented on #864
@patniko Do you think this will make the September iteration? This feature is critical for an application we are developing. How close are you to starting the actual work?

[2019-09-04 11:59] Laksuh opened #974 "App Center > Analytics > Events > [random event] changing Filters causes > No Data Found Exception"
**Issue**
When you try to to set a filter in an event (let's name it "Random Event") it changes the URL wrongly.
-->  Random%20Event becomes Random%**25**20Event, changing the name and so the name of the event. This is causing a No Data Found View.
If you remove the additional 25 in the URL everything's fine.

![Screenshot_App_Center](https://user-images.githubusercontent.com/54893534/64252667-de2

[2019-09-04 12:48] rbanker commented on #853
This is an important one for us.  We have 30+ apps and reviewing each individually everyday is untenable.  The HockeyApp email was perfect.

[2019-09-04 12:53] owenniblock commented on #421
Thanks - I'll add this to the ticket.

[2019-09-04 12:56] craig95 commented on #277
Yes, this would be very helpful. Not needing to create a custom post-build script.

[2019-09-04 13:36] ranterle commented on #194
Good point @jonathanpeppers.
@c-lamont if you don't find a convenient way to share these details within the issue over on https://github.com/xamarin/xamarin-android/issues -
feel free to create a conversation in the App Center portal support chat and reference this conversation so it can be triaged correctly.
Ideally, provide the URL to the build in question and optionally the AAB/APKs

[2019-09-04 13:45] jarnzeninen commented on #971
@nrajpurkar We're interested in Code Push, App Store distribution, and analytics and diagnostics features, in addition to build services.

I didn't realize until after submitting this feature request that AppCenter doesn't currently support even native builds for tvOS, so adding that would be a good first step :-) Without that, we can't try the alternative approach described above. Should I enter

[2019-09-04 13:48] ranterle commented on #844
When we built App Center Build for Android, there was no clear option on how to circumvent the Android tools perform the signing of the binary with a debug config.

I'm not entirely sure what this refers to - is your internal distribution process relying on the fact that people can't share the APKs with anyone else because they wouldn't work?
In our experience, internal release builds being as clo

[2019-09-04 13:55] dansiegel commented on #194
@c-lamont since resx files are embedded resources as a debug in production sort of thing you might add something for yourself to see what resources are embedded in the assembly...

[code]

[2019-09-04 13:55] RAM237 opened #975 "Release notes Textile formatting"
**Describe the solution you'd like**
Each Release has Release notes, the Textile formatting used for them in HockeyApp is completely messed up in AppCenter, this definitely needs to be fixed, so that it looks **exactly the same** as it was in HockeyApp.
It seems Textile formatting is not supported in AppCenter at the moment (probably only Markdown?), so it is required to implement it and consider

[2019-09-04 14:11] IslamSalah commented on #237
Our use case was a bit different because we are using a private git repo as an npm dependency. This [blog post](https://dotlayer.com/how-to-use-a-private-github-repo-as-a-dependency-with-yarn-npm/) helped us a lot.

I'll explain the general approach independently of npm. As a work around, we created an account and gave it read-only access to the concerned submodules. Then we generated an access to

[2019-09-04 14:27] nrajpurkar commented on #878
Hey @alexander-w-o-s, looks like I got my tabs crossed when replying to this GitHub issue. The fix that we were looking into was actually for the other [issue](https://github.com/microsoft/appcenter/issues/887) you opened around React Native Android. As you acknowledged, that one was fixed.

To resolve this specific issue, please take a look at @ranterle's suggestion or @santoshgistto's example.

[2019-09-04 14:31] nrajpurkar commented on #973
Thanks for the suggestion @tientruongvan1995! Do you mind making a [PR](https://github.com/microsoft/appcenter/tree/master/sample-build-scripts/ios/match-cocoapods-version-to-lockfile) with the additional changes you had to make as an example for others who may have the same issue?

[2019-09-04 14:42] dominiquelee opened #976 "Be able to revert an Ignore action on unsymbolicated issues"
**Describe the solution you'd like**
In the Issues tab, under Unsymbolicated, once an unsymbolicated version has been ignored, it's impossible to un-ignore it.

**Describe alternatives you've considered**
Swagger only features POST /v0.1/apps/{owner_name}/{app_name}/symbols/{symbol_id}/ignore, not some kind of opposite of it, so there's no alternative in there either.

[2019-09-04 14:58] dahlbyk commented on #974
Stopped by to report this same issue. Event name is being double-encoded by Version/Time filters.

[2019-09-04 15:09] nrajpurkar commented on #277
Thanks for the feature request and to those adding their support. We'll continue to track this as a potential new feature. Thanks to @brminnick for your example as well!

[2019-09-04 15:36] jwargo commented on #315
send me an email at my first dot last at Microsoft dot com and we'll work it out.

john.wargo

[2019-09-04 15:47] blparr commented on #976
Hello @dominiquelee , thanks for your request. @winnieli1208 will be taking a look at your request and prioritize accordingly.

Thanks!

[2019-09-04 15:48] blparr commented on #975
Thanks for sharing that feedback! Our team will be taking a look at your request and act accordingly.

Thanks!

[2019-09-04 15:49] blparr commented on #974
Hello! Thanks for reporting this issue. We will be taking a deeper look at your issue and prioritize accordingly.

Thanks!

[2019-09-04 15:51] blparr commented on #972
Hello @zmugraby ! Thanks for your feature request. We'll be reviewing your request and prioritize accordingly.

Thanks!

[2019-09-04 16:13] winnieli1208 commented on #976
Thanks for the request! We're exploring ways to improve our symbolication experience and this is something we're considering. I don't have an ETA at the moment but will post here with any updates. Thanks!

[2019-09-04 16:57] bramski commented on #237
Right, we solved this by using bitbucket's SSH keys for private NPM bitbucket `git+ssh` access.  You go to bitbucket and add create a new SSH key for AppCenter.
You have it in your package json as:
` "my-lib": "git+ssh://git@bitbucket.org/myuser/myrepo#mytag"`
Then you base64 encode the private key as such:
`base64 -i ~/.ssh/my_private_key | pbcopy`
And you put that into a build variable `BITBUCKE

[2019-09-04 17:25] winnieli1208 commented on #199
This feature was shipped in the latest SDK release. Closing this issue.

[2019-09-04 17:25] #199 closed

[2019-09-04 17:54] jorisw commented on #214
Combining the contributions in this thread has helped me achieve a flawless build process in AppCenter for my React Native 0.60 project. My `ios/appcenter-post-clone.sh` now looks like this:

[code]

Please mind the version numbers so that they correspond to your `Podfile` and `package.json`. And after adding this script, go to your Build settings in AppCenter, confirm that your post clone script

[2019-09-04 18:03] derpixeldan opened #977 "Support Carthage in the App Center Apple SDKs"
Carthage is a dependency manager for Apple apps. It is an alternative way to add frameworks to an app without changing the project structure or adding a lot of additional dependencies to the repo as Cocoapods is doing. The HockeySDK supports to be integrated using Carthage.

[2019-09-04 18:15] nareen2 commented on #536
Any ETA on this?

[2019-09-04 18:22] nrajpurkar commented on #214
Glad to hear it @jorisw! Feel free to make a PR with the script that worked for you in our [collection](https://github.com/microsoft/appcenter/tree/master/sample-build-scripts) of community driven build scripts.

[2019-09-04 19:58] evorotnikov commented on #125
This will be especially great  since you can't really group builds together within same application in AppCenter so internal test track could be used for RC builds and AppCenter distribution overall for testing by QA team. Definitely vote for this one.

[2019-09-04 21:54] hamswan commented on #974
Our team is currently looking into the bug.

[2019-09-04 21:59] akamud commented on #829
Same problem here.

[2019-09-04 22:41] akamud commented on #377
I'm having this issue too.

[2019-09-05 00:04] evkhramkov commented on #940
@school-today @mmarandici we deployed a fix for that, now newly configured branches should work without any issues.
If you have any broken branch configuration just re-save it.

[2019-09-05 00:44] bryansmi commented on #810
Hi @hiraldesai! We've rolled out a fix for this issue. Could you test it our and let us know if you have any issues? Thanks!

[2019-09-05 01:06] shanemccartney opened #979 "Migrating from HockeyApp to MS App Center with Unity"
Hi, we are transitioning our apps from HockeyApp o MS App Center. Using the steps here:
https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/unity

The issue is that after the app is downloaded we can not get in-app updates to work it always returns this message even though the app is downloaded from https://install.appcenter.ms and is not side-loaded or in a browser in private mode.

Ca

[2019-09-05 03:50] himanpan opened #980 "Connecting to Azure SQL Database"
I see that currently appcenter allows connecting to Azure Cosmos Database. It would be good if functionality to connect to Azure SQL Database is also added.

I can use Azure Mobile Apps to achieve that, but from November 11th, 2019 Azure Mobile Apps is going to be made obsolete. So, this feature is pretty much needed in appcenter.

[2019-09-05 03:51] patniko commented on #864
We're working through our proposed designs for real time updates and document sharing right now but we'll share specs with you all this month for additional early feedback while we jump start development. Shared documents was identified as one of the biggest needs very early on so it's right at the top of the list right next to real time updates. We plan to take our time to do things right, but it

[2019-09-05 04:20] elamalani commented on #980
@himanpan Thanks for reaching out. We would like to understand your scenarios and use cases for storing application data using Azure SQL Database. Would you be able to hop on a call with us and discuss it in detail? Please let me know if this is something you would be interested in.

Thanks,
Ela

[2019-09-05 04:26] himanpan commented on #980
Hello Ela,

Thank you very much for your quick response.
Yes, I would surely like to discuss on a telephone call and explain my
expectations/problem that I am facing.

You can connect with me at +81-80-3176-0755.

Himanshu.

On Thu, Sep 5, 2019 at 1:23 PM Ela Malani <notifications@github.com> wrote:

[2019-09-05 04:57] raulalvarado1 opened #981 "Admin"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-09-05 05:02] raulalvarado1 opened #982 "All"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-09-05 05:04] elamalani commented on #980
Thanks Himanshu. Can you please reach out to me at emalani@microsoft.com and I’ll set up a Teams meeting invite based on your availability.

Look forward to speaking with you.

[2019-09-05 06:40] shpakovski opened #983 "Add Custom Notes next to Release Notes"
**Describe the solution you'd like**

We need a way to store custom (private) notes in addition to standard (public) release notes. Such markdown hidden from beta testers would be extremely useful for own snippets of information, especially in older (disabled) builds.

**Describe alternatives you've considered**

As far as I know, there’s no way to store custom notes with a build.

[2019-09-05 07:01] c-lamont commented on #194
Good idea, I'll start a conversation there.

[2019-09-05 07:22] ignasbagdonas opened #984 "Export error and crash data to Application Insights"
**Describe the solution you'd like**
Export error and crash data to Application Insights like Analytics data. Now I can't find specific user problems and can't provide solutions for my customers.

**Describe alternatives you've considered**
Now we should use other logging solutions which are not perfect as AppCenter infrastructure.

**Additional context**

[2019-09-05 09:50] ricavir11 opened #985 "API activate push notifications payload"
Hi,

What is the JSON payload structure needed to activate PUSH notifications over REST API on endpoint : /v0.1/apps/{owner_name}/{app_name}/push/notifications_config.

For iOS, we need to pass :
- KeyID
- AppID
- attach P8 file
- select production or sandbox

Current swagger doc is not enougth to launch a request :
![image](https://user-images.githubusercontent.com/25507232/64331556-4c7fbe00-cfd3

[2019-09-05 10:22] Oddj0b commented on #968
This is a great feature request, thanks for creating it. It's not on our immediate roadmap, but I'm hoping it will amass enough reaction to be taken into consideration.

[2019-09-05 11:29] master-lincoln commented on #571
Still not fixed

[2019-09-05 11:55] sashakua commented on #878
@nrajpurkar, I see.

But I know how to fix it. I described possible fix in "Additional context" section of issue description.
I submitted this issue report to help other users.

Maybe you can just add a note in [App Center's signing options](https://docs.microsoft.com/en-us/appcenter/build/react-native/android/#38-code-signing)?

Developers can remove this line (the same link as in issue descripti

[2019-09-05 11:56] sashakua commented on #878
@nrajpurkar, I see.

But I know how to fix it. I described possible fix in "Additional context" section of issue description.
I submitted this issue report to help other users.

Maybe you can just add a note in [App Center's signing options](https://docs.microsoft.com/en-us/appcenter/build/react-native/android/#38-code-signing)?

Developers can remove this line (the same link as in issue descripti

[2019-09-05 11:56] alexander-w-o-s commented on #878
@nrajpurkar, I see.

But I know how to fix it. I described possible fix in "Additional context" section of issue description.
I submitted this issue report to help other users.

Maybe you can just add a note in [App Center's signing options](https://docs.microsoft.com/en-us/appcenter/build/react-native/android/#38-code-signing)?

Developers can remove this line (the same link as in issue descripti

[2019-09-05 11:57] derpixeldan commented on #924
Can be done as a Collaborator now.

[2019-09-05 11:57] #924 closed

[2019-09-05 12:00] Oddj0b commented on #421
Hi, @jpc1963

Thank you for taking the time to help diagnose this issue. I agree that it appears to be a problem with the interaction between Visual Studio and SpecFlow. However, we don't own Specflow and can't fix the issue. I would recommend taking a look at the [SpecFlow bug tracker](https://github.com/techtalk/SpecFlow/issues) and see if there are similar issues there regarding Visual Studio a

[2019-09-05 12:00] #421 closed

[2019-09-05 12:28] derpixeldan commented on #234
Closing, the plugin is located here https://github.com/jenkinsci/appcenter-plugin

[2019-09-05 12:28] #234 closed

[2019-09-05 12:31] derpixeldan commented on #882
Please reach out in support when the issue still occurs.

[2019-09-05 12:31] #882 closed

[2019-09-05 13:29] RST90 commented on #102
Yes, we definitely need that feature as well!

[2019-09-05 13:52] tele-bird opened #986 "get a QR (or link) to a specific build/release"
**Describe the solution you'd like**
I see there's an easy way to get a QR code to download the latest app release (from the Overview tab). Is there a way to get a QR (or link) to a specific build/release?

**Describe alternatives you've considered**
Writing directions to navigate to a specific release is onerous.

**Additional context**
No, this should be enough.

[2019-09-05 14:11] nrajpurkar commented on #982
Hey @raulalvarado1, was there something specific we can help with? Closing this out for now, but feel free to reopen with additional details.

[2019-09-05 14:11] #982 closed

[2019-09-05 14:13] jwargo commented on #985
@ricavir11 App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-started/welcome-to-app-center-support).

The API you're referring to here

[2019-09-05 14:14] jwargo commented on #981
@raulalvarado1 I'm sorry, but I don't understand what you're asking for here. You have not provided any information about the feature you're requesting.

[2019-09-05 14:21] nrajpurkar commented on #983
Thanks for the feature request @shpakovski! Are you interested in these being different sets of release notes that go out to different sets of testers? Or just an additional field that you see within the App Center Releases UI?

[2019-09-05 15:00] jwargo commented on #985
@ricavir11 I'm sorry, I misunderstood your need here; so you're trying to configure push via the REST API? You're right, the documentation for that is missing from the swagger. It's sometimes challenging to expose all the data we need through the swagger. I'll make a bug to get this updated. In the mean time, support is the fastest way to get an answer on this one; I'll see i fI can pull it, but s

[2019-09-05 15:13] jwargo commented on #932
@RioFiveJack would you be willing to have an email conversation or chat about how you use Push? I'm working on the future plans for App Center Push and want to learn more about how you use it and how you want to use it?  My email address is in my profile.

[2019-09-05 15:15] jwargo commented on #927
@LauriRantasalo We made some additional docs updates last week (multiple places) to address this issue. Can you please take another look and let me know if what's there works for you?

[2019-09-05 15:16] jwargo commented on #867
@SogoGolf would you be willing to have an email conversation or chat about how you use push in your app(s)

[2019-09-05 15:58] jwargo commented on #553
@swigrid how would you use this?  Validate each token before any send events, or a scheduled task you run periodically validating all the tokens?  Would this be a per token API call, or would you send in batches?

[2019-09-05 16:11] swigrid commented on #553
I am not sure yet. I just wanted to get rid of invalid tokens. Since this feature haven’t been available I haven’t really thought about logic. But if there was an array response with statuses after push was sent, this way we could remove those invalid ones. Just a thought perhaps.

[2019-09-05 16:56] #742 closed

[2019-09-05 17:22] blparr commented on #984
Hello @ignasbagdonas ! Thanks for your feature request. This feature is under our radar, but we don't have an ETA we can provide yet. In the meantime, note that you can export the Diagnostics data to Blob Storage.

Thanks,
Blanca

[2019-09-05 17:22] blparr commented on #986
Hi @tele-bird ! My colleague @botatoes will be looking into your feature request soon.

Thanks!
Blanca

[2019-09-05 17:59] nrajpurkar commented on #970
Working on it this month @sgreifeneder. Which unfortunately limits our capacity to work on #32 @Zee-day. Definitely still on our radar.

[2019-09-05 19:01] achocron commented on #904
Hey @thehoglet, we don't have an immediate fix planned for this so I advise that you start the services in the manner that already works. Thanks for bringing it to our attention, though!

[2019-09-05 19:01] #904 closed

[2019-09-05 19:20] winnieli1208 commented on #984
@ignasbagdonas thanks for the feature request! This is something we'd love to support. Can you give feature #339 +1 so we can close this duplicate one? Thanks!

[2019-09-05 20:08] losmacko commented on #194
I have the same issue

[2019-09-05 20:31] lumaxis commented on #986
This might be a duplicate of #140

[2019-09-05 20:44] shpakovski commented on #983
Thanks for getting back to me @nrajpurkar! I mean just an additional field in the Release UI, hidden from beta testers.

[2019-09-05 21:55] DennisPan commented on #159
@mAiNiNfEcTiOn You can also leverage the `cloneFromBranch` option from the branch config API, which clones from an existing configuration. This will clone the certificates, etc.

[2019-09-05 23:22] SogoGolf commented on #867
Hi John, yes of course would love to help. Call would probably be best/most efficient.

[2019-09-05 23:22] #867 closed

[2019-09-05 23:54] zhichien opened #987 "Allow the release for ANY apps format or installer (e.g. QT)"
Hi,

Many apps were developed and not yet integrate with the diagnostics feature. But it is possible that the management is transferred first to the platform.
Please consider to add,
Under "Add new app", "OS: Windows", "Platform: **Others**".
Under "New release", "Upload a build", "Release: ANY".
By doing so, we can upload only the installer to the platform and start managing it, until we migrate

[2019-09-06 06:01] michaelmairegger opened #988 "Bug: Collaborators / Distribution Group"
Apps are not visible when user is moved from collaborators to distribution groups

# Reproduction steps:
- Create a user in collaborators of app A
- Log into HockeyApp
- Ensure in HockeyApp that the app A is visible
- Remove the user from the collaborators
- Add the user to a Distribution group that has access to app A
- Now the App is not visible in HockeyApp

# Workaround
For now I found followi

[2019-09-06 07:45] russelarms commented on #857
It seems like a bug inside PLCrashReporter as in other cases it works:
https://github.com/plausiblelabs/plcrashreporter/blob/b0f99060c0d029e638e6be8340f6a5294ed12c54/Source/PLCrashReportTextFormatter.m#L265

[2019-09-06 07:48] Istiakmorsalin commented on #853
This one is very crucial for us. We need this feature for team-wise monitoring.

[2019-09-06 07:49] nghiacc commented on #890
I have a couple of products developed on Ionic/Angular/Cordova and is using AppCenter for distribution and Jenkins to build. It would be great if AppCenter support build for Cordova apps so that I can move the build services to AppCenter.

[2019-09-06 08:06] jbazeley opened #989 "Android Crashes SDK: Please add native crash info to ErrorReport"
**Describe the solution you'd like**
In the
shouldProcess(report: ErrorReport)
callback of CrashesListener, would it be possible to add some information about native crashes? Obviously i'm not expecting a symbolicated stack trace at this point, but maybe a pointer to the breakpad file that's currently being processed. We get a few native crashes that happen in our app but do not contain any stacks

[2019-09-06 08:39] dun3 opened #990 "Enable "Distribute" for Cordova apps"
**Describe the solution you'd like**
Hi all! We are currently transition our Cordova apps from hockeyapp to appcenter - we are a bit worried that "Distribute" doesn't exist for Cordova - https://docs.microsoft.com/en-us/appcenter/sdk/distribute/ios - we need it for our apps. Native code changes are to be anticipated, which needs a full Distribute for our Cordova app. Please advise! Thank you very

[2019-09-06 08:48] BinkanSalaryman commented on #965
@derpixeldan HockeyApp used to (and still does) accept a .xcarchive.zip file... Would be cool if that were a feature in AppCenter too.

[2019-09-06 09:03] derpixeldan commented on #965
@blinkansalaryman I do see that the journey goes towards xcarchive.zip files but it requires us to process the contents of the file to serve the right .ipa to the right device when it comes to downloading/installing. On HockeyApp it's not possible to upload xcarchive.zip for iOS apps.

[2019-09-06 09:03] derpixeldan commented on #965
@BinkanSalaryman I do see that the journey goes towards xcarchive.zip files but it requires us to process the contents of the file to serve the right .ipa to the right device when it comes to downloading/installing. On HockeyApp it's not possible to upload xcarchive.zip for iOS apps.

[2019-09-06 09:14] BinkanSalaryman commented on #965
@derpixeldan Ok, I'm not 100% sure what the issue is with it. But as a user, I can confirm that HockeyApp does have support for Xcode Archive files. Take a look here: https://hockeyapp.net/releases/mac/

![image](https://user-images.githubusercontent.com/6740731/64416420-6c78b580-d097-11e9-9109-86b763f80be8.png)
![image](https://user-images.githubusercontent.com/6740731/64416431-73072d00-d097-11e9

[2019-09-06 09:47] derpixeldan commented on #965
@BinkanSalaryman that's the HockeyApp macOS app that handles the archive to extract the ipa and symbols and uploads them, however, HockeyApp itself does not support to upload/distribute .xarchive.zip. The .zip in the second screenshot is referring to macOS apps and is just an example. You cannot upload .zip for iOS apps.

[2019-09-06 10:11] jorisw opened #991 "Dark theme breaks build log screen"
In both Safari and Chrome on Mac, the Build log screen of an app, renders a blank page when using the preview Dark theme in App Center. The browser console then shows 404s for URLs that look like `https://mobilecenter.azureedge.net/generated/5c8a5026f5bb42c6d611.js.map`.

Reproduce:

1 - Go to your Account Settings.
2 - Click the pencil edit icon next to `User Interface`.
3 - Pick the `Dark (Previ