[2019-06-17 23:34] botatoes commented on #555
Thanks for letting us know. We have some Mac improvements coming up and will definitely make sure this gets fixed.

[2019-06-18 00:58] mzhukovs commented on #459
https://github.com/microsoft/appcenter/issues/25 - UWP UI Testing
https://github.com/microsoft/appcenter/issues/383 - UWP Store Support

[2019-06-18 01:13] mzhukovs opened #574 "Run Xamarin.UITest for iOS locally on Windows via connected Mac's iOS simulator"
**Describe the solution you'd like**
Currently, for Visual Studio **Windows** users, we are not able to run Xamarin.UITest on an iOS Simulator via the connected Mac. It would be great to be able to do so, since we can already run the app on iOS Simulator from VS Windows, and even remote the simulator back to VS on Windows.

**Describe alternatives you've considered**
In this case, the only availab

[2019-06-18 03:45] AirGeoff opened #575 "Issue with Distributing App through AppCenter"
**What App Center service does this affect?**
AppCenter Distribution

**Describe the bug**
There is an issue with AppCenter sending out an email with the distributed app. We have two versions of our project, an Android version and an iOS version. When distributing through the Android project everything works as expected, however when distributing through the iOS project everything looks like it wo

[2019-06-18 05:17] prabakaranr commented on #37
Is there an update to support the self-hosted gitlab repositories? Do we need to create a separate issue for this?

[2019-06-18 07:55] derpixeldan commented on #230
Update: We're pretty close, last missing piece is about GDPR compliance, which we're already working on.

[2019-06-18 08:59] sbayd commented on #194
+1 for the aab

[2019-06-18 09:10] mondagoar opened #576 "AppCenter building stopped working"
Recently (Sat 15th Jun 19), our iOS app building stopped working and now produces this error in the log (below).

Did something change on the AppCenter on this date? In case it's relevant, we don't use a YML file in our build.

-----

(lldb) detach
Process 818 detached
(lldb) quit
Traceback (most recent call last):
  File "<string>", line 1, in <module>
NameError: name 'lldb' is not defined
##[err

[2019-06-18 09:37] mondagoar opened #577 "Building from a project (for iOS) doesn't appear to use compiler directives from child projects"
We are building using AppCenter an iOS project (.csproj) and it uses other projects as references. We select the correct build "Configuration" but it's not obeying the compiler directives in child projects.
We had recently been building using a solution (.sln) file instead (this did obey directives) but this has recently (three days ago) stopped working with no changes from us, so we're now trying

[2019-06-18 10:12] zanechua commented on #189
Would like to leave a comment that building ejected Expo apps work in the AppCenter build process just that you might have to make a slight modification for the iOS builds.

Apparently the AppCenter team decided to hardcode the generation of source maps for iOS instead of relying on the `main` property inside the `package.json` file. This results in the failure of the generation of the source maps

[2019-06-18 10:20] teekirol commented on #237
Here's the workaround my team uses. It's a bit convoluted but is better than nothing:

Say you have an npm dependency that is in a private BB repo:

`"@foo/repo": "git+https://bitbucket.org/user/repo.git"`

In our `appcenter-post-clone.sh` and `appcenter-pre-build.sh` we install that package as a separate step:

`npm install git+https://mybbuser:${BB_PASSWORD}@bitbucket.org/user/repo.git`

where `

[2019-06-18 13:03] #172 closed

[2019-06-18 13:07] Oddj0b commented on #197
@roeib Would your testers expect the e-mail to come from TestFlight or App Center?

[2019-06-18 13:49] AirGeoff commented on #575
Not sure if anything was changed on the backend, but I just tried again this morning, 06/18/2019 and the email was sent out successfully and received by everyone on our team. This issue can now be closed.

[2019-06-18 13:49] #575 closed

[2019-06-18 13:55] adrianknight89 commented on #569
@mpodwysocki @guperrot @jwargo @botatoes

Guys, there are several related issues with respect to push notifications not working. This is a major roadblock for us as we cannot release an app without push. It'd be great if you can prioritize this work.

#551 #552 #505 #506 #537

[2019-06-18 13:58] valerianb commented on #192
We'd love this as well to be able to migrate away from Crashlytics. Plus `CLS_LOG`/`CLSLogv` which will only appear if there's a crash (see https://docs.fabric.io/apple/crashlytics/enhanced-reports.html) are useful. Thanks !

[2019-06-18 14:17] poldz123 commented on #466
@winnieli1208 - I would love to +1 but most of the people are redirected to the android repo instead of the main repo for the SDK. Which resulted in more +1s to the android repo. I hope devs are looking to that page.

[2019-06-18 14:37] adrianknight89 commented on #569
Thanks, Raymond. If your issue if resolved, you may want to close it. The other issues are still present. As mentioned in #552, I can't send anything to Android. `setUserId` in #505 doesn't seem to be working well either.

[2019-06-18 14:38] pepoman commented on #399
Hi,
I have been also running into the private feed problem, the mentioned fix worked for me but now is failing looking for nested dependencies, so I get a 400 error when running the build, I was thinking in NPM -ci in order to not look for updated dependencies but, after checking with your support, there is no way I can add any flags to the "npm install" command, could you please advice?

[2019-06-18 15:35] karimElJed commented on #140
That is great. I just moved from HockeyApp to AppCenter and public pages is the feature I miss the most. Any update on the rough time schedule?

[2019-06-18 16:39] #569 closed

[2019-06-18 17:16] winnieli1208 commented on #466
@poldz123 absolutely! We are monitoring all SDK repos as well as this one 👀

[2019-06-18 18:40] get2arun opened #578 "mvn test is failing since could not find appium in VSTS"
**What App Center service does this affect?**
Appcenter Appium test extension dependency is not resolved while executing the test cases via VSTS pipeline.

**Describe the bug**
Visual Studio App Center Task is executed via VSTS pipeline to execute the test cases in App Center. The appcenter starts the tests and after few REST API response, it failed to download the dependency.
Error message:
[ERRO

[2019-06-18 20:20] devedse commented on #499
@Oddj0b, is there an update on this? My release pipeline has been broken for a while now and I'd like to fix it :)

[2019-06-18 21:34] Zakeelm commented on #549
Hey there!

While we don't currently have immediate plans to support Cordova, it's something we can definitely look into. I'll keep this open for a while in case others are interested in this.

The next platform on our roadmap for Data is React Native, which may be able to fulfill that requirement of yours!

[2019-06-18 21:37] Zakeelm commented on #271
I can see why that would cause some confusion. We'll definitely look into a solution for this. Thanks for the note!

[2019-06-18 22:56] blparr commented on #567
Closing this issue as it will be handled by support. Thanks!

[2019-06-18 22:56] #567 closed

[2019-06-18 22:59] blparr commented on #566
Thanks for the feedback @jrahma , hopefully Lukas' workaround above helped. We will consider your suggestion for future improvements.

[2019-06-19 06:32] yoshikischmitz opened #580 "Ability to share environment variable configurations across multiple projects"
**Describe the solution you'd like**
We maintain an iOS and Android branches of our react-native projects, and they have a fair number of shared configurations. I think it'd be handy if we could create environment variable configurations and share them across projects, allowing for project specific overrides, perhaps through some "stacking" and overwriting mechanism.

**Describe alternatives you'v

[2019-06-19 06:33] ihorkaralash commented on #311
I have exactly the same issue, please fix it as soon as possible

[2019-06-19 08:40] themkn opened #581 "App icons in MS Appcenter disappeared"
Almost all our app icons in the apps overview of appcenter.ms just disappeared. Now we only see the default icons.

[2019-06-19 08:49] cjw1115 commented on #425
We need ARM64 support!

Our product will ship to arm64 device, and we use AppCenter to monitor  something. If AppCenter is not support arm64, it will block our product. May we only use other analytic service.

[2019-06-19 08:51] lumaxis commented on #581
@themkn This is an unfortunate side effect of the on-going emergency maintenance, see https://status.appcenter.ms for more details and updates.

[2019-06-19 08:52] #581 closed

[2019-06-19 10:19] frags51 opened #582 "Documentation for manual linking of appcenter-push (Native+React-native)"
**Describe the solution you'd like**
I'd like a clear documentation on how to link appcenter-push in the react-native part of my Android app, which has both native and react-native code.

My project structure is like this:
root/ : settings.gradle, gradlew etc.
root/P1/ : Native code, and also React-instance managers for the react-native part.
root/rn/ : the react-native module.

I have tried to fi

[2019-06-19 11:29] LGE-AUGMENSYS opened #583 "Cannot Upload IPA Files Anymore"
**What App Center service does this affect?**
AppCenter -> 'Distribute'

**Describe the bug**
After uploading an IPA file (a Xamarin iOS app) to the app center, the page stays at 'Upload a build' even though the progress bar has run to the end. Cannot proceed to the next step.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to AppCenter -> 'Distribute'
2. Select a group
3. Click 'New rele

[2019-06-19 11:37] derpixeldan commented on #583
We have an ongoing incident affecting uploading iOS builds. Please follow our status page for any updates https://status.appcenter.ms/

[2019-06-19 11:37] #583 closed

[2019-06-19 11:54] LGE-AUGMENSYS commented on #583
Thanks for the quick response.

[2019-06-19 11:58] sridharboga commented on #182
Hi App Center Team, do we have timeline for this issue (in-app updates not avaialble for public access URL)? Also, till this feature is available, can hockayapp SDK integration will work ? (it will impact our deliverables if hockeyapp SDK does not support after November 16, 2019).

[2019-06-19 13:35] Frostregen opened #584 "Appcenter (cli) distribute release fails with HTTP 500 for iOS app / CORS?"
The corresponding android app just works fine.
Yesterday it was still working fine with appcenter-cli. Uploading the same .ipa (the one which worked yesterday) again manually through the website will just hang forever with the upload bar at 100%.
Checking the browser console shows a suspicious CORS line:

(sorry for the german)
Quellübergreifende (Cross-Origin) Anfrage blockiert: Die Gleiche-Quell

[2019-06-19 13:40] Oddj0b commented on #468
I'm the program manager responsible for App Center Test and I'm working on a new idea which will support more frameworks in Test, allow unit testing, and browser testing. I would like to talk to you about it and understand your needs better.

Below is a link where you can sign-up for a 30-minute call with me. The agenda will be about the value of testing for you and your organization, and my new i

[2019-06-19 13:41] Oddj0b commented on #453
I'm the program manager responsible for App Center Test and I'm working on a new idea which will support more frameworks in Test, allow unit testing, and browser testing. I would like to talk to you about it and understand your needs better.

Below is a link where you can sign-up for a 30-minute call with me. The agenda will be about the value of testing for you and your organization, and my new i

[2019-06-19 13:42] Oddj0b commented on #329
I'm the program manager responsible for App Center Test and I'm working on a new idea which will support more frameworks in Test, allow unit testing, and browser testing. I would like to talk to you about it and understand your needs better.

Below is a link where you can sign-up for a 30-minute call with me. The agenda will be about the value of testing for you and your organization, and my new i

[2019-06-19 13:42] Oddj0b commented on #262
I'm the program manager responsible for App Center Test and I'm working on a new idea which will support more frameworks in Test, allow unit testing, and browser testing. I would like to talk to you about it and understand your needs better.

Below is a link where you can sign-up for a 30-minute call with me. The agenda will be about the value of testing for you and your organization, and my new i

[2019-06-19 13:43] Oddj0b commented on #235
I'm the program manager responsible for App Center Test and I'm working on a new idea which will support more frameworks in Test, allow unit testing, and browser testing. I would like to talk to you about it and understand your needs better.

Below is a link where you can sign-up for a 30-minute call with me. The agenda will be about the value of testing for you and your organization, and my new i

[2019-06-19 13:43] Oddj0b commented on #104
I'm the program manager responsible for App Center Test and I'm working on a new idea which will support more frameworks in Test, allow unit testing, and browser testing. I would like to talk to you about it and understand your needs better.

Below is a link where you can sign-up for a 30-minute call with me. The agenda will be about the value of testing for you and your organization, and my new i

[2019-06-19 13:43] Oddj0b commented on #102
I'm the program manager responsible for App Center Test and I'm working on a new idea which will support more frameworks in Test, allow unit testing, and browser testing. I would like to talk to you about it and understand your needs better.

Below is a link where you can sign-up for a 30-minute call with me. The agenda will be about the value of testing for you and your organization, and my new i

[2019-06-19 13:43] Oddj0b commented on #56
I'm the program manager responsible for App Center Test and I'm working on a new idea which will support more frameworks in Test, allow unit testing, and browser testing. I would like to talk to you about it and understand your needs better.

Below is a link where you can sign-up for a 30-minute call with me. The agenda will be about the value of testing for you and your organization, and my new i

[2019-06-19 13:55] sharwell commented on #329
@Oddj0b Please feel free to loop me in if this type of testing flexibility is new for you. I've participated in a number of similar efforts in the past and may be able to spot areas in the design where we can avoid future problems.

[2019-06-19 13:58] MikePodgorniy opened #585 "Task: App Center distribute 500"
**What App Center service does this affect?**
iOS App

**Describe the bug**
Build FAILED
[code]
https://appcenter.ms/orgs/englishdom/apps/ED-Words-iOS/build/branches/develop/builds/235

[2019-06-19 14:00] lacostej commented on #460
Just to say that this issue was just about the server not able to display the error that the limit was reached. Last time I tried, the process still ended in a white page which is disconcerting for the user.

[2019-06-19 14:27] savaughn commented on #235
Thank you for reaching out to me. I have forwarded this to my manager, and we will assemble a few other developers also involved in our automated testing to include on the call.

[2019-06-19 14:30] wadebaird opened #586 "Error message on Create Distribution step"
**What App Center service does this affect?**
Build

**Describe the bug**
The builds on my production branch are failing in the Create Distribution step. When I build them with distribute off they succeed.

Here's the text from the log:
2019-06-19T14:03:56.2211640Z ##[error]"<!DOCTYPE html>\n<html lang='en' class=\"full_height\">\n  <head>\n    <meta charset='utf-8'>\n    <title>Server Error</titl

[2019-06-19 14:33] wadebaird opened #587 "Failure of Create Distribution step shouldn't invalidate the build"
**What App Center service does this affect?**
Build

**Describe the bug**
I logged a bug on the failure below in the Create Distribution step, however this bug is around the fact that failing the distribution step shouldn't invalidate the build. If everything else succeeded in the build I should be able to manually distribute it.

Here's the text from the log:
2019-06-19T14:03:56.2211640Z ##[error

[2019-06-19 14:46] tauntz commented on #485
@winnieli1208 any update on if it's something that you want to support eventually? If yes, would that be in the near/med/far-term roadmap?

[2019-06-19 15:31] jwhiteDev commented on #485
HI @tauntz, Winnie and I have chatted about this functionality a few times. I would say it is definitely something we hope to do at some point. I don't know when but I believe it is safe to say we intend to do this one in the near/med term. A loose spec for it is written up at least ;)

[2019-06-19 15:40] derpixeldan commented on #584
We have an ongoing incident affecting uploading iOS builds. Please follow our status page for any updates https://status.appcenter.ms/

[2019-06-19 15:41] derpixeldan commented on #585
We have an ongoing incident affecting uploading iOS builds. Please follow our status page for any updates https://status.appcenter.ms/

[2019-06-19 15:41] derpixeldan commented on #586
We have an ongoing incident affecting uploading iOS builds. Please follow our status page for any updates https://status.appcenter.ms/

[2019-06-19 15:41] derpixeldan commented on #587
We have an ongoing incident affecting uploading iOS builds. Please follow our status page for any updates https://status.appcenter.ms/

[2019-06-19 16:02] hamswan commented on #310
@swathisuvarna1 Appcenter Analytics data can be exported to Application Insights or Azure Blob. In order to add the analytics data to EventHubs , you need to export from AI, but this is a two step export not the most ideal. I would like to understand your requirement more better.

[2019-06-19 16:08] Oddj0b commented on #172
Hi, the issue has been fixed. And you can again and we are now truncating release notes if the field is left blank.

[2019-06-19 16:47] Iomegan commented on #412
I am shocked to realise that there is no user interface for my Mac users to add comments and an email address for further questions from the developer. Many bugs only happen with certain configurations or workflows and often the only way to figure that out is to get in contact with the user.

Please add a crash report window as we know it from HockeyApp. It should be fairly simple and adds great v

[2019-06-19 16:53] DennisPan commented on #364
@barryelevatyr @mcarlson  Sorry this unexpected took a long time. We are ready to give this a try now. Basically we are removing `-sdk` option when modern build system is used. If you can email me (find my email in my profile) your App Center user name and the app, I can enable the feature flag for it to try.

[2019-06-19 16:55] DennisPan commented on #319
@shivrajkumar I'm closing this. If you are still experiencing the failure, I'd suggest reach out to App Center support so that we can take a deeper look at your app.

[2019-06-19 16:55] #319 closed

[2019-06-19 17:00] DennisPan commented on #576
@mondagoar We update the images about weekly but it's hard to tell if your build failed because of that. If you can follow up with App Center support, that'll allow us to dig deeper. Closing this.

[2019-06-19 17:00] #576 closed

[2019-06-19 17:07] DennisPan commented on #399
@pepoman Do you mind reaching out to support again and ask them to assign the ticket to me? I'd like to take a deeper look at your build logs to understand more.

[2019-06-19 17:14] DennisPan commented on #577
@mondagoar Could you provide more details on what stopped working for building with solution? We may need you to reach out to support to take a deeper look at your build

[2019-06-19 17:20] mondagoar commented on #577
Thanks for the reply. I reported the problem with the "solution" separately, but you closed it. See here: https://github.com/microsoft/appcenter/issues/576

I raised this issue because we're having problems building from a project now (which we're using instead). We have one master project (Xamarin / iOS) and it references another library project. The library project has compilation directives but

[2019-06-19 17:21] mondagoar commented on #577
I closed the issue in error.

[2019-06-19 17:44] mondagoar opened #588 "Previously working AppCenter / iOS project stopped building"
A previously working iOS project has stopped building. Below is an extract from the log. Sorry, I don't know what other information you going to need. Did something change recently (today)?

File upload succeed.
Upload '/Users/vsts/agent/2.153.2/work/1/a/symbols' to file container: '#/791889/symbols'
Associated artifact 144 with build 101
##[section]Async Command End: Upload Artifact
##[section]Fi

[2019-06-19 17:45] derpixeldan commented on #588
We have an ongoing incident affecting uploading iOS builds. Please follow our status page for any updates https://status.appcenter.ms/

[2019-06-19 17:51] mondagoar commented on #588
Thanks for the fast response.

[2019-06-19 17:51] #588 closed

[2019-06-19 17:51] DennisPan commented on #577
Ah got it. Thanks for the clarification. Please follow up with support as I suggested regarding the "solution" problem. As for the issue with building the "project", could you mention it in the same support ticket? I'd like to have better idea about specifics. Or feel free to describe here if that works for you.

[2019-06-19 17:59] mondagoar commented on #577
Please could you guide me a little more about what specifics you need. I don't really know what information is relevant (and don't really want to inadvertently post private data).

[2019-06-19 18:09] DennisPan commented on #577
Let's go through Support in this case then. If we find something that will be helpful to others, we can post an update here to share the findings.

[2019-06-19 18:16] hamswan commented on #151
Great to hear that you love App Center so far. I have added this to our Feature request backlog. would you benefit seeing userId attached to the logs flow? Will that be valuable for you?

[2019-06-19 18:28] waneck commented on #294
We currently use HockeyApp as mostly a way to store and manage the custom crashes we have. We built a crash processor server that receives new minidumps, and symbolicates them by grabbing the right pdb/exes if needed, and calling cdb to get the right stack trace, in case this is a Windows crash; For Linux crashes, we use objdump's output to find the correct unmangled symbols, from Unreal's builtin

[2019-06-19 20:00] mondagoar commented on #577
Ok. Thanks. Should I give you access to our build? Or how else can I help provide information?

[2019-06-19 20:06] alicejgibbons opened #589 "Configuration as Code (CaC) for App Center Build"
The ability to describe the Build definitions in a language like YAML or JSON would be hugely valuable for many reasons:
* Consistency across branches and distributions (Beta testers, etc)
* Ability to reproduce Build pipelines across apps
* Ability to view a complete history and change-log of the pipeline
* To ensure App Center is adhering to best DevOps practices
... (and all the other main bene

[2019-06-19 20:09] DennisPan commented on #577
Once you reach out to Support (from the portal), in the conversation, you can provide the link to the failed build, and probably the link to the last successful build for comparison

[2019-06-19 20:26] johnhiggs opened #590 "Ability to publish your own test report files"
**Describe the solution you'd like**
Until more test frameworks are supported we really need the ability to publish your own test automation report result files such as a .html, .xml etc...

**Describe alternatives you've considered**
Maybe a webhook that can push custom test result reports to a slack channel etc

**Additional context**
I'm using an appium, webdriver.io, and playing around various

[2019-06-19 21:46] shawnvega opened #591 "Allow more than 20 apps per github repo"
**Describe the solution you'd like**
I build multiple apps from one repo, and each app uses one github webhook. Github has a limit of 20 webhooks, therefore I can build a maximum of 20 apps from one repo. I would like app center to reuse a single webhook for multiple apps so that I can have webhooks available to do other things, and build more than 20 apps from one repo.

**Describe alternatives y

[2019-06-19 22:32] emergencynap commented on #143
Are there any updates to this feature request or do we have to integrate using the Swift Mac app logic inside of a Xamarin Mac / Visual Studio for Mac app.  Seems backwards.

[2019-06-19 22:55] GreenEggsAnHam opened #592 "Oh no! Build 10 failed to distribute. Error: Internal Server Error: undefined"
**What App Center service does this affect?**
Name of service or sdk with the issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2019-06-19 23:12] brad-dixon commented on #151
@hamswan definitely for the log flow as well, yes.  To see real time activity and who that activity is attached to is definitely beneficial, or at least, I don't see any downside and I believe it would become a useful insight at some time.  So yes, I am all for that.  As for the events and overview page, I have no real opinion on that.  Our main source of the reporting for this data will come from

[2019-06-19 23:14] jbuiYUM opened #593 "cannot distribute build to a certain group"
**What App Center service does this affect?**
distribution

**Describe the bug**
Error message "Oh no! Build 10 failed to distribute. Error: Internal Server Error: undefined" shows up when distributing a build to group.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to branch with build.
2. Click on 'Distribute' dropdown -> 'Groups/Testers' -> Click on input field and choose a group -> C

[2019-06-19 23:19] DennisPan commented on #592
Thanks for reaching out. There is an ongoing incident affecting distribution: https://status.appcenter.ms/ .

[2019-06-19 23:20] DennisPan commented on #593
Thanks for reaching out. There is an ongoing incident affecting distribution: https://status.appcenter.ms/ .

[2019-06-19 23:54] wadebaird commented on #587
Sure, an ongoing incident is irrelevant of this issue.  This bug is stating that a distribution issue should not invalidate the build.

[2019-06-19 23:55] iageoghe commented on #527
@catkin24 This request seems pretty straightforward. I really curious about the use case here, is this for some auditing scenario? Thanks in advance.

[2019-06-20 02:04] iageoghe commented on #428
@mickbyrne Thank you for the thorough picture. As you rightly point out, this limitation is a byproduct of our reliance on identity providers and our move away from even having our toe in that space. Running our own authentication/identity presents security challenges that would diminish our ability to focus on our core mission of delivering developer related features. I am empathetic, but am unab

[2019-06-20 02:04] #428 closed

[2019-06-20 02:16] iageoghe commented on #366
@0xaryan That _is_ really annoying; I am sorry. Do you have your browser set to clear all cookies on shutdown like I do? That brings back the banner for me each morning in Firefox. Any HTTP filter type add-ins that might cause this behavior? In my other browsers where I haven't established comparable settings I am unable to reproduce the behavior you are describing.

[2019-06-20 02:30] iageoghe commented on #286
@dzieberevernote Apologies for the late response. Your request and scenario makes sense. It seems unlikely that we will provide support for this in the next two quarters, but we certainly will investigate and discuss.

[2019-06-20 02:30] #286 closed

[2019-06-20 07:09] #585 closed

[2019-06-20 07:26] MikePodgorniy commented on #585
resolved

[2019-06-20 07:53] derpixeldan commented on #593
Resolved.

[2019-06-20 07:53] #593 closed

[2019-06-20 07:53] derpixeldan commented on #592
Resolved.

[2019-06-20 07:53] #592 closed

[2019-06-20 07:53] derpixeldan commented on #586
Resolved.

[2019-06-20 07:54] #586 closed

[2019-06-20 07:54] derpixeldan commented on #584
Resolved.

[2019-06-20 07:54] #584 closed

[2019-06-20 07:58] derpixeldan commented on #587
@wadebaird ok, I assume you're also proposing to add another notification option then because when the build succeeds and the distribution step fails there won't be any notification leaving everyone under the assumption that everything is fine while it's actually not.

[2019-06-20 08:26] 0xaryan commented on #366
That was it. On every browser that I had "uBlock Origin" extension installed, I had this issue.
Blocking "msecnd.net" and "optimizely.com" caused this actually.

Well, It was my fault actually, not from your side. Sorry to bother you 😅

[2019-06-20 08:26] #366 closed

[2019-06-20 09:18] Oddj0b commented on #590
Hey @johnhiggs, just to clarify do you want to publish test results to App Center Test?

[2019-06-20 10:17] xv-matt-u opened #594 "Build without an Xcode or Android Studio project in source-control"
**Describe the solution you'd like**
I have a repository that builds a cross-platform library with CMake. It includes a binary with a test suite that must run on a real device.

Since CMake is generating the xcode project based on configuration options given to it, I should *not* check that into source control.

When I go to add my project, App Center can't find an Xcode project and simply gives u

[2019-06-20 11:27] marcoblagoiev commented on #169
@ranterle If I understand correctly, this will upload the mapping files to the App Center Diagnostics.

Are there any plans to upload the mapping file to Google Play Console as well?

We use the crash reporting from Google Play Console, and uploading mapping files for about 10 apps is time consuming.

[2019-06-20 12:17] Laapi opened #595 "Build failed. iOS."
**What App Center service does this affect?**
App centr build system

**Describe the bug**

format error

##[section]Async Command Start: Upload Artifact
Uploading 3 files
File upload succeed.
Upload '/Users/vsts/agent/2.153.2/work/1/a/symbols' to file container: '#/4040973/symbols'
Associated artifact 12 with build 21
##[section]Async Command End: Upload Artifact
##[section]Finishing: Publish sym

[2019-06-20 12:30] GreenEggsAnHam opened #596 "Long Build times iOS"
**What App Center service does this affect?**
iOS Build

**Describe the bug**
Builds take a long time 20+ mins.

**To Reproduce**
Steps to reproduce the behavior:
1. Click Build Now

**Expected behavior**
Build to take a reasonable amount of time

**Screenshots**
![Screen Shot 2019-06-20 at 7 25 23 AM](https://user-images.githubusercontent.com/48684003/59849294-d4d3b880-932c-11e9-931e-053fc43b3ed6

[2019-06-20 13:13] WhiteDog12 opened #597 "Need to Easily Link from App Center Crash to Individual Bug"
Need to make it easy to link from App Center crash reports back to DevOps bugs that are automatically created.   In Hockey App, it was easy to link back to the bug system.  You could open a crash group, then select the bug tracker and click the URL to go to the specific bug in the bug tracking system.  I can't seem to find this same URL/process in App Center.  We have setup the bug tracker integra

[2019-06-20 13:45] jessbe opened #598 "Clicking on Testing Group Gives 404 Error"
**What App Center service does this affect?**
Distribute app to group of testers

**Describe the dbug**
Click App, click Distribute -> groups -> one specific group comes back as 404

**To Reproduce**
Steps to reproduce the behavior:
1. Click app
2. Click on 'Distribute'
3. Click on 'Group'
4. Click UAT - comes back 404 error

**Expected behavior**
Be able to see UAT group of testers

**Screenshots

[2019-06-20 13:47] catkin24 commented on #527
@iageoghe We effectively want to know what existing teams a given user is NOT a part of. We have a list of all existing teams, and currently we're making (then caching the aggregation of) separate calls for each team to get the users on each team. We then filter out all of the teams that the user is a part of to determine which ones they aren't a part of.

It'd be a lot more efficient if we could

[2019-06-20 15:35] ranterle commented on #169
@marcoblagoiev that is understandable. We are looking into options here, but at this point have no concrete plans. Is using a post-build script an option for you in the meantime? As far as I see, Google Play Console has an API to upload those.

[2019-06-20 15:52] hardschool opened #599 "Add "mandatory update" to appcenter-cli "appcenter distribute release""
**Describe the solution you'd like**
Have a flag _-m_ or _--mandatory_ to do mandatory updates via appcenter-cli

Something like this:
[code]

[2019-06-20 16:02] thomasonb opened #600 "Unable to Register Devices"
**What App Center service does this affect?**
Distribution

**Describe the bug**
When releasing our app it shows 9 Unregistered devices. After clicking Register Devices AND Resign the app it just gets stuck and has been stuck for ~30 minutes. If choosing just Register Devices it says it is successful but never shows those devices as having been registered and when attempting to install them on the

[2019-06-20 16:02] thomasonb commented on #600
This did eventually finish, it took about 30 minutes though.

[2019-06-20 16:21] DennisPan commented on #595
@Laapi Could you reach out to support (from App Center portal) for this? We can then look into your app and help.

[2019-06-20 16:21] #595 closed

[2019-06-20 16:29] DennisPan commented on #596
@GreenEggsAnHam Could you take a look at this and see if it helps? https://docs.microsoft.com/en-us/appcenter/build/troubleshooting/general#longer-build

[2019-06-20 16:47] RyanThomas73 commented on #369
@derpixeldan
Android is not sorting correctly. It is sorting by release upload order.

[2019-06-20 16:53] DennisPan commented on #594
@xv-matt-u Thanks for the suggestion! App Center Build is actually built from integration with Azure Pipelines. If Azure Pipelines doesn't work for you case, mostly likely there is limited room for App Center to create something that will.

[2019-06-20 17:16] RyanThomas73 commented on #140
@botatoes Are there github issue(s) for the portal merge that we can track for status updates and/or provide feedback on?

[2019-06-20 17:20] DevEddy commented on #534
@nrajpurkar Whats the status? It's stable now.

-- Eddy

[2019-06-20 17:22] ntodd commented on #600
Same here. The device is added to the devices list in developer.apple.com, but stays "unprovisioned" on App Center.

[2019-06-20 17:24] DennisPan commented on #591
@shawnvega Thanks for reaching out! This is indeed something we are aware of as a limitation. Some customers reached out to GitHub or Bitcket to increase their webhook limit. Didn't work for everyone but some did. So this may be something worth trying for now.

Do you mind sharing how you are using the repository and App Center? Do you have more than 20 applications in the repository? Or do you cr

[2019-06-20 17:46] sand070581 commented on #536
Hi ,
We are not using AppCenter build feature. We are creating the ipk's in our inhouse build sytem and uploading it into AppCenter for release distribution. Along with ipk's we are also uploading DSYM files so that developers can download it for crash analysis. This feature is working well in our existing hockeyApp but AppCenter is not giving any option to download the DSYM files uploaded by us.

[2019-06-20 17:47] blparr commented on #461
Hello @lacostej - Good news, we have increase the number of API Tokens allowed per account from 200 to 5000. Please, give it a try and let us know if you're still running into issues.

Thank you!

[2019-06-20 17:48] blparr commented on #460
Hi @lacostej The number of API tokens has been increased from 200 to 5000. This should fix your issue. please, let us know if it doesn't.

Thanks!

[2019-06-20 17:51] hovsepm opened #601 "Unable to create a database through the portal"
**What App Center service does this affect?**
Seems to be portal issue
**Describe the bug**
A clear and concise description of what the bug is.
Created a new user, then new org and then am trying to create a new database for the app through portal. selected my personal subscription (513d6415-42d7-400e-b852-e81fa65a7bdd - MSDN Ultimate) and selected "somename" as a name of db. then "I'm just gettin

[2019-06-20 18:00] hovsepm commented on #601
Server returns 401 without any info.

[2019-06-20 18:02] hovsepm commented on #601
the problem may be related to the fact that I've created a new user with my gmail account but was trying to use my MSDN subscription from outlook account.

[2019-06-20 18:24] JakePorter05 opened #602 "Annual Subscriptions"
I would like to see an annual option for the subscriptions. I work for the UofA and the funding and billing department would love the options to do an annual bill instead of monthly.

[2019-06-20 19:00] jwhiteDev commented on #602
Hi @JakePorter05,
The request makes sense. As a general plan, we bill everything App Center through Azure, where it is just a line item in the Azure bill. Does UofA have any sort of Azure agreements or contracts that take place? Most likely, allocation for App Center spend would likely best be allocated to that Azure contract for the year.

[2019-06-20 19:07] JakePorter05 commented on #602
Yes, they do have azure subscriptions, but its all student-based so they
don't have a sub that we can just put it on at least not for the department
that I'm working with.

On Thu, Jun 20, 2019 at 1:04 PM James White <notifications@github.com>
wrote:

--
Jake Porter
435-590-4026

[2019-06-20 21:05] marcoblagoiev commented on #169
@ranterle I don't think that post-build scripts are an option for us. We usually generate the builds but only upload them to Google Play a few hours/days later, not directly after.

There is no script that can be run after the upload process has been completed, is that correct?

[2019-06-20 23:08] ranterle commented on #38
Hi there @harry248 and everybody else interested in using the Kotlin DSL for configuring your Android projects. We're currently working on support for this and would love your feedback.
If you are interested, feel free to send me a message (email is in my profile) and I'll get back to you.

[2019-06-20 23:11] DennisPan commented on #37
@prabakaranr We plan to run a small experiment with self-hosted gitlab repositories, once we finish the work of supporting GitLab.com, given that we see a fair percentage of the interest comes from self-hosted. If we end up deciding to not move forward, then we can create a separate issue to track the interest. That would be my suggestion.

[2019-06-20 23:16] DennisPan commented on #37
For everyone who are interested in **GitLab.com** support, if you would like to participate in an early preview, please reach out to me via email (can be found in my profile). Currently looking at finishing the initial integration in about a week. We'd love to have you start trying and collect feedbacks!

[2019-06-20 23:21] caseyjmorton commented on #37
+1 for GitLab on prem.

On Thu, Jun 20, 2019 at 7:19 PM Dennis Pan <notifications@github.com> wrote:

[2019-06-20 23:39] shawnvega commented on #591
@DennisPan I'll reach out to git hub and ask them to increase the number of webhooks.
The repository builds about 27 apps at the moment, and we are about to add 3 more. That would bring us to 30 apps.

[2019-06-21 01:25] Pita95 opened #603 "App Center Auth B2C"
**What App Center service does this affect?**
Auth (Azure AD B2C)

**Describe the bug**
Trying to configure Auth for Azure AD B2C, after selecting the Subscription in step #1 and moving to step #2 to select a Tenant it says there are No tenants found. If I hit F12 for browser debugging I can see its returning a 400 when retrieving Tenants. However, if I take the same exact API call and use the sam

[2019-06-21 01:41] amchew commented on #603
Hey @pita95, thanks for letting us know! Would you mind going to App Center (https://appcenter.ms), clicking on the blue chat button at the bottom right of the screen and copy pasting this issue? We may have to ask you some app sensitive questions to investigate further. Ping here when you’ve done so and I’ll find the conversation.

[2019-06-21 02:45] jeromelaban commented on #421
I'm also having this issue. Is there a known workaround for it ?

NUnit 3 is increasingly becoming a blocking feature, as NUnit 2 test runner support is very unstable in VS 2019.

[2019-06-21 02:50] xv-matt-u commented on #594
Thanks @DennisPan
The only part of Azure Pipelines that doesn't work for my case is the requirement of having an actual iOS or Android device.

In that case here's a couple of solutions:
1. App Center Build can simply have a "pipelines mode" which is basically "Azure Pipelines plus attached devices"; or
2. Azure Pipelines adds support for various devices - e.g. choice between "building on a mac" v

[2019-06-21 02:50] suvro24 opened #604 "AccessibilityID missing after release build"
Appcenter release build APK is different from locally build APK. My App has AccessibilityID for Appium UI testing. After building Release APK using Appcenter build, my tests were failing. Then I download the apk and checked using local Appium server and there were no AccessibilityID available in the ViewTree.

My locally build APK doesn't have this issue. Can anyone help me with this issue?

Thank

[2019-06-21 04:01] patniko commented on #601
@hovsepm we have some improvements coming for error handling. Are you able to create the database with your MSA/AAD account?

[2019-06-21 04:33] pachuka commented on #378
I'd say for the future would be really neat if we could have a button in the UI that could convert it into the DevOps build pipeline automatically, but for now the definitions in the repo would be great!

[2019-06-21 04:57] #604 closed

[2019-06-21 09:03] cansado2930 opened #605 "Get information about who have received Push notifications"
**Describe the solution you'd like**
When I send a Push notification, I would like to know what users & devices have tried to send and what of them and received it. In addition, I would like to send a "push" to X users and App Center send it to Android, iOS, Windows on the same request. I want to say, Some way in order to unify push notifications of different OS.

**Describe alternatives you've co

[2019-06-21 10:17] abigalinov17 opened #606 "QR-code for all releases"
Add QR code for all releases. Now the code is displayed only for the latest releases.

[2019-06-21 10:22] pratyushnigam commented on #88
Is this feature present in the backlog ?

[2019-06-21 11:15] wtimme commented on #182
This is actually a huge show-stopper for us. With HockeyApp, you can just share a link, and testers who used that link to install the app will receive in-app update notifications as soon as a new version was released. Managing testers in distribution groups introduces management overhead that we would like to avoid.

[2019-06-21 12:29] johnhiggs commented on #590
Hi @Oddj0b! Yes i want to publish my own test result files such as .html etc, ideally I want to use different than the current supported test frameworks hence the request to be able to publish our own test results and stay within app center to view them.

[2019-06-21 15:34] ranterle commented on #169
@marcoblagoiev Correct, we don't have a [build script](https://docs.microsoft.com/en-us/appcenter/build/custom/scripts/) after the build has been forwarded to App Center Distribution, only directly after the build finished.
You can download both the build and the [artifacts from a build](https://openapi.appcenter.ms/#/build/builds_getDownloadUri), such as the mapping and could use this in a script

[2019-06-21 15:40] ranterle commented on #594
@xv-matt-u We continue to look into options of how we can leverage the flexibility of Azure Pipelines for App Center Build, thanks for your suggestion as well.
In the meantime, you can combine the flexibility of Pipelines and the on device testing capability of App Center: You could write an Azure Pipeline to build your application project, then have a task in there which queues a device test run

[2019-06-21 15:44] ranterle commented on #596
@GreenEggsAnHam If the information posted by @DennisPan does not explain why your builds are slow, I would recommend to contact our support in the App Center portal with this question, from there you will be able to share details about which app and which builds you're experiencing this with, which will be vital information to help us understand why your builds are not performing as fast as you ex

[2019-06-21 15:49] ranterle commented on #589
Thank you @alicejgibbons for your request. It is something we have been looking into. #437 is very similar in its nature. I think this request is more concrete with what we have been considering.

We don't have anything to announce at the moment. I would like to keep this discussion open to see what kind of solutions would help you and how you would want to see those integrated with App Center.

[2019-06-21 15:50] Pita95 commented on #603
Good Morning! I pasted this issue into the App Center chat.

[2019-06-21 15:54] amchew commented on #603
Hi @pita95! Saw your message, we will investigate.

[2019-06-21 17:01] wadebaird commented on #587
Hello! Not another option, just if the builds fail only because of the distribution step, it should still be a valid build such that I can download it or click the distribute button to try and re-distribute it.

thanks!

[2019-06-21 18:29] jrahma opened #607 "Send Push to iOS, Android and Other [Multiple Platforms]"
Hi,

Currently when sending Push through API we have to specify the app_id which is a platform specific but this this is not the case when you mostly sending Push because usually you'll send to all users of your app regardless of the platform.

I suggest you add an option to Send to all platforms AND another option to send to multiple platforms without having to call the API multiple times

Thanks

[2019-06-21 18:33] jrahma opened #608 "Recipients Geo Distribution Reports & Chart"
In AppCenter Push, Please add a report & chart to show the recipients Geo distribution to explain where in the world my message as received with a percentage

[2019-06-21 18:35] jrahma opened #609 "Report: List of Recipients"
In App Center Push, Please add a a list of recipients with device ID AppCenter.GetInstallIdAsync with the status (received or not), date / time received, click or not with date / time

When you click on the recipient it should show more details, e.g. device model, geo location, time, etc..

[2019-06-21 18:35] jrahma opened #610 "Percentage of Received vs Clicked"
Please add a report and chart to show the percentage of push notifications messages received vs clicked messages

[2019-06-21 18:37] jrahma opened #611 "Custom Push Notification Sound"
Please add the custom sound in the AppCenter Portal

[2019-06-21 18:38] jrahma opened #612 "Scheduled Push Notification"
Please add an option to send scheduled push notification

[2019-06-21 18:39] jrahma opened #613 "Rich Media Attachment"
Please add Rich media attachment. Image, sound, or video to show when 3d touching the push notification.

[2019-06-21 18:40] jrahma opened #614 "Action Buttons"
Please add action buttons for AppCenter Push for iOS and Android

[2019-06-21 19:02] ahanag22 commented on #421
@jeromelaban @jpc1963 Are you getting the same error if you disable the local screenshots?
I'm mainly asking this because we already have an existing bug filed here https://github.com/microsoft/appcenter/issues/563, SpecFlow version 3 on App Center Test doesn't display per-step screenshot.

[2019-06-21 19:11] jeromelaban commented on #421
The behavior is the same with or without local screenshots.

Also, it might be of interest that it seems that this exception appers on the unit tests side:

[code]

[2019-06-21 19:14] Oddj0b commented on #590
@johnhiggs Makes sense, thank you for your feedback, I hope more users want this feature.

[2019-06-21 19:18] Oddj0b commented on #578
Thank you for reporting this bug, we will look into it.

[2019-06-21 19:25] Oddj0b commented on #574
Thank you for your feedback, I'll have to investigate a little before we can proceed with this.

[2019-06-21 19:27] ahanag22 commented on #421
@jeromelaban  Are you using Xamarin.TestCloud.Agent latest version 0.21.8 in your iOS app?

[2019-06-21 19:27] Oddj0b commented on #563
Thank you for reporting the bug, we will investigate.

[2019-06-21 19:28] Oddj0b commented on #562
hi @francis2, did you talk with your support team?

[2019-06-21 19:30] Oddj0b commented on #535
Thank you for reporting the bug.

[2019-06-21 19:31] jeromelaban commented on #421
Yes, exactly this version, and Xamarin.UITest 3.0.0.

[2019-06-21 19:33] Oddj0b commented on #452
I'm not sure I understand what you are requesting. If I understand it correctly, would it not be better to mock your backend with a 500 response?

[2019-06-21 19:34] Oddj0b commented on #443
@khovionvg this is interesting, and I'm surprised it hasn't received more interest. If more users are voting for this issue, it's possible it will be started.

[2019-06-21 19:35] Oddj0b commented on #418
I'm the program manager responsible for App Center Test and I'm working on a new idea which will support more frameworks in Test, allow unit testing, and browser testing. I would like to talk to you about it and understand your needs better.

Below is a link where you can sign-up for a 30-minute call with me. The agenda will be about the value of testing for you and your organization, and my new i

[2019-06-21 19:36] Oddj0b commented on #402
@jayanths469 would it be enough to serve you test results and screenshot so that you could produce your own PDF?

[2019-06-21 19:38] Oddj0b commented on #377
We will be investigating the bug, thanks for reporting it.

[2019-06-21 19:40] Oddj0b commented on #363
Thanks for your feedback, if this ticket gets more reaction from other users we can start working on it.

[2019-06-21 19:42] Oddj0b commented on #284
Thank you for reporting the bug.

[2019-06-21 19:47] Oddj0b commented on #162
I'm hoping the feature request gets more reactions, thanks for the feedback.

[2019-06-21 19:48] Oddj0b commented on #125
Let's hope more users are requesting this feature, so we can add it to App Center.

[2019-06-21 20:02] owenniblock commented on #357
The PR for adding `isRunningInAppCenterTestCloud()` to the App Center SDK has been merged and is expected to be in the `2.2.0` release.

If you can't wait for it or don't want to include the SDK in your app for some reason - I'd advise taking the code we've written (maybe directly referencing the namespace as you'll know what classes you're using) and applying it to your own system.

Sorry that no

[2019-06-21 20:02] hovsepm commented on #601
yes I am. The frustration is that there is no user friendly message. I figured that server returns 401 only when I checked the network traffic.

[2019-06-21 20:18] get2arun commented on #578
I have more information in the following url
https://github.com/get2arun/appcenter
Hi Team, I can share the additional information to debug the issue. so kindly let me know what information is required from my side.

[2019-06-21 20:48] francis2 commented on #562
Hi,

Still no resolution, AppCenter support told me yesterday they escalated the
case to one of your engineers for their thoughts on this.

Francis

On Fri, Jun 21, 2019 at 2:31 PM Villars Gimm <notifications@github.com>
wrote:

[2019-06-21 21:11] ryanmvretail opened #615 "Cannot install App Center Profile on iPhone XS (iOS 12.3.1)"
**What App Center service does this affect?**
Device Registration

**Describe the bug**
I logged into App Center in Safari on my iPhone XS running iOS 12.3.1.  I clicked the "Add new device" link which then prompted me to download the configuration profile.  I click "Allow" and get prompted to review the profile in the Settings app.  I go to Settings, Profile Downloaded, click "Install", enter my

[2019-06-21 22:24] ahanag22 commented on #421
Thanks for confirming. I'll try to reproduce this behavior on my end. Meanwhile, can you try this sample app & UITest project?https://github.com/King-of-Spades/AppCenter-Samples/tree/master/Xamarin.UITest/UITestDemo/iOS -
please let me know if that project works for you? If the sample project doesn't work for you, does it hit the same error, or something else?

[2019-06-21 22:51] jeromelaban commented on #421
The code I'm using is open source, so I can also provide you with a repro. I'll prepare that and test with that. Thanks!

[2019-06-21 22:56] yoannchaudet commented on #538
I do not see your attachment.

Please open a support ticket from our portal.

[2019-06-21 22:56] #538 closed

[2019-06-21 23:00] jeromelaban commented on #421
I've having the exact same issue with your build. The simulator starts multiple times, then fails while the app starts.

How can I help you troubleshoot that further ? I'm using VS4mac 8.1 Preview (build 2460)

[2019-06-22 00:06] winnieli1208 commented on #597
@WhiteDog12 thanks for the feature request. This is great feedback and I can definitely see the value in including the bug tracker link somewhere in the App Center UI. Due to other priorities at the moment, we don't have immediate plans to address this but I will monitor this thread and post any updates.

Thanks!

[2019-06-22 15:25] adrianknight89 opened #616 "Remove default plural text when the device count is 1"
When the device count is 1 on the Push Notifications page, I should see "1 device" instead of "1 devices".

![Capture](https://user-images.githubusercontent.com/16855542/59965753-e6a58f00-94d7-11e9-8325-618f16f2f20d.PNG)

[2019-06-22 16:08] adrianknight89 opened #617 "Please give us more info when push notifications fail to be delivered"
When a push is not delivered, I'd like to see more information as to why that was the case. Here's one example when I see nothing but "Bad channel".

![11](https://user-images.githubusercontent.com/16855542/59966161-df817f80-94dd-11e9-897d-f4acbfa9f4cf.PNG)

[2019-06-23 09:15] lumaxis commented on #615
@ryanmvretail Thanks for reporting this!
Were you by any chance able to very this on any other device? I'm pretty sure the issue is not specific to the XS but would be nice to double check.

[2019-06-23 12:13] halgadaibi commented on #170
Any update regarding this feature? I was about to open a ticket to at least show the latest build status in the all-apps view. This is a small feature but it's extremely useful! We have 18 apps in total and this will help alot. Thank you in advance.

[2019-06-23 18:45] mkgitalia opened #618 "Build not start"
**What App Center service does this affect?**
Build

**Describe the bug**
Manual Build not starts and only "*** Waiting for data from the build agent ***" only at the end I can see all log

**Expected behavior**
log scrolling down

**Desktop (please complete the following information):**
 - OS: WinX
 - Browser chrome
 - Version 75.0.3770.100 (Build ufficiale) (a 64 bit)

[2019-06-24 05:42] DennisPan commented on #364
This change is now globally enabled for everyone 🎉 . If your RN build does not force legacy build, then re-save the configuration will remove the `-sdk` option in `xcodbuild` command. We didn't add `-destination` option because it defaults to a device compatible with selected scheme.

Special thanks to @barryelevatyr for the great partnership along the process! Thanks everyone for taking the time

[2019-06-24 05:42] #364 closed

[2019-06-24 05:48] DennisPan commented on #539
@mnikonov Apology about the lack of response. This doc lists the software installed on the Windows machine: https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/win/Vs2017-Server2016-Readme.md . If Windows 10 SDK is missing, have you tried installing it via the [build scripts](https://docs.microsoft.com/en-us/appcenter/build/custom/scripts/)?

[2019-06-24 06:12] mzhukovs commented on #574
Thanks @Oddj0b  - the obvious upside is that it would be great and a lot more convenient to be able to verify the tests actually work on iOS as intended first before submitting them to App Center.

[2019-06-24 07:03] DennisPan commented on #618
@mkgitalia  Thanks for reporting this! We indeed introduced a bug on Friday which regressed the behavior on this. A hotfix was just deployed. Please let us know if you still experience any issue.

[2019-06-24 07:03] #618 closed

[2019-06-24 07:07] DennisPan commented on #570
@megastep Thanks for the suggestion! We recently removed `-sdk` for iOS React Native with Xcode 10 builds, if legacy build system is not enforced (#364). I wonder if we should just do this for all iOS builds. For now, I'd like to keep an eye on how React Native builds go for a while, then we can look into the potential of removing it for all builds.

[2019-06-24 08:34] antbui commented on #194
+1 for our team as well.
Thanks.

[2019-06-24 08:57] Jensenks commented on #194
People, please just add a 👍 to the issue.
You don't need to copy and paste "+1 for the aab". It just adds noise to the comment section.

[2019-06-24 09:24] mnikonov commented on #539
From Vs2017-Server2016-Readme.md document

An addition the following optional components are installed:

Microsoft.VisualStudio.Component.Windows10SDK.10240
Microsoft.VisualStudio.Component.Windows10SDK.10586
Microsoft.VisualStudio.Component.Windows10SDK.14393
Microsoft.VisualStudio.Component.Windows10SDK.15063.Desktop
Microsoft.VisualStudio.Component.Windows10SDK.16299.Desktop.arm
Microsoft.Visua

[2019-06-24 10:15] mnikonov commented on #539
Ok, I was able to install SDK and compile appication. @DennisPan, Thanks for your help.

The PowerShell script that installed SDK was next

appcenter-pre-build.ps1

`
echo **Custom_AppCenter_Script**
echo **Installing Microsoft Windows SDK for Windows 10 and .NET Framework 4.7 10.1.18362.1...**
choco install windows-sdk-10.1
echo **Cloning completed.**
`

But, probably would be nice if it possible

[2019-06-24 10:59] joshuaclicks opened #619 "Page Views Analytics"
In order to adequately track where the Customer or User is using the most on a mobile app, there should be a way for the SDK to track the **pages viewed** on the mobile app and the **time spent on each of the pages**.

This information will help to know what features the Users are using the most and so that the business can pivot using that piece of information.

[2019-06-24 11:05] joshuaclicks opened #620 "Number of App Downloads"
Since the AppCenter tool helps to distribute apps to the AppStore, PlayStore and In-tune, it should be open to receiving via its API, a means of **_aggregating the data from these different platforms_** especially data like the **number of downloads** the app has received from all of the different distribution channels.

As a business that is subscribing to the AppCenter for Analytics, I will like

[2019-06-24 11:05] jonstoneman commented on #421
I get the `System.Net.Http.HttpRequestException : Connection refused` error running the tests in https://github.com/King-of-Spades/AppCenter-Samples/tree/master/Xamarin.UITest/UITestDemo/iOS when using VS for Mac 8.2 Preview (build 732). They work fine if I use the stable version of VS for Mac.

This will be investigated and someone will let you know when it's been solved but for now I would sugge

[2019-06-24 11:13] joshuaclicks opened #621 "Consolidate Multiple Apps Data in Analytic View"
I had to create different apps on AppCenter for a mobile app built for both the Android and iOS versions. And when I try to analyse the data, I had to do it for the different apps independently even though it is the same app which was created as separate apps on AppCenter.

**For an easy and comprehensive analysis**, the **_data for the different apps should be consolidatable_** so that all analys

[2019-06-24 11:16] joshuaclicks opened #622 "Log Flow Sub-Feature very slow in loading"
In comparison to the **Event** sub-feature under the **Analytics** feature, the **Log Flow** sub-feature loads up readily slow.

[2019-06-24 13:16] kjng commented on #615
I'm experiencing the same issue with on iPhone 6S 12.3.1 and iPhone 7 Plus 10.3.3. The profile doesn't seem to actually install.

Releases that were published starting from June 17 to present time won't install for me. I think this might have something to do with the [downtime on iOS signing on June 20](https://status.appcenter.ms/).

[2019-06-24 13:41] eyenie commented on #409
Hello, any ETA for this to be implemented? We in "Playrix" use binary attachments for native crashes in all of our applications in HockeyApp. We really need it, because it helps us to analyze issues.
It blocks our transition to App Center.

[2019-06-24 14:20] winnieli1208 commented on #409
@antbe80 thanks for your patience. Due to other priorities, we haven't had a chance to look into this. We have a bug item on our board to fix this and expect it to be picked up in the next few weeks. I'll keep you posted when I have a better ETA.

Thanks!

[2019-06-24 14:27] dkocich opened #623 "custom build steps are skipped when using NodeJS Current instead of LTS"
**What App Center service does this affect?**
Web user interface for pipeline configuration.

**Describe the bug**
I have a project where I have React Native with these MS Appcenter packages:
    "appcenter": "2.0.0",
    "appcenter-analytics": "2.0.0",
    "appcenter-crashes": "2.0.0",

In the build configuration, I used `Node.js version: 12.x` which caused that my custom build scripts were ignor

[2019-06-24 14:49] winnieli1208 commented on #170
@halgadaibi no updates at the moment. We would love to have some sort of dashboard in the future but unfortunately, due to other priorities right now, we don't have any immediate plans to build this. We will continue to monitor this feature request and post updates if we have any. Feel free to check out our [roadmap](https://github.com/Microsoft/appcenter/wiki/Roadmap) and [iteration plans](https:

[2019-06-24 16:04] hamswan commented on #622
@joshuaclicks Log flow is showing what you receive in the backend, depending on the number of events, it might take   few seconds or sometimes a min to show up. Can you tell us how long it takes for you to show up? How many custom events do you for your app?

[2019-06-24 16:07] hamswan commented on #621
@joshuaclicks Thanks for the input, if you need this immediately you can export Analytics to Application Insights and run custom queries on Log Analytics to aggregate the data. I have added this in our feature request.

[2019-06-24 16:09] DennisPan commented on #539
Yup agree. Feel free to open a new Issue in [the GitHub repo](https://github.com/Microsoft/azure-pipelines-image-generation).

BTW, the link to App Center doc regarding images is [here](https://docs.microsoft.com/en-us/appcenter/build/software#operating-system), which has a link to the above mentioned Windows image details.

[2019-06-24 16:10] hamswan commented on #620
@joshuaclicks Totally agree that it is easier to have a unified Analytics view on one single dashboard. We are currently thinking about creating this experience, we are working on it there is no ETA currently.  We would love to get inputs from customers like yourself. Let me know if you have some time to talk to us, I can set up a call so I can better understand your use cases for Appcenter Analyt

[2019-06-24 16:24] joshuaclicks commented on #620
Thanks for the response. I will however be available between the hours of
9:00 to 17:00 and 21:00 to 23:00 daily. You can plan the schedule around
these times.

Regards.

On Mon, 24 Jun 2019, 17:13 Hamsa, <notifications@github.com> wrote:

[2019-06-24 16:25] joshuaclicks commented on #621
Thanks for the response. I will make do with that for now and will like to
see the full feature in the future.

Regards.

On Mon, 24 Jun 2019, 17:11 Hamsa, <notifications@github.com> wrote:

[2019-06-24 16:27] joshuaclicks commented on #622
I recently just integrated AppCenter for the first time and I'm on Dev test
now. I have just about 6 Custom Events logged and it takes more than 2
minutes to load them up. Sometimes it fails and shows up nothing on the
board.

Regards.

On Mon, 24 Jun 2019, 17:07 Hamsa, <notifications@github.com> wrote:

[2019-06-24 16:27] galfonso777 opened #624 "Unable to add App Center Push to Android Project"
**What App Center service does this affect?**
App Center Push

**Describe the bug**
Unable to add two packages to Android Project due to dependencies:
- microsoft.appcenter
- microsoft.appcenter.push

Error: (in vs for mac)
Could Not Add Packages:
Resolving conflicts for MonoAndroid,Version=v9.0...
Detected package version outside of dependency constraint: Xamarin.Android.Support.v4 26.0.2 require

[2019-06-24 16:30] hamswan commented on #620
Thanks, Can you email hamsab@microsoft.com so I have the email you want me to communicate with you.

[2019-06-24 16:45] hamswan commented on #619
@joshuaclicks I would like to understand your use case, I will add this also in our discussion when we talk.

[2019-06-24 16:46] DennisPan commented on #623
@dkocich We've had customers reporting similar bugs before (custom scripts not running), and most of the time it was because the branch configuration wasn't saved. Not saying that's the case here. Just calling out a common scenario we've seen. Could you reach out to support (via App Center portal) so that we can look into details?

[2019-06-24 16:51] Spartanace1024 opened #625 "Problem re-signing application due to provision profile name inconsistency"
**What App Center service does this affect?**
Name of service or sdk with the issue.

**Describe the bug**
If provision profile in app center is not named exactly that of the application on iOS it will fail to resign app for a tester ( I think ).

Further info found here
https://github.com/MicrosoftDocs/appcenter-docs/issues/608

[2019-06-24 17:09] stew3725 opened #626 "Download Numbers are not Present on App Center for Builds Uploaded Through HockeyApp"
**What App Center service does this affect?**
App Center on Web - Distribute Tab - Releases Section

https://appcenter.ms/users/stewart-holder-nliu/apps/Robert-Half/distribute/releases

**Describe the bug**
The download numbers for each release are not present on App Center for builds uploaded through HockeyApp, even though they are present on HockeyApp.

**To Reproduce**
Steps to reproduce the be

[2019-06-24 17:31] hamswan commented on #621
@joshuaclicks Can you email me your app secret, so we can take a look?

[2019-06-24 17:31] hamswan commented on #622
@joshuaclicks Can you email me your app secret, so we can take a look?

[2019-06-24 22:54] botatoes commented on #599
Hi, this is currently doable. You can find the option for mandatory (editing existing or setting new releases) in appcenter distribute releases

Releases is for manipulating releases
Release is for uploading and triggering distribution

[2019-06-24 23:54] thsbrown opened #627 "Invite testers to test flight / play store from appcenter api"
**Describe the solution you'd like**
Make an app center API call, with a provided email / several emails in order to invite those emails to a test flight / google play build as testers.

**Describe alternatives you've considered**
Using fastlane to invite testers to google play / test flight build. However because we are already using appcenter (and like the api) this would be a much more optimal

[2019-06-25 00:01] amchew commented on #388
Hey @QuincyS, @sdg85, you can now get the access and id tokens for Auth in the 2.1.0 SDK release!

Here are the repos and documentation for the following platforms:-

**Xamarin**
- [Xamarin repo](https://github.com/microsoft/appcenter-sdk-dotnet/releases)
- [Xamarin documentation](https://docs.microsoft.com/en-us/appcenter/sdk/auth/xamarin#get-access-token-and-id-token)

**iOS**
- [iOS repo](https

[2019-06-25 00:03] amchew commented on #393
Hey @fileman, @futie, @brad302, @landrzz, @sdg85, @masatoru, @damienaicheh, you can now get the access and id tokens for Auth in the 2.1.0 SDK release!

Here are the repos and documentation for the following platforms:-

**Xamarin**
- [Xamarin repo](https://github.com/microsoft/appcenter-sdk-dotnet/releases)
- [Xamarin documentation](https://docs.microsoft.com/en-us/appcenter/sdk/auth/xamarin#get-

[2019-06-25 01:25] #460 closed

[2019-06-25 01:26] #461 closed

[2019-06-25 02:25] jeromelaban commented on #421
@jonstoneman Thanks for the followup! Unfortunately, I cannot do this, as there are specifics in the way VS4Mac has improved (particularly with regards to nuget support for cross-targeted projects) that enable key scenarios.

It was previously a *very* complex task for us to test applications that are built inside of a cross-targeted framework (those needed to be built with VS4Win) and those VS4Ma

[2019-06-25 04:53] Zakeelm commented on #601
Interesting, there should be an error message that says you must be logged in with an MSA account when using the wizard. I'm going to investigate this further.

[2019-06-25 06:57] tomh4 opened #628 "In-App Updates for sideloaded Apps"
We are using AppCenter to provide our clients with updates of our app as the app is not distributed over any store. Up to now we need to grab every client device, browse to AppCenter, log in, install the app from there and start the app once to init the In-App Update process. This is very tedious as we have a large amount of client devices so we want to be able to sideload the apps onto those devi

[2019-06-25 07:11] botatoes commented on #598
Hi, can you create an intercom ticket for this on appcenter.ms? We'll get more info about your app from there and can help you troubleshoot.

[2019-06-25 07:11] #598 closed

[2019-06-25 07:14] botatoes commented on #528
Hi, can you open an intercom ticket on appcenter.ms? We'll get more information about your app and can help you troubleshoot.

[2019-06-25 07:14] #528 closed

[2019-06-25 07:15] #77 closed

[2019-06-25 07:16] botatoes commented on #78
Hi there, we've introduced release types in appcenter.ms. It currently exists in the appcenter.ms UI and API and we are planning on supporting additional UI for testers.

[2019-06-25 07:17] botatoes commented on #97
Closing this for now. Feel free to create a ticket on intercom on appcenter.ms so we can help you further.

[2019-06-25 07:17] #97 closed

[2019-06-25 07:20] botatoes commented on #140
@RyanThomas73 I am working on the first round of requirements this week and will create an issue once I have the draft going. I'll post an update here to get your feedback. We will be working with designers on it soon but I'll put out some information around it beforehand.

[2019-06-25 07:24] botatoes commented on #182
Hi all, just a quick update. We currently have work around this prioritized and in the pipelines. We are currently working on some in-app improvements around HA/AC SDK. The work for this should be picked up soon.

[2019-06-25 07:30] botatoes commented on #251
Hi, sorry for the late reply @AlphaWong, this issue got lost in my list of reponses. Can you open an intercom ticket if you are still experiencing this?

[2019-06-25 08:58] #251 closed

[2019-06-25 10:11] surez0812 opened #629 "iOS Build failed by 'iCloudContainerEnvironment'"
**What App Center service does this affect?**
iOS Project Build

**Describe the bug**
Build failed by
Error Domain=IDEFoundationErrorDomain Code=1 "exportOptionsPlist error for key 'iCloudContainerEnvironment': expected one of {Development, Production}, but no value was provided" UserInfo={NSLocalizedDescription=exportOptionsPlist error for key 'iCloudContainerEnvironment': expected one of {Develo

[2019-06-25 10:55] hardschool commented on #599
This is the help for **appcenter distribute releases**
[code]

This is the help for **appcenter distribute releases edit**

[code]

Where is this "mandatory" flag?

[2019-06-25 11:40] ranjithshanmugam opened #630 "Build Zip, unable to unzip or build issue"
**What App Center service does this affect?**
Build Service
**Describe the bug**
After taking the build, build succeeds but the build zip whoch was downloaded not getting unzipped properly. It says unknown file format. Same thing happens for both iOS and Android.
Can you please help me this issue?

AppName : Budocode (has both iOS and Android).
Platform : Xamarin forms app

<img width="407" alt="S

[2019-06-25 14:12] davidbuckleyni opened #631 "Submit a private issue Report Whitelisting distrbution email"
Hi, We are trying to white list the following. I xxx out the domain as did not want that public if you have a private message forum for app center please let me no it appears to be the emails that are being created by the distribution area of the process.

The customer is using

Our Mimecast service is catching the AppCenter Distribution emails and deferring some of them.
But we cant appear to whi

[2019-06-25 14:21] rOBloOm commented on #30
i would appreciate this feature!

[2019-06-25 14:22] davidbuckleyni commented on #631
Our Mimecast service is catching the AppCenter Distribution emails and deferring some of them.
no-reply@mail.appcenter.ms is accepted but @bnc3.mail.appcenter.ms is not accepted.

Futher detail of the customer information

Mimecast Deferring Definition:

Deferred messages: These are messages that tried to connect to Mimecast, but weren't initially successful (e.g. the message is subject to greylis

[2019-06-25 14:53] jwargo commented on #553
@swigrid I'm checking to see if we can provide a better error message for this.

[2019-06-25 15:20] JelleDamen commented on #624
I got this same issue, I've fixed it by manually adding these Android libs myself.

Xamarin.Android.Support.Core.Utils Version=28.0.0.1
Xamarin.Android.Support.v7.AppCompat Version=28.0.0.1
Xamarin.Android.Support.v4 Version=28.0.0.1
Xamarin.Android.Support.Design Version=28.0.0.1
Xamarin.Android.Support.v7.MediaRouter Version=28.0.0.1

Not sure if they're all needed in your case.

[2019-06-25 15:41] yoannchaudet commented on #622
Like Hamsa said, if you can get us your app secret via email (our support request from our portal) we could look into it.

Also note that Log Flow does not show you past logs. When you display the page from our portal, the first thing it does is register itself to receive flow of logs. Typically if you are using a test application, you will want to interact with it after opening Log Flow from our

[2019-06-25 16:01] joshuaclicks commented on #622
Ok, I'm clear about it. You can close this ticket.

Regards.

On Tue, 25 Jun 2019, 16:44 Yoann Chaudet, <notifications@github.com> wrote:

[2019-06-25 16:26] DennisPan commented on #629
@surez0812 Thanks for reaching out! We've seen similar issue from other customers before. This workaround helped:

1. Enable the iCloud capability and CloudKit for the extension
![image](https://user-images.githubusercontent.com/14064342/60115545-0385d080-972b-11e9-82bb-c8e4d7c56444.png)
2. Commit the change. Push to the branch.
3. Drag and drop the extension's new provisioning profile to the Desk

[2019-06-25 16:37] Bart-Verdonck commented on #464
Can we expect this feature to be present once HockeyApp is no longer available. _(16 November?)_
Otherwise we'd have to look for a temporary solution as we also use HockeyApp to host standalone-installers (*.deb, *.dmg and *.msi; each packaged in a *.zip)

[2019-06-25 18:27] svrooij opened #632 "Updated Xamarin.iOS version"
**Describe the solution you'd like**
I would like to be able to use the same sdk version in AppCenter as I can in my local visual studio. [stackoverflow question](https://stackoverflow.com/questions/56752587/choose-latest-version-ios-build-in-appcenter-build)

Currently I installed Xamarin.iOS 12.10.0.157 and in AppCenter I can only choose the 12.08 branch, the first 12.10 release was of somewhere

[2019-06-25 18:41] jwargo commented on #582
@frags51 I'll see what we can do.

[2019-06-25 18:49] jwargo commented on #552
@engin2018 have you worked through this issue with our support team? There are several issues that could affect this.  For example, is the app running when you send the notification? How are you getting the device token you're using? What are you seeing in the logs, etc.

[2019-06-25 18:57] jwargo commented on #548
@jrahma thanks for the suggestion. As I understand it, beginning with Android 8, Google put ownership of the notification sound in the hands of its users. What you're seeing other notification platforms do is enable custom sounds through their SDKs. This is probably something we can add to our SDK as well; I'm curious how important this feature is to other App Center customers.

[2019-06-25 19:01] jwargo commented on #537
@jrahma have you discussed this issue with our support team?  I'm not sure exactly what's going on here, but I'd like to rule out other issues before treating this as a bug. If the app's crashing, the the SDK's not going to be able to process the incoming message; it feels like this is expected behavior. Reloading the app resets the SDK and that's how you're getting the messages.

[2019-06-25 19:02] jwargo commented on #522
@ricavir11 yes, that's how you have to do it.

[2019-06-25 20:05] #622 closed

[2019-06-25 20:18] hamswan commented on #310
@swathisuvarna1 Can you share your specific use cases? If it is easier you can email me hamsab@microsoft.com?

[2019-06-25 21:20] fileman commented on #393
@amchew is exactly what I need!
I close this issue because it is solved, if someone need something else, please open a new issue.

[2019-06-25 21:20] #393 closed

[2019-06-25 21:38] calvinmuller opened #633 "Building flutter project"
**What App Center service does this affect?**
iOS & Android build

**Describe the bug**
Console is just stuck at *** Waiting for data from the build agent ***

**To Reproduce**
Steps to reproduce the behavior:
1. Trigger build

**Expected behavior**
Should output the build progress

**Screenshots**

**Desktop (please complete the following information):**
 - OS: MacOSX
 - Browser Chrome
 - Version

[2019-06-25 21:48] calvinmuller commented on #633
30 minutes later it fails with
[code]

[2019-06-25 22:40] solaamy commented on #633
I am running into the same issue today. The project works locally but every time build on AppCenter it stops processing at the same step as you show above.

[2019-06-25 22:59] ranterle commented on #38
Just a quick update: We have shipped and enabled the feature to analyze Kotlin DSL based Gradle configurations for your Android Java/Kotlin and Android React Native apps.
There is no extra work in order for you to use this, your app and its build variants should now automatically appear when configuring a build. If you're encountering any problems with this, please do let us know here or through s

[2019-06-25 23:01] DennisPan commented on #633
@calvinmuller @solaamy Are you on free tier? Each build is [limited to 30 minutes for free accounts](https://docs.microsoft.com/en-us/appcenter/general/pricing#the-free-tier).

This actually isn't related with Flutter. Flutter isn't officially supported, though there are [workarounds](https://www.rocksolidknowledge.com/articles/using-appcenter-for-flutter-projects). If you are interested in Flutte

[2019-06-25 23:01] #633 closed

[2019-06-25 23:03] calvinmuller commented on #633
30 minutes to build a flutter app - it's clearly something wrong as apposed to "do i pay"

[2019-06-25 23:05] calvinmuller commented on #633
and btw yes I used that article to setup my project - so i'd either disable it or update it to maybe make it work ;)

[2019-06-25 23:14] DennisPan commented on #633
Do you mind taking a look at the build log and see where the time are spent? If you download the logs, it should give you more details on each step and the timestamps.

[2019-06-25 23:18] bennoffsinger commented on #466
When will ACP - App Center Push be released as it is now only in preview?

[2019-06-26 00:41] williemaster commented on #633
Same problem here. How can I download the logs?

[2019-06-26 02:26] #558 closed

[2019-06-26 04:53] DennisPan commented on #633
@williemaster If you view the build details, there should be a Download Logs button

[2019-06-26 06:01] calvinmuller commented on #633
my guess is that flutter doctor is waiting for some kind of human input on first run of flutter doctor, tried yes | flutter doctor but that also didn’t seem to work. unfortunate.

[2019-06-26 09:00] PawelSkwaraEuvic commented on #633
Is this kind of joke? Building flutter was working perfectly 2 days ago. Now it doesn't and it's for sure a flutter issue? :D well done ms, bravo!

[2019-06-26 09:05] calvinmuller commented on #633
I know right.

[2019-06-26 09:14] jrahma commented on #537
But this is an issue because the messaging should work in the background no matter what and what if the app crashes and the user did not start the app again for few days? then he is going to lose all the incoming messages?

[2019-06-26 09:17] jrahma commented on #548
Well, for example, for prayer apps we need to play prayer sound not the normal notifications app and for reminders app of national day we need to play the national anthem sound not the default notification app

If other apps are having this feature this Microsoft must have it :)

because we move from better to **Best**

[2019-06-26 09:20] PawelSkwaraEuvic commented on #633
quickfix is to comment out "flutter doctor" from appcenter-post-clone.sh file and it builds like a charm again.

[2019-06-26 09:24] calvinmuller commented on #633
Mine then gets stuck at
[code]

[2019-06-26 10:16] quenna999 commented on #633
hi there,we need apple enterprise account...
would like to pay for it.
contact me freely....
fanboer@gmail.com
skype:live:fanboer

[2019-06-26 10:42] engin2018 commented on #552
Thanks for your response. We've now resolved the issue.
Kind regards Engin

On Tue, 25 Jun 2019 at 19:53, John M. Wargo <notifications@github.com>
wrote:

[2019-06-26 10:57] ChrisMGilbert commented on #617
I totally agree. It's completely ridiculous that there is basically no way of telling whether or not a notification push has failed in a large number of cases.

[2019-06-26 11:01] kpiteira commented on #626
Thank you for the report. This is indeed a data that is not synchronized, but you will see download counts accumulating in App Center in the following conditions:
- Your testers download the release from the App Center page
- Your testers use the Pink HockeyApp Android app (https://play.google.com/store/apps/details?id=com.microsoft.hockeyapp.testerapp&hl=en_US)
- You integrate the App Center SDK

[2019-06-26 13:38] kjng commented on #615
Testing today, I'm able to install debug builds and the profile appears to be working correctly.

[2019-06-26 14:04] winnieli1 opened #634 "Iteration Plan for July 2019"
# July 2019 Plan

Last month, we made major improvements and fixes to Auth. We shipped support for React Native and added support to expose the JSON Web Token to allow for quicker integration with other Azure services. We also improved the user experience in the portal, including the ability to create Azure resources directly from Auth.

You'll also notice additions in various parts of our product

[2019-06-26 14:05] hhasenauer opened #635 "Android Push Notifications"
**What App Center service does this affect?**
PushNotifications for Android Cordova

**Describe the bug**
Reinstalling the same android app multiple times results in push notifications "Bad Channel" errors.
For development reasons, the app is installed multiple times on the same device and a new install id is generated each time.
When a push notification is sent to this new install id I get this e

[2019-06-26 14:07] Oddj0b commented on #627
Hi @Spartanace102,
Thank you for your feedback. Hopefully, this request gets more reactions so we can start the work.

[2019-06-26 14:11] DennisPan commented on #633
@PawelSkwaraEuvic @calvinmuller Sorry I didn’t realize you are reporting a Flutter build that was working before. In this case, could you reach out to support (via App Center portal) so that we can look into your app details? You may refer this Issue and have the support folks transfer this to me. Otherwise, this can get the same “not supported” answer. It is still true that we don’t have official

[2019-06-26 15:39] thabemmz opened #636 "simctl command is hanging"
**What App Center service does this affect?**
AppCenter iOS

**Describe the bug**
In my iOS build, my `post-clone.sh` script contains a `simctl` command: `/usr/bin/xcrun simctl list`.

When this command is invoked in my AppCenter build, it hangs until I cancel it. The command itself gives no output.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a `appcenter-post-clone.sh` file in y

[2019-06-26 18:07] amchew commented on #520
Hey @YsFred4, we responded in the ticket, we tried using V2 user flow with our sample app and it seems to work fine. Could you try running your V2 user flow via the Azure Portal again?

[2019-06-26 18:53] nschild commented on #169
Is there a way to get the dsym files from post_build? I would like to upload them to rollbar when a build is complete.

[2019-06-26 21:03] KSemenenko commented on #87
I also need such functionality

[2019-06-26 21:05] KSemenenko commented on #619
And after we can build #386 Userflow

[2019-06-26 21:14] KSemenenko commented on #491
**How does your app use notifications?**
1.  Alert the app to take an action (but now it will work only when user will tap on popupbage)
2. Alert the app user about some new data available in the app ( I need silent push for iOS and Android)
3. Send data to the app (but it's small data)

**How do you target notifications?**
1. Users  ( 90% of pushes)
2. Specific devices (10% of pushes)

[2019-06-26 21:38] amchew opened #637 "Bring your own identity management provider with App Center Auth"
App Center Auth in early preview enables developers to connect to their Azure AD B2C tenant. However, we fully expect our developers to use other popular identity and access management providers such as Auth0, Firebase Authentication, and Ping Identity. To broaden our reach and support for Auth and Data, we will add the feature for developers to bring their own identity management providers with s

[2019-06-26 21:45] Zakeelm commented on #475
Remote listeners have been added to the Data iOS SDKs. IOS Developers can now use `setRemoteOperationDelegate` to set the remote operation delegate which gets called when the device is back online and the pending operations are processed.

[2019-06-26 21:45] #475 closed

[2019-06-26 21:48] Zakeelm commented on #476
Closing this. We have shipped each of the small features in this thread! 😁 As a result, we have a more streamlined and easy-to-use portal experience for the Data service.

[2019-06-26 21:48] #476 closed

[2019-06-26 21:48] dimazaid commented on #532
@faisal-fls were you able to follow up on this via the support channel?

[2019-06-26 21:50] amchew commented on #474
We successfully improved the user experience in the portal based on your feedback on the above experiences. Let us know what else can be improved!

[2019-06-26 21:50] #474 closed

[2019-06-26 21:52] #388 closed

[2019-06-26 21:59] dimazaid commented on #615
Thanks for confirming @kjng. @ryanmvretail can you confirm whether this issue is till happening?

[2019-06-26 23:59] brad302 opened #638 "Refresh Token to extend authentication lifetime beyond 24 hours"
The addition of the access token and claims delivered via this feature request ... [Issue #393](https://github.com/microsoft/appcenter/issues/393) ... provided some much needed and appreciated functionality but I'd like to see if it can be extended a bit further.

We have a requirement in our organisation (given rosters and based on fairly consistent user feedback) to extend the life of the access

[2019-06-27 01:21] amchew commented on #638
Hey @brad302, thanks for the feedback! We spoke briefly just now, and we see your use case. Leaving this post up to gather more feedback, and we’ll investigate on a potential solution.

[2019-06-27 02:40] surez0812 opened #639 "Android Gradle Build flavorDimensions support"
**What App Center service does this affect?**
Android Gradle Builsd

**Describe the bug**
Our Android project is using "flavorDimensions" to combine different flavors in one build variants.
For example:
`
productFlavors {
        flavorDimensions "country", "type"
        us {
                dimension "country"
        }
        uk {
                dimension "country"
        }
        free {

[2019-06-27 04:17] broderickmerritt commented on #99
I would also like to be an advocate for this. I believe this is a crucial step for contributing to the full DevOps process using AppCenter for Xamarin Forms app, especially on the part of fulfilling an optimized Google Store production deployment without manual steps.

[2019-06-27 04:27] DennisPan commented on #639
@surez0812 Is this the same as #32 ?

[2019-06-27 04:31] DennisPan commented on #630
@ranjithshanmugam Could you reach out to support (via App Center portal)? We will be able to look into your app details from there.

[2019-06-27 04:43] botatoes commented on #599
My bad for closing, I misunderstood. Mandatory flags are a group-specific concept. We currently don't have this but will add it to our backlog. Thanks!

[2019-06-27 04:50] DennisPan commented on #632
@svrooij This is being worked on. Hopefully you will have this within next couple weeks.

[2019-06-27 05:56] DennisPan commented on #636
@thabemmz This might be related to a bug we introduced two days ago, and fixed an hour ago. Do you mind giving it another try?

[2019-06-27 06:00] DennisPan commented on #596
@GreenEggsAnHam I'm closing this. Feel free to re-open if needed.

[2019-06-27 06:00] #596 closed

[2019-06-27 06:15] surez0812 commented on #639
@DennisPan, yes! They are same requests. Checked your "Iteration Plan for July 2019", still no plan for this change. We have to pending our Android project migrating to App Center.

[2019-06-27 06:15] #639 closed

[2019-06-27 06:23] thabemmz commented on #636
Just did and the issue is fixed! Thanks for your quick reply @DennisPan !

[2019-06-27 06:23] #636 closed

[2019-06-27 06:29] DennisPan commented on #636
Sorry about the trouble. Good to know it's working now!

[2019-06-27 09:31] Oddj0b commented on #523
@FunkyLambda sorry for the lack of response here. Is this still a problem? If it still is a problem, can I ask you use our support system (the blue chat icon) in the App Center portal?
The reason for this is that we will have to get URLs from your build where it fails.

[2019-06-27 09:51] Oddj0b commented on #499
@devedse Sorry for the lack of response. There's some confusion about this whole workflow, I'll return with more information.

[2019-06-27 09:53] Oddj0b commented on #600
We've been seeing some issues with our machines running the service. But it should have been mitigated by now.
If you still experience delays, please re-open this bug.

[2019-06-27 09:53] #600 closed

[2019-06-27 10:15] mikaelengver opened #641 "Can't see symbol file in the AppCenter under /Distribute/Release. This is possible in HockeyApp next to the apk."
**What App Center service does this affect?**
In the view Distribute/Releases it is not possible to download the symbol file. That is possible in HockeyApp.

**Describe the bug**
The symbol file is needed to be uploaded to Google Play Console when releasing, in order to get get better stacktraces from obfuscated code.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Distribute/Releases

[2019-06-27 10:37] MasterOfTouch commented on #482
pls, current behavior annoying. You need to upload and write description again after random click outside.

[2019-06-27 11:15] ndastur opened #642 "Display the HResult as well as Message for TrackErrrors"
**Describe the solution you'd like**
In the track errors tab the Exception Message is shown, but it would be useful for the HResult value to be shown too.

**Describe alternatives you've considered**
I currently have to add a dictionary item for every call to trackerror

**Additional context**
Some handled exception reports could be managed better by checking in code. At the moment I would have to

[2019-06-27 11:44] lumaxis commented on #641
@mikaelengver For Android apps, this should be possible, it will just be in the "Diagnostics" section. Have you checked under https://appcenter.ms/users/larsa71/apps/Fotbollskanalen/crashes/mappings ?

[2019-06-27 11:50] mikaelengver commented on #641
Thanks @lumaxis

[2019-06-27 11:50] #641 closed

[2019-06-27 12:25] rhouweling opened #643 "Failed to publish to store. Production version would become higher than alpha or beta"
**What App Center service does this affect?**
Distribution of Android app

**Describe the bug**
When I distribute my app, an error appears:
Failed to publish to store. Error: Production version code (70) would become higher than Alpha track version (51) and Beta track version 52) so Alpha and Beta tracks would be deactivated.

This didn't happen before and I already published multiple times. The a

[2019-06-27 14:21] easterapps commented on #220
new informations?

[2019-06-27 14:28] jacob-israel-turner commented on #612
#138

[2019-06-27 14:30] jacob-israel-turner commented on #138
Hey @jwargo, just wondering if you have any updates here.  I'd use scheduled push notifications today if it were available.  Since it's not, I am building the scheduling on my end instead.

Thanks!

[2019-06-27 14:30] winnieli1208 commented on #220
@easterapp App Center currently only supports deobfuscating crashes for ProGuard. Unfortunately, due to other priorities right now, we don't have immediate plans to add support for DexGuard.

We will continue to evaluate this feature request and I will post here with any updates.

[2019-06-27 14:52] sseyod commented on #436
Hi again @winnieli1208 - is there any further update on this? Thanks, Pete

[2019-06-27 14:54] sseyod commented on #374
Note this is related to https://github.com/microsoft/appcenter/issues/436

[2019-06-27 15:03] #38 closed

[2019-06-27 16:28] skabber commented on #505
This can be closed. The update to the latest version has fixed it.
Thanks

[2019-06-27 16:28] #505 closed

[2019-06-27 16:33] #552 closed

[2019-06-27 16:37] jwargo commented on #537
@jrahma I understand, it should, but if a crashed app puts the SDK into an unstable state, it may be out of our control. That's why I'm asking you to work with our support team to resolve the issue, if possible.

This is not expected behavior for our SDK and we'd like to collect more information before we address the bug and the support team is the best way for us to do that (our engineers work cl

[2019-06-27 16:39] jwargo commented on #506
@adrianknight89 yes, it does make sense - it's possible that your audience doesn't result in any devices. for example, if your audience targets US devices and there are no registered devices from the US, then your audience size would be 0.

[2019-06-27 16:41] jwargo commented on #506
i'm working with our design team to give this UI a bit of love, I'll let you know when I have something to show.

[2019-06-27 16:44] jwargo commented on #489
@bobber205 You're sending the URL, but your app still needs to retrieve the URL from the notification, download the image, and display it somewhere. This isn't something the SDK does for you now.

If you want something more than that, can you please describe exactly how it would work?

[2019-06-27 16:53] bobber205 commented on #489
My ideal use case would to be able to send a push notification like Instagram or Youtube does where the image appears IN the notification.

[2019-06-27 16:53] jwargo commented on #445
@FelipeGatti OK, I understand your need here and I'm trying to figure out what we can do to help you. What you really need is an uninstall event and a cache clearing event on the device you can hook and take care of this yourself (in the app) when the user acts. Unfortunately this isn't possible as I understand it.

The problem for us is that we don't **know** whether the device is actually inacti

[2019-06-27 16:58] jwargo commented on #396
OK, so help me out here - how would you see this working. My concern is that if we let users set priority, they'll set everything to high and we may get kickback from the target PNS. How do we implement this while at the same time keeping it from being abused?

[2019-06-27 17:04] jwargo commented on #275
@rjax871 my apologies for misunderstanding this. Another user notified me that the docs needed updated for UWP app registration were incorrect and as I worked through it, I noticed a related issue, but not this one. When I follow the instructions, my app appears in the list - so it feels like this is an issue with your account or your browser.

what I did notice is that when you then follow the in

[2019-06-27 17:06] jwargo commented on #138
@jacob-israel-turner No update yet, I've added it to our requested feature list and I'm working on prioritizing the list now.

[2019-06-27 18:26] jacob-israel-turner commented on #138
Great - thanks so much @jwargo!

[2019-06-27 18:59] shnaz commented on #396
@jwargo I don't think appcenter should do anything as FCM already handles over-usage or abusing of the high priority notifications.
https://firebase.google.com/docs/cloud-messaging/concept-options#setting-the-priority-of-a-message

[2019-06-27 19:10] ernesto-handy opened #644 "internal_server_error 500"
**What App Center service does this affect?**
Name of service or sdk with the issue.
Handy Sales

**Describe the bug**
A clear and concise description of what the bug is.
I pushed the QA branch and worked fine, then I pushed the master branch and I am getting an internal_server_error, here is the screenshot
![image](https://user-images.githubusercontent.com/46498948/60293552-ac276200-98dc-11e9-9c8

[2019-06-27 19:31] DennisPan commented on #644
@ernesto-handy This could be a transient error. Do you mind trying again? If it persists, I'd suggest reach out to support (via App Center portal) so that we can look into your app's specifics. The support ID there will also be helpful. I'd suggest copy that and provide it to support.

[2019-06-27 19:31] #644 closed

[2019-06-27 20:17] shawnvega commented on #591
I've written into github support about increasing my limit, and they have denied my request. below is the response from github support.

[2019-06-27 20:37] DennisPan commented on #591
Thanks for sharing this @shawnvega . Unfortunately this isn't something we can easily change. Technically this is achievable, but the work on our side isn't trivial. Given other priorities, I'm not sure when we will be able to get to this.

[2019-06-27 20:58] MrAusnadian commented on #123
It seems like NUnit 3 support was removed from App Center (At least via the appcenter-cli) recently, however I cannot find any information on why. Can someone please provide an update on this?

[2019-06-27 21:01] jwhiteDev commented on #123
@MrAusnadian what issues are you seeing with the CLI? It should still work, at least it was working for me last week when I last ran an upload.

[2019-06-27 21:08] King-of-Spades commented on #123
I have successful test uploads using NUnit 3 from within the last 24 hours, @MrAusnadian the exact CLI version & error message you are seeing would help with debugging this issue.

[2019-06-27 21:10] shushilshahukhal commented on #30
Yeah we would like to see this feature coming to AppCenter. It has been a road block for us.

[2019-06-27 21:40] MrAusnadian commented on #123
Sorry for the confusion. I think it may have been a local environment issue. I just attempted to reproduce it and was not able to.

[2019-06-27 22:00] dimazaid commented on #194
Hello 👋 ,

I have some good news to share:
We are picking this work soon, and would like to get your feedback on the spec for the initial experience to support building and distribution AAB to Google Play Store. Here's the link to the spec:
#640
Please consider adding your feedback to the spec so we avoid spamming folks here.

[2019-06-28 02:43] SogoGolf commented on #612
really need this, thanks; eg. refer Firebase.

![image](https://user-images.githubusercontent.com/19580787/60313392-41d8f500-99a2-11e9-833e-d203ea0d697d.png)

[2019-06-28 02:46] SogoGolf commented on #32
We'd love this also (need), thanks

[2019-06-28 02:51] SogoGolf commented on #87
Same, didn't realise till i saw this that AppCenter didn't support silent push on Android, which is a problem for us. Definitely needed, thanks

[2019-06-28 06:44] arek-avanade opened #645 "Changing platform of existing project (e.g. ObjC/Swift -> Xamarin.iOS)"
**Describe the solution you'd like**
I have 2 apps in AppCenter which were originally created as native iOS and Android apps (Swift and Kotlin, respectively). Later we decided to switch to Xamarin.Android and Xamarin.iOS. Unfortunately it's not possible now to change the platform in AppCenter once the app is created.

**Describe alternatives you've considered**
As an alternative, I would need to c

[2019-06-28 07:23] piterwilson commented on #547
It should be straight forward by using the `xccov` command or by allowing the download of the .xccovreport file.

Alternatively, Xcode 11 will provide a result bundle in `xcresult` format that be easily parsed.

[2019-06-28 08:00] rickarddahlffcg opened #646 "Support for testing in Norwegian on iOS devices"
**Describe the solution you'd like**
When doing ui testing on iOS, I'd like to be able to use Norwegian as system language ('nb-NO'). Currently, this language is not among the selectable languages.

[2019-06-28 08:19] faulfish opened #647 "Please support server level badge function and support on cordova project"
**Describe the solution you'd like**
Keep badge number in server side
setBadge()
resetBadge()

**Describe alternatives you've considered**

**Additional context**

[2019-06-28 11:33] chongchungyin commented on #628
I am facing the same issue as above. Knowing that you guys have started looking into this feature, can i know roughly what's the workflow after this feature implemented?
Thanks.

[2019-06-28 11:52] devedse commented on #499
@Oddj0b , thanks :)

[2019-06-28 12:08] jwargo commented on #466
@bennoffsinger good question, it's pretty much feature complete, so not a lot is going to change before we GA except for one thing that we're still sorting out. Do you have time to chat with me about your app and your requirements?  I can help you understand the impact of GA on your app. just send me an email at first dot last at you know what dot com. :-)

[2019-06-28 13:18] sasivishnu commented on #423
Any update on this?

[2019-06-28 13:31] ChrisMGilbert opened #648 "Push Notification Registration tidy up custom timeout"
**Describe the solution you'd like**
It would be beneficial for app developers to be able to set a custom duration after which the Push Notification registration is tidied up within App Center.
Developers know more about their apps and how they are used than App Center and this arbitrary length of time seems unhelpful

As it currently stands, according to App Center Support "We tidy up registratio

[2019-06-28 14:40] schriftgestalt commented on #133
Unfortunately the "Build" dropdown only shows "All" for me.
<img width="318" alt="Screenshot" src="https://user-images.githubusercontent.com/174660/60350175-54175b00-99c3-11e9-873d-a6771e8143f0.png">

It still works fine in Hockeyapp so I would think everything is configured correctly on my end.

[2019-06-28 15:59] jwhiteDev commented on #646
@rickarddahlffcg my understanding is this is actually supported today, though not provided in the default dropdown. Update your CLI upload to be -locale "nb_NO".

What I don't remember is if you need to sideload that localization settings as well, but I think it may work with just the above as it will set the device settings. If it does not work could you email support@appcenter.ms or open a ticke

[2019-06-28 17:54] bennoffsinger commented on #466
I would be happy to chat.

On Fri, Jun 28, 2019 at 6:11 AM John M. Wargo <notifications@github.com>
wrote:

[2019-06-28 18:42] transis2 commented on #133
the "Build" dropdown only shows "All" for me too.

[2019-06-28 20:25] dbnex14 commented on #440
? anyone alive here?

[2019-06-28 21:16] dimazaid commented on #440
Thank you for opening this feature request.

To answer your question, no we don’t currently support distribution to Windows Store.
 Just like any feature requests, we will keep an eye on the votes from customers and prioritize it against our backlog in the future. Thanks again for submitting it.

Sorry for the delay 🙏🏻

[2019-06-28 22:01] rmarinho opened #649 "[Feature] Add filter option for failed tests"
**Describe the solution you'd like**
When i visit a test run i can filter for the failed tests

**Describe alternatives you've considered**
We should have a icon to filter for passed and failed tests, i think when we have more than 1 device there's a filter altered , so use something similar for this screen

**Additional context**
I have 2 failed in almost 600, is impossible to get to the failures

[2019-06-28 23:33] fosterbrereton opened #650 "FOOM (fatal out of memory error) not being recorded"
**What App Center service does this affect?**
HockeyApp - iOS

**Describe the bug**

Given unusual memory allocation conditions, it is possible for our application to terminate unexpectedly. The problem is that on subsequent re-launch of the app, there is no indication that a crash has happened. We suspect this is due to an `EXC_RESOURCE` mach exception is being thrown to the application, but is n

[2019-06-29 01:45] voxoid0 commented on #618
Still seeing this issue today.

[2019-06-30 07:25] janpieterz opened #651 "Push: Support local pushes"
Using React Native, it'd be great to be able to trigger local pushes through the one library instead of having to resort to react-native-push-notification to trigger a local push if it's received while the app is in the foreground. This'd ideally include a notification sound.

**Describe alternatives you've considered**
Alternative would be to use another library to trigger local push notification

[2019-06-30 08:08] yairk commented on #364
Just to give another perspective - our iOS RN builds on AppCenter recently started producing IPAs that would not load on iPhones. This happened without any code change from our side. After a good few hours of poring over build logs, it seemed that the cause was the removal of the `-sdk` option in the `xcodebuild` command line.

It seems that someone changed something unrelated in our project AppCe

[2019-06-30 08:51] yaprigal opened #652 "Support Application Map view when using Application Insights integration"
**Describe the solution you'd like**
When I am exporting the telemetry to Application Insights from my mobile app. If my app is working with Azure back-ends (like: storage, tables, cosmos-db, azure sql)
I would like to have the visibility of all my dependencies using the Application Map feature in the Application Insights.
The current situation is that when I am going into the Application Insights

[2019-06-30 10:25] grevolution commented on #23
any update on this one?

[2019-06-30 16:59] florianbuerger commented on #133
Same issue for me (Safari & Chrome). If I set a build number in the URL it works—only crashes from that build are shown. Seems the issue only affects the UI.

![](https://share.florianbuerger.com/Screen-Recording-2019-06-30-11-56-09.gif)

[2019-06-30 18:19] kayvonkamyar commented on #419
![IMG_3776](https://user-images.githubusercontent.com/43690204/60400461-d5d4c900-9b28-11e9-9768-cbe96d5edf7d.png)
When you click new app, it will look something like this.

[2019-06-30 18:24] kayvonkamyar opened #653 "I made a mobile app!"
I made an app!

[2019-07-01 07:29] Oddj0b commented on #646
@rickarddahlffcg did you get it to work?

[2019-07-01 07:34] Oddj0b commented on #649
Thanks for the feedback @rmarinho, let's hope we can get more reactions.

[2019-07-01 08:09] ghost opened #654 "Build config not saved when clicking outside panel"
**What App Center service does this affect?**
AppCenter build config

**Describe the bug**
When configuring app build if I accidentally click outside the build panel, it close loosing all the settings inserted and I've to refill all the info. if a click outside build panel occours and current config is not saved would be nice to have an alert that say "Would you save settings before exit ?"

**To

[2019-07-01 08:42] rickarddahlffcg commented on #646
Yes, it works 😊 Thanks!

Vänligen,
Rickard

[cid:image002.png@01D43AE6.2A049720]
Rickard Dahl
FOREFRONT CONSULTING GROUP
Ågatan 35 / 582 20 Linköping
+46 702 80 17 69 / www.ffcg.se<http://www.ffcg.se/>

Från: Villars Gimm <notifications@github.com>
Svara till: microsoft/appcenter <reply@reply.github.com>
Datum: måndag 1 juli 2019 09:33
Till: microsoft/appcenter <appcenter@noreply.github.com>
Kopia

[2019-07-01 09:04] #646 closed

[2019-07-01 09:16] Jspoors32 commented on #339
I think this priority needs re-assessed, being able to export only analytics and not errors is quite a big shortfall of app centre. Errors are what most people would want to export out to application insights for querying. Currently, the crashes section of the app centre portal does not provide enough customization or ability to query data in any direct detail to compensate for this. So I think my

[2019-07-01 09:45] djyates opened #655 "Events page in Analytics not loading in Safari"
**What App Center service does this affect?**
Events page in Analytics.

**Describe the bug**
The page does not load in the Safari browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Submit events in your app.
2. Go to Analytics > Events in Safari browser.
3. See progress bar never reaches the end and the page never loads.

**Expected behavior**
That the events page loads on the Safari

[2019-07-01 10:29] qwerqy opened #656 "Getting error during Android & iOS build since App Center Distribute updated to version 3.154.1"
**What App Center service does this affect?**
App Center Distribute v3.154.1

**Describe the bug**
on Android (we seem to have found out the issue in iOS as it shows the erorr message clearly):
[code]

**To Reproduce**

**Expected behavior**
I noticed the past builds that were successful, App Center distribute was at version 3.150.1 .
Once the version bumped to 3.154.1, thats where the builds bega

[2019-07-01 10:37] PrathyushaPeddakadiri opened #657 "failed with return code: 65 react native"
Hi, trying to the build app from appcener but it is showing this error.

CompileC /Users/vsts/Library/Developer/Xcode/DerivedData/BuyBackBazaar-fbiwenairxllrraonosawxtlxjfa/Build/Intermediates.noindex/ArchiveIntermediates/BuyBackBazaar/IntermediateBuildFilesPath/React.build/Release-iphoneos/double-conversion.build/Objects-normal/armv7/strtod.o /Users/vsts/agent/2.153.2/work/1/s/node_modules/react-

[2019-07-01 11:35] lumaxis commented on #650
Referencing [my comment](https://github.com/bitstadium/HockeySDK-iOS/issues/554#issuecomment-507227019) from https://github.com/bitstadium/HockeySDK-iOS/issues/554 here too:

It's not 100% accurate and can include reports from other reasons but it should theoretically provide you with info about how often your app gets killed for using too much memory.

@elamalani I remember we talked about portin

[2019-07-01 12:01] sseyod commented on #419
Hi @kayvonkamyar,

Thanks for that. You're showing the Web-based UI.

I'm referring to an AppCenter equivalent of the native "HockeyApp app" for macOS, which was *great* for uploading builds.

Best, Pete

[2019-07-01 12:12] Bloodyairtimer commented on #380
Yes, would love to have the same screen. Also some actions being available on this screen would be awesome:

- Change priority of build in the queue.
- Cancel a build

[2019-07-01 13:46] tompidom commented on #230
@derpixeldan do you have any update or ETA on this?

[2019-07-01 14:55] divyamakkar26 opened #658 "No error shown why push notification is not sent"
**What App Center service does this affect?**
Name of service or sdk with the issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2019-07-01 15:50] jwargo commented on #658
@divyamakkar26 thanks for this, but can you please provide a detailed description of the issue? We provided the issue template for you to populate with the data we need to understand the problem.

[2019-07-01 16:47] hamswan commented on #655
@djyates Can you send us an email to support@appcenter.ms and also provide details of your Application such as the app secret.

[2019-07-01 17:11] jwargo commented on #548
Removed the `bug` label as the product is working as expected. This is more of a feature request.

[2019-07-01 17:12] jwargo commented on #537
@jrahma did you connect with our support team on this?

[2019-07-01 17:12] #498 closed

[2019-07-01 17:22] FelipeGatti commented on #445
@jwargo, thank you again for taking time to evaluate and consider my feature request.

Oh, I thought you could figure out if an user is reachable or not before even sending the notification.

Actually I haven't thought in anything like your method and It could work well, I will try this way.

[2019-07-01 17:22] #445 closed

[2019-07-01 17:34] qwerqy commented on #656
Hi, i resolved the issue. I built a post-build script based on the comment https://github.com/microsoft/appcenter/issues/75#issuecomment-493184790 . From there, the error still shows, but now it also shows what is wrong. turns out my dev team did not set a destination for the new config.

[2019-07-01 17:34] #656 closed

[2019-07-01 17:58] yoannchaudet commented on #655
Are you using an ad blocker by any chances (in Safari)? This could be related to: https://github.com/microsoft/appcenter/issues/455.

[2019-07-01 18:05] lumaxis commented on #650
Actually, I think this is a duplicate of #103 🙂

[2019-07-01 19:00] jwargo commented on #605
@cansado2930 thank you for the suggestions. On sending across multiple app projects in App Center, we're aware of that one and we're planning on an update that will enable that. No concrete date for that one, but having grouped projects and being able to share resources across them is a highly requested feature.

[2019-07-01 19:01] jwargo commented on #607
@jrahma thanks for the suggestion, yes, we have this in our plans, see my response to #605

[2019-07-01 19:02] jwargo commented on #608
@jrahma how will we know where the device is located? We don't currently have that information today.

[2019-07-01 19:03] jwargo commented on #609
@jrahma thanks for the suggestion.

[2019-07-01 19:03] djyates commented on #655
Yes, and turning it off for AppCenter.ms has fixed the issue.

As there is already an issue open for this, I will close this one.

Thanks for you help - much appreciated.

[2019-07-01 19:03] #655 closed

[2019-07-01 19:03] TJTorola commented on #65
We've managed to work around this by setting up long lived "App Center" branches, like `ac-staging` and `ac-production` that we have configured for their appropriate environments. Then we just force push to those in order to kick off the build process without ever needing to re-configure app center. It's pretty hacky, but it's gotten the job done.

[2019-07-01 19:04] jwargo commented on #610
@jrahma thank you for the suggestion, we don't capture clicks today, but this is something we can consider.

[2019-07-01 19:05] jwargo commented on #611
@jrahma to clarify, you mean add support for sending custom sounds to devices, right?

[2019-07-01 19:08] #612 closed

[2019-07-01 19:08] jwargo commented on #613
@jrahma thanks for the suggestion

[2019-07-01 19:12] DennisPan commented on #656
@qwerqy Are you distributing to distribution groups or store? Likely there is some improvements we can make in the task, at least for better error message.

[2019-07-01 19:55] DennisPan commented on #654
@stefano-corricelli This is the current design. Hence I removed the "bug" label. Following up with design team to see if any additional comments to be added.

[2019-07-01 21:16] #466 closed

[2019-07-01 22:00] hamswan commented on #652
When Analytics data from Appcenter is exported to Application Insights, only the "Usage" section is pertinent for mobile apps.

[2019-07-01 22:01] DennisPan commented on #364
@yairk Thanks for the input! I agree that we could have considered more cases, or at least better communications on this. The change was supposed to be for anyone adopting modern build system only. What you saw (using legacy build in workspace setting but App Center ignored it) sounds like a bug. We are investigating. May reach out to you later if we need more information from you.

[2019-07-01 22:03] #652 closed

[2019-07-01 22:12] Zakeelm opened #659 "Data SDK: Offline List support"
The App Center SDK will support offline persistence for list, meaning that developers can now have complete offline functionality with the List command in the Data SDKs. By adding `readOptions`, developers can customize the  Time-To-Live (TTL) around their list call and the clients will store the list locally on a SQLite cache for offline use. Offline list is the last major API call that required

[2019-07-01 22:17] Zakeelm opened #660 "Data Metrics Explorer"
The Metrics explorer will enable App Center Data users to monitor their data and throughput usage as they use the service. It will give you insight on where your data traffic is, your read/write latency, and throughput used.

We have prototype mockups for this item and will continue to flesh these out for a finalized design in our portal.

![image](https://user-images.githubusercontent.com/3129328

[2019-07-01 22:22] Zakeelm opened #661 "Update Default Offline Persistence from 1 day to infinite in the Data SDK"
Currently, the default Time-To-Live for offline persistence of documents within the App Center Data service is 1 day, we're updating this to be infinite. This is still fully customizable through `readOptions()` and `writeOptions` in the SDK, but the default will now be infinite persistence. By default, you don't have to worry about documents expiring after a day is exceeded (unless you want them t

[2019-07-01 22:56] DennisPan commented on #618
@voxoid0 Do you mind reaching out to support via App Center portal? Then we can look into your specific app. I just tried and log is streaming. So it's likely something unique is happening in your case.

[2019-07-01 23:46] patniko commented on #631
Hi @davidbuckleyni, mind e-mailing me at the address on my Github profile so I can see if we can help you out? Closing this out with the expectation we'll work direct with you.

[2019-07-01 23:46] #631 closed

[2019-07-02 02:02] kayvonkamyar commented on #419
I don’t have a Mac. 🥺 I want web upload.
There is actually a way to upload files But it’s a pain in the ass.

[2019-07-02 02:03] kayvonkamyar commented on #419
Sorry 4 that.

[2019-07-02 08:37] lumaxis commented on #419
@kayvonkamyar Thanks for the screenshot! I think I better understand what you're referring to.
Would you mind improving the title and description of this issue a little so it better reflects and describes in more detail what exactly you are asking for? Thanks!

[2019-07-02 08:41] lumaxis commented on #419
@sseyod Would you mind opening a separate, [new feature request](https://github.com/microsoft/appcenter/issues/new?assignees=&labels=feature+request&template=feature_request.md&title=) for this?
Maybe also include details for what about the upload process through the Mac app you like better than the web UI and if you've already checked out our [CLI tool](https://github.com/Microsoft/appcenter-cli)

[2019-07-02 09:42] ChrisMGilbert commented on #491
**How does your app use notifications?**

1. Alert the user to updates within the app
2. Alert the user that the app installed on another device has altered the state of the data within this device i.e. Global logout on device A has logged out devices B & C

**How do you target notifications?**

1. 100% Device - Due to the fairly minimal push quota limitations, we are having to push exclusively by

[2019-07-02 10:28] vineetchoudhary opened #662 "AppCenter Data Support for macOS"
Is there any planning to bring **[AppCenter Data](https://docs.microsoft.com/en-us/appcenter/data/)** for **macOS**?

[2019-07-02 10:50] jrahma commented on #611
Yes, the sound will be stored locally and the user will choose which sound or the system will decide (depends) then AppCenter will send the message using that sound to the device itself.

[2019-07-02 16:49] PureWeen commented on #649
This is also important because even doing a page search doesn't work to locate down to the failed test

![image](https://user-images.githubusercontent.com/5375137/60530898-06e30400-9cb7-11e9-980c-2d8b02d417c7.png)

[2019-07-02 18:40] Zakeelm commented on #662
While we currently don’t have any plans to share regarding macOS support for Data, it’s something we can definitely look into if enough people are interested. I will leave this thread open for visibility, in case others are interested as well!

[2019-07-02 18:58] Zakeelm commented on #662
I’m very curious about your scenario though. Could you elaborate on how you plan to use data with macOS support and what you would be trying to accomplish?

[2019-07-02 19:22] #522 closed

[2019-07-02 21:53] Gabrielstabile opened #663 "Error: EISDIR: illegal operation on a directory, read"
**What App Center service does this affect?**
Name of service or sdk with the issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2019-07-03 08:01] sseyod opened #664 "Please release a native AppCenter.app equivalent to HockeyApp.app for macOS"
**Describe the solution you'd like**
An AppCenter replacement for the HockeyApp.app native client for macOS

NB I'm sure I've seen this requested more than once; sorry if this request is a duplicate.

**Describe alternatives you've considered**
The CLI interface to AppCenter is a *real* pain to use - look at https://github.com/Microsoft/appcenter-cli, there are no examples on how to do things; the

[2019-07-03 08:02] sseyod commented on #419
Hi @lumaxis - have done, thanks for the suggestion - https://github.com/microsoft/appcenter/issues/664
I hope somebody at Microsoft reads it and sees where I'm coming from!

The CLI tool seems almost entirely lacking in documentation and examples! Am I missing something?

[2019-07-03 08:05] bjodybvi opened #665 "Problems with uitests when running tests in Appcenter #bug"
Hi,

My name is Bjorn Arne Dybvik. I work in a company called Skog-Data as an developer.

I have created an app which I want to test in Appcenter. The app runs on both IOS and Android but for now I only wants to test it on Android devices.
In my project I have created an UITest-project which runs some simple tests on the UI and I use the following command to run the tests:

"appcenter test run uit

[2019-07-03 08:37] faulfish opened #666 "Support custom notification type show in status bar when app in then foreground"
**Describe the solution you'd like**
Support custom notification type show in status bar when app in then foreground

**Describe alternatives you've considered**
Need different mode for UX

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-07-03 08:54] derpixeldan commented on #464
Yes, everything on the roadmap will be available before the shutdown.

[2019-07-03 10:46] pfandrade opened #667 "Support BitBucket issue tracker"
**Describe the solution you'd like**
We’re migrating from HockeyApp which supports BitBucket as an issue tracker.

Appcenter doesn’t support BitBucket for issue tracking but all of our code and issues are on BitBucket. This is really important for a smooth migration.

To make matters worse, the current HockeyApp integration with BitBucket is failing due to API changes…

**Describe alternatives you

[2019-07-03 12:47] philjoseph commented on #83
I am about to select a CI / CD for a new react-native app and this lacking feature of fastlane build is one of my major criteria. Any decisions from the AppCenter team ?

[2019-07-03 13:15] InquisitorJax opened #668 "More Details OS distribution analytics"
#### Feature
It's great to know what your most popular OS distribution is, but one of the key decision points for app distribution is also what is the minimum OS to support - which requires analytics on what is the percentage of least popular OS.
For example, for iOS, if my analytics are showing that only 2% of my users are on iOS 8 and below, then I can consider making the minimum supported OS 9+

[2019-07-03 14:22] jwargo commented on #651
@janpieterz what do you mean by `local pushes`?

[2019-07-03 14:26] jwargo commented on #635
@hhasenauer have you worked with our support team on this to validate that it's actually a bug? I'm checking to see what this error means.

[2019-07-03 14:27] jwargo commented on #614
@jrahma can you please describe in more detail the feature you're looking for? I'm assuming action buttons in the SDK (client-side), but how do you expect them to work?

[2019-07-03 14:35] janpieterz commented on #651
On iOS it's this API for example:

https://developer.apple.com/documentation/usernotifications/scheduling_a_notification_locally_from_your_app

This would allow scheduling as well as triggering a native notification while the app is in foreground (getting native, default sound set by user etc).

[2019-07-03 15:00] jwargo commented on #635
@hhasenauer I checked with engineering and this error could be a number of issues including invalid app initialization, please reach out to our support team and they'll help you through it. If it turns out it is a bug, we'll track it and manage it on the backend.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in t

[2019-07-03 15:30] guschilds commented on #656
We've started getting these errors within the last 2 days on all iOS builds. The first failure on a branch will involve a 404 and all subsequent errors are 403s. Both are pasted below.

[code]

[code]

This is happening on 3 different branches and all Android builds still work. The iOS builds do not share code in a way that would have caused all of these to start failing at the same time. It also

[2019-07-03 15:49] cog-64 opened #669 "iOS version available email not displaying as html"
**What App Center service does this affect?**
Name of service or sdk with the issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2019-07-03 15:53] cog-64 commented on #669
iOS new version notification emails do not display as html.  Android new version emails do display in html (as expected).  This happens in outlook mail web client and gmail.  Other html email do display as expected.

Example email rendering (from gmail):

38) of VoteRecall for iOS Available
Date: Wed, 3 Jul 2019 14:52:54 +0000
List-Unsubscribe:
        <mailto:unsub-fb5425a7.y84x.0l0zz5j723105@bnc

[2019-07-03 16:03] cog-64 commented on #669
I'm assuming it relates to all of these **=20** lines.

[2019-07-03 16:35] MrAusnadian opened #670 "Allow Automatic Rerun of Failed Tests"
**Describe the solution you'd like**
I'd like to see Xamarin.UITest and App Center add support for the Retry attribute of NUnit so that failed tests are automatically retried a specified number of times or some other implementation for automatically retrying failed tests.

**Describe alternatives you've considered**
We've tried adding various levels of error handling into some of our tests, howeve

[2019-07-03 16:57] DennisPan commented on #656
@guschilds Most likely the user who originally setups the build lost access to the app. Do you mind reach back to customer support and ask to have the ticket transfer to me? I can help work with support to take a deeper look

[2019-07-03 17:09] qwerqy commented on #656
apologies for the late reply. we distribute to store.

[2019-07-03 17:34] DennisPan commented on #656
@qwerqy hmm... that's odd. I double-checked configuring a build with distribution or use the Azure DevOps task directly in an Azure DevOps account. Both require selecting a destination.

[2019-07-03 17:46] qwerqy commented on #656
Are you saying an error will show saying that the user has selected the option to use Store but did not specify destination right after clicking Save/Save & Build? i do not recall facing that warning.

[2019-07-03 18:02] DennisPan commented on #656
@qwerqy You shouldn't be able to save the build configuration without specifying a destination. Could you try to reproduce that (save without having a destination)?

[2019-07-03 18:13] yoannchaudet commented on #668
You can actually get that information via our [REST API](https://openapi.appcenter.ms/#/analytics/Analytics_OperatingSystemCounts).

Our portal only display the top 4 OS but our API does not have this limitation.

[2019-07-03 21:06] jkocherhans commented on #514
Not sure if this will make things easier or even possible, but it looks like there are some new options in altool 4.0 with Xcode 11b3.
https://mjtsai.com/blog/2019/07/03/altool-4-0/

[2019-07-03 21:09] jrahma commented on #614
This is what I mean John:

[https://documentation.onesignal.com/docs/action-buttons](https://documentation.onesignal.com/docs/action-buttons)

[2019-07-03 21:28] sklmnv opened #671 "Github status check: trigger build during pull request from fork repository"
**Describe the solution you'd like**
AppCenter does not support building pull requests from forked repositories back to the origin repository. The actual implementation: status check can be executed for branches within origin repository only.

**Describe alternatives you've considered**
It would be great if pull requests from fork repositories trigger build in the scope of the status check.

[2019-07-03 21:41] DennisPan commented on #671
@sergey-kl Thanks for the suggestion! You are right that we have this limitation. Will keep this open to track interest in this feature.

[2019-07-04 06:14] ThejovathiS commented on #402
If we can download Test results and screenshots, we can create our own PDF too

[2019-07-04 07:57] rhinoid commented on #230
Am I right that this is a blocker for anyone wanting to migrate?  If so, it might be worth it actually highlighting this somewhere on am more visible page. I'm just bumping into this accidentally because I was browsing through the roadmap.

Also makes me wonder if there are more blockers which we have to wait for before we can actually move

[2019-07-04 09:53] AllSparkGit opened #672 "Failed to configure the Azure DevOps Webhook for the repository."
**What App Center service does this affect?**
AppCenter portal Particulr App
**Describe the bug**
When tried to connect to Azure Devops via Build I get following issue

Failed to configure the Azure DevOps Webhook for the repository.
Error details: Access Denied: {USERNAME} needs the following permission(s) on the resource PublisherSecurity/8cfdf82f-11ff-4820-89fb-e4f26eeef4b0 to perform this acti

[2019-07-04 14:41] petercustance opened #673 "UWP Data support"
**UWP support for Data as per iOS/Android**
We are currently starting to use the Data preview. Our applications often have a UWP Windows version so Ideally we would like support for this in Data.

[2019-07-04 14:57] chrkaatz opened #674 "Support Azure Germany AD Federation"
**Describe the solution you'd like**
We are hosting our AD through the german Telekom Cloud and use that to authorize apps with AD Federation. Until 3 months ago, everything worked fine but not anymore. Whenever we invite a new user with his enterprise credentials we get an error message. I would love to have the AD Federation working properly again.

**Describe alternatives you've considered**
We

[2019-07-04 15:24] adrianknight89 opened #675 "[Push] Show notifications permission dialog a second time"
**Describe the solution you'd like**
I'm using Xamarin Forms to send and receive push notifications. When the app is installed for the first time, executing `AppCenter.Start(typeof(Push));` is asking for push notifications permission.

- My question is, what happens if the user decides not to allow this permission but `AppCenter` called the `Start()` method already? Do you internally stop this ser

[2019-07-04 15:38] #675 closed

[2019-07-04 17:12] twittemb opened #676 "Cannot connect to AppStore Connect"
**What App Center service does this affect?**
AppCenter website

**Describe the bug**
I want to connect an application to AppStore Connect to release it.
I've added the developer account in the settings of AppCenter
I've configured a app-specific password both in AppleID side and AppCenter side
When I want to connect AppCenter to AppStore I have an error message after selecting my developer accoun

[2019-07-04 18:38] twittemb commented on #676
seems to be working now.

I close the issue.

[2019-07-04 18:38] #676 closed

[2019-07-04 20:20] lumaxis commented on #675
@adrianknight89 Did you already figure out answers to your questions? Let us know if there's still anything we can do!

[2019-07-04 20:28] adrianknight89 commented on #675
Yeah. I've found out iOS does not allow the same prompt to be shown again, so looks like there is nothing the SDK can do. Thanks!

[2019-07-04 20:50] jrahma opened #677 "Portal Switch Account"
Hi,

In your portal, please provide an option to switch account instead of logout and login everytime

Thanks,
Jassim

[2019-07-05 08:26] bo3po opened #678 "Push in iOS sandbox production management"
**Describe the solution you'd like**
In iOS - I would like to be able to use sandbox and production push certificates on one application. Not having to create two. One for production and one for push only. I think that the same would apply for Android. Having a push channel for production and sandbox. I imagine that we could have multible push accounts connected to a single app. And then when we w

[2019-07-05 08:57] ElteHupkes commented on #30
I hate to be another "me too" guy - but yeah clearly App Center build is useless in this form for apps with a share extension.

By the way, can the OP (@lassana) or anyone else rename this issue so the title says "extension" rather than "entension"? It'll make it easier to find (and upvote ;)) for other people.

[2019-07-05 10:54] ayngling commented on #87
I'll echo the last poster. This is really needed.

[2019-07-05 11:00] tharindup commented on #87
**This is a must needed feature** since GCM is also deprecated. Cannot handle background notifications with the FirebaseMessagingService.

[2019-07-05 14:41] jwargo commented on #651
@janpieterz OK, but from that example, that's just code your app executes to submit a scheduled or local notification. It's on-device, doesn't use an external service or even make a call to APNS to do it as far as I can tell.

[2019-07-05 14:45] jwargo commented on #614
@jrahma pointing me to our partner's documentation doesn't help me understand your specific needs.  Our goal is not to duplicate features of other products in the market, we're interested in them, but what we build our features on is our customer's requirements for the feature.

[2019-07-05 14:46] jwargo commented on #611
@jrahma thank you for the suggestion.

[2019-07-05 14:48] jwargo commented on #582
@frags51 engineering is pushing through a docs update now that shows how to manually link the SDK. This is at the SDK level right now, but I'll see if I can get it updated for Push as well.

[2019-07-05 15:12] jrahma commented on #614
@jwargo Please see Android documentation

[https://developer.android.com/training/notify-user/build-notification](https://developer.android.com/training/notify-user/build-notification)

and iOS:

[https://developer.apple.com/documentation/usernotifications/declaring_your_actionable_notification_types](https://developer.apple.com/documentation/usernotifications/declaring_your_actionable_notificatio

[2019-07-05 19:16] allanjsx opened #679 "Supporting cohort view in Analytics page"
**Describe the solution you'd like**
Cohort (https://en.wikipedia.org/wiki/Cohort_analysis) is an essential data analysis to help developers understand their users retention rate. Cohort view has been supported on other analytic platforms such as Google Analytics, Facebook Analytics, and Mixpanel. I hope App Center can add a cohort view to the Analytics tab.

For example, Cohort view can help deve

[2019-07-05 19:27] DimaOrdenov commented on #479
@Oddj0b Hello, any updates on this?

[2019-07-05 20:24] frags51 commented on #582
Good work! Wish you will do that. I feel it will enable higher adoption of AppCenter!

[2019-07-05 21:01] meyerjg commented on #21
Same request here.

[2019-07-05 21:02] hamswan commented on #679
Thanks @allanjsx for reaching out to us, I will add this to our Feature request.

[2019-07-05 22:30] swathisuvarna1 commented on #310
my team is looking to export all appcenter logs specific to some of our apps into Azure ELK or Azure EventHubs. My team doesn't want to use the export to Blob or App Insights option. What is the easiest way to get some of the logs like login and some other event specific data logs into Azure EventHubs or Kibana?

[2019-07-05 22:31] swathisuvarna1 commented on #310
We'd like to track the number of logins on the app and the device details as part of logging. Does this help as a use case?

[2019-07-05 22:33] swathisuvarna1 commented on #452
What happens if App Center goes down? how will I know? What impact does it have on my apps and how soon can App center be back up and running?

[2019-07-05 22:34] swathisuvarna1 commented on #452
We are doing high availability and DR readiness testing as we are getting closer to release of our mobile applications via App center.

[2019-07-06 09:41] fareast555 opened #680 "Issue installing appCenter via cocoa pods. Install fails with error."
**What App Center service does this affect?**
AppCenter CocoaPod install on Mac for iOS (Formerly Hockey App)
Podfile contents below

**Describe the bug**
Unable to install or update via Cocoapods. Doing so gives the following error in git

Installing AppCenter (2.1.0)

[!] Error installing AppCenter
[!] /usr/bin/curl -f -L -o /var/folders/m2/vxzmsqqx5nx05f3qw6hk_nwr0000gn/T/d20190706-62574-1hdvm6

[2019-07-06 17:38] devStarscream opened #681 "[AppCenter Data] Read documents with custom PartitionKey"
**Describe the solution you'd like**
User `AppCenter.Data` for accessing documents where "PartitionKey" value is different either from "user" or "readonly".
Since `Data.ReadAsync<T>(string id, string partition)` takes a `string` value for the partition, it means that I could provide my custom values.

**Describe alternatives you've considered**
Current alternative is to access CosmosDB directly, a

[2019-07-07 02:16] grahammcculloch commented on #194
@dimazaid I read the spec - can you just confirm that _React Native_ projects will be supported as well? i.e. I will be able to build an Android App Bundle for my React Native Android project?

[2019-07-07 09:34] shpakovski opened #682 "Mac app uploaded as a ZIP via “appcenter distribute release” misses an icon"
**What App Center service does this affect?**

App Center Release Distribution, probably.

**Describe the bug**

When you upload a Mac app binary as an `app.zip` using a command line tool `appcenter distribute release`, both the distribution page and the notification email lack an icon from the bundle.

**To Reproduce**

Steps to reproduce the behavior:
1. Build a Mac app locally and make a ZIP ar

[2019-07-07 19:21] upintheairsheep opened #683 "Timeline"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Add timeline just like Hockeyapp.
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.
None
**Additional context**
Add any other context or screenshots about the feature request here.

[2019-07-08 02:55] mzhukovs commented on #574
Just checking in - any thoughts, at least initially? @Oddj0b    please let me know when you get a chance, thanks!

[2019-07-08 04:47] DennisPan commented on #672
@AllSparkGit As suggested by the error message, you need permission to edit webhooks in your Azure DevOps project to be able to connect them with App Center. Could you have someone who has project admin or project collection admin permission to try? I'm closing this for now. If you need further assistance, I'd suggest reach out to support via App Center portal

[2019-07-08 04:47] #672 closed

[2019-07-08 09:07] MikePodgorniy opened #684 "[ios] Can't release app – Publishing operation timed out"
**What App Center service does this affect?**
react-native, ios

**Describe the bug**
_Publishing to TestFlight failed:_
Publishing operation timed out. You can verify the actual publishing status from the official store portal or try again later. Support Id: 0f1b40e3-e983-44a6-840b-XXXXXXX

All Appcenter and itunesconnect statuses are green.

**Question**
How to check detailed information by _Sup

[2019-07-08 11:07] JanabiSoft commented on #673
I agree with you, please app center team you are a Microsoft team and Microsoft frameworks should be first class.

[2019-07-08 13:55] jwargo commented on #611
@jrahma custom sounds are supported today, see these sections of the docs: https://docs.microsoft.com/en-us/appcenter/sdk/push/android#custom-data-in-your-notifications and https://docs.microsoft.com/en-us/appcenter/sdk/push/ios#custom-data-in-your-notifications. What is it you're trying to do that you can't do using the built-in features?

[2019-07-08 14:31] 0xced commented on #80
For reference, here's how I replaced my `puck` command with `appcenter` commands
[code]

[2019-07-08 16:49] #658 closed

[2019-07-08 17:19] janpieterz commented on #651
@jwargo Correct, yeah, I don't think it requires any network.

[2019-07-08 17:51] winnieli1208 commented on #133
Apologies for the delay. We have two known limitations on our end:

1. The Build dropdown is only populated if the analytics SDK module is integrated
2. The Build dropdown is only populated with build numbers that have new crashes since we launched this feature

I'm working to get these issues prioritized and fixed. Thanks for everyone's patience!

[2019-07-08 18:00] winnieli1208 commented on #436
Apologies for the delay. I've reached out to the Partner Center team to learn more. I'll post updates as soon as I have them. Thanks!

[2019-07-08 18:08] sseyod commented on #436
Thanks! There is at least one third party company that offers crash reporting for C++ apps for Windows, so it can certainly be done technically. Clearly, it'd make sense if I can do this through App Center, just like I can do for my iOS, macOS and Android/NDK apps! Pete

[2019-07-08 18:18] Zakeelm commented on #681
The way our current architecture is set up, collections must use the value `PartitionKey`, which in turn means we don't support custom PartitionKey values. The current reason we do this is because it enables us to differentiate between private and public documents. The String `PartitionKey` parameter should either be `DefaultPartitions.UserDocuments` or `DefaultPartitions.AppDocuments`.

This is s

[2019-07-08 20:18] brodymerritt commented on #200
Can this feature also include disabling/enabling multiple releases?
Integrating an API is always easy, but it'd be nice for our team analysts (not just devs) to have the ability to Delete, Disable, or Enable more than 1 release at a time.

When we setup a CI/CD "DevOps" build cycle, we get automatic builds at high volumes. so manually having to come groom each AppCenter release, especially by Plat

[2019-07-08 20:33] jrahma commented on #611
@jwargo This is the [problem](https://docs.microsoft.com/en-us/appcenter/sdk/push/android#reserved-keywords-in-android-platform):

when all other platforms provide this feature for all android versions then I believe for Microsoft it should piece of cake

[2019-07-08 20:39] devStarscream commented on #681
Thank you for your answer @Zakeelm.

I don't know which are you architecural desing criteria, but in my case I would like to _partition_ my data based on the `user-id` without being worried about restrictions: public vs private.

According to [the documentation](https://docs.microsoft.com/en-us/appcenter/data/#how-it-works))

and to [this other documentation ](https://docs.microsoft.com/en-us/appc

[2019-07-08 21:47] jrahma commented on #537
This problem seems to be resolved now. Thank you so much

[2019-07-08 23:54] jrahma opened #685 "Provide option to Resend Push Notification"
Hi,

When opening sent Push notification message in the portal, please provide an option to resend selected message instead of typing the same message again..

Thanks,
Jassim

[2019-07-09 00:32] jrahma opened #686 "AppCenter fails to handle custom data"
Hi,

I am getting this error when sending Push Notification with custom data:

My AndroidManifest.xml looks like this:

[code]

and my PushNotificationReceived:

[code]

[2019-07-09 01:52] #601 closed

[2019-07-09 08:47] Oddj0b commented on #194
We are looking for volunteers to test uploading android app bundles to Google play store. We are looking for feedback on the implementation, and it will require you to upload a `.aab` file to Google Play to test it out.
[Send me a mail so that I can enable it for you.](mailto:vigimm@microsoft.com?subject=Test%20android%20app%20bundles)
_Include your login e-mail when you apply for beta testing._

[2019-07-09 08:47] GusevAndrey opened #687 "Add diagnostics (crashes) support for iOS extensions"
**Describe the solution you'd like**
The key feature of our app is a VPN extension.

We need a way to collect descriptive diagnostics for the extension as for the main app including crash reports, app logs, attachments, user ID e.t.c. And have it available in the same app item as the main app in AppCenter console.

Now we are using HockeyApp SDK which is supports this feature and it is great.
But

[2019-07-09 08:51] #629 closed

[2019-07-09 08:56] shpakovski opened #688 "Push item in the sidebar is useless for Mac apps"
**What App Center service does this affect?**

Portal.

**Describe the bug**

Sidebar items Build and Push are useless in my case, it would be nice to remove them from the sidebar in App Settings.

**To Reproduce**

1. Go to the App Center
2. Click on the Mac App
3. Check the sidebar
4. Items Build and Push are placeholders

**Expected behavior**

I’d like to disable Build and Push unless I’m usin

[2019-07-09 09:03] GusevAndrey opened #689 "Separate release and debug diagnostics"
**Describe the solution you'd like**
In HockeyApp was a very useful feature which allows to separate uploaded debug builds being internally tested and diagnostics (crash reports and e.t.c) collected from them from data, collected with real production users and released builds.

AppCenter SDK, according to [the docs](https://docs.microsoft.com/en-us/appcenter/transition/ios-sdk-migration?tabs=objc)

[2019-07-09 09:51] myokeeh commented on #673
Yes, please have Windows/UWP features available quickly--not an afterthought.

[2019-07-09 11:03] mifi opened #690 "Distribute to App Store or TestFlight build no longer appearing"
**What App Center service does this affect?**
Buildserver

**Describe the bug**
I had my react native app (iOS) always build on commits on a release-branch, and then I could go to the last built job and press "Distribute->Store->Production (App Store) or TestFlight" and it would automatically appear in TestFlight or under available build when drafting a new release in AppStoreConnect. However sinc

[2019-07-09 12:22] nativenolde opened #691 "Support hosted builds that leverages Android 9.0 (API level 28)"
I run an Xamarin Forms App that is available on iOS and Android.
Currently it leverages Android 8.1 (API level 27), which works fine.

Since Google has introduced the following requirement for publishing apps, I need to upgrade to Android 9.0 (API level 28):

Your support staff told me that it's currently not supported, to run such a hosted build on AppCenter.

Please support hosted builds that le

[2019-07-09 14:28] curia-damiano opened #692 "Xamarin.UITest 3 searches for local APK in Visual Studio folder, when targeting NUnit 3"
**What App Center service does this affect?**
Xamarin.UITest

**Describe the bug**
When running UI Tests **that target NUnit 3**, the APK is searched from the Visual Studio folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Xamarin.Android app
2. Add a new Xamarin.UITest project
3. Reference NUnit 3
4. With relative path, the APK is searched inside the Visual Studio folder

[2019-07-09 15:30] dimazaid commented on #194
Yes, that will work.

[2019-07-09 17:33] TheChrisGlass commented on #194
Does this mean only uploading to Google Play and not App Center itself?

[2019-07-09 17:44] mifi commented on #690
I have found the cause of the issue. When trying to upload the generated IPA with Application Loader I'm getting "Invalid App Store Icon, can't be transparent nor contain an alpha channel" error from Apple. Turns out I had RGBA PNGs. After resolving this it works also in AppCenter.

It would however be **extremely helpful if appcenter reported this error instead of just showing that the Build was

[2019-07-09 21:35] elamalani commented on #688
@shpakovski App Center Push service works for [macOS ](https://docs.microsoft.com/en-us/appcenter/sdk/push/macos) apps. We show services in the left navigation only if they are available for use in App Center. Both [Build ](https://docs.microsoft.com/en-us/appcenter/build/macos/) and [Push ](https://docs.microsoft.com/en-us/appcenter/sdk/push/macos) can be used for macOS apps.

[2019-07-09 21:52] mseyma commented on #161
@philihp good news! I managed to find some work this week and made the change for environment variables from `USER-DEFINED_XXXX` to `USER_DEFINED_XXXX`. Just to reiterate over what Dennis said, this isn't something we're officially supporting and hopefully unblocks your scenario in the meantime while we explore a better approach for environment variables.

You'll need to re-save your branch config

[2019-07-09 22:01] philihp commented on #161
![cheers to you, good sir!](https://media.giphy.com/media/MFaOihoRQjFzH8ZnuC/giphy.gif)

[2019-07-09 22:03] dimazaid commented on #194
Correct. Initially we will only include uploading to Google Play.

[2019-07-10 01:58] kuyazee commented on #297
Another option to just upload the `ipa` file would be nice. This could be beneficial for internal Testflight usage.

[2019-07-10 04:10] ao-rix commented on #185
Is there any update on this?

[2019-07-10 07:36] jrahma opened #694 "Foreground Notification"
Hi,

Currently the app does not receive push notifications  because AppCenter does not support as per the support team.

It will be great if you include this so message will be shown as popup on the app

Thanks,
Jassim

[2019-07-10 08:07] shpakovski commented on #688
@elamalani Thanks for the reply, indeed I missed this, thanks! What about hiding these items from the sidebar anyway, as an option in the App Settings?

[2019-07-10 09:30] dexter31 opened #695 "App distribution security"
App distribution security

The concept of Managing Distribution Groups is nullified based on the final download link published in install.appcenter.ms - which is a static one where no authorization checks are performed.

The expectation is, if I add a group of users who are authorized to access a specific app - at ALL given user interactions, the authorization must be checked. But the final downlo

[2019-07-10 10:18] fernandotcl commented on #517
Thanks for the getting back to me, @nrajpurkar. Is there any chance we could get an estimate of when Xcode 11 will be available? I see it's on the plan for July, but it was also in the plan for June and got bumped.

I'm sure you guys are aware of how time-sensitive this is, but just to reiterate: now is exactly when we need CI as a lot of code changes are happening. Having access to the betas late

[2019-07-10 10:24] jrahma opened #696 "AppCenter mobile app"
Hi,

It will be great if you provide a mobile app edition for AppCenter, at least for the Analytics and Crashes so it will be easier to monitor on the move..

Thanks,
Jassim

[2019-07-10 11:39] Oddj0b commented on #690
Hi @mifi, thanks for reporting the error. I will work with the team to implement the error message, instead of returning a success.

[2019-07-10 11:41] devedse commented on #499
@Oddj0b, is there an update on this already? It's somewhat frustrating that there doesn't seem to be a way to get any support on Microsoft tooling like AppCenter directly.

Is there a way to get some visibility on this?

[2019-07-10 13:28] derpixeldan commented on #695
@dexter31 thanks for reporting this. We are aware of the behaviour. App Center is currently still using HockeyApp for distribution, however, we're almost done with an App Center independent solution that has superior security mechanisms.

With regards to what you describe above, I agree that knowing the app id gives access to the releases, however, the id itself is not guessable. We're working on

[2019-07-10 15:01] hamswan commented on #696
Thanks @jrahma for requesting this. I have added this in our feature request backlog.

[2019-07-10 15:23] nrajpurkar commented on #517
Apologies on the delay @fernandotcl. We ran into issues and were seeing several failing builds on the first beta. We weren't happy with shipping a broken experience with the first beta. We've been working through the issues and believe they're almost all resolved at this point. Pending no issues with some final pieces, Xcode 11 beta support should come shortly!

[2019-07-10 15:38] Jamminroot commented on #680
Hey, @fareast555, sorry for late response and thanks for getting in touch!

As far as I can see, it looks more like a problem either in **curl** \ **LibreSSL** util or proxy\firewall behind your connecition - curl either can't reach repo or verify secure connection.

Also, I've tried to reproduce your problem - just to be sure - and could not reproduce with given versions of applications\IDEs (OS

[2019-07-10 16:03] #635 closed

[2019-07-10 16:04] lhrolim commented on #278
+1

[2019-07-10 16:19] nrajpurkar commented on #517
@fernandotcl and by shortly, I mean it is available now! Happy building 😄

[2019-07-10 16:19] #517 closed

[2019-07-10 16:57] elamalani commented on #688
@shpakovski That would be a new feature request in App Center. I'll close this issue for now but please feel free to open a new issue for this feature request.

[2019-07-10 16:57] #688 closed

[2019-07-10 17:03] DennisPan commented on #23
There is API support for building off a specific commit: https://openapi.appcenter.ms/#/build/builds_create

Would that work as a workaround?

[2019-07-10 19:03] fareast555 commented on #680
Hi @Jamminroot  Thanks for the reply. Yeah, I guess it was some mystery issue, because I just tried to install it now, and there were no issues.

It may be due to before I was using pod update...this time I did a pod update, committed everything in the staging area, then added AppCenter to the pod file and did a pod install. It worked.

Not sure why it suddenly is working though. I tried it over t

[2019-07-10 19:03] #680 closed

[2019-07-10 19:24] botatoes commented on #369
Hi @ryanthomas73

We're doing a revamp of the installing experience which will address this. Please stay tuned in the mean time. Thanks!

[2019-07-10 20:20] dinobu commented on #459
I am unable to open that link

[2019-07-10 20:38] dinobu opened #697 "App Center Support for Xamarin Forms UWP - AppCenter.Crashes Not Working"
Even though I have added Analytics and Crashes nuggets in my .NETStandard project and all 3 head projects (Android, iOS, UWP) and then in App.xaml.cs OnStart() of my .NETStandard project, added below as you suggested by replacing my app secret appropriately:

AppCenter.Start("ios={Your App Secret};android={Your App Secret};uwp={Your App Secret}", typeof(Analytics), typeof(Crashes));

The Crashes a

[2019-07-10 20:43] elamalani commented on #697
@dinobu There are certain limitations for UWP crashes. Please make sure that the following [criteria](https://docs.microsoft.com/en-us/appcenter/sdk/crashes/uwp) is met for UWP crashes to be reported in App Center portal.

[2019-07-10 21:22] Zakeelm commented on #681
From our perspective, we believed 10GB per partition was sizable for the average documents. Our recommendation when dealing with potential huge documents is putting the large payload in blob storage and specifying a link to it within the Cosmos DB document.

We also plan on implementing shared documents, which will likely belong in a shared partition. I think this may give you the desired DoF you

[2019-07-10 21:26] dinobu commented on #697
I am aware of that document, it is also confusing as per ticket I created there.  Thanks

[2019-07-11 09:30] derpixeldan commented on #695
@dexter31 the fix was deployed and to download a version it requires the correct token now.

[2019-07-11 09:30] #695 closed

[2019-07-11 10:42] Jamminroot commented on #680
You are welcome!
Feel free to contact us if you need asisstance with SDK

[2019-07-11 11:01] NunoBem commented on #491
**How does your app use notifications?**

1. Alert the user of an incoming/outgoing request

**How do you target notifications?**

1. Specific devices (100% of pushes). We have 2 situations. We have some users that access an backoffice. They are register in our own database, but has we're using Auth too, we're going to start testing to push to 'user'. Regular users we don't have a login, so it wil

[2019-07-11 12:31] NunoBem opened #698 "D8/R8 Support"
**Describe the solution you'd like**
After migrating our app from DX/Proguard to D8/R8, the app had several problems. Contacting AppCenter chat, I was informed that it isn't supported and to open a new feature request.

R8 became the default code shrinker for Android and should be supported.

**Describe alternatives you've considered**
Building the apk on our Visual Studio, results in a working ap

[2019-07-11 12:45] Oddj0b commented on #692
Hi @curia-damiano, thanks for reporting the bug I have created a bug, and I will work with the team to prioritize it.

[2019-07-11 13:55] annakocheshkova commented on #697
Hi @dinobu, we addressed your issue in another thread.

[2019-07-11 15:01] sc104699 opened #699 "unable to start appcenter from command prompt"
steps to reproduce 👍
1. cmd prompt > enter command "appcenter login"
2. enter the token >press enter.
3. see the error " self signed certificate in certificate chain".

error 👍
**Opening your browser...
? Visit https://appcenter.ms/cli-login?hostname=9XZJQV2 and enter the code:
? Access code from browser:  bb414b762a83c71ac532e049f8e18b00dd094e28
**Error: self signed certificate in certificate cha

[2019-07-11 15:23] curia-damiano commented on #692
Hi Villars, if you need I have a repro project for you to test

[2019-07-11 17:39] scastria commented on #99
But even without the multiple apk's per ABI, what about universal apk's?  When I build on my desktop, my apk is universal as it contains multiple lib/XXX for each ABI.  However, the build that App Center produces, only contains 32-bit.  How do I get App Center to generate a universal apk like my desktop?

[2019-07-11 17:50] scastria commented on #99
I may have found the problem.  My csproj file does NOT EXPLICITLY list the AndroidSupportedAbis.  VS for Mac was showing 64 bit checked so maybe I am suffering from a problem with defaults.  With no AndroidSupportedAbis listed, VS for mac defaults 64-bit as ON, but maybe App Center defaults it to OFF.  I will explicitly add AndroidSupportedAbis in my csproj and see what happens with App Center.

[2019-07-11 18:01] scastria commented on #99
Yes, that worked.  Sorry to bother everybody, but maybe my experience will help someone else.

[2019-07-11 20:55] DennisPan commented on #99
Trying to understand this more. If we add support to build AAB for Xamarin.Android, is this still a critical issue to resolve?

[2019-07-11 21:04] softlion commented on #99
If you manage to support AAB, it won't be necessary anymore.

[2019-07-11 21:15] brodymerritt commented on #99
The primary issue to resolve here is AppCenter releases for both testing and the Google play store. If you manually upload any APK to the Google play store, it automatically shrinks the file size (even if it's over 100mb). To automate releases to the store,  we need the files to be less than 100mb - apps with many features using xamarin, this isnt likely. For AppCenter, itd be nice to build both t

[2019-07-11 21:19] DennisPan commented on #99
The spec and updates for the AAB work is shared in #194 . The gist is that we are working on building AAB and distribute to Store. Would love to learn additional thoughts if those aren't enough.

[2019-07-12 02:39] surez0812 commented on #32
It's a very important function for our products before moving to App Center! Hope it could be planned early!

[2019-07-12 05:55] v2Nitesh opened #700 "master is waiting to be built : No progress"
**What App Center service does this affect?**
Name of service or sdk with the issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots
<img width="1675

[2019-07-12 05:58] DennisPan commented on #700
@v2Nitesh We are currently aware of issue with very first build of an app. If you cancel the build, then all future builds will work.

[2019-07-12 06:22] v2Nitesh commented on #700
@DennisPan - I was not aware of this - So as per above comment we have to cancel every first build and when we push next build it will automatically build and distribute the application?

[2019-07-12 06:28] DennisPan commented on #700
Sorry about the inconvenience. For each new App Center app, the very first build may run into it. The next build (and builds afterwards) should work as expected.

We are working on the fix.

[2019-07-12 09:10] v2Nitesh commented on #700
Hi Dennis,

Yes it’s working fine for Test (Native-iOS App) application but after integration with actual app it’s giving me error while building the code.

Actual application is Flutter based application.

Error details:

PhaseScriptExecution Run\ Script /Users/vsts/Library/Developer/Xcode/DerivedData/Runner-emuvnsfaoizvsegonkoohmlhzhko/Build/Intermediates.noindex/ArchiveIntermediates/qa/Intermed

[2019-07-12 09:22] v2Nitesh opened #701 "Issue while building the Flutter application iOS Version."
**Describe the bug**
While building the Flutter application we are facing below issues :

PhaseScriptExecution Run\ Script /Users/vsts/Library/Developer/Xcode/DerivedData/Runner-emuvnsfaoizvsegonkoohmlhzhko/Build/Intermediates.noindex/ArchiveIntermediates/qa/IntermediateBuildFilesPath/Runner.build/Release-qa-iphoneos/Runner.build/Script-9740EEB61CF901F6004384FC.sh
(1 failure)
##[error]Error: /usr/

[2019-07-12 10:52] Jamminroot commented on #701
Hey, @v2Nitesh, thanks for getting in touch - can you elaborate a bit, and provide some context about what is going on?
From what you provided it is quite troublesome to understand the problem.

[2019-07-12 11:28] hengsoheak commented on #95
I got the same issue when install 1.6
but it work fine on 1.5

[code]

[2019-07-12 11:49] lumaxis commented on #700
Let's keep this open while @DennisPan and team are working on a fix for the issue with initial app builds but continue the conversation about the Flutter issue in #701 👍🏼

[2019-07-12 11:57] v2Nitesh commented on #701
No This is not the same problem. Both are diffrent.

https://github.com/microsoft/appcenter/issues/700
https://github.com/microsoft/appcenter/issues/701

[2019-07-12 12:00] v2Nitesh commented on #700
Hi Team,

Thank you for your quick response.

--
Thanks and Regards,
Nitesh Meshram
V2Solutions | The Next Level of Innovation
o : +91 22 4153 0200 x.415
m : +91 8319014326

From: Lukas Spieß <notifications@github.com>
Reply-To: microsoft/appcenter <reply@reply.github.com>
Date: Friday, 12 July 2019 at 5:23 PM
To: microsoft/appcenter <appcenter@noreply.github.com>
Cc: Nitesh Meshram <nitesh.meshra

[2019-07-12 12:01] nrajpurkar commented on #701
@v2Nitesh thanks for opening the bug, we'll take a look at this. As an FYI, App Center Build does not officially support Flutter today.

[2019-07-12 12:21] muhaym commented on #194
Need for Xamarin too

[2019-07-12 12:41] jonstoneman commented on #479
There is now a pre-release version of UITest which changes the behaviour of screenshot creation: https://www.nuget.org/packages/Xamarin.UITest/3.0.1-dev1

Screenshots are saved to the current directory by default but falls back to the directory that `Xamarin.UITest.dll` is in, which is typically your `bin/Debug` or `bin/Release` directory.

Please try it and let us know if it fixes the problem for

[2019-07-12 13:44] DimaOrdenov commented on #479
So, I've tried two times with different configurations:
- w/o setting _System.IO.Directory.SetCurrentDirectory()_ I've got same error
https://monosnap.com/file/TUiWq6oatYjw2h2MzQRU9X7UdYt4Z4
It's trying to save in bin/Debug as you've said, but unsuccessfully
- w/ setting _System.IO.Directory.SetCurrentDirectory()_ to some common folder
`System.IO.Directory.SetCurrentDirectory(@"C:\Users\dmitry.ord

[2019-07-12 14:35] lumaxis commented on #543
For the time being, you can use the workaround of requesting the mobile website like in the screenshot below:

![image](https://user-images.githubusercontent.com/406937/61135958-f4d94080-a4c2-11e9-94c5-152adccf02c4.png)

[2019-07-12 15:17] Jamminroot commented on #275
Hey, @rjax871, this is a friendly ping to get an update on how you are doing - are you still facing the problem? Is there anything we can do for you?

[2019-07-12 16:07] arao-izo opened #702 "Cannot change date range in analytics for my app"
**What App Center service does this affect?**
HockeyApp 3.8.6

**Describe the bug**
The date range does not update when I select a range

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Crashes
2. click on bar graph
3. select any range

**Expected behavior**
Range automatically updates or updates upon refresh
**Screenshots**

<img width="1900" alt="Screen Shot 2019-07-12 at 12 04 25 PM"

[2019-07-13 06:26] vsanthanam commented on #202
Any updates on this at all? No status changes in the roadmap -- I really cannot migrate off of HockeyApp without this... I would imagine this is not uncommon for a lot of macOS devs.

[2019-07-13 14:27] hugodantas opened #703 "[QUESTION] Recover keystore"
Hi guys!

Is there any way to recover the keystore configured on Android build?
I lost the keystore on my PC and there's only one place that keystore is saved is on AppCenter build configuration.

If I lose the KeyStore, I need to publish another app with another packagename and I can't do this.

Thank you so much.

[2019-07-13 18:48] charleycesar opened #704 "Metro from RN 0.60.0 warns that rnpm config is deprecated and will stop working in the next release"
warn The following packages use deprecated "rnpm" config that will stop working from next release:
  - appcenter: https://github.com/Microsoft/appcenter-sdk-react-native/blob/master/appcenter/README.md

[2019-07-14 08:10] jonstoneman commented on #479
Could you add code immediately before you call `Screenshot()` which creates files in `bin/Debug` and `C:\Users\dimitry.ordenov` please?

If your test is unable to create these files then you'll need to use another directory which your tests can write to or to run them in a way that they do have permissions.

[2019-07-14 15:15] vonovak opened #708 "Make overview page more useful"
hi! I have a piece of feedback - when I go to appcenter - url like https://appcenter.ms/orgs/org/apps/appName I'll land at overview page that contains "Getting started" instructions. It's also the page people get to upon tapping the app name in upper left part of screen.

After the set up is done, that page is pretty much useless and I think that 99.9% of people who go to that page immediately go

[2019-07-14 16:42] d-ocean opened #709 "SDK 2.1.0 Analytics - Unity Xcode bool max storage size error"
**What App Center service does this affect?**
2.1.0 Analytics

**Describe the bug**
Building from Unity to Xcode. When archiving; AppCenterStarter.m has 'bool' instead of 'BOOL' and is throwing an error (it is fine when building a local build to device). Fixing the 'typo' and saving will allow the archive/ipa to build successfully.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on Anal

[2019-07-15 06:15] #684 closed

[2019-07-15 06:43] findyam opened #710 "Upload dsym file did not create a release version"
**Describe the solution you'd like**
Upload dsym file should create a release version

**Describe alternatives you've considered**

**Additional context**
Upload a dsym file will create a new build in hockey,  but in appcenter not work.
We use fastlane hockey action upload the dsym file,  and it not working now.
we find the issue after replace hockey with appcenter
we need not the distribute featu

[2019-07-15 07:54] martelart commented on #491
How does your app use notifications?

- Alert the app user about some new data available in the app (when the user opens the app, the data refreshes and updates the UI)
- Deliver promotion or reminder to the user (marketing stuff)

How do you target notifications?

- Broadcasts (notify all devices)
- Specific devices
- Users

Finally, what additional features would you like to see in App Center Pu

[2019-07-15 08:47] RWOverdijk commented on #101
Hei! Any news on this?

[2019-07-15 08:55] derpixeldan commented on #230
The option to [move apps from HockeyApp to App Center](https://appcenter.ms/hockeyapp-transition-center) is generally available now ⛴

[2019-07-15 08:55] #230 closed

[2019-07-15 12:10] christopheph opened #711 "Distribution of unity standalone applications on window as .zip"
We would like to be able to distribute unity (or wathever type of standalone) applications on windows with as a .zip container.

**Additional context**
It is possible to upload a .zip file, but AppCenter does not recognize it because no versioning info is present .

[2019-07-15 12:48] joshuaclicks opened #712 "App Users' Location not comprehensive enough"
After making use of the rich telemetric features that AppCenter offer, I discovered that the Country of an App User was captured but details such as city, and county of the Country was not captured and for apps that are localized to a particular country, there will be the challenge of identifying where the different Users' are using the app from as the country will only be shown.

With the locatio

[2019-07-15 13:35] jwargo commented on #686
@jrahma have you worked through this with our support team? I’d rather support helps you resolve the issue before we classify this as a bug here.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [Ap

[2019-07-15 13:36] chrisumitratech commented on #453
@Oddj0b - I need to choose a long-term framework for UI Automation for Mobile and would ideally like to choose Appium in C# as this covers more products other than AppCenter.

Can you indicate when (Year and Quarter will suffice), you think this support might be added to AppCenter Test?

[2019-07-15 13:38] jwargo commented on #685
@jrahma Good suggestion, I’ll add it to the feature list. I’m looking forward to hear how many other customers would like to see this feature added.

[2019-07-15 13:44] lumaxis commented on #711
Thanks @christopheph ! This does sound similar to some of the other open issues we already have but I don't think any cover this flow specifically, and especially not for Unity.
I know @winnieli1208, @jphenow, et al were looking at a flow that let's you specific the version info manually. Maybe they can comment on this 🙂

[2019-07-15 15:02] skolesni commented on #673
Yes, please, this is required, especially in the Enterprise scenarios.

[2019-07-15 15:33] Oddj0b commented on #453
@chrisumitratech It's unfortunately too early to say when we can roll it out. In your case, I would choose Xamarin.UITest and integrate the calabash server into your app, Xamarin.UITest have the benefit of being both cross-platform and C#.

[2019-07-15 15:38] nrajpurkar commented on #101
Hi @RWOverdijk, no update on this feature request at the moment, but something we are still tracking as a feature request

[2019-07-15 15:42] Oddj0b commented on #213
Sorry for the lack of response. We're currently deep into creating support for Android Q, but we have logged the bug into our backlog. Unfortunately, I can't provide a time line right now.

[2019-07-15 15:46] Oddj0b commented on #340
Sorry to bring bad news, we still haven't made progress on this part. I will update when we know more.

[2019-07-15 15:52] Oddj0b commented on #499
@devedse Sorry for the slow response, this is what we have discovered so far:
- It's a surprise that some store connections have worked at all
- It appears that production connection never works as it is right now
- **You can use our APIs** to connect to stores instead of our CLI
- There is also an option of using our Fastlane plugin.

Again sorry for the inconvenience.

[2019-07-15 15:55] Oddj0b commented on #562
I have found your case and can see that you resolved it with Owen. If I have misunderstood, please re-open this issue.

[2019-07-15 15:55] #562 closed

[2019-07-15 15:58] winnieli1208 commented on #436
@sseyod can you start a chat in the blue chat bubble on the bottom left hand side of App Center and provide us your app's seller ID from Partner Center? The team would like this information to help troubleshoot. Feel free to link this GitHub thread and our support team will be able to triage the message appropriately. Thanks!

[2019-07-15 16:06] missy-bowles opened #713 "AppCenter.Crashes.TrackError hangs in unhandled exception handler"
**What App Center service does this affect?**
Diagnostics

**Describe the bug**
In the Android project for a Xamarin.Forms app, we created a handler for unhandled exceptions in MainActivity.cs:
`AppDomain.CurrentDomain.UnhandledException += CurrentDomainOnUnhandledException;`

In the handler we attempt to log the exception using `public static void TrackError (Exception exception, IDictionary<stri

[2019-07-15 16:40] mseyad commented on #161
Unfortunately we found a severe regression due to this change and were forced to revert :(. We likely won't be able to take a second look this week but hopefully will get some time next week to try and get this resolved. Sorry for the inconvenience this caused!

[2019-07-15 16:42] davichaves commented on #194
@dimazaid @Oddj0b any updates when this will come out of beta? my team is looking to use aab for play store but we need to know it will work first.

[2019-07-15 16:43] ngreeney commented on #230
@derpixeldan  This does not appear for me. I am an Admin for a "HockeyApp organization". Would the issue possibly be due to that? I can't find any way to move an app to App Center still.

[2019-07-15 16:47] hamswan commented on #709
@d-ocean Thanks for reporting, we will take a look at this.

[2019-07-15 17:37] sseyod commented on #436
Hi

Pete is on holiday now and will respond when he gets back.

Kind regards

Tim

[2019-07-15 18:34] jrahma opened #714 "AppCenterLog.Error (System.String p0, System.String p1)"
Hi,

Why I am getting this error and it crashes my app?

It works fine when I deploy the app on device or use emulator but it crashes when I uploaded it to Google Play

[2019-07-15 18:47] aismaniotto opened #715 "[DOUBT]It's possible to be notified when some error occurs?"
I would like to know if has some way to be notified about new errors by the webhook (on my case, using the slack). I only got it when the app crash, but I also need to know when getting some error.

I'm trying with `TrackError`.

Thanks a lot.

[2019-07-15 23:32] DennisPan commented on #700
@v2Nitesh The issue with very first build of an app has been fixed now. Let us know if you see anything else.

[2019-07-15 23:32] #700 closed

[2019-07-15 23:36] DennisPan commented on #657
@PrathyushaPeddakadiri Please reach out to support via App Center portal about this. We can collect more details of your app and build for a deeper look.

[2019-07-15 23:36] #657 closed

[2019-07-16 02:29] #520 closed

[2019-07-16 04:40] prollin commented on #159
@nrajpurkar if we already have an appcenter account, is it possible to connect to the github app to it? It looks like our only option is to create a new account currently.

[2019-07-16 05:58] RWOverdijk commented on #101
Thanks for the reply :)

[2019-07-16 07:16] prollin commented on #21
Another request. We are transitioning and existing app to AppCenter and being able to start from our current version number is absolutely necessary.

[2019-07-16 07:52] gianpaj opened #717 "Get notified/alerted when there's a high number of rollbacks in Codepush"
**Context on issue**
I realised after a few days that our last React Native CodePush build had an issue and was being rolled back. An important feature blocked users as they needed to be on the latest version.

**Describe the solution you'd like**
Would be good to be notified if a high number of rollbacks are happening and nobody is activating the last version of the app. Maybe if the number of ro

[2019-07-16 07:54] dtrabo commented on #624
Hi @galfonso777 !
This issue will be resolved in next release, please follow up to updates.
Thank you for using AppCenter!

[2019-07-16 07:54] #624 closed

[2019-07-16 08:30] devedse commented on #499
@Oddj0b,

I've been going through the API's a bit and don't quite understand what calls I have to make to be able to submit to the store.

Could you maybe share some guidance with me on what sequence of call to make to push a package to the store?

Or would it simply be this one?:

[code]

and if so, is the Intune block required?:
![image](https://user-images.githubusercontent.com/2350015/61278507

[2019-07-16 08:38] sapieneptus opened #718 "Ability to specify repo for Build by URL/ssh address"
**Describe the solution you'd like**

Would be nice if, instead of needing to wait for a potentially long list of repos to load and filter through them, we could just type/paste the git URL or ssh address.

**Describe alternatives you've considered**
The current solution (navigating the hierarchy) also works, but it'd be nice to have other options.

**Additional context**
_This is feedback from a

[2019-07-16 08:43] sapieneptus opened #719 "Android Studio integration to App Center Test"
**Describe the solution you'd like**
It would be great to be able to upload directly from Android Studio (etc.) to App Center Test. This allows a less interrupted experience if one is actively developing features/tests in an IDE and wants to submit them to run on real devices.

**Describe alternatives you've considered**
The only alternative is the CLI.

**Additional context**
_This is output from

[2019-07-16 10:08] Naishy opened #720 "Tests failing due to iOS 12.3.1 Update Popup"
**What App Center service does this affect?**
Test

**Describe the bug**
Modal popup notification for iOS 12.3.1 upgrade is appearing and blocking all tests.

**To Reproduce**
Run tests with AppCenter

**Expected behavior**
Update notifications to not be displayed or automatically dismissed.

**Screenshots**
![image](https://user-images.githubusercontent.com/1101674/61285786-78dc4280-a7b9-11e9-901

[2019-07-16 11:06] Forestbrook opened #721 "Change user language of sign in page with ui_locales option (Auth)"
Currently the sign in page can be translated to the customer's browser language by selecting
**Enable language customization** on the **Languages** tab of the **User Flow** in Azure AB B2C.

In our apps, the user can select another language than the device default language. We would like to be able to show the sign in page in the language selected by the user.

This should be possible in MSAL by s

[2019-07-16 12:27] Oddj0b commented on #194
@davichaves We're aiming for next week if everything goes according to the plan.

[2019-07-16 12:36] Oddj0b commented on #297
This is great feedback, thank you. I hope this will get enough attention so that we can start working on it.

[2019-07-16 12:48] Oddj0b commented on #535
@luwed We have created a bug on our backlog and will update here when there is progress.

[2019-07-16 12:50] Oddj0b commented on #574
@mzhukovs I like the idea, but it will be hard to achieve. If we can get more reactions it's more likely to be picked-up.

[2019-07-16 13:01] ishantsagar commented on #194
@Oddj0b We're too are waiting eagerly for it.

[2019-07-16 13:20] ishantsagar commented on #194
@Oddj0b Can I be able to upload **.aab** file to appcenter after this gets done. I am just asking about uploading aab to appcenter(from where I can download the .aab) not asking for dynamic **.apk** delivery to end user mobile from appcenter(Hockey) mobile app.

[2019-07-16 13:28] curia-damiano commented on #574
Hi Villars, I would also like to give my support to this proposal!

[2019-07-16 14:16] rbanker commented on #230
@derpixeldan We are not seeing the 'Move Apps' option either.  I've created a new organization in App Center, but looking at 'Overview' for any of our HockeyApp apps, I do not see of the options listed at the beginning of this ticket.

[2019-07-16 14:31] rfree18 commented on #230
@derpixeldan I saw the option to move apps briefly yesterday, but it seems to be gone today. Was this rolled back for some reason?

[2019-07-16 14:55] yuewah commented on #194
upload and download .aab only, not necessary install its apk for end user device.

[2019-07-16 16:26] jsifalda opened #722 "Distribution of new app versions is not working"
**What App Center service does this affect?**
AppCenter releases distribution

**Describe the bug**
AppCenter (not either HockeyApp ) is not showing my new app builds. It stopped working on the end of last week. When I choce new build #33 to distribute among testers, it is not updating the records. It still shows last successfully distributed build #32.

**To Reproduce**
![CleanShot 2019-07-16 at

[2019-07-16 17:05] #668 closed

[2019-07-16 17:14] amchew commented on #721
Hey @Forestbrook, thanks for using Auth!

Would you mind sharing a little more about your use case, and what are the key languages used by your apps? Also, would love to get your feedback on how the Auth experience is going for you. If you're keen to chat, please email me at amchew [at] microsoft [dot] com.

[2019-07-16 17:29] hamswan commented on #712
Thanks @joshuaclicks for requesting this. Added this to feature request.

[2019-07-16 17:35] hamswan commented on #704
Thanks @charleycesar for reporting this, we will look into this.

[2019-07-16 17:38] hamswan commented on #697
@dinobu Is this resolved on your side?

[2019-07-16 17:41] hamswan commented on #714
@jrahma our team will look at this

[2019-07-16 18:48] kpiteira commented on #663
Please provide more details. Closing this for now.

[2019-07-16 18:48] #663 closed

[2019-07-16 18:57] jeromelaban opened #723 "[Xamarin.UITest] Error: ConnectFailure (Invalid arguments)"
**What App Center service does this affect?**
Xamarin.UITest

**Describe the bug**
When running a UITest, the following error happens, randomly, while others tests in the same test class pass:

[code]

**To Reproduce**
No specific repro on how to get this.

The only part is the app is started as AttachToApp

**Expected behavior**
There should be no exception, since other tests pass a the same time

[2019-07-16 19:18] warrendodsworth opened #724 "Database doesn't show up - at all"
**What App Center service does this affect?**
Name of service or sdk with the issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2019-07-16 19:32] patniko commented on #724
Hi @warrendodsworth, mind elaborating a bit more so we have better context?

[2019-07-16 21:26] hegra opened #725 "iOS automatic manage devices fails"
**What App Center service does this affect?**
Automatically manage devices (ios)

**Describe the bug**
Enabling automatically manage devices and trying to upload p12 certificate says incorrect password. The upload of the same p12 file and password in the automatic signing for the build process works.

**To Reproduce**
Steps to reproduce the behavior:
0. Go to distribute/group/settings
1. Enable au

[2019-07-16 22:55] mikewoodworth opened #726 "Crash Report device string doesn't match crash report"
**What App Center service does this affect?**
Diagnostics

**Describe the bug**
Crash reports from this machine are being tagged with the wrong device name in the report header:

<img width="488" alt="Screen Shot 2019-07-16 at 3 54 36 PM" src="https://user-images.githubusercontent.com/208050/61335346-0cc20480-a7e2-11e9-872d-d7c11b1be61a.png">

However in the Raw Report:
Hardware Model:      MacBoo

[2019-07-17 02:38] alexthekid07 opened #727 "Handle orphaned Install IDs"
It would be nice to have a method of knowing when an Install ID is expired or invalid upon sending.

A common scenario:
1. User "logs in"
2. You store the Install ID in a database
3. You send a push notification to a list of Install IDs
4. User uninstalls the app suddenly (without "logging out")
5. You now have an orphaned Install ID in your database

As it stands, since we're responsible for keep

[2019-07-17 02:40] nrajpurkar commented on #159
@prollin you can connect the GitHub app to your existing App Center account, but not to existing apps

[2019-07-17 03:03] winnieli1208 commented on #667
Thanks for the feature request! We don't have immediate plans to address add support for BitBucket but I'll keep the issue open to track interest. We understand this is an important feature and I'll post here if I have any updates.

[2019-07-17 03:07] winnieli1208 commented on #687
@GusevAndrey thanks for the request. We understand this is a major limitation and I've added this feature to our roadmap. I don't have an ETA at the moment but I will update this thread as soon as I have a clearer timeline.

Thanks for your patience!

[2019-07-17 03:14] winnieli1208 commented on #698
Hi @NunoBem - thanks for the feature request. App Center diagnostics only supports deobfuscation with the ProGuard at the moment. We don't have immediate plans to support D8/R8 but I will monitor this request for interest.

(Note: similar request #458)

[2019-07-17 03:16] winnieli1208 commented on #713
Hi @missy-bowles - thanks for the detailed bug report. Do you mind starting a conversation in the blue chat bubble on the bottom left? This will allow our support and engineering teams to take a closer look for you.

Thanks!

[2019-07-17 03:21] winnieli1208 commented on #715
Hi @aismaniotto - are you referring to unhandled errors (crashes) or handled errors?

We support [webhooks](https://docs.microsoft.com/en-us/appcenter/dashboard/webhooks/) and [e-mail notifications](https://docs.microsoft.com/en-us/appcenter/dashboard/email-notifications/) so you can get notified when a crash occurs. You can also use our [Slack app](https://docs.microsoft.com/en-us/appcenter/dashb

[2019-07-17 03:24] winnieli1208 commented on #702
@arao-izo thanks for opening a bug. Our team will take a look at this and get back to you shortly.

[2019-07-17 03:35] aismaniotto commented on #715
Uhmm, ok. That's answer my question. Maybe you have some ideia if has some prediction to handled errors feature?

[2019-07-17 05:21] mzhukovs commented on #574
@Oddj0b well then it's times like these that I wish I had a blog/twitter account with a mass following of other like-minded geeks.

[2019-07-17 05:54] WebDucer opened #728 "[Feature] GitLab (on perm) as source code service"
**Describe the solution you'd like**
Currently only the GitLab.com is planed. We need the support of on permise installations of GitLab as a source code service in App Center to be able to use AppCenter for builds and not only distribution / crash reporting.

**Describe alternatives you've considered**
No alternatives

**Additional context**
There is already a feature request (#24) to use GitLab (

[2019-07-17 07:19] derpixeldan commented on #702
@arao-izo it's not reproducible for me, please reach out to us in support so we can better investigate the issue. Provide the information what system and browser this is happening on.

[2019-07-17 07:33] tomh4 commented on #628
Any updates on this ?
We tried working with public links, but this does still not allow in app updates when sideloaded, even if no login is necessary...

[2019-07-17 07:39] ferdicus opened #729 "[Feature](codepush): ability to delete/ remove releases"
**Describe the solution you'd like**
We currently amassed quite a number of releases on our codepush releases page.
It would be nice to trim that list as older releases are obsolete.

**Describe alternatives you've considered**
Filter options on `/distribute/code-push` to show only releases that are targeting specific version or something similar would already help a lot to mitigate the issue.

[2019-07-17 07:43] annakocheshkova commented on #704
Hey @charleycesar we are working on the RN 0.60 support and it is planned in our July SDK release. Thank you for the patience!

[2019-07-17 08:00] msifniotis-bbc commented on #230
@derpixeldan Could you confirm please whether GDPR compliance step is also resolved?

[2019-07-17 08:38] tkm-hc-suhas commented on #560
<img width="400" alt="1" src="https://user-images.githubusercontent.com/52993441/61360467-1e67e280-a89c-11e9-9776-ee8b0522e616.png">

Current error.

[2019-07-17 09:59] Forestbrook commented on #721
In smaller countries (like in my case The Netherlands) a lot of people do not set the default language to their own language. For several reasons, e.g. because they don’t like English websites to be translated automatically, or just because the phone is delivered with another default language.

But when they install an app which supports their home language, like our apps do, they switch to their

[2019-07-17 10:39] smithaaron commented on #363
I would also like this.

[2019-07-17 10:59] alexmanie commented on #230
same here :(

[2019-07-17 11:33] nrajpurkar commented on #728
Thanks @WebDucer, this is related to #37 and something we are tracking for the future.

[2019-07-17 11:37] DimaOrdenov commented on #479
@jonstoneman
Here is how I initialize app:
[code]

Here is my set-up and test-method:
[code]

[2019-07-17 11:38] DimaOrdenov commented on #479
@jonstoneman
Here is how I initialize app:
[code]

Here is my set-up and test-method:
[code]

[2019-07-17 11:41] nrajpurkar commented on #83
@philjoseph no update from our side on this at the moment

[2019-07-17 11:57] nrajpurkar commented on #423
@sasivishnu Hi there, no update on this from our side but we will continue to track this as a potential feature

[2019-07-17 11:57] smithaaron opened #731 "Android devices should have system animations disabled"
**What App Center service does this affect?**
Espresso Test runs

**Describe the bug**
Device animations are not disabled

**To Reproduce**
Steps to reproduce the behavior:
Run espresso tests

**Expected behavior**
Tests that pass locally should pass on App Center

**Additional context**
As per [Espresso setup instructions](https://developer.android.com/training/testing/espresso/setup) all device

[2019-07-17 12:10] torycl opened #732 "'Electron Framework' in stack is never symbolicated"
**What App Center service does this affect?**
macOS crash dump symbolication in app center diagnostics

**Describe the bug**
There is native crash which contains 'Electron Framework' in the stack. Lines with 'Electron Framework' are never symbolicated even if correct dSYM bundle with symbols is uploaded.

**To Reproduce**
1. Find a native crash which contains some lines with 'Electron Framework'
2

[2019-07-17 12:20] jonstoneman commented on #479
We just need to confirm that the test really does have permission to create files in either `bin/Debug` and in `C:\Users\dimitry.ordenov`. Could you add some code to `TestTakeScreenshot()` (before the call to `_app.Screenshot()`) which creates new files in those locations please? Just a file named `dummy.txt` containing `"Success"` would do.

[2019-07-17 12:46] DimaOrdenov commented on #479
@jonstoneman Got you
This one creates **test_file.txt** in `C:\Users\dimitry.ordenov`  if I am setting System.IO.Directory.SetCurrentDirectory(@"C:\Users\dmitry.ordenov") :
[code]

And another one (w/o setting current directory) creates test_file.txt in Debug folder:
[code]

[2019-07-17 13:01] fabiodamasceno commented on #453
Sorry for being late here, can we make this call still?

[2019-07-17 13:25] jonstoneman commented on #479
Those look good - what happens when you run them? Does it successfully create the files and then still throw and Exception at `_app.Screenshot("Test_Screenshot")`?

[2019-07-17 13:39] MisterJimson commented on #99
One reason is distributing outside of the Play Store, like in China. No AAB support there, but we should have the option of doing both fat APKs and split APKs.

[2019-07-17 13:51] DimaOrdenov commented on #479
@jonstoneman
Yep, *.txt files crates successfully, which cannot be said about screenshots.

[2019-07-17 14:03] LaloCo commented on #634
I was really hoping this would include #398 😢

[2019-07-17 14:15] russelarms commented on #714
@jrahma could you please specify platform and the SDK version you are using?

[2019-07-17 14:40] derpixeldan commented on #230
Apologize for the radio silence, there was a huge rush on Monday and an API was getting slow causing timeouts. It wasn't a big deal and we limited the audience while fixing the issue. Long story short the fix influences the states in the UI and we're working on resolving that last piece before opening the gates again.

@msifniotis-bbc yes!

[2019-07-17 14:57] jterhorst opened #733 "Display user(s) affected for a given crash"
**Describe the solution you'd like**
When viewing crash reports, our QA and staff engineers would like to be able to see the affected users for that crash, or the user for each crash report. We're able to search by user to find their crashes, but that info isn't clearly visible when viewing a crash from the Diagnostics section. This is an important part of the QA process when we work with our supp

[2019-07-17 15:28] udayvalluri opened #734 "Tags in Hockey app are missing in AppCenter"
Hokckey app allows me to create new tags and tag them to a group of similar apps which will help to filter the apps while I am seeing a big list. In my case we use multiple apps for multiple releases. So I want to filter the apps based on the release that I am currently in and the old release. Just filtering using the platform doesn't help in this situation.

Please include this feature in AppCent

[2019-07-17 15:49] bo3po opened #735 "AppCenter : Streamline Push Setup And Placement"
**Describe the solution you'd like**
Regarding push and layout structure in AppCenter. In AppCenter there should only be one app displayed. Not one for each platform. That is confusing. A app name "MyAwsomeApp" and underneath there should be all the platforms apps. Push should be pr platform. It should be possible to have multiple hubs foreach platform. In iOS there are typical two certificates. P

[2019-07-17 15:59] derpixeldan commented on #683
@kayvonkamyar thanks for bringing it up, it's not something which we will support on App Center until the shutdown. Can you please elaborate your use case?

[2019-07-17 16:06] derpixeldan commented on #568
@aolszowka sorry for the delay. We're aware that the App Center API isn't ideal. How to use it is documented [here](https://docs.microsoft.com/en-us/appcenter/distribution/uploading#uploading-using-the-apis). Please let me know if that helps. We're currently also exploring options to use a similar API design HockeyApp has for App Center.

[2019-07-17 16:07] #356 closed

[2019-07-17 16:10] derpixeldan commented on #626
Closing as this is by design, we don't synchronize the download numbers. It requires to use App Center infrastructure to count the downloads.

[2019-07-17 16:10] #626 closed

[2019-07-17 16:23] shidem opened #736 "Make version info and release notes available for apps submitted via HockeyApp"
I was invited to a HockeyApp project, which I accepted. I then noticed that build artifacts were available to me in AppCenter (great!) and I can install from AppCenter.

Unfortunately, AppCenter does not provide build version info or release notes. I can only get those from the HockeyApp site. I would like this info available in AppCenter.

[2019-07-17 17:28] thomhubers opened #737 "We couldn’t find any Xamarin Android projects in your branch."
This issue is related to https://github.com/microsoft/appcenter/issues/379, but since that one was redirected to support it isn't resolved.

While using App Center Build tools, no configuration could be made because: "We couldn’t find any Xamarin Android projects in your branch."

Our solution lives at a deeper level `/x/y/z.sln` in a bit bigger repository. I'd suspect to be able to tell the tool

[2019-07-17 17:54] #724 closed

[2019-07-17 18:18] jingweihaha opened #738 "App Center is not able to create Keystore file online"
I have Xamarin forms APPs in App Center, App Center currently is not able to create a Keystore file online, I have to generate one locally and upload it. Is it possible to make it happens on App Center?